{% block pagenewcss %}
{% endblock %}
{% block pagenewjs %}
{% endblock %}
{% block body %}
    <section>
        <div class="cotent container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h1 class="page_title paddingleft23">
                    {{'Welcome '|trans}} {{fullname}}!
                </h1>
            </div>
        </div>
    </section>
{% endblock %}
