/app/bootstrap.php.cache
/media
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/phpunit.xml
/bin/
/composer.phar
/composer.lock
/composer.json
.buildpath
.project
/vendor
/web/bundles/
/cache/
/.git/
/nbproject/
.metadata/
**/*.log
**/*.pid
/ffmpeg
/node_modules
**/images
web/generated/*
!.keep
/web/social/sitemap
/.settings/
.DS_Store
/background_jobs/sabre/workspace/.recommenders
/background_jobs/sabre/workspace/RemoteSystemsTempFiles
/.idea/
web/i18n/*/LC_MESSAGES/*.txt
web/i18n/*/LC_MESSAGES/*.csv
web/i18n/*/LC_MESSAGES/tt.*o
web/i18n/*/LC_MESSAGES/tt_1_*.*o
web/i18n/merge
*.po
web/social/inc/sandbox_config.php
