.bag_search_bar {
	background: #edecec;
	margin: 1px 0;
	padding: 5px 0;
	display: block;
}
.bag-search {
	display: inline-block;
	padding: 0px;
	margin-right: 10px;
	position: relative
}
.bag-search .input-search {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	color: #111;
	height: 24px;
	padding: 2px 20px 2px 30px;
	position: relative;
	width: 178px;
}
.bag-search .i-search-crose {
	background-position: -58px -26px;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	left: 204px;
	position: absolute;
	text-indent: -9999px;
	top: 6px;
	width: 20px;
	z-index: 10;
}
.bag-search .i-search-map {
	background-position: 0 -1px;
	display: inline-block;
	height: 28px;
	position: absolute;
	text-indent: -9999px;
	width: 28px;
	z-index: 10;
}
.bag-search .i-search-mgf {
	background-position: -28px -1px;
	display: inline-block;
	height: 28px;
	position: absolute;
	text-indent: -9999px;
	width: 28px;
	z-index: 10;
}
.bag-search .search-btn {
	background: #eac31a none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	font-size: 10px;
	font-weight:bold;
	height: 28px;
	padding: 2px;
	text-align: center;
	text-transform: uppercase;
	width: 72px;
	cursor: pointer
}
.bag_tt_box {
	margin: 1px 0;
	padding: 5px 0;
	display: block;
}
.tt-bag-destination {
	width: 288px;
	margin-top: 50px;
	display: block;
	position: relative;
}
.tt-bag-destination .tt-div {
	display: block;
	margin: 0;
	padding: 0;
}
.tt-bag-txt {
    display: block;
    color: #eac31a;
    float: left;
    text-transform: uppercase;
    font-weight:bold;
}
.tt-bag-txt .lrg {
    font-size: 25px;
    display: block;
}
.tt-bag-txt .xtlrg {
    clear: both;
    font-size: 35px;
    display: block;
}
.tt-bag-count {
	float: right;
	height: 48px;
	width: 100px;
        position: relative;
}
.tt-bag-count .tt-bag-num {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	border-radius: 40px;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight:bold;
	height: 40px;
	padding: 14px 0 0;
	position: absolute;
	right: 2px;
	text-align: center;
	top: -16px;
	width: 56px;
}
.tt-bag-count .tt-bag {
	background-position: -92px 0;
	display: block;
	height: 44px;
	width: 50px;
}
.tt-bag-destination .tt-destination {
	height: 28px;
	margin-top: 2px;
	width: 100%;
        font-size: 14px;
        color: #000000;
        font-style: italic;
    font-family:Arial;
}
.hr-line {
	margin: 10px 0;
	border: none;
	height: 4px;
	background: none;
	width: 100%;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}
.tt-destination-text {
	background: #111 none repeat scroll 0 0;
	clear: both;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	margin: 15px 0;
	padding: 2px 4px;
	position: relative;
}
.tt-destination-text .stc-txt {
	font-style: italic;
	display: inline-block;
}
.tt-destination-text .dymc-txt {
    display: inline-block;
    font-size: 15px;
}
.tt-links .tt-links_img{
    background: url("../images/arrow-bullet.png") no-repeat left center;	
    width: 18px;
    height: 20px;
    float: left;
}
.tt-links .tt-links_a {
    color: #111;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.tt-links .tt-links_a:hover {
    color: #eac31a;
}
.section_group.tt-links{
    margin-top: 2px;
    margin-bottom: 9px;
}
.section_group_col1.menu-bag {
    background: #d9d9d9;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 22px;
    font-weight:bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px 4px #3c3c3c;
    text-transform: uppercase;
    overflow: hidden;
    font-family: calibri;
}
.section_group_col1.menu-bag:hover, .section_group_col1.menu-bag.active {
	background: #eac31a
}
.showOnMap.showmap {
    background: #ededed none repeat scroll 0 0;
    color: #222;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight:bold;
    text-shadow: 0 2px 4px #3c3c3c;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-family: calibri;
}
.showOnMap.showmap span {
    line-height: 40px;
    text-align: center;
}
.showOnMap.showmap .share_cnt {
    text-align: center;
}
.showOnMap.showmap:hover {
	background: #eac31a
}
.showOnMap.showmap .i-showmap {	
    height: 34px;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 30px;
}
.showOnMap.showmap .showmap_txt {	
    height: 40px;
    line-height: 40px;
    padding-left: 33px;
    text-align: center;
}
.section_group_col1 .block {
	display: block;
}
.section_group_col1 .img_box {
	position: relative;
	width: 100%;
	height: 134px;
}
.tt-bag-type {
    display: block;
    height: 49px;
    left: 9px;
    top: 9px;
    position: absolute;
    width: 49px;
}
.section_group_col1 .img_descp {
	position: relative;
	background: #191919;
	width: 100%;
	height: 80px;
	overflow: hidden;
}
.section_group_col1 .img_descp .i-close {
	background-position: -61px -4px;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 2px;
	text-indent: -9999px;
	top: 2px;
	width: 16px;
	z-index: 10;
        cursor: pointer;
}
.section_group_col1 .img_descp .heading {
	color: #fff;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 8px 18px 0 6px;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
}
.section_group_col1 .img_descp .para {
	color: #fff;
	font-size: 11px;
	line-height: 15px;
	margin: 0;
	padding: 4px;
	text-align: left;
	width: auto;
}
.section_group_col1 .img_descp .para .i-map {
	background-position: 0 0;
	display: inline-block;
	height: 28px;
	position: relative;
	text-indent: -9999px;
	vertical-align: top;
	width: 28px;
	z-index: 10;
}
.section_group_col1 .img_descp .para .adss-txt {
	display: inline-block;
	vertical-align: top;
	width: 248px;
	word-wrap: break-word;
}
.bag_image{
    width: 100%;
    height: 134px;
    overflow: hidden;
}
.bag-image{
    min-width: 100%;
    min-height: 100%;
}