
/*-------------> Images */
img
{
    border:none;
}

/* anchor list */
ul.anchor_list
{
    margin-bottom:40px;
}

ul.anchor_list li
{
    display:inline;
    padding-right:20px;
    font-size:0.92em;
}

ul.anchor_list li a
{
    
}

/* bullet list */
ul.bullet_list
{
    list-style-type:disc;
    margin:0 0 15px 15px;
    padding:0 0 10px 0;    
}


/*-------------> BAROUSEL */
.barousel
{
    position:relative;
	margin-top: 5px;
    margin-bottom:0px;
    border-top:3px solid #000;
}

.barousel_image
{
    position:absolute;
    z-index:10;
    width: inherit;
	background-color: black;
	/*text-align: center;
	vertical-align: middle;*/
    height:375px;
}

.barousel_image img
{
    /*position:absolute;*/
    display:none;
}

.barousel_image img.default
{    
    display:block;
}

.barousel_image img.current
{
    z-index:10;
}

.barousel_image img.previous
{
    z-index:5;
}

.barousel_content
{
    position:absolute;
    z-index:50;
    background: url(../images/barousel/bg_barousel_content.png) repeat 0 0;
    color:#fff;
    width:247px;
    /*padding:15px 18px 0 18px;*/
    /*bottom:36px;*/
    left:10px;
}

.barousel_content div
{
	background-color: grey;
	opacity:0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
    display:none;
	top: 5px;
	position: relative;
}

.barousel_content div.default
{
    display:block;    
}

.barousel_content p
{
    font-size:13px;
    font-weight:normal; 
	margin: 0px;
    /*line-height:17px;*/
}

.barousel_content p.header
{
    font-size:28px;
    font-weight:normal;
    /*line-height:28px;*/
    color:#fff55b;
}

.barousel_content a,
.barousel_content a:hover
{
    color:#fff55b;
    background-color:transparent !important;
}

.barousel_nav
{
    position:absolute;
    padding:3px 3px 0px 0;
    height:23px;    
    background:#000;
    bottom:0;
    z-index:20;
    width:497px;
}

.barousel_nav .counter
{    
    float:right;
    font-size:0.75em;
    color:#fff;
    margin:3px 5px 0 0;
}

.barousel_nav ul
{
    float:right;
    padding:0;
    margin:0;
}

.barousel_nav li
{
    float:left;
    padding-left:3px;
    font-size:0;
    line-height:0;
    list-style:none;
}

.barousel_nav li a
{
    display:block;
    width:25px;
    height:20px;
    background-color:#4d4d4d;
    font-size:0;
    line-height:0;
    text-decoration:none;
}

.barousel_nav li a:hover
{
    background-color:#6e6e6e;
}

.barousel_nav li a.current
{
    background-color:#fff55b;
}

.barousel_nav li.prev a
{
    background-image:url(../images/barousel/barousel_link_previous.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.barousel_nav li.next a
{
    background-image:url(../images/barousel/barousel_link_next.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.barousel img.ajax_loader
{
    display:none;
    position:absolute;
    z-index:99;
    top:70px;
    left:135px;
}

/*-------------> THSLIDE */
.thslide
{    
    background:#000;
    width:inherit;
    height:88px;
    border-top:3px solid #000;
}

.thslide_nav_previous
{
    float:left;    
}

.thslide_nav_next
{
    float:right;    
}

.thslide_nav_previous a,
.thslide_nav_next a
{
    display:block;
    width:19px;
    height:88px;
    text-decoration:none;  
    background-color:#4d4d4d;
    background-repeat:no-repeat;
}

.thslide_nav_previous a
{
    background-image:url(../images/barousel/barousel_link_previous.gif);    
    background-position: -3px 35px;
}

.thslide_nav_next a
{
    background-image:url(../images/barousel/barousel_link_next.gif);    
    background-position: -3px 35px;
}

.thslide_nav_previous a:hover,
.thslide_nav_next a:hover
{
    background-color:#6e6e6e;
}

.thslide_list
{
    float:left;
    overflow:hidden;   
    position:relative; 
    width: 659px;
    height:88px;    
}

.thslide_list ul
{
    float:left;
    width:9000px;
    padding:0;
    margin:0;
    list-style:none;
}

.thslide_list li
{
    float:left;
    margin-right:3px;
}

.thslide_list li a
{
    display:block;
    position:relative;
    width:160px;
    height:88px;    
    text-decoration:none;
}

.thslide_list li a img
{
    position:absolute;
}

.thslide_list li a span
{
    position:absolute;
    display:block;
    width:154px;
    height:83px;    
}

.thslide_list li a:hover span,
.thslide_list li a.current span
{    
    border:3px solid #fff55b;
}

/* Specific implementation */
#barousel_thslide
{
    height:466px;
	width: 697px;
}

#thslide_barousel_nav
{
    position:absolute;
    bottom:0;
}

/*--------------------------------------------------=> CONTENT LAYOUT */
/* unique */

/* utilities */
.column_half_left
{
    float: left;
    width: 48.5%;
}

.column_half_right
{
    float: right;
    width: 48.5%;
}

.column_third
{
    float: left;
    width: 32.1%;
}

.column_fourth
{
    float: left;
    width: 25%;
}

.column_last
{
    padding-right: 0 !important;
}

/*--------------------------------------------------=> MASTER LAYOUT */
.page
{
    width:530px;    
    background-color:#ccc;
    margin:0 3px 3px 0;
}

#nav
{
	position:fixed;
	top:3px;
	left:537px;
	width:250px;
}

#nav li
{	
	font-size:0.88em;
	font-weight:bold;
}

#nav li a
{
	display:block;	
	text-decoration:none;
	padding:7px 10px;
}

#nav li a:hover
{
	background-color:#000;
	color:#fff;
}

#nav_barousel
{
	background-color:#fff55b;
}
    
#nav_thslide
{
    background-color:#6ec1dd;
}

#nav_barouselthslide
{
    background-color:#8ae04e;
}

#footer
{
	margin:10px 5px 0 5px;
}

/*--------------------------------------------------=> UTILITY CLASSES */
.floatLeft
{
    float: left;
}

.floatRight
{
    float: right;
}

.halfwidth
{
    float: left;
    width: 50%;
}

.halfwidth_right
{
    float: right;
    width: 50%;
}

.thirdwidth
{
    float: left;
    width: 33%;
    padding: 3px 0 10px 0;
}

.nodisplay
{
    display: none;
}

.nopadding_top
{
    padding-top: 0;
}

.nopadding_bottom
{
    padding-bottom: 0;
}

.nopadding_vertical
{
    padding-top: 0;
    padding-bottom: 0;
}

.clearmargin
{
    margin: 0;
    padding: 0;
}

.clearer
{
    clear: both;
    height: 0;
    padding: 0;
    margin: 0;
    font-size:0;
    line-height:0;
}

.spacer
{
    clear: both;
    height: 25px;
    padding: 0;
    margin: 0;
}