#MiddleChannel {
    float: left;
    height: auto;
    min-height: 1080px;
    position: relative;
    width: 100%;
}

#ChannelContainer {
    height: auto;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    width: 1023px;
    z-index: 99;
}

.event_location_detailed {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 41px 28px 7px;
    position: relative;
    text-align: justify;
    width: 425px;
}
.event_googlemap {
	position:relative;
    float: left;
	display:block;
    width: 421px;
    height: 250px;
	margin-left:28px;
	margin-bottom:42px;
}
#other_channels_slider {
    height: 45px;
    left: 0px;
    margin: 0 auto;
    position: absolute;
    top: 1px;
    width: 45px;
    z-index: 100;
}

#edit_eventtitle_container{
	position:absolute;
	display:none;
	width:331px;	
	height:72px;
	z-index:12;
	top:12px;
	left:102px;
	background-color:#FFFFFF;	
}

.seperator_button1 {
	position:relative;
	width:2px;
    display: block;
    height: 9px;
	float:left;
    background: url("../images/upload_list_seperator.jpg") no-repeat scroll 0 0 transparent;
	margin-left:7px;
	margin-right:7px;
	margin-top:6px;
}

#MainChannelContainer {
    background: url("../images/eventsdetailed/bg-main.png") repeat-y scroll 0 0 transparent;
    float: left;
    margin-top: 2px;
    min-height: 750px;
    position: relative;
    width: 1023px;
    z-index: 99;
}
/* Content Left */
#EventsDetailedRight{
	color: #727272;
	background-color:#2a2a2a;
	float: right;
	font-size: 11px;
	height: auto;
	position: relative;
	width: 221px;
	margin-right: 0px !important;
	min-height:750px;
	padding-bottom: 40px;
}
.ed_RightTop{
	background-color:#383838;
	padding-top:11px;
}
.ed_Arrow{
	background-image: url("../images/eventsdetailed/e_arrow.png");
	background-repeat:no-repeat;
	margin:0px 14px 0px 0px;
	float:right;
	width:7px;
	height:4px;
	cursor:pointer;
}
.ed_List{
	background-color:#3E3E3E;
	list-style-type:none;
	margin-top:5px;
	margin-right:9px;
	position:absolute;
	right:0px;
	padding:0px;
	float:right;
	display:none;
        z-index: 5;
}
.ed_List li{
	padding:8px 5px;
	color:#B4B4B4;
}
.ed_List li:hover{
	background-color:#2F2F2F;
	cursor:pointer;
	color:#FFFFFF;
}

.ed_LeftContent{
	margin-top:12px;
	text-align:center;
}
.ed_ChannelName{
	color:#efefef;
	font-size:14px;
	font-weight:bold;
	margin-top:12px;
}
.ed_ChannelNumbers{
	color:#efefef;
	font-weight:bold;
	margin-top:57px;
	padding-bottom:15px;
}
.ed_ChannelNumbers span{
	color:#eac31a;
	
}
.ed_Line1{
	width:221px;
	height:1px;
	background-color:#4e4e4e;
}
.ed_Line2{
	width:221px;
	height:1px;
	background-color:#424242;
}

.ed_Invite{
	width:auto;
	font-weight:bold;
	color:#eac31a;
	padding-left:12px;
	padding-top:12px;
	padding-bottom:8px;
	cursor:pointer;
}

.inviteplus{
	position:relative;
	float:left;
	width:12px;
	height:12px;	
	margin-top:-21px;
	margin-left:120px;
	cursor:pointer;
}

.ed_CalendarTitle{
	font-weight:bold;
	color:#e9c21b;
	margin-top:25px;
	margin-left:12px;
}
.DynarchCalendar{
    border: 0px solid #AAAAAA !important;
	box-shadow: 1px 1px 4px 1px #000000;
	margin-left:11px;
}

/* Left Invited */
.ed_BoxSeparate{
	float: left;
    height: 5px;
    margin-left: 9px;
    margin-top: 19px;
    position: relative;
    width: 203px;
}
.ed_BoxSeparate div{
	width:203px;
	height:1px;
}
.ed_BoxSeparate1{
	background-color:#484848;
}
.ed_BoxSeparate2{
	background-color:#3b3b3b;
}
.ed_BoxSeparate3{
	background-color:#2a2a2a;
}
/* Invited Box */
.ed_RightInvited{
	position: relative;
	float: left;
	display: block;
    margin-top: 7px;
    padding: 6px 6px 0px 9px;
    width: 206px;
}
.ed_InvitedNum{
	color: #E9C21B;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 8px;
    position: relative;
    width: 100%;
}
.ed_InvitedFriendBox{
	position:relative;
	float:left;
	width:199px;
	height:37px;
	border-bottom:solid 1px #373737;
	padding-top:7px;
}
.ed_InvitedFriendBox img{
	float:left;
}
.ed_InvitedName, .ed_InvitedName_minus{
	color:#afafaf;
	font-size:11px;
	margin-left:4px;
	width:154px;
	float:left;
}

.ed_InvitedName_minus{
	color:#6b6b6b;
}

.ed_InvitedAddFriend{
	position:absolute;
	float:left;
	color:#737373;
	font-size:10px;
	left:27px;
	bottom:2px;
	width:170px;
	text-align:right;
	display:none;
}

.ed_InviteViewAll{
	position: relative;
	display: block;
    float: left;
	color: #AFAFAF;
    font-size: 11px;
    font-style: italic;
    height: 16px;
    margin-left: 34px;
    margin-top: 10px;
    text-decoration: underline;
    width: auto;
	cursor: pointer;
	z-index:99;
}

/* Content Right */
#EventsDetailedLeft {
	position:relative;
    float: left;
    height: auto;
    margin-bottom:40px;
    width: 802px;
}
.ed_LeftTop{
	height:333px;
	background-color:#efefef;
}
/* Alerts Popup */
.ed_AlertsPopup{
	position:absolute;
	z-index:3;
	width:1023px;
	height:92px;
	background-image:url('../images/eventsdetailed/alert-shadow.png');
	background-position:bottom;
	background-repeat:repeat-x;
}
.ed_AlertsPopup .ed_AlertWhite{
	padding-top:20px;
	background-color:#FFFFFF;
	width:1010px;
	height:40px;
	color:#606060;
	font-size:12px;
	padding-left:13px;
}
.ed_AlertWhite .ed_AlertMsg{
	float:left;
	width:980px;
}
.ed_AlertWhite .ed_AlertMsg span{
	color:#000000;
}
.ed_AlertWhite .ed_AlertComfirm{
	color:#e9c21b;
	float:left;
}
.ed_AlertClose{
	float:right;
	margin-top:-20px;
	cursor:pointer;
}
/* Channels */
.ed_ChannelsView{
	position:absolute;
	width:45px;
	height:45px;
	background-color:#000;
	margin-top:14px;
	text-align:center;
	font-size:9px;
	color:#FFFFFF;
	z-index:2;
}
.ed_ChannelsView img{
	padding:18px 0px 0px 0px;
	cursor:pointer;
}
.ed_AllSponsoredOtherChannels{
	width:800px;
	height:290px;
	background-color:#383838;
	position:absolute;
	z-index:1;
}
.ed_ChannelsSponsoredOtherClose{
	float:right;
	margin-top:-3px;
	cursor:pointer;
}
.ed_ChannelsSponsoredOther{
	margin-left:45px;
	height:31px;
	width:245px;
	background-color:#000;
	border-left:solid 1px #383838;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	margin-top:14px;
	margin-left:45px;
	padding-top:14px;
	padding-left:5px;
	float:left;
}
.ed_ChannelsSponsoredOther span{
	cursor:pointer;
}
.ed_ChannelsSponsoredOther .ed_ChannelsActive{
	color:#e9c21b;
}
.ed_ChannelsPrevNext{
	width:405px;
	float:left;
	margin-top:14px;
	padding-top:14px;
	color:#a7a7a7;
	font-weight:bold;
	font-size:10px;
	text-align:right;
}
.ed_ChannelsPrevNext span{
	cursor:pointer;
}
.ed_ChannelsList{
	width:800px;
	height:180px;
	margin-top:82px;
}
.ed_ChannelsList .ed_ChannelBoxSpOt{
	width:130px;
	height:28px;
	margin-left:55px;
	color:#a7a7a7;
	font-size:11px;
	float:left;
	margin-bottom:3px;
}
.ed_ChannelsList .ed_ChannelBoxSpOt img{
	float:left;
	margin-right:2px;
}
.ed_ChannelsList .ed_ChannelBoxSpOt span{
	color:#868686;
	font-size:10px;
}
.ed_ChannelsList .ed_ChannelBoxSpOt .ed_ConnectActive{
	color:#eac31a;
}
/* Event Details */
.channelevtImg{
	position:relative;
	float:left;
	width:510px;
	height:333px;
}
.channelevtImg img{
	position:relative;
	width:510px;
	height:333px;
}

.cb_div{
	position:relative;
	float:left;
	margin-left:3px;
	margin-top:-4px;	
}

.ed_EventOptions{
	margin-top:34px;
	margin-left:22px;
	width:255px;
	float:left;
	position: relative;
	display:block;
}
.ed_OptionRow, .ed_OptionRow1, .guestsNum, .whocanjoin_txt{
	font-size:10px;
	font-weight:bold;
	color:#eac31a;
	padding-bottom:14px;
	float:left;
	width:auto; 
}

.ed_OptionRow1{
	width:84px;
	display:none;	
}

.guestsNum, .whocanjoin_txt, .guestsNumlocation{
	font-weight:normal;
	font-size:11px;
	color:#000000;
	margin-left:17px;
	margin-top:0px;	
}
#join_guests_number_detailed{
    font-size: 11px; 
}
.ed_ChannelNumbers a:hover{
    color:#eac31a;
}
.ed_ChannelName a:hover{
    color:#eac31a;
}
.guestnumplus{
	
}

.whocanjoin_txt{
	width:100%;
	padding-bottom:4px;
	margin-top:-1px;
}

.ed_OptionRow img{
	padding-left:15px;
	position: relative;
}
.ed_OptionNum, .ed_OptionNum1{
	font-size:11px;
	color:#000000;
	font-weight:normal;
	margin-left:70px;
}

.ed_OptionNum1{
	margin-top:-2px;
}

.ed_OptionNum span{
	color:#e7ba20;
}

.ed_OptionGray, .ed_OptionGray1, .ed_OptionGray2{
	color:#727272 !important;
	font-size:11px;
	padding-left:7px;
	padding-right:7px;
	font-weight:normal;
}

.ed_OptionGray1{
	padding-left:14px;	
}

.ed_OptionGray2{
	padding-left:153px;
	padding-top:4px;
}

.ed_JoinQuestion{
	position:relative;
	float:left;
	width:270px;
	font-size:11px;
	font-weight:bold;
	color:#e7ba20;
	margin-top:55px;
	margin-bottom:8px;
}
.ed_JoinOption{
	position:relative;
	float:left;
	width:auto;
	color:#a3a3a3;
	font-weight:bold;
	font-size:10px;
	margin-left:-4px;
        clear:both;
}

.ed_JoinOption span{
	margin-left:17px;
}
.ed_Separate{
	height:27px;
}
/* Details Content Right */
.ed_ContentRight{
	position:relative;
	float:left;
	width:317px;
	margin-left:27px;
	margin-top:-27px;
}
/* Tuber Icons */
.ed_TuberIcons{
	width:25px;
	float:left;
	cursor:pointer;
}
.ed_LikeIcon{
	width:25px;
	height:25px;
	background:url("../images/eventsdetailed/like.png") #e3b721 no-repeat center;
	border-bottom:solid 1px #FFFFFF;
}
.ed_TuberIconActive{
	background-color:#cbcbcb;
}
.ed_CommentIcon{
	width:25px;
	height:25px;
	background:url("../images/eventsdetailed/comment.png") #e3b721 no-repeat center;
	border-bottom:solid 1px #FFFFFF;
}
.ed_ShareIcon{
	width:25px;
	height:25px;
	background:url("../images/eventsdetailed/share.png") #e3b721 no-repeat center;
	border-bottom:solid 1px #FFFFFF;
}
.ed_TuberIconNumbers{
	background-color:#ededed;
	width:100px;
	height:20px;
	color:#494a4a;
	font-size:11px;
	padding-top:5px;
	padding-left:5px;
	margin-left:25px;
	position:absolute;
	display:none;
}

.dotedline{
	position:relative;
    float: left;
	margin-left:-10px;
	margin-bottom:17px;
    width: 274px;
    height: 1px;
	background:url(../images/dot_sep.png);
}

.whocanjoin_cont{
	display: block;
    height: auto;
    left: 72px;
    position: absolute;
    top: 0;
    width: 180px;
}
#whojoin_container{
	height:35px;
	overflow:hidden;		
}
#privacy_container{
	height:70px;
	overflow:hidden;	
}

.whocanjoin_cont1{
	position:relative;
	float:left;
	width:150px;
	height:auto;	
	margin-bottom:17px;
}

/* Likes Box */
.ed_LikesBox{
	width:273px;
	background-color:#f6f6f6;
	float:left;
	box-shadow: 4px 4px 1px #dcdcdc;
}
.ed_LikeClose{
	width:273px;
	text-align:right;
	padding:0px;
	height:27px;
}
.ed_LikeClose img{
	margin:2px;
}
.ed_LikesNum{
	font-weight:bold;
	color:#e7ba20;
	padding-left:12px;
	font-size:11px;
}
.ed_LikeTuber{
	border:1px solid #cbcbcb;
	height:47px;
	width:260px;
	margin-left:6px;
	margin-top:16px;
	background-color:#e5e5e5;
}
.ed_LikeTuber img{
	margin:3px;
	float:left;
}
.ed_TuberName{
	color:#212121;
	font-size:12px;
	font-weight:bold;
	padding-top:1px;
}
.ed_TuberLike{
	padding-top:10px;
	color:#888888;
	font-size:11px;
}
.ed_TuberLikeImg{
	float:left;
	padding-top:5px;
}
.ed_LikeFriends{
	width:262px;
	height:430px;
	margin-left:6px;
	margin-top:25px;
	overflow: auto;
}
.ed_FriendSeparate{
	width:247px;
	height:1px;
	background-color:#e4e4e4;
}
.ed_FriendDetailed{
	height:50px;
	width:247px;
	padding:10px 0px 0px 0px;
}
.ed_FriendDetailed img{
	float:left;
	margin-right:5px;
}
.ed_FriendName{
	font-weight:bold;
	font-size:12px;
	color:#212121;
}
.ed_FriendDate{
	color:#787878;
	font-size:10px;
}
.ed_FriendAddFollow{
	color:#afafaf;
	font-size:10px;
	width:240px;
	margin-top:8px;
	text-align:right;
}
.ed_FriendsShowMore{
	font-weight:bold;
	font-size:10px;
	color:#212121;
	margin:25px  0px 20px 6px;
}
/* Comments Box */
.ed_CommentInput{
	background-color:#454545;
	color:#b3b3b3;
	font-size:12px;
	width:208px;
	height:22px;
	border:0px;
	margin-top:3px;
	padding-left:2px;
}
.ed_CommentBox{
	min-height:50px;
	width:247px;
	padding:10px 0px 0px 0px;
}
.ed_CommentName{
	background-color:#e2e2e2;
	margin-left:5px;
	float:left;
	width:198px;
	padding-left:3px;
	padding-bottom:3px;
	min-height:40px;
}
.ed_CommentBox img{
	float:left;
}
.ed_CommentTuberPost{
	font-size:11px;
	color:#000000px;
}
.ed_FriendsLikes{
	color:#afafaf;
	font-size:10px;
	width:240px;
	font-size:10px;
	color:#e3b721;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
}
.ed_FriendsLikes img{
	margin-right:3px;
}
.ed_FriendsLikes span, .ed_FriendsLikes div{
	color:#afafaf;
}
.ed_FriendsLikes div{
	float:right;
}
.ed_CommentSeparate{
	width:247px;
	height:1px;
	float:left;
	background-color:#e4e4e4;
	margin-bottom:10px;
}
.ed_CommentMoins{
    text-align: right;
    width: 195px;
	position:absolute;
	padding:0px;
	margin:0px;
	margin-top:-10px;
}
.ed_CommentMoins img{
	float:none !important;
	cursor:pointer;
}
.ed_CommentClose{
	margin-top:-6px;
}
.ed_CommentClose{
	margin-top:-6px;
}
.ed_CommentNameBg{
	background-color:#f6f6f6;
}
.ed_CommentName .ed_CommentDate{
	font-size:10px;
	color:#787878;
}
.ed_CommentName .ed_CommentDetailed{
	font-size:11px;
	color:#b4b4b4;
	margin-top:4px;
}
/* Share Box */
.ed_ShareWrite{
	color:#686868;
	font-size:13px;
	margin-left:6px;
	margin-top:6px;
}
.ed_ShareWrite textarea, .ed_ShareWrite select{
	width:260px;
	background-color:#ebebeb;
	border:1px solid #e2e3ea;
	border-top-color:#abadb3;
	border-right-color:#dbdfe6;
	font-size:12px;
	color:#000000;
}
.ed_ShareWrite select{
	margin-top:14px;
}
.ed_AddPeople{
	color:#686868;
	font-size:13px;
	margin-top:10px;
}
.ed_FriendsCheck{
	color:#959595;
	font-size:12px;
	width:251px;
	height:148px;
	background-color:#e2e3ea;
	position:absolute;
	z-index:2;
	padding:5px;
	padding-bottom:0px;
	margin-top:-2px;
	/*display:none;*/
}
.ed_FriendsCheck .ed_FriendBox{
	background-color:#ebebeb;
	height:32px;
	margin-bottom:5px;
}
.ed_FriendsCheck .ed_FriendBox img{
	float:left;
}
.ed_FriendsCheck .ed_FriendBox .ed_FriendNameCheck{
	float:left;
	margin:8px 5px;
	width:180px;
}
.ed_FriendBox .ed_CheckFriendImg{
	margin-top:9px;
}
.ed_ShareSend{
	color:#686868;
	font-size:10px;
	width:260px;
	text-align:right;
}
.ed_ShareSend span{
	cursor:pointer;
}
.ed_ShareAddFriends{
	margin:0px;
	color: #AFAFAF;
    text-align: right;
    font-size: 10px;
    width: 240px;
}
/* Content left */
.ed_ContentLeft{
	position:relative;
	float:left;
	width:485px;
	margin-top:-13px;
	height:auto;
}

.ed_EventTitle{
	position:relative;
	float:left;
	height:21px;
	color:#FFFFFF;
	background-color:#e7ba20;
	padding-left:30px;
	padding-right:30px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:13px;
	width: auto;
	display: block;
}
.ed_Event_edit_content{
	position:relative;
	float:left;
	height:auto;
	width:475px;
	display:none;
}
.ed_Event_edit_desc_content{
	position:relative;
	float:left;
	height:275px;
	width:475px;
	display:block;
}
.ed_Event_edit_title_content{
	position:relative;
	float:left;
	height:21px;
	color:#FFFFFF;
	background-color:#e7ba20;
	padding:4px;
	font-size:13px;
	width:195px;
	display:block;
}
.ed_Event_edit_title{
	position:relative;
	float:left;
	height:21px;
	background-color:#FFC608;
	display: block;
	padding-left:6px;
	padding-right:6px;	
	width:183px;
}
.ed_EventTitle_txt_edit{	
	color:#FFFFFF;
	font-size:13px;
	border:none;
	width:100%;
	height:21px;
	line-height:21px;
	background:none;
}
.ed_Eventdesc_edit{
	position:relative;
	float:left;
	height:29px;
	color:#FFFFFF;
	background-color:#e7ba20;
	padding:4px;
	text-transform: uppercase;
	font-size:13px;
	width: auto;
	display: block;
}

.ed_Eventdesc_edit{
	background-color:#FFFFFF;
	width:460px;
	height:auto;	
	display:none;
}

.ed_EventTitle_txt{
	line-height:21px;	
}


.edit_event_button_container{
	position:absolute;
	display:block;
	width:400px;
	height:16px;	
	right:26px;
	bottom:2px;
}

.edit_eventdate_button_container{
	position:absolute;
	float:left;
	bottom:5px;
	right: 39px;
}

.cancel_save{
	position:relative;
	float:right;
	text-transform:lowercase;
	width:auto;
	height:25px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
	color:#afafaf;
	font-weight:bold;
	cursor:pointer;
}

.cancel_save:hover{
	color:#e9c21b;
}
.cancel_save.active{
	color:#e9c21b;
}

.ed_Eventdesc_txt_edit{
	position:relative;
	float:left;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	width:459px;
	height:248px;
	color:#999999;
	text-align:justify;
	margin-left:6px;
}

.ed_EventDescription{
	position:relative;
	float:left;
	width:420px;
	margin: 15px 28px 18px;
	color:#999999;
	font-size:11px;
	text-align:justify;
        overflow: hidden;
}
#edit_event_text1{
	position:absolute;
	top:5px;
	left:206px;	
}

/* Upcoming Events*/
.ed_UpcomingTitle{
	background-color:#2a2a2a;
	width:200px;
	padding:8px;
	padding-left:6px;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
	margin-bottom:30px;
}
.ed_UpcomingTitle span{
	color:#e7ba20;
}
.ed_UpcomingEvents{
	position:relative;
	float:left;
	width:480px;
	margin-top: 25px;
	display:block;
}

.ed_UpcomingEvents1{
	margin-top: -15px;
}

.ed_UpcomingEventBox{
	position:relative;
	float:left;
	width:230px;
	height:56px;
	margin-bottom:34px;
}
.ed_UpcomingBoxPad{
	padding-left:18px;
}
.ed_UpComingImg{
	position:relative;
	width:86px;
	height:56px;
	float:left;
	padding-right:4px;
}
.ed_UpcomingDate{
	font-weight:bold;
	font-size:10px;
	color:#747576;
}
.ed_UpComingClose{
	position:absolute;
	width:230px;
	text-align:right;
	cursor: pointer;
    display:none;
}
.ed_UpComingClose img{
	float:right;
}
.ed_UpcomingLocation{
	font-weight:bold;
	font-size:11px;
	color:#747576;
}
.ed_UpcomingTitleBox{
	font-weight:bold;
	font-size:11px;
	color:#1c1c1c;
}
.ed_UpcomingJoin, .yes, .no, .remove_event, .edit_event, .remove_event_sponsored{
	position:relative;
	float:left;
	width:auto;
	font-weight:bold;
	font-size:11px;
	color:#e7ba20;
	padding-top:3px;
	margin-right:1px;
}

.ed_UpcomingJoin1{
	color:#a3a3a3;	
}

.yes{
	margin-left:3px;	
}

.yes, .no, .remove_event, .edit_event,.remove_event_sponsored{
	cursor:pointer;
	font-size:10px;
	color:#a3a3a3;
}

.edit_event{	
	margin-left:2px;
	padding-top:3px;	
}

.remove_event,.remove_event_sponsored{
	padding-top:3px;
}

.yes:hover, .no:hover, .remove_event:hover, .remove_event_sponsored:hover, .edit_event:hover, .ed_InviteViewAll:hover, .connect_btn:hover, .followdetailed:hover, .addFrienddetailed:hover, .ed_UpcomingJoin1:hover, .followdetailed1:hover, .addFrienddetailed1:hover{
	color:#e3b721;	
}

.ed_UpcomingReport{
	position:relative;
	float:right;
	color:#a3a3a3;
	font-size:10px;
	margin-top:3px;
	cursor:pointer;
	display:none;
}

.ed_UpcomingReport:hover{
	color:#e3b721;	
}

.width18, .width0{
	position:relative;
	float:left;
	width:18px;
	height:56px;
}

.width0{
	width:0px;
}

.ed_UpcomingViewAll, .ed_UpcomingViewAll1{
	position:relative;
	float:left;
	font-size:10px;
	font-weight:bold;
	margin-bottom:30px;
	color:#e7ba20;
	text-decoration:underline;
	width:480px;
	text-align:right;
	cursor:pointer;
}

.clear{clear:both;}
.Blanket {
    background-color: #000000;
    bottom: 0;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
	display:none;
}
.holder {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
	margin-top:250px;
	display:none;
}
.popup {
    margin: 0px auto 0;
    width: 570px;
	height:630px;
	background-color:#efefef;
}
.popup .ed_EventPopupClose{
	float:right;
	padding:2px 8px;
	cursor:pointer;
}
.popup .ed_EventPopupContent{
	padding:35px 75px;
}
.popup .ed_EventPopupTitle{
	color:#e7ba20;
	font-size:13px;
	margin-bottom:10px;
}
.popup .ed_EventPopupWriteSomthing{
	color:#686868;
	font-size:13px;
	margin-top:25px;
}
.popup .ed_EventPopupWriteSomthing textarea{
	width:415px;
	background-color:#FFFFFF;
	border:1px solid #e2e3ea;
	border-top-color:#abadb3;
	border-right-color:#dbdfe6;
	font-size:12px;
	color:#000000;
}
.itemList_right_buttons{
	display:none;
}
.hideTextcontaner {
    height: 100%;
    left: 86px;
    position: absolute;
    width: 144px;
    z-index: 1;
}

.hideitems_td {
    text-align: center;
}

.hideText {
    color: #7B7B7B;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    position: relative;
    z-index: 1;
}
.eventsopacity {
    background-color: #F2F2F2;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    width: 86px;
}
#other_channels_slider #OtherLeft {
    overflow: visible !important;
    width: 45px !important;
}

.hideitems {
    height: 56px;
    position: absolute;
    width: 230px;
    z-index: 13;
}
.eventsbk {
    background-color: #F2F2F2;
    height: 100%;
    left: 86px;
    position: absolute;
    width: 144px;
}

.show_edit_event{
	background-color: #EFEFEF;
    display: none;
    float: left;
    height: 299px;
    left: -16px;
    padding-left: 13px;
    padding-right: 13px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.edit_eventdate_txt{
	position:relative;
	width:70px;
	height:12px;
	font-size:11px;	
	margin-top:-1px;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	text-align:center;
}
.show_edit_event .EVfromtime {
    position: relative;
    height: 33px; 
    width: 75px;
    margin-top: -2px;
}
.edit_eventdate_txt1{
	
}

.edit_eventdate_txt2{
	width:40px;
}

.edit_eventdate_txt3{
	text-align:left;
	width:176px;	
}

.edit_eventdate_txt4{
	
	width:40px;
	
}
.EVfromtime input {
    height: 15px;
    width: 35px;
}
.connect_btn{
	cursor:pointer;	
}

.j_minus_detailed, .s_minus_detailed{
	position:absolute;
	float:left;
	width:16px;
	height:12px;
	left:182px;
	margin-top:1px;
	background:url(../images/channel/minus_detailed.png) no-repeat;
	cursor:pointer;
	display:none;
}

.j_plus_detailed, .s_plus_detailed{
	position:absolute;
	float:left;
	width:16px;
	height:16px;
	left:182px;
	margin-top:-1px;
	background:url(../images/channel/plus_detailed.png) no-repeat;
	cursor:pointer;
	display:none;
}

.addFrienddetailed{
	margin-right:6px;	
}

.followdetailed{
	margin-right:5px;
	margin-left:7px;
}

.followdetailed1{
	position:absolute;
	float:left;
	cursor:pointer;
	width:auto;
	right:0px;
	top:-11px;
	
}

.addFrienddetailed1{
	position:absolute;
	float:left;
	cursor:pointer;
	width:auto;
	right:48px;
	top:-11px;
}

.joining_all{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}
.EventsDetailedRight .jspTrack {
    background: none repeat scroll 0 0 #6B6B6B !important;
}
.EventsDetailedRight .jspDrag {
    background: none repeat scroll 0 0 #505050 !important;
}
.EventsDetailedRight .jspVerticalBar {
	width:5px !important;
}

.sponsor_but_detailed, .sponsor_but_detailed1{
	position:relative;
	float:left;
	width:113px;
	height: 29px;
    display: block;
    background: url("../images/channel/sponsor_but_detailed.png") no-repeat scroll 0 0 transparent;
	margin-left:-5px;
	margin-top:62px;
	cursor:pointer;
}

.sponsor_but_detailed1{
	margin-left:-41px;
	margin-top:33px;	
}

.sharepopup_img_detailed{	
	position:relative;
	width:407px;
	height:266px;
	float:left;
	display:block;
}
.ed_Event_cancel{
	cursor:pointer;	
}
.j_minus_detailed:hover > .hide_remove_butons_over , .j_plus_detailed:hover > .hide_remove_butons_over{
	display: block;
}
.j_minus_detailed .hide_remove_butons_over , .j_plus_detailed .hide_remove_butons_over{
    right: 5px;
    top: -10px;
}
#googlemap{
    width:100%;
    height:100%;
}
.ed_LeftContent:hover > #viewAllPI{
	display: block;
}
.ed_LeftContent #viewAllPI {   
    right: 60px;
    top: 23px;
}