#eventDetailedMainDiv{
	font-family: Arial,Helvetica,sans-serif;
    margin: 71px auto 100px;
    position: relative;
    width: 1023px;
    z-index: 49;
}

#eventDetailedContainer {
    height: auto;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    width: 1023px;
    z-index: 99;
}
.marginbottom20{
	margin-bottom:20px;	
}
.marginbottom23{
	margin-bottom:23px;	
}
.marginbottom30{
	margin-bottom:30px;	
}
.marginbottom42{
	margin-bottom:42px;	
}
.margintop2{
	margin-top:2px;	
}
.margintop3{
	margin-top:3px;	
}
.margintop8 {
    margin-top: 8px;
}
.margintop9 {
    margin-top: 9px;
}
.margintop11{
	margin-top:11px;	
}
.margintop12{
	margin-top:12px;	
}
.margintop13{
	margin-top:13px;	
}
.margintop14{
	margin-top:14px;	
}
.margintop15{
	margin-top:15px;	
}
.margintop16{
	margin-top:16px;	
}
.margintop18{
	margin-top:18px;	
}
.margintop52{
	margin-top:52px;	
}
.margintop53{
	margin-top:53px;	
}
.marginleft2{
	margin-left:2px;	
}
.marginleft3{
	margin-left:3px;	
}
.marginleft4{
	margin-left:4px;	
}
.marginleft5 {
    margin-left: 5px;
}
.marginleft12{
	margin-left:12px;	
}
.marginleft13{
	margin-left:13px;	
}
.marginright8{
	margin-right:8px;	
}
.opacity60{   
	opacity:0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
}
.gray13{
	color:#686868;
	font-size:13px;
}

#leftEventContainer {
    position: relative;
	display:block;
	float:left;
    height: auto;
    width: 221px;
    z-index: 10;
	background-color:#efefef;
	margin-bottom:40px;
}
#leftEventTop {
    position: relative;
	display:block;
	float:left;
    height: 333px;
    width: 100%;
	overflow:hidden;
}
.leftEventTop_text_edit{	
    position: absolute;
	display:none;
	float:left;
	width:200px;
	height:auto;
}
.leftEventTop_text{	
    position: relative;
	display:block;
	float:left;
	width:200px;
	height:auto;
	line-height:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	color:#e7ba20;
	margin-top:41px;
	margin-left:12px;
}
.leftEventTop_text_name{	
    position: relative;
	display:block;
	float:left;
	width:200px;
	height:auto;
	line-height:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	text-align:left;
	text-transform:uppercase;
	color:#e7ba20;
	margin-top:54px;
	margin-left:12px;
}
#themelist{
	margin-left:12px;
	color:#000000;
	margin-top:4px;
	height: 17px;
}
.leftEventTop_pic{	
    position: absolute;
	display:block;
	width:100%;
	height:243px;
	left:0;
	bottom:0;
}

#rightEventContainer {
    position: relative;
	display:block;
	float:left;
    height: auto;
    width: 800px;
    z-index: 11;
	margin-bottom:40px;
	margin-left:1px;
}
#rightEventTop {
    position: relative;
	display:block;
	float:left;
    height: 333px;
    width: 100%;
	overflow:hidden;
}
.rightEventTop_pic{	
    position: relative;
	display:block;
	float:left;
	width:510px;
	height:333px;
}
.rightEventTop_content{	
    display: block;
    float: left;
    height: 333px;
    margin-left: 1px;
    padding-left: 8px;
    position: relative;
    width: 281px;
	background-color:#efefef;
}
.event_OptionRow{
    position: relative;
	display:block;
	font-size:10px;
	font-weight:bold;
	color:#e7ba20;	
	float:left;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
}
.event_OptionRow img{
	padding-left:13px;
	position: relative;
}
.event_OptionGray{
	color:#686868;
	font-size:11px;
	font-weight:normal;
}
.guestsNum{
	position: relative;
	float:left;
	font-weight:normal;
	font-size:11px;
	color:#000000;
	margin-left:20px;
}
.guestsNumlocation{
    font-weight:normal;
    font-size:11px;
    color:#000000;
    margin-left:11px;
}
#join_guests_number_detailed{
    font-size: 11px;
}
.event_OptionNum{
	position: relative;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	margin-left:77px;
}
.dotedline{
	position:relative;
    float: left;	
	margin-bottom:17px;
    width: 276px;
    height: 1px;
	background:url(../images/dot_sep.png);
	margin-left:-3px;
}
.event_JoinQuestion{
	position:relative;
	float:left;
	width:270px;
	font-size:11px;
	font-weight:bold;
	color:#e7ba20;
	margin-top:5px;
	margin-bottom:8px;
}
.event_JoinOption{
	position:relative;
	float:left;
	width:auto;
	color:#a3a3a3;
	font-weight:bold;
	font-size:10px;
	margin-left:-4px;
        clear:both;
        height:21px;
        line-height: 21px;
}

.event_JoinOption span{
	margin-left:17px;
}
.event_Join{
	position:relative;	
}
#whojoin_container {
	height: 35px;
}
.formContainer100 {
	float: left;
	position: relative;
	width: 100%;
}
.yellowbold10 {
	color: #e7ba20;
	font-size: 10px;
	font-weight: bold;
}
.yellowbold11 {
	color: #e7ba20;
	font-size: 11px;
	font-weight: bold;
}
.yellowbold13 {
	color: #e7ba20;
	font-size: 13px;
	font-weight: bold;
}
.whocanjoin_cont {
	display: block;
	height: auto;
	left: 72px;
	position: absolute;
	top: 0;
	width: 180px;
}
.whocanjoin_txt {
	width: 100%;
	padding-bottom: 4px;
	margin-top: -1px;
}
.whocanjoin_txt {
	color: #000000;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 0;
    position: relative;
    width: auto;
}
#privacy_container{
	height:70px;
	overflow:hidden;	
}
.rightEventTop_content .privacy_icon {
	float: left;
    max-height: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: -3px;
    position: relative;
    width: 15px;
    max-width: 15px;
}
#privacy_icon_viewer {
    position: absolute;
    height: 15px;
    right: 23px;
    top: 7px;
    width: 15px;
	z-index:1;
        cursor: pointer;
}
.event_List{
	z-index:10;	
}
.privacy_icon_edit {
	float: left;
    max-height: 15px;
    height: 15px;
    margin-left: 4px;
    margin-top: -1px;
    position: relative;
    width: 15px;
    max-width: 15px;
}
.privacy_icon0{
    background: url("../images/sprite_privacy.png") no-repeat -115px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon1{
    background: url("../images/sprite_privacy.png") no-repeat -147px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon2{
    background: url("../images/sprite_privacy.png") no-repeat -131px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon3{
    background: url("../images/sprite_privacy.png") no-repeat -163px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon4{
    background: url("../images/sprite_privacy.png") no-repeat -83px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon5{
    background: url("../images/sprite_privacy.png") no-repeat -99px 0;
    width: 15px; 
    height: 16px;
}

.event_Arrow{
	background-image: url("../images/eventsdetailed/e_arrow1.png");
	background-repeat:no-repeat;
	background-position:center center;
	margin: 8px 5px 0 0;
	float:right;
	width:15px;
	height:12px;
	cursor:pointer;
}
.event_List{
	background-color:#2f2f2f;
	list-style-type:none;
	margin-right: 5px;
    margin-top: 17px;
	position:absolute;
	right:0px;
	padding:0px;
	float:right;
	display:none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	color:#ffffff;
}
.event_List li{
	padding:4px;
	display: list-item;
	text-align: -webkit-match-parent;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
}
.event_List li:hover{
	background-color:#3E3E3E;
	cursor:pointer;
	color:#B4B4B4;
}

.event_List li a{
	color:#ffffff;
}
#leftEventInvite{
	width: 100%;
	height:34px;
	position:relative;
	float:left;
	display:block;
	background-color:#383838;	
}
.event_Invite {
	width: auto;
	font-weight: bold;
	color: #eac31a;
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 8px;
	cursor: pointer;
	font-size: 11px;
	display:block;
	height: 14px;
    line-height: 14px;
}
.inviteplus {
	position: relative;
	float: left;
	width: 12px;
	height: 12px;
	margin-top: -25px;
	margin-left: 120px;
	cursor: pointer;
}
.editChannelRight_data11 {
    bottom: 3px;
    right: 10px;
}
.editChannelRight_data12 {
    bottom: 14px;
    right: 10px;
}
.butEditChannelRight_data {
    background: url("../images/edit_button.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 18px;
    z-index: 11;
}
.butEditChannelRight_data:hover {
    background: url("../images/edit_button_active.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.butEditChannelRight_data.active {
    background: url("../images/edit_button_active.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.event_Contentright {
    float: left;
    min-height: 660px;
    position: relative;
	display: block;
    width: 465px;
}
.event_EventTitle {
    background-color: #E7BA20;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 13px;
    height: 26px;
    padding: 4px 30px;
    position: relative;
    width: auto;
}
.event_EventTitle_txt {
    line-height: 26px;
}
.editChannelRight_data13, .editChannelRight_data14 {
    float: left;
    height: 19px;
    margin-left: 3px;
    margin-top: 7px;
    position: relative;
    width: 19px;
}
.event_Event_edit_content {
    display: none;
    float: left;
    height: auto;
    position: relative;
    width: 475px;
	margin-bottom:18px;
}
.j_minus_detailed:hover > .hide_remove_butons_over , .j_plus_detailed:hover > .hide_remove_butons_over{
	display: block;
}
.j_minus_detailed .hide_remove_butons_over , .j_plus_detailed .hide_remove_butons_over{
    right: 5px;
    top: -10px;
}
#edit_event_text1 {
    left: 217px;
    position: absolute;
    top: 8px;
}
.event_Event_edit_title_content {
    background-color: #E7BA20;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 13px;
    height: 22px;
    padding: 6px;
    position: relative;
    width: 195px;
}
.event_Event_edit_title {
    background-color: #FFC608;
    display: block;
    float: left;
    height: 22px;
    padding-left: 24px;
    padding-right: 6px;
    position: relative;
    width: 165px;
}
.event_EventTitle_txt_edit {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #FFFFFF;
    font-size: 13px;
    height: 21px;
    line-height: 21px;
    width: 100%;
}
.margintop5 {
    margin-top: 5px;
}
.event_Event_edit_desc_content {
    display: block;
    float: left;
    height: 275px;
    position: relative;
    width: 475px;
}
.event_Eventdesc_txt_edit {
    color: #999999;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 248px;
    margin-left: 5px;
    padding-left: 25px;
    padding-top: 3px;
    position: relative;
    text-align: justify;
    width: 434px;
}
.edit_event_button_container {
    bottom: 2px;
    display: block;
    height: 16px;
    position: absolute;
    right: 26px;
    width: 400px;
}
.cancel_save.active {
    color: #E9C21B;
}
.cancel_save {
    color: #AFAFAF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    position: relative;
    text-transform: lowercase;
    width: auto;
}
.yes:hover, .no:hover, .remove_event:hover, .remove_event_sponsored:hover, .edit_event:hover, .ed_InviteViewAll:hover, .connect_btn:hover, .followdetailed:hover, .addFrienddetailed:hover, .ed_UpcomingJoin1:hover, .followdetailed1:hover, .addFrienddetailed1:hover{
	color:#e3b721;	
}
.addFrienddetailed{
	margin-right:6px;
	color: #AFAFAF;	
}

.followdetailed{
	margin-right:5px;
	margin-left:7px;
	color: #AFAFAF;
}

.followdetailed1{
	position:absolute;
	float:left;
	cursor:pointer;
	width:auto;
	right:0px;
	top:-11px;
	color: #AFAFAF;	
}

.addFrienddetailed1{
	position:absolute;
	float:left;
	cursor:pointer;
	width:auto;
	right:48px;
	top:-11px;
	color: #AFAFAF;
}

.seperator_button {
    background: url("../images/upload_list_seperator.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 9px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
    position: relative;
    width: 2px;
}
.seperator_button2 {
	position:absolute;
	top:-1px;
	left:122px;
	background: url("../images/upload_list_seperator1.jpg") no-repeat scroll 0 0 transparent;
}
.seperator_button3 {
	position:absolute;
	top:-1px;
	left:122px;
	background: url("../images/upload_list_seperator1.jpg") no-repeat scroll 0 0 transparent;
	top:-12px;
	left:123px;
}
.event_EventDescription {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 21px 31px 18px;
    position: relative;
    text-align: justify;
    width: 425px;
}
.event_location_detailed {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 41px 31px 7px;
    position: relative;
    text-align: justify;
    width: 425px;
}
.event_googlemap {
	position:relative;
    float: left;
	display:block;
    width: 421px;
    height: 250px;
	margin-left:31px;
}

/* my user event calendar */
.tt_event_calendar_container{
	position:relative;
	float:left;
	display:block;
	width:207px;
	height: auto;
	margin-left:12px;
	margin-top:21px;
}
.ed_CalTooltipContent_user {
	height: 125px;
	width: 106px;
	position: absolute;
	z-index: 2;
	background-color: #e8e8e8;
	border: 0px;
	color: #cbcbcb;
	font-size: 11px;
	text-align: center;
	display: none;
}
.ed_CalTooltipContent_user .ed_CalTooltip {
	padding: 5px 2px;
	background-color: #e8e8e8;
}
#idEventsCalendar_user .DynarchCalendar-day-disabled, .opacityblock{
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -khtml-opacity: 1 !important;
    -moz-opacity: 1 !important;
}
.ed_CalTooltipClose{
	cursor:pointer;	
}
.ed_CalTooltipContent_user .ed_CalTooltipTitle{
	color:#808080 !important;
	font-size:11px;
	text-align:center;
}
.ed_CalTooltipViewEvent{
	color:#e3b721;
	font-weight:bold;
	padding-top:3px;
}
/* end user event calendar */

.event_BoxSeparate {
    float: left;
    height: 5px;
    margin-left: 9px;
    position: relative;
    width: 203px;
}
.event_BoxSeparate div {
    height: 1px;
    width: 203px;
}
.event_BoxSeparate1 {
    background-color: #dbdbdb;
}
.event_BoxSeparate2 {
    background-color: #e1e1e1;
}
.event_BoxSeparate3 {
    background-color: #efefef;
}
.event_LeftInvited {
    display: block;
    float: left;
    margin-top: 7px;
    padding: 6px 6px 0 9px;
    position: relative;
    width: 206px;
}
.event_InvitedNum {
    color: #E9C21B;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 8px;
    position: relative;
    width: 100%;
}
.joining_all {
    float: left;
    height: auto;
    position: relative;
    width: 100%;
}
.event_InvitedFriendBox {
    border-bottom: 1px solid #d7d7d7;
    float: left;
    height: 37px;
    padding-top: 7px;
    position: relative;
    width: 199px;
}
.event_InvitedFriendBox img {
    float: left;
}
.event_InvitedName{
    color: #737373;
    float: left;
    font-size: 11px;
    margin-left: 4px;
    width: 154px;
}
.event_InvitedName_minus{
	color:#d3d2d2;
}
.event_InvitedAddFriend {
    bottom: 2px;
    color: #737373;
    display: none;
    float: left;
    font-size: 10px;
    left: 27px;
    position: absolute;
    text-align: right;
    width: 170px;
}
.j_minus_detailed, .s_minus_detailed {
    background: url("../images/channel/minus_detailed.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    float: left;
    height: 12px;
    left: 182px;
    margin-top: 1px;
    position: absolute;
    width: 16px;
}
.j_plus_detailed, .s_plus_detailed {
    background: url("../images/channel/plus_detailed.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    float: left;
    height: 16px;
    left: 182px;
    margin-top: -1px;
    position: absolute;
    width: 16px;
}
.event_InviteViewAll {
    color: #AFAFAF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-style: italic;
    height: auto;
    margin-left: 34px;
    margin-top: 10px;
    position: relative;
    text-decoration: underline;
    width: auto;
    z-index: 99;
}
#sharepopup {
    background-color: #EFEFEF;
    display: none;
    float: left;
    height: auto;
    position: relative;
    width: 567px;
}
.emailcontainer .ui-autocomplete {
    border: 2px solid #555557;
    height: auto;
    left: -1px !important;
    max-height: 144px;
    overflow: auto;
    width: 403px !important;
}

/* scroll css */
#leftEventContainer .jspTrack {
    background: none repeat scroll 0 0 #e0e0e0 !important;
}
#leftEventContainer .jspDrag {
    background: none repeat scroll 0 0 #c5c5c5 !important;
}
#leftEventContainer .jspVerticalBar {
	width:5px !important;
}

.show_edit_event{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 272px;
    z-index: 9;
	background-color: #EFEFEF;
}
.edit_eventdate_txt{
	position:relative;
	width:78px;
	height:12px;
	font-size:11px;	
	margin-top:-1px;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	text-align:center;
}
.show_edit_event .fromtime {
    position: relative;
    height: 33px; 
    width: 75px;
    margin-top: -2px;
}
.edit_eventdate_button_container{
	bottom: -6px;
    float: left;
    position: absolute;
    right: 30px;
}
.edit_eventdate_txt1{
	
}

.edit_eventdate_txt2{
	width:40px;
}

.edit_eventdate_txt3{
	text-align:left;
	width:179px;
	margin-left:7px;	
}

.edit_eventdate_txt4{	
	width:40px;	
}

.fromtime input {
    height: 15px;
    width: 35px;
}
#whocanjoin_cont_select {
    color: #000000;
    height: 17px;   
    margin-top: -3px;
	width:109px;
}
.edit_userevent_theme{
	top: 6px;
    right: 6px;	
}

.peoplecontainer_custom.peoplecontainer {
    background-color: #FFFFFF;
    height: 103px;
    position: absolute;
    width: 247px;
	top:204px;
	left:13px;
	z-index:9;
}
.peoplecontainer_custom .emailcontainer {
    border: 1px solid #BCBCBC;
    display: block;
    float: left;    
    margin: 0;
    height: 35px;
	min-height:0;
    padding: 2px;
    position: relative;
    width: 242px;
    z-index: 2;
	overflow-y:auto;
}
.peoplecontainer_custom .friendscontainer {
    border: 1px solid #DBDFE6;
    display: block;
    float: left;
    height: 61px;
    margin: -1px 0 0;
    padding: 0;
    position: relative;
    width: 246px;
    z-index: 1;
}
.peoplecontainer_custom .ui-autocomplete {
    border: 2px solid #555557;
    max-height: 144px;
	height: auto;
    overflow: auto;
    width: 403px !important;
	left:-1px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
	background-color:#555557;
	padding:0 !important;
	padding:2px !important;
	border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus {
	background-color:#ffffff;
}
.peoplecontainer_custom .ui-menu .ui-menu-item {
	background-color:#000000;	
}
.peoplecontainer_custom .ui-autocomplete{
    border: 2px solid #e2e3ea;
    max-height: 144px;
	height: auto;
    overflow: auto;
    width: 247px !important;
	left:-1px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
	background-color:#e2e3ea;
	padding:0 !important;
	padding:2px !important;
	border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus{
	background-color:#ffffff;
}
.peoplecontainer_custom .ui-menu .ui-menu-item{
	background-color:#ebebeb;	
}

.peoplecontainer_custom .peoplesearch{
	position:relative;
	width:100%; 
	height:32px; 
	background-color:#ebebeb;
	margin:0;
	padding:0;
}
#event_join_yes,#event_join_no{
    float: left;
    margin: 4px 0 0 5px;
    padding: 0;
    position: relative;
}