

/* Small devices (tablets, 768px and up) */
@media screen and (max-width:767px) { 
.container {
    margin: 0 auto;
    max-width:inherit !important;
    width: 100% !important;
}
.row {
    clear: both;
    display: block;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.top-header {
    display: block !important;
    height: auto !important;
    width: 100% !important;
}

.logo {
    margin: 0 auto;
    padding: 2px 10px !important;
    width: 150px !important;
    display: block !important;
}


.top_links {
    position: relative !important;
    right: auto !important;
    top: auto !important;
    width: 100% !important;
}


.top_links .left {
    display: block !important;
    float: none !important;
    position: relative;
    top: auto;
    width: 98% !important;
    margin: 4px auto 10px;
	text-align:right
}

.top_links .left .div ul.social li a {
    text-align: left ;
}

.top_links .left .div {
    padding: 2px 4px !important;
}

.top_links .left .div select {
    border: medium none;
    width: 70px !important;
    border: 1px solid #eee;
}



.top_links .right {
    display: block !important;
    float: none !important;
    position: relative !important;
    top: auto !important;
    vertical-align: top !important;
	text-align:center
}

.top_links .right .tt-bag {
    display: block !important;
    right: 0;
    top: 0;
    z-index: 2;
}

#mobile_tabsmain {
    background: #eac31a none repeat scroll 0 0;
    display: none;
    line-height: 12px;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1% 0px !important;
    position: relative;
    width: 98%;
    z-index: 120;
}

.nav-bar ul li {
    display: block;
    height:auto;
}

.nav-bar ul li a { border-right:none;
    border-bottom: 1px solid #f1ca21 ;
    color: #191919;
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 6px 4px;
    position: relative;
    text-decoration: none;
}

.nav-bar ul li a:hover{ color:#fff; text-decoration:none}

.trip_search {
	    padding-top: 30px !important;
}
.trip_search .trip_search_box {
    margin: 0 auto !important;
    width: 96% !important;
}


.trip_search .trip_search_box .text {
    font-size: 16px !important;
    line-height: 20px !important;
    width: auto !important;
}
.trance_bg {
	display:block;
    padding: 8px 1% !important;
    width: 98% !important;
}

.trip_search .trip_search_box .seacr_pannel {
    display: inline-block;
    margin-bottom: 30% !important;
}

.seacr_pannel .select_catg {
    width: auto !important;
}

.seacr_pannel .select_catg .form_radio_box {
    padding: 6px 10px 5px 4px !important;
}

.seacr_pannel .search-bar .search-crose {
    left: auto !important;
    right: 6px !important;
}
	
.seacr_pannel .search-bar .search {
    padding: 2px 1% !important;
    width: 97% !important;
}

.chatoff{ display:none}

.seacr_pannel .search-bar .search-btn {
    padding: 2px;
    width: 99% !important;
}

.trendContainer {
    width: 98% !important;
    margin: 0 1% !important;
}

.trendContainer .trendTitle {
    min-width: 50px !important;
    width:10% !important;
}

.trendContainer .trendsDesc {
    float: right !important;
    width: 80% !important;
}


ul.block_list {
    margin: 0 1% !important;
    padding: 0;
    width: 98% !important;
}

ul.block_list li {
    display: inline-block;
    margin: 10px 0 !important;
    padding: 0 !important;
    vertical-align: top;
    width: 100% !important;
}

.block_box .img_box img {
    max-height: 100% !important;
    width: 100% !important;
    max-width: inherit !important;
}

ul.block_list li a {
    display: block !important;
    width: 100% !important;
    padding: 0 !important;
}

.block_box {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
}

.block_box .img_box {
    height: 100% !important;
}

.block_box .img_descp {
    height: 100% !important;
    margin: -5px 0 0 !important;
    min-height: 60px;
}
 
.trip-plan_row .heading {
    padding: 10px 1% !important;
    line-height: 30px;
    font-size: 16px !important;
}

.trip-plan_row .plan_box {
    border-right: medium none !important;
    border-top: 2px solid #fff !important;
    display: block !important;
    width: 300px !important;
    margin: 0 auto !important;
}




.trip-plan_row .plan_box .img_box {
    height: 100% !important;
    width: 100% !important;
}
.trip-plan_row .plan_box .img_box img {
    height: auto;
    width: 100% !important;
}

.trip-plan_row .plan_box .img_descp .heading {
    padding: 10px 0 0 0 !important;
	font-size: 16px !important;
	margin-left:8px !important;
	  display: block;	
	
}



.media-row .heading-row .smltxt {
    padding: 6px 1px !important;
}

.media-row .heading-row {
    display: block;
    margin: 0 1% !important;
    width: 98% !important;
}
.media-row .media-gallery {
    display: block;
    padding: 0 1% !important;
    width: 98% !important;
    margin-left:0 !important; 
}

.media-row .media-gallery .block {
    height: 100% !important;
    margin: 0 !important;
    width: 100% !important;
}

.media-row .media-gallery .block .verti_box img, .media-row .media-gallery .block .horiz_box img {
    height: auto;
    width: 100% !important;
	max-width:inherit !important
}


.media-row .media-gallery .block .verti_box {
    height: 100% !important;
    width: 100% !important;
}

.verti_box .main {
    height: 99% !important;
    width: 100% !important;
}

/*
.verti_box .main .capitalfirst {
    bottom:40% !important;
	font-size: 12px !important;
    line-height: 13px !important;
}
 
.verti_box .main .detail .maininside {
    width: auto  !important ;
    padding: 0 6px 2px 0 !important;
}
*/
.media-row .media_smttxt {
    margin: 10px 0 !important;
    padding: 0 0 0 10px !important;
}


.media-row .media-gallery .block .horiz_box {
    height: 100% !important;
    margin: 0 0 4px !important;
    width: 100% !important;
}
.horiz_box .main {
    height: 98% !important;
    width: 100% !important;
}
/*
.horiz_box .main .capitalfirst {
    bottom: auto !important;
    font-size: 12px !important;
    line-height: 12px !important;
    top: 6px !important;
}
 
.horiz_box .main .detail .maininside {
    width: auto  !important ;
    padding: 0 6px 2px 0 !important;
}*/


.explore-row .heading-row {
    width: 98% !important;
    padding: 0 1% !important;
}

.explore-row .explore-gallery {
    margin-left: 0 !important;
    width: 98% !important;
    padding: 0 1% !important;
}

.explore-row .explore-gallery .video-block {
   height: 100% !important;
    margin:0 !important ;
    width: 100% !important;
}

.explore-row .explore-gallery .travelar-block {
    height: 100% !important;
    width: 100% !important;
}

.explore-row .explore-gallery .video-frame {
    width:100% !important;
}


.explore-row .explore-gallery .video-frame .video-img {
    height: 100% !important;
    width: 100% !important;
}

.explore-row .explore-gallery .video-samples {
    height: 75px !important;
    margin: 10px 1% !important;
    overflow: auto;
    padding: 0 !important;
    width: 98% !important;
    white-space: nowrap;
}

.poplar-desti_row {
    margin: 20px 1%;
}

.poplar-desti_row .link_descrp ul {
    display: inline-block;
    margin: 0;
    padding: 0 ;
    width: 98% !important;
}

.menu-toggle {
    display: block;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.menu-toggle .text {
    color: #fff;
    display: block;
    font: 500 16px/100% Arial;
    margin-left: 2%;
    margin-top: 13px;
    text-decoration: none;
}

.i_bar_btn {
    display: block;
    position: absolute;
    right: 2%;
    top: 8px;
}

.i_bar_btn span {
    background: white none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin-top: 4px;
    width: 24px;
}

.footer_row {
    margin: 0 4% !important;
}


.footer-copy .terms_box {
    display: block;
    float: none !important;
    position: relative !important;
	padding:5px 0;
}

.footer-copy .terms_box li {
    display: inline-block !important;
    float: none !important;
}

}

@media (min-width:768px) and (max-width:992px) { 

.container {
    margin: 0 auto;
    max-width:inherit !important;
    width: 100% !important;
}
.row {
    clear: both;
    display: block;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.logo {
    padding: 2px 10px 0  !important;
    width: 170px !important;
}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:993px) { 

}