/* CSS */

.DynarchCalendar {
  border: 1px solid #2A2A2A;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #2a2a2a;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#b4b4b4;
  font-weight:bold;
  line-height: 14px;
  position: relative;
  cursor: default;
}
.ed_Calendar_user .DynarchCalendar {
  background: #ffffff;
  border: 1px solid #ffffff;
}
.tt_event_calendar_container .DynarchCalendar {
  background: #efefef;
  border: 1px solid #efefef;
}

.DynarchCalendar table {
  border-collapse: collapse;
  /*font: 11px "lucida grande",tahoma,verdana,sans-serif;*/
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#b4b4b4;
  font-weight:bold;
  text-align:left;  
  line-height: 14px;
  margin:0 auto;
}

.DynarchCalendar-topBar {
  border-bottom: 1px solid #2A2A2A;
  background: #2a2a2a;
  padding: 5px 0 0 0;
}
.ed_Calendar_user .DynarchCalendar-topBar {
  background: #ffffff;
  border-bottom: 1px solid #eaeaea;
}
.tt_event_calendar_container .DynarchCalendar-topBar {
  background: #efefef;
  border-bottom: 1px solid #d4d4d4;
}

table.DynarchCalendar-titleCont {
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  text-align: center;
  z-index: 9;
  position: relative;
  margin:0 auto;
  margin-top: -6px;
}
.ed_Calendar_user table.DynarchCalendar-titleCont {
 	color: #c7c7c7;
}
.tt_event_calendar_container table.DynarchCalendar-titleCont {
 	color: #c7c7c7;
}

.DynarchCalendar-title div {
  padding: 5px 17px;
}

.DynarchCalendar-bottomBar {
  border-top: 1px solid #2A2A2A;
  background: #2a2a2a;
  padding: 2px;
  position: relative;
  text-align: center;
}
.ed_Calendar_user .DynarchCalendar-bottomBar {
  background: #ffffff;
  border-top: 1px solid #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-bottomBar {
  background: #efefef;
  border-top: 1px solid #efefef;
}

.DynarchCalendar-bottomBar-today {
  padding: 2px 15px;
}

.DynarchCalendar-pressed-bottomBar-today {
  border: 1px solid #000;
  background-color: #777;
  color: #fff;
  padding: 1px 14px;
}

.DynarchCalendar-body {
  position: relative;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.DynarchCalendar-first-col { padding-left: 5px; }
.DynarchCalendar-last-col { padding-right: 5px; }

.DynarchCalendar-animBody-backYear {
  position: absolute;
  top: -100%;
  left: 0;
}
.DynarchCalendar-animBody-back {
  position: absolute;
  top: 5px;
  left: -100%;
}
.DynarchCalendar-animBody-fwd {
  position: absolute;
  top: 5px;
  left: 100%;
}
.DynarchCalendar-animBody-now {
  position: absolute;
  top: 5px;
  left: 0;
}
.DynarchCalendar-animBody-fwdYear {
  position: absolute;
  top: 100%;
  left: 0;
}

.DynarchCalendar-dayNames {
  padding-left: 5px;
  padding-right: 5px;
}

.DynarchCalendar-dayNames div { 
	font-weight: bold; 
	color: #e7ba20;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.DynarchCalendar-navBtn {
  position: absolute;
  top: 5px;
  z-index: 10;
}

.DynarchCalendar-navBtn div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 15px;
  width: 16px;
  padding: 1px;
}
.DynarchCalendar-hover-navBtn div {
  border: 1px solid #000;
  padding: 0;
  background-color: #fff;
}
.DynarchCalendar-navDisabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.DynarchCalendar-pressed-navBtn div {
  border: 1px solid #000;
  padding: 0;
  background-color: #777;
  color: #fff;
}

.DynarchCalendar-prevMonth {
  left: 25px;
}

.DynarchCalendar-nextMonth {
  left: 100%;
  margin-left: -43px;
}

.DynarchCalendar-prevYear {
  left: 5px;
}

.DynarchCalendar-nextYear {
  left: 100%;
  margin-left: -23px;
}

.DynarchCalendar-prevMonth div {
  background-image: url("../images/img/nav-left.png");
}

.DynarchCalendar-nextMonth div {
  background-image: url("../images/img/nav-right.png");
}

.DynarchCalendar-prevYear div {
  background-image: url("../images/img/nav-left-x2.png");
}

.DynarchCalendar-nextYear div {
  background-image: url("../images/img/nav-right-x2.png");
}

.DynarchCalendar-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  overflow: hidden;
  opacity:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  display:none;
}
.ed_Calendar_user .DynarchCalendar-menu {
  background-color: #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-menu {
  background-color: #efefef;
}

.DynarchCalendar-menu table td div {
  text-align: center;
  font-weight: bold;
  padding: 3px 5px;
}
.DynarchCalendar-menu table td div.DynarchCalendar-menu-month {
  width: 4em;
  text-align: center;
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
  border: 1px solid #000;
  padding: 2px 4px;
  background-color: #fff;
  color: #000;
}
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
  border: 1px solid #000;
  padding: 2px 4px;
  background-color: #777;
  color: #fff !important;
}

.DynarchCalendar-menu-year {
  text-align: center;
  font: 16px "lucida grande",tahoma,verdana,sans-serif;
  font-weight: bold;
}

.DynarchCalendar-menu-sep {
  height: 1px; font-size: 1px; line-height: 1px;
  overflow: hidden;
  border-top: 1px solid #888;
  background: #fff;
  margin-top: 4px; margin-bottom: 3px;
}

.DynarchCalendar-time td { font-weight: bold; font-size: 11px; }
.DynarchCalendar-time-hour, .DynarchCalendar-time-minute { padding: 1px 3px; }
.DynarchCalendar-time-down { background: url("../images/img/time-down.png") no-repeat 50% 50%; width: 11px; height: 8px; opacity: 0.5; }
.DynarchCalendar-time-up { background: url("../images/img/time-up.png") no-repeat 50% 50%; width: 11px; height: 8px; opacity: 0.5; }
.DynarchCalendar-time-sep { padding: 0 2px; }
.DynarchCalendar-hover-time { background-color: #444; color: #fff; opacity: 1; }
.DynarchCalendar-pressed-time { background-color: #000; color: #fff; opacity: 1; }
.DynarchCalendar-time-am { padding: 1px; width: 2.5em; text-align: center; }

/* body */

.DynarchCalendar-hover-week { background-color: #2a2a2a; }
.ed_Calendar_user .DynarchCalendar-hover-week {
  background-color: #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-hover-week {
  background-color: #efefef;
}

.DynarchCalendar-dayNames div, .DynarchCalendar-day, .DynarchCalendar-weekNumber {
  width: 1.7em;
  padding: 3px 4px;
  text-align: center;
}
.DynarchCalendar-weekNumber {
  border-right: 1px solid #2A2A2A;
  margin-right: 4px;
  width: 2em !important;
  padding-right: 8px !important;
}
.ed_Calendar_user .DynarchCalendar-weekNumber {
  border-right: 1px solid #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-weekNumber {
  border-right: 1px solid #efefef;
}

.DynarchCalendar-day {
  text-align: center; color: #b4b4b4;
  /*width:19px;
  height:14px;*/
}
.DynarchCalendar-day-othermonth { color: #5f5f5f; }
/*.DynarchCalendar-weekend { color: #e7ba20; }*/
.DynarchCalendar-day-today { color: #e7ba20; font-weight: bold; }

.DynarchCalendar-day-disabled {
  opacity: 0.5;
}

.DynarchCalendar-hover-date {
  padding: 3px;
  /*background-color: #e7ba20;
  border: 1px solid #e7ba20;*/
  margin: 0 !important;
  color: #ffffff;
  background:url(../images/img/caldayover.png) no-repeat !important;
  background-position:center center !important;
}

.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date { border-color: #2A2A2A; color: #888; }
.ed_Calendar_user .DynarchCalendar-day-othermonth.DynarchCalendar-hover-date {
  border-color: #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-day-othermonth.DynarchCalendar-hover-date {
  border-color: #efefef;
}

.DynarchCalendar-dayNames .DynarchCalendar-weekend { color: #e7ba20; }
.DynarchCalendar-day-othermonth.DynarchCalendar-weekend { color: #5f5f5f; }

.DynarchCalendar-day-selected {
  padding: 3px;
  /*margin: 1px;
  background-color: #e7ba20;*/
  color: #ffffff !important;
  background:url(../images/img/caldayover.png) no-repeat !important;
  background-position:center center !important;
}
.highlight {
  padding: 3px;
  /*margin: 1px;
  background-color: #e7ba20;*/
  color: #ffffff !important;
  background:url(../images/img/caldayover.png) no-repeat !important;
  background-position:center center !important;
}
.highlight2 {
  padding: 3px;
  /*margin: 1px;
  background-color: #e7ba20;*/
  color: #b4b4b4 !important;
  background:url(../images/img/caldayover2.png) no-repeat !important;
  background-position:center center !important;
}
.highlight.highlight2 {
  padding: 3px;
  /*margin: 1px;
  background-color: #e7ba20;*/
  color: #b4b4b4 !important;
  background:url(../images/img/caldayover3.png) no-repeat !important;
  background-position:center center !important;
}
.highlight_user {
  	height: 20px;
	line-height: 20px;
	padding: 1px 3px;
	width: 20px;
	/*margin: 1px;
	background-color: #e7ba20;*/
	color: #ffffff !important;
	background:url(../images/img/caldayover_user.jpg) no-repeat !important;
	background-position:center center !important;
}
.highlight_user2 {
  	height: 20px;
	line-height: 20px;
	padding: 1px 3px;
	width: 20px;
	/*margin: 1px;
	background-color: #e7ba20;*/
	color: #b4b4b4 !important;
	background:url(../images/img/caldayover_user2.jpg) no-repeat !important;
	background-position:center center !important;
}
.highlight_user.highlight_user2 {
	height: 20px;
	line-height: 20px;
	padding: 1px 3px;
	width: 20px;
	/*margin: 1px;
	background-color: #e7ba20;*/
	color: #ffffff !important;
	background:url(../images/img/caldayover_user3.jpg) no-repeat !important;
	background-position:center center !important;
}
.DynarchCalendar-day-today.DynarchCalendar-day-selected { background-color: #999; }

/* focus */

.DynarchCalendar-focusLink {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.DynarchCalendar-focused {
  border-color: #000;
}

.DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
  background-color: #2a2a2a;
  border-color: #2a2a2a;
}
.ed_Calendar_user .DynarchCalendar-focused .DynarchCalendar-topBar, .ed_Calendar_user .DynarchCalendar-focused .DynarchCalendar-bottomBar{
  background-color: #ffffff;
  border-color: #eaeaea;
}
.tt_event_calendar_container .DynarchCalendar-focused .DynarchCalendar-topBar, .tt_event_calendar_container .DynarchCalendar-focused .DynarchCalendar-bottomBar{
  background-color: #efefef;
  border-color: #d4d4d4;
}

.DynarchCalendar-focused .DynarchCalendar-hover-week {
  background-color: #2a2a2a;
}
.ed_Calendar_user .DynarchCalendar-focused .DynarchCalendar-hover-week{
  background-color: #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-focused .DynarchCalendar-hover-week{
  background-color: #efefef;
}

.DynarchCalendar-tooltip {
  position: absolute;
  top: 100%;
  width: 100%;
}

.DynarchCalendar-tooltipCont {
  margin: 0 5px 0 5px;
  border: 1px solid #2A2A2A;
  border-top: 0;
  padding: 3px 6px;
  background: #2a2a2a;
}
.ed_Calendar_user .DynarchCalendar-tooltipCont{
  background: #ffffff;
  border: 1px solid #ffffff; 
}
.tt_event_calendar_container .DynarchCalendar-tooltipCont{
  background: #efefef;
  border: 1px solid #efefef; 
}

.DynarchCalendar-focused .DynarchCalendar-tooltipCont {
  background: #2a2a2a;
  border-color: #000;
}
.ed_Calendar_user .DynarchCalendar-focused .DynarchCalendar-tooltipCont{
  background: #ffffff;
}
.tt_event_calendar_container .DynarchCalendar-focused .DynarchCalendar-tooltipCont{
  background: #efefef;
}

@media print {
  .DynarchCalendar-day-selected {
    padding: 3px;
    border: 1px solid #000;
    margin: 0 !important;
  }
}
