.languageBar{
    position:relative;
    float:left;
    margin:1px 0 1px;
    height:33px;
    width:100%;
    background:#000;
    font:bold 10px/10px arial;
    text-transform:uppercase;
    color:#fff
}
.languageBarInsideCon{
    margin:0 auto;
    height:33px;
    padding:0;
    position:relative;
    text-align:left;
    width:984px
}
.languageBarInside{
   position:absolute;
   top:0;
   right:51px;
   min-width:339px;
   height:33px;
}
.languageBarInside > div,.languageBarInside a > div{
    position:relative;
    float:left;
    margin:12px 0 0 0;
    cursor:pointer;
}
.recentlyViewed{
    padding:0;
    height:9px;
    width:115px;
    border-right:1px solid #fff;
}
.changeCurrencyBtn{
    padding:0 6px;
    text-align:center;
    height:9px;
    min-width:86px;
    border-right:1px solid #fff;
}
.languageBlock{
    margin-left:20px !important;
    padding:0;
    height:9px;
    width:83px;
}
.languageBlock img{
    position:absolute;
    right:0;
    top:-1px;
    border:0;
    width:19px;
    height:14px;
    display:block;
}
.changeCurrencyFromBar{
    text-decoration:none;
    outline: none;
}
.changeCurrencyFromBar{
    color:#fff;
}