
/*-----------------------------------------------------
Page not found
*/
*{ margin:0; padding:0}
/*.top_header{ background:#000 url(../images/top_header.jpg) no-repeat center  top; height:90px;}
.footer{ background:#000 url(../images/footer.jpg) no-repeat center  top; height:60px; margin-top:40px;
 cursor: default; bottom: 0; position: fixed; width: 100%; z-index: 1000;}*/

 .pagenotfound_body{ background:#231f20;}

body{background:#231f20;}
.middle_body{background:#231f20 url(../images/pagenotfound/pagenotfound_bg.jpg) repeat-x 0 0;}
.pagenotfound_txtbody{ background: url(../images/pagenotfound/pagenotfound_cloud_1.png) no-repeat top center; width:100%;  min-height:450px;  padding: 251px 0 0;}

.pagentfnd_txt{ width:1000px; margin:0 auto; height:266px; background:url(../images/pagenotfound/pagenotfound_light.jpg) 70px 0px no-repeat;} 

.pagentfnd_txt h2{  color: #4e494a; font: bold 40px/60px "Arial"; margin: 0 0 0 200px; padding: 0; }
 
 .page_not_cntr {background:url(../images/Search20.png) no-repeat 40px 0px; height:300px; width:100%}
 .cntr_text{ display: block;
    margin: 0 0 0 150px;
    padding:50px 0 50px 150px; 
	  } 
  .cntr_text h1{  color: #dfb0b0;
    font: 500 130px/110px arial; }
	
  .cntr_text h1 span{ color: #dfb0b0;
    display: inline-block;
    font: 500 30px/13px arial;
    margin: 0 0 0 -43px; }
  	  
 .cntr_text h2{ color: #999;
    font: 500 40px/40px arial;
    margin: 0;
    padding: 0}
	
  .cntr_text p{font: bold 13px/20px arial; color: #cea113; }
 