.slider-tt {
  width: 198px;
  margin:11px 0 0 0 !important;
  float:left;
}
.slider-tt > .dragger {
    width: 21px;
    height: 17px;
    margin-top:-12px !important;
    background: url(../images/planner/scaleLogo.png);
}
.slider-tt > .track, .slider-tt > .highlight-track {
    width:198px;
    height:30px;
    background: url(../images/planner/scraollBar.png);
}
.budgetOutput{
    position: relative;
    float: left;
    margin: 5px 0 0;
    padding: 0;
    clear: both;
    font:bold 12px arial;
    color:#cea113 !important;
    width: 198px;
    text-align: center;
}