.wrapper { display:table; width:100%; height:100%; position:absolute; left:0; top:0;}
.cell { display:table-cell; vertical-align:middle; width:100%; height:100%;background: url(fancybox_loading_1.gif) center center no-repeat black; }
.wrapper2 { display:block; width:100%; height:100%; position:absolute; float:left;}
.cell2 { display:block; vertical-align:middle; width:100%; height:100%;background: url(fancybox_loading_1.gif) center center no-repeat black;position:relative; }

#body{
    background:#000;
    margin: 0;
    padding: 0;
    min-width:100px;
    overflow:hidden;
}
div, span, a {
    outline: medium none;
    text-decoration: none;
}
.cell img{
    max-width:614px;
    max-height:579px;
}
.cell2 img{
    max-width:614px;
    max-height:579px;
}
.all_container2 {
    position: relative;
    display: block;
    width: 884px;
    height: 604px;
    padding: 0;
    margin:0;
}
#left_container {
    float: left;
    height: 604px;
    position: relative;
    width: 613px;
}
#video-thum-container{
    position: relative;
    display: block;
    width: 543px;
    height: 128px;
    padding: 0;
    margin:9px 0 0 30px;
    overflow: hidden;
}
.imageitem{
    float:left;
    position: relative;
    display: block;
    margin:0 2px 0 0;
    padding:0;
    cursor: pointer;
}
.thumb-pic-img{
    visibility: visible;
    opacity:1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
    width:89px;
    height:54px
}
.yellowborder{
    position:absolute;
    top:0;
    left:0;
    display:block;
    width: 87px;
    height: 52px;
    display:block;
    border:1px solid #393939;
}
.yellowborder.active{
    border:1px solid #e3b721;
}
#thumb-pic-container{
    position: relative;
    display: block;
    width: 543px;
    height: 59px;
    padding: 0;
    margin: 0;
}
#video-thum-separator{
    position: relative;
    display: block;
    width: 543px;
    height: 2px;
    padding: 0;
    margin: 6px 0 0;
    background-color: #474747;
}
.video-thum-slider-wrap{
    background-color: transparent;
    position: relative;
    display: block;
    margin: 3px 0 0;
    padding: 0;
    height: 21px;
    outline: medium none;
    width: 543px;
}
.video-thum-slider-bar{
    background: url("../images/user-viewer-slider-bar.png") no-repeat 0 0;
    cursor: pointer;
    height: 19px;
    margin-left: 2px;
    outline: medium none;
    position: absolute;
    top: 1px;
    width: 79px;
    z-index: 10;
}
.bottom-thumb{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 543px;
    height: 15px;
    font: bold 10px Arial,Helvetica,sans-serif;
}
.delete-thumb{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    color: #959595;
    cursor: pointer;
}
.delete-thumb.active{
    color: #e3b721;
}
.save-thumb{
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    color: #e3b721;
    cursor: pointer;
}
.save-thumb-message{
    position: relative;
    float: right;
    margin: 0;
    padding: 0;
    color: #e3b721;
    cursor: pointer;
    display: none;
}
.delete-thumb-separator{
    position: relative;
    float: left;
    margin: 3px 9px 0 10px;
    padding: 0;
    color: #959595;
    height: 9px;
    width: 1px;
    background: #888;
    border-right: 1px solid #424242;
}
.save-thumb-separator{
    position: relative;
    float: right;
    margin: 3px 11px 0 11px;
    padding: 0;
    color: #959595;
    height: 9px;
    width: 1px;
    background: #e3b721;
    border-right: 1px solid #211802;
    border-left: 1px solid #4d3c05;
}
#flashcontent {
    display: block;
    float: left;
    height: 318px;
    position: relative;
    width: 554px;
    margin-left:30px;
    margin-top: 18px;
}
.user-viewphoto-flash-content {
    margin-top:35px;
}
.displaynone{
    display:none;
}
.header {
    float: left;
    height: 25px;
    position: relative;
    width: 100%;
    display: block;
    z-index: 10;
}
.header_inside {
    background: none repeat scroll 0 0 #252525;
    float: left;
    height: auto;
    position: relative;
    width: 100%;
    display: block;
}
.header_txt {
    color: #E7BA20;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    margin-left: 20px;
    position: relative;
    width: auto;
    line-height:25px;
}
.header_txt a{
    color: #E7BA20;
}
#ttPopup {
    color: #000000;
    display: block;
    float: left;
    height: 636px;
    overflow: hidden !important;
    position: relative;
    width: 615px;
}
#ttPopup .swipe-wrap {
    float: left;
    height: 100%;
    position: relative;
    width: 615px;
}
.image_cont_pic {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
#right_container{
    position: relative;
    display:block;
    background: none repeat scroll 0 0 #F6F6F6;
    float: left;
    height: 594px;
    padding: 5px;
    width: 260px;
    font-family:Arial, Helvetica, sans-serif;
    cursor:default;
}

#right_container .closeDiv{
    display: none;
}
#right_container .shadow {
    box-shadow: none;
}
.edit_label {
    position: relative;
    display:block;
    float:left;
    color: #e7ba20;
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 20px;
    width: 243px;
    height:12px;
    line-height:12px;
}
.edit_spearator {
    position: relative;
    display:block;
    float: left;
    background: none repeat scroll 0 0 #ebebeb;
    border-bottom: 1px solid #DEDEDE;
    margin-left: 7px;
    margin-top: 12px;
    width: 245px;
    height:1px;
}
.edit_photo_spearator {
    position: relative;
    display:block;
    float: left;
    background: none repeat scroll 0 0 #ebebeb;
    border-bottom:2px solid #DEDEDE;
    width: 235px;
    height:1px;
    margin:0 0 0 10px;
    clear:both;
}
.top_arrow {
    background: url("../images/channel/notifications/top_arrow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: 8px;
    top: 56px;
    width: 15px;
    z-index: 34;
}
.top_buttons_container {
    color: #838383;
    float: left;
    font-size: 10px;
    height: 0;
    position: absolute;
    right: 26px;
    top: 53px;
    width: 230px;
    z-index: 35;
}
.hidden_buttons {
    display: none;
}
.top_button {
    color: #838383;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    position: relative;
    width: auto;
}
.seperator_button {
    background: url("../images/upload_list_seperator.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 9px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
    position: relative;
    width: 2px;
}
.overdatabutntficon {
    background: url("../images/Profile-friends-show.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    width: 12px;
}
.fancybox-inner{
    overflow:hidden !important;
}
.overdatabutntficon.inactive {
    background: url("../images/Profile-friends-hide.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.marginleft12 {
    margin-left: 12px !important;
}
.margintop35{
    margin-top:35px !important;
}
.margintop7{
    margin-top:7px !important;
}
.margintop17{
    margin-top:17px !important;
}
.margintop23{
    margin-top:23px !important;
}
#edit_info_part {
    position: relative;
    display:block;
    float: left;
}
#edit_photo_part {
    position: relative;
    display:none;
    float: left;
    margin:0;
}
.edit_photo_label{
    position: relative;
    display: block;
    float: left;
    height: 16px;
    width: 110px;
    padding:0;
    margin:0;
}
.edit_photo_number{
    position: relative;
    display:block;
    float: left;
    margin:0;
    padding:0;
    width:6px;
    font: bold 9px/16px Arial,Helvetica,sans-serif;
    color:#e7ba20;
}
.edit_photo_title{
    position: relative;
    display:block;
    float: left;
    margin:0 0 0 9px;
    padding:0;
    font: 11px/16px Arial,Helvetica,sans-serif;
    color:#686868;
}
#edit_thumb_logo{
    position: relative;
    display:block;
    float: right;
    width: 15px;
    height:16px;
    margin:0;
    padding:0;
    background: url("../images/edit_photo_drag.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#edit_photo_cont{
    position: relative;
    display:block;
    float: left;
    clear:both;
    width: 94px;
    height:56px;
    margin:0 0 0 10px;
    padding:0;
    border:1px solid #DEDEDE;
}
#crop-holder{
    width:86px;
    height:48px;
    margin:4px;
    padding:0; 
}
#crop-iholder{
    width:86px;
    height:48px;
    overflow:hidden;
    cursor:move !important;
    margin:0;
    padding:0; 
}
#edit_photo_original{
    position: relative;
    display:block;
    float: left;
    margin:0;
    padding:0;
    clear: both;
}
#imgPhoto{
    cursor:move !important;
}
#chk-constrain{
    position: relative;
    display:block;
    float: left;
    margin:16px 11px 0 13px;
    padding:0;
    width:7px;
    height: 14px;
    cursor: pointer;
    background: url("../images/photo_constrain.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#chk-constrain.active{
    cursor: pointer;
    background: url("../images/photo_constrain_active.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
#crop-size{
    display: none;
}
#edit_photo_size{
    position: relative;
    display:block;
    float: left;
    margin:0;
    padding:0;
    width: 78px;
    height: 42px;
}
.edit_photo_size_label{
    position: relative;
    display:block;
    float: left;
    margin:0;
    padding:0;
    width: 12px;
    height: 15px;
    font:10px/22px Arial,Helvetica,sans-serif;
    color:#686868;
    clear:both;
}
#edit_photo_width,#edit_photo_height{
    position: relative;
    display:block;
    float: left;
    margin:0;
    padding:0;
    width:55px;
    height:19px;
    font:10px/19px Arial,Helvetica,sans-serif;
    color:#000;
    background: #ebebeb;
    text-align: center;
}
#edit_photo_style{
    position: relative;
    display:block;
    float: left;
    margin:0 0 0 12px;
    padding:0;
}
#edit_photo_rotate_left{
    position: relative;
    display:block;
    float: left;
    margin:4px 0 0 0;
    padding:0;
    width:13px;
    height:14px;
    cursor: pointer;
    background: url("../images/photo_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#edit_photo_rotate_right{
    position: relative;
    display:block;
    float: left;
    margin:4px 0 0 11px;
    padding:0;
    width:13px;
    height:14px;
    cursor: pointer;
    background: url("../images/photo_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#edit_photo_undo{
    position: relative;
    display:block;
    float: left;
    margin:4px 0 0 9px;
    padding:0;
    width:10px;
    height:14px;
    cursor: pointer;
    background: url("../images/photo_undo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#edit_photo_redo{
    position: relative;
    display:block;
    float: left;
    margin:4px 0 0 9px;
    padding:0;
    width:11px;
    height:14px;
    cursor: pointer;
    background: url("../images/photo_redo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#edit_photo_effect{
    position: relative;
    display:block;
    float: left;
    margin:8px 8px 0 0;
    padding:1px 1px 1px;
    width: 123px;
    background: #ebebeb;
    height:23px;
    clear: both;
    font:11px/23px Arial,Helvetica,sans-serif;
    color: #000;
}
#edit_photo_apply{
    position: relative;
    display:block;
    float: left;
    margin:12px 0 0 44px;
    padding:0;
    height:10px;
    cursor: pointer;
}
#edit_photo_apply_logo{
    position: relative;
    display:block;
    float: left;
    margin:0;
    padding:0;
    width: 6px;
    height:5px;
    background: url("../images/photo_apply.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#edit_photo_apply_text{
    position: relative;
    display:block;
    float: left;
    font: 10px/4px Arial,Helvetica,sans-serif;
    color:#686868;
    margin:0 0 0 4px;
    padding:0;
    cursor: pointer;
}
#edit_photo_reset{
    position: relative;
    display:block;
    float: right;
    margin:17px 8px 0 0;
    padding:0;
    font: 10px Arial,Helvetica,sans-serif;
    color:#686868;
    cursor: pointer;
}
.edit_input_label {
    position: relative;
    display:block;
    float: left;
    color: #686868;
    font-size: 11px;
    margin-left: 11px;
    width: 243px;
    height:12px;
    line-height:12px;
}
.edit_input {
    border: 1px solid #ABADB3;
    display: block;
    float: left;
    color: #000000;
    font-size: 11px;
    height: 22px;
    margin-left: 7px;
    margin-top:2px;
    padding: 0 0 0 3px;
    position: relative;
    text-align: left;
    width: 240px;
}
.inputuploaddescriptionTF {
    height: 76px;
    resize: none;
}
.uploadinfomandatory {
    color: #E7BA20;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
    margin: 6px 0 0 5px;
    padding: 0;
    position: relative;
    text-align: left;
    text-transform: lowercase;
    width: 10px;
}
.edit_input_label div {
    float: left;
    padding: 0;
    position: relative;
    width: auto;
}
.uploadinfomandatory span {
    color: #E7BA20;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 10px;
    line-height: 10px;
    margin: -5px 0 0 6px;
    padding: 0;
    position: relative;
    text-align: left;
    text-transform: lowercase;
    width: 160px;
}
select.edit_input {
    height: 19px !important;
    line-height: 19px !important;
}
select.edit_input {
    -moz-box-sizing: content-box;
    height: 21px;
    line-height: 21px;
    padding: 2px 1px 1px;
    width: 241px;
}
.privacyclass {
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    padding: 0;
    position: relative;
    margin: 5px 0 0;
    width: 70px;
}
.privacyclassicons {
    display: block;
    float: left;
    height: 18px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 18px;
}
.privacyclasstxt {
    color: #686868;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 0 2px;
    padding: 0;
    position: relative;
    text-align: left;
    width: auto;
}
#privacyclass_user2.active > .privacyclassicons {
    background: url("../images/privacypublicover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.privacyclassicon_user2 {
    background: url("../images/privacypublic.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.privacyclassicon_user1 {
    background: url("../images/privacyfriends.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#privacyclass_user1.active > .privacyclassicons {
    background: url("../images/privacyfriendsover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.privacyclassicon_user3 {
    background: url("../images/privacyfriendsconnections.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#privacyclass_user3.active > .privacyclassicons {
    background: url("../images/privacyfriendsconnectionsover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.privacyclassicon_user5 {
    background: url("../images/privacyfollowers.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#privacyclass_user5.active > .privacyclassicons {
    background: url("../images/privacyfollowersover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.privacyclassicon_user0 {
    background: url("../images/privacyprivate.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#privacyclass_user0.active > .privacyclassicons {
    background: url("../images/privacyprivateover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.privacyclassicon_user4 {
    background: url("../images/privacycustom.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#privacyclass_user4.active > .privacyclassicons {
    background: url("../images/privacycustomover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-menu-item{
    background-color:#FFF;	
}
.ui-menu .ui-menu-item a{
    background-color:#FFF;
    color:#686868;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    /*height:10px;
    line-height:10px;*/
}
.ui-menu{
    z-index:100 !important;	
}
.ui-menu .ui-menu-item a.ui-state-focus{
    background-color:#3399ff;
    color:#ffffff;
}
.ui-autocomplete{
    width:240px !important;
    border: 1px solid #b2b2b2;
    max-height:104px;
    overflow:auto;
    /*z-index:150 !important;*/
}
.uploadinfomandatory.inactive {
    display: none;
}
.formContainer100 {
    float: left;
    position: relative;
    width: 100%;
}
.addmore {
    display: block;
    float: left;
    margin: -4px 0 0;
    padding: 0;
    position: relative;
    width: auto;
}
.addmore {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 152px;
    height: 16px;
}
#addmoretext, .addmoretext_css {
    background-color: #B8B8B8;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    width: 138px;
    top: 0;
    left: 0;
}
.marginleft5 {
    margin-left: 5px !important;
}
.marginleft3 {
    margin-left: 5px !important;
}
.margintop12 {
    margin-top: 12px !important;
}
.margintop8 {
    margin-top: 8px !important;
}
.margintop3 {
    margin-top: 3px !important;
}
input, textarea{
    font-family:Arial, Helvetica, sans-serif;
}
.uploadinfocheckbox, .uploadinfocheckbox_upload {
    clear: both;
    float: left;
    line-height: 13px;
    width: auto;
}
.formttl13 {
    color: #686868;
    font-size: 13px;
}
.uploadinfocheckbox, .uploadinfocheckboxtellus, .uploadinfocheckbox_upload {
    cursor: pointer;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.uploadinfocheckboxpic {
    background: url("../images/upload-unchecked.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 13px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 13px;
}
.uploadinfocheckboxtxt {
    color: #686868;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 13px;
    margin: 1px 0 0 4px;
    padding: 0;
    position: relative;
    text-align: left;
    width: auto;
}
.cancel_save.active {
    color: #E9C21B;
}
.cancel_save {
    color: #AFAFAF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    position: relative;
    text-transform: lowercase;
    width: auto;
}
.peoplecontainer_custom.peoplecontainer {
    background-color: #FFFFFF;
    height: 103px;
    position: absolute;
    width: 245px;
    top:424px;
    left:6px;
    z-index:9;
}
.peoplecontainer_custom .emailcontainer {
    border: 1px solid #BCBCBC;
    display: block;
    float: left;    
    margin: 0;
    height: 35px;
    min-height:0;
    padding: 2px;
    position: relative;
    width: 239px;
    z-index: 2;
    overflow-y:auto;
}
.peoplecontainer_custom .friendscontainer {
    border: 1px solid #DBDFE6;
    display: block;
    float: left;
    height: 61px;
    margin: -1px 0 0;
    padding: 0;
    position: relative;
    width: 243px;
    z-index: 1;
}
.peoplecontainer_custom .ui-autocomplete {
    border: 2px solid #555557;
    max-height: 144px;
    height: auto;
    overflow: auto;
    width: 403px !important;
    left:-1px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
    background-color:#555557;
    padding:0 !important;
    padding:2px !important;
    border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus {
    background-color:#ffffff;
}
.peoplecontainer_custom .ui-menu .ui-menu-item {
    background-color:#000000;	
}
.peoplecontainer_custom .ui-autocomplete{
    border: 2px solid #e2e3ea;
    max-height: 144px;
    height: auto;
    overflow: auto;
    width: 247px !important;
    left:-1px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
    background-color:#e2e3ea;
    padding:0 !important;
    padding:2px !important;
    border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus{
    background-color:#ffffff;
}
.peoplecontainer_custom .ui-menu .ui-menu-item{
    background-color:#ebebeb;	
}

.peoplecontainer_custom .peoplesearch{
    position:relative;
    width:100%; 
    height:32px; 
    background-color:#ebebeb;
    margin:0;
    padding:0;
}
.peoplesdata {
    background-color: #E7BA20;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 0 3px 3px 0;
    padding: 0 17px 0 5px;
    position: relative;
}
.peoplesdatainside {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.peoplesdataclose {
    background-image: url("../images/modal_profile_close.jpg");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 10px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 10px;
}
.uploadinfocheckbox.active > .uploadinfocheckboxpic {
    background: url("../images/upload-checked.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.peoplecontainer_custom .ui-autocomplete {
    border: 2px solid #555557;
    max-height: 144px;
    height: auto;
    overflow: auto;
    width: 403px !important;
    left:-1px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
    background-color:#555557;
    padding:0 !important;
    padding:2px !important;
    border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus {
    background-color:#ffffff;
}
.peoplecontainer_custom .ui-menu .ui-menu-item {
    background-color:#000000;	
}
.peoplecontainer_custom .ui-autocomplete{
    border: 2px solid #e2e3ea;
    max-height: 100px;
    height: auto;
    overflow: auto;
    width: 241px !important;
    left:0px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
    background-color:#e2e3ea;
    padding:0 !important;
    padding:2px !important;
    border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus{
    background-color:#ffffff;
}
.peoplecontainer_custom .ui-menu .ui-menu-item{
    background-color:#ebebeb;	
}
.peoplesearchtext {
    color: #959595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 32px;
    left: 42px;
    line-height: 32px;
    position: absolute;
    top: 0;
    width: auto;
}

.yellow_separator_privacy {
    background: url("../images/alert_seperator.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 9px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    position: relative;
    width: 2px;
}
.photo_separator {
    display: block;
    position: relative;
    float: left;
    width: 2px;
    height: 9px;
    background: url("../images/photo_separator.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 2px 10px;   
}
.cancel_save.active {
    color: #E9C21B;
}
.cancel_save {
    color: #AFAFAF;
    cursor: pointer;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 12px;
    position: relative;
    text-transform: lowercase;
    width: auto;
}
.edit_eventdate_button_container {
    float: right;
    margin-right: 7px;
    margin-top: 13px;
    position: relative;
    width: 245px;
}
.error_valid{
    position:absolute;
    display:block;
    width:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    height:12px;
    line-height:12px;
    top:17px;
    left:0;	
    color:#e3b721;
}
.error_valid_privacy{
    bottom: -14px;
    color: #E3B721;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 12px;
    left: 0;
    line-height: 12px;
    position: absolute;
    width: auto;
}
.info_pop_container{
    bottom: 14px;
    color: #212121;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 12px;
    left: 12px;
    line-height: 12px;
    position: absolute;
    width: 245px;
}
.info_pop_but{
    position:relative;
    display:block;
    width:auto;
    float:left;
    cursor:pointer;
}
.info_pop_but.active{
    color:#e3b721;
    cursor:default;
}
#add_but{
    position:absolute;
    right:0;	
}

.image_cont_album {
    float: left;
    height: 480px;
    margin-top: 53px;
    padding-left: 25px;
    position: relative;
    width: 560px;
}
.image_cont_album ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.image_cont_album ul li {
    cursor: pointer;
    display: block;
    float: left;
    height: 76px;
    list-style: none outside none;
    margin: 0 0 4px 4px;
    position: relative;
    width: 136px;
}
.image_cont_album ul li:hover > .mediabuttonscontainer{
    display: block;
}

.next_prev {
    bottom: 0;
    float: right;
    height: auto;
    position: absolute;
    right: 0px;
    width: auto;
}
.prev_div.inactive {
    background: url("../images/sprite_social.png")  no-repeat -376px 0;
    cursor: default;
}
.prev_div {
    background: url("../images/sprite_social.png")  no-repeat -350px 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    margin-right: 1px;
    position: relative;
    width: 25px;
}
.next_div.inactive {
    background: url("../images/sprite_social.png")  no-repeat -307px 0;
    cursor: default;
}
.next_div {
    background: url("../images/sprite_social.png")  no-repeat -281px 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 25px;
    position: relative;
    width: 25px;
}
.mediabuttonscontainer {
    background-color: #000000;
    bottom: 0px;
    display: none;
    height: 18px;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    z-index: 13;
    margin-right:5px;
    background-position:center center;
}
.vidimg {
    background: url("../images/video-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
}
.albumimg {
    background: url("../images/album-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
}
.albumimg.active {
    background: url("../images/album-icon-active.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
}
.clsimg, .clsimg_album {
    background: url("../images/delete-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
}
.photimg {
    background: url("../images/image-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 20px;
}
.mediabuttons {
    cursor: pointer;
    display: block;
    float: left;
    height: 18px;
    margin: 0;
    padding: 0;
    position: relative;
}
.ProfileHeaderOver, .ProfileFriendOver {
    display: none;
    height: 23px;
    left: 19px;
    overflow: hidden;
    position: absolute;
    top: 34px;
    width: 270px;
    z-index: 150;
}
.ProfileHeaderOverin {
    background-color: #838383;
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding-left: 11px;
    padding-right: 11px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: lowercase;
    top: 0;
    width: auto;
}
.icons-overtik {
    background-image: url("../images/icons-overtik.png");
    background-repeat: no-repeat;
    float: left;
    height: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 18px;
    width: 12px;
}
.remove_media_container{
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#F6F6F6;
    z-index:50;
}
.effect_list{
    position: relative;
    float: left;
    margin:14px 0 0 10px;
    padding: 0;
    clear: both;
    width:245px;
    height: 140px;
    overflow: hidden;
}
.actionBtnList{
    position:relative;
    float:left;
    margin:10px 0 0 0;
    padding:0;
    clear:both;
}
.actionBtnList div{
    position:relative;
    float:left;
    padding:0 8px;
    margin:0 0 5px 0;
    font:bold 11px arial;
    color:#686868;
    cursor:pointer;
    /*border-left:2px solid #686868;*/
}
.actionBtnList div:hover{
    color:#e9c21b;
    text-decoration: underline;
}
.rotateLeft{
    background:transparent url(../images/photoEditor/rotate_left.png) no-repeat right 3px;
    padding:0 13px 0 7px !important;
    margin:0 3px 0 0!important;
    clear:both;
}
.rotateRight{
    background:transparent url(../images/photoEditor/rotate_right.png) no-repeat right 3px;
    padding:0 13px 0 9px!important;
    margin:0 3px 0 0!important;
}
.reset{
    padding:0 0 0 8px!important;
}
#edit_photo_part .edit_photo_spearator{
    width:244px;
}
.actionBtnList span{
    display:block;
    position:relative;
    float:left;
    margin:2px 0 0 0;
    padding:0;
    width:0;
    height:10px;
    border-left:1px solid #cecece;
    border-right:1px solid #686868;
}
.margintop97{
    margin-top:97px !important;	
}
.margintop5{
    margin-top:5px !important;	
}
.marginleft12{
    margin-left:12px !important;	
}
.widthauto{
    width:auto !important;
}
.view_media_img, .ThumbViewer_a{
    color: #FFFFFF;
    font-size: 9px;
}
.effectCon{
    position: relative;
    float: left;
    margin:0 7px 12px 0;
    padding:0;
    width:75px;
    height:54px;
    cursor:pointer;
}
.borderSelect{
    border: 4px solid #e3b825;
    display: none;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 67px;
    z-index: 2;
}
.effectCon.active > .borderSelect{
    display: block;
}
.effectCon img{
    position: relative;
    float: left;
    margin:0;
    padding:0;
    width:75px;
    height:40px;
    clear: both;
}
.effectCon span{
    position: absolute;
    left:0;
    bottom:0;
    font:bold 11px arial;
    color:#000;
}
.effectCon span:hover{
    color:#e9c21b;
    text-decoration: underline;
}
.effect_list_int{
    position: relative;
    display: block;
    width: 820px;
    height: 140px;
    padding: 0;
    margin: 0;
}
.effect-thum-slider-wrap{
    background-color: #dfdfdf;
    position: relative;
    float:left;
    clear:both;
    display: block;
    margin: 3px 0 0;
    padding: 0;
    height: 21px;
    outline: medium none;
    width: 250px;
    border: 2px solid #f6f6f6;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
}
.effect-thum-slider-bar{
    background: url("../images/user-viewer-slider-bar.png") no-repeat 0 0;
    cursor: pointer;
    height: 19px;
    margin-left: 2px;
    outline: medium none;
    position: absolute;
    top: 1px;
    width: 79px;
    z-index: 10;
}
.can{
    display:none;
}
.next_img{
    float:right;
    margin-right: 10px;
    text-decoration: none;
    color:#ffffff;
}
.next_img a{
    float:right;
    margin-right: 10px;
    text-decoration: none;
    color:#ffffff;
}
.next_img a:hover{
    float:right;
    margin-right: 10px;
    text-decoration: none;
    color:#e7ba20;
}
.previous_img{
    float:left;
    margin-left: 10px;
    text-decoration: none;
    color:#ffffff;
}
.previous_img a{
    float:left;
    margin-left: 10px;
    text-decoration: none;
    color:#ffffff;
}
.previous_img a:hover{
    float:left;
    margin-left: 10px;
    text-decoration: none;
    color:#e7ba20;
}
#right_container #commentDiv {
    left:-25px;
    top:-2px; 
}
.viewPicsBut{
  color: #838383;
  cursor: pointer;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
  height: 15px;
  position: absolute;
  right: -6px;
  top: 27px;
  width: auto;
  z-index: 20;
}
.viewPicsBut:hover{
    color: #e7ba20;
}

/* Add media style for responsive 
----------------------------------------------------*/

@media only screen and (max-width:767px) 
{	
.all_container2 {
    height: 100% !important;
    width: 100% !important;
}

#left_container {
/*    height: 100% !important;
    width: 100% !important;
*/
    height: 60% !important;
    width: 100% !important;
}

#right_container {
    height: 38% !important;
    overflow-y: auto;
    padding: 1% !important;
    width: 98% !important;
}

#right_container .viewPicsBut {
    right: 0 !important;
    top: 10px !important;
}

#right_container #commentDiv {
    left: 2px !important;
    top: 0 !important;
}

#ttPopup {
    height: 100% !important;
    width: 100% !important;
}

#ttPopup .swipe-wrap {
    height: 100%;
    width: 100%;
}

.image_cont_pic {
    height: 100% !important;
    width: 100% !important;
}

.wrapper {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
}

.cell {
    display: block !important;
    height: 100% !important;
    vertical-align: middle !important;
    width: 100% !important;
}
 
.cell img {
  /*  height: auto !important;
    margin: 0 auto !important;
    max-width: inherit !important;
    position: relative !important;
    width: 100% !important;
	 
    height: auto !important;
    left: 0 !important;
    max-height: none !important;
    max-width: inherit !important;
    position: relative !important;
    top: 10px !important;
    width: 100% !important;
 */
    height: 90% !important;
    left: 0 !important;
    max-height: none !important;
    max-width: inherit !important;
    position: relative !important;
    top: 10px !important;
    width: auto !important;

}

}
	
	
@media only screen and (min-width: 768px) and (max-width:960px) {}