<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-left: 17px; padding-right: 17px; width:600px;">
	<tbody>
	    {% include 'emails/header.twig' %}
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="6" bgcolor="#ffffff">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#eac31a">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 22px; font-family: Arial; color: black; margin-top: 19px; line-height: 22px; font-weight: bold; margin-bottom: 0;">Madame Tussauds Las Vegas - 08:00; 13:15</p>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="41" bgcolor="#ffffff">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">Name of passenger</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">Mr test test</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">Number of adults</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">2</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">Nuber of children</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">0</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">Booking price</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">248.25</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">Date and time of activity</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">29-07-2017 at 08:00; 13:15</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">TouristTube Reference</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">Test0</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>

	    <tr>
		<td style="font-size: 0; line-height: 0;" height="10">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td>
		    <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
			    <td width="219" height="35" style="text-align: left; font-size: 16px; background-color: #eac31a;font-family: Arial;">
				<p style="color:#fffffe; padding-left: 8px; margin-bottom: 0;margin-top: 0; font-weight: bold;">Booking Status</p>
			    </td>
			    <td style="font-size: 0; line-height: 0;" width="10">
				&nbsp;
			    </td>
			    <td width="351" height="35" style="text-align: left; font-size: 17px; background-color: #000000;font-family: Arial;">
				<p style="color: #ffffff;text-align: left; margin-bottom: 0; padding-left: 8px; margin-top: 0;">Confirmed</p>
			    </td>
			</tr>
		    </table>
		</td>
	    </tr>

	    <tr>
		<td style="font-size: 0; line-height: 0;" height="43">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#dfdfdf">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="12">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 27px; font-family: Arial; color: black; margin-top: 0px; line-height: 27px; margin-bottom: 0;">This is your voucher. Please print it</p>
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="12">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="2" bgcolor="#dfdfdf">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td style="font-size: 0; line-height: 0;" height="37">
		    &nbsp;
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 0px; line-height: 17px; margin-bottom: 0;font-weight: bold;">Important information:</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 14px; margin-bottom: 0;padding-top: 18px;padding-bottom: 17px;">Please be ready at least 10 minutes prior to the scheduled pick-up time.</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #000000; margin-top: 0px; line-height: 17px; margin-bottom: 0;">Please call Paris Vision at least 24 hours before your date to reconfirm your reservation 
			and hotelpick-up. Phone number: +331 44 55 60 60</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: black; margin-top: 0px; line-height: 14px; margin-bottom: 0;font-weight: bold;padding-top: 35px;">Your booking is confirmed. You will receive another email with your pick up information</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;padding-top: 5px;">Our services include pick up and the drop off at hotels located inside Paris only 
			(postal code 75XXX).</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;padding-top: 15px;">Please be ready at least 10 minutes prior to the scheduled pick-up time.</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;padding-top: 15px;">Paris vision and its suppliers cannot be held responsible for the loss or theft of personal items 
			or luggage during the tours, in the buses and anywhere else and no guarantee can be given 
			to recover them.</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;padding-top: 15px;">Its partners and it suppliers reserve the right to cancel or modify any tours without previous 
			notice, if our client’s comfort and safety require it, and in case of strike, demonstration or traffic 
			conditions. Smoking on board coaches is strictly forbidden (law of 17 Spt 1977).</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;padding-top: 20px;">This activity is provided by:</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">Name: Paris Vision Minibus / Grayline Paris</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">Address: Paris Vision is a brand of Citivision SAS 75001 Paris</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">Telephone: +33 (0) 1 44 55 60 60</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">This voucher is your ticket and proof of purchase.</p>
		</td>
	    </tr>
	    <tr>
		<td bgcolor="#ffffff">
		    <p style="font-size: 14px; font-family: Arial; color: #797979; margin-top: 0px; line-height: 17px; margin-bottom: 0;">You must print it and bring it with you.</p>
		</td>
	    </tr>
	    
	    {#<tr>
		<td style="text-align: center;">
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;padding-top: 15px;padding-bottom: 9px;">You are subscribed as <a href="#" style="color: #000000;text-decoration: underline;text-transform: uppercase;">MSFEIR@PARAVISION.ORG</a></p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;padding-bottom: 9px;">Tell us if you would like your email <a href="#" style="color: #000000;text-decoration: underline;">sent to a different address</a></p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">For our Privacy Statement, ring 1800 - 11 - 27 - 37 from all countries</p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;padding-bottom: 9px;">to learn more about our data collection and usage practices.</p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;padding-bottom: 9px;">Review TouristTube™ <a href="#" style="color: #000000;text-decoration: underline;">terms & conditions</a></p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">Please do not reply to this message. </p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">This email was sent from a notification-only email address that cannot accept incoming email.</p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;padding-bottom: 9px;">You are receiving this email based on an account-related update on <a href="#" style="color: #000000;text-decoration: underline;">TouristTube</a></p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">Copyright © 1996-2017 TouristTube.com. All rights reserved.</p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">This e-mail was sent by TouristTube.com, Herengracht 597, 1017 CE Amsterdam, Netherlands </p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">When communicating with your booked accommodation via TouristTube.com you agree with the processing of the</p>
		    <p style="color: #404141;font-size: 11px; margin-top:0px; margin-bottom: 0;line-height: 14px;">communications as set out in our <a href="#" style="color: #000000;text-decoration: underline;">Privacy Policy</a></p>
		</td>
	    </tr>#}	    
	    {% include 'emails/footer.twig' %}
	</tbody>
    </table>
</body>