<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: Arial; padding-left: 17px; padding-right: 17px; width:600px;">
        <tbody>
            {% include 'emails/header.twig' %}
            <tr>
                <td bgcolor="#ffffff" style="padding: 0;">
                    <p style="font-size: 23px; font-family: Arial; color: black; margin-top: 30px; line-height: 23px; margin-bottom: 5px;">E-ticket Payment</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0;">
                    <p style="font-size: 17px; font-family: Arial; color: black; margin-top: 0px; line-height: 17px; margin-bottom: 0px;">Name: Rita Dagher</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0;">
                    <p style="font-size: 27px; font-family: Arial; color: black; margin-top: 45px; line-height: 27px; margin-bottom: 30px;">Payment Success</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0;">
                    <p style="font-size: 16px; font-family: Arial; color: #777777; margin-top: 0px; line-height: 16px; margin-bottom: 15px;">The payment was successfully made.</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0;">
                    <p style="font-size: 16px; font-family: Arial; color: #777777; margin-top: 0px; line-height: 16px; margin-bottom: 0px;">Please find fee receipt attached.</p>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 0;">
                    <p style="font-size: 16px; font-family: Arial; color: black; margin-top: 50px; line-height: 16px; margin-bottom: 15px;">Tourist Tube Team</p>
                </td>
            </tr>
            {% include 'emails/footer.twig' %}
        </tbody>
    </table>
</body>