.city_activites_container .header_title{font-size: 22px;color: #201b1d;margin-bottom: 0;}
.city_activites_container .new_margin{margin-left: 5px;margin-right: 5px;}
.city_activites_container .new_padding{padding: 5px;}
.subtitle_home_new{color:#585858;font-size: 16px;margin-top: 10px; line-height: 18px; overflow: hidden; margin-bottom:8px;}
.txtPink{color:#db3a69;}
