.step1typetransfer:hover > p{
    text-decoration: underline !important;
    color: #d10c3b !important;
}
.step1typetransfer.active > p{
    text-decoration: underline !important;
    color: #d10c3b !important;
}
.airportItem:hover{
    color: #d10c3b !important;
}
.airportItem.active{
    color: #d10c3b !important;
}
.airportItem{
    color: #00b7d9 !important;
}
.transInfo1, .transInfo2, .transInfo3, .ti2Arrival, .ti2Departure, .ti2Address, .ti2Total, #bookingArrivalBox, #bookingDepartureBox{
    display: none;
}