/*===========================================================CSS common ===================================================================================================*/

/*MARGINGS AND PADDINGS */
.margin_top_4{margin-top: 4px;}
.margin_top_10{margin-top: 10px;}
.margin_top_15{margin-top: 15px;}
.margin_top_20{margin-top: 20px;}
.margin_top_30{margin-top: 30px;}
.margin_top_40{margin-top: 40px;}
.margin_top_42{margin-top: 42px;}
.margin_top_45{margin-top: 45px;}
.margin_top_65{margin-top: 65px;}
.margin_bottom_0{margin-bottom: 0;}
.margin_bottom_7{margin-bottom: 7px;}
.margin_bottom_15{margin-bottom: 15px;}
.margin_bottom_20{margin-bottom: 20px;}
.margin_bottom_30{margin-bottom: 30px;}
.margin_bottom_40{margin-bottom: 40px;}
.margin_bottom_37{margin-bottom: 37px;}
.margin_bottom_45{margin-bottom: 45px;}
.margin_bottom_38{margin-bottom: 38px;}
.margin_right_10{margin-right: 10px;}
.deals_container .deals_new_padding.padding_top_0{padding-top: 0;}
.deals_container .deals_new_padding.padding_bottom_0{padding-bottom: 0;}
.padding_right_10{padding-right: 10px;}
.padding_right_5{padding-right: 5px;}
.padding_left_40{padding-left: 40px;}
.padding_left_10{padding-left: 10px;}
.padding_left_30{padding-left: 30px;}
.padding_left_20{padding-left: 20px;}
.padding_left_15{padding-left: 15px;}
/*=============================================*/
.deals_container .genderTitle{font-size: 17px; font-weight: bold; margin-right: 10px; }
/*CSS border double */
.deals_container .border_top_but_row{height: 7px;border-top: 3px solid #bababa;border-bottom: 3px solid #bababa;}
/*=============================================*/

/*CSS filer tabs */
.deals_container .filters-group a{font-weight: normal;padding:17px 9px;cursor: pointer;margin-bottom: 0px;float: left;color: #00b7d9;text-decoration: none;text-align: center;}
.deals_container .filters-group a.active{color: #FFFFFF;background-color: #00b7d9;}
.deals_container .sort_by_tabs{min-height: 52px;border: 2px solid #eceff1;}
@media (max-width:1199px){
    .deals_container .sort_by_tabs{padding-left: 0;}
}
@media (max-width:400px){
    .deals_container .filters-group a{font-size: 13px;}
}
/*=============================================*/


/*CSS Right Panel */
.deals_container .right_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;left:0px;top:0px;}
.deals_container .left_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;right:-5px;top:0px;}
.deals_container .right_panel{padding-right: 0;}
@media (max-width:991px){
    /*CSS Right Panel */
    .deals_container .right_panel:after,.left_panel:after{display: none;}
}
@media (min-width:768px) and (max-width:991px){
    /*CSS Right Panel */
    .deals_container .right_panel{padding-left: 0px;}
}
@media (max-width:767px){
    /*CSS Right Panel */
    .deals_container .right_panel{padding-left: 15px;padding-right: 15px;}
    /*=============================================*/
}
/*=============================================*/


/*CSS left Panel filters*/
.deals_container .refine_title{color: #00b7d9;font-size: 24px;margin-bottom: 40px;margin-top: 16px;}
.deals_container .refine_subtitles{color: #606060;font-size: 13px;font-weight: bold;text-transform: uppercase;margin-left: -15px;}
.deals_container .refine_subtitles span{font-weight: normal;text-transform: none;}
.deals_container .refine_subtitles i{padding-right: 8px;color: #00b7d9;}
.deals_container .checkboxcontainer label{color: #606060;font-size: 15px;font-weight: normal;margin-bottom: 0;}
.deals_container .checkboxcontainer label span.dash_sep{padding-left: 15px;padding-right: 15px;}
.deals_container .checkboxcontainer input[type="checkbox"]{margin-right: 7px;}
.deals_container .bigpad_right{padding-right: 30px;}
/*=============================================*/

/*CSS Blue slider*/
.slider.slider-horizontal .slider-track {height: 3px;left: 10px;margin-top: -5px;top: 50%;width: 100%;}
.slider-selection {background-color: #00b7d9;background-image: none;}
.slider-handle { background-color: #00b7d9;background-image: none;height: 17px;width: 17px;}
.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle {margin-left: -10px;margin-top: -7px;}
.slider.slider-horizontal {width: 100%;max-width: 100%;}
/*=============================================*/

/*CSS bottom tabs*/
.deals_container .dealsulreasons{list-style: none;padding-left: 0;}
.deals_container .dealsulreasons li{padding-left: 5px;border-right: 1px solid #e0e0e0;}
.deals_container .dealsulreasons li:first-child{padding-left: 0;}
.deals_container .dealsulreasons li:last-child{border-right: none;}
.deals_container .bigultext{font-size: 17px;color: black;margin-bottom: 0;}
.deals_container .imgdiv_butlist{float: left;}
.deals_container .imgdiv_butlist img{padding-right: 4px;}
.deals_container .reasonsdeals{ font-size: 22px;color: black;margin-bottom: 0;}
.deals_container .greytextdeals{color: #737373;font-size: 13px;}
.deals_container .smalultxt{color: black;font-size: 10px;}

@media (min-width:768px) and (max-width:991px){
    /*CSS bottom tabs*/
    .deals_container .bigultext {font-size: 15px;}
    /*=============================================*/
}
@media (max-width:767px){
    /*CSS bottom tabs*/
    .deals_container .dealsulreasons li:first-child{padding-left: 5px;}
    .deals_container .dealsulreasons li{margin-bottom: 10px;border-right: none;}
    /*=============================================*/
}
@media (max-width:400px){
    /*CSS bottom tabs*/
    .deals_container .dealsulreasons li{width: 100%;}
    /*=============================================*/
}
/*=============================================*/

/*================================================================END COMMON CSS================================================================================================*/
/*#################################################################################################################################################################*/


/*================================================================deals new page================================================================================================*/

.deals_container .row_title_deals{font-size: 27px;color: black;}
.deals_container .row_title_deals span{font-size: 17px;color: #db3a69;}
.deals_container .deals_new_margin{margin-left: -5px;margin-right: -5px;}
.deals_container .deals_new_padding{padding: 5px;}
.deals_container .container_min_height{min-height: 240px;}
.deals_container .image_title{position:absolute;top:50%;left:50%;text-align:center;transform: translateX(-50%) translateY(-50%);font-size: 22px;font-weight: bold;color: white;margin: 0;text-transform: uppercase; line-height:19px;background:rgba(0, 0, 0, 0.54);padding: 5px;}
.deals_container .under_image_title{font-size: 16px;color: #db3a69;margin-top: 7px;}
.deals_container .under_image_title span{font-size: 16px;color: #585858;}
.deals_container .border_grey_1{border-bottom: 1px solid #d8d8d8;}
.deals_container .pad_but_z{padding-bottom: 0;}
.deals_container .image_style_container{padding-left: 35px; padding-right: 35px;margin: 0 auto;}
.deals_container .text_style_container{padding-left: 20px; padding-right: 20px;text-align: center;}
.deals_container .discount_img{position: absolute;right: 25px;top: 20px;width: 45px;height: 45px;border-radius: 50%;background-color: #d10b3a;}
.deals_container .discount_img p{color: white;font-size: 16px;position: absolute;top: 50%;left: 50%;text-align: center;transform: translateX(-50%) translateY(-50%);}
.deals_container .grey_img_and_txt_container {min-height: 290px;padding-top: 20px;background-color:#f7f7f7; }
.deals_container .image_txt_subtitle {color: #606060;font-size: 16px;line-height: 20px;margin-top: 5px; }
.deals_container .travelers_recommendation {color: black;font-size: 13px; }
.deals_container .price_pink {color: #db3a69;font-size: 22px; }
/*================================================================END deals new page============================================================================================*/
/*#################################################################################################################################################################*/


/*================================================================deals list page===============================================================================================*/
.deals_container .grey_img_container{background-color: #f7f7f7;width: 100%;height: auto;float: left;position: relative;padding: 15px;}
.deals_container .discount_img{position: absolute;right: 5px;top: 25px;width: 45px;height: 45px;border-radius: 50%;background-color: #d10b3a;}
.deals_container .discount_img p{color: white;font-size: 16px;position: absolute;top: 50%;left: 50%;font-weight: bold;text-align: center;transform: translateX(-50%) translateY(-50%);}
.deals_container .infotext_container{padding-left: 12px;padding-right: 12px;}
.deals_container .infotext_container h2{font-size: 17px;font-weight: bold;color: black;margin-top: 0;}
.deals_container .infotext_container p.blacktext{font-size: 14px;color: #313131;margin-bottom: 15px;}
.deals_container .location_div{float: left;}
.deals_container .location_div.new_style_pad_margin i{padding-right: 4px;margin-left: 10px;}
.deals_container .location_text_grey{color: #606060;font-size: 15px;margin-bottom: 0;}
.deals_container .location_text_grey span{padding-left: 10px;padding-right: 10px;}
.deals_container .deals_list_ul{list-style: none;padding-left: 32px;}
.deals_container .deals_list_ul li{display: inline-block;}
.deals_container .deals_list_ul li a{color: #00b7d9;font-size: 15px;text-decoration: none;}
.deals_container .deals_list_ul li.seperator{padding-left: 10px;padding-right: 10px;color: #00b7d9;}
.deals_container .addtobagtextstyle, .attractions_list_new_container .addtobagtextstyle:hover {font-size: 13px;color: black;padding-left: 24px;line-height: 18px; text-decoration: none;display: block;}
.deals_container .add_tobag_container{float: right;}
.deals_container .bestpricewizlogo{margin-bottom: 5px;font-size: 14px;font-weight: bold; color: #108741;margin-top: 12px;}
.deals_container .bestpricewizlogo img{padding-right: 2px;}
.deals_container .prev_price{font-size: 13px;color: #313131;margin-bottom: 0;text-decoration: line-through;}
.deals_container .cur_price{font-size: 17px;color: #d10b3a;margin-bottom: 10px;}
.deals_container .pink_button{font-size: 16px;color: white;width: 100%;height: 42px;background-color: #db3a69;border: none;text-transform: uppercase;padding: 10px;}

@media (max-width:767px){
    /*CSS Right Panel Content deals list page*/
    .deals_container .xs_pad_left{padding-left: 10px;}
    .deals_container .infotext_container h2 {margin-top: 15px;}
    /*=============================================*/
    .deals_container .location_div.new_style_pad_margin i{margin-left: 0px;}
    .deals_container .xs-margin_top_10{margin-top: 10px;}

}
@media (max-width:525px){
    .deals_container .xs-full_width{width: 100%;}
    .deals_container .xs_pad_left{padding-top: 10px;}
}

.loadmore_dat{
    background-color: #db3a69;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    line-height: 42px;
}

/*================================================================END deals list page===========================================================================================*/
/*#################################################################################################################################################################*/


/*================================================================deals booking details page============================================================================================*/
.deals_container .font-13{font-size: 13px;}
.deals_container .font-bold{font-weight: bold;}
.deals_container .blue{color: #00b7d9;}
.deals_container .underline{text-decoration: underline;}
.deals_container .blue_font-awsome_logo{color: #00b7d9; padding-right: 3px;}
.deals_container .text-right-style-container{text-align: right;}
.deals_container .right-separation:before{position: absolute;content:" ";left:15px;top:0px;height: 18px;width: 2px;background:#00b7d9;}
.deals_container .cursor_pointer{cursor: pointer;}
.deals_container .padding_left_bookingdetails_container{padding-left: 68px;}
.deals_container .view_booking{width: 222px;height: 60px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px;margin-bottom: 15px;}
.deals_container .grey{color: #5f5f5f;}
.deals_container .black{color: black;}
.deals_container .font-22{font-size: 22px;}
.deals_container .font-13{font-size: 13px;}
.deals_container .font-17{font-size: 17px;}
.deals_container .font-16{font-size: 16px;}
.deals_container .font-14{font-size: 14px;}
.deals_container .font-28{font-size: 28px;}
.deals_container .signin_txt a{color: #00b7d9;text-decoration: underline;}
.deals_container .booking_confirmation_txt a{color: #00b7d9;}
.deals_container .side-left-icon{float: left;width:25px;}
.deals_container .yellow_font-awsome_logo{color: #eac31a;padding-right: 7px;}
.deals_container .side-right-icon{float: left;width:calc(100% - 25px);}
.deals_container .pink_font-awsome_logo{color: #db3a69;margin-right: 15px;}
.deals_container .location_txt{float: left;}
.deals_container .stars_block {margin-top: 5px;}
.deals_container .pink {color: #db3a69;}
.deals_container .blue {color: #00b7d9;}
.deals_container .font-30 {font-size: 30px;}
.deals_container .border_top_but_row_3 {height: 3px;border-top: 1px solid #bababa;border-bottom: 1px solid #bababa;}
.deals_container .cancel_booking{width: 278px;height: 60px;border: none;color: white;background-color: #828282;font-size: 22px}

@media (max-width:1199px){
    .deals_container .booking-details_container .view_booking{margin-top: 15px;}
}
@media (max-width:767px){
    .deals_container .xs_style{margin-bottom: 10px;display: block;}
    .deals_container .right-separation:before{left: -13px;top: 2px;height: 14px;}
    .deals_container .text-right-style-container{text-align: left;}
    .deals_container .padding_left_bookingdetails_container{padding-left: 54px;}
    .deals_container .title_style-xs{font-weight: normal;margin-top: 0;}
}
@media (max-width:380px){
    .deals_container .xss-width_80{width: 80%;}
}

/*================================================================END dbooking details page========================================================================================*/
/*#################################################################################################################################################################*/

/*================================================================deals booking steps page============================================================================================*/
.deals_container .yellow_right_arrow_font-awsome_logo{color: #edcb37;margin-right: 6px;}
.deals_container .font-27{font-size: 27px;}
.deals_container .border_bottom_2_grey{border-bottom: 2px solid #eaeef0;}
.deals_container .deals_select_country select{width: 100%; height: 76px; border: 1px solid #d5d6d8; color: black; font-size: 16px;font-weight: bold; text-align: center;appearance: none; -moz-appearance: none; -webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;cursor: pointer;}
.deals_container .next_yellow_button{width: 100%;height: 60px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px;}
.deals_container .prev_grey_button{width: 100%;height: 60px;border: none;color: white;background-color: #828282;font-size: 22px;margin-right: 10px;}
.deals_container .booking_steps_container{display: none;}
.deals_container #destination_select_step{display: block;}
.deals_container .font-24{font-size: 24px;}
.deals_container .airport_select_list{list-style: none;padding-left: 0;}
.deals_container .airport_select_list li{padding-left: 15px;min-height: 82px;margin-bottom: 40px;}
.deals_container .airport_select_list li a{color: #00b7d9;font-size: 19px;text-decoration: none;width: 90%;float: left;}
.deals_container .airport_select_list li span.double_border_right{border-right: 2px solid #efefef;float: right;width: 11px;border-left: 2px solid #efefef;min-height: 82px;}
.deals_container .airport_select_list li:last-child span.double_border_right{border-right: none;border-left: none;}
.deals_container .common_selectbox_deals select{width: 100%; height: 56px; border: 1px solid #d5d6d8; color: black; font-size: 17px;padding-left: 14px;appearance: none; -moz-appearance: none; -webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;cursor: pointer;}
.deals_container .pink_titlesection_div{height: 54px;padding-left: 30px;background-color: #db3a69;font-size: 16px;color: white;margin-bottom: 0;line-height: 65px;border: 2px solid #dadada;border-bottom: none;}
.deals_container .text_rows_commun_container{min-height: 54px;padding-left: 12px;border: 2px solid #dadada;border-bottom: none;}
.deals_container .text_row_common_blue{color: #00b7d9;font-size: 16px;margin-bottom: 0;margin-top: 5px;}
.deals_container .text_row_common_grey{color: #787878;font-size: 16px;margin-bottom: 0;padding-left: 18px;}
.deals_container .text_row_common_grey_adress{color: #787878;font-size: 16px;margin-bottom: 0;margin-top: 22px;}
.deals_container .black_common_dnf{color: black;font-size: 16px;margin-bottom: 0;margin-top: 22px;padding-left: 18px;text-decoration: none;display: block;font-weight: bold;}
.deals_container .blue_arrow_right{color: #5662bc; margin-right: 4px;}
.deals_container .container_border_but{border-bottom: 2px solid #dadada;}
.deals_container .centeredtext_selectbox select{width: 100%; height: 56px; border: 1px solid #d5d6d8; color: black; font-size: 16px;font-weight: bold;text-align: center;appearance: none; -moz-appearance: none; -webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;cursor: pointer;padding: 0 30px 0 10px;}
.deals_container .centeredtext_selectbox label{color: #8e8e8e;font-size: 16px;margin-bottom: 0;font-weight: normal;}

.deals_container .font-19{font-size: 19px;}
.deals_container .add_to_cart_btn{width: 227px;height: 45px;border: none;color: white;background-color: #db3a69;font-size: 16px;font-weight: bold;float: right;}
.deals_container .right_txt_img_container{padding-left: 10px;}
.deals_container .new_input_deals_common input{cursor: unset;height: 76px; width: 100%; border: 1px solid #d5d6d8;text-align: center;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);box-shadow: inset 0 1px 1px rgba(0,0,0,0);background-color: white;}
.deals_container .new_input_deals_common.height-small input{height: 56px;}
.deals_container .has-error .help-block,.deals_container .has-error .control-label,.deals_container .has-error .radio,.deals_container .has-error .checkbox,.deals_container .has-error .radio-inline,.deals_container .has-error .checkbox-inline,.deals_container .has-error.radio label,.deals_container .has-error.checkbox label,.deals_container .has-error.radio-inline label,.deals_container .has-error.checkbox-inline label{font-size: 13px; color: #db3a69;line-height: 11px;}
.deals_container .new_input_deals_common input::placeholder {color: #000000;opacity: 1;font-weight: bold;font-size: 16px;}
.deals_container .new_input_deals_common input:-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.deals_container .new_input_deals_common input::-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.deals_container .new_input_deals_common input:focus{border-color: #db3a69;background: #f1f2f2;}
.deals_container .select_big_bold select {height: 76px;font-weight: bold;text-align: center;font-size: 16px;}
.deals_container .line-height-20{line-height: 20px;}
.deals_container .pink_buttoon{font-size: 22px;color: white;width: 265px;height: 60px;background-color: #db3a69;}
.deals_container .lock_img_container img{margin-left: 20px;}
.deals_container .paymentselect_newstyle select{padding-left: 10px;text-align: left;}
.deals_container .paymentselect_newstyle input{padding-left: 10px;text-align: left;}
.deals_container .deals_textarea {resize:none;width: 100%;height:120px;border: 1px solid #d5d6d8;padding: 5px;color: #bbbbbb;font-size: 14px;border-radius: 5px; }
.deals_container .select_grey select {border: none; color: white;font-weight: normal;}
.deals_container .label_terms_cond_agree label {font-weight: normal;font-size: 16px;color: #6b6b6b;}
.deals_container .label_terms_cond_agree label span a {font-size: 16px;color: black;text-decoration: underline;}
.deals_container .images_payment_sponser img {float: left;cursor: pointer;}
@media (max-width:991px){
    .deals_container .xs_sm-border_buttom_4{border-bottom: 4px solid #f1f1f1;margin-bottom: 30px;margin-top: 30px;}
}
@media (min-width:768px) and (max-width:991px){
    .deals_container .right_panel.sm_right_panel{padding-left: 15px;}
}
@media (max-width:767px){
    .deals_container .prev_grey_button{margin-right: 0;margin-bottom: 10px;}
    .deals_container .airport_select_list li {padding-left: 0; min-height: 31px; margin-bottom: 0;}
    .deals_container .xs-margin_top_15 {margin-top: 15px;}
}
@media (max-width:550px){
    .deals_container .xss_width_100{width: 100%;}
}

/*================================================================END deals booking steps page========================================================================================*/
/*#################################################################################################################################################################*/


/*================================================================deals details page============================================================================================*/
.deals_container .font-18{font-size: 18px;}
.deals_container .font-35{font-size: 35px;}
.deals_container .red{color: #d10c3b;}
.deals_container .green{color: #108741;}
.deals_container .line-height-35{line-height: 35px;}
.deals_container .font-normal{font-weight: normal;}
.deals_container .float-left{float: left;}
.deals_container .black-chek_logo{color: black;padding-right: 2px;}
.deals_container .pink-chek_logo{color: #db3a69;padding-right: 6px;}
.deals_container .photo_gallery_container img{width: 100%;}
.deals_container .number_img{position: absolute;left: 0;top: 0;width: 26px;height: 26px;border-radius: 50%;background-color: #e9c21d;}
.deals_container .number_img p{color: white;font-size: 16px;position: absolute;top: 50%;left: 50%;font-weight: bold;text-align: center;transform: translateX(-50%) translateY(-50%);}
.deals_container .pink_button_60_center{font-size: 16px;font-weight: bold;color: white;width: 100%;height: 60px;background-color: #db3a69;border: none;text-transform: uppercase;text-align: center;}
.deals_container .addtobag{font-size: 14px; color: #606060;text-align: center;text-decoration: none;display: block;}
.deals_container .addtobag img{padding-right: 8px;}
.deals_container .whytt_list{list-style: none;padding-left: 0;}
.deals_container .whytt_list li{padding-left: 23px;color: #606060;font-size: 16px;}
.deals_container .border_1_grey {border-bottom: 1px solid #dfdfdf;}
.deals_container .no-underline {text-decoration: none;}
.deals_container .vertical_centered_text {height: 56px;line-height: 56px;margin-bottom: 4px;}
.deals_container .line-height-16 {line-height: 16px;}
.deals_container .grey_list_common {list-style: none;padding-left: 0;}
.deals_container .grey_list_common li {color: #606060;font-size: 16px;}
.deals_container  ul.grey_list_common li:before{ content:"- ";}
.deals_container  ul.starting_time_list{ list-style: none;padding-left: 0;}
.deals_container  ul.starting_time_list li{ display: inline-block; font-size: 16px;color: #00b7d9;padding-right: 20px;cursor: pointer;}
.deals_container  ul.starting_time_list li.active_date{ color: #db3a69;}
.deals_container  ul.starting_time_list li:first-child{color: #606060;cursor: default;}
.deals_container  ul.starting_time_list li:last-child{padding-right: 0;}
.deals_container .pink_common_txt_but{width: 88px;text-align: center;height: 42px;line-height: 42px;font-size: 16px;font-weight: bold;color: white;border-radius: 4px;background-color: #db3a69;margin-bottom: 0;}
.deals_container .grey_right_but_txt{height: 42px;line-height: 42px;font-size: 14px;color: #606060;margin-bottom: 0;}
.deals_container .height-13{height: 13px;}
.deals_container .autoborder:before{position: absolute;content:" ";left:0;top:0px;height: 100%;width: 2px;background:#db3a69;margin-left: 43px;display: block;}
.deals_container .bullet_left:before{ width: 16px;content: " "; position: absolute;left: -105px;height:16px;margin-top: 16px;}
.deals_container .right_div_img{height: 48px;width: 88px;}
.deals_container .inout_list{list-style: none;padding-left: 0;}
.deals_container .inout_list li{ display: inline-block; font-size: 24px;color: black;cursor: pointer;}
.deals_container .inout_list li.active_check{color: #db3a69;}
.deals_container .inout_list li.black_separator{padding-left: 15px;padding-right: 15px;}
.deals_container .padding_right_30{padding-right: 30px;}
.deals_container .float-right{float: right;}
.deals_container .floating_right_width input{width: 286px;font-weight: normal;}
.deals_container .floating_right_width select {width: 286px;font-weight: normal;}
.deals_container .bordered_section_grey{width: 100%;border: 4px solid #f4f4f4;padding: 15px;}
.deals_container .section_line-height p ,.deals_container .section_line-height a{line-height: 17px;}
.deals_container .grey_sort_icon{color: #8e8e8e;padding-left: 10px;cursor: pointer;}

/*1 popup*/
.poPopDiv {width:867px;max-width:100%;}
#divpopup {width:867px;max-width:100%;}
.fancybox-inner {overflow: scroll !important;}
.deals_container .border_5_grey {border-bottom: 5px solid #dfdfdf;}

/*2 reviews grey centerd text div*/
.deals_container .greycontainer_reviews{ padding-top: 30px; padding-left: 15px; padding-right: 15px; padding-bottom: 30px; background-color: #f4f4f4; height: auto; position: relative;float: left;width: 100%;}
.deals_container .imagecircletxtcont_reviews{position: absolute;left: 0px;top: 10px;width: 43px;height: 43px;border-radius: 50%;border: 3px solid #c4c4c4;}
.deals_container .imagecircletxtcont_reviews .textingreycircle_reviews{color: black;font-size: 13px;font-weight: bold;position: absolute;top: 50%;left: 50%;text-align: center;transform: translateX(-50%) translateY(-50%);}
.deals_container .nextcircletext_reviews{ float: left; font-size: 14px; font-weight: bold;  color: #d10c3b; padding-left: 58px;padding-top: 21px;line-height: 21px;}
.deals_container .nextcircletext_reviews .wherefromgreytext_reviews {color: #8e8e8e; font-weight: normal; padding-left: 20px;}
.deals_container .ingreytext_reviews{ font-size: 14px; color: #49494a; line-height: 20px;}
@media (max-width:360px){
    .deals_container .greycontainer_reviews{ padding-left: 5px; padding-right: 5px;}
    .deals_container .nextcircletext_reviews .wherefromgreytext_reviews {padding-left: 10px;}
}

/*3-Image Gallery:*/
.deals_container .large_image_container img ,.deals_container .small_image_container img{width: 100%;}
.deals_container .img_holder{cursor: pointer;}
.deals_container .img_holder.active:after{position: absolute;content: " ";left:0;right:0;bottom:0;top:0;background: rgba(0,0,0,0.3);}
.deals_container .large_image_container.container_360 {position: relative;}
.deals_container .slider-for {background-color: #f2f2f2; height: 100%; overflow: hidden; padding: 5px 5px 7px 5px; margin-top: 0;}
.deals_container .slick-prev,
.deals_container .slick-next {height: 100%;width: 77px;}
.deals_container .slick-list,.deals_container .slick-track { height: 100%;}
.deals_container .slick-slide { background-position: center center; background-repeat: no-repeat;height: 100%;}

@media (min-width:992px) and (max-width:1199px){
    .deals_container .bullet_left:before{left: -81px;}
    #divpopup {width:715px;}
    .poPopDiv {width:715px;}
}
@media (min-width:768px) and (max-width:991px){
    .deals_container .bullet_left:before{left: -83px;}
    #divpopup {width:731px;}
    .poPopDiv {width:731px;}
}
@media (max-width:767px){
    .deals_container .bullet_left:before{display: none;}
    #divpopup {width:100%;padding: 15px;}
    .poPopDiv {width:100%;padding: 15px;}
}
@media (max-width:645px){
    .deals_container .inout_list li.black_separator{display: none;}
}
@media (max-width:530px){
    .deals_container .xxs_full_width { width: 100%;}
    .deals_container .padding_right_30{padding-right: 10px;}
}
@media (max-width:420px){
    .deals_container .grey_right_but_txt { line-height: 20px;}
}
/*================================================================END deals details page========================================================================================*/
/*#################################################################################################################################################################*/


/*================================================================deals dynamic fields page============================================================================================*/

.deals_container .bordered_row_grey{border-bottom: 1px solid #d6d6d6;}
.deals_container label.disabled_label{color: #d6d6d6;}
.deals_container .disabled_text{color: #d6d6d6;}
.deals_container .line-height-36{line-height: 36px;}
.deals_container .title_radio span{padding-left: 25px;}
.deals_container .interrogation_circle_grey{position: absolute;left: 0px;top: 0px;width: 24px;height: 24px;border-radius: 50%;border: 2px solid #c5c5c5;}
.deals_container .interrogation_circle_grey p{color: black;font-size: 13px;font-weight: bold;position: absolute;top: 50%;left: 50%;text-align: center;transform: translateX(-50%) translateY(-50%);}
.deals_container .font-uppercase{text-transform: uppercase;}


/*================================================================END deals dynamic fields page========================================================================================*/
/*#################################################################################################################################################################*/
/* additional css */
#checkinMap, #checkoutMap{
    width:100%;
    height:400px;
    margin-top: 25px;
    display: none;
}
#checkoutText{
    display: none;
}
.redz{
    border: 1px solid red;
}
#bookingErrorMsgBox{
    margin-top: 20px;
    display: none;
    background: rgba(255,0,0,0.1);
    padding: 4px 9px !important;
    border-radius: 3px;
    border: 1px solid rgba(255,0,0,0.3);
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}
#bbBuyNowButton, #mfErrorBox{
    display: none;
}
.marginBot20{
    margin-bottome: 20px !important;
}
.mandatorySection{
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
}
.hideOption, .swHideOption, .spHideOption{
    display: none;
}
.showOption, .swShowOption, .spShowOption{
    display: block;
}
.wrong_credentialsmsg {
    color: red;
    display: none;
    margin-top: 29px;
    font-size: 16px;
    line-height: 17px;
}
.wrong_credentialsmsg.margintop2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bookingBoxError{
    color: #d10c3b;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.activateMsg {
    background-color: #eac31a;
    color: #fff;
    float: left;
    font: 16px/48px arial;
    height: 48px;
    margin: 70px 0 10px 5px;
    padding: 0 30px;
    position: relative;
}
