.deals_container .attractions_container{padding-left: 15px;padding-right: 15px;padding-top: 0px;margin-top: 0;}
.deals_container .hotels_container{padding-left: 15px;padding-right: 15px;padding-top: 0px;margin-top: 0;}
.attractions_container{display: block;}
.hotels_container{display: block;}