.containerBodyInside{
    position: relative;
    float: left;
    display: block;
    width: 100%;
}
#guest-option {
    clear: both;
    display: none;
    position: relative;
    width: 514px;
    float: left;
}
.inputsearchFlechCNT{
    float: left;
    margin-right: 10px;
    position: relative;
    padding: 0 35px;
    margin-top: 10px;
    width: 247px;
}
.inputsearchFlechCNT3{
    margin-right: 0;
}
.decbut{
    left: 0;
    top: 0;
}
.incbut{
    right: 0;
    top: 0;
}
.childAgeCnt{
    padding-left: 0;
    padding-right: 10px;
}
.childtext {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    line-height: 15px;
    margin: 15px 0 0;
    padding: 0 5px;
}
.paddingbottom1 {
    padding-bottom: 1px;
}
.textinsideinput {
    color: black;
    font-size: 14px;
    left: 15px;
    line-height: 20px;
    position: absolute;
    top: 8px;
    z-index: 10;
}
.inputsearch.childAgeSelect{
    padding-left: 46%;
}
.inputsearch {
    border: medium none;
    color: #49494a;
    float: left;
    font-size: 14px;
    height: 27px;
    padding-left: 8px;
    padding-top: 0;
    width: 100%;
    background-color:#ffffff;
}
.margintop6 {
    margin-top: 6px;
}
.indexvideoimage {
    width: 100%;
}
.search-bar .searchsndmarginxs .flightclass .selectclass, .search-bar .searchsndmarginxs .adultclass .singlerromclass{
    width: 247px;
}
.searchcontainerfilter .search-bar{
    float: left;
}
.search-bar .flightclass.containerselectychild{
    width: 100%;
    padding-left:0;
}
.vid_flashcontent {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    bottom: 5px;
    left: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}
#flashcontent{
    height: 337px;
}
.tt-sprites {
    background: rgba(0, 0, 0, 0) url("/media/images/tt-sprites.png") no-repeat scroll 0 0;
}
.search-bar .search-btn {
    float: left;
    height: 38px;
    line-height: 35px;
    padding: 0 25px;
}
.bouttonSearchTabs {
    width: auto;
    padding-left: 46px;
    padding-right: 20px;
    background-color: #0d8289;
    color: black;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    float: left;
    margin-right: 10px;
}
.hoteltab.boutton-1{
    background-image: url("/media/images/menu/hotels-icon.png");
    background-repeat:no-repeat;
    background-position: 4px 3px;
}
.flighttab.boutton-2{
    background-image: url("/media/images/menu/flights-icon.png");
    background-repeat:no-repeat;
    background-position: 4px 3px;
}
/*.holidaytab{
    width: auto;
    padding-left: 40px;
    padding-right: 23px;
    background-color: #0d8289;
    color: black;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    float: left;
    margin-right: 10px;
}*/
.holidaytab.boutton-3{
    background-image: url("/media/images/menu/deals-icon.png");
    background-repeat:no-repeat;
    background-position: 4px 3px;
}
#multiDestinationContainer{
    display: none;
}
.clearBoth{
    clear: both;
}
.yellowpart {
    background-color: #eac31b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 47px;
    line-height: 47px;
    text-align: center;
    width: 47px;
}
.greypart {
    color: #fefefe;
    font-size: 27px;
    height: 47px;
    line-height: 47px;
    padding-left: 17px;
    text-align: left;
    float: left;
}
.greybackcolor{
    background-color: #313131;
}
.trendContainer {
    margin-left: 0;
    margin-top: 0;
}
.trendsBar {
    background: rgba(239, 239, 239, 0.6) none repeat scroll 0 0;
    height: 47px;
}
/*.margintopthecontainer{
    margin-top: 40px;
}*/
.imgheight{
    height: auto;
}
.image p, .image h2 {
    background: rgba(53, 49, 53, 0.6) none repeat scroll 0 0;
    color: white;
    font: 13px/29px Helvetica,sans-serif;
    height: 47px;
    left: 0;
    letter-spacing: 0;
    overflow: hidden;
    padding: 2%;
    position: absolute;
    right: 5px;
    z-index: 12;
    bottom: 5px;
    left: 5px;
}
.overlay_object:hover {
    background-color: #000;
    background: url('/media/images/px-bg-grey-70.png') ;
}
.bigimgtxt{
    font-size: 27px;
}
.smalimgtext{
    font-size: 18px;
}
.trendContainer li.rand-1 {
    font-size: 12px;
}
.trendContainer li.rand-2 {
    font-size: 14px;
}
.trendContainer li.rand-3 {
    font-size: 18px;
}
.trendContainer li.rand-4 {
    font-size: 22px;
}

.widthoneh{
    width: 100%;
}
.greytabtop{
    background-color: #313131;
    float: left;
    line-height: 32px;
    min-height: 42px;
    padding: 5px 10px;
    position: relative;
    width: 100%;
}
.greytabtop a{
    float: left;
    line-height: 30px;
}
.biginsmal{
    font-size: 25px;
    color: white;
}
.thirdsmaltext{
    font-size: 15px;
    color: white;
}
.bigtoptext{
    color: white;
    font-size: 22px;
}
.smaltoptext {
    color: white;
    font-size: 15px;
}
.margintoptdiv{
    margin-top: -10px;
}
.headingPopular {
    color: black !important;
    font-size: 22px !important;
    font-weight: normal !important;
}
.capital{
    text-transform: uppercase;
}
div.marquee {
    white-space:nowrap;
    overflow:hidden;
}
div.marquee > div.marquee-text {
    display: inline;
    white-space: nowrap;
    width: auto;
    color: black;
    line-height: 47px;
}
.foodicon {
    background: rgba(0, 0, 0, 0) url("/media/images/food-icon.jpg") no-repeat scroll 12px 0;
    bottom: 0;
    height: 49px;
    left: -2px;
    overflow: hidden;
    position: absolute;
    width: 49px;
}
.trendContainer .trendsDesc {
    display: inline-block;
    height: 47px;
    overflow: hidden;
}
.trendsBar .indexTrendLink {
    color: black;
}
.margintop32{
    margin-top: 32px;
}
.boutton-1 ,.boutton-2 ,.boutton-3{
    cursor: pointer;
}
.yellow-back{
    background-color: #eac31b;
    color: black;
}
.black-back{
    background-color: #0d8289;
    color: white;
}
.searchcontainerfilter .dealcontent ,.searchcontainerfilter .flightcontent{
    display: none;
}
.search-bar .marginrightten{
    margin-right: 10px;
}
.marginbutdiv{
    margin-bottom: 0;
}
.search-bar .newsmalsize .departurearrivalinput{
    width: 330px;
}
.search-bar .flightclass {
    margin-top: 5px;
    margin-left: 0;
    float: left;
    clear: both;
}
.search-bar .adultclass {
    margin-top: 5px;
    margin-left: 0;
    float: left;
}
.search-bar .flightclass .selectclass {
    width: 232px;
    background: url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    background-color: white;
    padding-left: 24px;
    font-style: normal;
    font-size: 16px;
}
.search-bar .adultclass .selectadultclass {
    width: 232px;
    background: url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    background-color: white;
    padding-left: 24px;
    font-style: normal;
    font-size: 16px;
}
.search-bar .adultclass .singlerromclass {
    width: 246px;
    /*    background: url("/media/images/dublearrow.png") no-repeat center right;*/
    background-color: white;
    padding-left: 24px;
    font-style: normal;
    font-size: 16px;
}
.typeflighttabs{
    list-style: none;
    margin-bottom: 10px;
    float: left;
}
.checkboxul{
    list-style: none;
    margin-bottom: 10px;
    float: left;
}
.typeflighttabs li{
    display: inline-block;
    background-color: #2da5bb;
    color: white;
    font-size: 16px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    line-height: 38px;
    margin-right: 5px;
}
.checkboxul li{
    color: white;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    padding-left: 5px;
    width: auto;
    padding-top: 8px;
}
.typeflighttabs li.active{
    background-color: #eac31a;
    color: black;
}
.typeflighttabs li:hover{
    cursor: pointer;
}
.moreflightstyle{
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
}
.search-bar .incrementedinput{
    height: 38px;
    background-color: white;
    border: none;
    border-radius: 0;
}
.zindexh{
    z-index: 55;
}
.containerrelative{
    position: relative;
}
.search-bar .adultclass .inpoutnumberpadleft{
    padding-left: 180px;
}
.marginright0{
    margin-right: 0;
}
.textinsideinput{
    position: absolute;
    top: 7px;
    color: black;
    font-size: 16px;
    left: 10px;
    z-index: 10;
}
.search-bar .flightclass .padtwo{
    padding-left: 2px;
}
.search-bar .flightclass.margin0 {
    margin: 0;
}
@media (min-width:1200px){
    .search-bar .flightclass {
        margin-top: 10px;
    }
    .search-bar .adultclass {
        margin-top: 10px;
    }
    .searchcontainerfilter .flightcontent .search-bar{
        width: 1102px;
    }
    .margin-top-hotelflight-search {
        margin-top: 73px;
    }
}
@media  (min-width:768px){
    .padleftz{
        padding-left: 0;
    }
    .padrightz{
        padding-right: 0;
    }
}
@media (min-width:992px)  and (max-width:1199px){
    .inputsearchFlechCNT3{
        clear: both;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .search-bar .clearbothclasss.inputsearchFlechCNT4{
        clear: none;
        margin-bottom: 5px;
    }
    #guest-option{
        width: 536px;
        margin-bottom: 4px;
    }
    .search-bar .newsmalsize .departurearrivalinput {
        width: 222.5px;
    }
    .search-bar .adultclass .selectadultclass, .search-bar .flightclass .selectclass{
        width:222.5px;
    }
    .search-bar .searchsndmarginxs .flightclass .selectclass, .search-bar .searchsndmarginxs .adultclass .singlerromclass{
        width: 258px;
    }
    .inputsearchFlechCNT{
        width: 258px;
    }
}
@media (min-width:992px){
    /*    .martop-10{
            margin-top: -12px !important;
        }*/
    .margin-top-hotelflight-search{
        margin-top: 115px;
    }
    .margintop5{
        margin-top: 5px;
    }
    .margintoplgmd{
        margin-top: 35px;
    }
    .search-bar .marginrzero {
        margin-right: 0;
    }
    .search-bar .clearbothclasss {
        clear: both;
    }
}
@media (min-width:768px)  and (max-width:991px){
    #datesContainer{
        width: 100%;
    }
    .inputsearchFlechCNT{
        width: 50%;
        padding-right: 40px;
        margin-right: 0;
    }
    .inputsearchFlechCNT2, .inputsearchFlechCNT4{
        padding-right: 35px;
        padding-left: 40px;
    }
    .inputsearchFlechCNT1 .incbut, .inputsearchFlechCNT3 .incbut{
        right: 5px;
    }
    .inputsearchFlechCNT2 .decbut, .inputsearchFlechCNT4 .decbut{
        left: 5px;
    }
    .form-child3 .childAgeCnt, .form-child6 .childAgeCnt{
        padding-right: 0;
    }
    #guest-option{
        width: 736px;
    }
    .checkboxul{
        clear: both;
    }
    .bigtoptextTravel{
        width: 100%;
        float: left;
    }
    .search-bar .searchsndmarginxs .flightclass .selectclass, .search-bar .searchsndmarginxs .adultclass .singlerromclass{
        width: 100%;
    }
    .greypart {
        font-size: 19px;
        padding-left: 8px;
    }
    .roundtripclass{
        margin-left: 5px;
    }
    .texthfstyle {
        font-size: 14px;
    }
    .flighthotellh {
        margin-top: 0 !important;
    }
    .header-img {
        margin-top: -22px;
    }
    .margin-top-hotelflight-search{
        margin-top: 313px;
    }
    .padleftsm0{
        padding-left: 0;
    }
    /*    .margintopthecontainer {
            margin-top: 10px;
        }*/
    .imgheight{
        height: auto;
    }
    .smalnopadcontainer{
        padding-left: 0;
        padding-right: 0;
        /*        margin-top: 68px;*/
    }
    .smalpadleft0{
        padding-left: 0;
    }
    .smalpadright0{
        padding-right: 0;
    }
    .newcontainersmallmargintop{
        margin-top: 30px;
    }
    .smalh1lh{
        line-height: 24px;
    }
    .fixposbout.fixposboutNew {
        margin-top: 34px;
    }
    .search-bar .newsmalsize{
        width: 50%;
        margin: 0;
        padding: 5px;
    }
    .search-bar .newsmalsize .newsmalsizeinput{
        width: 100%;
    }
    .search-bar .marginzsmall{
        margin-right: 0px;
    }
    .search-bar .hotelinputssmalstyle{
        margin-top: 10px;
        padding: 0;
    }
    .search-bar .hotelinputssmalstylepadr{
        padding-right: 5px;
    }
    .search-bar .hotelinputssmalstylepadl{
        padding-left: 5px;
    }
    .search-bar .adultclass .inpoutnumberpadleft {
        padding-left: 80%;
    }
    .search-bar .search-btn {
        padding: 0 0px;
    }
}
@media  (max-width:767px){
    .datesContainerSpan{
	width: 100%;
    }
    .searchcontainerfilter .search-bar {
        padding-bottom: 48px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .inputsearchFlechCNT{
        width: 50%;
        padding-right: 40px;
        margin-right: 0;
    }
    .inputsearchFlechCNT2, .inputsearchFlechCNT4{
        padding-right: 35px;
        padding-left: 40px;
    }
    .inputsearchFlechCNT1 .incbut, .inputsearchFlechCNT3 .incbut{
        right: 5px;
    }
    .inputsearchFlechCNT2 .decbut, .inputsearchFlechCNT4 .decbut{
        left: 5px;
    }
    .searchcontainerfilter .hotelscontent .search-bar {
        padding-bottom: 58px;
    }
    .searchcontainerfilter .flightcontent .search-bar {
        padding-bottom: 58px;
    }
    .searchcontainerfilter .dealcontent .search-bar {
        padding-bottom: 0;
    }
    .search-bar .searchsndmarginxs .flightclass .selectclass, .search-bar .searchsndmarginxs .adultclass .singlerromclass{
        width: 100%;
    }
    .bigtoptextTravel{
        width: 100%;
        float: left;
    }
    .container.containerBody.xsmalnopad.margin-top-hotelflight-search, .margin-top-hotelflight-search {
        margin-top: 50px;
        padding-left: 0;
        padding-right: 0;
    }
    .yellowbut {
        text-align: center !important;
    }
    .padleftsm0{
        padding-left: 0;
    }
    .imgheight{
        height: auto;
    }
    .xspadlrz{
        padding-left: 0;
        padding-right: 0;
    }
    .xsmalpadleft0{
        padding-left: 0;
    }
    .xsmalpadright0{
        padding-right: 0;
    }
    .xssncntpadlr0{
        padding-left: 0;
        padding-right: 0;
    }
    .smalh1lh{
        line-height: 24px;
    }
    .search-bar .seconddate{
        width: 50%;
        margin-right: 0;
        padding-left: 5px;
    }
    .search-bar .firstdate{
        width: 50%;
        margin-right: 0;
        padding-right: 5px;
    }
    .search-bar .firstdate input{
        width: 100%;
    }
    .search-bar .seconddate input{
        width: 100%;
    }
    .search-bar .findbut{
        width: 128px;
    }
    .holidaytab{
        margin-right: 0;
    }
    .search-bar .newsmalsize .departurearrivalinput {
        width: 100%;
    }
    .search-bar .departuresmal {
        width: 50%;
        margin-right: 0;
        padding-right: 5px;
    }
    .search-bar .arrivalsmal {
        width: 50%;
        margin-right: 0;
        padding-left: 5px;
    }
    .search-bar .flightclass {
        margin-top: 10px;
        width: 50%;
        margin-right: 0;
        padding-left: 5px;
    }
    .search-bar .adultclass {
        margin-top: 10px;
        width: 50%;
        margin-right: 0;
        padding-left: 5px;
    }
    .search-bar .flightclass .selectclass {
        width: 100%;
    }
    .searchcontainerfilter .search-bar {
        width: 100%;
    }
    #guest-option{
        width: 100%;
    }
    .form-child2 .childAgeCnt, .form-child4 .childAgeCnt, .form-child6 .childAgeCnt{
        padding-right: 0;
        padding-left: 5px;
    }
    .form-child1 .childAgeCnt, .form-child3 .childAgeCnt, .form-child5 .childAgeCnt{
        padding-right: 5px;
    }
    .search-bar .adultclass .selectadultclass {
        width: 100%;
    }
    .search-bar .adultclass .singlerromclass {
        width: 100%;
    }
    .search-bar .flightclass {
        margin-left: -5px;
    }
    .search-bar .adultclass {
        margin-left: -5px;
    }
    .search-bar .firstselctclass {
        margin-right: 10px;
    }
    .search-bar .marselectz {
        margin-bottom: 0;
    }
    .search-bar .doubleroomxsmargin{
        margin-right: 10px;
    }
    .search-bar .childrenhotelxsmarbut{
        margin-bottom: 10px;
    }
    .searchsndmarginxs{
        margin-top: -10px;
        float: left;
        width: 100%;
    }
    .search-bar .adultclass .inpoutnumberpadleft {
        padding-left: 76%;
    }

}
@media  (max-width:430px){
    .xxsfullwidth{
        width: 100%;
    }
}
@media  (max-width:480px){
    .inputsearchFlechCNT{
        width: 100%;
        padding-right: 35px;
        padding-left: 35px;
        margin-right: 0;
    }
    .inputsearchFlechCNT1 .incbut, .inputsearchFlechCNT3 .incbut{
        right: 0;
    }
    .inputsearchFlechCNT2 .decbut, .inputsearchFlechCNT4 .decbut{
        left: 0;
    }
    .search-bar .flightclass {
        width: 100%;
    }
    .search-bar .adultclass {
        width: 100%;
    }
    .search-bar .adultclass .inpoutnumberpadleft {
        padding-left: 76%;
    }
    .search-bar .flightclass {
        padding-left: 0;
    }
    .search-bar .flightclass {
        margin-left: 0;
    }
    .search-bar .adultclass {
        padding-left: 0;
    }
    .search-bar .adultclass {
        margin-left: 0;
    }
    .search-bar .departuresmal {
        width: 100%;
        padding-right: 0;
    }
    .search-bar .arrivalsmal {
        width: 100%;
        padding-left: 0;
    }
    .search-bar .firstdate {
        width: 100%;
        padding-right: 0;
    }
    .search-bar .seconddate {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
    }
    .search-bar .xxsmalmargintop {
        margin-top: 10px;
    }
    .search-bar .xxsmalmarbut {
        margin-bottom:  10px;
    }
}
@media  (max-width:991px){
    .search-bar .flightclass .selectclass {
        width: 100%;
    }
    .search-bar .adultclass .selectadultclass {
        width: 100%;
    }
    .search-bar .adultclass .singlerromclass {
        width: 100%;
    }
}
@media (max-width:432px){
    .typeflighttabs li{
        font-size: 13px;
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (max-width:343px){
    .typeflighttabs li {
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
    }
}
@media  (min-width:1200px){
    .margin-top-hotelflight-search {
        margin-top: 73px;
    }
}

/**
* ErrorMsg part
*/
.redz{
    border: 1px solid red;
}
#bookingErrorMsgBox{
    margin-top: 20px;
    display: none;
    background: rgba(255,0,0,0.1);
    padding: 4px 9px !important;
    border-radius: 3px;
    border: 1px solid rgba(255,0,0,0.3);
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}
#bbBuyNowButton{
    display: none;
}
.marginBot20{
    margin-bottome: 20px !important;
}
.mandatorySection{
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
}
