.sign_in_container .margin_top_40{margin-top: 40px;}
.sign_in_container .social_btn_style{width: 216px;height: 32px;}
.sign_in_container .grey{color: #787878;}
.sign_in_container .black{color: black;}
.sign_in_container .font-16{font-size: 16px;}
.sign_in_container .font-14{font-size: 14px;}
.sign_in_container .font-27{font-size: 27px;}
.sign_in_container .font-bold{font-weight: bold;}
.sign_in_container .border_grey_2{background-color: #eaeef0;width: 100%;height: 2px;}
.sign_in_container .margin_bottom_0{margin-bottom: 0;}
.sign_in_container .margin_bottom_15{margin-bottom: 15px;}
.sign_in_container .margin_bottom_30{margin-bottom: 30px;}
.sign_in_container .newrowmargin5{margin-left: -5px;margin-right: -5px;}
.sign_in_container .newcolpadding5{padding: 5px;}
.sign_in_container .sign_in_input_common input{cursor: unset;height: 76px; width: 100%; border: 1px solid #d5d6d8;text-align: center;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);box-shadow: inset 0 1px 1px rgba(0,0,0,0);background-color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;}
.sign_in_container .sign_in_input_common input::placeholder {color: #000000;opacity: 1;font-weight: bold;font-size: 16px;}
.sign_in_container .sign_in_input_common input:-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.sign_in_container .sign_in_input_common input::-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.sign_in_container .forget_pass{color: #787878;font-size: 14px; text-decoration: underline;margin-bottom: 0;cursor: pointer;float: right;margin-top: 2px;}
.sign_in_container .keep_me_logedin label {font-weight: normal;font-size: 15px;color: #787878;}
.sign_in_container .submit_yellow{width: auto;height: 60px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px; padding: 6px 25px; float: left;}
.sign_in_container .back_grey{width: auto;height: 60px;border: none;color: #201b1d;background-color: #e2e2e2;font-size: 22px; padding: 6px 25px;border-radius: 5px;display: block;float: left;line-height: 60px;padding-top: 0;margin-left: 10px;text-decoration: none;}

.sign_in_container .underline{text-decoration: underline;}
.sign_in_container .forgetpasswordcontainer{display: none;}
.wrong_credentialsmsg {
    color: red;
    display: none;
    margin-top: 0;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 20px;
    font-weight: normal;
}
.wrong_credentialsmsg.margintop2 {
    margin-top: 2px;
}