.page_title{
    color: #000000;
    font-family: helvetica;
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 18px;
    margin-top: 22px;
}
.fbconnect_title,.signin_title,.signup{
    color: #262626;
    font-size: 16px;
}
.fbconnect_title{
    padding-bottom: 5px;
}
.exist-account,.signup a{
    color: #000;
    font-size: 25px;
}
#FormResult {
    color: red;
    font-size: 13px;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 5px;
    min-height:12px;
    padding: 0;
    display: none;
}
#ClaimEmail {
    background-color: #eac31a;
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 10px 25px;
    margin-left: 5px;
    position: relative;
    visibility: hidden;
    display: none;
}
.bar{
    background-color: #d2d2d2;
    height: 1px;
    margin-bottom: 17px;
    margin-top: 27px;
    padding: 0;
}
.margintop21{
    margin-top: 21px;
}
.marginbottom0{
    margin-bottom: 0;
}
.control-label {
    padding-bottom: 4px;
}
.paddingtop1{
    padding-top: 1px !important;
}
.signin_title{
    padding-bottom: 15px;
}
.control-label,.checkbox{
    color: #000;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    line-height:15px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.checkboxlabel{
    line-height: 12px;
}
.checkbox .checkboxlabel input[type="checkbox"]{
    margin-top: 0;
}
.wrong_credentialsmsg {
    color: red;
    display: none;
    margin-top: 29px;
    font-size: 16px;
    line-height: 17px;
}
.wrong_credentialsmsg.margintop2 {
    margin-top: 2px;
}
.form-group {
    margin-bottom: 0 !important;
}
.btn-default{
    width:100%;
    height: 38px;
    line-height: 16px;
}
.paddingleft21{
    padding-left: 21px;
}
.paddingleft28{
    padding-left: 28px;
}
.paddingleft18{
    padding-left: 18px;
}
.paddingleft23{
    padding-left: 23px;
}
.paddingleft16{
    padding-left: 16px;
}
.paddingleft11{
    padding-left: 11px;
}
.paddingtop0{
    padding-top: 0;
}
.form-control:focus {
    border-color: #e9e9e9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a.btn-primary,a.btn-primary:hover,a.btn-primary:focus,a.btn-primary.active,a.btn-primary:active:focus{    
    background:url("/media/images/fb_icon.png") no-repeat;
    border: none;
    background-color: #3b5998;
    /*    z-index: 0;*/
    box-shadow: none;
    width: auto;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 45px;
}
a.btn-primary.disabled{
    display: none;
    visibility: hidden;
}
.btn.signup{
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
}
.form-group input{
    border: none;
    border-radius: 0;
    background-color: #e9e9e9;
    box-shadow:none;
    height: 38px;
    line-height: 38px;
}
.form-group button,.form-group button:hover{
    color: #fff;
    background-color: #eac31a;
    border: none;
    border-radius: 0;
    text-shadow: none;
    font-weight: bold;
}
.forgot_your_password{
    display: none;
}
.etc-login-form{
    color: #000;
    float: right;
    font-size: 13px;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
    padding-bottom: 0;
}
.paddingbottom3{
    padding-bottom: 3px;
}
.form-group input.checkboxlabelinput{
    height:13px;
}
.fgtpass_title{
    font-size: 16px;
    margin-top: 9px;
    line-height: 24px;
}
.fgtpass_label.control-label{
    font-size: 14px;
    line-height:17px;
    margin-top: 13px;
    margin-bottom: 3px;
}
.notetitle{
    color: #000;
    font-size: 13px;
}
.note-descp{
    color:#949494;
    font-size: 13px;
}
.note-descp1{
    color: #000;
    font-size: 13px;
    line-height: 14px;
    padding-top:0;
    margin-top: -2px;
}
.note-descp a{
    color:#949494;
    font-size: 13px;
    text-decoration: underline !important;
}
.note-descp a:hover{
    color:gray;;
    font-size: 13px;
    text-decoration: underline !important;
}
.zindexup{
    z-index: 999;
}