.city_activites_container .header_title{font-size: 22px;color: #201b1d;margin-bottom: 0;}
.city_activites_container .new_margin{margin-left: 5px;margin-right: 5px;}
.city_activites_container .new_padding{padding: 5px;}
.city_activites_container .new_padding:hover{ text-decoration: none;}
.subtitle_home_new{color:#585858;font-size: 16px;margin-top: 10px; line-height: 18px; overflow: hidden; margin-bottom:8px;}
.title_details_new{color:#000000; font-size: 18px; margin-top: 10px; line-height: 22px; margin-bottom:0;}
.title_details_new .txtPink{font-size: 17px;}
.search_title .txtPink{font-size: 17px;}
.txtPink{color:#db3a69;}
.txtContainer{ padding: 0;}
.fas.fa-lg { font-size: 18px; }
.imgpano_container{position:relative;}
.section_googlemap { height: 430px; width: 100%; }
.thumb_360 span{position: absolute; bottom:5px; color:#ffffff; font-size: 12px; font-weight: bold; left: 5px; right: 5px; text-align: left; background-color: rgba(0, 0, 0, 0.5); padding: 0 5px; line-height:19px; white-space:nowrap; overflow:hidden; text-overflow: ellipsis;}
.thumb_360{cursor: pointer;}
.thumb_360.active{cursor: default;}
.thumb_360.active:after{position: absolute;content: " ";left:0;right:0;bottom:0;top:0;background: rgba(0,0,0,0.3);}
.max-width-100{ max-width: 100%;}
.imgpano *{
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.imgpano *:before,
.imgpano *:after {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.media_holder {
    height: 524px;
}
.details_new_description_margin{
    margin:35px 0;
}
.sort_by_tabs{min-height: 52px;border: 2px solid #eceff1;}
.view-full-tour-link { border: 0 none; float: right; padding: 0;}
.sort_by_tabs .filters-group label{font-weight: normal;padding:17px 9px;cursor: pointer;margin-bottom: 0px;float: left;color: white; background-color: #00b7d9;}
.border-left {
    border-left: 2px solid #eceff1;
}
.txtContainer p{ font-size: 15px; color:#585858;}
.city_activites_container .border_top_but_row { border-bottom: 3px solid #bababa; border-top: 3px solid #bababa; height: 7px; margin: 26px 10px 35px; }
.ttd_breadcrumb { float: left; margin: 0 0 0 5px; padding: 0; }
.ttd_breadcrumb li { float: left; font-size: 13px; height: 22px; line-height: 18px; list-style: outside none none; margin-right: 5px; }
.ttd_breadcrumb li a { color: #2e2e2e; font-size: 13px; list-style: outside none none; text-decoration: underline; }
.ttd_breadcrumb li.ico a { display: block;}
.ttd_breadcrumb li a.active { color: #db3a69; }
.txt_page_container {line-height: 20px; overflow: hidden; font-size: 16px; color: #606060; margin: 0;}
.bottom_link_gray{ background-color: #f7f7f7; padding: 80px;}
.h_home_new{font-size: 24px; color: #26bcdc; margin: 20px 0 10px;}
.details_new_description{ font-size: 16px; color: #606060; overflow: hidden; line-height: 23px;}
.imgbut360 { background-color: #000000; color: #ffffff; cursor: pointer; display: block; font-size: 13px; font-weight: bold; height: 24px; line-height: 24px; padding: 0 8px; position: absolute; right: 5px; top: 5px; }
.img{margin-bottom: 25px;}
.pink_button { background-color: #db3a69; border: medium none; color: white; font-size: 14px; height: 42px; line-height: 22px; padding: 10px; text-transform: uppercase; -moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px; float: left; margin-right:10px; }
.pink_button:hover { color: white;}
.starting_txt{font-size: 14px; color: #000000; line-height: 42px; margin-bottom:0;}
.starting_txt span{font-size: 16px; color: #db3a69;}
.grey_img_and_txt_container { background-color: #f7f7f7; min-height: 290px; padding-top: 20px; }
.image_style_container { margin: 0 auto; padding-left: 35px; padding-right: 35px; }
.discount_img { background-color: #d10b3a; border-radius: 50%; height: 45px; position: absolute; right: 5px; top: 25px; width: 45px; }
.discount_img p { color: white; font-size: 16px; font-weight: bold; left: 50%; position: absolute; text-align: center; top: 50%; transform: translateX(-50%) translateY(-50%); }
.text_style_container { padding-left: 20px; padding-right: 20px; text-align: center; }
.image_txt_subtitle { color: #606060; font-size: 16px; line-height: 20px; margin-top: 5px; height: 60px; overflow: hidden; }
.travelers_recommendation { color: black; font-size: 13px; }
.price_pink { color: #db3a69; font-size: 22px; }
.imgpano { min-height: 150px; position: absolute; width: 100%; z-index: 100; }
.img {position: relative;}
.more_deals{text-align: center; line-height: 40px; font-size: 17px;}
.more_deals i {color: #181416; font-size: 15px;}
@media (max-width:767px){
    .media_holder {
	height: 324px;
    }
    .bottom_link_gray{ padding: 20px 10px;}
}