.whereis_nearby_list{list-style: none;padding-left: 0;}
.whereis_nearby_list li{padding-top: 5px;padding-bottom: 5px;line-height: 9px;}
.whereis_nearby_list li:before{position: absolute;content:" ";left:4px;top:11px;height: 3px;width: 3px;background:#eac41e;}
.whereis_nearby_list li a{line-height: 15px;font-size: 13px; color: #6a6969;}
.margin_top_10{margin-top: 10px;}
.margin_top_5{margin-top: 5px;}
.margin_lg_xs{margin-top: 30px;}
.search_title span{color: #db3a69;}
.font-13{font-size: 13px;}
.font-16{font-size: 16px;}
.font-17{font-size: 17px;}
.font-19{font-size: 19px;}
.font-27{font-size: 27px;}
.grey{color: #606060;}
.blue{color: #00b7d9;}
.black{color: black;}
.pink{color: #db3a69;}
.padding_left_68{padding-left: 68px;}
.left_title_arrow{color:#00b7d9;padding-right: 20px; font-size: 20px;}
.float_left{float: left;}
.float_right{float: right;}
.line-height-38{line-height: 38px;}
.line-height-25{line-height: 25px;}
.line-height-19{line-height: 19px;}
.font-bold{font-weight: bold;}
.font-normal{font-weight: normal;}
.margin_bottom_5{margin-bottom: 5px;}
.margin_bottom_10{margin-bottom: 10px;}
.location_div{float: left;}
.section_googlemap { height: 430px; width: 100%; }
.font-15{font-size: 15px;}
.font-14{font-size: 14px;}
.margin_bottom_0{margin-bottom: 0;}
.width-100{width: 100%;}
.line-height-16{line-height: 16px;}
.pad_top_but_0{padding-top: 0;padding-bottom: 0;}
.best_hotels_h3 { color: #000000; font-size: 17px; margin: 5px 0; padding: 0; }

.grey_img_and_txt_container {min-height: 290px;padding-top: 20px;background-color:#f7f7f7; }
.image_style_container{padding-left: 35px; padding-right: 35px;margin: 0 auto;}
.discount_img{position: absolute;right: 25px;top: 20px;width: 45px;height: 45px;border-radius: 50%;background-color: #d10b3a;}
.discount_img p{color: white;font-size: 16px;position: absolute;top: 50%;left: 50%;text-align: center;transform: translateX(-50%) translateY(-50%);}
.text_style_container{padding-left: 20px; padding-right: 20px;text-align: center;}
.image_txt_subtitle {color: #606060;font-size: 16px;line-height: 20px;margin-top: 5px; height: 60px; overflow: hidden;}
.travelers_recommendation {color: black;font-size: 13px; }
.price_pink {color: #db3a69;font-size: 22px; }
.where_is_newmargin{margin-left: -5px;margin-right: -5px;}
.where_is_newpadding{padding: 5px;}


@media (max-width:767px){
    .margin_lg_xs{margin-top: 0px;}
}
@media (max-width:450px){
    .xs_width{width: 100%;}
}