<div id="ChannelRight" class="marginright10 notifications_feedcontainer">
    {% if is_owner == 1 %}
        {#<div class="not_channel_button">
            <span class="share_cnt">
                <span class="notifications_counter_box">        
                    <div id="notifications_counter" class="notifications_counter"></div>
                </span>
                <div class="plus" style="position:absolute; right:-3px;"></div>
                <span class="share_lnktext">{{ 'notifications'|lang }}</span>
            </span>
            <div class="notifications_feedcontainer notifications_feedchannel">
                <div class="notifications_feedcontainer notifications_feedchannel">
                    <link rel="stylesheet" type="text/css" href="{{ css_link|raw }}" /> 
                </div>
            </div>
        </div>
        <div class="Lineright"></div>#}
    {% endif %}
</div>