{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}	

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>Tourist Tube 信息记录程序政策</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">有效期自2017/07/04起<br><br>
                            在您浏览、登录或使用链接到本信息记录程序政策的网址、移动终端或应用程序（通称为“网站”）时，Tourist Tube会采用cookie或其他追踪技术来传送并改善网站，以展现相关的内容、产品、服务和广告<br><br>
                            本信息记录程序政策对这些技术——包括信息记录程序、像素、网络信标和本地共享对象——以及您如何对其进行管理作出了说明。<br><br>
                            使用本网站，就代表您同意我们使用这些信息纪录政策中描述的技术。我们希望本信息记录程序政策能够帮助您对我们使用的信息记录程序和其他追踪技术更加了解、更有把握。如果您还有任何其他问题，请通过 <a href="mailto:support@touristtube.com" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a>与我们联系。<br><br>
                            我们可能会随时更改本信息记录程序政策。请通过文章上方的有效期查看本信息记录程序政策最近一次修订的时间。当我们将更新后的信息记录程序政策放到网站上时，其中的所有更改都会开始生效。
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">什么是cookie（信息记录程序）？</h2>
                        <p class="sub_header_title">信息记录程序（cookie）指的是储存在您的电脑或移动设备内的文本文件。它们广泛地应用在促进网站的运行或是使其更流畅、更高效地运行当中。例如，它们可以将您识别出来，并记住那些使您能够更流畅地使用网站的重要信息（例如：记住您的用户偏好）。 </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">我们使用的是哪些信息记录程序？</h2>
                        <p class="sub_header_title">在下方我们列出了本网站中可能会用到的各种信息记录程序。我们可能也会使用信息记录程序和类似的工具来将您对本网站的使用和我们所获取到的您的个人信息进行关联。  </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">绝对必要的信息记录程序</h2>
                        <p class="sub_header_title">为了方便我们的登录系统、让您能够使用围绕其运行的各种功能，这些信息记录程序对于本网站来说是必不可少的。没有它们，我们就无法提供某些服务和功能，本网站也无法以我们期望的方式顺畅地运行。 </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">功能性信息记录程序</h2>
                        <p class="sub_header_title">在某些环境下，我们可能会用到功能性信息记录程序。这些程序会让我们记住您在浏览本网站时所作出的选择，并提供更强化、更个性化的内容及功能，例如定制特定的网页、记住我们是否已经邀请您参与促销活动或您申请的其他服务——例如观看一段影像或是对一段博文作出评论。为了许可您连接本网站，我们的服务器会收到并记录关于您的电脑、设备和浏览器的信息，潜在的还包括您的IP地址、浏览器类型以及其他软件和硬件信息。如果您是通过手机或其他设备进入本网站的，我们可能会采集这台设备的设备唯一标识符（UDID）、定位数据，或是这台设备的其他交易信息。所有这些功能都是为了提高您在本网站的浏览体验。  </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">本地共享对象</h2>
                        <p class="sub_header_title">在某些情况下，我们可能会用到Flash播放器（Adobe Flash Player）来传送特殊内容，例如视频短片或动画。为了提升您的用户体验，我们会采用本地共享对象（Local Shared Objects ，通常也叫做“Flash cookies”）来提供记住您的设置及偏好等功能。本地共享对象储存在您的设备中，但管理这些对象的接口不同于您的浏览器所提供的接口。这意味着您未必能和管理其他信息记录程序一样通过浏览器界面来管理本地共享对象。相反，您可以从Adobe（奥多比）网站直接进入您的Flash（闪现）管理工具。 <a rel="nofollow" href="http://www.adobe.com/security/flashplayer" title="flashplayer" target="_blank">http://www.adobe.com/security/flashplayer</a> 
                            上提供了如何删除或禁用本地共享对象的综合讯息。要注意的是，如果您禁用或驳回了本网站的本地共享对象的话，您可能无法使用某些特定功能，例如视频内容或是需要您登录的服务。</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">分析性信息记录程序</h2>
                        <p class="sub_header_title">我们和我们的服务供应商可能会用到分析性信息记录程序——有时也被称为性能信息记录程序——来采集您对本网站的使用信息，并帮助我们改善网站的运行。分析性信息记录程序会采集您如何使用本网站的信息，例如您最常访问的页面。这些信息会方便我们统计用户规模、查看本网站使用的一般形态、帮助我们记录您在本网站上遇到的困难，并反映我们的广告是否有效。</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">社交网络信息记录程序</h2>
                        <p class="sub_header_title">我们的网站可能会用到社交插件功能，其中包括用于追踪会员及非会员的社交网络的追踪信息记录程序，以达到诸如行为广告、分析和市场调查的额外目的。 </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">广告信息记录程序/h2>
                        <p class="sub_header_title">我们和我们的服务供应商可能会用到广告信息记录程序来传送我们认为与您和您的兴趣有关的广告。例如，我们可能会使用目标市场信息记录程序或广告信息记录程序来定制网站的广告和您收到的内容、限制您看到同一广告的次数，并帮助估测我们广告宣传的效力。这些信息记录程序会记住您在本网站或其他网站都浏览了些什么——也许会与第三方提供的其他信息相结合。我们也可能会将这些信息与广告商之类的其他组织进行共享。 <br><br>
                            欲了解目标市场信息记录程序和广告信息记录程序以及如何请求免除的更多信息，请访问:  <br><br>
                            1. 网络广告促进协会： <a rel="nofollow" href="http://www.networkadvertising.org/choices/" title="Network Advertising Initiative" target="_blank">http://www.networkadvertising.org/choices/</a>
                            <br /><br />
                            2. 数字广告联盟:  <a rel="nofollow" href="http://www.aboutads.info/choices/" title="Digital Advertising Alliance" target="_blank">http://www.aboutads.info/choices/</a>
                            <br /><br />
                            3. 欧洲互动数字广告联盟： <a rel="nofollow" href="http://www.youronlinechoices.eu/" title="European Interactive Digital Advertising Alliance" target="_blank">http://www.youronlinechoices.eu/</a>
                            <br /><br />
                            4. <a rel="nofollow" href="http://www.youronlinechoices.com/uk/your-ad-choices" title="your ad choices" target="_blank">http://www.youronlinechoices.com/uk/your-ad-choices</a>
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">第三方如何在本网站上使用信息记录程序？</h2>
                        <p class="sub_header_title">在某些情况下，我们可能会与第三方合作为本网站提供服务。例如，我们会使用由第三方支持的分析服务，他们会代表我方生成分析性信息记录程序。尽管我们可能会用到这些第三方的信息记录程序所提供的统计资料来自定义内容，或达到上方所描述的其他目的，但我们未必能进入这些信息记录程序。 
                            <br /><br />
                            这些公司也可能会将这些信息传递给其他符合法律规定这样做的公司，或是代表他们处理这些信息的其他此类公司。
                            <br /><br />
                            第三方广告商及其他组织也可能会使用他们自己的信息记录程序来采集您在本网站的活动信息和/或您曾经点击过的广告。这些信息可能会与从第三方获取的其他信息相结合。他们会利用这些信息在本网站或是广告商们根据您曾浏览的内容所得出的您最可能感兴趣的其他网站进行广告投放。
                            <br /><br />
                            第三方广告商也可能利用这些信息来估测他们广告的效力，并追踪总体使用情况的统计数据。我们未必能够控制这些第三方信息记录程序，它们的使用可能取决于支持这些信息记录程序的第三方的隐私权政策。  
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">您要如何管理信息记录程序？</h2>
                        <p class="sub_header_title">如果您的浏览器支持拒绝信息记录程序的功能的话，那您随时可以通过更改浏览器的设置来拒绝本网站的信息记录程序。欲了解更多有关禁用信息记录程序的步骤，您可以通过帮助界面找到您的浏览器供应商的网址，在其中寻找相关信息。您也可以参考 <a rel="nofollow" href="http://www.allaboutcookies.org/manage-cookies/index.html" title="manage cookies" target="_blank">http://www.allaboutcookies.org/manage-cookies/index.html</a> 
                            上关于通用浏览器的信息。
                            <br /><br />
                            请注意，如果您禁用或阻拦了任何或全部的信息记录程序，本网站的某些功能可能无法正常运转，您也可能无法使用网站提供的某些功能或个性化服务。 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}