{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}	

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>Tourist Tube Cookie Policy</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">Effective July 4, 2017<br><br>
                            When you visit, access, or use the website, mobile site, or application that links to this Cookie Policy (collectively "Site") Tourist Tube use cookies and other tracking technologies to deliver and improve the Site, and to display relevant content, products, services and advertising.<br><br>
                            This Cookie Policy explains these technologies, including cookies, pixels, web beacons, and flash cookies, and how you can control them.<br><br>
                            By using the Site, you agree that we can use these technologies as described in this Cookie Policy. We hope that this Cookie Policy helps you understand, and feel more confident about, our use of cookies and other tracking technologies. If you have any further questions, please contact us at <a href="mailto:support@touristtube.com" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a><br><br>
                            We may change this Cookie Policy at any time. Please take a look at the Effective date at the top of this page to see when this Cookie Policy was last revised. Any changes in this Cookie Policy will become effective when we make the updated Cookie Policy available on or through the Site.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">What is a Cookie?</h2>
                        <p class="sub_header_title">Cookies are small text files that are stored on your computer or mobile device. They are widely used in order to make
                            websites work, or work in a better, more efficient way. For example, they can recognize you and remember important information that will make
                            your use of a website more convenient (e.g., by remembering your user preferences). </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">What Cookies do we use?</h2>
                        <p class="sub_header_title">Below we list the different types of cookies we may use on the Site. We may also use cookies and similar tools to relate
                            your use of the Site to personal information obtained about you. </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Strictly Necessary Cookies</h2>
                        <p class="sub_header_title">These cookies are essential to the Site in order to facilitate our log-in process and enable you to move around it and
                            to use its features. Without these cookies, we may not be able to provide certain services or features, and the Site will not perform as smoothly
                            for you as we would like.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Functionality Cookies</h2>
                        <p class="sub_header_title">In some circumstances, we may use functionality cookies. Functionality cookies allow us to remember the choices you make
                            while browsing the Site, and to provide enhanced and more personalized content and features, such as customizing a certain webpage, remembering if
                            we have asked you to participate in a promotion and for other services you request, like watching a video or commenting on a blog. In order to permit
                            your connection to the Site, our servers receive and record information about your computer, device, and browser, potentially including your IP addres
                            s, browser type, and other software or hardware information. If you access the Site from a mobile or other device, we may collect a unique device
                            identifier assigned to that device ("UDID"), geolocation data, or other transactional information for that device. All of these features help us to improve
                            your visit to the Site. </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Flash Cookies</h2>
                        <p class="sub_header_title">We may, in certain situations, use Adobe Flash Player to deliver special content, such as
                            video clips or animation. To improve your user experience, Local Shared Objects (commonly known as “Flash cookies”) are employed
                            to provide functions such as remembering your settings and preferences. Flash cookies are stored on your device, but they are managed through 
                            an interface different from the one provided by your web browser. This means it is not possible to manage Flash cookies at the browser level in
                            the same way you would manage other cookies. Instead, you can access your Flash management tools from Adobe's website directly. Adobe provides
                            comprehensive information on how to delete or disable Flash cookies at <a rel="nofollow" href="http://www.adobe.com/security/flashplayer" title="flashplayer" target="_blank">http://www.adobe.com/security/flashplayer</a> 
                            Please be aware that if you disable or reject Flash cookies for this Site, you may not be able to access certain features, such as video content or services that require you to sign in.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Analytics Cookies</h2>
                        <p class="sub_header_title">We and our service providers may use analytics cookies, which are sometimes called performance cookies,
                            to collect information about your use of the Site and enable us to improve the way it works.<br>
                            Analytics cookies collect information about how you use the Site, for instance, which pages you go to most. The information allows
                            us to count our audience size, see the overall patterns of usage on the Site, help us record any difficulties you have with the Site 
                            and show us whether our advertising is effective or not.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Social Networking Cookies</h2>
                        <p class="sub_header_title">Our Site may have social plug-in capabilities which include tracking cookies used to track both members and non-members 
                            of social networks for additional purposes such as behavioral advertising, analytics, and market research. </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Advertising Cookies</h2>
                        <p class="sub_header_title">We and our service providers may use advertising cookies to deliver ads that we believe are relevant to you and 
                            your interests. For example, we may use targeting or advertising cookies to customize the advertising and content you receive on our Site,
                            to limit the number of times you see the same ad on our Site and to help measure the effectiveness of our advertising campaigns. These cookies
                            remember what you have looked at on the Site and other sites, and may be combined with other information acquired from third parties, and we may
                            share this information with other organizations, such as advertisers.<br><br>
                            For more information about targeting and advertising cookies and how to opt out, visit: <br><br>
                            1. Network Advertising Initiative: <a rel="nofollow" href="http://www.networkadvertising.org/choices/" title="Network Advertising Initiative" target="_blank">http://www.networkadvertising.org/choices/</a>
                            <br /><br />
                            2. Digital Advertising Alliance: <a rel="nofollow" href="http://www.aboutads.info/choices/" title="Digital Advertising Alliance" target="_blank">http://www.aboutads.info/choices/</a>
                            <br /><br />
                            3. European Interactive Digital Advertising Alliance: <a rel="nofollow" href="http://www.youronlinechoices.eu/" title="European Interactive Digital Advertising Alliance" target="_blank">http://www.youronlinechoices.eu/</a>
                            <br /><br />
                            4. <a rel="nofollow" href="http://www.youronlinechoices.com/uk/your-ad-choices" title="your ad choices" target="_blank">http://www.youronlinechoices.com/uk/your-ad-choices</a>
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">How do third parties use cookies on the site?</h2>
                        <p class="sub_header_title">In some circumstances, we may work with third parties to provide services on our Site. For example,
                            we use analytics services supported by third party companies who generate analytics cookies on our behalf. We may not have access
                            to these cookies, although we may use statistical information arising from the cookies provided by these third parties to customize 
                            content and for the other purposes described above. 
                            <br /><br />
                            These companies may also transfer this information to other parties where required to do so by law, or where such other parties
                            process the information on their behalf.
                            <br /><br />
                            Third-party advertisers and other organizations may also use their own cookies to collect information about your activities on our Site
                            and/or the advertisements you have clicked on. This information, which may be combined with other information acquired from third parties,
                            may be used by them to serve advertisements on our Site and third-party sites that they believe are most likely to be of interest to you based 
                            on content you have viewed.
                            <br /><br />
                            Third-party advertisers may also use this information to measure the effectiveness of their advertisements and to track aggregate usage
                            statistics. We may not control these third-party cookies and their use may be governed by the privacy policies of the third parties employing
                            these cookies. 
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">How can you control cookies?</h2>
                        <p class="sub_header_title">You may refuse to accept cookies from the Site at any time by activating the setting on your 
                            browser which allows you to refuse cookies. Further information about the procedure to follow in order to disable cookies 
                            can be found on your Internet browser provider's website via your help screen. You may wish to refer
                            to <a rel="nofollow" href="http://www.allaboutcookies.org/manage-cookies/index.html" title="manage cookies" target="_blank">http://www.allaboutcookies.org/manage-cookies/index.html</a> 
                            for information on commonly used browsers.
                            <br /><br />
                            Please note that by disabling or blocking any or all cookies, some features of the Site may not operate as intended, or you
                            may not have access to features or personalization available through the Site. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}