{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}	

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>Politique des Cookies de Tourist Tube</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">En Effet le 4 Juillet 2017 <br><br>
                            Lorsque vous visitez, accédez ou utilisez le site Web, le site mobile ou l'application qui se lient à cette politique de cookies (collectivement, le « Site ») Tourist Tube utilise des cookies et d'autres technologies de suivi pour fournir et améliorer le site et afficher le contenu pertinent, les produits, Les services et la publicité.<br><br>
                            Cette politique sur les cookies explique ces technologies, y compris les cookies, les pixels, les balises Web et les cookies flash, et comment vous pouvez les contrôler<br><br>
                            En utilisant le site, vous acceptez que nous utilisions ces technologies comme décrit dans cette politique de cookies. Nous espérons que cette politique de cookies vous aidera à comprendre et à vous sentir plus confiant sur notre utilisation de cookies et d'autres technologies de suivi. Si vous avez d'autres questions, contactez-nous à <a href="mailto:support@touristtube.com" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a><br><br>
                            Nous pouvons modifier cette politique de cookies à tout moment. Veuillez consulter la date d'entrée en vigueur en haut de cette page pour voir quand cette politique de cookies a été révisée pour la dernière fois. Toute modification apportée à cette politique de cookies prendra effet lorsque nous mettrons la mise à jour de la politique de cookies sur/ou à travers le Site.
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Qu´est-ce qu´un cookie ?</h2>
                        <p class="sub_header_title">Les cookies sont de petits fichiers texte stockés sur votre ordinateur ou votre appareil mobile. Ils sont largement utilisés afin de rendre les sites Web fonctionnels, ou de travailler de manière plus efficace. Par exemple, ils peuvent vous reconnaître et rappeler des informations importantes qui rendront votre utilisation d'un site Web plus pratique (par exemple, en vous rappelant les préférences utilisateur).  </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Quels cookies utilisons-nous ?</h2>
                        <p class="sub_header_title">Ci-dessous nous listons les différents types de cookies que nous pouvons utiliser sur le Site. Nous pouvons également utiliser des cookies et des outils similaires pour relier votre utilisation du site aux informations personnelles obtenues à votre sujet.  </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cookies strictement nécessaires</h2>
                        <p class="sub_header_title">Ces cookies sont essentiels pour le Site afin de faciliter notre processus d'ouverture de session et vous permettent de naviguer et d'utiliser ses fonctionnalités. Sans ces cookies, nous ne pourrons peut-être pas fournir certains services ou fonctionnalités, et le Site ne fonctionnera pas aussi bien pour vous que nous le souhaiterons. </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cookies de fonctionnalité</h2>
                        <p class="sub_header_title">Dans certaines circonstances, nous pouvons utiliser des cookies de fonctionnalité. Les cookies de fonctionnalité nous permettent de nous souvenir des choix que vous avez effectué lors de la navigation sur le Site et de fournir des contenus et des fonctionnalités améliorés et plus personnalisés, comme la personnalisation d'une certaine page Web, en nous rappelant si nous vous avons demandé de participer à une promotion et à d'autres services que vous avez demandé, comme regarder une vidéo ou commenter sur un blog. Afin de permettre votre connexion au Site, nos serveurs reçoivent et enregistrent des informations sur votre ordinateur, votre appareil et votre navigateur, y compris votre adresse IP, votre type de navigateur et d'autres informations sur le logiciel ou le matériel. Si vous accédez au Site à partir d'un appareil mobile ou d'un autre appareil, nous pouvons collecter un identificateur d'appareil unique attribué à ce périphérique ("UDID"), des données de géolocalisation ou d'autres informations transactionnelles pour ce périphérique. Toutes ces fonctionnalités nous aident à améliorer votre visite sur le site </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cookies Flash</h2>
                        <p class="sub_header_title">Nous pouvons, dans certaines situations, utiliser Adobe Flash Player pour offrir un contenu spécial, comme des clips vidéo ou une animation. Pour améliorer votre expérience utilisateur, les objets partagés locaux (communément appelés « cookies Flash ») sont utilisés pour fournir des fonctions telles que la mémorisation de vos paramètres et préférences. Les cookies Flash sont stockés sur votre appareil, mais ils sont gérés via une interface différente de celle fournie par votre navigateur Web. Cela signifie qu'il n'est pas possible de gérer les cookies Flash au niveau du navigateur de la même façon que vous allez gérer d'autres cookies. Au lieu de cela, vous pouvez accéder directement à vos outils de gestion Flash à partir du site Web d'Adobe. Adobe fournit des informations complètes sur la façon de supprimer ou de désactiver les cookies Flash sur <a rel="nofollow" href="http://www.adobe.com/security/flashplayer" title="flashplayer" target="_blank">http://www.adobe.com/security/flashplayer</a> 
                            Veuillez noter que si vous désactivez ou rejetez les cookies Flash de ce site, vous ne pourrez peut-être pas accéder à certaines fonctionnalités, telles que le contenu vidéo ou les services qui vous obligent à vous connecter.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cookies Analytiques</h2>
                        <p class="sub_header_title">Nous et nos fournisseurs de services pouvons utiliser des cookies analytiques, parfois appelés cookies de performance, pour recueillir des informations sur votre utilisation du site et nous permettre d'améliorer la façon dont cela fonctionne. Les cookies d'analyse recueillent des informations sur la façon dont vous utilisez le Site, par exemple, sur les pages auxquelles vous accédez le plus. L'information nous permet de compter la taille de votre audience, voir les profils d'utilisation globaux sur le Site, nous aider à enregistrer les difficultés que vous rencontrez sur le Site et nous montrer si notre publicité est efficace ou non. </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cookies de Médias sociaux</h2>
                        <p class="sub_header_title">Notre site peut avoir des fonctionnalités de plug-ins sociaux qui comprennent des cookies de suivi utilisés pour suivre les membres et les non-membres des réseaux sociaux à des fins supplémentaires telles que la publicité comportementale, l'analyse et l'étude de marché. </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Cookies publicitaires</h2>
                        <p class="sub_header_title">Nous et nos fournisseurs de services pouvons utiliser des cookies publicitaires pour diffuser des publicités que nous croyons pertinentes pour vous et vos intérêts. Par exemple, nous pouvons utiliser des cookies de publicité ou de ciblage pour personnaliser la publicité et le contenu que vous recevez sur notre Site afin de limiter le nombre de fois où vous voyez la même publicité sur notre site et de mesurer l'efficacité de nos campagnes publicitaires. Ces cookies se souviennent de ce que vous avez consulté sur le Site et d'autres sites et peuvent être combinés avec d'autres informations acquises auprès de tiers et nous pouvons partager cette information avec d'autres organisations, comme les annonceurs.<br><br>
                            Pour plus d'informations sur le ciblage et les cookies publicitaires et sur la façon de se retirer, visitez :  <br><br>
                            1. Network Advertising Initiative: <a rel="nofollow" href="http://www.networkadvertising.org/choices/" title="Network Advertising Initiative" target="_blank">http://www.networkadvertising.org/choices/</a>
                            <br /><br />
                            2. Digital Advertising Alliance: <a rel="nofollow" href="http://www.aboutads.info/choices/" title="Digital Advertising Alliance" target="_blank">http://www.aboutads.info/choices/</a>
                            <br /><br />
                            3. European Interactive Digital Advertising Alliance: <a rel="nofollow" href="http://www.youronlinechoices.eu/" title="European Interactive Digital Advertising Alliance" target="_blank">http://www.youronlinechoices.eu/</a>
                            <br /><br />
                            4. <a rel="nofollow" href="http://www.youronlinechoices.com/uk/your-ad-choices" title="your ad choices" target="_blank">http://www.youronlinechoices.com/uk/your-ad-choices</a>
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Comment les tiers utilisent-ils des cookies sur le Site ?</h2>
                        <p class="sub_header_title">Dans certaines circonstances, nous pouvons travailler avec des tiers pour fournir des services sur notre Site. Par exemple, nous utilisons des services analytiques pris en charge par des entreprises tierces qui génèrent des cookies analytiques en notre nom. Nous ne pouvons pas avoir accès à ces cookies, bien que nous puissions utiliser des informations statistiques provenant des cookies fournis par ces tiers pour personnaliser le contenu et pour les autres fins décrites ci-dessus.  
                            <br /><br />
                            Ces sociétés peuvent également transférer ces informations à d´autres parties lorsque la loi le requiert ou lorsque ces autres parties traitent les informations en leur nom.
                            <br /><br />
                            Des annonceurs tiers et d'autres organisations peuvent également utiliser leurs propres cookies pour recueillir des informations sur vos activités sur notre site et / ou les publicités sur lesquelles vous avez cliqué. Ces informations, qui peuvent être combinées avec d'autres informations acquises auprès de tiers, peuvent être utilisées par elles pour diffuser des publicités sur notre site et les sites tiers qu'ils croient être les plus susceptibles de vous intéresser en se basant sur le contenu que vous avez consulté. 
                            <br /><br />
                            Les annonceurs tiers peuvent également utiliser ces informations pour mesurer l'efficacité de leurs publicités et pour suivre les statistiques d'utilisation globale. Nous ne pouvons pas contrôler ces cookies tiers, et leur utilisation peut être régie par les règles de confidentialité des tiers qui utilisent ces cookies. 
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Comment contrôler les cookies ?</h2>
                        <p class="sub_header_title">Vous pouvez refuser d'accepter les cookies du Site à tout moment en activant le paramètre sur votre navigateur qui vous permet de refuser les cookies. Vous trouverez plus d'informations sur la procédure à suivre pour désactiver les cookies sur le site Web de votre fournisseur de navigation Internet via votre écran d'aide. Vous pouvez consulter
                            <a rel="nofollow" href="http://www.allaboutcookies.org/manage-cookies/index.html" title="manage cookies" target="_blank">http://www.allaboutcookies.org/manage-cookies/index.html</a> 
                            pour plus d'informations sur les navigateurs couramment utilisés. 
                            <br /><br />
                            Veuillez noter qu'en désactivant ou en bloquant tout ou partie des cookies, certaines fonctionnalités du Site peuvent ne pas fonctionner comme prévu, ou vous n'aurez peut-être pas accès aux fonctionnalités ou à la personnalisation disponibles sur le Site. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}