{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}	

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>टूरिस्ट ट्यूब कुकी नीति</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">प्रभावी जुलाई ४, २०१७<br><br>
                            जब आप इस कुकी नीति (सामूहिक रूप से "साइट") से लिंक वेबसाइट, मोबाइल साइट या एप्लिकेशन का उपयोग करते हैं, तो पहुंच या उस साइट का उपयोग करने के लिए, और प्रासंगिक सामग्री, उत्पादों को दिखाने के लिए कुकीज और अन्य ट्रैकिंग तकनीक का उपयोग करते हैं, सेवाए और विज्ञा <br><br>
                            यह कुकी नीति कुकीज़, पिक्सेल, वेब बीकन और फ्लैश कुकीज़ सहित इन तकनीकों को बताती है, और आप उन्हें कैसे नियंत्रित कर सकते हैं।<br><br>
                            साइट का उपयोग करके, आप इस कुकी नीति में वर्णित अनुसार इन प्रौद्योगिकियों का उपयोग कर सकते हैं। हमें उम्मीद है कि यह कुकी नीति आपको समझने में मदद करती है, और कुकीज़ के बारे में और अन्य ट्रैकिंग तकनीकों के बारे में अधिक आश्वस्त महसूस करती है। यदि आपके कोई और प्रश्न हैं, तो कृपया  <a href="mailto:support@touristtube.com" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a>पर हमसे संपर्क करें। <br><br>
                            हम किसी भी समय इस कुकी नीति को बदल सकते हैं। कृपया इस पेज के शीर्ष पर प्रभावी तिथि पर एक नज़र डाले जब यह कुकी नीति को अंतिम बार संशोधित किया गया था। इस कुकी नीति में कोई भी बदलाव प्रभावी हो जाएगा जब हम अद्यतन कुकी नीति साइट पर या उसके माध्यम से उपलब्ध कराते हैं।
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">कुकी क्या है?</h2>
                        <p class="sub_header_title">कुकीज़ छोटे टेक्स्ट फ़ाइलें हैं जो आपके कंप्यूटर या मोबाइल डिवाइस पर संग्रहीत हैं। वे वेबसाइटों को काम करने के लिए व्यापक रूप से उपयोग किए जाते हैं, या बेहतर, अधिक कुशल तरीके से काम करते हैं। उदाहरण के लिए, वे आपको पहचान सकते हैं और महत्वपूर्ण जानकारी याद करा सकते हैं जो एक वेबसाइट के आपके उपयोग को अधिक सुविधाजनक बना देगी (उदाहरण के लिए, अपनी उपयोगकर्ता प्राथमिकताएं याद करके)। </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">क्या कुकीज़ हम उपयोग करते हैं?</h2>
                        <p class="sub_header_title">नीचे हम साइट पर विभिन्न प्रकार की कुकीज़ का उपयोग कर सकते हैं। हम साइट के आपके इस्तेमाल से आपके बारे में प्राप्त व्यक्तिगत जानकारी के लिए कुकीज़ और इसी तरह के टूल का उपयोग भी कर सकते हैं।  </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">पूरी तरह से जरूरी कुकीज़</h2>
                        <p class="sub_header_title">हमारी लॉग-इन प्रक्रिया को सुविधाजनक बनाने के लिए साइट्स के लिए ये कुकीज आवश्यक हैं और आप इसे चारों ओर ले जाने और इसकी विशेषताओं का उपयोग करने के लिए सक्षम कर सकते हैं। इन कुकीज़ के बिना, हम कुछ सेवाओं या सुविधाओं को प्रदान करने में सक्षम नहीं हो सकते हैं, और साइट आपके लिए जितनी चाहें उतनी आसानी से प्रदर्शन नहीं करेगी</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">कार्यक्षमता कुकीज़</h2>
                        <p class="sub_header_title">कुछ परिस्थितियों में, हम कार्यक्षमता कुकीज़ का उपयोग कर सकते हैंI कार्यक्षमता कुकीज़ हमें साइट ब्राउज़ करते समय आपके द्वारा किए गए विकल्पों को याद रखने की अनुमति देता है, और एक निश्चित वेबपेज को अनुकूलित करने जैसे उन्नत और अधिक व्यक्तिगत सामग्री और विशेषताओं को प्रदान करने के लिए, याद रखता है कि क्या हमने आपको एक प्रचार और अन्य सेवाओं में भाग लेने के लिए कहा है, जैसे किसी वीडियो को देखने या ब्लॉग पर टिप्पणी करना साइट पर आपके कनेक्शन की अनुमति देने के लिए, हमारे सर्वर संभावित रूप से आपके आईपी एड्रेस, ब्राउज़र टाइप और अन्य सॉफ़्टवेयर या हार्डवेयर सूचनाओं सहित, आपके कंप्यूटर, डिवाइस और ब्राउज़र के बारे में जानकारी प्राप्त करते हैं और रिकॉर्ड करते हैं। यदि आप किसी मोबाइल या अन्य डिवाइस से साइट तक पहुंचते हैं, तो हम उस डिवाइस की ("यूडीआईडी"), जियोलोकेशन डेटा या उस डिवाइस के लिए अन्य लेनदेन संबंधी जानकारी को असाइन किए गए एक अनन्य डिवाइस पहचानकर्ता एकत्र कर सकते हैं। ये सभी सुविधाएं साइट पर आपकी यात्रा को बेहतर बनाने में हमारी मदद करती हैं। </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">फ़्लैश कुकीज़</h2>
                        <p class="sub_header_title">हम कुछ स्थितियों में विशेष सामग्री वितरित करने के लिए एडोब फ़्लैश प्लेयर का उपयोग कर सकते हैं, जैसे कि वीडियो क्लिप या एनिमेशन है। अपने उपयोगकर्ता अनुभव को बेहतर बनाने के लिए, स्थानीय साझा ऑब्जेक्ट (आमतौर पर "फ्लैश कुकीज़" के नाम से जाना जाता है) आपके कार्यों और प्राथमिकताओं को याद रखने के लिए कार्य करने के लिए कार्यरत हैंI फ्लैश कुकीज़ आपके डिवाइस पर संग्रहीत की जाती हैं, लेकिन वे आपके वेब ब्राउज़र द्वारा प्रदत्त किसी इंटरफ़ेस के माध्यम से प्रबंधित की जाती हैं। इसका अर्थ यह है कि ब्राउज़र के स्तर पर फ्लैश कुकीज़ का प्रबंधन उसी प्रकार से संभव नहीं है जैसा आप अन्य कुकीज़ प्रबंधित करेंगे। इसके बजाय, आप एडोब की वेबसाइट से सीधे अपने फ्लैश प्रबंधन उपकरण का उपयोग कर सकते हैं। एडोब  <a rel="nofollow" href="http://www.adobe.com/security/flashplayer" title="flashplayer" target="_blank">http://www.adobe.com/security/flashplayer</a> 
                             पर फ्लैश कुकीज़ को हटाने या अक्षम करने की व्यापक जानकारी प्रदान करता है। कृपया ध्यान रखें कि यदि आप इस साइट के लिए फ़्लैश कुकीज़ को निष्क्रिय या अस्वीकार करते हैं, तो आप कुछ विशेषताओं तक पहुंचने में सक्षम नहीं हो सकते हैं, जैसे कि वीडियो सामग्री या सेवाओं जिसकी आपको साइन इन करने की आवश्यकता होती है।</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">एनालिटिक्स कुकीज</h2>
                        <p class="sub_header_title">हम और हमारे सेवा प्रदाता विश्लेषिकी कुकीज़ का उपयोग कर सकते हैं, जिन्हें कभी-कभी प्रदर्शन कुकीज़ कहा जाता है, साइट के आपके उपयोग के बारे में जानकारी एकत्र करने के लिए और जिस तरह से यह काम करता है उसे सुधारने में हमें सक्षम बनाता है। विश्लेषिकी कुकीज इस साइट के बारे में जानकारी एकत्रित करती है, उदाहरण के लिए, आप किन पृष्ठों पर सबसे ज्यादा जाते हैं जानकारी हमें हमारे दर्शकों के आकार की गिनती करने की अनुमति देती है, साइट पर उपयोग के समग्र पैटर्न देखें, साइट के साथ आपकी कोई भी समस्याएं रिकॉर्ड करने में हमारी सहायता करें और हमें बताएं कि हमारा विज्ञापन प्रभावी है या नहीं।</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">सोशल नेटवर्किंग कुकीज़</h2>
                        <p class="sub_header_title">हमारी साइट में सोशल प्लग-इन क्षमताएं हो सकती हैं जिसमें व्यवहार संबंधी विज्ञापन, विश्लेषिकी और बाजार अनुसंधान जैसे अतिरिक्त उद्देश्य जैसे सदस्यों और सामाजिक नेटवर्क के गैर-सदस्यों दोनों को ट्रैक करने के लिए उपयोग की जाने वाली ट्रैकिंग कुकी शामिल हो सकती है।  </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">विज्ञापन कुकीज़</h2>
                        <p class="sub_header_title">हम और हमारे सेवा प्रदाता विज्ञापन कुकीज़ को विज्ञापन देने के लिए उपयोग कर सकते हैं, जो हमें विश्वास है कि आप और आपकी रुचियों के लिए प्रासंगिक हैं। हम अपने साइट पर प्राप्त विज्ञापन और सामग्री को अनुकूलित करने के लिए लक्ष्यीकरण या विज्ञापन कुकी का उपयोग कर सकते हैं, ताकि आप हमारी साइट पर उसी विज्ञापन को देख सकें और हमारे विज्ञापन अभियानों की प्रभावशीलता को मापने में सहायता करें। इन कुकीज़ को याद रखें कि आपने साइट और अन्य साइटों पर क्या देखा है, और तीसरी पार्टी से प्राप्त अन्य जानकारी के साथ जोड़ा जा सकता है, और हम इस जानकारी को अन्य संगठनों जैसे कि विज्ञापनदाता के साथ साझा कर सकते हैंI <br><br>
                            लक्ष्यीकरण और विज्ञापन कुकीज और कैसे बाहर निकलने के बारे में अधिक जानकारी के लिए, यहां पर जाएं:  <br><br>
                            1. नेटवर्क विज्ञापन पहल: <a rel="nofollow" href="http://www.networkadvertising.org/choices/" title="Network Advertising Initiative" target="_blank">http://www.networkadvertising.org/choices/</a>
                            <br /><br />
                            2. डिजिटल विज्ञापन गठबंधन: <a rel="nofollow" href="http://www.aboutads.info/choices/" title="Digital Advertising Alliance" target="_blank">http://www.aboutads.info/choices/</a>
                            <br /><br />
                            3. यूरोपीय इंटरैक्टिव डिजिटल विज्ञापन गठबंधन: <a rel="nofollow" href="http://www.youronlinechoices.eu/" title="European Interactive Digital Advertising Alliance" target="_blank">http://www.youronlinechoices.eu/</a>
                            <br /><br />
                            4. <a rel="nofollow" href="http://www.youronlinechoices.com/uk/your-ad-choices" title="your ad choices" target="_blank">http://www.youronlinechoices.com/uk/your-ad-choices</a>
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">तीसरे पक्ष साइट पर कुकीज़ का प्रयोग कैसे करते हैं?</h2>
                        <p class="sub_header_title">कुछ परिस्थितियों में, हम तृतीय पक्षों के साथ हमारी साइट पर सेवाएं प्रदान करने के लिए काम कर सकते हैं। उदाहरण के लिए, हम तृतीय पक्ष कंपनियों द्वारा समर्थित विश्लेषिकी सेवाओं का उपयोग करते हैं, जो हमारी ओर से विश्लेषिकी कुकीज़ तैयार करते हैं। हमारे पास इन कुकीज़ का उपयोग नहीं हो सकता है, हालांकि हम सामग्री को अनुकूलित करने के लिए इन तृतीय पक्षों द्वारा प्रदान की जाने वाली कुकीज़ से उत्पन्न सांख्यिकीय जानकारी का उपयोग कर सकते हैं और ऊपर वर्णित अन्य उद्देश्यों के लिए है।  
                            <br /><br />
                            ये कंपनियां इस सूचना को दूसरे पक्षों को भी स्थानांतरित कर सकती हैं, जहां कानून द्वारा ऐसा करना आवश्यक है, या जहां अन्य पार्टियां उनकी ओर से जानकारी संसाधित करती हैं। 
                            <br /><br />
                            तीसरे पक्ष के विज्ञापनदाता और अन्य संगठन भी हमारी साइट पर आपकी गतिविधियों और / या आपके द्वारा क्लिक किए गए विज्ञापनों पर आपकी गतिविधियों के बारे में जानकारी एकत्र करने के लिए अपनी स्वयं की कुकीज़ का उपयोग कर सकते हैं। यह जानकारी, जिसे तीसरे पक्षों से प्राप्त अन्य जानकारी के साथ मिलाया जा सकता है, का उपयोग हमारी साइट और तृतीय-पक्ष साइटों पर विज्ञापन देने के लिए उनके द्वारा किया जा सकता है, जिनके बारे में वे मानते हैं कि आपके द्वारा देखी गई सामग्री के आधार पर आपके लिए रुचि की संभावना अधिक है। 
                            <br /><br />
                            तीसरे पक्ष के विज्ञापनदाता भी इस जानकारी का उपयोग अपने विज्ञापनों की प्रभावशीलता को मापने और समग्र उपयोग के आंकड़ों को ट्रैक करने के लिए भी कर सकते हैं। हम इन तृतीय-पक्ष कुकीज़ को नियंत्रित नहीं कर सकते हैं और उनका उपयोग इन कुकीज़ को नियंत्रित करने वाले तृतीय पक्ष की गोपनीयता नीतियों द्वारा नियंत्रित किया जा सकता है।  
                        </p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">आप कुकीज़ कैसे नियंत्रित कर सकते हैं?</h2>
                        <p class="sub_header_title">आप अपने ब्राउज़र की सेटिंग को सक्रिय करके किसी भी समय साइट से कुकीज़ को स्वीकार करने से इंकार कर सकते हैं, जिससे आप कुकीज़ को मना कर सकते हैं। कुकीज़ को असक्षम करने के लिए अनुसरण करने की प्रक्रिया के बारे में अधिक जानकारी कर आपके इंटरनेट ब्राउज़र प्रदाता की वेबसाइट पर आपकी सहायता स्क्रीन के माध्यम से पाई जा सकती है। सामान्यतः इस्तेमाल किए जाने वाले ब्राउज़र पर जानकारी के लिए आप <a rel="nofollow" href="http://www.allaboutcookies.org/manage-cookies/index.html" title="manage cookies" target="_blank">http://www.allaboutcookies.org/manage-cookies/index.html</a> 
                            को संदर्भित करना चाह सकते हैं। 
                            <br /><br />
                            कृपया ध्यान दें कि किसी भी या सभी कुकीज़ को निष्क्रिय या अवरुद्ध करके, साइट की कुछ सुविधाएं अपेक्षित रूप से कार्य नहीं कर सकती हैं, या आप साइट के माध्यम से उपलब्ध सुविधाओं या निजीकरण तक पहुंच नहीं सकते हैं।
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}