{% extends 'baseFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>

{% endblock %}
{% block body %}
    <section class="container disclaimer_container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>अस्वीकरण</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">अस्वीकरण</h2>
                        <p class="sub_header_title text-justify">हम कौशल और देखभाल के लिए एक वाणिज्यिक दृष्टि से उचित स्तर का उपयोग कर हमारी सेवाओं प्रदान करते हैं और हमें आशा है कि आपको उन सबसे लाभ होगा।</p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">गारंटीवारंटियां</h2>
                        <p class="sub_header_title text-justify">अन्य की तुलना में स्पष्ट रूप से इन शर्तों या अतिरिक्त शर्तों में निर्धारित है, न तो पर्यटक ट्यूब और न ही इसके आपूर्तिकर्ता या वितरक सेवाओं के बारे में कोई भी विशिष्ट वादे करते हैं। इसके अलावा, हम सेवा में सामग्री, सेवाओं के विशेष समारोह में, या उनकी विश्वसनीयता, उपलब्धता, या अपनी जरूरतों को पूरा करने की क्षमता के बारे में कोई वचन नहीं देते है। ऐसा लगता है कि हम सेवाएं प्रदान करते है। दूसरे शब्दों में, और कानून द्वारा अनुमत सीमा तक, हम सभी वारंटियों को अलग करते है।</p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">उत्तरदायित्व</h2>
                        <p class="sub_header_title text-justify">पर्यटक ट्यूब, और उसके आपूर्तिकर्ता और वितरक, गवाए गए लाभ, राजस्व, या डेटा, वित्तीय घाटा या अप्रत्यक्ष विशेष, अनुकरणीय, परिणामी या दंडात्मक क्षति के लिए जिम्मेदार नहीं होगा जब यह कानून द्वारा अनुमति दी है। पर्यटक ट्यूब का कुल दायित्व, और उसके आपूर्तिकर्ताओं और वितरकों के, इन शर्तों के तहत किसी भी दावे के लिए, किसी भी निहित वारंटी सहित, राशि सेवाओं का उपयोग करने के लिए हमें भुगतान करने तक ही सीमित है (या, फिर हम आपकी सेवा की आपूर्ति करने के लिए चुनते हैं)। </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title text-justify">{{'now'|date('Y')}} &copy; पर्यटक ट्यूब एफजेड-एलएलसी</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}