<div id="searchdestination_id" class="bag-search"> 
    <span class="tt-sprites i-search-map"></span> 
    <span class=" tt-sprites i-search-crose">clean</span>
    <input name="city" type="text" placeholder="{{'Search for your destination'|trans}}" class="input-search searchlocation" data-id="0" data-city="" data-state="" data-contryc="" data-type="0">
</div>
<div id="searchfor_id" class="bag-search margin0"> 
    <span class="tt-sprites i-search-mgf"></span>
    <span class=" tt-sprites i-search-crose">clean</span>
    <input name="searchfor" type="text" placeholder="{{searchfortext|raw}}" class="input-search searchfor" onkeypress="return checkSRCHSubmit(event)">
    <div class="search-staticup">
        <div class="search-static">
        </div>
    </div>
</div>
<div class="bag-search last margin0">
    <input type="button" value="{{'Find'|trans}}" class="search-btn search-btnClick search-btnmain{{isindexpage|raw}}">
</div>