/*right container :
=================*/

.rightfourcontainer_sts{
    float: right;
}
.rightcontainerbordergrey_sts {

    border: 4px solid #dfdfdf;
    padding: 35px 30px 35px 30px;
}
.rightcontainerbordergrey_wtt_sts {

    border: 4px solid #dfdfdf;
}

.commontextblack_sts{
    padding-left: 29px;
    color: black;
    font-size: 16px;
    line-height: 25px;
}
.location_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/locationlogo_sts.png") no-repeat scroll 0 0px;
}
.borderbetweendiv_sts{
    border-top: 2px solid #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fromto_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/fromtosym_sts.png") no-repeat scroll 0 0px;
}
.homelogo_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/homelogo_sts.png") no-repeat scroll 0 0px;
}
.personlogo_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/personlogo_sts.png") no-repeat scroll 0 0px;
}
.resontt_sts{
    padding-left: 57px;
    margin-top: 27px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.whyttlist_sts{
    list-style: none;
}
.whyttlist_sts li{
    margin-left: 33px;
    padding-left: 24px;
    color: #737373;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/vrairose_dtt.png") no-repeat scroll 0 10px;
    line-height: 31px;
}
.paddhorborder_sts{
    padding-left: 36px;
    padding-right: 36px;
}
.inhorborderstyle_sts{
    border: 1px solid #dfdfdf;
    margin-top: 30px;
    margin-bottom: 15px;
}
.needhelp_sts{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-right: 5px;
    padding-left: 57px;
}
.contus_sts a{
    color: #d10c3b;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.extrabordmarbut_sts{
    margin-bottom: 30px;
}
.secpay_sts{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-left: 57px;
}
.protectpay_sts{
    color: #737373;
    font-size: 14px;
    padding-left: 57px;
    padding-top: 10px;
    line-height: 20px;
}
.textalligncenter{
    text-align: center;
}
.paymimgs_sts_cont{
    width: 225px;
    margin: 0 auto;
}
.payimgssingle_sts{
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.martop10{
    margin-top: 10px;
}
@media (min-width:768px)  and (max-width:991px){
    .smlabigpad{
	padding: 10px;
    }
    .inhorborderstyle_sts {
	margin-bottom: 14px;
    }
    .needhelp_sts {
	padding-top: 27px;
    }
    .secpay_sts {
	padding-top: 36px;
    }
}
/*==========================================*/
.margintop100{
    margin-top: 100px;
}
.seccon_sts{
    font-size: 28px;
    color: black;
    line-height: 25px;
    margin-bottom: 48px;
}
.bookbut_sts ,.bookbut_sts:hover{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    height: 54px;
    background-color: #d10c3b;
    margin-top: 10px;
    display: block;
    line-height: 54px;

}
.borderedautowdsiv_sts{
    border-bottom: 2px solid #d10c3b;
    width: 60%;
}
.alrhaccpink_sts{
    color: #d10c3b;
    font-size: 19px;
    line-height: 25px;
    float: left;
    background: rgba(0,0,0,0) url("/media/images/stepseven/stepsevenbluearrow_sts.png") no-repeat scroll 0 center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.signinbut_sts ,.signinbut_sts:hover{
    min-width: 97px;
    height: 35px;
    line-height: 35px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
    background-color: #d10c3b;
    float: right;
    text-decoration: none;
}
.arrdepboldtext_sts{
    font-size: 16px;
    color: black;
    font-weight: bold;
    line-height: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.detbluetxt_sts{
    color: #5662bc;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 7px;
}
.arrdepstandardinput_sts{
    color: black;
    font-size: 16px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 380px;
    margin-bottom: 20px;
    float: left;
}
.firstnameinput_sts{
    color: black;
    font-size: 16px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 180px;
    margin-bottom: 20px;
    float: left;
}
.marginleft20{
    margin-left: 20px;
}
.margintop30{
    margin-top: 30px;
}
.arrdepstandardinput_sts::-webkit-input-placeholder ,.firstnameinput_sts::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}
.arrdepstandardinput_sts:-moz-placeholder ,.firstnameinput_sts:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
}
.arrdepstandardinput_sts::-moz-placeholder ,.firstnameinput_sts::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}
.arrdepstandardinput_sts:-ms-input-placeholder ,.firstnameinput_sts:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}
.margintop20{
    margin-top: 20px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.mobilestandardinput_sts{
    color: black;
    font-size: 16px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 285px;
    margin-bottom: 20px;
    margin-left: 5px;
    float: left;
}
.selectdialingcodestandard_sts{
    height: 38px;
    border: 1px solid #d6d6d6;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 270px;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    margin-bottom: 20px;
    float: left;
}
.selectboxlargestandard_sts{
    height: 38px;
    border: 1px solid #d6d6d6;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 380px;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    margin-bottom: 20px;
}
.textarea_sts{
    min-height: 120px;
    border: 1px solid #d6d6d6;
    padding-left: 15px;
    color: black;
    width: 380px;
    font-size: 16px;
    margin-bottom: 20px;
}
.flatleftstyle_sts{
    float: left;
}
.redemdisc_sts ,.redemdisc_sts:hover{
    min-width: 167px;
    height: 35px;
    line-height: 35px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    background-color: #d10c3b;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
}
.rightpaymnetimgscont_sts{
    width: 163px;
    float: left;
    margin-left: 15px;
}
.rightpaymnetimgscont_sts img{
    float: left;
    cursor: pointer;
}
.rightpaymnetimgscont_sts .redborderimgstylepad_sts{
    margin-left: 7px;
    margin-right: 7px;
    cursor: none;
}
.smalselectbox_sts{
    float: left;
    width: 180px;
}
.sndsboxstyle{
    margin-left: 20px;
}
.termsandcondtext_sts{
    font-size: 14px;
    color: black;
    line-height: 18px;
}
.temcondurl_sts ,.temcondurl_sts:hover{
    color: #d10c3b;
    text-decoration: underline;
}
.compbookbluebut_sts ,.compbookbluebut_sts:hover{
    width: 380px;
    height: 54px;
    line-height: 54px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
    background-color: #5662bc;
    text-decoration: none;
    display: block;
    margin-top: 25px;
    margin-bottom: 13px;
}
.lastfloatleftsponimg_sts{
    width: 100%;
    float: left;
}
.lastfloatleftsponimg_sts img{
    float: left;
    padding-left: 10px;
}
@media (min-width:992px)  and (max-width:1199px){
    .borderedautowdsiv_sts{
	width: 75%;
    }
}
@media (max-width:991px){
    .seccon_sts{
	margin-top: 30px;
    }
}

@media (min-width:768px)  and (max-width:991px){
    .borderedautowdsiv_sts{
	width: 65%;
    }
}
@media (min-width:320px)  and (max-width:767px){
    .seccon_sts{
	font-size: 25px;
    }
    .borderedautowdsiv_sts{
	width: 100%;
    }
    .rightpaymnetimgscont_sts {
	width: 100%;
	margin-left: 0;
	margin-bottom: 20px;
    }

}
@media (max-width:505px){
    .redemdisc_sts, .redemdisc_sts:hover {
	min-width: 100%;
	font-size: 15px;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 10px;
    }
}
@media (max-width:405px){
    .signinbut_sts, .signinbut_sts:hover {
	float: left;
	margin-bottom: 10px;
	width: 100%;
    }
    .arrdepstandardinput_sts, .selectdialingcodestandard_sts {
	width: 100%;
    }
    .firstnameinput_sts, .mobilestandardinput_sts {
	width: 100%;
	margin-left: 0;
    }
    .selectboxlargestandard_sts ,.textarea_sts ,.compbookbluebut_sts ,.compbookbluebut_sts:hover{
	width: 100%;
    }
    .sndsboxstyle{
	margin-left: 0;
    }

}
