.leftmenuebackcolor_corp{
    background-color: #c2205d;
}
.contentbackcolor_corp{
    background-color: #1e262a;
}
.plane_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/locationtheme2_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #ffffff;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #ffffff;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #ce4d7d;
}
.headerstyle_corp{
    color: #ffffff;
}
.licolback_corpfl{
    background-color: #8b9398;
    color: #ffffff;
}
.deparrival_corpflight .deparrival_input_corpfl {
    background-color: #2e3c44;
    color: #ffffff;
}
.deparrival_corphotel .deparrival_input_corphotel{
    background-color: #2e3c44;
    color: #ffffff;
}
.selectboxes_corpfl select{
    background-color: #a6acb0;
    color: #ffffff; 
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme3_corp.png") no-repeat scroll center center;
}

/*attractions:
=================*/

.destinations_title {
    color: white;
}
.destinations_subtitle {
    color: white;
}