/*right container :
=================*/

.rightfourcontainer_sts{
    float: right;
}
.rightcontainerbordergrey_sts {

    border: 4px solid #dfdfdf;
    padding: 35px 30px 35px 30px;
}
.rightcontainerbordergrey_wtt_sts {

    border: 4px solid #dfdfdf;
}

.commontextblack_sts{
    padding-left: 29px;
    color: black;
    font-size: 16px;
    line-height: 25px;
}
.location_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/locationlogo_sts.png") no-repeat scroll 0 0px;
}
.borderbetweendiv_sts{
    border-top: 2px solid #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fromto_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/fromtosym_sts.png") no-repeat scroll 0 0px;
}
.homelogo_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/homelogo_sts.png") no-repeat scroll 0 0px;
}
.personlogo_sts{
    background: rgba(0,0,0,0) url("/media/images/stepseven/personlogo_sts.png") no-repeat scroll 0 0px;
}
.resontt_sts{
    padding-left: 57px;
    margin-top: 27px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.whyttlist_sts{
    list-style: none;
}
.whyttlist_sts li{
    margin-left: 33px;
    padding-left: 24px;
    color: #737373;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/vrairose_dtt.png") no-repeat scroll 0 10px;
    line-height: 31px;
}
.paddhorborder_sts{
    padding-left: 36px;
    padding-right: 36px;
}
.inhorborderstyle_sts{
    border: 1px solid #dfdfdf;
    margin-top: 30px;
    margin-bottom: 15px;
}
.needhelp_sts{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-right: 5px;
    padding-left: 57px;
}
.contus_sts a{
    color: #d10c3b;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.extrabordmarbut_sts{
    margin-bottom: 30px;
}
.secpay_sts{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-left: 57px;
}
.protectpay_sts{
    color: #737373;
    font-size: 14px;
    padding-left: 57px;
    padding-top: 10px;
    line-height: 20px;
}
.textalligncenter{
    text-align: center;
}
.paymimgs_sts_cont{
    width: 225px;
    margin: 0 auto;
}
.payimgssingle_sts{
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.martop10{
    margin-top: 10px;
}
.martop20{
    margin-top: 20px;
}
.margintop100{
    margin-top: 100px;
}
.padding10{
    padding: 10px;
}
.bookbut_sts ,.bookbut_sts:hover{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    height: 54px;
    background-color: #d10c3b;
    margin-top: 10px;
    display: block;
    line-height: 54px;

}
#bookNow{
    display: block !important;
}

/*================== Copied Css ========================*/
.seccon_sts{
    font-size: 28px;
    color: black;
    line-height: 25px;
    margin-bottom: 48px;
}
.borderedautowdsiv_sts{
    border-bottom: 2px solid #d10c3b;
    width: 60%;
}
.alrhaccpink_sts{
    color: #d10c3b;
    font-size: 19px;
    line-height: 25px;
    float: left;
    background: rgba(0,0,0,0) url("/media/images/stepseven/stepsevenbluearrow_sts.png") no-repeat scroll 0 center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.signinbut_sts ,.signinbut_sts:hover{
    min-width: 97px;
    height: 35px;
    line-height: 35px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
    background-color: #d10c3b;
    float: right;
    text-decoration: none;
}
.arrdepboldtext_sts{
    font-size: 16px;
    color: black;
    font-weight: bold;
    line-height: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.detbluetxt_sts{
    color: #5662bc;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 7px;
}
.mobilestandardinput_sts{
    color: black;
    font-size: 16px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 260px;
    margin-left: 5px;
    margin-bottom: 20px;
    float: left;
}
.selectdialingcodestandard_sts{
    height: 38px;
    border: 1px solid #d6d6d6;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 270px;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    margin-bottom: 20px;
    float: left;
}
.arrdepstandardinput_sts{
    color: black;
    font-size: 16px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 380px;
    margin-bottom: 20px;
    float: left;
}
.firstnameinput_sts{
    color: black;
    font-size: 16px;
    padding-left: 15px;
    height: 38px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    width: 180px;
    margin-bottom: 20px;
    float: left;
}
.marginleft20{
    margin-left: 20px;
}
.margintop30{
    margin-top: 30px;
}
.marginbottom10{
    margin-bottom: 10px;
}
.arrdepstandardinput_sts::-webkit-input-placeholder ,.firstnameinput_sts::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}
.arrdepstandardinput_sts:-moz-placeholder ,.firstnameinput_sts:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
}
.arrdepstandardinput_sts::-moz-placeholder ,.firstnameinput_sts::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}
.arrdepstandardinput_sts:-ms-input-placeholder ,.firstnameinput_sts:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}
.margintop20{
    margin-top: 20px;
}
.flatleftstyle_sts{
    float: left;
}
.redemdisc_sts ,.redemdisc_sts:hover{
    min-width: 167px;
    height: 35px;
    line-height: 35px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    background-color: #d10c3b;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
}
.rightpaymnetimgscont_sts{
    width: 163px;
    float: left;
    margin-left: 15px;
}
.rightpaymnetimgscont_sts img{
    float: left;
    cursor: pointer;
}
.rightpaymnetimgscont_sts .redborderimgstylepad_sts{
    margin-left: 7px;
    margin-right: 7px;
    cursor: none;
}
.termsandcondtext_sts{
    font-size: 14px;
    color: black;
    line-height: 18px;
}
.temcondurl_sts ,.temcondurl_sts:hover{
    color: #d10c3b;
    text-decoration: underline;
}
.compbookbluebut_sts ,.compbookbluebut_sts:hover{
    width: 380px;
    height: 54px;
    line-height: 54px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 19px;
    background-color: #5662bc;
    text-decoration: none;
    display: block;
    margin-top: 25px;
    margin-bottom: 13px;
}
.smalselectbox_sts{
    float: left;
    width: 180px;
}
.sndsboxstyle{
    margin-left: 20px;
}
.textarea_sts{
    min-height: 120px;
    border: 1px solid #d6d6d6;
    padding-left: 15px;
    color: black;
    width: 380px;
    font-size: 16px;
    margin-bottom: 20px;
}

/*==========================================*/

@media (min-width:768px)  and (max-width:991px){
    .smlabigpad{
	padding: 10px;
    }
    .inhorborderstyle_sts {
	margin-bottom: 14px;
    }
    .needhelp_sts {
	padding-top: 27px;
    }
    .secpay_sts {
	padding-top: 36px;
    }
}
/*==========================================*/
select{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}
.selectboxlargestandard_sts{
    height: 38px;
    border: 1px solid #d6d6d6;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 380px;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    margin-bottom: 20px;
}
.step0pinktext_sts{
    color: #d10c3b;
    padding-right: 5px;
}
.titlest0black_sts{
    font-size: 28px;
    color: black;
    margin-bottom: 25px;
}
.nextsteps_sts {
    font-size: 16px;
    font-weight: bold;
    width: auto;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 5px;
    background-color: #5662bc;
    text-decoration: none;
    cursor: pointer;
    color: white;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 0 15px;
}
.nextsteps_sts:hover {
    text-decoration: underline;
    color: white;
}
.hiddensteps_sts{
    display: none;
}
.bluesmtitle_sts{
    font-size: 25px;
    color: #5662bc;
    line-height: 25px;
}
.textunblack_sts{
    color: #4e4e4e;
    font-size: 16px;
    line-height: 25px;
}
.step1typetransfer{
    margin-bottom: 50px;
    float: left;
    cursor: pointer;
    clear: both;
}
.step1typetransfer:hover > p{
    text-decoration: underline;
    color: #d10c3b;
}
.step1typetransfer.active > p{
    text-decoration: underline;
    color: #d10c3b;
}
.squrebordereddivgrey_sts{
    border: 5px solid #dfdfdf;
    display: table;
    height: 176px;
    text-align: center;
    width: 100%;
}
.squrebordereddivgrey_sts:hover{
    border: 5px solid #d10c3b;
}
.squrebordereddivgrey_sts.active{
    border: 5px solid #d10c3b;
}
.squrebordereddivtext_sts{
    display: table-cell;
    vertical-align: middle;
    font-size: 19px;
    color: #5662bc;
    cursor: pointer;
}
.steptwostyle_sts{
    margin-top: 15px;
    margin-left: 5px;
}

.hotelpinkcontainer{
    width: 380px;
}
.hoteltable_attraction{
    border: 1px solid #dfdfdf;
    width: 100%;
}
.borderedtablelist{
    padding: 0;
    margin: 0;
}
.borderedtablelist li{
    border-bottom: 1px solid #dfdfdf;
    height: 52px;
    list-style: none;
}
.borderedtablelist li:last-child{
    border-bottom: none;
}
.borderedtablelist li.pinkhederlist_att{
    background-color: #d10c3b;
    color: #ffffff;
    font-size: 16px;
    line-height: 63px;
    padding-left: 30px;
}
.marg-bottom5{
    margin-bottom: 5px;
}
.listtextcontainer{
    display: table;
}
.listshild{
    display: inline-table;
    vertical-align: middle;
}
.bluetextwizback{
    color: #5662bc;
    font-size: 16px;
    margin-left: 12px;
    padding-left: 17px;
    background: rgba(0,0,0,0) url("/media/images/stepseven/bluelistarrow_att.png") no-repeat scroll 0 9px;
    line-height: 24px;
    width: 100%;
}
.greydowntext{
    font-size: 16px;
    color: #49494a;
    padding-left: 29px;
    line-height: 24px;
    width: 100%;
}
.greyadresswizback{
    font-size: 16px;
    color: #49494a;
    margin-left: 12px;
    padding-left: 17px;
    line-height: 63px;
    width: 100%;
    background: rgba(0,0,0,0) url("/media/images/stepseven/bluelistarrow_att.png") no-repeat scroll 0 29px;
}
.cntfindboldblack{
    font-size: 16px;
    color: black;
    padding-left: 29px;
    line-height: 63px;
    width: 100%;
    font-weight: bold;
}
.marbut20{
    margin-bottom: 20px;
}
.pinkarrdeptext_att{
    color: #d10c3b;
    font-size: 19px;
}
.bluetextlabel_att{
    color: #5662bc;
    font-size: 16px;
    line-height: 29px;
    padding-top: 10px;
}
.inputlargestandard_sts::-webkit-input-placeholder {
    color: black;
    opacity: 1 !important;
}

.inputlargestandard_sts:-moz-placeholder {
    color: black;
    opacity: 1 !important;
}

.inputlargestandard_sts::-moz-placeholder {
    color: black;
    opacity: 1 !important;
}

.inputlargestandard_sts:-ms-input-placeholder{
    color: black;
}
.inputlargestandard_sts{
    height: 38px;
    border: 1px solid #d6d6d6;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 380px;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 3px;
}
.selectboxsmalstandard_sts{
    height: 38px;
    border: 1px solid #d6d6d6;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 180px;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    margin-right: 20px;
    float: left;
    margin-bottom: 35px;
    margin-top: 3px;
}
.seperatedborderdiv{
    width: 445px;
    border-bottom: 1px solid #bababa;
    float: left;
    margin-bottom: 35px;
}
.imageandtextcontainer{
    width: 556px;
    float: left;
}
.imgleftstyle_airtrans{
    float: left;
    width: 150px;
    height: 98px;
}
.textcontainerright{
    float: left;
    padding-left: 10px;
}
.pinktext_airtrans{
    color: #d10c3b;
    font-size: 19px;
    line-height: 23px;
    padding-bottom: 20px;
}
.bluetext_airtrans{
    color: #5662bc;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 15px;
}
.blacktext_airtrans{
    color: black;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 30px;
}
.pinkbutacontainer_airtrans ,.pinkbutacontainer_airtrans:hover{
    display: block;
    float: right;
    width: 227px;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    background-color: #d10c3b;
    margin-bottom: 30px;
}
.seperatedborderdivlarge{
    width: 530px;
    border-bottom: 1px solid #bababa;
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
}
@media (min-width:992px){
    .blacktext_airtrans {
	width: 342px;
    }
}
@media (min-width:992px)  and (max-width:1199px){
    .squrebordereddivgrey_sts{
	height: 137px;
    }
    .borderedautowdsiv_sts{
	width: 75%;
    }
}
@media (min-width:768px)  and (max-width:991px){
    .squrebordereddivgrey_sts{
	height: 164px;
    }
    .borderedautowdsiv_sts{
	width: 65%;
    }
}
@media (max-width:991px){
    .titlest0black_sts{
	margin-top: 20px;
	font-size: 25px;
    }
    .seccon_sts{
	margin-top: 30px;
    }
    .imageandtextcontainer{
	width: 100%;
    }
}
@media (max-width:767px){
    .selectboxsmalstandard_sts{
	margin-bottom: 20px;
    }
    .seperatedborderdiv{
	width: 100%;
    }
    .seperatedborderdivlarge{
	width: 100%;
    }
}
@media (max-width:540px){
    .xsstylegreydiv_sts{
	width: 50%;
    }
    .squrebordereddivgrey_sts {
	height: 200px;
    }

}
@media (max-width:405px){
    .selectboxlargestandard_sts, .textarea_sts {
	width: 100%;
    }
    .inputlargestandard_sts {
	width: 100%;
    }
    .signinbut_sts, .signinbut_sts:hover {
	float: left;
	margin-bottom: 10px;
	width: 100%;
    }
    .arrdepstandardinput_sts, .selectdialingcodestandard_sts {
	width: 100%;
    }
    .firstnameinput_sts, .mobilestandardinput_sts {
	width: 100%;
	margin-left: 0;
    }
    .sndsboxstyle{
	margin-left: 0;
    }
    .hotelpinkcontainer{
	width: 100%;
    }

}
@media (max-width:382px){
    .xsstylegreydiv_sts{
	width: 100%;
    }
    .squrebordereddivgrey_sts {
	height: 200px;
    }

}

@media (min-width:320px)  and (max-width:767px){
    .seccon_sts{
	font-size: 25px;
    }
    .borderedautowdsiv_sts{
	width: 100%;
    }
    .rightpaymnetimgscont_sts {
	width: 100%;
	margin-left: 0;
	margin-bottom: 20px;
    }

}


/**
* Newly added css styles
*
*/
.hideField{
    display: none;
}
.redz{
    border: 1px solid red;
}
#bookingArrivalBox, #bookingDepartureBox{
    display: none;
}
.padtop25{
    padding-top: 25px;
}
.bookingBoxError{
    color: #d10c3b;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.dealErrMsg{
    padding-top: 25px;
    color: #d10c3b;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.dealErrMsgSub{
    color: #000;
    text-align: center;
}
.whitePrice{
    color: #fff !important;
}
#vPriceContainer{
    display: none;
}