.container {
    position: inherit;
}
.headingtitlestyle_dat{
    color: black;
    font-size: 28px;
    padding-top: 0px;
    line-height: 35px;
}
.slick-slider {
    margin-top: 0;
}
.slick-list, .slick-track{
    height: 100%;
}
.slick-slide{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.slick-track img{padding: 0 0 5px 0;margin: 0 auto;}

.slick-prev, .slick-next {
    height: 100%;
    width: 77px;
}
.slider-for{
    overflow: hidden;
    height: 510px;
    padding: 5px;
    background-color: #f2f2f2;
}
.dealsattlist{
    list-style: none;
    line-height: 40px;
}
.dealsattlist li{
    display: inline-block;
    font-size: 16px;
    color: #5763bd;
}
.dealsattlist li a ,.dealsattlist li a:hover{
    color: #5763bd;
    text-decoration: none;
}
.dealsattlist li.liwborderdat .imgborgerul{
    padding-left: 15px;
    padding-right: 15px;
}
.bordereddiv_dealsatt{
    border: 4px solid #dfdfdf;
    margin-bottom: 30px;
}
.bordereddiv_priceandop{
    border: 4px solid #dfdfdf;
}
.seadatetextbold_datt{
    position: relative;
    font-size: 19px;
    color: black;
    font-weight: bold;
    padding-left: 38px;
    margin-left: 12px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/1logo-dealsatt.png") no-repeat scroll 0 0px;
    margin-top: 27px;
}
.formYellowNumbers {
    display: block;
    line-height: 27px;
    position: absolute;
    text-align: center;
    width: 27px;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.seadatetextoptions{
    padding-left: 25px;
    padding-right: 25px;
}
.seadatetextbold_datt2{
    font-size: 16px;
    color: #737373;
    line-height: 21px;
}
.seadatetextoptions_BCK{
    line-height: 38px;
    height: 38px;
    padding-left: 20px;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #737373;
    font-weight: normal;
    width: 100%;
    position: relative;
    float: left;
}
.seadatetextoptions_Select{
    height: 38px;
    line-height: 38px;
    border: none;
    text-align: center;
    text-align-last:center;
    color: black;
    font-size: 19px;
    background: #e9e9e9;
    width: 100%;
    padding-right: 28px;
}
.seadatetextoptions_Select option{
    line-height: 20px;
    font-size: 14px;
}
.marginTop5{
    margin-top: 5px;
}
.selectdateinput_dealsatt{
    min-height: 38px;
    border: none;
    line-height: 38px;
    padding-left: 21px;
    color: #737373;
    width: 100%;
    font-size: 16px;
    background-color: #e9e9e9;

}
.selectdatecont_dealsatt{
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 13px;
    padding-bottom: 5px;
}
.changedatetext_dealsatt{
    font-size: 13px;
    color: #000000;
    padding-left: 57px;
    padding-top: 10px;
    line-height: 20px;
}
.changedatetext_dealsatt1{
    font-size: 14px;
    color: #000000;
    padding-left: 57px;
    padding-top: 10px;
    padding-right:39px;
    line-height: 20px;
}
.paddhorborder_dealsatt{
    padding-left: 36px;
    padding-right: 36px;
}
.inhorborderstyle_datt{
    border: 1px solid #dfdfdf;
    margin-top: 30px;
    margin-bottom: 15px;
}
.start_datt_smalltext{
    color: #d10c3b;
    font-size: 17px;
    padding-left: 57px;
}
.start_datt_largetext{
    color: #d10c3b;
    font-size: 35px;
    padding-left: 57px;
}
.pricegarlogo_datt{
    padding-left: 50px;
    margin-left: 57px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/pricegarlogo_datt.png") no-repeat scroll 0 0px;
    font-size: 17px;
    font-weight: bold;
    color: #108741;
    line-height: 42px;
    margin-top: 10px;
    margin-bottom: 35px;
}
.destdate_datt{
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-left: 57px;
}
.textalligncenter{
    text-align: center;
}
.buynowbut_datt{
    background-color: #d10c3b;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0;
    width: 186px;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
}
.confemailtextstyle_datt{
    font-size: 14px;
    color: #737373;
    padding-left: 57px;
    padding-top: 20px;
    line-height: 20px;
}
.newborderpadbut{
    margin-bottom: 0px;
}
.addtobagdivcont{
    width: 170px;
    margin: 0 auto;
}
.addtobagtextstyle ,.addtobagtextstyle:hover{
    font-size: 14px;
    color: #737373;
    padding-left: 0px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/addtotourbaglogo.png") no-repeat scroll 0 0px;
    line-height: 24px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}
.floatrightdivconatainer{
    float: right;
}
.resontt_datt{
    padding-left: 57px;
    margin-top: 27px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    padding-bottom: 15px;
}
.whyttlist_dtt{
    list-style: none;
}
.whyttlist_dtt li{
    margin-left: 33px;
    padding-left: 24px;
    color: #737373;
    font-size: 16px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/vrairose_dtt.png") no-repeat scroll 0 10px;
    line-height: 31px;

}
.needhelp_dat{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-right: 5px;
    padding-left: 57px;
}
.contus_dat a{
    color: #d10c3b;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.secpay_datt{
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-left: 57px;
}
.extrabordmarbut{
    margin-bottom: 30px;
}
.protectpay_datt{
    color: #737373;
    font-size: 14px;
    padding-left: 57px;
    padding-top: 10px;
    line-height: 20px;

}
.paymimgs_dat_cont{
    width: 225px;
    margin: 0 auto;
}
.payimgssingle{
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.subtitleblue_dat{
    color: #5662bc;
    font-size: 25px;
    line-height: 30px;
}
.subtitlegreytext_dat{
    color: #4e4e4e;
    font-size: 16px;
    line-height: 22px;
}
.subtitlegreytext_ul{
    margin-left: 20px;
}

.padtop25{
    padding-top: 25px;
}
.smallfirstdiv{
    width: 17%;
    float: left;
    line-height: 27px;
}
.smallfirstdiv img{
    height: auto;
    max-width: 100%;
}
.largesnddiv{
    width: 83%;
    float: left;
    line-height: 27px;
    padding-left: 15px;
}
.boldblacktitle_dat{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.descsnddiv_dat{
    color: #4e4e4e;
    font-size: 16px;
}
.dayinrdiv_dat{
    color: #d10c3b;
    padding-right: 5px;
}
.selectoptionprice_container{
    float: right;
}
.selectoptionprice_container select.selectoptionprice_dat{
    min-height: 38px;
    border: none;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 320px;
    font-size: 14px;
    background-color: #e9e9e9;
    background: #e9e9e9 url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    padding-top: 10px;
    float: right;
}
.selectoptionprice_container select.select_travelers{
    min-height: 38px;
    border: none;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 100px;
    font-size: 14px;
    background-color: #e9e9e9;
    background: #e9e9e9 url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    padding-top: 10px;
    float: right;
}
.selectbookingtime_container{
    padding: 10px 23px 0 36px;
}
select.select_time{
    min-height: 38px;
    border: none;
    line-height: 38px;
    padding-left: 15px;
    color: black;
    width: 100%;
    font-size: 14px;
    background-color: #e9e9e9;
    background: #e9e9e9 url("/media/images/flech-out.png") no-repeat scroll right 10px center;
    padding-top: 10px;
    float: right;
}
.bordereddiv_priceandop{
    border: 4px solid #dfdfdf;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 25px;
    padding-bottom: 20px;
    margin-top: 10px;
}
.pinkbigtext_dat{
    color: #d10c3b;
    font-size: 25px;
    line-height: 40px;
}
.pinksmaltext_dat{
    color: #d10c3b;
    font-size: 17px;
    line-height: 30px;
}
.pperadblacktext_dat{
    float: right;
    font-size: 16px;
    color: black;
    line-height: 27px;
}
.pperadblacktext_dat .hashedprice_dat{
    text-decoration: line-through;
    padding-left: 5px;
}
.pperadblacktext_dat .newprice_dat{
    color: #d10c3b;
    padding-left: 5px;
}
.pricedivcont_dat{
    width: 117px;
    float: right;
}
.priceselector_dat{
    color: #d10c3b;
    font-size: 16px;
    padding-top: 30px;
    line-height: 25px;
}
.absolutearrowspricecont{
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 9px;
    line-height: 10px;

}
.upabsgreyarrow{
    cursor: pointer;
}
.downabsgreyarrow{
    cursor: pointer;
}
.greycontainer_dat{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
    height: auto;
    position: relative;
    float: left;
    width: 100%;
}
.padtop20{
    padding-top: 20px;
}
.imagecircletxtcont_dat{
    width: 43px;
    height: 43px;
    float: left;
    margin-top: 10px;
}
.greycircle_dat{
    position: absolute;
}
.textingreycircle_dat {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: black;
    width: 43px;
    line-height: 43px;
    text-align: center;
}
.nextcircletext_dat{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #d10c3b;
    padding-left: 6px;
    padding-top: 21px;
    line-height: 21px;
}
.nextcircletext_dat .wherefromgreytext_dat{
    color: #8e8e8e;
    font-weight: normal;
    padding-left: 20px;
}
.ingreytext_dat{
    font-size: 14px;
    color: #49494a;
    line-height: 20px;
}
.loadmore_dat{
    background-color: #d10c3b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    line-height: 42px;

}
.greydivimgallcontainer{
    width: 100%;
    height: 160px;
    position: relative;
    background-color: #f1f1f1;
    float: left;
    padding-bottom: 15px;
    min-height: 390px;
}
ul {
    padding-left: 0;
    margin-left: 20px;
}
.mediathumbcontainer img{
    max-width: 100%;
}
h1 ,h2 , h3 , h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
select.selectoptionprice_dat{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
@media (max-width: 320px) {
    .greydivimgallcontainer {
        height: auto;
    }
}

@media (min-width: 330px) and (max-width: 667px) {
    .greydivimgallcontainer {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .greydivimgallcontainer {
        height: 160px;
        min-height: 450px;
    }
}

@media (min-width: 1024px){
    .greydivimgallcontainer {
        min-height: 400px;
    }
}

.imginsidegreycont_dat{
    width: 100%;
    height: 180px;
}
.onimgabsoluteplus{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.textoneunimgstyle_dat{
    color: black;
    font-size: 13px;
    line-height: 20px;
    padding: 5px;
    height: 70px;
}
.hoursunimtext{
    margin-left: 8px;
    padding-left: 20px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/clocklogo_dat.png") no-repeat scroll 0 6px;
    font-size: 16px;
    color: #313131;
    line-height: 27px;

}
.loctext_dat{
    margin-left: 8px;
    padding-left: 20px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/locationlogo_dat.png") no-repeat scroll 2px 6px;
    font-size: 16px;
    color: #313131;
    line-height: 27px;
}
.starsgreytext_dat{
    float: right;
    padding-right: 20px;
}
.pricegreyutext_dat{
    float: right;
    padding-right: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #d10c3b;
    line-height: 40px;
}
.vouchertextgreydiv_dat{
    color: #5662bc;
    font-size: 11px;
    font-weight: bold;
    float: right;
    padding-right: 20px;
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/bluejuste_dat.png") no-repeat scroll right center;
    margin-right: 20px;

}
.gmapimg_dat{
    width: 100%;
    margin-top: 30px;
}
.padtop10{
    padding-top: 10px;
}
.commontextwizimgprefooter_dat{
    color: #313131;
    font-size: 15PX;
    padding-left: 30px;
    padding-left: 38px;
    line-height: 43px;

}
.lowesttoup_dat{
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/lowesttoup_dat.png") no-repeat scroll left center;
}
.rescanytime_dat{
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/rescanytime_dat.png") no-repeat scroll left center;
}
.instantconf_dat{
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/instantconf_dat.png") no-repeat scroll left center;
}
.fullsupport_dat{
    background: rgba(0,0,0,0) url("/media/images/deals-attractive/fullsupport_dat.png") no-repeat scroll left center;
}
.xxstextalcenter{
    width: 220px;
    margin: 0 auto;
}
@media (min-width:992px)  and (max-width:1199px){
    .pperadblacktext_dat {
        float: left;
        width: 100%;
    }
}
@media (max-width:991px){
    .smxscollapsable_dat{
        display: none;
        margin-top: 15px;
    }
    .smxsbordercollapse{
        border: 1px solid #f1f1f1;
        margin-top: 15px;
    }
    .collapsablesubtit_dat{
        cursor: pointer;
    }
}
@media (min-width:768px)  and (max-width:991px){
    .headingtitlestyle_dat{
        padding-top: 10px;
    }
    .start_datt_smalltext{
        margin-top: 27px;
    }
    .buynowbut_datt{
        margin-top: 0px;
    }
    .inhorborderstyle_datt {
        margin-bottom: 14px;
    }
    .confemailtextstyle_datt{
        padding-top: 0px;
    }
    .destdate_datt{
        padding-left: 25px;
    }
    .confemailtextstyle_datt{
        padding-left: 25px;
    }
    .changedatetext_dealsatt{
        padding-left: 25px;
    }
    .start_datt_smalltext{
        padding-left: 25px;
    }
    .pricegarlogo_datt{
        margin-left: 25px;
    }
    .start_datt_largetext{
        padding-left: 25px;
    }
    .addtobagdivcont {
        margin-top: 30px;
    }
    .bordereddiv_dealsatt{
        margin-bottom: 20px;
    }
    .needhelp_dat {
        padding-top: 27px;
    }
    .secpay_datt {
        padding-top: 36px;
    }
    .smallfirstdiv{
        width: 30%;
    }
    .largesnddiv{
        width: 70%;
    }
    .selectoptionprice_container select.selectoptionprice_dat{
        float: left;
        margin-top: 10px;
    }
    .pperadblacktext_dat {
        float: left;
        width: 100%;
    }
}
@media (min-width:320px)  and (max-width:767px){
    .headingtitlestyle_dat{
        padding-top: 10px;
    }
    .smallfirstdiv{
        width: 30%;
    }
    .largesnddiv{
        width: 70%;
    }
    .selectoptionprice_container select.selectoptionprice_dat{
        float: left;
        margin-top: 10px;
    }
    .pperadblacktext_dat {
        float: left;
        width: 100%;
    }
}
@media (max-width:500px){
    .unfivhf{
        width: 100%;
    }

}
@media (max-width:360px){
    .greycontainer_dat{
        padding-left: 5px;
        padding-right: 5px;
    }
    .nextcircletext_dat .wherefromgreytext_dat {
        padding-left: 10px;
    }

}



/**
* Newly added css styles
*
*/
.hideOption{
    display: none;
}
.showOption{
    display: block;
}
.hideTimeSelect{
    display: none;
}
.showTimeSelect{
    display: block;
}
.bookingBoxSelectDiv{
    padding-right: 25px;
}
.redz{
    border: 1px solid red;
}
.bluez{
    border: 1px solid blue;
}
.tourDateBox{
    padding: 0;
    position: relative;
}
#map{
    width:100%;
    height:400px;
    margin-top: 25px;
    display: none;
}
#bookingErrorMsgBox{
    margin-top: 20px;
    display: none;
    background: rgba(255,0,0,0.1);
    padding: 4px 9px !important;
    border-radius: 3px;
    border: 1px solid rgba(255,0,0,0.3);
    font-size: 12px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.bookingBoxError{
    color: #d10c3b;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.reviewList {
    display:none;
}
.dealErrMsg{
    padding-top: 25px;
    color: #d10c3b;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.dealErrMsgSub{
    color: #000;
    text-align: center;
}
.hideBbFields{
    display: none;
}
.positionleft0 {
    transform: translate3d(0,0,0) !important;
}
