.leftmenuebackcolor_corp{
    background-color: white;
}
.contentbackcolor_corp{
    background-color: white;
}
.plane_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/locationicon_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #1e262a;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #1e262a;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #666666;
}
.headerstyle_corp{
    color: #a6acb0;
}
.licolback_corpfl{
    background-color: #e3e5e6;
    color: #1e262a;
}
.deparrival_corpflight .deparrival_input_corpfl{
    background-color: #a6acb0;
    color: #ffffff;
}
.deparrival_corphotel .deparrival_input_corphotel{
    background-color: #a6acb0;
    color: #ffffff;
}
.selectboxes_corpfl select{
    background-color: #a6acb0;
    color: #ffffff; 
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme1_corp.png") no-repeat scroll center center;
}
/*attractions:
=================*/

.destinations_title {
    color: black;
}
.destinations_subtitle {
    color: black;
}