 {% include "head.html" %}

<div class="upload-overlay-loading-fix"><div></div></div>
<div id="MiddleChannel" style="background:{{ bg_src|raw }};">
    <div id="ChannelContainer">
{#    {% include "parts/channelHeader.twig" %}#}
    
        <div id="MainChannelContainer">
            <div class="privacybuttonsOver">
                <div class="ProfileHeaderOverin"></div>
                <div class="icons-overtik"></div>
            </div>
{#            {% include "parts/myChannelRight.twig" %}#}
            
            <div class="objectContainerOver">
                <div class="objectContainerOverin"></div>
                <div class="icons-overtik"></div>
            </div>
        </div>

    </div>

</div>
{% include "foot.html" %} 