{% include "head.html" %}
<div class="middle_body">
    <div class = "pagenotfound_txtbody">
        <div class = "pagentfnd_txt">
            <h2>{{ 'Page Not Found'|lang }}</h2>
        </div>
    </div>
</div>
{% include "foot.html" %}