.virtual_tours_row {padding-top: 5px;}
.h3_virtual_tours{color: #201b1d; font-size: 27px;}
.max_width_image a img.bigimg_relative{width: 100%;}
.subtitle_virtual_tours{color: #585858; font-size: 16px;margin-top: 5px;}
.subtitle_virtual_tours span{color: #db3a69;}
.text_pink{color: #db3a69;}
.line_height20{line-height: 20px;}
.desc_virtual_tours{color: #585858; font-size: 15px;margin-top: 0;}
.small_padding_virtual_tours{padding-left: 5px;padding-right: 5px;}
.view_all_link {color: #838383;font-size: 14px;padding-top: 30px;}
.view_all_link i {color: #db3a69;padding-left: 5px;}
.margin_top_75{margin-top: 75px;}
.max_width_image a img.small_logo_absolute{position: absolute;top: 10px;right: 15px;width: 43px;height: 18px;}