.hotel_payment_container .circlimg_arrow{float: left;width: 58px;height: 58px;border: 2px solid #ebc728;border-radius: 50%;margin-right: 10px;}
.hotel_payment_container .circlimg_arrow i{margin-left: 26px;margin-top: 20px;}
.hotel_payment_container .search_title { margin: 0; float: left;color: #201b1d;font-size: 28px;line-height: 58px;padding-left: 0;}
.hotel_payment_container .row_margin_5 { margin-left: -5px;margin-right: -5px;}
.hotel_payment_container .col_padding_5 { padding: 5px;}
.hotel_payment_container .select_commun{width: 100%;height: 76px; border: 1px solid #d5d6d8;color: black; font-weight: bold;
					font-size: 16px;padding-left: 32px;
					appearance: none;-moz-appearance: none;-webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
					cursor: pointer;}
.hotel_payment_container .select_grey{border: none;color: white;font-weight: normal;}
.hotel_payment_container .hotel_payment_input{color: #000000;font-size: 16px;width: 100%;height: 76px;background: #FFFFFF;border-radius: 5px;border: 1px solid #d5d6d8;padding-left: 36px;}
.hotel_payment_container .hotel_payment_input::placeholder {color: #000000;opacity: 1;font-weight: bold;font-size: 16px;}
.hotel_payment_container .hotel_payment_input:-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.hotel_payment_container .hotel_payment_input::-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.hotel_payment_container .hotel_payment_input:focus{border-color: #db3a69;background: #f1f2f2;}
/*.hotel_payment_container .lock_img_container img {position: absolute;left: 26px;top: 31px;}*/
.hotel_payment_container .label_terms_cond_agree label {font-weight: normal;font-size: 16px;color: #6b6b6b;}
.hotel_payment_container .label_terms_cond_agree label span a {font-size: 16px;color: black;text-decoration: underline;}
.hotel_payment_container .btn_payment {width: 100%; text-align:center; height:60px; background-color:#eac31a; color:#201b1d; font-size:19px; border:0; border-radius:3px;}
.hotel_payment_container .btn_payment span {color:#201b1d; font-size:19px;}

.margin_top_50{margin-top: 50px;}
.margin_top_30{margin-top: 30px;}
.margin_top_10{margin-top: 10px;}
.margin_top_25{margin-top: 25px;}

@media (max-width:767px){
    .hotel_payment_container .search_title {font-size: 21px;}
}
