.hotel_book_container .left_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;right:5px;top:0px;}
.hotel_book_container .right_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;left:-10px;top:0px;}
.hotel_book_container .right_panel{padding-right: 0;}
.hotel_book_container .title_arrow_pink{font-size: 22px;color: #db3a69; line-height: 24px;}
.hotel_book_container .title_arrow_pink i {padding-right: 3px;color: #eac31a;}
.pink{color: #db3a69;}
.font-25{font-size: 25px;}
.hotel_book_container .stars_block {padding-left: 25px;margin-top: 5px;}
.hotel_book_container .location_txt{font-size: 14px;color: #606060;padding-left: 25px;}
.hotel_book_container .location_txt img{padding-right: 6px;}
.hotel_book_container .chekin_out_style{color: #787878;font-size: 16px;padding-left: 25px;}
.hotel_book_container .chekin_out_style span{color: black;font-weight: bold;padding-right: 3px;}
.hotel_book_container .commun_grey_txt{color: #787878;font-size: 16px;padding-left: 25px;}
.hotel_book_container .commun_black_bold{color: black;font-weight: bold;font-size: 16px;padding-left: 25px;}
.hotel_book_container .font_weight_normal{font-weight: normal;}
.leftpanel_selectbox .select_leftpanel{width: 100%;height: 56px; border: 1px solid #d5d6d8;color: black; font-weight: bold; font-size: 16px;padding-left: 10px;appearance: none;-moz-appearance: none;-webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;cursor: pointer;margin-left: 10px;margin-bottom: 10px;}
.hotel_book_container .price_style_txt{font-size: 22px;color: black;padding-left: 25px;margin-bottom: 0;}
.hotel_book_container .bigfont{font-size: 30px;}
.hotel_book_container .exclamation_mark i{color: black;position: absolute;top: -5px;left: 20px;}
.hotel_book_container .right_panel .exclamation_mark{padding-left: 15px;}
.hotel_book_container .border-bottom-2{border-bottom: 2px solid #eaeef0;}
.hotel_book_container .right_panel .common_txt_container{color: black; font-size: 16px;}
.hotel_book_container .right_panel .big_title_txt{font-size: 27px;}
.hotel_book_container .right_panel .font_24{font-size: 24px;}
.hotel_book_container .right_panel .font_21{font-size: 21px;}
.hotel_book_container .right_panel .color_blue{color: #00b7d9;}
.hotel_book_container .right_panel .color_pink{color: #db3a69;}
.hotel_book_container .right_panel .font_14{font-size: 14px;}
.hotel_book_container .room_conditions_container span{font-size: 16px;}
.icon-list{float: left;color:#ebc728;width: 25px;height: 30px;}
.icon-list-exclamation{float: left;color:#000000;width: 20px;height: 30px;}
.side-list{float: left;color:#787878;font-size:16px;width:calc(100% - 30px);}
.line-height-24{line-height: 24px;}
.float_left{float: left;}
.right_panel {color: #787878;font-size: 16px;}
.hotel_book_container .new_small_margin{margin-left: -5px;margin-right: -5px;}
.hotel_book_container .new_smal_padding{padding: 5px;}
.hotel_book_container .hotel_book_new_inputconatiner .hotel_book_input{color: #000000;font-size: 16px;width: 100%;height: 76px;background: #FFFFFF;border-radius: 5px;border: 1px solid #d5d6d8;text-align: center;}
.hotel_book_container .hotel_book_new_inputconatiner .hotel_book_input::placeholder {color: #000000;opacity: 1;font-weight: bold;font-size: 16px;}
.hotel_book_container .hotel_book_new_inputconatiner .hotel_book_input:-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.hotel_book_container .hotel_book_new_inputconatiner .hotel_book_input::-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 16px;}
.hotel_book_container .hotel_book_new_inputconatiner .hotel_book_input:focus{border-color: #db3a69;background: #f1f2f2;}
.hotel_book_container .hotel_book_textarea {resize:none;width: 100%;height:120px;border: 1px solid #d5d6d8;padding: 5px;color: #000000;font-size: 14px; }
.hotel_book_container .form-check .form-check-label {color: #787878;font-size: 13px;font-weight: normal;padding-left: 3px; }
.hotel_book_container .yellow_arrow i {color: #eac31a;}
.hotel_book_container .right_panel .commun_black_bold{padding-left: 0px;}
.hotel_book_container .title_radio_form{color: black;font-size: 16px;font-weight: bold;margin-top: 26px;}
.hotel_book_container .title_radio_form label{font-weight: bold;}
.hotel_book_container .right_panel .dropdown{width: 100%;height: 76px; border: 1px solid #d5d6d8;color: black; font-weight: bold; font-size: 16px;text-align: center;appearance: none;-moz-appearance: none;-webkit-appearance: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px; cursor: pointer; padding-left: 24px;}
.hotel_book_container .password_hint_txt{color: #787878;font-size: 13px;margin-bottom: 0;margin-top: 20px;}
.hotel_book_container .trms_and_conditions span a{color: #00b7d9;text-decoration: underline;}
.hotel_book_container .comlete_hotel_booking{width: 380px;height: 60px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px;}
.hotel_book_container .left_panel .left_title_arrow, .hotel_book_container .left_panel .right_title_arrow{float: left;width: 25px;color:#ebc728}
.hotel_book_container .left_panel .right_title_arrow{width: calc(100% - 25px);}
.hotel_book_container .left_panel .move_down i{margin-top: 9px;}
.hotel_book_container label{font-size: 17px;color: #787878;font-weight: normal;margin-bottom: 0;}
.hotel_payment_container label{font-size: 17px;color: #787878;font-weight: normal;margin-bottom: 0;}
/*Margins:*/
.margin_top_5{margin-top: 5px;}
.margin_top_10{margin-top: 10px;}
.margin_top_20{margin-top: 20px;}
.margin_top_30{margin-top: 30px;}
.margin_top-40{margin-top: 40px;}
.margin_top-50{margin-top: 50px;}
.margin_bottom_0{margin-bottom: 0px;}
.margin_bottom_5{margin-bottom: 5px;}
.margin_bottom_10{margin-bottom: 10px;}
.margin_bottom_20{margin-bottom: 20px;}
.margin_bottom_30{margin-bottom: 30px;}
.margin_top-5{margin-top: 5px;}
.padding_left_5{padding-left: 5px;}
.padding_left_0{padding-left: 0;}
.padding_right_20{padding-right: 20px;}

.ccvalidmonth{padding-right:0px;}
.ccvalidyear{padding-left:2px;}
label.error-label{
    color: red !important;
    font-weight: normal  !important;
    font-style: italic  !important;
    font-size: 11px  !important;
    position: absolute  !important;
    left: 11px;
    bottom: 2px;
    line-height: 15px;
}
.hotel_payment_container label.error-label{
    bottom: -4px;
    left: 20px;
}
.hotel_payment_container .ccexpirationhldr label.error-label{
    bottom: 1px;
}
.hotel_payment_container .termshldr label.error-label{
    bottom: -12px;
}

.disclaimerMainStyle{
    font-size: 10px;
    font-style: italic;
}

.padding_top_4{
    padding-top: 4px;
}

@media (max-width:991px){
    .hotel_book_container .right_panel:after{display: none;}
    .hotel_book_container .left_panel{padding-bottom: 50px;}
    .hotel_book_container .left_panel:after{bottom: 30px;left:15px;right: 15px;height: 4px;width:auto;top: auto;}
}
@media (min-width:768px) and (max-width:991px){
    .hotel_book_container .right_panel{padding-left: 0px;}
}
@media (max-width:767px){
    .hotel_book_container .right_panel{padding-left: 15px;padding-right: 15px;}
    .hotel_book_container .title_radio_form{margin-top: 0;}
    .hotel_book_container .comlete_hotel_booking{margin-bottom: 20px;width: 100%;}
    .hotel_book_container .leftpanel_selectbox .select_leftpanel{margin-left: 0;width: 100%}
    .hotel_book_container .password_hint_txt{margin-top: 0px;}
}
.hotel_book_container .full_background{background-color: #f4f4f5;display: none;border-radius: 5px;}
ul.pinklistul{padding-left: 0;}
ul.backgrounded_ul{padding: 10px 20px 10px 20px;border-radius: 5px;margin-bottom: 0;}
.hotel_book_container .right_panel ul.backgrounded_ul li{color: #787878;font-size: 13px;}
ul.pinklistul li{list-style: none;}
ul.pinklistul li:before{content:"-";padding-right: 4px;}
@media (min-width:768px){
    ul.pinklistul{display: table;}
    ul.pinklistul li{display: table-row;}
    ul.pinklistul li:before{display: table-cell;text-align: right;}
}
.hotel_book_container .right_panel .bookcond{color: #787878;cursor: pointer;}
.hotel_book_container .right_panel .bookcond i{padding-left: 6px;}