.hotel_main_conatainer .hotel_search_input_container .hotels_container{padding-left: 15px;padding-right: 15px;padding-top: 0px;margin-top: 0;}
.hotels_container {display: block;}
.margin_top_30{margin-top: 30px;}
.hotel_main_conatainer .border_top_but_row{height: 7px;border-top: 3px solid #bababa;border-bottom: 3px solid #bababa;}
.margin-top-40{margin-top: 40px;}
.hotel_main_conatainer .right_panel{padding-right: 0;}
.hotel_main_conatainer .right_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;left:0px;top:0px;}
.hotel_main_conatainer .left_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;right:-5px;top:0px;}
.hotel_main_conatainer .refine_title{color: #00b7d9;font-size: 24px;margin-bottom: 40px;margin-top: 16px;}
.margin-bottom-38{margin-bottom: 38px;}
.hotel_main_conatainer .checkboxcontainer label{color: #606060;font-size: 15px;font-weight: normal;margin-bottom: 0;}
.hotel_main_conatainer .checkboxcontainer label span.dash_sep{padding-left: 15px;padding-right: 15px;}
.hotel_main_conatainer .checkboxcontainer input[type="checkbox"]{margin-right: 7px;}
.hotel_main_conatainer .refine_subtitles{color: #606060;font-size: 13px;font-weight: bold;text-transform: uppercase;margin-left: -15px;}
.hotel_main_conatainer .refine_subtitles span{font-weight: normal;text-transform: none;}
.hotel_main_conatainer .refine_subtitles i{padding-right: 8px;color: #00b7d9;}
.bigpad_right{padding-right: 30px;}
.slider.slider-horizontal .slider-track {height: 3px;left: 10px;margin-top: -5px;top: 50%;width: 100%;}
.slider-selection {background-color: #00b7d9;background-image: none;}
.slider-handle { background-color: #00b7d9;background-image: none;height: 17px;width: 17px;}
.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle {margin-left: -10px;margin-top: -7px;}
.slider.slider-horizontal {width: 100%;max-width: 100%;}
.selected_hotel{background-color:#f7f7f7;}
/*Right Panel:*/
.hotel_main_conatainer .sort_by_tabs .filters-group label{font-weight: normal;padding:17px;cursor: pointer;margin-bottom: 0px;float: left;color: #00b7d9; line-height: 20px;}
.hotel_main_conatainer .sort_by_tabs .filters-group label input[type=radio] {clip: rect(0,0,0,0);pointer-events: none;position: absolute;}
.hotel_main_conatainer .sort_by_tabs .filters-group label.active{color: #FFFFFF;background-color: #00b7d9;}
.hotel_main_conatainer .sort_by_tabs .filters-group label.hand-default{cursor: default;}
.hotel_main_conatainer  .sort_by_tabs p{font-size: 14px;color: black;line-height: 52px;margin-bottom: 0;padding-right: 15px;}
.hotel_main_conatainer  .sort_by_tabs{min-height: 52px;border: 2px solid #eceff1; ;padding-left: 10px;}
.hotel_main_conatainer  .sort_by_tabs p.srt_by_txt_blue{color: #00b7d9;line-height: 54px;margin-bottom: 0;min-height: 54px;padding-right: 0;font-size: 13px;}
.hotel_main_conatainer  .sort_by_tabs ul.tabs_ul li.active{color: white;background-color: #00b7d9;}
.hotel_main_conatainer  .sort_down_img_arrow{width: 26px;height: 26px;border: none;border-radius: 50%;background-color: black; margin: 13px auto 0 5px;}
.hotel_main_conatainer  .sort_down_img_arrow i{color: white;margin-top: 6px;margin-left: 7px;}
.hotel_main_conatainer  .sort_by_tabs ul.tabs_ul li.active{color: white;background-color: #00b7d9;}
.margin_top_3{margin-top: 3px;}
.hotel_main_conatainer .image_container img{width: 100%;}
.float_left{float: left;}
.hotel_main_conatainer .right_panel .highlighted {border: 2px solid #db3a69;}
.hotel_main_conatainer .right_panel .first_row .hotel_title{font-size: 17px;font-weight: bold;color: black;margin-top: 5px;padding-left: 10px;margin-bottom: 5px; text-transform: uppercase;}
.hotel_main_conatainer .right_panel .first_row .rating_container p{margin-top: 3px;margin-bottom: 5px; float: right; }
.hotel_main_conatainer .right_panel .first_row .rating_container p .star_rating{margin-left:10px; }
.hotel_main_conatainer .right_panel .snd_row .location_txt{font-size: 14px;color: #606060;padding-left: 10px;}
.hotel_main_conatainer .right_panel .snd_row .location_txt img{padding-right: 6px;}
.hotel_main_conatainer .right_panel .third_row .blue_night_price_txt{color: #00b7d9;font-size: 13px;margin-bottom: 3px; text-align: right;}
.hotel_main_conatainer .right_panel .third_row .black_night_price{color: black;font-size: 22px;margin-bottom: 5px;line-height: 22px; text-align: right;}
.hotel_main_conatainer .right_panel .third_row .black_night_price span{font-size: 16px;}
.hotel_main_conatainer .right_panel .third_row .incl-all-taxes-txt {color:#db3a69; margin-bottom: 0px; text-align: right;}
.hotel_main_conatainer .right_panel .third_row .tabs_transportation {list-style: none;padding-left: 0;margin-bottom: 0; margin-top: 5px;}
.hotel_main_conatainer .right_panel .third_row .tabs_transportation li{display: inline-block;padding-right: 10px;border-right: 1px solid #dfdfdf;padding-left: 10px;color: #606060;font-size: 12px;line-height: 33px;}
.hotel_main_conatainer .right_panel .third_row .tabs_transportation li:last-child{border:0px;}
.hotel_main_conatainer .right_panel .third_row .tabs_transportation li img{padding-right: 5px;}
.hotel_main_conatainer .right_panel .third_row .tabs_transportation li a{color: #606060; cursor: default; text-decoration: none;}
.hotel_main_conatainer .right_panel .forth_row .messagetext {padding-top: 34px; padding-left: 10px; font-size: 12px;}
.hotel_main_conatainer .right_panel .forth_row .book_room_button {width: auto; font-size: 13px; color: white; background-color: #db3a69;border: none; padding: 0;font-weight: bold; align-items: flex-start; font-stretch: 100%; font-style: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-ligatures: normal; font-variant-numeric: normal; letter-spacing: normal; margin: 0; overflow: visible; text-align: center; text-indent: 0; text-rendering: auto; text-shadow: none; text-size-adjust: 100%; word-spacing: 0; writing-mode: horizontal-tb; vertical-align: middle; -webkit-appearance: none; -webkit-border-image: none; float: right; padding: 10px;}
.hotel_main_conatainer .right_panel .forth_row .non-avail{background-color:#00b7d9; min-width: 121px;}
.hotel_main_conatainer .right_panel .third_row{margin-top: 3px;}
.hotel_main_conatainer .right_panel .third_row .price_txt_container{ padding: 0;}
.margin-top-60{margin-top: 60px}
.border-left{border-left:2px solid #eceff1;}
.border-right{border-right:2px solid #eceff1;}
.error-label{padding-top:20px;}

/*Loader: */
.hotel-overlay-loading-fix {background: none;  background-color: #ffffff; top: 50px; display: block; height: 100%; overflow: hidden; position: relative; right: 0; width: 100%; z-index: 50;}
.hotel-overlay-loading-fix div { min-height: 300px; width: 100%;}

/*Pagination:*/
.pagerWrapper{padding-top: 40px; padding-bottom:5px; padding-right: 4px; cursor: pointer;}
.pagerWrapper ul li {color: #6c6c6c; display: inline-block; padding: 0 2px; font-size: 15px; font-weight: normal; float: left; width: auto; min-width: 14px; margin: 0px 0px 0px 5px; background: none; cursor: pointer; text-align: center; list-style: outside none none;}
.pagerWrapper ul li.active {color: #00304c; font-weight: bold; cursor: default;}
.pagerWrapper ul li span.separator {padding-left: 2px;}
.pagerWrapper ul li.first_pg {width: 0px; height: 21px;}
.pagerWrapper ul li.prev_pg {width: 0px; height: 21px;}
.pagerWrapper ul li.next_pg {width: 0px; height: 21px;}
.pagerWrapper ul li.last_pg {width: 0px; height: 21px;}
.pageNumbers {float: left; padding: 0px 5px;}
.pagination-controls {float:right;}
.addtobag {
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    margin: 0;
    position: absolute;
    left: 5px;
    top: 5px;
    min-width: 35px;
    z-index: 30;
    color:#ffffff;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.addtobag .addtobag_hover{
    height: 35px;
    line-height: 35px;
    position: relative;
    float: left;
    padding: 0 10px 0 38px;
    display: none;
}
.addtobag:hover{
    background-color: #00b7d9;
}
.addtobag:hover > .addtobag_hover{
    display: block;
    color: #ffffff;
}
/*Sorting: */
.sort_submenu{
    float: left;
    display: inline-block;
    position: relative;
    left: -19px;
    top: 40px;
    z-index: 999;
    width: 0;
    height: 0;
    font-size: 13px;
}
.sort_submenu>ul{
    list-style-type: none;
    margin: 0;
    padding: 7px 0 0;
    width: 100%;
    position: relative;
    display: block;
    clear: both;
    width:215px;
    height:7px;
}
.sort_submenu>ul>li{
    color: #606060;
    text-transform: none;
    cursor: pointer;
    background: #fafafa;
    padding: 8px 8px 8px 17px;
    width: 215px;
    position: relative;
    float: left;
    display: inline-block;
    clear: both;
    border-bottom: 1px solid #e8e8e8;
    font-size: 15px;
    transition: all 0.5s ease;
}
.sort_submenu>ul>li:hover{
    color: #000000;
    text-decoration:underline;
}
.sort_submenu>ul>li:last-child{
    border-bottom: none;
}

.filter-count{color:#FFF;}

@media (max-width:1199px){
    /*CSS Right Panel */
    .hotel_main_conatainer .sort_by_tabs p.srt_by_txt_blue{border-right: none;}
    .hotel_main_conatainer  .sort_by_tabs{padding-left: 0;}
}
@media (min-width:992px) and (max-width:1199px){
    .hotel_main_conatainer .right_panel .third_row .black_night_price span {font-size: 14px;}
    .hotel_main_conatainer .right_panel .third_row .black_night_price{font-size: 18px;margin-bottom: 2px;}
    .hotel_main_conatainer .right_panel .forth_row .book_room_button{font-weight: bold;font-size: 11px;}
}
@media (max-width:991px){
    .hotel_main_conatainer .right_panel:after,.left_panel:after{display: none;}
}
@media (min-width:768px) and (max-width:991px){
    .hotel_main_conatainer .right_panel .first_row .rating_container{ padding-left:10px; }
    .hotel_main_conatainer .right_panel .first_row .rating_container p{ float: left; }
    .hotel_main_conatainer .right_panel .first_row .rating_container p .star_rating{margin-right:10px; margin-left:0; }
    .hotel_main_conatainer .right_panel{padding-left: 0px;}
    .hotel_main_conatainer .right_panel .third_row .price_txt_common{text-align: left; float: left; margin-right: 10px; margin-bottom: 0;}
    .hotel_main_conatainer .right_panel .third_row .price_txt_container{ padding-left: 10px; margin-top: 10px; margin-bottom: 10px}
    .hotel-overlay-loading-fix {top: 25px;}
    .hotel_main_conatainer .sort_by_tabs .filters-group label.border-left{ border-left: none; }
    .hotel_main_conatainer .sort_by_tabs .filters-group label.border-right{ border-right: none; }
    .hotel_main_conatainer .sort_by_tabs{ border: none; }
    #hotel-list figure.margin-top-60{ margin-top: 10px; }
    .hotel_main_conatainer .right_panel .third_row .black_night_price span{float: left; font-size: 14px; line-height: 21px; margin: 0 4px 0 0;}
}
@media (max-width:767px){
    .hotel_main_conatainer .right_panel .first_row .rating_container{ padding-left:10px; }
    .hotel_main_conatainer .right_panel .first_row .rating_container p{ float: left; }
    .hotel_main_conatainer .right_panel .first_row .rating_container p .star_rating{margin-right:10px; margin-left:0; }
    .hotel_main_conatainer .sort_by_tabs .filters-group label.border-left{ border-left: none; }
    .hotel_main_conatainer .sort_by_tabs .filters-group label.border-right{ border-right: none; }
    .hotel_main_conatainer .right_panel .third_row .black_night_price span{float: left; font-size: 14px; line-height: 21px; margin: 0 4px 0 0;}
    .hotel_main_conatainer .sort_by_tabs{ border: none; }
    #hotel-list figure.margin-top-60{ margin-top: 10px; }
    .hotel_main_conatainer .right_panel{padding-left: 15px;padding-right: 15px;}
    .hotel_main_conatainer .right_panel .third_row .price_txt_common{text-align: left; float: left; margin-right: 10px; margin-bottom: 0;}
    .hotel_main_conatainer .right_panel .third_row .price_txt_container{ padding-left: 10px; margin-top: 10px}
    .hotel_main_conatainer .right_panel .forth_row .book_room_button{margin-top: 10px;}
    .hotel-overlay-loading-fix {top: 25px;}
}
.missedtxtcomm span.missed_pink{color: #db3a69;font-size: 19px;font-weight: bold;padding-left: 32px;}
.missedtxtcomm {font-size: 14px;color: black;}
.missedtxtcomm a.seebelow_link{font-size: 14px;color: black;text-decoration: none;}
