.hotels_container {display: block;}
.margin_top_30{margin-top: 30px;}
.margin-top-35{margin-top: 35px;}
.margin_top_40{margin-top: 40px;}
.margin_top_45{margin-top: 45px;}
.margin_top_70{margin-top: 70px;}
.book_hotel_container a,.book_hotel_container a:hover,.book_hotel_container a:visited,.book_hotel_container a:focus{text-decoration: none;}
.book_hotel_container .new_margin{margin-left: 5px;margin-right: 5px;}
.book_hotel_container .new_padding{padding-left: 5px;padding-right: 5px;}
.book_hotel_container .full_width{width: 100%;}
.book_hotel_container .hotel_in_title{font-size: 25px;color: #201b1d;margin-bottom: 5px;margin-top: 0px;}
.book_hotel_container .hotel_in_title span{color: #db3a69;}
.book_hotel_container .but_greyback_conatiner{background-color: #ededed;height: 28px;margin-top: 1px;}
.book_hotel_container .but_greyback_conatiner button{ height: 28px; border-radius: 0; border: none; color: white; font-size: 16px; background-color: #db3a69; padding: 0 10px;}
.margin_divs .col-xs-12{margin-top: 40px;}
.searchcontainer_content{margin-top: 10px; margin-bottom:124px;}
.header_backimg_title{padding-top: 34px;}

@media (max-width:767px){
    .mainpage_backimg{background-image: none;}
}
