.hotels_container {display: block;}
.hotels_in_container .deal_grey_container{min-height: 169px;background-color: #f9f9f9;padding: 20px 45px 20px 45px;}
.hotels_in_container .bordered_grey_container{min-height: 169px; border: 2px solid #ececec;}
.hotels_in_container .padding_5{padding: 5px;}
.hotels_in_container .margin_5{margin-left: -5px;margin-right: -5px;}
.hotels_in_container .deal_grey_container h3{color: #2e2e2e; font-size: 25px;line-height: 27px;margin-top: 0;margin-bottom: 5px;}
.hotels_in_container .deal_grey_container h3 span ,.hotels_in_container .deals_in_city_container h3 span {color: #db3a69;}
.hotels_in_container .deal_grey_container p{color: #787878;line-height: 16px;}
.hotels_in_container .av_price_tab ,.hotels_in_container .deals_in_city_tab {list-style: none;padding-left: 0;}
.hotels_in_container .av_price_tab li a{display: table;width: 100%;line-height: 20px;}
.hotels_in_container .av_price_tab li a:hover, .hotels_in_container .av_price_tab li a *:hover{text-decoration: none;}
.hotels_in_container .av_price_tab li a p{height: 60px;font-size: 16px;color: white;background-color: #db3a69;text-align: center;border-radius: 4px;display: table-cell;vertical-align: middle;}
.mtooltipin { background-color: #fff; bottom: 52px; display: block; height: auto; left: 0; padding: 6px; position: absolute; width: 126px; z-index: 10; }
.mtooltipbig { display: block; left: 21px; margin-bottom: 5px; position: relative; top: 0; width: 72px; z-index: 5; }
.mtooltip_title { clear: both; color: #303030; display: block; font-size: 11px; font-weight: bold; height: auto; line-height: 12px; margin-top: 3px; position: relative; text-align: center; width: 100%; z-index: 4; }
.anchor_star { display: block; height: 10px; margin-top: 5px; position: relative; width: 100%; z-index: 3; }
.searchcontainer_content{margin-top: 10px; margin-bottom:124px;}
.header_backimg_title{padding-top: 34px;}
.anchor_star1{background-position:center center; }
.anchor_star2{background-position:center center; }
.anchor_star3{background-position:center center; }
.anchor_star4{background-position:center center; }
.anchor_star5{background-position:center center; }
.whitedownimgbag{height: 130px; overflow: hidden;position: relative;}
.hotels_in_container .price_guarantee_container{text-align: center;}
.hotels_in_container .price_guarantee_container img{margin-top: 15px;margin-bottom: 10px;}
.hotels_in_container .price_guarantee_container p{font-size: 20px;text-transform: uppercase;color: #108741;margin-bottom: 0;line-height: 24px;}
.hotels_in_container .deals_in_city_container{padding: 15px;}
.hotels_in_container .deals_in_city_container h3{color: #000000;font-size: 25px;line-height: 27px;margin-top: 0;margin-bottom: 8px;}
.hotels_in_container .deals_in_city_container p{font-size: 16px;color: #787878;line-height: 16px;}
.hotels_in_container .deals_in_city_tab li{font-size: 13px;color: #787878;line-height: 20px;min-height: 38px;border-right: 2px solid #00b7d9;padding-left: 7px; padding-right: 5px;}
.hotels_in_container .deals_in_city_tab li a{color: #787878;}
.hotels_in_container .deals_in_city_tab li:first-child{padding-left: 15px;}
.hotels_in_container .deals_in_city_tab li:last-child{border-right: none;}
#BigMap { height: 428px;}
.discover_hotels_h5{font-size: 16px; padding-left: 8px; height: 50px; color: #000000; margin: 0px;overflow: hidden; }
.best_hotels_h5{font-size: 17px; padding-left: 8px; color: #000000; margin: 5px 0; padding: 0; }
.hotels_in_container .border_separator_2{border-top: 2px solid #eaeef0;}
.hotels_in_container .hotel_info_title{margin: 0;line-height: 58px;color: #000000;font-size: 25px;float: left;}
.hotels_in_container .hotel_info_title span{color: #db3a69;}
.hotels_in_container .hotel_info_title span.span_smal_txt{color: #2e2e2e;font-size: 15px;}
.hotels_in_container .hotel_info_title span.span_sep{color: #2e2e2e;font-size: 22px;padding-left: 8px;padding-right: 8px;}
.hotels_in_container .circlimg_arrow{float: left;width: 58px;height: 58px;border: 2px solid #ebc728;border-radius: 50%;margin-right: 10px;}
.hotels_in_container .circlimg_arrow i{margin-left: 26px;margin-top: 20px;}
.hotels_in_container .hotels_info_txt{color: #787878;font-size: 16px;line-height: 19px;padding-left: 64px;}
.hotels_in_container .width_100{width: 100%;}
.hotels_in_container .location_txt{font-size: 12px;color: #606060;margin-bottom: 15px; max-height: 54px; overflow: hidden; line-height: 18px;}
.hotels_in_container .location_txt img{margin-right: 6px;}
.hotels_in_container .font-17{font-size: 17px;}
.hotels_in_container .font-16{font-size: 16px;}
.hotels_in_container .font-black{color: #000000;}
.hotels_in_container .price_hotel_blue{font-size: 16px;font-weight: bold;color: #00b7d9;margin-bottom: 0px;}
.hotels_in_container .whitedownimgbag .price_hotel_blue{;position: absolute;bottom: 10px;right: 0px;}
.hotels_in_container .whitedownimgbag .stars_block{position: absolute;left:0px;bottom:12px;}
.hotels_in_container .price_hotel_blue span{font-size: 13px;font-weight: normal;}
.hotels_in_container .from_price{font-size: 15px;color: #2e2e2e;}
.hotels_in_container .from_price span{color: #00b7d9;}
.float_left{float: left;}
.line-height-20{line-height: 20px;}
.padding_left_8{padding-left: 8px;}
.margin_top_20{margin-top: 20px;}
.margin_top_30{margin-top: 30px;}
.margin_top_50{margin-top: 50px;}
.margin_top_63{margin-top: 63px;}
.margin_bottom_0{margin-bottom: 0px;}
.margin_bottom_5{margin-bottom: 5px;}

@media (min-width:992px) and (max-width:1199px){
    .hotels_in_container .deal_grey_container {padding: 20px;}
}
@media (max-width:767px){
    .hotels_in_container .deal_grey_container {padding: 5px;}
    .mainpage_backimg{background-image: none !important;}
    .xs_margin_0{margin-top: 0;}
    .hotels_in_container .hotels_info_txt{padding-left: 0;}
}
@media (max-width:500px){
    .xs_width_100{width:100%; }
}
