{# empty Twig template #}
<tr height="37" bgcolor="#FFFFFF">
<td height="37" bgcolor="#FFFFFF" width="633">
</td>
</tr>
<tr>
<td height="29" width="633">
<table width="633" border="0" cellspacing="0" cellpadding="0" height="29">
<tr height="29" bgcolor="#FFFFFF">
<td width="1" height="29"></td>
<td width="45" height="29" bgcolor="#000000"></td>
<td  width="136" height="29" bgcolor="#000000" valign="middle">
<font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">{{partTitle|capitalize}}</strong>
</font>
</td>
<td width="414" height="29"></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr>
<td width="46"></td>
<td>
<table width="552" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr>
<td height="30"  width="552"></td>
</tr>