{# empty Twig template #}
<tr>
<td>
<table width="633" height="52" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
<tr bgcolor="#000000">
<td bgcolor="#FFFFFF" rowspan="2" height="52" width="1"></td>
<td width="41" height="48" rowspan="2"></td>
<td align="left" width="137" valign="middle" rowspan="2">
<img src="{{link_path}}email-logo-new.png" alt="Tourist Tube Logo" border="0" width="137" height="48"/>
</td>
<td height="14">
</td>
<td width="112" bgcolor="#e9c21b" height="47" rowspan="2">
<img src="{{link_path}}email-tchannel.jpg" alt="Tourist Tube Logo" border="0" width="112" height="47"/></td>
<td bgcolor="#FFFFFF" height="52" width="1" rowspan="2"></td>
</tr>
<tr bgcolor="#000000">
<td height="34" valign="top">
<font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
<strong><i></i></strong>
</font>
</td>
</tr>
</table>
</td>
</tr>