
/*add hotel  Page Media Style
-------------------------------------------------------------*/

@media only screen and (max-width:767px) {

/* ---------------------------------- review  ------------------------------------------ */
.addhotel_Container {
    margin: 30px 2% 0 !important;
    width: 96% !important;
}

h1 {font-size:18px !important;}


hr {width: 100% !important;}

.add_hotel_div {
    margin: 0 !important;
    width: 100%;
}

.addhotel_box li {
    margin: 16px 10px 20px !important;
}

.features_input {
    height:24px !important;
    width:98.5% !important;
}

.google_map {
    border: 1px solid #bebebe;
    height: 275px;
    width:99% !important;
}

#pac-input {
    left: 4px !important;
    top: 224px !important;
    width: 97% !important;
    z-index: 99999999 !important;
}

.feature {
    margin-left: 0 !important;
}
 
.img { display:none
 }

.addhotel_box select {
    height:28px !important;
    width: 100%;
}

.submit_btn ul {
    float: right;
    margin: 0 !important;
    padding: 0;
}

.submit_btn ul li {
    margin: 0 !important;
}


.footer_container_all {
    position: relative !important;
	display:block 
} 

/*-------------------------------------------------*/
}

/*===================================== @media 767px ====================================*/

@media only screen and (min-width: 768px) and (max-width:960px) {

/* --------------------------- hotel-review  ------------------------------- */

.addhotel_Container {
    margin: 30px 2% 0 !important;
    width: 96% !important;
}

h1 {font-size:18px !important;}


hr {width: 100% !important;}

.img {right: -20% !important; top: 40px !important;}


/* End hotel-review Style -------------------------*/	
}

/*===================================== @media  768px-960px ====================================*/