@charset "utf-8";
/* CSS Document */
@media only screen and (max-width:360px) {
	
	
#head_media_container {
    display: block;
    height: auto;
    padding-top: 16%;
    position: relative;
    width: 95% !important;
}
	
}

@media only screen and (max-width:767px) {
	
 #albumcontainer {
    display: block;
    height: auto;
    margin: 13% auto 3%;
    min-height: 895px;
    padding: 0;
    position: relative;
    width: 100% !important;
}
#albumimagecontainer {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
#albumimagecontainerup {
    display: block;
    float: left;
    height: auto;
    margin: 2% 0 0 2%;
    padding: 0;
    position: relative;
    width: 96% !important;
}

#head_media_container {
    display: block;
    height: auto;
    padding-top: 5%;
    position: relative;
    width: 95% !important;
}

#contentcontainer {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: auto;
    padding-top: 4%;
    position: relative;
    width: 100%;
}
	
	
	
}
@media only screen and (min-width: 768px) and (max-width:960px){
	
	
	
	
	
	
	
	
	}
