@charset "utf-8";
/* CSS Document */


@media only screen and (max-width:767px) {
.DynarchCalendar-body table td {
  
    width: 25px !important;
}
.DynarchCalendar-day {
   
    width: 100% !important;
}

#EventContainer_Calendar table {
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 42%;
}
.DynarchCalendar-dayNames {
    background: none repeat scroll 0 0 #000;
    border-right: 1px solid #e3e3e3;
    width: 42% !important;
}
#EventContainer .DynarchCalendar-body {
    background: none repeat scroll 0 0 #000;
    border-right: 1px solid #e3e3e3;
    position: relative;
    width: 42% !important;
}
.DynarchCalendar table {
    
    font-size: 10px !important;
    
    height: auto !important;
   
}

}


@media only screen and (min-width: 768px) and (max-width:960px) {


}


