#menu_discover_content{    
	height: auto;
    margin: 0 auto;
    padding-top: 17px;
    position: relative;
    max-width: 864px;
    width: 88%;
    padding-left: 15px;
}
.menu_discover_contentright {
    float: left;
    width: 100%;
    display: block;
}
.menu_discover_contentleft {
    float: left;
    width: 100%;
}
.discover_left_line span {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 15px;
    line-height: 15px;
    font-weight: bold;
    font-size: 13px;
    color: #424242;
    margin-top: -4px;
}
.discover_left_line {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.thingsToDo_left_part{
	float: left;
	margin-right: 7px;
	width: 629px;
}
.thingsToDo_right_part{
	float: left;
	width: 205px; 
	min-height:120px;
}
.thingsToDo_title{
	font-size:16px; 
	font-weight:bold; 
	color:#303030;
	min-height: 30px;
	padding-top: 8px;
}
.thingsToDo_description{
	font-size:12px; 
	font-weight:bold; 
	color:#333333;
	padding-top: 15px;
}
.city_search{
	background-color: #303030;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	height: 70px;
	padding-left: 15px;
	padding-top: 10px;
	width:190px;
}
.city_search span{
	display:none;
}
ul.products {
    margin-top: 24px;
}
ul.products  li{
	width: 202px;
    margin-bottom: 7px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: top;
}
.avb_discover_item {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    width: 205px;
    color: #808080;
    font-family: Arial,Helvetica,sans-serif;
}
ul.products h4 {
    text-align: center;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #333333;
    font-weight: normal;
}
img {
    border: none;
    color: #000000;
    font-size: 9px;
}
#inputArea {
    font-family: Arial,sans-serif;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    display: none;
    margin-top: 5px;
    width: 174px;
    position: relative;
    float: left;
    border: none;
}
.discover_button {
    color: #ffffff;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding-right: 13px;
    padding-top: 3px;
    text-align: right;
    width: 192px;
}
.bag_container {
	background-color: #000000;
	height: 38px;
	width:195px;
}
.bagcontainer {
    background:url('/media/images/thingstodo/bag.png') no-repeat;
	float: left;
	height: 25px;
	margin-top: 4px;
	position: relative;
	width: 38px;
}
.bag_count{
	color: #ffffff;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px; 
	font-weight: bold;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	position: absolute;
	right: 0; 
	text-align: center; 
	top: 0;
	width: 18px;
}
.bag_add{
	color: #f1f1f1;
	float: left;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	height: 20px;
	margin-top: 10px;
	width: 150px;
}
.bag_add img{
	margin-left:5px;
}
.part{
	float: left;
	height: auto;
	position: relative; 
	width: 286px;
}
.menu_header{
	background-color: #e7e9e0;
	cursor: default;
	float: left;
	height: 53px;
	margin-bottom: 27px;
	position: relative;
	width: 306px;
}
.menu_header_num{
	color: #9a9a9a;
	float: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin-left: 10px;  
	margin-top: 19px;
	position: relative;
	width: 100%;
}
.menu_header_tit{
	color: #4c4c4c;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
}
.things_cont{
	float: left; 
	height: auto; 
	margin-bottom: 20px; 
	margin-left: 8px; 
	position: relative;
	width: 290px;	
}
.dotedline{
	position:relative;
	float:left;background:url('/media/images/discover/dot_sep_vert.png')repeat;
	width:1px;
	height:990px;
	z-index:10;
}
.highlights_tit {
    color: #575757;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    margin-left: 17px;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
    width: 295px;
}
.weatherback{
	float: left;
	height: 196px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-top: 6px;
	position: relative;
	width: 261px;
}
.activetubers {
    float: left;
    height: auto;
    margin-bottom: 22px;
    margin-left: 16px;
    margin-top: 8px;
    padding: 0;
    position: relative;
    width: 260px;
}
#activetubers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 262px;
}
#activetubers li {
    border: 1px solid #cecece;
    float: left;
    height: 26px;
    margin: 0 1px 1px 0;
    padding: 0;
    position: relative;
    width: 26px;
}
#activetubers li .IndexTuberThumb {
    border: 0 none;
    display: block;
    height: 28px;
    left: -1px;
    margin-bottom: 0;
    margin-right: 0;
    position: absolute;
    top: -1px;
    width: 28px;
}
#activetubers li a.requestinvite_index {
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.preloader, #contentcontainer.selected .preloader {
    background: rgba(0, 0, 0, 0) url("../css/fancybox_loading.gif") no-repeat scroll center center;
}
img {
    border: medium none;
}
.contweekweather{
	bottom: 26px;
	height: 63px;
	left: 0;
	position: absolute;
	width: 210px;
}