@charset "utf-8";
/* CSS Document */
 @media only screen and (max-width:767px) {
#commentDiv {
left: 179px !important;
    margin-top: -58px !important; 
	width:36% !important;
}	 
#eventDetailedMainDiv {
    font-family: Arial,Helvetica,sans-serif;
    margin: 118px auto 100px;
    position: relative;
    width: 100%;
    z-index: 49;
}

#eventDetailedContainer {
    height: auto;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    width: 100%;
    z-index: 99;
}

#leftEventContainer {
    background-color: #efefef;
    display: block;
    float: left;
    height: auto;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.event_EventDescription {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 0px !important;
    position: relative;
    text-align: justify;
    width: 100%;
}
.event_location_detailed {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 0px !important;
    position: relative;
    text-align: justify;
    width: 100%;
}
#rightEventContainer {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 40px;
    margin-left: 1px;
    position: relative;
    width: 98%;
    z-index: 11;
}
.event_Contentright {
    display: block;
    float: left;
    min-height: 600px !important;
    position: relative;
    width: 100%;
}

.event_googlemap {
    display: block;
    float: left;
    height: 250px;
    margin-left: 0px !important;
    position: relative;
    width: 100%;
}
.event_Event_edit_desc_content {
    display: block;
    float: left;
    height: 275px;
    position: relative;
    width: 100%;
}
 }
 
 
 @media only screen and (min-width: 768px) and (max-width:960px) {
	 
#eventDetailedMainDiv {
    font-family: Arial,Helvetica,sans-serif;
    margin: 118px auto 100px;
    position: relative;
    width: 100%;
    z-index: 49;
}

#eventDetailedContainer {
    height: auto;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    width: 100%;
    z-index: 99;
}

#leftEventContainer {
    background-color: #efefef;
    display: block;
    float: left;
    height: auto;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    z-index: 10;
}
.event_EventDescription {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 21px 31px 18px;
    position: relative;
    text-align: justify;
    width: 100%;
}
.event_location_detailed {
    color: #999999;
    float: left;
    font-size: 11px;
    margin: 66px 31px 7px;
    position: relative;
    text-align: justify;
    width: 100%;
}
#rightEventContainer {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 40px;
    margin-left: 1px;
    position: relative;
    width: 95%;
    z-index: 11;
}
.event_Contentright {
    display: block;
    float: left;
    min-height: 660px;
    position: relative;
    width: 100%;
}
.event_googlemap {
    display: block;
    float: left;
    height: 250px;
    margin-left: 0px !important;
    position: relative;
    width: 100%;
}
#commentDiv {
left: 179px !important;
    margin-top: -58px !important; 
	width:36% !important;
}

 }

