@charset "utf-8";
/* CSS Document */
@media only screen and (max-width:767px) {
	

.flashMainContainer {
    position: relative;
    float: none;
    margin: 0px auto;
    padding: 0px;
    width: 100% !important;
    min-height: 309px;
    background:#fff !important;
}
#commentDiv{
	width:100% !important;
}

.flashBlock1 {
    width: 96% !important;
    margin:20px 2% 0 !important;
}

.echoesContent{
	overflow:hidden !important;
	margin:0px !important;
	
	
}


.flashAddNew{
    position:relative;
    float:left;
    margin:0 5% !important;
    padding:0;
    height:auto;
    width:90% !important;
}
.flashAddNewHead {
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100% !important;
	background:none !important;
}

.flashType {
	padding:13px 7px 6px 2px !important;
 /* width:auto !important;*/
 width:80px !important; 
 border-bottom:1px solid #fff;
     
}

.echoText{
	margin:0px;
	width:100% !important;
}
.toshowCont
{
	width:90% !important;
	margin:5%
}
.indicator{
	display:none !important;
}
.flashTextField{
	width:100% !important;
}

.gradientseparator{ 
  height:70px !important;
  }

.jspContainer {
    overflow: hidden;
    position: relative;
    width: 100% !important;
}

.jspPane {
    position: absolute;
    width: 100% !important;
}

.loadmore_container_up
{
	width:100%;
}

#commentsDiv, #repliesDiv {
   
    
    margin-left: 10% !important;
    
    width: 82% !important;
}
/*--27-4-2015---*/
.flashBlock2 {   
    width:96% !important;
	margin:0px 2% 20px !important;
	height:auto !important;
  
}
/*--end of 27-4-2015---*/
.shadow { box-shadow:3px 3px 3px rgba(68, 68, 68, 0.4) !important; }
/*--27-4-2015---*/
.socialInitDiv, #comment_reportDiv, #album_reportDiv, #editDiv {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto !important;
    margin-left: 25px;
    margin-top: 2px;
    padding: 1% !important;
    position: relative;
    width: 90% !important;
}
/*--end of 27-4-2015---*/

#likesDiv, #sharesDiv, #joinsDiv, #userjoinsDiv, #sponsorsDiv, #descriptionDiv, #comment_reportDiv, #album_reportDiv, #ratesDiv, #editDiv, #reechoesDiv, #commentsDiv{
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto !important;
    margin-left: 25px;
    margin-top: 2px;
    padding: 1%  !important;
    position: relative;
    width: 90% !important;
	
}

 
.meDiv {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: auto;
    padding: 1%;
    position: relative;
    width: 98% !important;
}
.writecommentDiv{ width:92% !important}
.writecommentDiv .notsigned{width:98% !important; margin-left:0px !important; margin-top:0px !important;}
.writecommentDiv .examples {width: 100% !important;}

.mynameDiv {
    color: #212121;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto !important;
    line-height: 13px !important;
    padding-left: 5px;
    position: relative;
    top: -2px;
    width: 70% !important;
}

.reechoe_but {
    height: 16px;
    margin-left: 5px;
    margin-top: 8px !important;
    position: relative;
    width: 70% !important; 
}
.likeDiv {margin-top: 8px !important;
    width: 70% !important; 
}

.mydateDiv {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: auto !important;
    line-height: 13px !important;
    padding-left: 5px;
    position: relative;
    top: 1px;
     width: 70% !important;
}

.albumnameDiv_up {
    color: #e3b721;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 30px;
    line-height: 13px;
    padding-left: 5px;
    position: absolute;
    width: 95% !important;
}

.margintop23 {
    margin-top: 38px;
}
.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width: 84% !important;
}

.commentsAll {
    display: block;
    float: left;
    height: auto;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100% !important;
}

.jspContainer {
    overflow: hidden;
    position: relative;
    width: 100% !important;
}

.jspPane {
    position: absolute;
    width: 100% !important;
}

.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width:90% !important;
}

#BottomProfile {
    display: block;
    float: left;
    margin-left: 24px;
    margin-top:10px;
    position: relative;
    width: 91% !important;
}

#BottomProfileList {
    
    height: auto;
    left: 0;
    position: relative;
    top: 10px;
    width: 100% !important;
}

.likeTTL {
    color: #e7ba20;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    margin-top: 22px;
    position: relative;
    text-indent: 7px;
    width: 100% !important;
}

.toplikes {
    float: left;
    height: 40px;
    position: relative;
    width: 100% !important;
}

.lineleft1 {
    background: none repeat scroll 0 0 #ebebeb;
    float: left;
    height: 1px;
    position: relative;
    width: 100% !important;
}
.lineleft2 {
    background: none repeat scroll 0 0 #dedede;
    float: left;
    height: 1px;
    margin-bottom: 10px;
    position: relative;
    width: 100% !important;
}

.likersData, .likersData_share, .likersData_join, .likersData_sponsor, .likersData_rates {
    float: left;
    height: auto;
    min-height: 50px;
    position: relative;
    width: 100% !important;
}

#commentsDiv, #repliesDiv {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto;
    margin-left: 25px;
    margin-top: 2px;
    min-height: 594px;
    padding: 5px;
    position: relative;
    width: 84% !important;
}

#media_buttonsVid {
    background: none repeat scroll 0 0 black;
    float: left;
    height:30px !important;
    padding-right: 0;
    padding-top: 11px !important;
    position: relative;
    width: 100% !important;
}

.LiveFeedButtons {
    padding-top: 5px;
    text-align: center !important;
}

.MediaButton_data {
    cursor: pointer;
    display: inline-block !important;
    float: none !important;
    height: 20px;
    margin-right: 8px;
    position: relative;
    width: 20px;
}
	
	
.containerDiv {
    float: left;
    height: auto;
    margin-bottom: 40px;
    margin-left: 2%;
	margin-top: 0px !important;
    position: relative;
    width:98% !important;
	height:180px !important;
	overflow:scroll !important;

}

#album_reportbut_pop{
    top:8px !important;
	right:/*11%*/4% !important;
}

.echoesList {
	height:180px !important;
    width: 100% !important;
	border-top:1px solid #dedede;
	border-bottom:1px solid #dedede;
    
}
.loadmore_container_up {
   
    width: 100% !important;
    
}
.flashBlock3 {
    
    margin: 30% 0px 0px 10%;
    
    width: 80%;
	display:none;
}

.flashBlock3 > div {
   
    margin: 0px 0px 0px 10% !important;
   
    width: 70% !important;
}
.anEchoInside{
	width:80% !important;
	margin:10% 0 0 10%;
	
}
.anEchoInside p.echoHasImg_glob, .anEchoInside a.echoHasImg_glob{
	width:72% !important;
	margin: 2% 0 0 10% !important;
	
}


.anEcho
{
	width:100% !important;
}
.anEchoInside:hover{
    background:none !important;
}
.anEcho.selected > .anEchoInside {
    background:none !important;
}
 
.toplikes
{
	width:100% !important;
	left:6px !important;
	top:-10px !important;
}
.likeTTL{
	
	width:100% !important;
}

/* Share Group */

.fancybox-mobile{height:100% !important;  opacity: 1;
    overflow-y: auto ;
    position: fixed !important;
    width:100% !important;
	background:#fff !important;
	top:0 !important;
}
.fancybox-opened .fancybox-skin{ box-shadow:none !important; background:#fff !important}
	
.fancybox-outer, .fancybox-inner {
    height: 100% !important;
    position: relative;
    width: 100% !important;
}

.fancybox-close {
    background-size: cover !important;
    cursor: pointer;
    height: 16px !important;
    position: absolute;
    right: 5px !important;
    top: 5px !important;
    width: 16px !important;
    z-index: 18040;
}

#sharepopup {
    float: none !important;    
    margin:20px auto ;     
    width: 94% !important;
	padding:3%;
	min-width: 180px;
	height:86% !important;
	background:#fff !important;
	
}

.sharepopup_container {     
    margin: 0 !important;   
    width: 100% !important;
	background:none !important;
}

.reportHr{
	background-color:#d3d3d3;
	height:1px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.uploadinfocheckboxtxt {
font-size:11px !important;
}

.margintop16{
    margin-top: 0px !important;
}

.marginleft17{
    margin-left: 0px !important;
}

.sharepopup_butcontainer {
    display: block;
    height: auto !important;
    position: relative;
    width: auto;
	margin-bottom:10px !important;
	float:right;
}

.sharepopup_img {
    display: block;
    float: left;
    height:/* 130px*/ auto;
    max-width: 100% !important;
    position: relative;
    width: auto;
}
.margintop26 {
    margin-top: 14px !important;
}

#invitetext {
    color: #000;
    float: left;
    font-size: 12px;
    position: relative;
    width: 96% !important;
}

.peoplecontainer {
    /*background-color: #ffffff;*/
    height: auto;
    min-height: 102px;
    position: relative;
    width: 100%;
}
.emailcontainer {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bcbcbc;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    min-height: 41px;
    padding: 2px;
    position: relative;
    width: 94% !important;
    z-index: 2;
}

.friendscontainer {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dbdfe6;
    display: block;
    float: left;
    height: 60px;
    margin: -1px 0 0;
    padding: 2px;
    position: relative;
    width: 94% !important;
    z-index: 1;
}


#addmoretext, .addmoretext_css {
    background-color: #b8b8b8;
    border: medium none;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    left: 0;
    line-height: 14px;
    margin: 0;
    padding:1% !important;
    position: absolute;
    top: 0;
    width: 99% !important;
}


.footer_container_all {
    position: relative !important;
	display:block  !important
}


}


@media only screen and (min-width: 768px) and (max-width:960px) {

.flashMainContainer {
    margin: 0px 1% !important;
    padding: 0px;
    width: 98% !important;
    min-height: 309px;
   /* background:#fff !important;*/
}
.echoesContent{
	overflow:hidden !important;
	margin:0px !important;
}


.flashBlock1 {
    float: left;
    height: auto;
    margin: 50px 0 0 !important;
    padding: 0;
    position: relative;
    width: 440px !important;
}

.echoesList {
    float: left;
    height: 468px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 440px !important;
} 

.anEchoInside{
	width:380px !important;
}

.flashAddNew {
   width: 394px !important;
   margin:0 0 0 20px !important
}

.flashBlock2 {
    margin: 10px 0 0 20px !important;
	float:left !important;
	height:auto !important
}


.flashTextField {
    width: 100% !important;
	background:#fff;
}


.flashBlock3{
	margin:280px 0 0 29px !important
}
 #commentDiv{
	width:100% !important;
	margin-bottom:40px;
}

.anEchoInside p.echoHasImg_glob, .anEchoInside a.echoHasImg_glob{ width:328px !important}
}
