
/*Video Page Media Style
-------------------------------------------------------------*/

@media only screen and (max-width:767px) {

/*Page not found 
----------------------------------------------------*/

.middle_body {
    background:url("/media/images/pagenotfound/pagenotfound_bg.jpg") repeat-x scroll 0 -180px #231f20 !important;
}

.pagenotfound_txtbody {
    background: url("/media/images/pagenotfound/pagenotfound_cloud_1.png") no-repeat scroll center -181px rgba(0, 0, 0, 0) !important;
    min-height: auto !important;
    padding: 70px 0 0 !important;
    width: 100% !important;
}

.pagentfnd_txt {
    background: url("/media/images/pagenotfound/pagenotfound_light.jpg") no-repeat scroll -40px -130px rgba(0, 0, 0, 0) !important;
   height: 140px !important;
    margin: 0 auto !important;
    padding: 0 2% !important;
    width: 96% !important
}

.pagentfnd_txt h2 {
    color: #6e696a !important;
    font: bold 20px/26px "Arial" !important;
    margin: 0 0 0 94px !important;
    padding: 4px 0 0 !important;
}

/*End Page not found page ---------------------------------------------*/

}

/*===================================== @media 767px ====================================*/

@media only screen and (min-width: 768px) and (max-width:960px) {

/*Page not found 
----------------------------------------------------*/

.middle_body {
    background: url("/media/images/pagenotfound/pagenotfound_bg.jpg") repeat-x scroll 0 -80px #231f20 !important;
}

.pagenotfound_txtbody {
    background:url("/media/images/pagenotfound/pagenotfound_cloud_1.png") no-repeat scroll center -81px rgba(0, 0, 0, 0) !important;
    min-height: 450px !important;
    padding: 170px 0 0 !important;
    width: 100% !important;
}


.pagentfnd_txt {
    background: url("/media/images/pagenotfound/pagenotfound_light.jpg") no-repeat scroll 70px -100px rgba(0, 0, 0, 0) !important;
    height: 170px !important;
    margin: 0 auto !important;
    padding: 0 2% !important;
    width: 96% !important;
}

.pagentfnd_txt h2 {
    color: #4e494a;
    font: bold 30px/56px "Arial" !important;
    margin: 0 0 0 210px !important;
    padding: 0;
}

/*End Page not found page ----------------------------*/

	
}

/*===================================== @media  768px-960px ====================================*/