@charset "utf-8";
/* CSS Document */
.contact {
    background: rgba(0, 0, 0, 0) url("/media/images/bg-contact.jpg") no-repeat scroll right top;
    min-height: 670px;
}
#LeftMainChannel h1.channelyellowttl, #MiddelMainChannel h1.channelyellowttl, h1.h1Style, h2.h2Style {
    margin-bottom: 0;
    margin-top: 0;
}
h1#MostViewedTTL, h1#CategoriesTTL, h1#CategoriesTTL_search, h2#VideoTTL, h1#TouristTubersTTL, h1.LocationTTL, #MiddelMainChannel h1.channelyellowttl, #LeftMainChannel h1.channelyellowttl, h1#VideoInsideTTL, h1.h1Style, h1.h1NoBold, h2.h2Style {
    font-weight: normal;
}
.sectionTermsAndConditionsStyle{
    margin-top:15px;
}
.spanTermsAndConditionsStyle{
    font-size:11px;
}
.spanTermsAndConditionsStyle2{
    font-size:10px; 
    font-style: italic;
}
.yellow20 {
    color: #eac31a;
    font-size: 20px;
}
.StaticTitle {
    color: #dcaf1a;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    height: 53px;
    margin-top: 34px !important;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
.StaticBody {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 97%;
}
.width480 {
    width: 480px;
}
.ttl25 {
    font-size: 25px;
}
.StaticTxt {
    color: #686868;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 5px;
    position: relative;
    width: 100%;
}
.StaticTxt a {
    color: #686868;
    text-decoration: none;
}

.feedbackinput, .feedbacktextarea {
	float: none !important;
	width: 312px !important;
	margin:0 0 15px 0 !important;
}
.buttonLogincontainer {
    float: right !important;
    margin: 2% 35% auto !important;
}
.report_bug {
    background: rgba(0, 0, 0, 0) url("/media/images/bg-report-bug.jpg") no-repeat scroll right 39px;
    min-height: 670px;
}
.feedbackinput, .feedbacktextarea {
    border: 1px solid #abadb3;
    color: #686868;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 22px;
    margin: 1px 0 0;
    padding: 0 0 0 3px;
    text-align: left;
    width: 312px;
}
label{
	display:block !important;
}
#cmsreport input{
	width:70%;
}
#cmsreport textarea{
	width:70%;
}
.feed_but_class {
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #686868;
    cursor: pointer;
    display: block;
    float:left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
ul.dashed li {
    background: rgba(0, 0, 0, 0) url("/media/images/dash.gif") no-repeat scroll 0 2px;
    padding-left: 8px;
	list-style:none;
}
.spanPrivacyPoliceStyle{
    font-size:11px;
}
.spanPrivacyPoliceStyle2{
    font-size:10px; 
    font-style: italic;
}
.divSupportMainStyle{
    width:100%; 
    margin-bottom:12px;
}
.divSupportMainStyle2{
    width:100%; 
    margin-bottom:12px;
    color:green;
}
.divSupportMainStyle3{
    width:100%; 
    margin-bottom:12px;
    color:red;
}
@media only screen and (max-width:767px) {


	#cmsreport input{
	width:100%;
}
#cmsreport textarea{
	width:100%;
}
.StaticTxt {
	color: rgb(104, 104, 104);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: auto;
	
	position: relative;
	width: 80% !important;
}
.StaticBody {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 98% !important;
}
.StaticTitle {
	font-size: 14px !important;
	text-align: center !important;
	width: 100% !important;
}
.yellow20 {
	width: 89%;
	color: #eac31a;
	font-size: 14px;
}
.width880 {
	width: 100% !important;
}
.width480 {
	margin-left: 10%;
	width: 100% !important;
}
.buttonLogincontainer {
	float: left !important;
	margin: 2% auto !important;
}
.contact {
	background: rgba(0, 0, 0, 0);
	min-height: 670px;
	width: 100%;
}
.StaticTxt {
    color: rgb(104, 104, 104);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin: 0;
    position: relative;
    width: 100% !important;
}
.StaticBody {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 98% !important;
}
.StaticTitle {
	font-size: 14px !important;
	text-align: center !important;
	width: 100% !important;
}
.yellow20 {
	color: #eac31a;
	font-size: 17px;
	line-height: 18px;
	margin-bottom: 10px !important;
}
.width880 {
	width: 100% !important;
}
.width480 {
	margin: 0 !important;
	width: 100% !important;
}
.feedbackinput, .feedbacktextarea {
	margin: 2px 0 10px;
	padding: 2px 2%;
	width: 96% !important;
}
.report_bug {
	background: rgba(0, 0, 0, 0);
	min-height: 670px;
}

}
@media (min-width: 768px) and (max-width:960px) {
#cmsreport input{
	width:48%;
}
#cmsreport textarea{
	width:48%;
}
#MiddleBody {
    color: #000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    position: relative;
    width: 98% !important;
}



.contact {
	background: rgba(0, 0, 0, 0);
	min-height: 670px;
	width: 100%;
}
.StaticTxt {
    color: rgb(104, 104, 104);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: auto;
    margin-left: 0;
    position: relative;
    width: 100% !important;
}
.StaticBody {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100% !important;
}
.StaticTitle {
	font-size: 17px !important;
	text-align: center !important;
	width: 100% !important;
}
.yellow20 {
	color: #eac31a;
	font-size: 20px;
}
.width880 {
	width: 100% !important;
}
.width480 {
	width: 100% !important;
}
.feedbackinput, .feedbacktextarea {
	float: none;
	margin: 2px 0 10px;
	padding: 2px 4px;
	width: 50% !important;
}
.buttonLogincontainer {
	float: left !important;
	margin: 2% auto !important;
}
.report_bug {
	background: url("/media/images/bg-report-bug.jpg") no-repeat scroll right 39px rgba(0, 0, 0, 0);
	min-height: 670px;
}
}


/*-----------------------------*/
/*
.StaticTitle {
    font-size: 14px !important;
    text-align: center !important;
    width: 100% !important;
}

.width480 {
    display: block;
    margin: 0 auto;
    padding: 0 5%;
    width: 90% !important;
}

.width480 table{ width:100% !important;}

.width480  table td {
    border: 0 none;
    font-family: arial;
    margin: 0;
    padding: 0;
    width: auto;
} */

