

@media only screen and (max-width:767px) {
	.likeDiv{
		margin-left:-175px !important;
		margin-top:16px !important;
		
	}
	.reechoe_but{
		margin-left:-174px !important;
		margin-top:16px !important;
	}

.fancybox-wrap, .fancybox-opened{ width:100% !important; height:auto !important;}	
.fancybox-inner{ width:100% !important; height:auto !important;}
	
/*---map-----*/
	.echoe_googlemap{
		width:90% !important;
		margin:0px !important;
	}
	
	/*----end map---*/
/* Channel Upload page
--------------------------------------------------------------------------*/

#InsideNormalup {
    height: auto;
    margin: 0 2% !important;
    position: relative;
    width: 96% !important;
    z-index: 1;
}

#InsideNormal {
    margin:0 2% !important;
    width:96% !important;
}




#uploadheadbar {
    height: auto !important;
    margin: 50px 0 10px !important;
    padding: 1px 2px 2px !important;
    width: 98% !important;
}


#uploadinsidettlo {
    float: none !important;
	font-size: 16px !important;
    height: 40px !important;
    line-height: 40px !important;
    margin: 0 30px 0 10px !important;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    width: auto;
}

.uploadinsidemenu {
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 38px !important;
    line-height: 38px !important;
    margin: 2px 2px 0 0;
    padding: 0 16px !important;
    position: relative;
    text-align: center;
    width: auto;
}

#uploadinsideicon {
    background: url("/media/images/uploadheadicon.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    display: block;
    height: 60px !important;
    position: absolute;
    right: -4px !important;
    top: -20px !important;
    width: 60px !important;
    z-index: 1;
}

#InsideNormal ul {
   width: 100% !important;
} 
.upload1_2 {
   padding: 10px 0 !important;
    width: 100% !important;
	height:auto !important
}

.uploadinsidetxt1 {
    color: #686868;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    left: 0;
    line-height: 17px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
}

.selectuploadbtn_new {
    background: url("/media/images/upload-select.png") no-repeat scroll -10px -2px rgba(0, 0, 0, 0) !important;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    height: 30px !important;
    left: 0;
    margin: 20px auto !important;
    position: relative;
    right: 0;
    top: 0;
    width: 230px !important;
}
.uploadinsidetxt2_new {
    color: #686868;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    left: 0;
    line-height: 17px;
    position: relative;
    text-align: center;
    top:0px;
    width: 100%;
}

.UploadButton {
    
    font-size: 11px !important;
    font-weight: bold;
    height: 30px !important;
    line-height: 30px !important;
    width: 100% !important;
}
 

.upload2, .uploadalbum {
   height: auto !important;
    overflow: visible !important;
    width: 100% !important;
}

#log, #log_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

/*<div id="html5_19et5g590144obo41hi1do91vff3_container" class="moxie-shim moxie-shim-html5" style="height: 34px; overflow: hidden; z-index: 0; position: relative; top: 10px; left: 0px; width: 96%; margin: 0px 2%;">*
.moxie-shim {
    height: 34px !important;
    left: 0 !important;
    margin: 0 2% !important;
    overflow: hidden;
    position: relative !important;
    top: 10px !important;
    width: 96% !important;
    z-index: 0;
}
*/

select.inputuploadformTF {
     width: 96% !important
}

select.inputuploadformTF option {
    width: 96% !important;
}

#uploadnewalbum {
    left: auto;
    right: 8px !important;
    top: 30px !important;
}

#uploadnewalbumover {
    display: none;
    height: 18px;
    left: auto;
    position: absolute;
    right: 26px !important;
    top: 29px !important;
    width: auto;
    z-index: 1;
}
 
 #lefticonover {
    background: url("/media/images/lefticonover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: block;
    float: right !important;
    height: 18px;
    margin: 0;
    padding: 0;
    position: relative;
    transform: rotate(180deg) !important;
    width: 4px;
}
 
#log li, #log_2 li {
    min-height: 600px !important;
    width: 100% !important;
}
 
#log .formcontainercreatealbum, #log_2 .formcontainercreatealbum {
    left: 1% !important;
    top: 10px !important;
    width: auto;
} 

#log li .formcontainer, #log_2 li .formcontainer {
    left: 1% !important;
    top: 30px !important;
    width: 99% !important;
	overflow:visible !important;
}


#log li .tableform, #log_2 li .tableform {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.UploadMediaLeftTF {
    float: left;
    height: 100%;
    position: relative;
    width: 100% !important;
}

.uploadinfotitle {
    margin: 10px 0 0 !important ;
    width: 100% !important;
}

.inputuploadformTF {
    width: 96% !important;
}

.inputuploaddescriptionTF {
    width: 96% !important;
}

.UploadMediaRightTF {
    float: left;
    height: 100%;
    margin: 5px 0 0 !important;
    position: relative;
    width: 100% !important;
}

.SaveNewAlbumButton {
    left: 0 !important;
    width: 54px;
}

.ClearNewAlbumButton {
    left: 70px !important;
    right: auto !important;
}

/* channel upload list 
---------------------------------------------*/

#uploadlistmenucontainer {
     width: 100% !important;
}

#uploadlistmenuicon {
    left: 400px !important;
	display:none
}
#uploadlistmenubk {
    width: 90% !important;
	display:none
}

#uploadlistmenucontent {
    background: none repeat scroll 0 0 #838383;
    float: left !important;
    left: 0 !important;
    padding: 1%;
    position: relative;
    width: 97% !important;
	height: auto;
}

.uploadlistmenu {
    display: inline-block !important;
    margin: 0 9px !important;
}

.uploadlistmenuseperator {
    display: inline-block !important;
    margin: 6px 10px 5px !important;
}



#uploadlistpopuppublish, #uploadlistpopuppublishalbum {
    background-color: #f9f9f9;
    height: 400px !important;
    margin: 2%;
    overflow: auto !important;
    padding: 2%;
    position: relative;
    width: 92%;
}

#uploadlistalbumContent {
    margin: 60px 0 0 !important; 
}

.SaveButtonChannel {
    left:1px !important;
    top: 240px !important;
}

.LaterButtonChannel {
    left: 80px !important;
    top: 240px !important;
    width: 96px;
}

.publishbuttxt {margin: 0 0 20px auto !important;}

#uploadlistmenuimg{ display:none}

#uploadlistcontainer {
    width: 100% !important;
}

#uploadlistcontainerpics {
    margin: 42px 0 0;
    width: 100% !important;
}

/* channel add brochure 
----------------------------------------------------------*/
.create_event_container {
    width: 100% !important;
}

.marker.selected {
    display: none !important;
 
}

.brochurephotoStan {
    margin-left: 0 !important ;
}

#edit_brochuretitle_txt {
    padding:1% !important;
    width:94% !important;
}
/*----echoes-----*/
.anEchoInside p.echoHasImg_glob, .anEchoInside a.echoHasImg_glob{
width:100% !important;
margin:0px !important;
word-wrap:break-word !important;

}
.anEchoInside{
	width:84% !important;
	margin-left:10% !important;
	margin-top:10px !important;
}
.echoesContent{
width:100% !important;
margin:0px !important;
}
.echoesList{
height:auto !important;
margin-top:14px;
width:96% !important;

}
#echoes_container{
WIDTH:94% ;
MARGIN-LEFT:4%;

}
.anEcho{
width:100% !important;
}

.flashBlock2{
	height:auto !important;
	width:100% !important;
}


/*---end echoes---*/
 
/* Upload add event
--------------------------------------------------------------------------*/
 
 .popborder_new {
    padding: 2px !important;
    width: 96% !important;
}
 
.fromdate {
    display: block;
    float: none !important;
    height: 33px;
    margin-bottom: 10px !important;
    position: relative;
    width: 210px;
}

.marginleft19 {
	margin-left: 0 !important ;
}

.fromtimeline {
    background-color: #d8d8d8 !important;
    display: block;
    height: 1px !important;
    position:relative !important;
    left:0 ;
    top: 5px !important;
    width: 210px !important;
}

.marginleft23 {
    margin-left: 0 !important;

}


#edit_newstitle_txt{ width:96% !important} 
 
/* End channel Upload page
--------------------------------------------------------------------------*/


	.ProfileHeaderOverin {
	display:none !important;
}
.icons-overtik {
	display:none !important;
	
}
	#searchcontainer_album_view{
		z-index:0 !important;
	}
	
	
	/*--buttons---*/
	.buttonlist_info_white_channel_item {
    /*width: 48% !important;*/
	width:48% !important;
	border:none !important;
}
	.buttons{
		width:100% !important;
	}
	.opacitynone{
		display:none !important;	
	}
	.btn_txt{
		display:none !important;
	}
	/*---end of buttons---*/
	/*---photos---*/
	#MiddleInsideNormal{
		width:100% !important;
		min-height: auto !important;
		margin-bottom:0px !important;
   
		
	}
.element {
    background: none repeat scroll 0 0 #efefef;
    height: auto;
    margin: 0 0 10px !important;
    width: 100%;
}

	/*---endof photo---*/
	/*----ttpage--*/
	.buttonlist_seperator{
		display:none !important;}
		.buttonlist_link {
    color: #1f1f1f;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 13px;
    line-height: 13px;
    margin-left: 10px !important;
    margin-top: 10px;
    position: relative;
    top: 36px;
    width: auto !important;
}

	/*---end ttpage---*/
	
	
	/*--add events---*/
	#InsideNormalup{
		width:100% !important;
	}
	.create_event_container{
		width:100% !important;
	}
	.popborder{
		width:50% !important;
	}
	.marginleft23{
		margin-left:0px !important;
	}
	.marginleft19{
		margin-left:0px !important;
	}
	.fromtimeline{
		display:none !important;
	}
	
	#InsideNormal{
    margin-left: 13% !important;
    min-height: 633px;
    padding: 0;
    position: relative;
    width: 80% !important;
	}
	.list_container{
		width:100% !important;
	}
	
	.notFoundCon{
		width:100% !important;
	}
	.buttonmorecontainerup{
		display:none !important; 
	}
	.marker.selected {
    left: -42px !important;
    position: absolute;
    top: -1px;
	
}
	/*---end of add events---*/
#favoritesimagecontainerup {
	display: block;
	width:100% !important;
	height: auto;
	float: left;
	padding: 0;
	margin:0% !important;
}
.log_data_container_feed{
	margin-left:0px !important;
}
.linestyle_container {
   /* margin: 6px 0 !important;*/
    width: 100% !important;
}


#favoritesimagecontainer {
    margin: 0 4% !important;
    width: 92% !important;
}

#contentcontainer {
    margin-left: 0 !important;
    top: /*80px*/20px;
    width: 100% !important;
}

#head_media_container {
	display: block;
	height: auto;
	margin: 0 2% !important;
	position: relative;
	width: 96% !important;
	z-index: 49;
}
#media_container {
	background-color: #FFFFFF;
	display: block;
	height: 55px;
	margin:0% !important;
	margin-top: 84px;
	position: relative;
	width:100% !important;
}


#searchcontainer_album_view {
	left: 14px !important;
	margin-left: 0 !important;
	padding: 4px;
	top: 74px !important;
	width: auto !important;
}
#searchcontainer_album_view #searchinput {
	width: 100px !important;
}
#searchcontainer_album_view #sortcmb {
	margin: 0 0 0 4px !important;
}
#favoritescontainer {
	position: relative;
	height: auto;
	min-height: 895px;
	width: 100% !important;
	margin: 0 auto;
	padding: 0;
	margin-top: 58px;
	display: block;
	margin-bottom: 40px;
}

#favoritesimagecontainer ul li {
    float: left !important;
    height: 187px !important;
    margin: 9px !important;
    position: relative !important;
    width: 189px !important;
	background-color:#fff !important;
	
}


.imgbk {
	width: 100%;
	left: 0;
}
.vidimg {
	width: 100%;
	text-align: center;
	float: none;
}

.ProfileHeaderFilter {
	left: 0 !important;
	top: 40px !important;
	width: 100% !important;
}

.PorifleFrndReq {
   z-index:99;
}

#ProfileHeaderInternal {
	height: 110px !important;
	margin: 0 auto;
	padding: 0 1% !important;
	position: relative;
	width: 98% !important;
}
 
 
#profiletitle {
   color: /*#dfa843*/ #111 !important;
    font-size: 14px !important;
    height: 18px !important;
    line-height: 16px !important;
    overflow: hidden !important;
    padding: 0 0 0 4px !important;
    right: 110px !important;
    text-align: right !important;
    text-overflow: ellipsis !important;
    top: /*120px*/ 114px !important;
    white-space: nowrap !important;
    width: 150px !important;
}


#since {
	color:/*#f4c727*/ #666 !important;
	right: 120px !important;
	top: 134px !important;
    line-height: 10px;
    padding: 0 0 0 10px;
 
}


.userAvatar {
	border-top: 0 none !important;
	display: block;
	height: 100px !important;
	position: absolute;
	right: 10px !important;
	top: 104px !important;
	width: 100px !important;
	z-index: 9;
}


#changePP {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    color: #ffffff;
    display: none;
    font: 12px/14px arial !important;
    height: 30px !important;
    left: 9px !important;
    position: absolute;
    text-align: center;
    width: 94px !important;
}


#AccountProfileImage {
	border: 2px solid #1f1f1f !important;
	height: 98px !important;
	width: 98px !important;
}


#searchcontainer_album_view #srchtxt {
	width: 96% !important;
}
#searchcontainer_album_view #searchbut {
	margin-left: 1px !important;
}
/*-------account-----*/
#AccountMainDiv {
	width: 100% !important;
}
/*
#AccountHolder {
	margin: 0 9% !important;
	width: 80% !important;
}
.PageTitle {
	font-size: 15px !important;
}

*/


#AccountMenu {
	width: 100% !important;
	margin-bottom: 50px !important;
}
#AccountMenu li {
	font-size:14px !important;
	margin-bottom: 12px !important;
	width: auto !important;
}
#AccountInfo {
	width: 100% !important;
}
.AccountTopSep {
	width: 100% !important;
}
.AccountTitle {
	width: 100% !important;
}
.AccountSubTitle {
	width: 99% !important;
}
#AboutMe, #PersonalDetails {
	width: 100% !important;
	margin: 1% !important;
}
.AccountStanDiv {
	width: 100% !important;
	margin: 0 !important;
}
.AccountTextArea {
	width: 96% !important;
}
.AccountTextInput {
	width: 96% !important;
}
#AboutMeImageUL {
	width: 75% !important;
}
.btnstan-account-about {
	margin: 12px 0 0 -10px !important;
}
#AboutMeImageUL .TextRight {
	height: 75px !important;
}
.privacy_box {
	width: 100% !important;
}
.AccountCountrySelect {
	width: 97% !important;
}
#LocationDetails {
	width: 98% !important;
	margin: 1% !important;
}
#AccountSettings {
	width: 96% !important;
	margin-left: 2% !important;
}
.AccountSettingsInput {
	width: 100% !important;
}
#DeactivateAccount {
	width: 98% !important;
	margin-left: 2% !important;
}
#DeleteAccount {
	width: 98% !important;
	margin-left: 2% !important;
}
.ActivitiesTitle {
	width: 100% !important;
}
.globSummary {
	margin:0 2% 20px !important;
	width: 96% !important;
	height:auto !important;
}

.globNumCon {
    margin: 20px 0 0 !important;
}

.logosCont{
	width: 100% !important;
	height:auto !important;
}


.globLikes, .globShare, .globcomment, .globRate {
    margin: 0 !important;
    width: 25% !important;
	padding:0 !important
}

.mediaValuesCont {
    height: auto !important;
    margin: 5px 0 0 !important;
    width: 100% !important;
}


#mediaUploadedCon {
    margin: 20px 2% 0 !important;
    width: 96% !important;
}

.mediaUploadedLabel {
    margin: -134px 0 0 -58px !important;
    
}

#mediaUploadedPieCon {
    margin: 20px 0 0 !important;
    width: 100% !important;
}

#engagementPieCon {
   margin: 20px 0 0 !important;
    width: 100% !important;
}


#contentDistCon {margin: 20px 0 0 !important;  width: 100% !important;}

.contentDistLabel {
    margin: -180px 0 0 -20px !important;
}

#networkGrowthCon {
    margin: 20px 0 0 !important;
    width: 100% !important;
}	

.networkGrowthLabel {
    margin: -158px 0 0 -30px !important;
}

.networkValCont {
    margin: 20px 0 0 !important;
    width: 100% !important;
}
	
.followFriendCont {
   margin: 20px 0 0 !important;
    width: 100% !important;
}	
	
.flot-overlay {
	width: 100% !important;
}
.accountActivitiesCont {
	width: 100% !important;
}

/*
.mediaValuesCont {
	display: none !important;
}*/


.mediaTableCont {
    height: auto !important;
    margin: 68px 0 0 !important;
    width: 100% !important;
}

.mediaTableCont .mediaTableHead1 {
      height: auto !important;
    margin: 0 !important ;
    
    position: relative;
    width: 15% !important;
}

.mediaTableCont .mediaTableHead2 {
    height: auto !important;
    margin: 0 !important;
    width: 15% !important;
}

.mediaTableCont .mediaTableHead1 .tableH {
    height: 26px !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
	text-align:center;
	border-bottom: 1px solid #5e5e5e;
}

.mediaTableCont .mediaTableHead1 .tableCell {
    height: 26px !important;
    margin: 0 0 0 6% !important;
    text-align: center;
    width: 94% !important;
}

.mediaTableCont .mediaTableHead2 .tableH {
    padding: 0 !important;
    text-align: center;
    width: 100% !important;
	height:26px !important;
	border-bottom: 1px solid #444;
}

.mediaTableCont .mediaTableHead2 .tableCell {
   margin: 0 0 0 6% !important;
   text-align: center;
   width: 94% !important;
}

.mediaTableCont .mediaTableRow {
    height: auto !important;
    margin: 0 !important;
    width: 14% !important;
}

.mediaTableCont .mediaTableRow .tableH {
    height: 26px !important;
    margin: 0 0 0 6% !important;
    padding: 0 !important;
    text-align: center;
    width: 94% !important;
	border-bottom: 1px solid #ffffff;
}

.mediaTableCont .mediaTableRow .tableCell {
    margin: 0 0 0 6% !important;
    text-align: center;
    width: 94% !important;
}

.cellHeader {
	display: none !important;
}

 
.mediaTableCont {
	width: 100% !important;
}
 


.aCont {
	padding: 0px;
	float: left;
	position: relative;
	margin: 0px 0px 40px;
	height: auto;
	width: 100%;
	display: block;
}
.accountActivitiesSep {
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: block;
	width: 100%;
	height: 5px;
}
.ActivitiesTitle {
	width: 100% !important;
}


/* account/overview 
-------------------------------------------------------------------*/
.mediaLogosCont{
	width:100% !important;
}
#AccountMainDiv {
    width: 100% !important;
}

#AccountHolder {
    margin: 0 2% !important;
    width: 96% !important;
}

.PageTitle {
    font-size: 18px !important;
    margin-bottom: 20px !important;
    margin-top: 80px !important;
}

#AccountMenu {
    width: 100% !important;
	height:auto !important;
}
	
	
/* -------------------------------- */


/*-----account------*/
/*----notifation----*/

.table1 {
	width: 100% !important;
}
.formContainer {
	width: 87% !important;
	margin-left: 6% !important;
}
.list_notifications_item {
	width: 100% !important
}
.formContainer100 {
	width: 100% ;
}
.formContainer_list_notifications {
	width: 98% !important;
	margin-left: 2% !important;
}
#EmailOptions {
	width: 100% !important;
}
#emailnotifications1 {
	width: 100% !important;
}
.uploadinfocheckboxtxt {
    height: 35px !important;
    margin: 1px 0 0 4% !important;
    width: 96% !important;
}
.marginleftminus18 {
	margin-left: 0px !important;
}
.uploadinfocheckboxpic {
	top: 14px !important;
}
/*---end notification*/
/*---invitation---*/
.AccountTextInput4 {
	width: 96% !important;
}
#SendInvitation, #SentInvitation {
	width:96% !important;
	margin-left: 2% !important;
	margin-right: 2% !important;
}
.AccountStanDiv1 {
	width: 100% !important;
}
.account-btn-container-settings {
	margin: 15px 80px 27px 16px !important;
}
.AccountTextLabel {
	width: 100% !important;
}
ul.invited li {
	height: 40px !important;
	line-height: 15px !important;
	width: 100% !important;
}
/*---end invitation---*/
/*---privacy---*/
#ContactPrivacy, #ContentPrivacy {
	width:96% !important;
	margin-left: 2% !important;
	margin-right: 2% !important;
}
.AccountStanDiv2 {
	width: 100% !important;
}
/*--end privacy---*/
/*--sharing--*/
.AccountSharingDiv {
	margin: 35px 0 0 2px !important;
	width: 100% !important;
}
/*--end sharing---*/
/*---newsfeed--*/
.log_data_container {
	margin-top: 108px;
	width: 100% !important;
}
.log_data_container .log_item_list {
	width: 80% !important;
}
.log_tuber_header .log_header_text {
	width: 100% !important;
}
.log_tuber_header .log_header_time {
	width: 100% !important;
}
#content {
    /*padding:0 2% !important;*/
    width:100% !important;
}
#log_top_related {
	width: 100% !important;
}
.log_post_container {
	width: 100% !important;
}
.log_post_container .log_post_left .log_post_left_text {
	width: 90% !important;
	font-size: 10px !important;
}
.log_media_container {
	width: 100%;
}
.log_media_container_inside {
	width: 100% ;
}
.log_media_container .picture {
	width: 100% ;
	height: 100% ;
}
.log_sponsor_container {
	width: 100% !important;
}
.log_item_list #commentDiv {
	width: 100% !important;
}
.log_data_footer {
	width: 100% !important;
}
.log_data_container_right_feed {
	width: 80% !important;
	margin-left: 0px !important;
}
.log_overhead_text {
	width: 100% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.buttonmorecontainer {
	margin-left: 0px !important;
}
#container {
	width: 100% !important;
	margin:0px !important;
}
#left_container_newsfeed {
	width: 100% !important;
}
/*--end newsfeed---*/



/*---profile_album----*/
.mediaInfo.mediaInfo_profile{
	width:76% !important;
}
.marginleft10{
	margin-left:0px !important;
}
.calendarcontainer{
	width:100% !important;
}




/*---end of profile_album----*/
/*---ttpage---*/

#buttonlist_container {
    background: none;
    display: block;
    float: left;
    height: auto;
    margin-left: 0;
    position: relative;
    width: 100% !important;
}

.cal_months_container {
    float: left;
    height: auto;
    margin: 0 0 100px !important;
    position: relative;
    width: 100% !important;
}

.buttonlist_info_white_event {
    display: block;
    float: left;
    height: 230px !important;
    margin: 0 11px 0 0;
    position: relative;
    width: 204px;
}


.buttonlist_info_white_about {
    float: none;
    height: auto !important;
    padding: 25px 2% !important;
    width: 96% !important;
}

.buttonlist_info_white_friends {
    height: 100% !important;
    adding: 11px 2% !important;
   width: 92% !important;
}

.buttonlist_info_white_favorites {
    height: 100px !important;
    margin: 6px 0 0 !important;
    overflow-y: scroll !important;
    padding: 11px 2% !important;
    width: 96% !important;
}

.buttonlist_info_white_third {
    height: 257px !important;
    margin: 10px 0 0 !important;
    padding: 11px 2% !important;
    width: 96% !important;
}

.buttonlist_info_white_friends_content {
    display: block;
    float: left;
    height: 138px !important;
    margin-left: 2% !important;
    margin-top: 5px;
    overflow: auto;
    padding: 0;
    position: relative;
    width: 35% !important;
}

.headlist_media_container {
    display: block;
    float: left;
    height: 95px;
    position: relative;
    width: auto !important;
}

.headlist_media_list {
    width: auto !important;
}


.buttonlist_info_white_channels_created {
    display: block;
    float: left;
    height: 158px !important;
    margin: 0 0 29px;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.buttonlist_info_white_channel_list {
    display: block;
    float: left;
    height: auto;
    margin-top: 7px !important;
    padding: 0 100px 0 0;
    position: relative;
    width: auto;
}
.latest_event_pic{
	display:none !important;
}

.latest_event_title table td {
    display: none !important;
    text-align: left;
    width: 100%;
}

.buttonlist_info_white_text{
	width:90% !important;
	margin-left:5% !important;

}
.buttonlist_info_white_container {
    margin-left: 0 !important;
    width: 100% !important;
}


.buttonlist_info_white_second {
    display: block;
    float: left;
    height: auto;
	margin:0px !important;
    
    position: relative;
    width:100% !important;
}

#left_container {
    margin-left: 0 !important;
    margin-top: 320px !important;
    width: 100% !important;
}

.font16 {
    font-size: 16px;
    text-align: center !important;
}
.visited_places {
    background: url("/media/images/ttpage/visited_places.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
    display: block;
    float: left;
    height: 148px;
    left: 0;
    margin: 2px auto 20px !important;
    position: relative;
    width: 100%;
}
.notifications_box {
    background: none repeat scroll 0 0 #000;
    height: 33px;
    position: relative;
    width: 100% !important;
}
.tt_event_calendar_container {
    display: block;
    float: none;
    height: auto;
    margin: 10px auto 0;
    position: relative;
    width: 207px;
}
#add_location {
    display: block;
    float: none;
    height: auto;
    margin: 10px auto 0;
    position: relative;
    width: 207px;
}
.posts_container {
    display: block;
    float: none !important;
    height: 151px;
    margin: 7px auto 0 !important;
    position: relative;
    width: 210px;
}

.moxie-shim{ }
.buttonlist_info_white_channels_connected {
    display: none;
  
}

.headlist_white_container {
    height: auto !important;
    margin-left: 0 !important;
    width: 83% !important;
	 margin-top:200px !important;
}


.marginleft40 {
    margin-left: 4px !important;
}
.marginleft58 {
    margin-left: 4px !important;
}
.margintop18{
	margin-top:0px !important;
}
.marginleft3{
	margin-left:0px !important;
}
#activity_log_container {
    
    right: 0px !important;
   
}
#right_container {
    display: block;
    float: left;
    height: auto;
    margin-left: 10% !important;
    margin-top: 30px;
    position: relative;
    width: 84% !important;
}
.RegFocus, .ChaFocus, .RegUsernameFocus {
    border: 1px solid #eaeaea;
    color: #000000;
    font-size: 12px;
    height: 22px;
    width: 96% !important;
}
#share_select {
    background-color: #ebebeb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 98% !important;
}
.peoplecontainer {
    background-color: #ffffff;
    height: auto;
    min-height: 102px;
    position: relative;
    width: 100% !important;
}


.cal_year_container {
    float: left;
    /*left: 20px !important;*/
    margin-bottom: 10px !important;
    margin-top: 50px !important;
    position: relative;
    width: 45px;
    left: 45% !important;
}

.emailcontainer_boxed_share {
    background-color: #ebebeb;
    width: 96% !important;
}


.likeTTL {
    color: #e7ba20;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    margin-top: 22px;
    position: relative;
    text-indent: 7px;
    width: 100% !important;
}
/*--new addition in tt page---*/

#headlist_container {
	display:none !important;
	
	width:100% !important;
	}
.buttonlist_info_event_content {
    background-color: #2a2a2a;
    display: block;
    float: left;
    height: auto !important;
    margin-top: 6px;
    position: relative;
    width: 198px;
}
 
#buttonlist_info_container {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 4px 0 0 !important;
    position: relative;
    width: 100% !important;
}	
/*--end of new addition in tt page---*/

/*---end ttpage ----*/
/*--album_manage---*/

#catsubcontainer{
	width:100% !important;
}
#catcontainer{width:100% !important;
}

/*--end of album_manage----*/
/*--network friends---*/
#networkcontainerright {
    background-color: #efefef;
    display: block;
    height: /*200px */110px!important;
    padding: 14px 4px !important;
    position: relative !important;
    right: 0;
    top:0px;
    width: 96% !important;
	margin-bottom:20px !important;
	overflow:auto !important;
	
}


.imgTuberGrid .profile-friend-pic {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px !important;
    height: 80px;
    margin: 0 8px 0 0;
    position: relative;
    text-align: center;
    width: 80px !important;
}


#content .popUp .main_inside {
    display: block;
    float: left;
    height: 90px;
    margin: 4px 0 0 3px;
    position: relative;
    width: 93% !important;
}
#content .popUp .main {
    
    width: 81% !important;
	height:100px !important;
}
#content .popUp {
    
    height: 90px;
    position: absolute;
    width: 56% !important;
    z-index: 125;
}
 #searchfriendbutalphabetcontainer{
 /*   position:relative !important;
    left: 2px !important;
  top: 3px;*/
   left: 0 !important;
   margin-top: 24px !important;
   position: absolute !important;
	
} 
#alphabetcnt{
	width:100% !important;
}
#alphabetcnt ul{
	width:100% !important;
}
.linestyle2{
	width:90% !important;
	display:none;
}
.linestyle1{
	display:none !important;
}

.suggested_friends_content {
    margin-top: 0 !important;
}
 

#alphabetcnt {
    background-color: #2a2a2a;
    border: 3px solid #000;
    display: block;
    float: left;
    height: auto !important;
    left: 51px !important;
    margin: 0;
    padding: 0;
    position: absolute !important;
     width: 50% !important;
}
.one-tuber{
	/*margin-left:15px !important;*/
}

#searchfriendinput {
    background-image: url("/media/images/img/srchinput.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    height: 20px;
    line-height: 17px;
   margin-bottom: 4px !important;
    margin-left: 0 !important;
    padding: 0;
    position: relative;
    width: 80% !important;
}


#alphabetcnt ul li{
	margin:0px !important;
	
}
#srchfriendtxt{
	width:97% !important;
}

.suggested_friends_list {
    height: 87px !important;
    overflow: hidden !important;
}

#searchfriendcontainer {
    background-color: #ffffff;
    display: block;
    height: 78px;
    margin-left: 2% !important;
    margin-top: 118px !important;
    position: relative;
    width: 98% !important;
}


img {
    height: auto;
    margin: 0 !important;
    max-width: 100% !important;
}

.data_head_text{
	float:none !important;
}
/*---end network friends---*/
/*--journals----*/
.jspContainer{
	width:100% !important;
}
.separator_line{
	width:100% !important;
}
.header_div{
	width:100% !important;
}

.body_div{
	
	left:0px !important;
	width:100% !important;
}
.item_details{
	width:100% !important;
	background:none !important;
	margin-left:0px !important;
}
#JournalMainDiv{
	width:100% !important;
} 
.socialInitDiv, #comment_reportDiv, #album_reportDiv, #editDiv {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto !important;
    margin-left:0 !important;
    margin-top: 28px !important;
    padding: 5px;
    position: relative;
    width: 82% !important;
	margin-bottom:27px !important;
}
.commentsAll{
	width:100% !important;
	min-height:auto !important;
	
}

.meDiv {
    
    width: 100% !important;
}
.containerDiv {
    float: left;
    height: auto;
    margin-bottom: 40px;
    margin-left: 0 !important;
    margin-top: 20px;
    position: relative;
    width: 85% !important;
}
.left_panel{
	width:100% !important;
}
.albumdesc{
	width:100% !important;
}
#commentDiv{
	width:100% !important;
}
.footer_fill{
	display:none !important;
}

/*--end of journals----*/

/*Profile video 
-----------------------------------------------------*/
.centerContent {
    width: 100% !important;
}

#event_container{
	margin:70px 2% 0 !important;
	width:96% !important;
}
.element_album.element{
	width:50% !important;
}

.calendarcontainer {
    display: none;
    float: left;
    height: auto;
    position: relative;
    width: 100% !important;
}

.caltxt_date {
    background-color: #5f5f5f;
    border: 1px solid #5f5f5f;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    margin: 0 0 0 1px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 130px !important;
}

#frombutcontainer, #tobutcontainer {
    float: left;
    height: 20px;
    margin-bottom: 4px !important;
    margin-right: 4px !important;
    position: relative;
    width: auto;
}

#searchCalendarbut {
    
    margin: 0 4px !important;
     }
/*--
.load_more_previous_new {
      margin: 0 7px !important;
    
}*/



.mediaInfo{
	width:50% !important;
	height:200px !important;
	top:10px !important;
}
.ProfileUserButton{
	top:20px !important;
	margin-bottom:10px !important;
	margin-left: 4%;
    position: relative;
    width: 86% !important;
}
.loadmore_container_up{
	
	width:100% !important;
}
.mediainfomore{
	font-size:10px !important;
}

#contentholder {
    display: block;
    float: left !important;
    height: 100%;
    margin: 76px 2% 0 !important;
    position: relative;
    width: 96% !important;
}
#content.network {
    display: block;
    height: 100%;
    left:0 !important;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width:100% !important;
}


.footer_container_all {
    position: relative !important;
	display:block 
}

}


@media only screen and (min-width: 768px) and (max-width:960px) {
	.likeDiv{
		margin-left:-200px !important;
		margin-top:10px !important;
		
	}
	.reechoe_but{
		margin-left:-200px !important;
		margin-top:10px !important;
	}

/* account/overview 
-------------------------------------------------------------------*/

#AccountMainDiv {
    width: 100% !important;
}


#AccountHolder {
    margin: 0 2% !important;
    width: 96% !important;	
}	

.PageTitle {
    font-size: 18px !important;
    margin-bottom: 20px !important;
    margin-top: 50px !important;
}


#AccountMenu {
    width: 100% !important;
}
	
	
/* -------------------------------- */
.filterleft {
	bottom: 0;
	left: 0px !important;
	position: absolute;
}
.ProfileHeaderFilter {
    height: 31px;
    left: 2% !important;
    width: 98% !important;
}

#profiletitle {
    font-size: 14px !important;
    top: 10px !important;
}

#ProfileHeaderInternal {
	height: 110px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 100% !important;
}

.userAvatar {border-top: 0 none; display: block; height: 100px; position: absolute; right: 10px; top: 1px; width: 100px !important; z-index: 99;}

#AccountProfileImage {border: 2px solid #1f1f1f !important; height: 98px !important; width: 98px !important;}



#searchcontainer_album_view {
	left: 337px !important;
}


#since {
    top: 30px !important;
}

#favoritescontainer {
	display: block;
	height: auto;
	margin: 58px auto 40px;
	min-height: 895px;
	padding: 0;
	position: relative;
	width: 100% !important;
}
#favoritesimagecontainer {
	display: block;
	float: left;
	height: auto;
	margin:0 !important;
	padding: 0;
	position: relative;
	width:100% !important;
}
#favoritesimagecontainerup {
	display: block;
	float: left;
	height: auto;
	margin: 0 2% !important;
	padding: 0;
	position: relative;
	width: 96% !important;
}

/*
#head_media_container {
	display: block;
	height: auto;
	margin: 0 auto;
	position: relative;
	width: 100% !important;
}
*/

#head_media_container {
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 98% !important;
}

/*
#searchfriendcontainer {
    background-color: #ffffff;
    display: block;
    height:78px auto !important;
    margin:0 2% !important;
    margin-top:80px !important ;
    position: relative;
    width: 96% !important;
}*/

#searchfriendcontainer {
    background-color: #ffffff;
    display: block;
    height: auto !important;
    margin: 60px 2% 0 !important;
    position: relative;
    width: 96% !important;
}



#favoritesimagecontainer ul li {
	background-color: #3f3f3f;
	background-image: url("/media/images/fancybox_loading.gif");
	background-position: center 45px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 187px;
	list-style: outside none none;
	padding: 0;
	position: relative;
	width: 189px !important;
}
#contentcontainer {
	background: none repeat scroll 0 0 #ffffff;
	display: block;
	height: auto;
	position: relative;
	width: 100% !important;
}
#media_container {
    margin: 0 2% !important;
    width: 96% !important;
}

/*---profile_album----*/

.calendarcontainer{
	width:100% !important;
}

#event_container {
    margin: 50px 2% 0 !important;
    width: 96% !important;
}

.element_album.element{
	width:100% !important;
}

/* Profile video 
-------------------------------------------------------*/
.centerContent{
	width:100% !important;
}


.calendarcontainer {
    display: none;
    float: left;
    height: auto;
    position: relative;
    width: 100% !important;
}

.caltxt_date {
    background-color: #5f5f5f;
    border:none !important;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 18px !important;
    line-height: 18px !important;
    margin: 0 0 0 1px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 130px !important;
}

#frombutcontainer, #tobutcontainer {
    float: left;
    height: 20px;
    margin-bottom: 4px !important;
    margin-right: 4px !important;
    position: relative;
    width: auto;
}

#searchCalendarbut {
    
    margin: 0 4px !important;
     }

.load_more_previous_new {
      margin: 0 7px !important;
    
}

#frombutcontainer, #tobutcontainer{
	height:29px !important;
}

.imgGrid {
  
    display: block;
    float: left;
    height: 106px;
    width: 190px;
}

.element div {
    float: left;
}


.mediaInfo {
    background-color: #efefef;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 98px;
    margin-left: 0;
    padding: 0 0 10px 10px;
    width: 60%;
}

.mediainfodate {
    float: left;
    font-size: 10px;
    line-height: 20px;
    width: 100%;
}

.mediainfodesc {
     height: /*20px*/ auto;
    overflow: hidden;
}

.mediainfomore {
    color: #807f7f;
    float: left;
    font-size: 10px;
    overflow: hidden;
    text-transform: lowercase;
    width: 100%;
}

.mediainfomore li:first-child {
    width: 50px;
}
.mediainfomore li {
    float: left;
    font-family: arial;
    margin: 0 1px 0 0;
    width: 20% !important;
}


/*
.mediaInfo{
	width:100% !important;
	height:auto !important;
}




.ProfileUserButton{
	top:10px !important;
	margin-bottom:10px !important;
	width:27% !important;
}
.loadmore_container_up{
	
	width:100% !important;
}
.mediainfomore{
	font-size:10px !important;
}
.imgGrid{
	width:22% !important;
}
.mediaInfo.mediaInfo_profile{
	width:50% !important;
	left:14px !important;
}
.linestyle_container {
    margin: 10px 0 !important;
    width: 100% !important;
}*/

/* TT Profiles 
 ----------------------------------------------------------------------------------*/

#content{
    width: 96% !important;
	/*margin:0 2% !important*/
}

#container {
    width: 100% !important;
	margin:0 !important;
}

#buttonlist_container {
    height: auto !important;
    margin: 0 !important;
    width: 100% !important;
}

#buttonlist_info_container {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 30px 0 !important;
    position: relative;
    width: 100% !important;
}
#buttonlist_info_containerup {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.buttonlist_info_white_container {
    margin: 0 1% !important;
    width: 98% !important;
}


.buttonlist_info_white_about {
    padding: 25px 1% !important;
    position: relative;
    width: 24% !important;
}

.buttonlist_info_white_text {
    width: 90% !important;
}

.buttonlist_info_white_second {
    margin: 0 0 0 1% !important;
    width: 29% !important;
}


.buttonlist_info_white_friends {
    padding: 5% !important;
    position: relative;
    width: 90% !important;
	height:auto;
}

.buttonlist_info_white_friends_content {
    margin: 18px 4% 0 0 !important;
    width: 46% !important;
}

.buttonlist_info_white_favorites {
    padding: 5% !important;
    position: relative;
    width: 90% !important;
}

 

/*.buttonlist_info_white_third {
    background-color: #ffffff;
    display: block;
    float: left;
    height: auto !important;
    margin: 0 0 0 4px;
    padding: 11px;
    position: relative;
    width: 280px !important;
}*/

.buttonlist_info_white_third {
    background-color: #ffffff;
    display: block;
    float: left;
    height: auto !important;
    margin: 0 0 0 1%;
    padding: 11px 1% !important;
    position: relative;
    width:40% !important;
}

.buttonlist_info_white_channels {
    width: 100% !important;
}

#headlist_container {
    display: block;
    float: left;
    /*height: 123px;*/ 
	height:auto; 
    margin: 0 !important;
    position: relative;
    width: 100% !important;
}

.headlist_white_container {
    background-color: #ffffff;
    display: block;
    float: left;
    /*height: 107px;*/
	height:auto;
    margin: 10px 0 !important;
    position: relative;
    width: 100% !important;
}

/*.headlist_media_container {
    display: block;
    float: left;
    height: 95px;
    margin: 7px 1% 0 !important;
    position: relative;
    width: 30% !important;
}*/

.headlist_media_container {
    display: block;
    float: left;
   /* height: 95px;*/
    height:auto;
    margin:7px ;
    position: relative;
    /*width: 250px !important;*/
	width:auto;
}

#left_container {
    background-color: #efefef;
    display: block;
    float: left;
    height: auto;
    margin-left: 0 !important;
    margin-top:30px !important;
    position: relative;
    width: 221px;
}

#right_container {
    display: block;
    float: left;
    height: auto !important;
    margin-left: 20px !important;
    margin-top:30px !important;
    position: relative;
   /*width: 500px !important;*/
   width: 470px !important;
}

.log_tuber_header .log_header_text {
    width: 100% !important;
}

.log_tuber_header .log_header_time {
    color: #e3b721;
    float: left;
    font-size: 10px;
    left: 1% !important;
    position: relative;
    width: 99% !important;
}
#log_top_related_tt {
    left: -16px !important;
}

.log_data_container {
    width: 100% !important;
}

.log_data_footer {
    width: 100% !important;
}
#activity_log_container {
    right: -29px !important;
    
}



/*--add events---*/
	#InsideNormalup{
		width:100% !important;
	}
	.create_event_container{
		width:100% !important;
	}
	.popborder{
		width:50% !important;
	}
	.marginleft23{
		margin-left:0px !important;
	}
	.marginleft19{
		margin-left:0px !important;
	}
	.fromtimeline{
		display:none !important;
	}
	
	#InsideNormal{
    margin-left: 13% !important;
    min-height: 633px;
    padding: 0;
    position: relative;
    width: 80% !important;
	}
	
	.list_container{
		width:100% !important;
	}
	
	.notFoundCon{
		width:100% !important;
	}
	.buttonmorecontainerup{
		display:none !important; 
	}
	.marker.selected {
    left: -42px !important;
    position: absolute;
    top: -1px;
	
}
	/*---end of add events---*/



/* ---------------------------------------------------------------------- */





.log_media_container {
	width: 355px !important;
	height:auto !important;
	
}
.log_media_container_inside {
    float: left;
    height: auto !important;
    position: relative;
    width: 355px !important;
}

/*---end of profile_album----*/
/*--network friends---*/
/*
#networkcontainerright {
    background-color: #efefef;
    display: block;
    height: 279px !important;
    padding: 14px 4px !important;
    position: relative !important;
    right: 0;
    top: 48px;
    width: 98% !important;
	margin-bottom:20px !important
}*/

#networkcontainerright {
    background-color: #efefef;
    display: block;
    height: 279px !important;
    margin-bottom: 20px !important;
    padding:20px 4px !important;
    position: absolute !important;
    right: 0;
    top: 80px !important;
    width: 28% !important;
}


.imgTuberGrid .profile-friend-pic {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px !important;
    height: 80px;
    position: relative;
    text-align: center;
    width: 46% !important;
}
#searchfriendbutalphabetcontainer{
	position:relative !important;
	left:0px !important;
	left:5px !important;
}
#alphabetcnt{
	width:100% !important;
}
#alphabetcnt ul{
	width:1005 !important;
}
.linestyle2{
	width:100% !important;
}


#contentholder {
    display: block;
    float: left !important;
    height: 100%;
    margin: 20px 2% 0 !important;
    position: relative;
    width: 96% !important;
}
#content.network {
    display: block;
    height: 100%;
    left:0 !important;
    margin: 0 !important;
    padding: 0;
    position: relative;
   /* width:100% !important;*/
   width:70% !important;
}

.linestyle_container {
    width:100% !important;
}

#alphabetcnt {
    background-color: #2a2a2a;
    border: 3px solid #000;
    display: block;
    float: left;
    height: 100px;
    left: 51px !important;
    margin: 0;
    padding: 0;
    position: absolute !important;
    width: 75% !important;
}

#searchfriendinput {
    background-image: url("/media/images/img/srchinput.jpg");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    line-height: 17px;
    margin-left:2% !important;
    padding: 0;
    position: relative;
    width: 36% !important;
}
#srchfriendtxt{
	width:97% !important;
}

 
.element{width:246px!important; margin-top:0 !important; height:auto;
	}
s
.data_head_text{
	width:100% !important;
	margin-bottom:3% !important;
	text-align:center !important;
	margin-top:2% !important;
	float:none !important;
}
 
.one-tuber{}

.media_pic_border {
    border: 2px solid #e7ba20;
    display: none;
    height: 76px;
    position: absolute;
    width: 95% !important;
}
.imgTuberGrid .profile-friend-pic{
	margin-left: 0 !important;
    
    width: 33% !important;
}
div.TubersAction{
	width: 59% !important;	
}
/*---end network friends---*/
}

