@charset "utf-8";
/* CSS Document */
@media only screen and (max-width:767px) {
	 #confirmReactivate {
     background: #ffffff none repeat scroll 0 0;
    margin: 13% auto 0;
    min-height: auto;
    padding: 0 0 0 8%;
    position: relative;
    text-align: left;
    width: 90% !important;
	
}
#confirmReactivate .label {
    clear: both;
    color: #1f1f1f;
    display: block;
    float: left;
    font: 12px arial;
    margin: 0;
    padding: 0;
    position: relative;
    width: 56% !important;
}

#confirmReactivate .inputDiv {
    clear: both;
    color: #1f1f1f;
    float: left;
    font: 12px arial;
    margin: 6px 0 12px;
    padding: 0;
    position: relative;
    width: 86% !important;
}

#confirmReactivate .inputDiv input {
    clear: both;
    color: #1f1f1f;
    display: block;
    float: left;
    font: 12px/22px arial;
    height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 2px;
    width: 100% !important;
}
 }
 @media only screen and (min-width: 768px) and (max-width:960px) {
	  #confirmReactivate {
     background: #ffffff none repeat scroll 0 0;
    margin: 13% auto 0;
    min-height: auto;
    padding: 0 0 0 8%;
    position: relative;
    text-align: left;
    width: 90% !important;
}
 }

