@charset "utf-8";
/* CSS Document */
@media only screen and (max-width:767px) {
	/*---27-4-2015--*/
	.reviewSearch .ui-menu{
		width:99% !important;
		
	}
	
.nameOfPlace {
	width: 98%;
}

	/*--end of 27-4-2015*/
.reviewCon {
	background-color: #fff;
	margin: 0px;
	min-height: 400px;
	padding-left: 20px;
	position: relative;
	text-align: left;
	width: 88%;
}
.reviewPageContent {
	margin: 0px;
	width: 100%;
}
.subTtl {
	font: 15px Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 16px 0 !important;
}
.reviewPageDesc {
	font: 11px arial;
	margin: 0 0 10px;
	width: 100%;
}
.reviewPageDesc2 {
	width: 91%;
	font: 11px arial !important;
	margin: 0 0 12px !important;
}
.radioGroup {
	width: 93%;
}
.reviewSearch {
	margin: 0px !important;
	width: 100%;
}

}
@media (min-width: 768px) and (max-width:960px) {
.reviewCon {
	background-color: #fff;
	margin: 1% 7% 9% 5%;
	min-height: 400px;
	padding-left: 20px;
	position: relative;
	text-align: left;
	width: 88%;
}
.reviewPageContent {
	margin: 0px;
	width: 100%;
}
.subTtl {
	font: 20px Arial, Helvetica, sans-serif;
	width: 100%;
	margin: 16px 0 !important;
}
.reviewPageDesc {
	font: 13px arial;
	margin: 0 0 25px;
	width: 100%;
}
.reviewPageDesc2 {
	width: 91%;
	font: 11px arial !important;
	margin: 0 0 12px !important;
}
.radioGroup {
	width: 93%;
}
.reviewSearch {
	margin: 0px !important;
	width: 100%;
}
.nameOfPlace {
	width: 80%;
}

}