.margin_top_20{margin-top: 20px;}
.margin_bottom_29{margin-bottom: 26px;}
.margin_bottom_40{margin-bottom: 40px;}

.header_title{font-size: 24px; color: black;line-height: 24px; margin-bottom: 7px;margin-top: 0;}
.sub_header_title{font-size: 16px; color: #787878;line-height: 18px; margin-bottom: 0px;margin-top: 0;}
.sub_header_title a{color: #787878; text-decoration: none;}

/*FAQ:
=====================*/

.collapsed_container .afaqMainStyle{ color:#cea113;}
.collapsed_container .rlAccordion > h3, .rlAccordion > h2 {color: black;font-family: Arial, Helvetica, sans-serif; font-size: 24px !important;font-weight: normal; margin: 0px auto;padding: 15px 0 13px 0;
                                      text-transform: none; border-top: 1px solid #E1E1E1; cursor: pointer;}
.collapsed_container .displaynone{ display: none;}
.collapsed_container .rlAccordion > h3 > span {float: right;font-family: Arial,Helvetica,sans-serif;font-size: 15px;font-weight: bold;color: #00b7d9;}
.collapsed_container .rlAccordion > h3 + div {display: none;}
.collapsed_container ul.faq_lit li { list-style:none;}
.collapsed_container ul.faq_lit { padding-left: 0;}
.collapsed_container p { color: #787878;font-size: 16px; line-height: 1.4em; margin-bottom: 10px;}

/*disclaimer:
=====================*/

.text-justify {text-align: justify;}
.disclaimer_container .bottom_border_grey_1 {border-bottom: 1px solid #eee;margin-bottom: 30px;margin-top: 30px;}

/*help:
=====================*/
.collapsed_container ul.help_list li { list-style:none;}
.collapsed_container ul.help_list li h4{ font-size: 16px;font-weight: bold;color: #787878;}
.collapsed_container ul.help_list li p{ font-size: 16px;color: #787878;}
.collapsed_container ul.help_list { padding-left: 0;}
.collapsed_container .tick {background: rgba(0, 0, 0, 0) url("/media/images/tick.png") no-repeat scroll 0 0;padding: 0 0 0 20px;}
.StaticTxt a { color: #787878;font-size: 16px; text-decoration: none;}

.underline{text-decoration: underline;}
.font-bold{font-weight: bold;}

.query_fb{color: black;font-size: 24px;}
