@charset "utf-8";
/* CSS Document */


.hotelReviewsInside {
    background-color: #ededed;
    float: left;
    height: auto;
    margin-top:0 !important;
    padding: 6px 12px;
    position: relative;
    width: 640px ;
    z-index: 1;
}
.hotelReviewsContainer {
    float: left;
    height: auto;
    margin: 13px 0 0;
    padding: 0;
    position: relative;
    width: 93% !important
	;
}

.hotelReviews #commentDiv {
    float: left;
    left: 40px !important;
    min-height: 28px;
    position: relative;
    top: -2px;
    width: 26px !important;
}

.hotelReviews .socialInitDiv {
    width: 660px !important;
}



.btn_txt {
    background: #ededed none repeat scroll 0 0;
    color: #494a4a;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 26px;
    line-height: 25px;
    position: relative;
    text-indent: 11px;
    width: 1px !important;
}
.socialInitDiv, #comment_reportDiv, #album_reportDiv, .editDiv {
    background: #f6f6f6 none repeat scroll 0 0;
    float: left;
    margin-left: 0px !important;
    margin-top: 27px !important;
    padding: 5px;
    position: relative;
    width: 260px;
}

 @media only screen and (max-width:767px) {
	 .basicSearchFieldsCon {
		width:98% !important; 
		 
	 }
#destination_content .ui-menu {
    height: 120px !important;
    overflow: scroll !important;
    text-align: left;
    top: 71px !important;
    width: 231px !important;
}	 
#thotel .hotelBookingPart h1{
	width:70% !important;
}
	 
	 
	 .reviewFormTextArea
	 {
		 WIDTH:94% !important
		 
	 }
	 
	.reviewFormSubmit{
		width:96% !important;
	}
	.reviewCerifyText{
		width:90% !important;
		margin:0 0 0 6px !important;
	}
	#activetubers ul{
		width:100% !important;
	}
	 .activetubers{
		 width:100% !important;
	 }
	 
	 
.hotelBigImgShowOnMap
{
	 margin: -48px 11px 0 0 !important; 
}


.hotelReviews .meDiv {
    width: 100% !important;
}


.hotelReviews .writecommentDiv {
    width: 95% !important;
}
.writecommentDiv .notsigned{
	width:100% !important;
}


.hotelReviews .containerDiv {
    width: 97%;
}

#share_select1 {
    background-color: #ebebeb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 100% !important;
}


	 
	 
	 
.hotelBigImg {
    border: 0 none;
    display: block;
    float: left;
        margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}	 
.languageBlock {
    height: 9px;
    margin-left: 5px !important;
    padding: 0;
    top: -1px !important;
    width: 83px;
}

.changeCurrencyBtn {
    border-right: 1px solid #fff;
    height: 9px;
   
    min-width: 70px !important;
    padding: 0;
    text-align: center;
}




 
	 
.searchHotelBtn {
    background: #000 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    display: block;
    float: left;
    font: bold 12px/40px arial;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}	 
.basicSearchPart {
    display: none;
    height: 355px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 1px;
    width: 100% !important;
    z-index: 2;
}	 
	 .hotelListPhotosHead {
    background: #000 none repeat scroll 0 0;
    display: block;
    float: left;
    height: 59px;
    margin: 0 0 2px;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelListPhotosContainer {
    float: left;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
	 
.hotelReviews .socialInitDiv {
    width: 81% !important;
}	 
	.hotelReviews #commentDiv {
    float: left;
    left: 40px !important;
    min-height: 28px;
    position: relative;
    top: -2px;
    width: 83% !important;
} 
.languageBarInsideCon {
    height: 33px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100% !important;
}

.hotelTopContainer {
    float: left;
    height: 291px;
    margin: 1px 0 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.hotelContainer {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100% !important;
}
.hotelBigImgContainer {
     background: rgba(0, 0, 0, 0) url("fancybox_loading2.gif") no-repeat scroll center center;
    float: left;
    height: 291px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelBigImg_container {
    border: 0 none;
    display: block;
    float: left;
    height: 256px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.hotelBigImgHeadTrans {
    background: #000 none repeat scroll 0 0;
    height: 59px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 1;
}
.hotelMiddleContainer {
  float: left;
    margin: 552px 0 100px;
    min-height: auto;
    padding: 0;
    position: relative;
    width: 100% !important;
}


.hotelMiddle {
    float: left;
    margin: 23px 1px 1px 3px;
    min-height: auto;
    padding: 0;
    position: relative;
    width: 97% !important;
}
.poiTourInfoDesc {
    background: #efefef none repeat scroll 0 0;
    color: #2a2a2a;
    float: left;
    font: 12px arial;
    height: auto;
    margin: 3px 0 0;
    padding: 11px 11px 22px;
    position: relative;
    width: 95% !important;
}
.hotelReviewsTitle {
    background: #cea113 none repeat scroll 0 0;
    color: #383838;
    float: left;
    font: 12px/26px arial;
    height: 26px;
    margin: 0;
    padding: 0 0 0 9px;
    position: relative;
    width: 99%;
}

.hotelReviews {
    clear: both;
    float: left;
    height: auto;
    margin: 22px 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelRooms {
    clear: both;
    float: left;
    margin: 0;
    min-height: 145px;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelBigImgfootContainer {
    background: #000 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    float: left;
    height: 34px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.hotelBigImgHeadContainer {
    background: transparent none repeat scroll 0 0;
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 99%;
    z-index: 2;
}

.hotelBigImgLocation {
    color: #fff;
    float: left;
    font: 12px arial;
    height: 15px;
    margin: 7px 0 0 15px;
    padding: 0;
    position: relative;
    width: 84%;
}


.hotelBigImgTitle {
    color: #fff;
    float: left;
    font: 14px arial;
    height: 52px;
    margin: 12px 11px 0;
    padding: 0;
    position: relative;
    width: 96% !important;
}

.hotelBigImgLocation {
    color: #fff;
    float: left;
    font: 12px arial;
    height: 15px;
    margin: 7px 0 0 15px;
    padding: 0;
    position: relative;
    width: 94% !important;
}

.hotelListPhotos {
    display: block;
    float: left;
    height: 291px;
    margin: 2px 2px 25px;
    padding: 0;
    position: relative;
    width: 99%;
}
.hotelBookingPart {
    background: #383838 none repeat scroll 0 0;
    float: left;
    margin: 1px 6px 2px 1px;
    overflow: hidden;
    padding: 11px 0 0 13px;
    position: relative;
    width: 95% !important;
}
.hotelListBooking {
    display: block;
    float: right;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    top: -88px;
    width: 100% !important;
}

#thotel .editSearch {
    background: #000 none repeat scroll 0 0;
    float: left;
    height: 35px;
    margin: 2px;
    padding: 0;
    position: relative;
    width: 99% !important;
}
.poiTourInfoTitle {
    background: #e0e0e0 none repeat scroll 0 0;
    border-right: 1px solid #f2f2f2;
    color: #2a2a2a;
    float: left;
    font: 12px/26px arial;
    height: 26px;
    margin: 2px 1px 1px 0;
    padding: 0 0 0 11px;
    position: relative;
    width: 99% !important;
}
.hotelReviewsInside {
    background-color: #ededed;
    float: left;
    height: auto;
    margin-top: 0;
    padding: 6px 12px;
    position: relative;
    width: 79% !important;
    z-index: 1;
}

.hotelRighContainer {
    background: #efefef none repeat scroll 0 0;
    float: right;
    margin: 1px 1px 1px 6px;
    min-height: auto;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelRighContainerMargin {
    float: left;
    height: auto;
    margin: 28px 23px 0 15px;
    padding: 0;
    position: relative;
    width: 96% !important;
}

.hotelRoomHeader {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.hotelReviewsContainer {
    float: left;
    height: auto;
    margin: 13px 0 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.languageBarInside {
    height: 33px;
   
    min-width: 73% !important;
    position: absolute;
    right: 5px;
    top: 0;
}
 }
 @media only screen and (min-width: 768px) and (max-width:960px) {
 #destination_content .ui-menu {
    height: 120px !important;
    overflow: scroll !important;
    text-align: left;
    top: 71px !important;
    width: 231px !important;
}
	 .reviewFormTextArea
	 {
		 WIDTH:98% !important
		 
	 }
	 
	.reviewFormSubmit{
		width:99% !important;
	}
	.reviewCerifyText{
		width:90% !important;
		margin:0 0 0 6px !important;
	}
	#activetubers ul{
		width:100% !important;
	}
	 .activetubers{
		 width:100% !important;
	 }
	 	 
#thotel .hotelBookingPart h1{
	width:70% !important;
}	 
	 
.hotelBigImg {
    border: 0 none;
    display: block;
    float: left;
        margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelBigImgShowOnMap
{
	 margin: -48px 11px 0 0 !important; 
}


.hotelReviews .meDiv {
    width: 100% !important;
}


.hotelReviews .writecommentDiv {
    width: 95% !important;
}
.writecommentDiv .notsigned{
	width:100% !important;
}


.hotelReviews .containerDiv {
    width: 97%;
}

#share_select1 {
    background-color: #ebebeb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 100% !important;
}


























	 
	.languageBlock {
    height: 9px;
    margin-left: 5px !important;
    padding: 0;
    top: -1px !important;
    width: 83px;
}

.changeCurrencyBtn {
    border-right: 1px solid #fff;
    height: 9px;
   
    min-width: 78px;
    padding: 0;
    text-align: center;
}






	 
 .hotelListPhotosHead {
    background: #000 none repeat scroll 0 0;
    display: block;
    float: left;
    height: 59px;
    margin: 0 0 2px;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelListPhotosContainer {
    float: left;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}	 
	 
	.hotelReviews #commentDiv {
    float: left;
    left: 40px !important;
    min-height: 28px;
    position: relative;
    top: -2px;
    width: 93% !important;
}
	 
.languageBarInsideCon {
    height: 33px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100% !important;
}

.hotelTopContainer {
    float: left;
    height: 291px;
    margin: 1px 0 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.hotelContainer {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100% !important;
}
.hotelReviews .socialInitDiv {
    width: 98% !important;
}
.hotelBigImgContainer {
    background: rgba(0, 0, 0, 0) url("fancybox_loading2.gif") no-repeat scroll center center;
    float: left;
    height: 291px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.hotelBigImg_container {
    border: 0 none;
    display: block;
    float: left;
    height: 256px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.hotelBigImgHeadTrans {
    background: #000 none repeat scroll 0 0;
    height: 59px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 1;
}

.hotelMiddleContainer {
    float: left;
    margin: 539px 0 0 !important;
    min-height: 1200px;
    padding: 0;
    position: relative;
    width: 100% !important;
}


.hotelMiddle {
    float: left;
    margin: 2px 1px 1px 3px;
    min-height: auto;
    padding: 0;
    position: relative;
    width: 99% !important;
}
.poiTourInfoDesc {
    background: #efefef none repeat scroll 0 0;
    color: #2a2a2a;
    float: left;
    font: 12px arial;
    height: auto;
    margin: 3px 0 0;
    padding: 11px 11px 22px;
    position: relative;
    width: 97%;
}
.hotelReviewsTitle {
    background: #cea113 none repeat scroll 0 0;
    color: #383838;
    float: left;
    font: 12px/26px arial;
    height: 26px;
    margin: 0;
    padding: 0 0 0 9px;
    position: relative;
    width: 99%;
}

.hotelReviews {
    clear: both;
    float: left;
    height: auto;
    margin: 22px 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelRooms {
    clear: both;
    float: left;
    min-height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelBigImgfootContainer {
    background: #000 none repeat scroll 0 0;
    border-top: 1px solid #fff;
    float: left;
    height: 34px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.hotelBigImgHeadContainer {
    background: transparent none repeat scroll 0 0;
    height: 59px;
    left: 0;
    position: absolute;
    top: 0;
    width: 99%;
    z-index: 2;
}

.hotelBigImgLocation {
    color: #fff;
    float: left;
    font: 12px arial;
    height: 15px;
    margin: 7px 0 0 15px;
    padding: 0;
    position: relative;
    width: 84%;
}


.hotelBigImgTitle {
    color: #fff;
    float: left;
    font: 16px arial;
    height: 52px;
    margin: 12px 11px 0;
    padding: 0;
    position: relative;
    width: 96% !important;
}

.hotelBigImgLocation {
    color: #fff;
    float: left;
    font: 12px arial;
    height: 15px;
    margin: 7px 0 0 15px;
    padding: 0;
    position: relative;
    width: 94% !important;
}

.hotelListPhotos {
    display: block;
    float: left;
    height: 291px;
    margin: 2px 2px 25px;
    padding: 0;
    position: relative;
    width: 99%;
}
.hotelBookingPart {
    background: #383838 none repeat scroll 0 0;
    float: left;
    margin: 1px 7px 2px 1px !important;
    overflow: hidden;
    padding: 11px 0 0 13px;
    position: relative;
    width: 98% !important;
}
.hotelListBooking {
    display: block;
    float: right;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    top: -88px;
    width: 100% !important;
}

#thotel .editSearch {
    background: #000 none repeat scroll 0 0;
    float: left;
    height: 35px;
    margin: 1px 0 0 4px !important;
    padding: 0;
    position: relative;
    width: 99% !important;
}
.poiTourInfoTitle {
    background: #e0e0e0 none repeat scroll 0 0;
    border-right: 1px solid #f2f2f2;
    color: #2a2a2a;
    float: left;
    font: 12px/26px arial;
    height: 26px;
    margin: 2px 1px 1px 0;
    padding: 0 0 0 11px;
    position: relative;
    width: 99% !important;
}
.hotelReviewsInside {
    background-color: #ededed;
    float: left;
    height: auto;
    margin-top: 0;
    padding: 6px 12px;
    position: relative;
    width: 90% !important;
    z-index: 1;
}

.hotelRighContainer {
    background: #efefef none repeat scroll 0 0;
    float: right;
    margin: 1px 1px 1px 6px;
    min-height: auto;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.hotelRighContainerMargin {
    float: left;
    height: auto;
    margin: 28px 23px 0 15px;
    padding: 0;
    position: relative;
    width: 96% !important;
}

.hotelRoomHeader {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.hotelReviewsContainer {
    float: left;
    height: auto;
    margin: 13px 0 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.languageBarInside {
    height: 33px;
    margin-left: 18%;
    min-width: 78% !important;
    position: absolute;
    right: 5px;
    top: 0;
}	 
	 
	 
 }
