
/* Tubers Page Media Style
-------------------------------------------------------------*/

@media only screen and (max-width:767px) {

#tubers-header-container {
    height: 96px;
    margin: 0 auto;
    position: relative;
    width: 94% !important;
}

#tubers-header-main {
    background-color: #2d2d2d;
    bottom: 5px;
    height: 43px;
    position: absolute;
    right: 0;
    width: 100% !important;
}

#tubers-header-main .tubersFilter{ width:100% !important;}

#content {
    display: block;
    height: 100%;
    margin: 50px 2% 0 !important;
    position: relative;
    width: 96% !important;
}

.element {
    display: block;
    float: left;
    height: 108px;
    margin: 12px 10px !important;
    width: 218px;
}
 
#allTubers .popUp {
    display: none;
    height: 106px;
    position: absolute;
    width: 150px !important;
    z-index: 125;
}

#allTubers .popUp .main {
    background: none repeat scroll 0 0 #2a2a2a;
    border: 3px solid #000;
    color: #b4b4b4;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 94px;
    padding: 4px 1% !important;
    position: relative;
    width: 96% !important;
}

#allTubers .popUp .main_inside {
    display: block;
    float: left;
    height: 88px;
    margin: 4px 0 0 !important;
    position: relative;
    width: 100% !important;
}

}
/*===================================== @media 767px ====================================*/



@media only screen and (min-width: 768px) and (max-width:960px) {

#tubers-header-container {
    height: 96px;
    margin: 0 auto;
    position: relative;
    width: 94% !important;
}

#tubers-header-main {
    background-color: #2d2d2d;
    bottom: 5px;
    height: 43px;
    position: absolute;
    right: 0;
    width: 100% !important;
}

#tubers-header-main .tubersFilter{ width:100% !important;}

#content {
    display: block;
    height: 100%;
    margin: 50px 2% 0 !important;
    position: relative;
    width: 96% !important;
}

.element {
    display: block;
    float: left;
    height: 108px;
    margin: 12px 10px !important;
    width: 218px;
}


}

/*===================================== @media  768px-960px ====================================*/
