 

@media only screen and (max-width:767px) {

.fancybox-close {
    background-size: cover !important;
    cursor: pointer;
    height: 16px !important;
    position: absolute;
    right: 5px !important;
    top: 5px !important;
    width: 16px !important;
    z-index: 18040;
}
 
/* Channel Upload page
--------------------------------------------------------------------------*/
#InsideNormalup {
    height: auto;
    margin: 0 2% !important;
    position: relative;
    width: 96% !important;
    z-index: 1;
}

#InsideNormal {
    margin:0 2% !important;
    width:96% !important;
}
/*.ax-button{
	width:100% !important;
	height:auto !important;
}
.ax-browse-c{
	background: url("/media/images/upload-select_media.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}*/



.ax-button {
    border-radius: 5px;
    height: 30px !important;
    line-height: 30px !important;
    width: 240px !important;
}

.ax-browse-c {
    background: url("/media/images/upload-select.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
	border: 1px solid #cccccc;
}

.ax-prev-container {
    margin: 0 10px 0 5px !important;
}

.stanleftin {
	/*
    left: 10px !important;
    top: 5px !important;*/
	left:0 !important;
    top:0!important;
}


.ax-progress {
    margin: 0 2% !important;
    width: 96% !important;
}

.licorner .licornericontrue, .licorner .licornericonfalse {
    left: 110px !important;
}

.ax-toolbar {
   margin-left: 0 !important;
    position: absolute !important;
    right: 10px !important;
    top: 50px !important;
}

.ax-toolbar .ax-button {
    height: 22px !important;
    width: 22px !important;
}

.formcontainer {
    /*margin: 80px 2% 0 !important;
    width: 96% !important;
    */
	/*
	border-top: 1px solid #dedede;
    height: 280px !important;
    left: 10px !important;
    margin:80px 2% 0 !important;
    overflow-y: auto !important;
    padding: 0 !important;
    top: 0 !important;
    width: 96% !important;*/
  
	
	  /*margin: 80px 2% 0 !important;
    width: 96% !important;
    */
	/*
	border-top: 1px solid #dedede;
    height: 280px !important;
    left: 10px !important;
    margin:80px 2% 0 !important;
    overflow-y: auto !important;
    padding: 0 !important;
    top: 0 !important;
    width: 96% !important;*/
  
   /* border-top: 1px solid #dedede;
    height: 80% !important;
    left: 10px !important;
    margin: 80px 2% 0 !important;
    overflow-y: auto !important;
    padding: 0 2% 20px 0 !important;
    top: 0 !important;
    width: 94% !important;
	*/

}

.uploadinfomandatory span { width:/*90%*/ auto !important}
.openclose{ bottom:auto !important ; top:10px !important}
.closeclose{ bottom:30px !important}



#uploadheadbar {
    height: auto !important;
    margin: 50px 0 10px !important;
    padding: 1px 2px 2px !important;
    width: 98% !important;
}


#uploadinsidettlo {
    float: none !important;
	font-size: 16px !important;
    height: 40px !important;
    line-height: 40px !important;
    margin: 0 30px 0 10px !important;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    top: 0 !important;
    width: auto;
}

.uploadinsidemenu {
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 38px !important;
    line-height: 38px !important;
    margin: 2px 2px 0 0;
    padding: 0 16px !important;
    position: relative;
    text-align: center;
    width: auto;
}

#uploadinsideicon {
    background: url("/media/images/uploadheadicon.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0) !important ;
    display: block;
    height: 60px !important;
    position: absolute;
    right: -4px !important;
    top: -20px !important;
    width: 60px !important;
    z-index: 1;
}

#InsideNormal ul {
    margin:20px 0 10px !important;
    width: 100% !important;
}

.upload1_2 {
   padding: 10px 0 !important;
    width: 100% !important;
	height:auto !important
}

.uploadinsidetxt1 {
    color: #686868;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto !important;
    left: 0;
    line-height: 17px !important;
    position: relative !important;
    text-align: center;
    top: 0 !important;
    width: 100% !important;
}

.selectuploadbtn_new {
    background: url("/media/images/upload-select.png") no-repeat scroll -10px -2px rgba(0, 0, 0, 0) !important;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    height: 30px !important;
    left: 0 !important;
    margin: 20px auto !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    width: 230px !important;
}


.uploadinsidetxt2_new {
    color: #686868;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto !important;
    left: 0;
    line-height: 17px;
    position: relative !important;
    text-align: center;
    top: 0 !important;
    width: 100% ;
}

.UploadButton {
    
    font-size: 11px !important;
    font-weight: bold;
    height: 30px !important;
    line-height: 30px !important;
    width: 100% !important;
}
 

.upload2, .uploadalbum {
   height: auto !important;
    overflow: visible !important;
    width: 100% !important;
}

#log, #log_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

/*<div id="html5_19et5g590144obo41hi1do91vff3_container" class="moxie-shim moxie-shim-html5" style="height: 34px; overflow: hidden; z-index: 0; position: relative; top: 10px; left: 0px; width: 96%; margin: 0px 2%;">*/
.moxie-shim {
    height:auto !important;
    left: 0 !important;
    margin: 0 2% !important;
    overflow: hidden;
    position: relative !important;
    top: 10px !important;
    width: 96% !important;
    z-index: 0;
	
}


select.inputuploadformTF {
     width: 96% !important
}

select.inputuploadformTF option {
    width: 96% !important;
}

#uploadnewalbum {
    left: auto !important;
    right:/*8px*/ 3% !important;
    top: 30px !important;
}

#uploadnewalbumover {
    display: none;
    height: 18px;
    left: auto !important;
    position: absolute;
    right: 26px !important;
    top: 29px !important;
    width: auto;
    z-index: 1;
}
 
 #lefticonover {
    background: url("/media/images/lefticonover.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: block;
    float: right !important;
    height: 18px;
    margin: 0;
    padding: 0;
    position: relative;
    transform: rotate(180deg) !important;
    width: 4px;
}
 
#log li, #log_2 li {
    /*min-height:110px !important;*/
    height: auto !important;
    min-height: 420px !important;
    width: 100% !important;
}

#log li .filediv, #log_2 li .filediv {
    position: absolute !important;
    top: 80px !important;
    width: 98% !important;
	left:0 !important;
}

#log li .openclose, #log_2 li .openclose{ bottom:auto !important ; top:10px !important; }
#log li .closeclose, #log_2 li .closeclose{ bottom:10px !important}

#log li .progressvalue, #log_2 li .progressvalue {
    top:06px !important;
}

#log li .status, #log_2 li .status {
   clear: both;
    display: block;
    height: 25px !important;
    left: 8px !important;
    line-height: 12px !important;
    overflow: auto;
    position: relative !important;
    top:0px !important;
    width: 96% !important;
}


#log li .progressbar, #log_2 li .progressbar {
     margin-left: 8px !important;
     margin-top: 0 !important;
     top:-10px !important;
     width: 98% !important;
}

#log li span.cancel, #log_2 li span.cancel {
    left: 110px !important;
    top: -38px !important;
}

#log li span.pause, #log_2 li span.pause {
    left: 160px !important;
    top: -38px !important;
}

#log li span.resume, #log_2 li span.resume {
    left: 160px !important;
    top: -38px !important;
}
 
#log .formcontainercreatealbum, #log_2 .formcontainercreatealbum {
    left: 4% !important;
    top: 80px !important;
    width: auto;
} 

#log li .formcontainer, #log_2 li .formcontainer {   
    /*width: 99% !important;
	overflow:visible  !important;*/
    /*height:330px !important;
    left: 1% !important;
    overflow-y: auto !important;
    padding: 0 0 0 2% !important;
    top:40px !important;
    width: 92% !important;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;*/
	
	border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    height:300px !important;
   /* left: 4% !important;
    overflow-y: auto !important;
    padding: 0 0 0 2% !important;
    top:110px !important;
    width: 92% !important;*/
	left:2% !important;
    overflow-y: auto !important;
    padding: 0 0 0 0 !important;
    top: 110px !important;
    width:96% !important;
     
}


#log li .tableform, #log_2 li .tableform {
    height: auto !important;
    left: 0;
    position: relative;
    top: 0;
   /* width: 100%;*/
   width:96% !important;
}



.UploadMediaLeftTF {
    float: left;
    height: 100%;
    position: relative;
    width: 100% !important;
}

.uploadinfotitle {
    margin: 10px 0 0 !important ;
    width: 100% !important;
}

.privacyclass {
    margin: 10px 0 0 !important;
    width: 120px !important;
}

.inputuploadformTF {
    width: 96% !important;
}

.inputuploaddescriptionTF {
    width: 96% !important;
}

.UploadMediaRightTF {
    float: left;
    height: 100%;
    margin: 5px 0 0 !important;
    position: relative;
    width: 100% !important;
}

.SaveNewAlbumButton {
    left: 0 !important;
    width: 54px;
}

.ClearNewAlbumButton {
    left: /*70px*/ 20px !important;
    right: auto !important;
}

/* channel upload list 
---------------------------------------------*/

#uploadlistmenucontainer {
     width: 100% !important;
	 height:auto !important
}

#uploadlistmenuicon {
    left: 400px !important;
	display:none
}
#uploadlistmenubk {
    width: 90% !important;
	display:none
}

#uploadlistmenucontent {
    background: none repeat scroll 0 0 #838383;
    float: left !important;
    left: 0 !important;
    padding: 1%;
    position: relative;
    width: 97% !important;
	height: auto;
}

.uploadlistmenu {
    display: inline-block !important;
    float: none;
    margin: 0 9px !important;
    vertical-align: top;
}

.uploadlistmenuseperator {
    display: inline-block !important;
    float: none;
    height: 13px !important;
    margin: 0 10px !important;
}


#uploadlistpagecount {
    top: 28px !important;
}



#uploadlistpopuppublish, #uploadlistpopuppublishalbum {
   /*
     margin:24px 2% 0;
    padding: 2%;     
    width: 92%;*/
    background-color: #f9f9f9;
  /*  height: 400px !important;
    margin: 30px 0 0;
    */
    height:/*85%*/ 92% !important;
    margin: 4% 0 0;
	overflow: auto !important;
    padding:2%;
    position: relative;
    width: 96%;
}

 
#uploadlistalbumContent {
    margin: 60px 0 0 !important; 
}



#uploadlistalbumContentpics {
    margin: 30px 0 20px !important;
    width: 100% !important;
}

#uploadlistpicsleft {
    margin: 10px 0 0 !important;
    width: 100% !important;
}


#uploadlistpopuppublishalbumpic {
    height: 90% !important;
    padding: 5% !important;
    width: 90% !important;
}

.SaveButtonChannel {
    left:1px !important;
    top: 240px !important;
}


.fancybox-close {
    right: 14px !important;
    top: 6px !important;
}

.LaterButtonChannel {
    left: 80px !important;
    top: 240px !important;
    width: 96px;
}
.publishbut{
	/*top:224px !important;*/
	position: relative;
    top: 20px !important;
	float:left;
}

.SaveButton {
    /*left: 2% !important;*/
    left: 14px !important;
    width: 54px;
}

.LaterButton {
 /*   left: 73px !important;*/
    left: 20px !important;
    width: 96px;
}

.publishbuttxt {margin: 0 0 20px auto !important;}

#uploadlistmenuimg{ display:none}

#uploadlistcontainer {
    width: 100% !important;
}

#uploadlistcontainerpics {
    margin: 42px 0 0;
    width: 100% !important;
}

#uploadlistcontainerpics ul li {
    margin: 0 10px 10px 0 !important;
    padding: 2px !important;
}


.peoplecontainer_custom {
    height: 112px !important;
    min-height: 0;
    position: relative !important;
      margin-bottom: 18px !important;
    position: relative !important;
    width: 96% !important;
}

#MiddleInsideNormal{ margin-bottom:4px;}

#MiddleInsideNormal .ui-autocomplete {
    border: 1px solid #b2b2b2;
    left: 0 !important;
    margin: 0 !important;
    max-height: 154px;
    overflow: auto;
    width: 100% !important;
}


#MiddleInsideNormal .ui-autocomplete .ui-menu-item {
    height: 36px !important;
    margin: 10px 0 0;
    min-height:inherit!important;
}

.autocompletImage {
    float: left;
    height: 32px;
    width: 32px;
}


.friendscontainer {
    height: auto !important;
    padding: 3px 2% !important;
    width: 96% !important;
}

.uploadinfocheckbox, .uploadinfocheckbox_upload {
     padding: 2px 20px 2px 0 !important;
   
}

.emailcontainer_privacy_custom {
    padding: 1px !important;
    width: 99% !important;
}


.peoplecontainer_custom .ui-autocomplete {
    border: 1px solid #e2e3ea !important;
    height: auto !important;
    left: 0 !important;
    margin: 1px 0 20px !important;
    max-height: 144px !important;
    overflow: auto;
    width: 96% !important;
}

/* channel add brochure 
----------------------------------------------------------*/
.create_event_container {
    width: 100% !important;
}

.marker.selected {
    display: none !important;
 
}

.brochurephotoStan {
    margin-left: 0 !important ;
}

#edit_brochuretitle_txt {
    padding:1% !important;
    width:94% !important;
}

 
/* Upload add event
--------------------------------------------------------------------------*/
 
 .popborder_new {
    padding: 2px !important;
    width: 96% !important;
}
 
.fromdate {
    display: block;
    float: none !important;
    height: 33px;
    margin-bottom: 10px !important;
    position: relative;
    width: 210px;
}

.marginleft19 {
	margin-left: 0 !important ;
}

.fromtimeline {
    background-color: #d8d8d8 !important;
    display: block;
    height: 1px !important;
    position:relative !important;
    left:0 ;
    top: 5px !important;
    width: 210px !important;
}

.marginleft23 {
    margin-left: 0 !important;
}



#edit_newstitle_txt{ width:96% !important} 
 
/* End channel Upload page
--------------------------------------------------------------------------*/

.footer_container_all {
    position: relative !important;
} 
 
#newphototo{ /*width:98% !important*/
    margin: 10px 1% 0 !important;
    height: 87% !important;
    left: 0 !important;
    margin: 10px 0 0 !important;
    padding: 0 2% 2% !important;
    width: 96% !important;
}


/*.fancybox-opened{
	position: fixed  !important ;
    width:100% ; 
	height:100%;
	background:red !important
}
 */
 
.fancybox-wrap{
	left:0 !important;
    opacity: 1 !important;
    overflow:hidden !important;
    position: fixed !important;
    top:0 !important; 
}
 
}

/*------------------------------------------------------------------
                    ***768***         
---------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width:960px) {

/*
.fancybox-opened{
	 position: fidex  !important ;
    width:100%; 
	height:100%;
	background:red !important
}
*/

.fancybox-wrap{
	left:0 !important;
    opacity: 1 !important;
    overflow:hidden !important;
    position: fixed !important;
    top:0 !important
	}

/* Channel Upload page
--------------------------------------------------------------------------*/
#InsideNormalup {
    height: auto;
    margin: 0 2% !important;
    position: relative;
    width: 96% !important;
    z-index: 1;
}

#InsideNormal {
    margin: 0 2% !important;
    width: 96% !important;
}


#uploadheadbar {
     width: 98% !important;
}

#uploadlistcontainer {
    position: relative;
    width: 98% !important;
}

#uploadlistcontainerpics {
    width: 100% !important;
    margin: 42px 0px 0px !important;
}

#uploadinsideicon {
    right: -14px !important;
 }


#InsideNormal ul {
   width: 100% !important;
} 
.upload1_2 {
   width: 100% !important;
}

.selectuploadbtn_new {
    background: url("/media/images/upload-select.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    left: 0 !important;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 42px !important;
    width: 294px;
}



.upload2, .uploadalbum {
    height: auto;
    width: 100% !important;
}

#log, #log_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

#log li, #log_2 li {
    height: 450px !important;
    width: 100% !important;
}

#log .formcontainercreatealbum, #log_2 .formcontainercreatealbum {
    left: 4% !important;
    margin: 0 auto;
    right: auto;
    top: 20px !important;
    width: 96% !important;
}

#log li .formcontainer, #log_2 li .formcontainer {
    height: 390px !important;
    left: 0 !important;
    margin: 0 auto;
    padding: 0 2%;
    right: 0;
    top:0px !important;
    width: 96% !important;
    /*padding: 0 1%;
    width: 700px !important;*/
}

.privacyclass {
    margin: 7px 0 0;
    width: 106px !important;
}

/*
#log .formcontainercreatealbum, #log_2 .formcontainercreatealbum {
    left: auto !important;
    margin: 0 auto;
    position: relative;
    right: auto;
    top: 20px !important;
    width: 700px;
    }
	
	
#log li .formcontainer, #log_2 li .formcontainer {
   left: auto !important;
    margin: 0 auto;
    padding: 0 1%;
    position: relative;
    right: auto;
    top: 40px !important;
    width: 700px !important;
}

*/	

.formcontainer {
    margin: 60px 0 0 2% !important;
    padding: 0;
    width: 98% !important;
}

#log li .tableform, #log_2 li .tableform {
    height: 290px;
    left: 0;
    position: relative;
    top: 0;
    width: 100% !important;
}

.UploadMediaLeftTF {
    width: 48% !important;
}

.UploadMediaRightTF {
    margin-left:2% !important;
    width: 48% !important;
}

.inputuploadformTF {
    width:320px !important;
}


.inputuploaddescriptionTF {
    width:320px !important;
}

.publishbut {
    float: left !important;
    top: 340px !important;
}

.SaveButton {
    left: 14px !important;
}

.LaterButton {
    left: 90px !important;    
}


select.inputuploadformTF {
    width:320px !important;
}

#uploadnewalbum {
    background: url("/media/images/catalog-plus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 18px;
    left: 328px !important;
    position: absolute;
    top: 4px;
    width: 18px;
    z-index: 1;
}

#uploadnewalbumover {
    display: none;
    height: 18px;
    left: 344px !important;
    position: absolute;
    top: 3px;
    width: auto;
    z-index: 1;
}

.SaveNewAlbumButton {
    left: 0 !important;
    right: auto !important;
    width: 54px !important;
/*    left: auto !important;
    right: 70px !important;*/
   
}
.ClearNewAlbumButton {
    left: 70px !important;
    right: auto !important;
    /*left: auto !important;
    right: 4px !important;*/
}

.uploadinfomandatory span {
    width: 180px !important;
	overflow:hidden !important;
    
}


/*<div id="html5_19et5g590144obo41hi1do91vff3_container" class="moxie-shim moxie-shim-html5" style="height: 34px; overflow: hidden; z-index: 0; position: relative; top: 10px; left: 0px; width: 96%; margin: 0px 2%;">*/
.moxie-shim {
    height: 34px !important;
    left: 0 !important;
    margin: 0 2% !important;
    overflow: hidden;
    position: relative !important;
    top: 10px !important;
    width: 96% !important;
    z-index: 0;
}

/* channel upload list 
---------------------------------------------*/

#uploadlistmenucontainer {
     width: 100% !important;
}

#uploadlistmenuicon {
    left: 400px !important;
}
#uploadlistmenubk {
    width: 90% !important;
}

#uploadlistmenucontent {
   left: 20px !important;
   width: 90% !important;
}

#uploadlistmenuimg{ display:none}


/* channel add brochure 
----------------------------------------------------------*/

.brochurephotoStan {
    margin-left: 0 !important ;
}

 #newphototo{ width:98% !important}

/* End channel Upload page
--------------------------------------------------------------------------*/


}
