
.commentsAll.max_height412 {
    height: auto !important;
}
/*Video Page Media Style 
-------------------------------------------------------------*/
@media only screen and (max-width:360px) {
	
/*.fancybox-mobile{height:100% !important;  opacity: 1;
    overflow-y:auto !important ;
    position:fixed !important;
    width:100% !important;
	background:#fff !important; 
	top:0 !important; 
}
	
.fancybox-outer, .fancybox-inner {
    height: 100% !important;
    position: relative;
    width: 100% !important;
}

.fancybox-opened .fancybox-skin{ box-shadow:none !important}

.fancybox-close {
    background-size: cover !important;
    cursor: pointer;
    height: 16px !important;
    position: absolute;
    right: 5px !important;
    top: 5px !important;
    width: 16px !important;
    z-index: 18040;
}
*/	
.sharepopup_buts{
	margin-right:10px !important;
}

.albumnameDiv_data h1 {
    font-size: 10px !important;
}
.margintop34 {
    margin-top: 52px;
}
.margintop22 {
    margin-top: 5px;
}
	
 .emailcontainer_boxed {
     border: 1px solid #bcbcbc;
     display: block;
      float: left;
      height: auto;
      margin: 0;
      min-height: 41px;
      padding: 2px;
      position: relative;
      width: 98% !important;
      z-index: 1;
 }
/*---29-4-2015---*/

.peoplecontainer_boxed {
    min-height: 0;
    width: 98% !important;
}
#share_select {
    background-color: #ebebeb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 98% !important;
}
#invitetext {
    color: #000000;
    float: left;
    font-size: 12px;
    position: relative;
    width: 98% !important;
}


/*---end of 29-4-2015---*/	
	
/*
.socialInitDiv, #comment_reportDiv, #album_reportDiv, #editDiv{
		/height:200px !important;/
		max-height:200px !important;
	    overflow-y: auto;
}
*/

	
#video_next_prev_container {
    height:210px !important;
    padding-bottom: 36px !important;
    position: relative;
    top:40px;
    width:100% !important;
	border: medium none !important;
}

.share_link_holder.simplemode {
    right: 36px !important;
    top: 224px !important;
}

.share_link_arrow{
     left: auto !important;
     right: 46px !important;
}

.share_link_holder.simplemode.share_link_holdervid {
    bottom: auto;
    right: 0 !important;
    top: 122px !important;
}

.share_link_text{
	width: 96% !important;
	padding-right:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
}

#flashcontent {
  /* height:98% !important;
    max-height:280px;
    padding:2% 0 0;
    width:98% !important;
	*/
	display: block !important;
    float: none !important;
    height: 96% !important;
    margin: 0 auto;
    max-height: 240px;
    padding:2% 0;
    position: relative !important;
    text-align: center;
    width: 96% !important;
	   
}


#RightInsideContainer {
    height: auto;
    padding-bottom: 160px;
    position: absolute;
    right: 0;
    top: 470px;
    width: 100%;
}

#RightInsideContainer.photo_page_mobile {
    top: 416px;
}

#BigImageHolder {
   height: 220px !important;
    margin: 40px auto 0;
    top: 0;
     width: 100% !important;
	 background:url("fancybox_loading_1.gif") no-repeat scroll center center rgba(0, 0, 0, 1)
}

#BigImageHolder img {
  /*height: auto !important;
    width: 100% !important;*/ /* 15 April 2015*/
    left: 0 !important;
    padding: 0;
    right: 0 !important;
    top: 0 !important;
	height:/* 100%*/ 90% !important;
    margin: 0 auto;
    width: auto !important;
		
	/*min-width: 290px;*/
}

#media_buttons {/* top: 320px !important 15 April 2015*/ 
    bottom: 40px !important;
    top: auto !important;
}

.jwvideo video {
    height: auto !important;
    width: auto !important;
} 


/* SharePopup 
---------------------------------------/


#sharepopup {
    width: 100% !important;
	background:#fff !important;
}

.sharepopup_container {
    margin:30px 5% !important;
    width: 90% !important;
	background:#fff !important

}

.sharepopup_butcontainer {
    margin: 0 !important;
}*/

.share_link_holder.fullmode .share_link_arrow {
    /*right: 115px;*/
	display:none !important;
	
}
.likersData .date, .likersData_comments .date, .likersData_share .date, .likersData_join .date, .likersData_sponsor .date, .likersData_rates .date {
    color: #787878;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 12px;
    left: 0 !important;
    line-height: 12px;
    position: relative;
    text-indent: 5px;
    top: 5px !important;
    width: auto !important;
}
.NewsFeed_ModalRating {
    margin-top: -4px !important;
    width: 120px !important;
}
.socialInitDiv, #comment_reportDiv, #album_reportDiv, #editDiv {
       box-shadow: none !important;
       width:/*84%*/77% !important;
	   height: 280px !important;
       overflow-y: scroll;
	   /*
       min-height: 220px !important;*/
	   margin-bottom:20px !important;
	   margin-left: 46px;
}
.privacy_iconDiv {
	bottom:0px;
	top:7px;
	right:1px;
}

#share_select1 {
    background-color: #ebebeb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 97%;
}


 
}

@media only screen and (min-width:361px) and (max-width:767px) {
	
	/*---29-4-2015---*/


.peoplecontainer_boxed {
    min-height: 0;
    width: 99% !important;
}
#share_select {
    background-color: #ebebeb;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    width: 99% !important;
}
#invitetext {
    color: #000000;
    float: left;
    font-size: 12px;
    position: relative;
    width: 99% !important;
}
.emailcontainer_boxed {
    border: 1px solid #bcbcbc;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    min-height: 41px;
    padding: 2px;
    position: relative;
    width: 99% !important;
    z-index: 1;
}


/*---end of 29-4-2015---*/	
	
	
	
#video_next_prev_container {
    height:300px !important;
    padding-bottom:40px !important;
    position: relative;
    top: 40px;
    width: 100% !important;
	border: medium none;
}

#flashcontent {
   /* height: 98% !important;
    padding: 2% 0 0;
    width: 98% !important;*/
	display: block !important;
    float: none !important;
    height: 96% !important;
    margin: 0 auto;
    max-height: 300px;
    padding: 2% 0;
    position: relative !important;
    text-align: center;
    width: 96% !important;

    
}


#RightInsideContainer {
    height: auto;
    padding-bottom: 160px;
    position: absolute;
    right: 0;
    top:542px;
    width: 100%;
}

#BigImageHolder {
    height: 290px !important;
    margin: 40px auto 0;
    top: 0;
    width: 100% !important;
	 background:url("fancybox_loading_1.gif") no-repeat scroll center center rgba(0, 0, 0, 1)

}

#BigImageHolder img {
	/* height: auto !important;
      width: 100% !important;*/ /* 15 April 2015*/
    left: 0 !important;
    padding: 0;
    right: 0 !important;
    top: 0 !important;
	height: /*100%*/ 90% !important;
    margin: 0 auto;
    width: auto !important;
}

#media_buttons { top: 390px !important}


.share_link_holder.simplemode {
   /* right:100px !important;
    top: 290px !important;*/
	right: 34px !important;
    top: 300px !important;
}

.share_link_arrow{
     left: auto !important;
     right: 46px !important;
}

.share_link_holder.simplemode.share_link_holdervid {
    bottom: auto;
    right: 0 !important;
    top: 210px !important;
}

.jwvideo video {   height: auto !important;
    width: auto !important;
}

.share_link_holder.fullmode .share_link_arrow {
    /*right: 115px;*/
	display:none !important
}
.NewsFeed_ModalRating {
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px !important;
    margin-top: -4px !important;
    position: relative;
    width: 120px !important;
}
.likersData .date, .likersData_comments .date, .likersData_share .date, .likersData_join .date, .likersData_sponsor .date, .likersData_rates .date {
    color: #787878;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 12px;
    left: 0 !important;
    line-height: 12px;
    position: relative;
    text-indent: 5px;
    top: 5px !important;
    width: 190px;
}
}



@media only screen and (max-width:767px) {

.fancybox-mobile{height:100% !important;  opacity: 1;
    overflow-y:auto !important ;
    position:fixed !important;
    width:100% !important;
	background:#fff !important; 
	top:0 !important; 
}
	
.fancybox-outer, .fancybox-inner {
    height: 100%;
    position: relative;
    width: 100% !important;
}

.fancybox-opened .fancybox-skin{ box-shadow:none !important}

.fancybox-close {
    background-size: cover !important;
    cursor: pointer;
    height: 16px !important;
    position: absolute;
    right: 5px !important;
    top: 5px !important;
    width: 16px !important;
    z-index: 18040;
}
	
/* SharePopup 
---------------------------------------*/


#sharepopup {
    width: 100% !important;
	background:#fff !important;
}

.sharepopup_container {
    margin:30px 5% !important;
    width: 90% !important;
	background:#fff !important

}

.sharepopup_butcontainer {
    margin: 0 !important;
}	

/*Vedio Style
---------------------------------------------------------------- */
#fullscreen_pic {
    margin: 3px 20px 0 10px !important;
}

#album_reportbut_pop {
	/*
    right: 24px !important;
    top: 4px !important;*/
	right: 0px;
    top: -18px;
    z-index: 0;

}
 

#MiddleInside {
    background: url("/media/images/bgmiddleinside.gif") repeat-x scroll center top rgba(0, 0, 0, 0);
    height: auto;
    left: 0;
    margin-bottom: 100px;
    position: relative;
    top: 0;
    width: 96%;
    padding: 0 2%;
}

#MiddleInside {
    height: auto !important;
    margin: 0 !important;
   /* min-height:*//*1510px*//* 1110px !important;*/
}


/* social buttons begin  */



.btn{
    height: 44px;
    width: 48px;
    float: none;
}

.btn_txt{ display:none !important}

.btn #description {
background: url("/media/images/sprite_social-46.png") no-repeat -98px 0;
    height: 45px;
    width: 47px;
}
.btn #description.selected {
  background: url("/media/images/sprite_social-46.png") no-repeat -146px 0;
}
.btn #likes {
  background: url("/media/images/sprite_social-46.png") no-repeat -423px 0;
  height: 45px;
  width: 47px;
}
.btn #likes.selected {
  background: url("/media/images/sprite_social-46.png") no-repeat -471px 0;
  height: 48px;
  width: 47px;
}
.btn #comments {
  background: url("/media/images/sprite_social-46.png") no-repeat -2px 0 ;
  height: 45px;
  width: 47px;
}
.btn #comments.selected{
  background: url("/media/images/sprite_social-46.png") no-repeat -50px 0 ;
  height: 45px;
  width: 47px;
}

.btn #shares {
  background: url("/media/images/sprite_social-46.png") no-repeat -908px 0;
  width: 47px;
  height: 45px;
}
.btn #shares.selected{
  background: url("/media/images/sprite_social-46.png") no-repeat -956px 0;
  width: 47px;
  height: 45px;
}
.btn #rates {
  background: url("/media/images/sprite_social-46.png") no-repeat -757px 0;
  width: 45px;
  height: 47px;
}
.btn #rates.selected {
  background: url("/media/images/sprite_social-46.png") no-repeat -805px 0;
  width: 48px;
  height: 45px;
}
/* social buttons end  */



.socialInitDiv, #comment_reportDiv, #album_reportDiv, #editDiv {
       box-shadow: none !important;
       width:/*84%*/79% !important;
	   height: 280px !important;
       overflow-y: scroll;
	   /*
       min-height: 220px !important;*/
	   margin-bottom:20px !important;
	   margin-left: 46px;
}
.bottomLikes {
    bottom: 0;
    color: #afafaf;
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 16px;
    left: 63px;
    position: absolute;
    text-align: left;
    top: 41px;
    width: 150px;
}


.likersData .date, .likersData_comments .date, .likersData_share .date, .likersData_join .date, .likersData_sponsor .date, .likersData_rates .date {
    color: #787878;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 12px;
    left: 0 !important;
    line-height: 12px;
    position: relative;
    text-indent: 5px;
    top: 5px !important;
    width: 77% !important;
}
.NewsFeed_ModalRating {
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px !important;
    margin-top: 7px !important;
    position: relative;
    width: 120px !important;
}




#ProfileHeaderInternal {
    height:100px !important;
    margin: 0 auto !important;
    padding: 0 1% !important;
    position: relative !important;
    width: 98% !important;
}

#profiletitle {
    color: #ffffff !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px !important;
    position: absolute !important;
    right: 120px !important;
    text-transform: uppercase !important;
    top: 32px !important;
    width: auto !important;
	padding: 0 0 0 10px;
	line-height:14px;
}


#since {
   color: #f4c727;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 0 0 10px;
    position: absolute;
    right: 112px !important;
    top: 64px !important;
    width: auto
}
/*
.buttonTuber {
    bottom: -16px;
    color: #838383;
    height: 12px;
    margin: 0;
    position: absolute;
    right: 120px;
    
}
*/
#changePP {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    color: #ffffff;
    display: none;
    font: 12px/14px arial;
    height: 35px;
    left: 0;
    padding: 5px 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
}



.userAvatar {border-top: 0 none !important; display: block; height: 100px !important; position: absolute; right: 10px !important; top: 1px !important; width: 100px !important; z-index: 99;}

#AccountProfileImage {border: 2px solid #1f1f1f !important; height: 98px !important; width: 98px !important;}

.mrgintop66 {
    margin-top: 40px !important;
}

.linestyle_container {
    display: block;
    float: left;
    height: 2px;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    position: relative;
    width: 100% !important;
}

.mediacategory_data {
    color: #1f1f1f;
    display: block;
    font-size: 11px;
    height: 12px;
    left: 0 !important;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top:70px !important;
    width: auto;
}

.mediainfo_data {
    color: #807f7f;
    display: block;
    font-size: 11px;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-transform: lowercase;
    top: 10px !important;
    width: 100% !important;
}


#VideoInsideAlbum {
   color: #1f1f1f !important;
    display: block !important;
    float: left !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    height: auto !important;
    line-height: 12px !important;
    margin-left: -1px !important;
    margin-top: 3px !important;
    position: relative !important;
    width: 100% !important;
}

#VideoBreadCrumb .seoCrumbLink {
    color: #919191;
    font-size: 11px;
    text-decoration: none;
}

.mediainfo_data li {
    float: left;
    font-family: arial;
    line-height: 14px;
    margin: 0 10px 0 0 !important;
    width: auto !important;
}


#ThumbViewerContainer {
    display:none !important;
    float: left;
    margin-top:20px !important;
    overflow: hidden;
    position: relative;
    width: 100% !important;
	}

#ThumbViewer {
    float: left;
    height: /* 76px*/ auto ;
    overflow: hidden;
    width: 100%;
	display:none
}

#ThumbViewer ul {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    white-space: normal;
    width: 100%;
}


#Comments {
    width: 100%;
	display:none
}


#HeaderComments {
    width: 100%;
}

#CommentList {
    width: 100%;
}

.comment_item {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}




 /*
#flashcontent {
     display: block !important;
    float: none !important;
    height: 180px !important;
  /height: 100% !important;/
    margin: 0 auto;
    max-width: 270px;
    position: relative !important;
    width: 100% !important;
    padding:4px 0 0;
}*/

/*#flashcontent {
    display: block !important;
    float: none !important;
    height: 100% !important;
    margin: 0 auto;
    max-width: 90%;
    padding: 4px 0 0;
    position: relative !important;
    width: 100% !important;
    min-width: 260px;
	border:1px solid green
}*/
/*
#flashcontent {
    display: block !important;
    float: none !important;
    height: 100% !important;
    margin: 0 auto;
    padding:4px 1% 0;
    position: relative !important;
    width:98% !important;
    max-height: 280px;
}   */  /*11 March*/ 


#flashcontent *{
	color: white;
	text-decoration: none;
}
#flashcontent a{
	color: #dcaf1a;
}
#flashcontent2{
    height: 442px;
    left: 0;
    position: relative;
    top: 0px;
    width: 50%;
	background-color: black;
	position: relative;
	top: 67px;
}
#flashcontent2 *{
	color: white;
	text-decoration: none;
}
#flashcontent2 a{
	color: #dcaf1a;
}

#endofplay {
    /*background-color: black;*/
    height: 300px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 50%;
    z-index: 10;
	display:none;
}
#endofplay ul{
    list-style: none;
	margin: 0px;
	padding: 0px;
}
#endofplay li{
    float: left;
}
#endOfPlayReplay{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
  /*background-color: green;*/
}

.EndOfPlayThumb{
	width: 256px;
	height: 140px;
	cursor: pointer;
	border: none;
}

#VideoInsideTTL {
    color: #1f1f1f;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    margin-top: 33px;
    position: relative;
    width: 100% !important;
    line-height: 18px;
}

#VideoInsideTTL span{
	text-transform:capitalize;
}

#InsideContainer {
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    width:100% !important;
    padding:0;
}
/*#video_next_prev_container {
   background-color: black;
    border: 0 none;
    display: block;
    float: left;
	 height:210px !important;
  / height: 184px !important;/
  /  height: auto !important;/
    padding-bottom:/ 30px/ 36px !important;
	position: relative;
    top: 40px;
    width: 100% !important;
}*/  /*11 March*/ 
 
 
#ThumbViewer li {
  /*  display: block;
    float: left;
    height: 76px;
    margin: 0 4px 4px 0;
    padding: 0;
    position: relative;
    width: 136px;*/
	 display: block;
    float: left;
    height: auto;
    margin: 0 1% 4px 0;
    padding: 0;
    position: relative;
    width: 19%;
}
 
 .ThumbViewerImage {
    cursor: pointer;
    height: auto;
    width: 100%;
}

.enlarge {
    background-size: 100% auto;
    cursor: pointer;
    display: none;
    height: 21px;
    left: 0;
    margin: -11px auto 0;
    position: absolute;
    right: 0;
    top: 50%;
    vertical-align: middle;
    width: 21px;
}
 
 
#flashcontent_wrapper {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100% !important;
	height:auto !important;
}


#flashcontent_wrapper object {
    height: 100%;
    width: 100% !important;
}

/*
#RightInsideContainer {
   height: auto;
    position: absolute;
    right: 0;
    top:/770px//450px/ 470px;
    width: 100%;
	 padding-bottom: 160px;
}*/ /*11 March*/ 

.embed_content {
    bottom: -40px;
    height: 50px;
    left: 2% !important;
    position: absolute !important;
    width: 96% !important;
}


#commentDiv {
    display: block;
    float: left;
    height: auto !important;
    left: 0;
    position: relative;
    top: 0;
    width: 96% !important;
    box-shadow: 3px 3px 4px rgba(68, 68, 68, 0.4);
    margin-bottom: 20px;
}

.shadow{ box-shadow:none !important;}

#likesDiv, #sharesDiv, #joinsDiv, #userjoinsDiv, #sponsorsDiv, #descriptionDiv, #comment_reportDiv, #album_reportDiv, #ratesDiv, #editDiv, #reechoesDiv {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto !important;
    margin-left: 25px;
    margin-top: 2px;
    padding: 1%;
    position: relative;
    width: /*260px*/ 84%;
}

 
.meDiv {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: auto;
    padding: 1%;
    position: relative;
    width: 96% !important;
}

.NewsFeed_ModalRating {
    width: 120px !important;
}

.writecommentDiv {
     width: 98% !important;
	 margin:10px 0 0 !important
}

div.examples {
    width: 100% !important;
}

.mentions-input-box .mentions {
    padding: 4px 1% !important;
    width: 97% !important;
	border: 1px solid #ffffff !important;
}

.mentions-input-box textarea {
    padding:4px !important;
    width: 100% !important;
}

.writecommentDiv .notsigned {
    margin-left: 0 !important;
    padding: 0 1% !important;
    width: 98% !important;
}


.mynameDiv {
    color: #212121;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto !important;
    line-height: 13px !important;
    padding-left: 5px;
    position: relative;
    top: 4px !important;
    width: 70% !important;
}

.likeDiv {
    width: 70% !important;
}

.mydateDiv {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: auto !important;
    line-height: 13px !important;
    padding-left: 5px;
    position: relative;
    top: 9px !important;
     width: 70% !important;
}

.albumnameDiv_up {
    color: #e3b721;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 30px;
    line-height: 13px;
    padding-left: 5px;
    position: absolute;
    width: 95% !important;
}

.margintop23 {
    margin-top: 38px;
}
.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width: 84% !important;
}


.commentsAll {
    display: block;
    float: left;
    height: auto !important;
    left: 0;
   /* overflow: hidden;*/
    position: relative;
    top:0;
    width: 100% !important;
	min-height:0 !important;
	max-height:none !important;
	padding-bottom:20px;
 }

.jspContainer {
    overflow: hidden;
    position: relative;
    width: 100% !important;
}

.jspPane {
    position: absolute;
    width: 100% !important;
}

.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width:90% !important;
}

#BottomProfile {
 /*   display: block;
    float: left;
    margin-left: 24px;
    margin-top:10px;
    position: relative;
    width: 91% !important;*/
    display: block;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    position: relative;
    width: 98% !important;
	padding-bottom: 20px !important;
 
}

#BottomProfileList {
    
    height: auto;
    left: 0;
    position: relative;
    top: 10px;
    width: 100% !important;
}

.likeTTL {
    color: #e7ba20;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 26px;
    margin-top: 22px;
    position: relative;
    text-indent: 7px;
    width: 100% !important;
}

.toplikes {
    float: left;
    height: 40px;
    position: relative;
    width: 100% !important;
}

.lineleft1 {
    background: none repeat scroll 0 0 #ebebeb;
    float: left;
    height: 1px;
    position: relative;
    width: 100% !important;
}
.lineleft2 {
    background: none repeat scroll 0 0 #dedede;
    float: left;
    height: 1px;
    margin-bottom: 10px;
    position: relative;
    width: 100% !important;
}

.likersData, .likersData_share, .likersData_join, .likersData_sponsor, .likersData_rates {
    float: left;
    height: auto;
    min-height: 55px !important;
    position: relative;
    width: 90% !important;
}

#commentsDiv, #repliesDiv {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto;
    margin-left: 25px;
    margin-top: 2px;
    min-height: 594px;
    padding: 5px;
    position: relative;
    width: 84% !important;
}

#media_buttonsVid {
    background: none repeat scroll 0 0 black;
    float: left;
    height:30px !important;
    padding-right: 0;
    padding-top: 11px !important;
    position: relative;
    width: 100% !important;
}

.LiveFeedButtons {
    padding-top: 5px;
    /*text-align: rigtt !important;*/
}

.MediaButton_data {
    cursor: pointer;
    display: inline-block !important;
    float:right !important;
    height: 20px;
    margin-right: 8px;
    position: relative;
    width: 20px;
}


.fulls_div {
    margin-left: 10px !important;
    margin-right: 18px !important;
 
}
/*
.containerDiv {
    float: left;
    height: auto;
    margin-bottom: 10px;
    margin-left: 2%;
	margin-top: 20px;
    position: relative;
    width:98% !important;
}*/

.containerDiv {
    float: left;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-top: 10px;
    position: relative;
    width: 98% !important;
   /* max-height: 160px !important;
    overflow-y: scroll !important;*/
    height: auto !important;
}


/* End video Style -------------------------*/

/* Picture Style 
----------------------------------------*/

/*
#BigImageHolder {
    height: 200px !important;
    margin: 40px auto 0;
    top: 0;
    width: 100% !important;
}

#BigImageHolder img {
   height: auto !important;
    left: 0 !important;
    max-height: 170px !important;
    max-width: 240px !important;
    padding: 3px 0 0;
    right: 0 !important;
}
*/

#BigImageHolder .gal_hover_container {
    display: block;
    height: 80% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 1;
}

#media_buttons {
    background: none repeat scroll 0 0 black;
    height: 30px;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 290px ;
    width: 100% !important;
}

/* End Picture Style ---------------------*/

#bg_full_buttons {
   /* background:black !important;*/
    bottom: 0 !important;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    width: 100% !important; 
	z-index:9999999999;
}

.chregMN {
    float: right !important;
}

#swiper_pic {
    height:90% !important;
    width: 100% !important;
	display:block; 
	
}

#swiper_pic #bg_full_img {
   max-height:88% !important;
   width: auto !important;
   display:inline-block !important;
  /* height: auto;
   max-width: 100% !important;*/
}



}

/*===================================== @media 767px ====================================*/

@media only screen and (min-width: 768px) and (max-width:960px) {

.likersData, .likersData_share, .likersData_join, .likersData_sponsor, .likersData_rates {
    float: left;
    height: auto;
    min-height: 36px;
    position: relative;
    top: 2px !important;
    width: 81% !important;
}	
.likersData .date, .likersData_comments .date, .likersData_share .date, .likersData_join .date, .likersData_sponsor .date, .likersData_rates .date {
    color: #787878;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 12px;
    left: 40px !important;
    line-height: 12px;
    position: relative;
    text-indent: 5px;
    top: -33px !important;
    width: 190px;
}
.NewsFeed_ModalRating {
    cursor: pointer;
    float: left;
    height: 16px;
    left: 40px !important;
    
   
    position: relative;
    top: -36px !important;
    width: auto;
}
.mynameDiv {
    color: #212121;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    padding-left: 45px;
    position: relative;
    top: -37px !important;
    width: 200px;
}
.mydateDiv {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: 12px;
    padding-left: 45px;
    position: relative;
    top: -32px !important;
    width: 200px;
}	
	
.chregMN {
    float: right !important;
}	
	
#fullscreen_pic {
    margin: 3px 15px 0 10px !important;
}

.jwvideo video {
    height: auto !important;
    width:auto !important;
} 

#swiper_pic {
    height:90% !important;
    width: 100% !important;
	display:block;
}

#swiper_pic #bg_full_img {
   max-height:88% !important;
   width: auto !important;
   display:inline-block !important;
  /* height: auto;
   max-width: 100% !important;*/
 
}


	
/*
#ProfileHeaderInternal {
    height: 96px !important;
    margin: 0 auto !important;
    padding: 0 1% !important;
    position: relative;
    width: 98% !important;
}

#since {
    color: #f4c727;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px !important;
    font-weight: bold;
    line-height: 14px;
    position: absolute;
    right: 120px !important;
    top: 64px !important;
    width: auto;
}

.userAvatar {
    border-top: 0 none !important;
    display: block;
    height: 100px !important;
    position: absolute;
    right: 10px !important;
    top: 1px !important;
    width: 100px !important;
    z-index: 99;
}

#AccountProfileImage {
    border: 2px solid #1f1f1f !important;
    height: 98px !important;
    width: 98px !important;
}

.buttonTuber {
    bottom: -16px !important;
    color: #838383;
    height: 12px !important;
    margin: 0;
    position: absolute;
    right: 120px !important;
}

#MiddleInside {
    background: url("/media/images/bgmiddleinside.gif") repeat-x scroll center top rgba(0, 0, 0, 0);
    height: auto;
    left: 0;
    margin-bottom: 100px;
    padding: 0 2% !important;
    position: relative;
    top: 0;
    width: 96% !important;
}

#InsideContainer {
    height: auto;
    margin: 40px 0 0 !important;
    padding: 0;
    position: relative;
    top: 0;
    width: 100% !important;
}

#VideoBreadCrumb .seoCrumbLink {
    color: #919191 !important;
    font-size: 11px !important;
    text-decoration: none;
}

#RightInsideContainer {
    height: auto;
    padding-bottom: 160px;
    position: absolute;
    right: 0;
    top: 120px !important;
    width: 38% !important;
}

#commentDiv {
    display: block;
    float: left;
    height: auto !important;
    left: 0;
    position: relative;
    top: 0;
    width: 100% !important;
}



#descriptionDiv{
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto !important;
    margin-left: 25px !important;
    margin-top: 2px !important;
    padding: 1% !important;
    position: relative;
    width: 84% !important;
}

.meDiv {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: auto;
    padding: 3px;
    position: relative;
    width: 90% !important;
}

.albumnameDiv_up {
    color: #e3b721;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 30px;
    line-height: 13px;
    padding-left: 5px;
    position: absolute;
    width: 90% !important;
}

.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width: 90% !important;
}
 
.commentsAll {
    display: block;
    float: left;
    height: auto;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 98% !important;
}


#VideoInsideAlbum {
    color: #1f1f1f;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: auto;
    line-height: 12px;
    margin-left: -1px;
    margin-top: 3px;
    position: relative;
    width: 100%;
}

#VideoInsideTTL {
    color: #1f1f1f;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    line-height: 18px;
    margin-top: 33px;
    position: relative;
    width: 100% !important;
}

.linestyle_container {
    display: block;
    float: left;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 25px;
    position: relative;
    width: 100% !important;
}

.mediainfo_data {
    color: #807f7f;
    display: block;
    font-size: 11px;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-transform: lowercase;
    top: 2px !important;
    width: auto;
}

.mediainfo_data li {
    float: left;
    font-family: arial;
    line-height: 14px;
    margin: 0 10px 0 0 !important;
    width: auto !important;
}


#video_next_prev_container {
    background-color: black;
    border: 0 none;
    display: block;
    float: left;
    height: 270px !important;
    margin-top: 42px !important;
    overflow: hidden;
    position: relative;
    top: 0 !important;
    width: 60% !important;
}

#media_buttonsVid {
    background: none repeat scroll 0 0 black;
    float: left;
    height: 29px;
    padding-right: 0;
    padding-top: 1px;
    position: relative;
    width: 60%;
}

#flashcontent {
    display: block;
    float: none;
    height: 264px !important;
    margin: 0 auto;
    max-width: 450px;
    padding: 6px 0 0;
    position: relative;
    width: 100% !important;
}

#media_buttonsVid {
    background: none repeat scroll 0 0 black;
    float: left;
    height: 29px;
    padding-right: 0;
    padding-top: 1px;
    position: relative;
    width: 60%;
}

#ThumbViewerContainer {
    display: block;
    float: left;
    margin-top: 43px;
    overflow: hidden;
    position: relative;
    width: 60% !important;
}

#ThumbViewer {
    float: left;
    height: auto !important;
    overflow: hidden;
    width: 100% !important;
}

.enlarge {
    background-size: 100% !important;
    cursor: pointer ;
    display: none;
    height: 21px !important;
    left: 0 !important;
    margin: -11px auto 0 !important;
    position: absolute !important;
    right: 0  !important;
    top: 50% !important;
    vertical-align: middle !important;
    width: 21px !important;
}

#Comments {
    width: 60% !important;
}

#CommentList {
    width: 100% !important;
}

.comment_item {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 20px !important;
    position: relative;
    width: 100% !important;
}
*/

/*Vedio Style
---------------------------------------------------------------- */
#MiddleInside {
    background: url("/media/images/bgmiddleinside.gif") repeat-x scroll center top rgba(0, 0, 0, 0);
    height: auto;
    left: 0;
    margin-bottom: 100px;
    position: relative;
    top: 0;
    width: 96%;
    padding: 0 2%;
}


#ProfileHeaderInternal {
    height: 96px !important;
    margin: 0 auto;
    padding: 0 1%;
    position: relative;
    width: 98% !important;
}


#profiletitle {    
	 color: #ffffff !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px !important;
    position: absolute !important;
    right: 120px !important;
    text-transform: uppercase !important;
    top: 40px !important;
    width: auto !important;
}


#since {
    color: #f4c727;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px !important;
    font-weight: bold;
    line-height: 14px;
    position: absolute;
    right: 120px !important;
    top: 64px !important;
    width: auto;
}

#changePP {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    color: #ffffff;
    display: none;
    font: 12px/14px arial;
    height: 35px;
    left: 0;
    padding: 5px 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
/*
.buttonTuber {
    bottom: -16px;
    color: #838383;
    height: 12px;
    margin: 0;
    position: absolute;
    right: 120px;
    
}
*/



.userAvatar {border-top: 0 none; display: block; height: 100px; position: absolute; right: 10px; top: 1px; width: 100px !important; z-index: 99;}

#AccountProfileImage {border: 2px solid #1f1f1f !important; height: 98px !important; width: 98px !important;}

.mrgintop66 {
    margin-top: 40px !important;
}

.linestyle_container {
    display: block;
    float: left;
    height: 2px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    position: relative;
    width: 100% !important;
}

.mediacategory_data {
    color: #1f1f1f;
    display: block;
    font-size: 11px;
    height: 12px;
    left: 0;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top: 50px !important;
    width: auto;
}

.mediainfo_data {
    color: #807f7f;
    display: block;
    font-size: 11px;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-transform: lowercase;
   top: 10px !important;
    width: auto;
}

#VideoInsideAlbum {
    color: #1f1f1f;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: auto;
    line-height: 12px;
    margin-left: -1px;
    margin-top: 3px;
    position: relative;
    width: 100%;
}

#VideoBreadCrumb .seoCrumbLink {
    color: #919191;
    font-size: 11px;
    text-decoration: none;
}

.mediainfo_data li {
    float: left;
    font-family: arial;
    line-height: 14px;
    margin: 0 10px 0 0 !important;
    width: auto !important;
}


#ThumbViewerContainer {
    display: block;
    float: left;
    margin-top:10px;
    overflow: hidden;
    position: relative;
    width:60%;
	 
}

#ThumbViewer {
    float: left;
    height: 80px !important;
    overflow: hidden;
    width: 100% !important;
}

#ThumbViewer ul {
    left: 0;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    white-space: normal;
    width: 100%;
}

.enlarge {
    background-size: 100% auto;
    cursor: pointer;
    display: none;
    height: 21px;
    left: 0;
    margin: -11px auto 0;
    position: absolute;
    right: 0;
    top: 50%;
    vertical-align: middle;
    width: 21px;
}
 

#Comments {
    width:60% !important;
}


#HeaderComments {
   width:100% !important;
}

#CommentList {
    width: 100%;
}

.comment_item {
    display: block;
    float: left;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

#flashcontent *{
	color: white;
	text-decoration: none;
}
#flashcontent a{
	color: #dcaf1a;
}
#flashcontent2{
    height: 442px;
    left: 0;
    position: relative;
    top: 0px;
    width: 50%;
	background-color: black;
	position: relative;
	top: 67px;
}
#flashcontent2 *{
	color: white;
	text-decoration: none;
}
#flashcontent2 a{
	color: #dcaf1a;
}

#endofplay {
    /*background-color: black;*/
    height: 300px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 50%;
    z-index: 10;
	display:none;
}
#endofplay ul{
    list-style: none;
	margin: 0px;
	padding: 0px;
}
#endofplay li{
    float: left;
}
#endOfPlayReplay{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	/*background-color: green;*/
}
.EndOfPlayThumb{
	width: 256px;
	height: 140px;
	cursor: pointer;
	border: none;
}


#VideoInsideTTL {
    color: #1f1f1f;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    margin-top: 33px;
    position: relative;
    width: 100% !important;
    line-height: 18px;
}

#VideoInsideTTL span{
	text-transform:capitalize;
}

#InsideContainer {
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    width:100% !important;
    padding:0;
}

#video_next_prev_container {
   background-color: black;
    border: 0 none;
    display: block;
    float: left;
    height:260px !important;
    margin-top: 42px !important;
    overflow: hidden;
    padding-bottom: 30px !important;
    position: relative;
    top: 20px !important;
    width: 60% !important;
}

#flashcontent_wrapper {
    display: block;
    float: none;
    margin: 0 auto;
    padding:4px 0 0;
    position: relative;
    width: 100% !important;
	height:auto !important;
}


#flashcontent_wrapper object {
    height: 100%;
    width: 100% !important;
}


#flashcontent {
/*
   display: block;
    float: none;
    height: 100% !important;
    margin: 0 auto;
    max-width: 450px;
    padding: 6px 0 0;
    position: relative;
    width: 100% !important;

*/
    display: block;
    float: none;
    height: 264px !important;
    margin: 0 auto;
    max-width: 450px;
    padding: 6px 0 0;
    position: relative;
    width: 100% !important;
	
	

}

#ThumbViewer li {
    display: block;
    float: left;
    height: 76px;
    margin: 0 4px 4px 0;
    padding: 0;
    position: relative;
    width: 136px;
	/* display: block;
    float: left;
    height: auto;
    margin: 0 1% 4px 0;
    padding: 0;
    position: relative;
    width: 19%;*/
}
 
 .ThumbViewerImage {
    cursor: pointer;
    height: auto;
    width: 100%;
}


#RightInsideContainer {
  height: auto;
    padding-bottom: 160px;
    position: absolute;
    right: 0;
    top:140px;
    width: 38%;
}

#commentDiv {
    display: block;
    float: left;
    height: auto !important;
    left: 0;
    position: relative;
    top: 0;
    width: 100% !important;
}

#media_buttonsVid {
    background: none repeat scroll 0 0 black;
    float: left;
    height:34px;
    padding-right: 0;
    padding-top: 1px;
    position: relative;
    width:60%;
}

.LiveFeedButtons {
    padding-top:6px !important;
   /* text-align: center !important;*/
}

.MediaButton_data {
    cursor: pointer;
    display: inline-block;
    float: right !important;
    height: 20px;
    margin-right: 8px;
    position: relative;
    width: 20px;
}



 .fulls_div {
    margin-left: 10px !important;
    margin-right: 18px !important;
 
}
 
 
#likesDiv, #sharesDiv, #joinsDiv, #userjoinsDiv, #sponsorsDiv, #descriptionDiv, #comment_reportDiv, #album_reportDiv, #ratesDiv, #editDiv, #reechoesDiv {
    background: none repeat scroll 0 0 #f6f6f6;
    float: left;
    height: auto !important;
    margin-left: 25px;
    margin-top: 2px;
    padding: 1%;
    position: relative;
    width: /*260px*/ 84% !important;
}



.meDiv {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: auto;
    padding: 3px;
    position: relative;
    width: 90% !important;
}

.albumnameDiv_up {
    color: #e3b721;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 30px;
    line-height: 13px;
    padding-left: 5px;
    position: absolute;
    width: 90% !important; 
}

.margintop23 {
    margin-top: 38px;
}
.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width: 84%;
}

.commentsAll {
    display: block;
    float: left;
    height: auto;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width:98%;
	
}


.jspContainer {
    overflow: hidden;
    position: relative;
    width: 100% !important;
}

.jspPane {
    position: absolute;
    width: 100% !important;
}

.albumdesc {
    color: #727272;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding-left: 5px;
    position: relative;
    width:90%;
}

#BottomProfile {
    display: block;
    float: left;
    margin-left: 24px;
    margin-top: 40px;
    position: relative;
    width: 91%;
}

#album_reportbut_pop {
   
    right: 8% !important;
   top:8px !important
}


.containerDiv {
    float: left;
    height: auto;
    margin-bottom: 40px;
    margin-left: 2%;
    margin-top: 20px;
    position: relative;
    width: 98% !important;
}

/* End video style 
---------------------------------------*/


/* Picture style
----------------------------------- */
/*
#BigImageHolder {
    height: 260px !important;
    margin: 40px auto 0;
    top: 0;
    width: 60% !important;
}

#BigImageHolder img {
    height: auto !important;
    left: 0 !important;
    max-width: 440px !important;
    padding: 3px 0 0;
    right: 0 !important;
}
*/

#BigImageHolder {
    height: 260px !important;
    margin: 40px auto 0;
    top: 0;
    width: 60% !important;
}

#BigImageHolder img {
   /* height: auto !important;
      width: 100% !important;*/ /* 15 April 2015*/
    left: 0 !important;
    padding: 0;
    right: 0 !important;
    top: 0 !important;
	
	height:/*100%*/90% !important;
    margin: 0 auto;
    width: auto !important;
}
 
#media_buttons {
    background: none repeat scroll 0 0 black;
    height: 30px;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 350px !important;
    width: 60% !important;
}

#BigImageHolder .gal_hover_container {
    display: block;
    height: 90% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 1;
}

/* End Picture Style 
-----------------------------------*/

#bg_full_buttons {
   /* background:black !important;*/
    bottom: 0 !important;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    width: 100% !important; 
	z-index:999999;
}

.share_link_holder.simplemode {
  /*  left: 20% !important;
    right: auto !important;
    top: 260px !important;
    */
	right: 45% !important;
    top: 260px !important;
}

.share_link_arrow{
     left: auto !important;
     right: 36px !important;
}

.share_link_holder.simplemode.share_link_holdervid {
    bottom: auto;
    right: 0px !important;
    top: 180px !important;
    left: auto !important;
}

}

/*===================================== @media  768px-960px ====================================*/