@import '/assets/flights/css/flight-common.css';
/*Form container:*/
.flight_review_trip_container .flight_search_input_container{display: none;}
.flight_review_trip_container .searchcontainer_content{margin-top: 0;margin-bottom: 0;}
.flight_container_style .flights_container{padding-left: 15px;padding-right: 15px;padding-top: 0px;}
.margin_top_30{margin-top: 30px;}
.div_wiz_border .bordered_div{border-right: 1px solid #c1c1c1;min-height: 60px;}
.div_wiz_border .bordered_div.noborrdered_div{border-right: none;}
.centered_divs .bordered_div{text-align: center;}
.update_search_container{margin-top: 17px;}
.bordered_div p{color: #6b6b6b;font-size: 14px;line-height: 25px;padding-top: 5px;}
.bordered_div p span{color: #00111b;text-transform: uppercase;}
.right_p_span p {padding-right: 20px;text-align: right;}
.right_p_span p span {margin-right: 17px;}
.image_blue_container{width: 100%;}
.blue_circle_rightleft_arrow{width: 32px;height: 32px;border: none;border-radius: 50%;background-color: #00304c;margin: auto;margin-top: 14px;}
.blue_circle_rightleft_arrow i{color: white;margin-top: 9px;margin-left: 9px;}
.right_arrow_style{width: 32px;height: 32px;border: none;border-radius: 50%;background-color: #00304c;margin-top: 14px;}
.right_arrow_style i{color: white;margin-top: 9px;margin-left: 9px;}
.update_search_button{height: 60px;margin-top: 3px; background-color: #00b7d9;}
.border_top_but_row{height: 7px;border-top: 3px solid #bababa;border-bottom: 3px solid #bababa;margin-top: 39px;}
.close_container {position: absolute; right: -10px; top: 25px;cursor: pointer}
.margin-top-40{margin-top: 40px;}
.circlimg_arrow{float: left;width: 58px;height: 58px;border: 2px solid #ebc728;border-radius: 50%;}
.circlimg_arrow i{margin-left: 26px;margin-top: 20px;}
.flight_review_trip_container .search_title{margin: 0;float: left;color: #201b1d;font-size: 28px;line-height: 58px;padding-left: 10px;}
.flight_review_trip_container .pink{color: #db3a69;}
.flight_review_trip_container .font-20{font-size: 20px;}
.flight_review_trip_container .font-30{font-size: 30px;}
.flight_review_trip_container .font-40{font-size: 40px;}
.flight_review_trip_container .font-13{font-size: 13px;}
.flight_review_trip_container .font-15{font-size: 15px;}
.flight_review_trip_container .font-16{font-size: 16px;}
.flight_review_trip_container .font-17{font-size: 17px;}
.flight_review_trip_container .font-14{font-size: 14px;}
.flight_review_trip_container .font-27{font-size: 27px;}
.flight_review_trip_container .font-28{font-size: 28px;}
.flight_review_trip_container .font-26{font-size: 26px;}
.flight_review_trip_container .margintopspes{margin-top: -4px;}
.flight_review_trip_container .black{color: black;}
.flight_review_trip_container .grey{color: #787878;}
.flight_review_trip_container .block{display: block;}
.flight_review_trip_container .font-bold{font-weight: bold;}
.flight_review_trip_container .font-normal{font-weight: normal;}
.flight_review_trip_container .job_info_subtitle{color: black;float: left;font-size: 16px;}
.flight_review_trip_container .border_grey_1{border-bottom: 1px solid #d8d8d8;}
.float_right{float: right;}
.flight_review_trip_container .sup{vertical-align: super;}
.flight_review_trip_container .line-height-20{line-height: 20px;}
.flight_review_trip_container .line-height-22{line-height: 22px;}
.flight_review_trip_container .line-height-46{line-height: 46px;}
.flight_review_trip_container .line-height-59{line-height: 59px;}
.flight_review_trip_container .airline_logo_title_img{float: left;margin-right: 3px;}
.flight_review_trip_container .airline_logo_title{float: left;font-size: 22px; color: #787878;margin: 0;line-height: 20px;margin-top: 7px;}
.flight_review_trip_container .margin_auto{margin: 0 auto;}
.flight_review_trip_container .uparrowblue{color: #1abedd;}
.flight_review_trip_container .pointer{cursor: pointer;}
.flight_review_trip_container .grey_back_container{min-height: 400px;background-color: #f5f5f5;padding-bottom: 40px;}
.flight_review_trip_container .margin_5{margin-left: -5px;margin-right: -5px;}
.flight_review_trip_container .padding_10{padding-left: 10px;padding-right: 10px;}
.flight_review_trip_container .text_underline{text-decoration: underline;}
.flight_review_trip_container .clock_grey_logo{width: 47px;height: 46px;line-height: 46px; margin-top: 8px;}
.flight_review_trip_container .flight_details_container{display: none;}


.padding-top-10{padding-top: 10px;}
.padding-top-20{padding-top: 20px;}
.padding-top-30{padding-top: 30px;}
.margin-top-0{margin-top: 0px;}
.margin-top-4{margin-top: 4px;}
.margin-top-20{margin-top: 20px;}
.margin-top-30{margin-top: 30px;}
.margin-top-10{margin-top: 10px;}
.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-0{margin-bottom: 0px;}
.checkmark{float: left;}
.checkmark i{padding-right: 13px;color: #8e9293;}

@media (min-width:992px) and (max-width:1199px){
    /*Form container:*/
    .bordered_div p{font-size: 13px;}
}
@media (min-width:768px) and (max-width:991px){
    /*Form container:*/
    .div_wiz_border .bordered_div {margin-bottom: 10px;border-left: 1px solid #c1c1c1;}
    .div_wiz_border .no_left_border_small {border-left: none}
    .right_p_span p {padding-right: 0px;text-align: center;}
    .smalcentered_p p{text-align: center;}
    .div_wiz_border .bordered_div.noborrdered_div{border-right: 1px solid #c1c1c1;}
    .update_search_button {width:100%;}
}
@media (max-width:767px){
    /*Form container:*/
    .div_wiz_border .bordered_div{border-right: none;border-bottom: 1px solid #c1c1c1;}  
    .right_p_span p {padding-right: 0px;text-align: center;}
    .smalcentered_p p{text-align: center;}
    .bordered_div p.blue_text_button{width: 100%;margin-top: 10px;}
    .div_wiz_border .bordered_div.noborrdered_div{border-bottom: 0;}
    .close_container {top: 25px;right: 15px;font-size: 16px;}
    .close_container button{font-size: 14px;}
    .update_search_button {width:100%;margin-top: 10px;}
    .flight_review_trip_container .search_title{font-size: 21px;}
    .flight_review_trip_container .xs_line-height-40{line-height: 40px;}
}
