.flight_booking_row {padding-top: 20px;padding-bottom: 25px;}
.h3_flight_booking{color: #201b1d; font-size: 23px;margin-bottom: 5px;}
.font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-17{font-size: 17px;}
.font-20{font-size: 20px;}
.margin_top_7{margin-top: 7px;}
.border-grey{border-bottom:1px solid #dadada;}
.padding-top-bottom-20{padding-top:20px;padding-bottom:20px;}
.blue-txt{color:#00b7d9;}
.pink-txt{color:#db3a69;}
.side-left-airlines{width:32px;height:32px;border:1px solid #dadada;margin-right:10px;margin-top: 5px;}
.side-right-airlines{width: calc(100% - 42px);}
.searchcontainer_content{margin-top: 10px; margin-bottom: 135px;}
.header_backimg_sub_title{margin-top: 10px;}
.max_width_image img {width: 100%;}