.flight-booking-result-page {
    margin-top: 25px;
}
.search-block{
    background-color: #00304c;
    height: auto;
    margin-top: 10px;
}
.block-title{
    color: #fff;
    font-size: 28px;
    border-bottom: 1px solid #fff;
}
.flightmessageblock{
    background-color: #b90004;
    color:#ffffff;
    font-size: 17px;
    padding-left: 31px;
}
.flightmessageblock a{
    color:#ffffff;
}
.submit-dis{
    background-color: #e9e9e9;
    border: medium none;
    color: #999999;
    font-size: 17px;
    font-weight: bold;
    height: 56px;
    line-height: 56px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 71px !important;
    cursor: default;
}
.flyminHeight{
    min-height: 70px;
}
.multi-destination-container {
    display: none;
}
.textoperated{
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.textoperated span{
    background-color: #000000;
    padding: 5px;
    line-height: 13px;
}
.DynarchCalendar-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    overflow: hidden;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    display:block;
}
.search-block input {
    background-color: #fff;
    border: medium none;
    color: #000;
    font-size: 16px;
    padding-left: 20px;
    width: 100%;
    height: 28px;
}
.economy select{
    padding-left: 20px;
    color: #737374;
    font-size: 16px;
}
.search-block select{
    width: 100%;
    background-color: #fff;
    height: 28px;

    border: none;
}
.search-block label{
    font-size: 16px;
    font-weight: normal;
}
.search-block .checkbox label,.addchild,.search-block label{
    color: #fff;
}
.search-block .checkbox label,.addchild{
    font-size: 14px;
    font-style: italic;
}
.search-block .checkbox label input{
    width: auto;
    height: auto;
    color:#000;
}
.left-bar button{
    background-color: #2da5bb;
    color:#fff;
    width: 100%;
    height: 56px;
    border-radius: 0 !important;
    font-size: 30px !important;
    border: none;
}

.bookflight_desp{
    padding-left: 25px;
}
.addchild{
    background-image: url("/media/images/addchild.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top:2px;
    margin-top: 15px;

}
.addchild_interg{
    background-color:#005383;
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 20px;
    color: #00c2ff;
    margin-left: 5px;
    font-style: normal;
}
padding0{
    padding: 0;
}
ul.fly-desc{
    margin-left: 0;
}
.rightcheckbox{
    float: right;
    margin-bottom: 0;
}
::-webkit-input-placeholder {
    color: #000;
}
::-moz-placeholder { /* Firefox 18- */
    color: #000;
    font-size: 14px;
}
.fly-info{
    background-color: #00111b;
    min-height: 50px;
    margin-top: 10px;
}
.fly-info li{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;

}
.fly-desc li,.fly-details li{
    font-size: 14px;    
}
.fly .time{
    color: #00b7d9;
    display: -moz-inline-box;
}
.fly-content{
    margin-top: 5px;
}
.airline-logo{
    float: left;
    padding-right: 10px;
}
.airline-info{
    display: inline-block;
    height: 53px;
    line-height: 18px;
    font-size: 13px;
}
li.stops{
    background-image: url("/media/images/fly-stops.png");
    background-repeat: no-repeat;
    font-size: 12px;
    text-transform: uppercase;
    background-position: 14% 0;
    padding-top: 16px;
    word-spacing: 18px;
}
li.info-stops{
    padding-left: 25px;
}
.ui-state-default.ui-slider-handle{
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    right: 216px;
    top: -59px;
    color: #00b7d9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px !important;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited{
    color: #00b7d9 !important;
    font-size: 11px;
}
.ui-state-default.ui-slider-handle a, .ui-state-default.ui-slider-handle a:link, .ui-state-default.ui-slider-handle a:visited{
    color: #00b7d9 !important;
}
.ui-state-default.ui-slider-handle, .ui-widget-content .ui-state-default.ui-slider-handle, .ui-widget-header .ui-state-default.ui-slider-handle{
    border: none;
    background: none;
}
.ui-accordion .ui-accordion-content{
    padding: 0;
}
.fare-details{
    font-size: 13px;
    color: #00b7d9;
    padding-left: 30px;
}
.fare-details label{
    font-weight: normal;
    width: 140px;
}
.fare-desc{
    line-height: 14px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
.contentfly  {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #dfd6e1;
    border-top: 2px solid #c2b1c6 !important;
    overflow: hidden;
    height: auto !important;
}
.fly{
    clear: both;
    border-bottom: 1px solid #d2d2d2;
    display: table;
    overflow: hidden;
    width: 100%;
}
.firstfly-details{
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: both;
    display: table;
}
.layover{
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #00b7d9;
    font-size: 12px;
    justify-content: center;
    left: 18%;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    position: absolute;
    top: 44%;
}
.fly-filter{
    background-color: #00111b;;
    margin-top: 10px;
}
.fly-filter .block-title{
    border-bottom: none;
}
.fly-filter h1{
    font-size: 25px;
}
.title_with_icon .bg {
    background-image: url("/media/images/search-restaurant-list.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 21px;
    width: 21px;
    float: left;
}
.title_with_icon .txt {
    font-size: 13px;
    font-weight: bold;
    padding-left: 28px;
    text-transform: uppercase;
    width: 86%;
    color: #fff;
    cursor: pointer;
}
.wording label{
    text-transform: capitalize;
    color: #2da5bb;
    display: -moz-inline-stack;
    font-size: 13px;
    margin-left: 11%;
}
.airline-f label{
    font-size: 13px;
    text-transform: capitalize;
    width: 100%;
    color: #2da5bb;
}
.a_price{
    display:inline-block;
    text-transform: uppercase;
    float: right;
}
.refundable-wrapper{
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.block_r{
    border-bottom: 1px solid #80888d;
    padding-bottom: 10px;
    padding-top: 10px;
}

.price-f,.airline-f{
    border-bottom: none;
    padding-bottom: 0px;
}

.resultbar{
    background-color: #00304c;
    color:#fff;
    height: 23px;
}
.mobile-price{
    float: right;

}
.mobile-label{
    font-size: 15px;
    color: #00b7d9;
    font-weight: normal;
    text-transform: capitalize;
}
.result-nb{
    padding-left: 8px;
    padding-top: 2px;
}
.mobile-price{
    padding-right: 8px;
    padding-top: 2px;
}
.newsearch{
    background-color: #000;
    margin-bottom: 5px;
    height: 50px;
    cursor: pointer;
}
.newsearch h2,.newsearch a{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-top: 18px;
}
.newsearch h2{
    padding-left: 15px;
    text-decoration: underline;
}
.price-f input{
    position: absolute;
    top: 11px;
    right: -15px;
}

.layover img{
    padding-right: 5px;
}

#slider-time-1,#slider-time-2,#slider-time-3,#slider-time-4,#slider-time-5,#slider-time-6,#slider-time-7,#price-range,#slider-range-2{
    margin-left: 14%;
    width: 70%;
}
#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 1px;
    background: #ccc;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 #2da5bb, 0 1px 0 #2da5bb inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: repeat-x;
    background-size: auto auto;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 1px;
    font-size: .7em;
    display: block;
    border: 1px solid #2da5bb;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #2da5bb;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #2da5bb;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #2da5bb), color-stop(100%, #2da5bb));
    background-image: -webkit-linear-gradient(top, #2da5bb, #2da5bb);
    background-image: -moz-linear-gradient(top,  #2da5bb, #2da5bb);
    background-image: -o-linear-gradient(top,  #2da5bb, #2da5bb);
    background-image: linear-gradient(top,  #2da5bb, #2da5bb);
    width: 22px;
    height: 22px;

}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #2da5bb;
    -webkit-box-shadow: 0 1px 1px 1px #2da5bb inset, 0 1px 0 0 #2da5bb;
    -moz-box-shadow: 0 1px 1px 1px #2da5bb inset, 0 1px 0 0 #2da5bb;
    box-shadow: 0 1px 1px 1px #2da5bb inset, 0 1px 0 0 #2da5bb;
}
.ui-slider-horizontal .ui-slider-handle {
    height: 15px;
    margin-left: -0.6em;
    top: -8px;
    width: 15px;
}
.ui-slider a:focus {
    outline:none;
}
.wording input{
    background-color: transparent;
    color: #2da5bb !important;
    float: right;
    width: 50%;
    border: none;
}
#amount-time-3, #amount-time-6{
    width: 55%;
    margin-right: 15px;
}
#amount-1{
    margin: 0 17px 10px 0;
    text-align: right;
}
.pagination.pagerWrapper {
    padding: 18px 0 18px;
}

.pagerWrapper {
    cursor: pointer;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
}
.blackline{
    border-bottom: 1px solid black ;
    margin: 24px 0;
    margin-left: -5px;
}
.grayline{
    border-bottom: 4px solid #dfd6e1;
    margin: 24px 0;
}
.ulheadmorestyle{
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    width: 59%;
}
.ulheadmorestyle .ulheadstyle2 li.airlinestyle2{
    width: 37.28%;
}
.ulheadmorestyle .departuredate{
    width: 22.03%;
}
.ulheadmorestyle .stpsstyle {
    width: 20.33%;
}
.ulheadmorestyle .othercommonstyle {
    width: 18.64%;
}
.ulheadmorestyle2{
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    width: 41%;
}
.ulheadmorestyle2small{
    position: relative;
    float: left;
    display: block;
    padding: 5px;
    margin-left: -4px;
    margin-top: 12px;
}
.booksmall {
    background-color: #00b7d9;
    color: white;
    font-size: 17px;
    font-weight: bold;
    height: 56px;
    line-height: 56px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 71px !important;
    border: none;
    bottom: 65px;
}
.ulheadmorestyle2 .durationst {
    width: 39%;
}
.width100{
    width: 100%;
    position: relative;
    float: left;
    display: block;    
}
.leftpad4{
    padding-left: 4px;
}
.ulheadmorestyle2 .othercommonstyle {
    width: 38%;
}
.first_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll 0 3px;
    height: 15px;
    width: 12px;
}
.prev_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll -12px 3px;
    height: 15px;
    width: 12px;
}

.width39{
    width: 39%;
}
.width61{
    width: 61%;
}
.mabytline{
    margin-bottom: 16px;
}
.smallbetweenborder{
    border-bottom: 4px solid #dfd6e1;

}
.next_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll -27px 3px;
    height: 15px;
    width: 12px;
}
.last_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll -38px 3px;
    height: 15px;
    width: 12px;
}
.pag-float-right{
    float: right;
}
.inputbox select {
    background: rgb(233, 233, 233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    border: medium none;
    float: left;
    height: 27px;
    width: 100%;
    margin-left: 10px;
    color: #00111b;
    font-size: 14px;
    padding-left: 7px;
}
.floatinginput {
    float: left;
}
.bluebacksearchdiv{
    /*    margin-left:299px;*/
    /*    width:317px;*/
    background: rgb(45, 165, 187) url("/media/images/threearr.png") no-repeat scroll 45% 53%;
    color: white;
    float: left;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    width: 100%;

}
.textsearchblue{
    padding-left:15px;
}
.no-filter-result{
    display: none;
}
.sort-wrapper{
    margin-top: 11px;
}
#container-display{
    display: none;
}
.slider-range.withstyle{
    border:0; 
    color:#f6931f; 
    font-weight:bold;
}
.accordionwithstyle{
    display: none;
}
.nopadtenblue{
    padding-left: 0;
}
.palz{
    padding-left: 0;
}
.ui-accordion .ui-accordion-header {
    top: -128px;
    margin-left: -70px;
    margin-top: 0;
}
.more{
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #00b7d9;
    text-transform: uppercase;
}
.blackheader{
    background-color: #00111b;
    min-height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.airlinestyle{
    width: 22%;
    padding-left: 10px;
}
.ulheadstyle li.airlinestyle{
    padding-left: 15px;
    text-align: left;         
}
.ulheadstyle2 li.airlinestyle2{
    width: 22%;
    padding-left: 0;
}
.chtimg{
    padding-right: 3px;
}
.durationst{
    width: 16%;
}
.ulheadstyle{
    list-style: none;
}
.ulheadstyle li{
    color: white;
    display: inline-table;
    font-family: Arial;
    background: rgba(0, 0, 0, 0) url("/media/images/border.png") no-repeat scroll right center;
    float: left;
    text-align: left;
    padding-left:15px;
}
.othercommonstyle{
    width: 11%;
}
.ulheadstyle li.othercommonstyleprice{
    width: 15%;
    background: none;
}
.departuredate{
    width: 13%;
}
.ulheadstyle2{
    list-style: none;
}
.ulheadstyle2 li{
    font-size: 15px;
    display: inline-table;
    font-family: Arial;
    color: #2e2e2e;
    float: left;
    text-align: left;
    padding-left: 15px;
}
.airlinestyle2 ul li{
    padding-left: 0px;
}
.seats_left{
    color: #00b7d9;
    font-size: 12px;
    font-weight: normal;
}
.ulheadstyle2 li.new {
    padding-left: 0px;
    padding-right: 10px;
}
.displayli li{
    display: inline-block;
}
.flight-price{
    font-size: 17px;
    color: #000000;
    font-weight: bold;
}
.ulheadstyle2 li.newstops{
    font-size: 12px;
    padding-left: 4px;
}
.destpadr{
    padding-right: 17px;
}
.hourstyle{
    font-size: 16px;
}
.plustime{
    font-size: 13px;
    color: #00b7d9;
}
.newduration{
    font-size: 16px;
}
.datenumbclass{
    padding-right: 3px;
}
.priceclass{
    font-size: 13px;
    font-weight: bold;
    color: black !important;
    padding-right: 5px;
}
.numbprice{
    font-size: 17px;
    font-weight: bold;
    color: black !important;
}
.stpsstyle{
    width: 12%;
}
.morestyle{
    margin-left: 5px;
    color: #00b7d9;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-top:6px;
}
.lessstyle{
    margin-left: 5px;
    color: #00b7d9;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    display: none;
    float: right;
    margin-top:6px;
}
.bookingstyle{
    width: 15%;
}
.bookingstyle button{
    width: 71px !important;
    height: 56px;
    background-color: #00b7d9;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 56px;
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
}
.borderunopen{
    border-top: 1px solid rgb(210,210,210);
    margin-top: 5px;
}

.borderopen{
    border-top: 2px solid rgb(194,177,198);
    border-bottom: 2px solid rgb(194,177,198);
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.sizespan {
    display: inline-block;
    width: 55%;
}
.borderbetween{
    border-bottom: 1px solid rgb(0,0,0);
}
.new{
    color: #00b7d9 !important;
    font-size: 13px;
}
.collapsablediv{
    display: none;
}
.wrap {
    border-top: 1px solid #dddddd;
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
    width: 92%;
    float: left;
}
.wrap2{
    border-top: 1px solid #dddddd;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    float: left;
}
.xscont{
    margin-bottom: 20px;
}
.text {
    background: white url("/media/images/timelogo.png") no-repeat scroll left center;
    left: 33%;
    padding-left: 23px;
    position: absolute;
    top: -10px;
    color: #00b7d9;
    font-size: 12px;
    padding-right: 5px;
}
.padb24{
    padding-bottom: 24px;
}
.ressmal{
    font-size: 17px;
    color: #00b7d9;
}
.bluecontainerdiv{
    background-color: #00304c;
    height: 23px;
    line-height: 23px;
}
.numresultsmal{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 16px;
    font-family: Arial;
}
.pricenumsmall{
    color: white;
    font-size: 15px;
    padding-left: 16px;
    font-family: Arial;
    padding-right: 10px;
}
.txtall{
    text-align: left;
}
.txtalr{
    text-align: right;
}
.curspan{
    font-size: 13px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 8px;
}
.leftairline{
    font-size: 15px;
    color: #00b7d9;
    padding-left: 1px;
}
/*.padt4px{
    padding-top: 4px;
}*/
.matop6px{
    margin-top: 6px;
}
.rjclass{
    color: #2e2e2e;
    font-size: 14px;
}
.pldys{
    font-size: 13px;
    color: #00b7d9;
    padding-left: 10px;
}
.trlasleft{
    color: #2e2e2e;
    font-size: 15px;
}
.prspan{
    font-size: 17px;
    font-weight: bold;
}
.padl5p{
    padding-left: 5px;
}
.input-group {
    display: block;
}
.fly_exactDate{
    background-color: #f0f0f0;
}
.no-filter{
    display: none;
}
.alert-danger ul{
    padding: 10px 30px;
}
.alert-danger.search-result{
    padding: 20px; 
}
.typeflighttabs{
    list-style: none;
    margin-left: 5px;
}
.typeflighttabs li{
    display: inline-block;
    background-color: #2da5bb;
    color: white;
    font-size: 13px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    height: 38px;
    line-height: 38px;
    margin-right: 1px;
    cursor: pointer;
}
.typeflighttabs li.active{
    background-color: #eac31a;
    color: black;
}
.typeflighttabs li:hover{
    cursor: pointer;
}
.checkbox label, .addchild {
    color: #2da5bb;
    font-size: 14px;
}
.firsttextspan{
    font-size: 16px;
    color: #2da5bb;
    background-image: url("/media/images/excmarqblue.png"), url("/media/images/orangeaddbut.png");
    background-position: 153px center, left center;
    background-repeat: no-repeat, no-repeat;
    padding-left: 27px;
}
.sndtextspan{
    font-size: 13px;
    color: #00ffff;
    padding-left: 27px;
    line-height: 15px;
}
.snd3dflightstyle{
    font-size: 17px;
    color: white;
    padding-left: 5px;
}
.butpaddifsizes{
    padding-left: 0;
}
.padleftrz{
    padding-left: 5px;
    padding-right: 5px;
}
.overlay-loading-flights{
    background: #ffffff;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 28010;
    display: none;
}
.overlay-loading-flights div{
    background: rgba(0, 0, 0, 0) url("/media/images/preloader_flight.gif") no-repeat scroll center center;
    width: 100%;
    height: 100%;
}
input.error{
    border: 1px solid #ff0000;
}
#cabinselect_chosen {
    width: 100% !important;
}
.chosen-container-single .chosen-single {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: inherit;
    padding-left: 6px;
}
@media (min-width:768px) and (max-width:1190px){
    .ui-state-default.ui-slider-handle{
        right: 185px;
    }
    .fly-content button{
        width:56px;
    }
}

@media screen and (max-width:767px){    
    .submit-dis {
	position: absolute;
	bottom: 65px;
	top:inherit;
    }
    .flightmessageblock{
	margin-top: 40px;
    }
    .fly-content{
        padding: 0;
    }
    .ui-helper-reset{
        height: 100% !important;
    }
    #accordion ul{
        padding-bottom: 20px;
        border-bottom: 1px solid #dddddd;
        padding-top: 15px;
    }
    #accordion ul.last{
        border-bottom: none;
    }
    .layover{
        top: 49%;
    }

    .contentfly{
        border-bottom: none;
    }
    .fare-details{
        padding-left: 0;
    }
    li.stops{
        background-position: 30% 0;
    }
    .secondfly .layover{
        top: 47%;
    }
    .fly-details{
        padding: 0;
    }
    .accordion-section-content{
        display: none;
    }
}
@media (max-width:991px){
    .smalxsnopad{
        padding: 0;
    }
}
@media (max-width:1199px){
    .bluebacksearchdiv{
        background: rgb(45, 165, 187) url("/media/images/threearr.png") no-repeat scroll 56% 53%;
    }
}
@media (min-width:992px){
    .topadj{
        margin-top: -47px;
    }
    .topadjtop{
        margin-top: 47px;
    }

}
@media (max-width:767px){
    .bluebacksearchdiv {
        background: rgb(45, 165, 187) url("/media/images/threearr.png") no-repeat scroll 80px 57%;
    }
    .inputbox select{
        margin-left: 0px;
    }
    .xsnolp{
        padding-left: 0;
    }
    .xsnorp{
        padding-right: 0;
    }
    .nopadtenblue{
        padding-right: 0;
    }
    .padl5p{
        padding-left: 20px;
    }
    .bluecontainerdiv{
        margin-bottom: 10px;
    }
    .textoperated{
        margin-bottom: 5px;
        margin-left: -5px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .ui-accordion .ui-accordion-header {
        margin-left: -43px;
    }
    .wrap {
        width: 94%;
    }
    .text {
        left: 27%;
    }
    .sizespan {
        width: 60%;
    }
}
@media (min-width:768px) and (max-width:991px){
    .ui-accordion .ui-accordion-header {
        margin-left: -57px;
    }
    .morestyle{
        margin-left: 15px;
    }
    .lessstyle{
        margin-left: 15px;
    }
    .wrap {
        width: 94%;
    }
    .text {
        left: 27% !important;
    }
    .sizespan {
        width: 50%;
    }
}

@media (min-width:420px) and (max-width:560px){
    .text {
        left: 29%;
    }
}
@media screen and (max-width:435px){
    .flight-booking-result-page{
        margin-top: 55px;
    }
}
@media (min-width:370px) and (max-width:370px){
    .text {
        left: 24%;
    }
}
@media (min-width:320px) and (max-width:369px){
    .text {
        left: 17%;
    }
}
@media (max-width:420px){
    .ui-resizable{
        width: 90% !important;
    }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
        text-align: center;
    }
}