/*Form container:
=================*/
.main_flight_container .flight_search_input_container{display: none;}
.flight_container_style .flights_container{padding-left: 15px;padding-right: 15px;padding-top: 0px;}
.margin_top_30{margin-top: 30px;}
.div_wiz_border .bordered_div{border-right: 1px solid #c1c1c1;min-height: 60px;}
.div_wiz_border .bordered_div.noborrdered_div{border-right: none;}
.centered_divs .bordered_div{text-align: center;}
.update_search_container{margin-top: 17px;}
.searchcontainer_content{margin-top: 0px;}
.searchcontainer_content{margin-bottom: 0;}
.bordered_div p{color: #6b6b6b;font-size: 14px;line-height: 25px;padding-top: 5px;}
.bordered_div p span{color: #00111b;text-transform: uppercase;}
.right_p_span p {padding-right: 20px;text-align: right;}
.right_p_span p span {margin-right: 17px;}
.image_blue_container{width: 100%;}
.blue_circle_rightleft_arrow{width: 32px;height: 32px;border: none;border-radius: 50%;background-color: #00304c;margin: auto;margin-top: 14px;}
.blue_circle_rightleft_arrow i{color: white;margin-top: 9px;margin-left: 9px;}
.update_search_button{height: 60px;margin-top: 3px; background-color: #00b7d9;}
.border_top_but_row{height: 7px;border-top: 3px solid #bababa;border-bottom: 3px solid #bababa;margin-top: 10px;}
.close_container {position: absolute; right: -10px; top: 25px;cursor: pointer}
.margin-top-40{margin-top: 40px;}
.right_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;left:0px;top:0px;}
.left_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;right:-5px;top:0px;}
.sort_by_tabs .filters-group label{font-weight: normal;padding:17px 9px;cursor: pointer;margin-bottom: 0px;float: left;color: #00b7d9;}
.sort_by_tabs .filters-group label input[type=radio]{clip: rect(0,0,0,0);pointer-events: none;position: absolute;}
.updateSelectedSegment{height: 60px; line-height: 60px;text-align: center;color: #201b1d; font-size: 22px; border: none; border-radius: 3px; margin: 7px 0px;}
.sort_by_tabs .filters-group label.active{color: #FFFFFF;background-color: #00b7d9;}
.border-left{border-left:2px solid #eceff1;}
.border-right{border-right:2px solid #eceff1;}
.flightmessageblock {
    background-color: #b90004;
    color: #ffffff;
    font-size: 17px;
    padding: 15px; 
}
.flightmessageblock a {
    color: #ffffff;
}
.fancybox-content {
    padding: 0px;
}
.fancybox-slide--html .fancybox-close-small {
    right: 20px;
}
/*Refine search container:
===================================*/
.refine_title{color: #00b7d9;font-size: 24px;margin-bottom: 40px;margin-top: 16px;}
.refine_subtitles{color: #606060;font-size: 13px;font-weight: bold;text-transform: uppercase;margin-left: -15px;}
.refine_subtitles i{padding-right: 8px;color: #00b7d9;margin-top:26px;}
.from_subtitles{margin-top:26px;}
.checkboxcontainer label{color: #606060;font-size: 15px;font-weight: normal;margin-bottom: 0;}
.checkboxright_text{color: #606060;font-size: 15px;margin-bottom: 0;text-align: right;}
.checkboxcontainer input[type="checkbox"]{margin-right: 7px;}
.margin-bottom-38{margin-bottom: 38px;}
.select_input_div{width: 100%;border: 1px solid #d5d6d8; border-radius: 5px;padding-left: 10px;color: #000000;font-size: 16px;font-weight: bold;height: 41px;line-height: 38px;margin-bottom: 10px;}
.departure_popup_container .bordered_row.normal-ligne-height{line-height: normal !important;}

/*sliders:
========*/
.slider.slider-horizontal .slider-track {height: 3px;left: 10px;margin-top: -5px;top: 50%;width: 100%;}
.slider-selection {background-color: #00b7d9;background-image: none;}
.slider-handle { background-color: #00b7d9;background-image: none;height: 17px;width: 17px;}
.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle {margin-left: -10px;margin-top: -7px;}
.slider.slider-horizontal {width: 100%;max-width: 100%;}

/*CSS Right Panel */
.main_conatainer .right_panel{padding-right: 0;}
.right_panel .header_text_left{color: #787878;font-size: 14px;height: 42px;margin-bottom: 0;line-height: 42px;}
.right_panel .change_currency_button{font-size:14px;color: #00b7d9;height: 42px;border: 2px solid #eaeef0;background-color: white;margin-bottom: 7px;width: 100%;border-radius: 0;}
.change_currency_container{padding-top: 10px;}
.margin_top_15{margin-top: 15px;}
.tootltip_row p.greyback_tooltip_text{width: 100%;height: 85px;background-color: #f4f4f4;font-size: 16px;padding: 20px 5px 15px 9px;line-height: 16px; margin:0;}
.tootltip_row p.greyback_tooltip_text span{font-size: 20px;font-weight: normal;line-height: 35px;color: black;}
.tootltip_row img.tooltipimg{position: absolute;right: -5px;top: 24px;}
.tootltip_row p.right_tooltip_text{color: #787878;font-size: 12px; margin-top: 13px;}
.right_panel p.communtext_grey{color: #787878;font-size: 14px;line-height: 23px;}
.grey_back_container_destination{min-height: 38px;background-color: #f4f4f4;padding-left: 9px;padding-right: 9px;}
.margin-top-10{margin-top: 10px;}
.grey_back_container_destination p{color: black;line-height: 38px;font-size: 17px; text-transform: uppercase;margin-bottom: 0;}
.grey_back_container_destination p.sub_text{font-size: 17px; text-transform: none;text-align: center;}
.dest_img_container{width: 100%;}
.dest_img_arrow{width: 26px;height: 26px;border: none;border-radius: 50%;background-color: black;margin: auto;margin-top: 6px;}
.dest_img_arrow i{color: white;margin-top: 7px;margin-left: 8px; font-size:12px;}
.flight_date_container{min-height: 65px;border-bottom: 2px solid #00b7d9; border-top: 2px solid #00b7d9;padding-left: 10px;padding-right: 10px;}
.float_left{float: left;}
.float_right{float: right;}
.flight_date_container img{padding-right: 15px;margin-top: 24px;}
.flight_date_container p{font-size: 16px;color: #db3a69;line-height: 65px;margin-bottom: 0;}
.margin-top-30{margin-top: 30px;}
.sort_down_img_arrow{width: 26px;height: 26px;border: none;border-radius: 50%;background-color: black;margin: auto;margin-top: 13px;}
.sort_down_img_arrow i{color: white;margin-top: 6px;margin-left: 7px;}
.sort_by_tabs p{font-size: 14px;color: black;line-height: 54px;margin-bottom: 0;padding-right: 15px;}
.sort_by_tabs{min-height: 52px;border: 2px solid #eceff1; ;padding-left: 10px;}
.sort_by_tabs p.srt_by_txt_blue{color: #00b7d9;line-height: 54px;margin-bottom: 0;min-height: 54px;padding-right: 5px;font-size: 13px;}
.sort_by_tabs span.srt_by_txt_blue{color: #00b7d9;line-height: 54px;margin-bottom: 0;min-height: 54px;padding-right: 0;font-size: 13px;}
.tabs_ul{list-style: none;margin-bottom: 0;padding-left: 0;}
.tabs_ul li{color: #00b7d9;margin-bottom: 0;min-height: 52px;border-left: 2px solid #eaeef0;font-size: 13px;text-align: center;cursor: pointer;float: left; }
/*.tabs_ul li:last-child{border-left: none;}*/
.sort_by_tabs ul.tabs_ul li.active{color: white;background-color: #00b7d9;}

/*responsiveSlider*/
.responsiveSlider{border:1px solid #989b9c;overflow: hidden;color:#000000;max-height: 131px;}
.responsiveSlider .slick-prev{left:0px;}
.responsiveSlider .slick-next{right:0px;}
.responsiveSlider .slick-prev,
.responsiveSlider .slick-next{z-index: 1;background-color:transparent;width: 25px;height: 100%;}
.responsiveSlider .slick-prev i,
.responsiveSlider .slick-next i{color:rgba(0,183,217,1);font-size: 24px;}
.responsiveSlider .slick-prev:before,
.responsiveSlider .slick-next:before{display: none;}
.responsiveSlider .slick-slide{position: relative; height: 96px;border:2px solid #FFFFFF;text-align: center;padding-left:30px;padding-right: 30px;padding-top: 5px;}
.responsiveSlider .slick-slide.slick-current-new{border-color:#00b7d9;}
.responsiveSlider .slick-slide p{margin-bottom: 0;}
.responsiveSlider .slick-slide .txt-light-grey{color:#8e8e8e;}
.responsiveSlider .slick-slide img {margin: 0 auto;height: 25px;}
.airlines_refine.airlines_carousel{cursor: pointer;}
/**/
#popup{width:1000px;}
/*CSS flight details row*/
.flight_details_row .first_div ,.flight_details_row .third_div,.flight_details_row .snd_div .snd_div_div2{border: 3px solid #f4f3f9;/*height: 124px;*/text-align: center;}
.flight_details_row .snd_div{border-left: none;text-align: center;}
.flight_details_row .snd_div .snd_grey_back{background-color: #f4f3f9;/*min-height: 124px;*/text-align: center;padding: 2px;}
.flight_details_row .newpad_flight_details_row{padding-left: 7px;}
.flight_details_row .first_div .ailines-logos{font-size: 14px;color: #616161;height: 61px;position: relative;padding-top: 7px;}
.flight_details_row .first_div p img{margin-top: 5px;margin-bottom: 5px;}
.flight_details_row .snd_div .snd_grey_back .first_row ,.flight_details_row .snd_div .snd_grey_back .snd_row{line-height: 60px;}
.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_firstrow ,.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_sndrow{line-height: 61px;}
.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_firstrow p ,.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_sndrow p{font-size: 13px;margin-bottom: 0;color: black; min-height: 62px; line-height: 30px;}
.flight_stops{color: #00b7d9; text-decoration: underline;}
.book_now_txt{color: #db3a69; font-size: 16px; font-weight: bold; line-height: 20px;margin-top:5px; /*margin-top: 27px; margin-bottom:23px;*/}
.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_firstrow p span ,.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_sndrow p span{font-size: 17px; padding-right: 6px;}
.flight_details_row .absolute_txt_flight_numb{position: absolute;top: 5px;;left: 6px;font-size: 14px;color: #010101;background: #FFFFFF;text-align: center;    padding-left: 2px;padding-right: 2px; font-weight: bold;}
.flight_details_row .snd_div .snd_grey_back p{font-size: 26px;color: #616161;margin-bottom: 0;text-transform: uppercase;}
.flight_details_row .snd_div .snd_grey_back p span{font-size: 16px;padding-right: 3px;text-transform: none;}
.flight_details_row .snd_div .snd_grey_back .full_width_conatiner{width: 100%;}
.flight_details_row .snd_div .snd_grey_back .full_width_conatiner img{margin: auto;}
a.flight_details_row .third_div:hover,
a.flight_details_row .third_div *:hover{text-decoration: none !important;}
.flight_details_row .third_div p{color: black;font-size: 18px;margin-bottom: 3px;}
.flight_details_row .third_div p span{font-size: 13px;/*padding-right: 8px;*/}
.margin_top_20{margin-top: 20px;}
.margin_bottom_10{margin-bottom: 10px;}
.stop-details-row{margin-top: 5px;margin-bottom: 10px;}
.clock-design{margin-top: -5px;}
.filter-options .row{margin-right:-5px;margin-left: -5px;}
.filter-options .col-xs-12,
.filter-options .col-xs-11,
.filter-options .col-xs-10,
.filter-options .col-xs-9,
.filter-options .col-xs-8,
.filter-options .col-xs-7,
.filter-options .col-xs-6,
.filter-options .col-xs-5,
.filter-options .col-xs-4,
.filter-options .col-xs-3,
.filter-options .col-xs-2,
.filter-options .col-xs-1{padding-right:5px;padding-left: 5px;}
.checkboxright_text,.price-convert{font-size: 14px;}
.currency-convert-text{font-size: 13px;}
.fancybox-skin{background: #FFFFFF;}
.book_now_disabled{ cursor: default; }
.book_now_disabled .book_now_txt{ color: #ccccd0; }
.flight_details_row .third_div.book_now_disabled p span{ color: #ccccd0; }

.main_dep_container{min-height: 65px;margin-top: 30px;border-top: 2px solid #00b7d9; border-bottom: 2px solid #00b7d9;}
.city_text{color: black;font-size: 20px; margin-bottom: 0;margin-top: 19px;padding-left: 5px;}
.date_text{font-size: 16px;color: #d45379;margin-bottom: 0;padding-left: 5px;}
.dep_arr_style{font-size: 25px;color: black;line-height: 65px;margin-bottom: 0;}
.sndimg_afc{float: left;padding-top: 31px;}
.company_fd{font-size: 14px;color: black;margin-top: 29px;padding-left: 10px;margin-bottom: 0;}
.modify_container{float: right;}
.nonstop_mod{font-size: 14px;color: black;margin-bottom: 0;margin-top: 29px;}
.airplane_img_fn{margin-top: 29px;margin-right: 5px;}
.modify_link{ font-size: 14px; color: black; }
.modify_link:hover{ color: black; }
.modify_link i{ font-size: 14px;}

.titledynamicline {
    color: black;
    text-align: left;
    overflow: hidden;
    margin: 0;
    margin-top: 0px;
}
.titledynamicline .imgtitlewizbar img {
    padding-right: 5px;
}
.titledynamicline .blacktxttitlewizbar {
    font-size: 25px;
    line-height: 25px;
}
.titledynamicline .greytxttitlewizbar {
    color: black;
    font-size: 20px;
    line-height: 25px;
    padding-right: 15px;
}
.titledynamicline .bartitlewizbar {
    font-size: 20px;
    line-height: 25px;
    padding-left: 14px;
    padding-right: 14px;
}
.titledynamicline:before, .titledynamicline:after {
    content:'';
    width:100%;
    border-bottom:2px solid #eaeef0;
    display:inline-block;
}
.titledynamicline:before {
    margin-left:-100%;
}
.titledynamicline:after {
    margin-right:-100%;
}
.datelefttextday_dfc{
    float: left;
    width: auto;
    font-size: 16px;
    line-height: 22px;
    padding-left: 51px;
    color: #db3a69;
}
.total_price_section{
    float: right;
    color: #db3a69;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
}
.total_price_section span{font-size: 24px; margin-left: 8px;}
.main_flight_container .searchcontainer_content{margin-top: 0;}
.responsiveSlider .slick-prev, .responsiveSlider .slick-next{
    background-color: white;
}

.currency-convert-text .plus {
    font-size: 15px !important;
    font-weight: bold;
}

@media (max-width:1199px){
    .dep_arr_style{font-size: 22px;}
    .city_text{font-size: 18px;}
    .titledynamicline .greytxttitlewizbar{font-size: 18px;}
    .titledynamicline .blacktxttitlewizbar{font-size: 22px;}
    /*CSS Right Panel */
    .sort_by_tabs p.srt_by_txt_blue{border-right: none;}
    .sort_by_tabs{padding-left: 0;}
    .tabs_ul li{border-top: 2px solid #eaeef0;}
}
@media (min-width:992px) and (max-width:1199px){
    /*Form container:
=================*/
    .bordered_div p{font-size: 13px;}

    /*CSS flight details row*/
    .flight_details_row .snd_div .snd_div_div2 .snd_div_div2_firstrow p span ,.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_sndrow p span{font-size: 15px;}
	#popup{width:900px;}
}
@media (max-width:991px){
    .flight_details_row .third_div{ height: auto !important;}
	#popup{width:850px;}
    /*CSS Right Panel */
    .right_panel:after,.left_panel:after{display: none;}
    /*CSS flight details row*/
    .flight_details_row .newpad_flight_details_row{padding-left: 0px;}
    .flight_details_row .third_div{border-top: none;border-width: 1px;}
}
@media (min-width:768px) and (max-width:991px){
    /*Form container:
=================*/
    .div_wiz_border .bordered_div {margin-bottom: 10px;border-left: 1px solid #c1c1c1;}
    .div_wiz_border .no_left_border_small {border-left: none}
    .right_p_span p {padding-right: 0px;text-align: center;}
    .smalcentered_p p{text-align: center;}
    .div_wiz_border .bordered_div.noborrdered_div{border-right: 1px solid #c1c1c1;}
    .update_search_button {width:100%;}

    /*CSS Right Panel */
    .main_conatainer .right_panel{padding-left: 0px;}
}
@media (max-width:767px){
    .nonstop_mod{margin-top: 29px;}
    .sndimg_afc{padding-top: 12px;}
    .company_fd{margin-top: 10px;}
    .modify_container{float: left;margin-bottom: 10px;}
    /*Form container:
=================*/
    .div_wiz_border .bordered_div{border-right: none;border-bottom: 1px solid #c1c1c1;}
    .right_p_span p {padding-right: 0px;text-align: center;}
    .smalcentered_p p{text-align: center;}
    .bordered_div p.blue_text_button{width: 100%;margin-top: 10px;}
    .div_wiz_border .bordered_div.noborrdered_div{border-bottom: 0;}
    .close_container {top: 25px;right: 15px;font-size: 16px;}
    .close_container button{font-size: 14px;}
    .update_search_button {width:100%;margin-top: 10px;}

    /*CSS Right Panel */
    .right_panel .header_text_left{height: auto;line-height: 32px;}
    .main_conatainer .right_panel{padding-left: 15px;padding-right: 15px;}
    .grey_back_container_destination p.sub_text{text-align: left;}
    .tabs_ul li{width: 100%;border-right: none;}
}
@media (max-width:420px){
    /*CSS Right Panel */
    .grey_back_container_destination p{font-size: 14px;}
    /*CSS flight details row*/
    .flight_details_row .snd_div .snd_grey_back p{font-size: 19px;}
    .flight_details_row .snd_div .snd_grey_back p span{font-size: 14px;}
}

/*MEDIA PRINT CSS:
=========================*/

@media print {
    .bordered_div p{margin-bottom: 0;}
    .bordered_div {
        min-height: auto;
    }
    .update_search_button{background-color: #5bc0de !important;}
    .border_top_but_row{height: 8px;}
    .blue_circle_rightleft_arrow i {color: white !important;}
    .blue_circle_rightleft_arrow {background-color: #00304c !important;}
    .fa-exchange-alt:before {color: white !important;}
    .tootltip_row p.greyback_tooltip_text{background-color: #f4f4f4 !important;}
    .grey_back_container_destination{background-color: #f4f4f4 !important;}
    .dest_img_arrow{background-color: black !important;}
    .fa-arrow-right:before {color: white !important;}
    .navbar-header{display: none;}
    .responsiveSlider{display: none;}
    .sort_by_tabs{display: none;}
    .currencyselectbox_top{display: none;}
    .tt_breadcrump{display: none;}
    .noborrdered_div{display: none;}
    .header_text_left{display: none;}
    .change_currency_button{display: none;}
    
    footer{display: none;}
    .flight_details_row .snd_div .snd_grey_back {background-color: #f4f3f9 !important;}
/*    .flight_details_row .third_div{ height: auto !important;}
    .flight_details_row .first_div .ailines-logos{height: auto !important;}
    .flight_details_row .snd_div .snd_div_div2 .snd_div_div2_firstrow ,.flight_details_row .snd_div .snd_div_div2 .snd_div_div2_sndrow{line-height: 61px;}
    .flight_details_row .print_width{width: 100% !important;}*/
}