{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}	
{% block title %}关于我们{% endblock %}
{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>关于我们</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">Tourist Tube™ is a multi-service platform and mobile applications dedicated to global online travel, with a wide range of exclusive high-end features. For more than 15 years, Tourist Tube’s founders/managers have been developing and providing global online high-quality content and innovative solutions to tourism businesses and travelers. The Company is registered in the UAE, with sister companies in Lebanon, India, the Philippines and a representative office in Paris, France.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">Tourist Tube is already having more than two million online monthly visitors, with millions of pageviews, accessed from over 4,000 cities in 200 countries. The platform is online in English; French; Hindi and Chinese, with more languages to come. Tourist Tube has been enriched by users with thousands of excellent quality pictures and videos of tourism destinations.</p>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title">Tourist Tube proposes universal offers of flights, hotels, restaurants and points of interest. The platform is integrated with globally secure online payment gateways. Online flights and hotels bookings are now available at very competitive prices, with other segments to follow soon, including holiday packages, tours and attractions.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}