{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}

{% block title %}隐私政策{% endblock %}
{% block body %}
    <section class="container disclaimer_container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>隐私政策</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title text-justify">Tourist Tube FZ-LLC 提供隐私政策，作为我们服务的用户向您描述，<br><br>
                            1. 我们收集的信息 
                            <br /><br />
                            2. 如何使用
                            <br /><br />
                            3. 与谁共享
                            <br /><br />
                            4. 更新个人信息的选择。
                            <br /><br />
                            Tourist Tube FZ-LLC制定了本隐私政策，以遵守其尊重您隐私的承诺。一旦您开始使用我们的网站和/或下载并安装我们的移动应用程序，您就可以有效地接受本隐私政策中描述的做法。因此，我们鼓励您在使用我们的服务或与我们进行业务往来时仔细阅读本隐私政策。
                            <br /><br />
                            您提供的信息将帮助我们优化我们提供的服务，使您的搜索更快，向您展示更相关的广告，并帮助您更快地与具有类似兴趣的人建立关联。您可以通过不同方式使用我们的服务 - 搜索和共享信息，与其他人通信或创建新内容。在使用我们的服务时，您应该知道我们将以保护您隐私的方式处理您提供的信息。
                            <br /><br />
                            如果您对我们的隐私政策有任何疑问，请参阅本隐私政策末尾的详细信息与我们联系。 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">收集信息</h2>
                        <p class="sub_header_title text-justify">我们可能会收集可识别您身份的个人信息，例如您的姓名和电子邮件地址，以及其他不能识别您身份的信息。当您通过我们的网站提供个人信息时，信息可能会发送到位于世界其他国家/地区的服务器。信息可以通过两种方式收集：<br /><br />
                            <span class="underline">您提供的信息 </span>要访问我们的众多功能，您需要创建您的个人Tourist Tube帐户。因此，您需要提供您的姓名和电子邮件地址。您的个人资料中将需要更多个人信息，以优化您与有趣的主题和成员的关联。我们还可以跟踪您使用的服务，特别是我们向您展示的内容和广告的互动方式。
                            <br /><br />
                            - 信用卡/借记卡<br />
                            所有信用卡/借记卡的详细信息和相关的个人身份信息不会被存储、出售、共享、出租或租借给任何第三方。
                            <br /><br />
                            <span class="underline">从使用我们服务中获得的信息. </span>我们可能会收集有关您使用的服务以及使用方式的信息，例如当您访问使用我们的广告服务的网站或您查看我们的广告和内容并与之互动时。此信息包括： 
                            <br /><br />
                            系统信息<br />
                            我们可以收集您的系统信息，包括硬件、操作系统版本、唯一设备标识符和移动网络信息，包括可以链接到您的Tourist Tube帐户的电话号码，以便为您提供我们的GPS服务。
                            <br/><br/>
                            会话信息<br />
                            我们可以自动收集和存储服务器日志中的信息：<br />
                            - 搜索查询。<br />
                            - Internet协议地址。<br />
                            - 浏览器类型和语言。<br />
                            - 请求和引荐URL的日期和时间。
                            <br/><br/>
                            行踪信息<br/>
                            我们可以从移动设备发送的GPS信号中收集和处理有关您行踪的信息。我们还可以通过从您的设备获取传感器数据到附近的Wi-Fi接入点和手机信号塔来查找位置。
                            <br/><br/>
                            独特的申请号码<br/>
                            可以为我们收集唯一的应用程序编号以及操作系统和应用程序版本号，以便为您提供同步的自动更新。 
                            <br/><br/>
                            Cookie和匿名标识符<br/>
                            唯一标识浏览器或Tourist Tube帐户的Cookie可用于存储使用Tourist Tube服务的信息，以便向我们的业务合作伙伴提供信息，特别是广告服务等。 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">收集信息的使用</h2>
                        <p class="sub_header_title text-justify">我们可能会使用我们收集的有关您的信息，用于：<br/>
                            - 提供您所要求的产品和服务;<br/>
                            - 管理您的帐户并为您提供客户支持;<br/>
                            - 对我们提供给您或他人的产品、服务或内容的使用或兴趣进行研究和分析;<br/>
                            - 通过电子邮件、邮政信件、电话和/或移动设备与您联系，了解您可能感兴趣的由我们提供的或其他第三方提供的产品或服务;<br/>
                            - 根据您在我们网站和其他网站上的兴趣开发和展示内容和广告;<br/>
                            - 验证您的资格并提供与竞赛和抽奖相关的奖品;<br/>
                            - 执行我们的条款和规定;<br/>
                            - 管理我们的业务和<br/>
                            - 执行收集时以其他方式描述的功能。
                            <br/><br/>
                            收集的信息用于维护、保护和改进现有服务，开发新服务以及保护我们的用户。我们还使用此信息为您提供个性化内容，例如为您提供更相关的搜索结果和广告。  
                            <br/><br/>
                            此外，其他用户可以看到您的公开个人资料信息。
                            <br/><br/>
                            您可以保留与我们沟通的记录，以帮助解决您可能遇到的任何问题。
                            <br/><br/>
                            我们可以使用您的电子邮件地址告知您我们的服务以及未来的变化或发展。
                            <br/><br/>
                            在将信息用于本隐私政策中规定之外的目的之前，我们一定会要求您的批准。
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">共享信息</h2>
                        <p class="sub_header_title text-justify">我们要求您注意我们何时以及与谁共享我们收集的有关您或您在我们网站上的活动或使用我们服务的个人信息或其他信息。
                            <br/><br/>
                            我们不会在您同意之前分享您的个人信息，除非有以下各方：<br/>
                            - 授权服务提供商：我们可能会与代表我们执行某些服务的授权服务提供商共享您的个人信息。这些服务可能包括：履行订单，处理信用卡付款，交付包裹，提供客户服务和营销协助，执行业务和销售分析，支持我们的网站功能，以及支持通过我们网站提供的竞、抽奖、调查和其他功能。这些服务提供商可以访问执行其功能所需的个人信息，但不允许他们自己共享或使用此类信息用于任何其他目的。<br/>                           
                            - 业务合作伙伴：视频、评论或其他用户提交的个人信息，或通过我们的网站或我们的服务进行购买、预订或参与促销时提供的个人信息，可与我们的业务合作伙伴共享，为您提供这些产品、服务和促销活动。此外，当您选择参与特定商家的优惠或计划时，意味着您授权我们向该商家提供您的电子邮件地址和其他信息。<br/>
                            - 直邮合作伙伴：我们可能会不时与您可能感兴趣的、选定的商品和服务提供商共享我们的邮政邮件列表。如果您不希望收到这些提供商的邮件，您可以随时通知我们。<br/>
                            - 其他情况：我们也可能会披露您的信息： <br/>
                            - 回应传票或类似的调查要求，法院命令或执法机构或其他政府机构的合作请求;建立或行使我们的合法权利;防范法律诉讼;或法律另有规定。在这种情况下，我们可以自行决定提出或放弃任何法律上的反对意见或权利。<br/>
                            - 调查、预防、举报非法活动或针对非法活动的其他举措，披露涉嫌欺诈或其他不法行为;保护和捍卫我们公司、我们的用户、员工或其他人的权利、财产或安全;遵守适用法律或与执法部门合作;或执行我们的网站条款和条件或其他协议或政策。<br/>
                            - 与公司交易相关，例如出售我们的业务，剥离，合并，整合或资产出售，或在还有一种不太可能的情况就是破产。<br>
                            我们可能向任何第三方披露个人信息的，其必须拥有自己的隐私政策，描述其如何使用和披露个人信息。一旦我们与本隐私政策中所述的第三方共享您的个人信息，这些政策将适用于您的个人信息的使用、处理和披露。如果您想了解有关其隐私惯例的更多信息，我们建议您访问这些第三方的网站。 
                            <br/><br/>
                            我们还可能与第三方公司分享我们在上述任何情况下收集的汇总和非个人信息，以便在我们的网站和第三方网站上开发和提供有针对性的广告。我们可能会将收集的非个人信息与从其他来源收集的其他非个人信息结合起来。我们还可能与第三方（包括顾问，广告商和投资者）共享汇总信息，以进行一般业务分析。例如，我们可能会告诉广告客户我们网站的访问者人数以及访问过的最受欢迎的功能或服务。此信息不包含任何个人信息，可用于开发我们希望您和其他用户会感兴趣并定位内容和广告的网站内容和服务。
                            <br/><br/>
                            您在本网站上看到的某些广告是由第三方选择和提供的，例如广告网络、广告代理商、广告商和细分受众群提供商。这些第三方可以通过cookie、网站信标和其他技术在本网站或其他网站上收集有关您和您的在线活动的信息，以便了解您的兴趣并向您提供符合您兴趣的广告。请记住，我们无权访问或控制这些第三方可能收集的信息。本隐私政策不涵盖这些第三方的信息惯例。                           
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">选择访问和更新个人信息</h2>
                        <p class="sub_header_title text-justify">我们的许多服务都允许您与他人共享信息。请记住，当您公开共享信息时，它可能会被搜索引擎编入索引。您在共享和删除内容方面有不同的选择。例如，您可以： <br/>
                            - 显示或隐藏与您的帐户相关的信息。<br/>
                            - 微调您的个人资料对特定用户的显示方式。<br/>
                            - 控制您的上传与谁共享。<br>
                            - 从我们的许多服务中删除信息。<br/>
                            - 阻止浏览器中的所有cookie;虽然您应该知道，如果您的cookie被禁用，我们的许多服务可能无法正常运行。<br/>
                            当您更新个人信息时，我们可以要求您验证您的身份，然后我们才能根据您的请求采取行动。
                            <br/><br/>
                            请注意，在您从我们的服务中删除信息后，我们可以在我们的活动服务器和备份系统上保留剩余副本。 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">安全</h2>
                        <p class="sub_header_title text-justify">我们将尽最大努力保护Tourist Tube和我们的用户免受未经批准的访问或未经批准的信息处理。因此，我们将：<br/>
                            - 使用SSL加密我们的许多服务。<br/>
                            - 防止未经批准的物理访问我们的服务器<br/>
                            - 限制员工、承包商和代理商访问个人信息，这些员工、承包商和代理商需要知道该信息才能进行处理，并且需要遵守严格的保密义务。<br>
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">更改</h2>
                        <p class="sub_header_title text-justify">我们的隐私政策可能会偶尔更改或更新，以符合要求和标准，但未经您的明确批准，我们不会减少您的权利。任何即将发布的隐私政策更改都将发布在当前页面上，您也会直接收到有关重大更改的通知。本隐私政策的所有先前版本也将保留供您审核。我们鼓励您经常访问这些部分，以便更新网站上的更改。修改将在发布当天生效。
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">联系我们</h2>
                        <p class="sub_header_title text-justify">如果您对本隐私政策有任何疑问，请通过邮寄或电子邮件与我们联系，地址如下：
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad StaticTxt">
                        <h2 class="header_title">Tourist Tube FZ-LLC</h2>
                        <p class="sub_header_title text-justify">Floor 1; DIC Building 12; 35, DIC Street; city Dubai; UAE </p>
                        <p><a href="mailto:support@touristtube.com" class="afaqMainStyle" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a></p>
                        <p class="sub_header_title text-justify">{{'now'|date('Y')}} &copy; Tourist Tube FZ-LLC
                            <br/>
                            <span>最后修订日期： November 21, {{'now'|date('Y')}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}