{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}

{% block title %}Politique de confidentialité{% endblock %}
{% block body %}
    <section class="container disclaimer_container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>Politique de confidentialité</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title text-justify">Tourist Tube FZ-LLC fournit une politique de confidentialité pour vous décrire, en tant qu´utilisateur de nos services,<br><br>
                            1. Les données que nous collectons 
                            <br /><br />
                            2. La façon dont nous les utilisons 
                            <br /><br />
                            3. Avec qui ces données peuvent être partagées
                            <br /><br />
                            4. Les possibilités que vous avez pour mettre à jour vos informations personnelles.
                            <br /><br />
                            Tourist Tube FZ-LLC a développé cette politique de confidentialité pour démontrer son engagement à respecter votre vie privée. Une fois que vous commencez à utiliser notre site Web et / ou que vous téléchargez et installez nos applications mobiles, vous acceptez effectivement les pratiques décrites dans la présente politique de confidentialité. Par conséquent, nous vous encourageons à lire attentivement cette politique de confidentialité lorsque vous utilisez nos services ou effectuez des transactions commerciales avec nous.
                            <br /><br />
                            Les informations que vous nous communiquez nous aident à optimiser les services que nous fournissons, en accélérant vos recherches, en vous présentant des annonces plus pertinentes et en vous permettant de contacter plus rapidement des personnes partageant les mêmes centres d'intérêt. Vous pouvez utiliser nos services de différentes manières: rechercher et partager des informations, communiquer avec d'autres personnes ou créer un nouveau contenu. Lors de l'utilisation de nos services, vous devez savoir que nous traitons les informations que vous fournissez de manière à protéger votre vie privée.
                            <br /><br />
                            Si vous avez des questions sur nos pratiques en matière de confidentialité, nous vous invitons à nous contacter à l´aide des informations de contact disponibles à la fin du présent document. 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Informations collectées</h2>
                        <p class="sub_header_title text-justify">Nous pouvons être amenés à collecter des informations personnelles permettant de vous identifier, telles que votre nom et votre adresse électronique, ainsi que d'autres informations ne vous identifiant pas. Lorsque vous fournissez des informations personnelles sur notre site Web, celles-ci peuvent être envoyées à des serveurs situés dans d'autres pays du monde. Les informations peuvent être collectées de deux manières :<br /><br />
                            <span class="underline">Informations que vous fournissez. </span>Pour accéder à plusieurs de nos fonctionnalités, vous devez créer votre compte Tourist Tube personnel. Vous devez donc dans un premier temps fournir votre nom et votre adresse électronique. Des informations plus personnelles seront nécessaires dans votre profil pour optimiser vos liens avec des thèmes et des membres intéressants. Nous pouvons également suivre les services que vous utilisez,  et en particulier la manière dont vous interagissez avec le contenu et les annonces que nous vous diffusons.
                            <br /><br />
                            - Cartes de crédit / débit<br />
                            Toutes les informations relatives à vos cartes de crédit/débit et les informations personnelles vous identifiant ne seront <span class="font-bold">PAS</span> stockés, vendus, partagés, loués à des tiers.
                            <br /><br />
                            <span class="underline">Informations que nous recevons de l'utilisation de nos services. </span>Nous pouvons collecter des informations sur les services que vous utilisez et sur la manière dont vous les utilisez, par exemple lorsque vous visitez un site Web qui utilise nos services de publicité ou lorsque vous consultez et interagissez avec nos annonces et nos contenus. Cette information comprend : 
                            <br /><br />
                            Information système<br />
                            Nous pouvons collecter les informations de votre système, y compris le matériel, la version du système d'exploitation, les identifiants de périphérique et les informations de réseau mobile, y compris le numéro de téléphone pouvant être associé à votre compte Tourist Tube, afin de vous fournir nos services basés sur la géolocalisation. 
                            <br/><br/>
                            Information de session<br />
                            Nous pouvons collecter et stocker automatiquement des informations dans les journaux du serveur concernant : <br />
                            - Requêtes de recherche.<br />
                            - Adresse de protocole Internet.<br />
                            - Type de navigateur et langue.<br />
                            - Date et heure des requêtes et URL de référence.
                            <br/><br/>
                            Informations sur la localisation<br/>
                            Nous pouvons collecter et traiter des informations sur votre localisation à partir des signaux GPS envoyés par un appareil mobile. Nous pouvons également rechercher des emplacements en récupérant les données des capteurs de votre appareil aux points d’accès Wi-Fi et aux bornes de téléphonie mobiles situés à proximité. 
                            <br/><br/>
                            Numéro d´application unique<br/>
                            Un numéro d'application unique ainsi que les numéros de version du système d'exploitation et de l'application peuvent être collectés pour que nous puissions vous fournir des mises à jour automatiques synchronisées.  
                            <br/><br/>
                            Cookies et identifiants anonymes<br/>
                            Les cookies qui identifient de manière unique les navigateurs ou les comptes Tourist Tube peuvent être utilisés pour stocker des informations sur votre utilisation des services de Tourist Tube que nous offrons à nos partenaires commerciaux, notamment des services de publicité.   
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Utilisation des informations collectées</h2>
                        <p class="sub_header_title text-justify">Nous pouvons utiliser les informations que nous collectons en général pour :<br/>
                            - fournir les produits et services que vous avez demandés ;<br/>
                            - gérer votre compte et vous fournir un support client ;<br/>
                            - effectuer des recherches et des analyses sur votre utilisation de nos produits, services ou contenus, ou votre intérêt sur des produits, services ou contenus proposés par des tiers ;<br/>
                            - communiquer avec vous par courrier électronique, courrier postal, téléphone et / ou appareils mobiles au sujet de produits ou services susceptibles de vous intéresser, que ce soit de notre part ou de la part de tiers ;<br/>
                            - développer et afficher du contenu et de la publicité adaptés à vos intérêts sur notre site et des sites tiers ;<br/>
                            - vérifier votre éligibilité et remettre des prix dans le cadre de concours et de tirages au sort ;<br/>
                            - appliquer nos termes et conditions ;<br/>
                            - gérer notre entreprise et exécuter des fonctions telles que décrites au moment de la collecte.
                            <br/><br/>
                            Les informations collectées sont utilisées pour maintenir, protéger et améliorer les services existants, pour en développer de nouveaux et pour protéger nos utilisateurs. Nous utilisons également ces informations pour vous proposer un contenu personnalisé, comme des résultats de recherche et des annonces plus pertinentes. 
                            <br/><br/>
                            Egalement, d'autres utilisateurs peuvent voir vos informations de profil public.
                            <br/><br/>
                            Un enregistrement de vos échanges avec nous peut être conservé pour vous aider à résoudre tous les problèmes que vous pourriez rencontrer. 
                            <br/><br/>
                            Nous pouvons utiliser votre adresse électronique pour vous informer sur nos services et des modifications ou développements futurs. 
                            <br/><br/>
                            Nous vous demanderons bien entendu votre approbation avant d'utiliser des informations à des fins autres que celles énoncées dans la présente politique de confidentialité. 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Données que nous partageons</h2>
                        <p class="sub_header_title text-justify">Nous vous demandons d´être attentif du moment et avec qui nous sommes susceptible de partager vos données personnelles ou autres informations que nous avons collecté sur vous ou vos activités sur notre site web ou lorsque vous utilisez nos services.
                            <br/><br/>
                            Nous ne partageons pas vos données personnelles avant votre consentement, sauf avec les parties suivantes :<br/>
                            - Fournisseurs de services autorisés : nous pouvons partager vos données personnelles avec nos fournisseurs de services autorisés qui fournissent certains services en notre nom. Ces services peuvent comprendre l'exécution des commandes, le traitement des paiements par carte de crédit, la fourniture de packages, la fourniture d'un service client et d'une assistance marketing, la réalisation d'analyses marketing et commerciales, la prise en charge de fonctionnalités de notre site Web, la prise en charge de jeux, de concours, de sondages et d'autres fonctionnalités offertes par notre site Web. Ces fournisseurs de services peuvent avoir accès aux données personnelles nécessaires à l'exercice de leurs fonctions, mais ne sont pas autorisés à les partager ou à les utiliser par eux-mêmes à d'autres fins.<br/>                           
                            - Partenaires commerciaux : les données personnelles contenues dans des vidéos, des commentaires ou d’autres posts d’utilisateurs, ou communiquées lors d’achats, de réservations ou de promotions associées à notre site Web ou à nos services, peuvent être partagées avec nos partenaires commerciaux pour vous proposer des produits, services, et promotions. De plus, lorsque vous choisissez de vous inscrire à une offre ou à un programme d'un commerçant particulier, vous nous autorisez à lui fournir votre adresse électronique et d'autres informations.<br/>
                            - Partenaires de publipostage : de temps en temps, nous pouvons partager notre liste de publipostage avec des fournisseurs de biens et de services susceptibles de vous intéresser. Si vous préférez ne pas recevoir de courrier de ces fournisseurs, vous pouvez nous en informer à tout moment.<br/>
                            - Autres situations : Nous pouvons aussi divulguer vos données :<br/>
                            - En réponse à une assignation à comparaître ou à une demande d'enquête similaire, à une ordonnance d'un tribunal ou à une demande de coopération émanant des forces de l'ordre ou d'un organisme gouvernemental; établir ou exercer nos droits légaux; se défendre contre des actions en justice; ou tel que requis par la loi. Dans de tels cas, nous pouvons soulever ou renoncer à toute objection légale ou à tout droit disponible, à notre entière discrétion.<br/>
                            - lorsque nous estimons que la divulgation est appropriée dans le cadre des efforts visant à enquêter, à prévenir, à signaler ou à prendre toute autre mesure relative à une activité illégale, à une fraude présumée ou à un autre acte répréhensible; protéger et défendre les droits, la propriété ou la sécurité de notre société, de nos utilisateurs, de nos employés ou de tiers; se conformer à la loi applicable ou coopérer avec les forces de l'ordre; ou pour appliquer les conditions générales de notre site Web ou d'autres accords ou politiques.<br/>
                            - Dans le cadre d'une transaction d'entreprise importante, telle que la vente de notre entreprise, une cession, une fusion, une consolidation, une vente d'actifs ou dans le cas peu probable d'une faillite.<br>
                            Toute tierce partie à qui nous pouvons divulguer des données personnelles peut avoir sa propre politique de confidentialité qui décrit comment elle utilise et divulgue les données personnelles. Ces politiques régiront l'utilisation, le traitement et la divulgation de vos données personnelles une fois que nous les avons partagées avec ces tiers, comme indiqué dans la présente politique de confidentialité. Si vous souhaitez en savoir plus sur leurs pratiques en matière de confidentialité, nous vous encourageons à visiter les sites Web de ces tiers.
                            <br/><br/>
                            Nous pouvons également partager des informations agrégées et non personnelles que nous recueillons dans les cas susmentionnés avec des sociétés tierces afin de développer et de diffuser des publicités ciblées sur nos sites Web et sur des sites Web de tiers. Nous pouvons combiner des données non personnelles que nous collectons avec des informations supplémentaires non personnelles recueillies auprès d'autres sources. Nous pouvons également partager des informations agrégées avec des tiers, y compris des conseillers, des annonceurs et des investisseurs, dans le but de mener une analyse commerciale générale. Par exemple, nous pouvons indiquer à nos annonceurs le nombre de visiteurs de notre site Web et les fonctionnalités ou services les plus utilisés. Ces informations ne contiennent aucune donnée personnelle et peuvent être utilisées pour développer du contenu de site Web et des services que nous espérons, vous et les autres utilisateurs, pourrez trouver de l'intérêt et cibler du contenu et de la publicité.
                            <br/><br/>
                            Certaines des publicités que vous voyez sur le site sont sélectionnées et livrées par des tiers, tels que des réseaux publicitaires, des agences de publicité, des annonceurs et des fournisseurs de segments d'audience. Ces tiers peuvent collecter des informations sur vous et vos activités en ligne, sur le site ou sur d'autres sites Web, par le biais de cookies, de balises Web et d'autres technologies, afin de comprendre vos intérêts et de vous proposer des publicités adaptées à vos intérêts. Rappelez-vous que nous n’avons pas accès aux informations que ces tiers pourraient collecter ni ne les contrôlons. Les pratiques d'information de ces tiers ne sont pas couvertes par cette politique de confidentialité.                             
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Consultation et de mise à jour des données personnelles</h2>
                        <p class="sub_header_title text-justify">Beaucoup de nos services vous permettent de partager des données avec d'autres. N'oubliez pas que lorsque vous partagez des informations publiquement, celles-ci peuvent être indexées par les moteurs de recherche. Vous avez différentes options pour partager et supprimer votre contenu. Par exemple, vous pouvez :  <br/>
                            - Afficher ou masquer les informations relatives à votre compte.<br/>
                            - Ajuster la façon dont apparait de votre profil à des utilisateurs particuliers.<br/>
                            - Contrôler avec qui vous partagez vos téléchargements.<br>
                            - Supprimer les données de plusieurs de nos services.<br/>
                            - Bloquer tous les cookies dans votre navigateur. Vous devez cependant savoir que certain de nos services risquent de ne pas fonctionner correctement si vos cookies sont désactivés.<br/>
                            Lorsque vous mettez à jour vos données personnelles, nous pouvons vous demander de vérifier votre identifiant avant de pouvoir donner suite à votre demande.  
                            <br/><br/>
                            Sachez également qu'après avoir supprimé les informations de nos services, nous pouvons conserver des copies résiduelles sur nos serveurs actifs et nos systèmes de sauvegarde.  
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Sécurité</h2>
                        <p class="sub_header_title text-justify">Nous ferons tout notre possible pour protéger nos utilisateurs et Tourist Tube contre un accès non autorisé ou le traitement non approuvé des données que nous détenons. Par conséquent, nous allons :<br/>
                            - Crypter plusieurs de nos services en utilisant SSL.<br/>
                            - Protéger contre les accès non autorisé à nos serveurs.<br/>
                            - Limiter l'accès aux données personnelles aux employés, sous-traitants et agents qui ont besoin de connaître ces informations pour pouvoir les traiter et qui sont soumis à des obligations strictes de confidentialité.<br>
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Modifications</h2>
                        <p class="sub_header_title text-justify">Notre politique de confidentialité peut être modifiée ou mise à jour occasionnellement pour répondre aux exigences et aux normes, mais nous ne réduirons pas vos droits en vertu de cette Charte sans votre autorisation explicite. Toute modification à venir de la politique de confidentialité sera publiée sur la page actuelle et vous serez également informé directement des modifications importantes. Toutes les versions antérieures de cette politique de confidentialité seront également conservées pour votre révision. Nous vous invitons à consulter fréquemment ces sections afin de vous tenir au courant des modifications apportées sur le site Web. Les modifications entreront en vigueur le jour de leur publication.
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">Contactez nous</h2>
                        <p class="sub_header_title text-justify">Si vous avez des questions sur cette politique de confidentialité, veuillez nous contacter par courrier postal ou par courrier électronique comme suit : 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad StaticTxt">
                        <h2 class="header_title">Tourist Tube FZ-LLC</h2>
                        <p class="sub_header_title text-justify">Floor 1; DIC Building 12; 35, DIC Street; city Dubai; UAE </p>
                        <p><a href="mailto:support@touristtube.com" class="afaqMainStyle" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a></p>
                        <p class="sub_header_title text-justify">{{'now'|date('Y')}} &copy; Tourist Tube FZ-LLC
                            <br/>
                            <span>Date de la dernière mis à jour: November 21, {{'now'|date('Y')}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}