{% extends 'basecorporateFinal.html.twig' %}

{% block pagenewcss %}
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/common/css/social_pages_common.css")|raw }}"/>
{% endblock %}

{% block title %}गोपनीय पालिसी{% endblock %}
{% block body %}
    <section class="container disclaimer_container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row no-margin margin_top_20 margin_bottom_40">
                    <div class="col-xs-12 nopad">
                        <h1 class="search_title"><span class="circlimg_arrow"><i class="fas fa-angle-right"></i></span>गोपनीय पालिसी</h1>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <p class="sub_header_title text-justify">पर्यटकट्यूब एफजेड-एलएलसी एक गोपनीय पालिसी हमारी सेवाओं के एक उपयोगकर्ता के रूप में, आपको वर्णन करने के लिए प्रदान करते है,<br><br>
                            1. जानकारी हम इकट्ठा करते है 
                            <br /><br />
                            2. यह कैसे उपयोग किया जा सकता है  
                            <br /><br />
                            3. किसके साथ इसे साझा किया जा सकता है 
                            <br /><br />
                            4. विकल्प है कि आपको अपने व्यक्तिगत जानकारी को अद्यतनीकरण करना है।
                            <br /><br />
                            पर्यटकट्यूब एफजेड-एलएलचेस यह गोपनीयता पालिसी आपकी गोपनीयता का सम्मान करने के लिए अपनी प्रतिबद्धता प्रदर्शित करने के लिए विकसित की है। एक बार जब आप हमारी वेबसाइट का उपयोग शुरू करते हैं और / या डाउनलोड कर और हमारे मोबाइल अनुप्रयोग कर स्थापित करते है, तो आप प्रभावी रूप से प्रक्रियाएं गोपनीयता पालिसी में वर्णित स्वीकार कर रहे हैं। इसलिए, हम आपको इस गोपनीयता पालिसी को ध्यान से पढ़ने के लिए प्रोत्साहित करते हैं जब आप हमारी सेवाओं का उपयोग करने के लिए या हमारे साथ व्यापार लेनदेन करते है।
                            <br /><br />
                            जानकारी आपको हमारी सेवाएं के अनुकूलन मदद करेगी आप विज्ञापनों है हम आपके द्वारा खोजों को तेजी से विज्ञापन दिखाने के लिए प्रदान करते हैं जो अधिक प्रासंगिक और आपको समान हितों के लोगों के साथ जल्दी कनेक्ट करने में मदद करते हैं। आप हमारी सेवाओं का उपयोग - खोज करने और जानकारी साझा करने के लिए, अन्य लोगों के साथ संवाद करने या नई सामग्री बनाने के लिए अलग अलग तरीकों से कर सकते हैं। हमारी सेवाओं का उपयोग करते समय, आपको पता होना चाहिए कि हम आपकी जानकारी आपकी गोपनीयता की रक्षा के लिए इस तरह के एक तरीके से उपलब्ध कराने में संभाल लेंगे।
                            <br /><br />
                            अगर आपके पास हमारी गोपनीयता प्रथाओं के बारे में कोई भी सवाल है, तो कृपया हमसे संपर्क करने के लिए इस गोपनीयता पालिसी के अंत में विवरण को देखें। 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">एकत्र जानकारी</h2>
                        <p class="sub_header_title text-justify">हम व्यक्तिगत जानकारी एकत्र कर सकते हैं जो आप की पहचान कर सकते हैं, जैसे कि आपका नाम और ईमेल पता और अन्य जानकारी है जो आप की पहचान नहीं हैं। जब आप हमारी वेबसाइट के माध्यम से व्यक्तिगत जानकारी प्रदान करते हैं, जानकारी दुनिया भर के अन्य देशों में स्थित सर्वरों के लिए भेजी जा सकती है। जानकारी दो मायनों में एकत्र किया जा सकती है:<br /><br />
                            जानकारी जो आपको प्रदान करते हैं। हमारी सुविधाओं में से कई का उपयोग करने के लिए, आपको अपने व्यक्तिगत पर्यटक ट्यूब खाता बनाने की जरूरत है। इसलिए आपको शुरू में अपना नाम और ईमेल पता प्रदान करने की जरूरत है। अधिक व्यक्तिगत जानकारी रोचक विषयों और सदस्यों को अपने कनेक्शन के अनुकूलन अपने प्रोफ़ाइल में आवश्यक हो जाएगा। हम यह भी जो आप सेवाओं का उपयोग कर रहे हैं, ट्रैक कर सकते है विशेष रूप से कि कैसे आप सामग्री और विज्ञापनों के साथ बातचीत करते है हम आपको बताएंगे।
                            <br /><br />
                            - क्रेडिट / डेबिट कार्ड<br />
                            सभी क्रेडिट / डेबिट कार्ड के विवरण और संबंधित व्यक्तिगत पहचान की जानकारी, बेची, साझा, किराए या पट्टे पर किसी भी तीसरे पक्ष के लिए नहीं संग्रहीत की जाएगी।
                            <br /><br />
                            जानकारी जो हमे आपकी सेवाओं के उपयोग से मिलती है। हम सेवाओं के बारे में जानकारी एकत्र कर सकते हैं कि आप उपयोग करते है और आप उन्हें कैसे उपयोग करते हैं, जैसे कि कब आप वेबसाइट पर गये थे जो हमारी विज्ञापन सेवाओं का उपयोग कर या आप देख सकते हैं और हमारे विज्ञापनों और सामग्री के साथ बातचीत करते है। यह जानकारी शामिल हैं:  
                            <br /><br />
                            सिस्टम जानकारी<br />
                            हम हार्डवेयर, ऑपरेटिंग सिस्टम संस्करण, अद्वितीय उपकरण पहचानकर्ता, और मोबाइल नेटवर्क की जानकारी सहित आपके सिस्टम की जानकारी एकत्र कर सकते हैं जो क्रम में हमारे जीपीएस आधारित सेवाओं के साथ प्रदान करने के लिए आपके पर्यटन ट्यूब खाते में जोड़ा जा सकता है।
                            <br/><br/>
                            सेशन की जानकारी<br />
                            हम स्वचालित रूप से इकट्ठा करने और सर्वर लॉग में स्टोर के बारे में जानकारी कर सकते हैं: <br />
                            - खोज अनुयोग।<br />
                            - इंटरनेट प्रोटोकॉल पता।<br />
                            - ब्राउज़र प्रकार और भाषा।<br />
                            - दिनांक और अनुरोध और रेफरल यूआरएल का समय।
                            <br/><br/>
                            ठिकाने की जानकारी<br/>
                            हम एकत्रित और एक मोबाइल डिवाइस द्वारा भेजे गए जीपीएस संकेतों से अपने ठिकाने के बारे में जानकारी प्रक्रिया कर सकते हैं। हम भी पास में वाई-फाई एक्सेस पॉइंट और मोबाइल टावर से आपकी डिवाइस का सेंसर डेटा द्वारा स्थानों को ढूँढ सकते हैं। 
                            <br/><br/>
                            अद्वितीय आवेदन संख्या<br/>
                            हम सिंक्रनाइज़ स्वत: अद्यतन के साथ प्रदान करने के लिए ऑपरेटिंग सिस्टम और अनुप्रयोग संस्करण संख्याओं के साथ अद्वितीय आवेदन संख्या में एक साथ एकत्र किया जा सकता है।  
                            <br/><br/>
                            कुकी और अनाम पहचानकर्ता<br/>
                            कुकीज़ जो अद्वितीय ब्राउज़र या पर्यटक ट्यूब खातों की पहचान की जानकारी स्टोर करने के लिए पर्यटक ट्यूब सेवाओं के आपके उपयोग पर हमारे व्यापार भागीदारों के लिए पेशकश करने के लिए है, विशेष रूप से इस तरह के विज्ञापन सेवाओं के रूप में इस्तेमाल किया जा सकता है।   
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">एकत्र जानकारी के उपयोग</h2>
                        <p class="sub_header_title text-justify">हम जानकारी का उपयोग कर सकते है जो हमने सामान्य रूप में आप के बारे में एकत्र की है : <br/>
                            - उत्पादों और सेवाओं के उद्धार जो आपको अनुरोध किया है;<br/>
                            - अपने खाते का प्रबंधन और ग्राहक सहायता के साथ आप प्रदान करते हैं;<br/>
                            - अनुसंधान प्रदर्शन, और आपके द्वारा उपयोग अथवा रुचि, हमारे उत्पादों, सेवाओं, या सामग्री, या उत्पादों, सेवाओं या सामग्री दूसरों के द्वारा की पेशकश के बारे में विश्लेषण करते हैं;<br/>
                            - आप ई-मेल, डाक मेल, टेलीफोन और / या उत्पादों या सेवाओं के बारे में मोबाइल उपकरणों के द्वारा बातचीत कर सकते है, जो आपकी रुचि या तो हमसे या अन्य तीसरे पक्ष से हो सकती है;<br/>
                            - विकसित और प्रदर्शन सामग्री और विज्ञापन हमारे साइट और अन्य साइटों पर अपने हितों के अनुरूप है;<br/>
                            - अपनी पात्रता को सत्यापित करने और प्रतियोगिता और घुड़दौड़ का जुआ के संबंध में पुरस्कार को वितरित करना है;<br/>
                            - हमारे नियम और शर्तों का प्रवर्तन;<br/>
                            - हमारे कारोबार का प्रबंधन और<br/>
                            - संग्रह के समय में कार्य के रूप में अन्यथा आप के लिए वर्णित प्रदर्शन करते हैं।
                            <br/><br/>
                            एकत्र जानकारी, बनाए रखने के लिए रक्षा और मौजूदा सेवाओं में सुधार, नए लोगों को विकसित करने के लिए, और अपने उपयोगकर्ताओं को सुरक्षित करने के लिए प्रयोग किया जाता है। हम भी इस जानकारी का उपयोग कर आपको व्यक्तिगत सामग्री की पेशकश करते है – जैसे आपको और अधिक प्रासंगिक खोज परिणाम और विज्ञापन देते है।  
                            <br/><br/>
                            इसके अलावा, आप भी अन्य उपयोगकर्ताओं की सार्वजनिक प्रोफ़ाइल की जानकारी देख सकते हैं। 
                            <br/><br/>
                            हमारे साथ अपने संचार का रिकार्ड किसी भी मुद्दे को सुलझाने में मदद करने रखा सकते है जिसका आप सामना कर सकते है। 
                            <br/><br/>
                            हम अपनी सेवाओं और भविष्य में परिवर्तन या कार्यक्रमों के बारे में सूचित करने के लिए आपके ईमेल पते का उपयोग कर सकते हैं। 
                            <br/><br/>
                            हम निश्चित रूप से उन के अलावा किसी अन्य उद्देश्य के लिए जानकारी का उपयोग करने से पहले आपकी मंजूरी के लिए पूछेंगे जो इस गोपनीयता पालिसी में निर्धारित हैं। 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">शेयरिंग की जानकारी</h2>
                        <p class="sub_header_title text-justify">हम आप से अवगत होने के लिए पूछेगे कब और किसके साथ हम व्यक्तिगत या अन्य जानकारी साझा कर सकते हैं हम आपके या हमारी वेबसाइट पर आपकी गतिविधियां के बारे में या हमारी सेवाओं का उपयोग एकत्र कर सकते है। 
                            <br/><br/>
                            हम निम्नलिखित दलों के साथ छोड़कर आपकी सहमति से पहले आपकी व्यक्तिगत जानकारी साझा नहीं करते है: <br/>
                            - अधिकृत सेवा प्रदाताए: हम आपकी अधिकृत सेवा प्रदाताओं के साथ आपकी व्यक्तिगत जानकारी साझा कर सकते हैं जो हमारी ओर से कुछ सेवाएँ प्रदर्शन करते हैं। इन सेवाओं के आदेश को पूरा करने में, क्रेडिट कार्ड से भुगतान प्रसंस्करण, संकुल पहुंचाने, ग्राहक सेवा और विपणन सहायता उपलब्ध कराने, व्यापार और बिक्री विश्लेषण प्रदर्शन, हमारी वेबसाइट की कार्यक्षमता का समर्थन करना है, और प्रतियोगिता, जुआ, सर्वेक्षण और अन्य सुविधाओं के लिए हमारी वेबसाइट के माध्यम से पेशकश का समर्थन शामिल हो सकते हैं। इन सेवा प्रदाताओं को अपने कार्य करने के लिए आवश्यक निजी जानकारी का उपयोग हो सकता है लेकिन इसे शेयर या किसी अन्य प्रयोजनों के लिए खुद के द्वारा इस तरह की जानकारी का उपयोग करने की अनुमति नहीं है।<br/>                           
                            - व्यापार भागीदार: व्यक्तिगत जानकारी वीडियो, टिप्पणी या अन्य प्रयोक्ता प्रविष्टियों में निहित है, या खरीद आरक्षण बनाने या हमारी वेबसाइट या हमारी सेवाओं के माध्यम से पेशकश की पदोन्नति में आकर्षक दी है, हमारे व्यापार भागीदारी आपके द्वारा इन उत्पादों, सेवाओं, और प्रोन्नति की पेशकश करने के साथ साझा कर सकते है। इसके अलावा, जब आप एक विशेष व्यापारी की पेशकश या कार्यक्रम में संलग्न करने के लिए चुनाव करते है, आप हमें अपना ईमेल पता और उस व्यापारी को अन्य जानकारी प्रदान करने के लिए अधिकृत है।<br/>
                            - डायरेक्ट मेल भागीदार:। समय-समय पर हम वस्तुओं और सेवाओं के चयनित प्रदाताओं के साथ हमारे डाक मेलिंग सूची को साझा कर सकते हैं जो आपकी रुचि अनुसार हो सकती है। अगर आप इन प्रदाताओं डाक से प्राप्त करने के लिए पसंद नहीं करते हैं, तो आप हमें किसी भी समय सूचित कर सकते हैं।<br/>
                            - अन्य स्थितिया: हमे भी आपकी जानकारी का खुलासा हो सकता है:  <br/>
                            - एक सम्मन या इसी तरह की जांच की मांग, एक अदालत के आदेश या कानून प्रवर्तन या अन्य सरकारी एजेंसी से सहयोग के लिए एक अनुरोध के जवाब में; स्थापित या अपने कानूनी अधिकारों का प्रयोग करने के लिए; वैधानिक दावों के खिलाफ की रक्षा करने के लिए; या अन्यथा कानून द्वारा आवश्यक है। ऐसे मामलों में, हम बढ़ाने या किसी भी कानूनी आपत्ति या सही करने के लिए हमें उपलब्ध है, अपने विवेकाधिकार में माफ कर सकते हैं।<br/>
                            - जब हमें विश्वास है कि प्रकटीकरण, जांच रोकने के लिए, रिपोर्ट या अवैध गतिविधि के बारे में अन्य कार्रवाई, संदिग्ध धोखाधड़ी या अन्य गलत काम लेने के प्रयासों के संबंध में उचित नहीं है; रक्षा के लिए और अधिकारों, संपत्ति या हमारी कंपनी अपने उपयोगकर्ताओं, हमारे कर्मचारियों, या दूसरों की सुरक्षा की रक्षा करने के लिए; कानून लागू का अनुपालन या कानून प्रवर्तन के साथ सहयोग करने के लिए; या हमारी वेबसाइट के नियम और शर्तों या अन्य समझौतों या पालिसीयों को लागू करने के लिए है।<br/>
                            - एक पर्याप्त कॉरपोरेट लेनदेन के संबंध में, जैसे हमारे व्यापार की बिक्री, एक अनावरण, विलय, समेकन, या संपत्ति की बिक्री, या दिवालिया होने की अप्रत्याशित कार्यक्रम है।<br>
                            किसी अन्य पक्षकारों से जिसे हम व्यक्तिगत जानकारी का खुलासा कर आपकी गोपनीयता पालिसी हो सकती है जो वर्णन करता है कि वे कैसे उपयोग करके व्यक्तिगत जानकारी का खुलासा करते है। उन पालिसी को नियंत्रित का उपयोग कर, हैंडलिंग और आपकी व्यक्तिगत जानकारी का प्रकटीकरण करते है जब हम गोपनीयता पालिसी में वर्णित उन तृतीय पक्षों के साथ इसे साझा करते है। आप अपनी गोपनीयता प्रथाओं के बारे में अधिक जानकारी चाहते हैं, तो हम उन तृतीय पक्षों की वेबसाइटों की यात्रा करने के लिए प्रोत्साहित करते हैं। 
                            <br/><br/>
                            हम यह भी एकत्रित और गैर-व्यक्तिगत जानकारी साझा कर सकते हैं हम तीसरे पक्ष कंपनियों के साथ उपरोक्त परिस्थितियों से किसी के अधीन एकत्र विकास और हमारे वेबसाइटों पर और तीसरे पक्ष की वेबसाइटों पर लक्षित विज्ञापन देने के लिए हैI हम गैर-व्यक्तिगत जानकारी गठबंधन हम अन्य स्रोतों से एकत्र अतिरिक्त गैर-व्यक्तिगत जानकारी के साथ एकत्र कर सकते हैं। हम यह भी सलाहकार, विज्ञापनदाताओं और निवेशकों सहित तृतीय पक्षों के साथ एकत्रित जानकारी, सामान्य व्यापार विश्लेषण आयोजित करने के उद्देश्य के लिए साझा कर सकते हैं। उदाहरण के लिए, हम अपने विज्ञापनदाताओं के लिए हमारी वेबसाइट पर आगंतुकों की संख्या बता सकते हैं और सबसे लोकप्रिय सुविधाए या सेवा पहुँचा सकते हैं। यह जानकारी किसी भी व्यक्तिगत जानकारी में शामिल नहीं है और वेबसाइट की सामग्री और सेवाओं को विकसित करने के लिए इस्तेमाल किया जा सकता है जो हम आशा करते हैं कि आप और अन्य उपयोगकर्ताओं के रूचि और सामग्री और विज्ञापन लक्षित के लिए मिल जाएगी। 
                            <br/><br/>
                            साइट पर आप देख रहे विज्ञापन में से कुछ का चयन और तीसरे पक्ष द्वारा वितरित हैं, और इस तरह के विज्ञापन नेटवर्क, विज्ञापन एजेंसियों, विज्ञापनदाताओं और दर्शकों खंड प्रदाताओं के रूप में तीसरे पक्ष द्वारा दिया जाता है। ये तृतीय पक्ष आप और आपके ऑनलाइन गतिविधियों के बारे में जानकारी एकत्र कर सकते हैं, चाहे साइट पर या अन्य वेबसाइटों, कुकीज़ के माध्यम से, वेब बीकन, और अन्य प्रौद्योगिकियों अपने हितों को समझते हैं और विज्ञापन आप को वितरित करने के प्रयास में है जो आपके हितों के अनुरूप हैं। कृपया याद रखें कि हमे इन तृतीय पक्षों एकत्र उपयोग के लिए, या नियंत्रण, जानकारी नही हैं। इन तृतीय पक्षों की जानकारी प्रथाओं इस गोपनीयता पालिसी के द्वारा कवर नहीं हैं।                             
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">अभिगमन और व्यक्तिगत जानकारी को अद्यतन करने के विकल्प</h2>
                        <p class="sub_header_title text-justify">हमारी सेवाओं में से कई आप दूसरों के साथ जानकारी साझा करते हैं। याद रखें कि जब आप सार्वजनिक रूप से जानकारी साझा करते है, यह खोज इंजन द्वारा अनुक्रमित किया जा सकती है। आपके पास साझा करने और अपनी सामग्री हटाने पर अलग अलग विकल्प हैं। उदाहरण के लिए, आप कर सकते हैं:  <br/>
                            - अपने खाते से संबंधित जानकारी को प्रदर्शन या छिपाए।<br/>
                            - ठीक ट्यून कि कैसे आपका प्रोफ़ाइल विशेष उपयोगकर्ताओं के लिए प्रकट होता है।<br/>
                            - नियंत्रण कि कोन आप के साथ अपलोड का हिस्सा है।<br>
                            - हमारी सेवाओं की बहुत सी जानकारी हटाएँ।<br/>
                            - अपने ब्राउज़र में सभी कुकी ब्लॉक करे; हालांकि आपको पता होना चाहिए कि हमारी सेवाओं के बहुत से ठीक ढंग से काम नहीं कर सकते हैं अगर आपकी कुकी अक्षम हैं।<br/>
                            जब आप अपने व्यक्तिगत जानकारी अद्यतन करते हैं, हम आपकी पहचान का सत्यापन करने के लिए आपसे पूछ सकते हैं इससे पहले हम आपके अनुरोध पर कार्रवाई कर सकते हैं।  
                            <br/><br/>
                            यह भी अवगत रहें कि आप हमारी सेवाओं से जानकारी हटाने के बाद, हम अपने सक्रिय सर्वर और हमारे बैकअप सिस्टम पर अवशिष्ट प्रतियां रख सकते है।  
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">सुरक्षा</h2>
                        <p class="sub_header_title text-justify">हम अपने सब गठन रक्षा के लिए पर्यटक ट्यूब और जानकारी के लिए अननुमोदित उपयोग या अननुमोदित हैंडलिंग हमारे पास मौजूद है। इसलिए, हम करेंगे: <br/>
                            - एसएसएल का उपयोग कर अपनी कई सेवाओं को एन्क्रिप्ट करें।<br/>
                            - हमारे सर्वरों के लिए अननुमोदित शारीरिक का उपयोग के खिलाफ संरक्षण करे।<br/>
                            - कर्मचारियों, ठेकेदारों और एजेंटों के लिए व्यक्तिगत जानकारी का उपयोग सीमित है जो क्रम में यह प्रक्रिया में है कि जानकारी पता करने की जरूरत है, और जो सख्त गैर प्रकटीकरण दायित्वों के अधीन हैं।<br>
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">परिवर्तन</h2>
                        <p class="sub_header_title text-justify">हमारी गोपनीयता नीति को परिवर्तित या आवश्यकताओं और मानकों को पूरा करने के लिए कभी कभी अद्यतन किया जा सकता है, हम आपकी स्पष्ट मंजूरी के बिना इसके तहत आपके अधिकारों को कम नहीं करेंगेI किसी भी आगामी गोपनीयता पालिसी में परिवर्तन वर्तमान पेज पर पोस्ट किया जाएगा और आपको भी सीधे महत्वपूर्ण परिवर्तन की अधिसूचित किया जाएगा। इस गोपनीयता पालिसी के सभी पूर्व संस्करण भी आपकी समीक्षा के लिए रखा जाएगा। आप को क्रम में अक्सर इन वर्गों की यात्रा के लिए वेबसाइट पर परिवर्तन के बारे में अद्यतन करने के लिए प्रोत्साहित किया जाता है। संशोधनों के दिन पर प्रभावी हो जाएगा जो वे पोस्ट कर रहे हैंI 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad">
                        <h2 class="header_title">हमसे संपर्क करें</h2>
                        <p class="sub_header_title text-justify">अगर आपको इस गोपनीयता पालिसी के बारे में प्रश्न हैं, तो कृपया इस प्रकार डाक मेल या ईमेल के द्वारा हमसे संपर्क करें: 
                        </p>
                    </div>
                    <div class="col-xs-12 nopad">
                        <div class="bottom_border_grey_1"></div>
                    </div>
                </div>
                <div class="row no-margin margin_bottom_29">
                    <div class="col-xs-12 nopad StaticTxt">
                        <h2 class="header_title">पर्यटकट्यूबएफजेड-एलएलसी</h2>
                        <p class="sub_header_title text-justify">फ्लोर १; डीआईसी बिल्डिंग १२; ३५, डीआईसी स्ट्रीट; शहर दुबई; यूएई  </p>
                        <p><a href="mailto:support@touristtube.com" class="afaqMainStyle" title="{{ 'support@touristtube.com' }}">support@touristtube.com</a></p>
                        <p class="sub_header_title text-justify">{{'now'|date('Y')}} &copy; पर्यटकट्यूबएफजेड-एलएलसी 
                            <br/>
                            <span>अंतिम संशोधन की तिथि: नवम्बर२१, {{'now'|date('Y')}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}