{# empty Twig template #}
<tr>
<td>
<table width="633" height="52" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td rowspan="2" height="52" width="1"></td>
        <td bgcolor="#000000" width="41" height="48" rowspan="2"></td>
        <td bgcolor="#000000" align="left" width="137" valign="middle" rowspan="2">
            <img src="{{link_path}}email-logo-new.png" alt="Tourist Tube Logo" border="0" width="137" height="48" align="left" />
        </td>
        <td bgcolor="#000000" height="14"></td>
        <td width="112" bgcolor="#e9c21b" height="47" rowspan="2">
            <img src="{{link_path}}email-tchannel.jpg" alt="Tourist Tube Logo" border="0" width="112" height="47"/></td>
        <td bgcolor="#FFFFFF" height="52" width="1" rowspan="2"></td>
    </tr>
    <tr>
        <td height="34" bgcolor="#000000">
            <font face="Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">
                <strong><i></i></strong>
            </font>
        </td>
    </tr>
</table>
</td>
</tr>