{# empty Twig template #}
<tr height="24" bgcolor="#FFFFFF">
    <td height="24" bgcolor="#FFFFFF" width="633"></td>
</tr>
<tr height="79" bgcolor="#FFFFFF">
    <td height="79" bgcolor="#FFFFFF" width="633">
        <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tr height="17" bgcolor="#FFFFFF">
    <td colspan="5" height="17" width="540">
    </td>
    <td rowspan="4" valign="top" width="58">
    <img src="{{link_path}}ttrightpic.jpg" alt="Tourist Tube picture" border="0" width="58" height="58"/>
    </td>
    <td width="35">
    </td>
    </tr>
    <tr height="16" bgcolor="#FFFFFF">
    <td colspan="2" height="16" width="46">
    </td>
    <td colspan="3" width="533" height="16">
    <font face="Arial, Helvetica, sans-serif" size="3" color="#1F1F1F">Hello  {{userName|raw}},
    </font>
    </td>
    <td width="35">
    </td>
    </tr>
    <tr height="17" bgcolor="#FFFFFF">
    <td colspan="5" height="17" width="540">
    </td>
    <td width="35">
    </td>
    </tr>
    </table>
    </td>
</tr>