<body>
    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        {{displayTopHead}}
        {{displayPartHeadProfileMentioned}}
        <tr>
             <td>
                            <table width="478" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td height="3" valign="top"></td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
<td valign="top" >
    <span style="color: #1f1f1f; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
        Upon your request, your password has been reset on Tourist Tube:<br/>New Password: {{new_pass}}
    </span></td>
                                </tr>
                             
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top">
                                        <font face="Arial, Helvetica, sans-serif" size="1" color="#1f1f1f"><i>
                                            <strong>Thank you<br />Tourist Tube Support</strong></i></font>
                                    </td>
                                </tr>
                            </table>
             </td>
        </tr>
        {{displayfoot}}
    </table>
</body>