.nopad{
    padding: 0;
}
.pageheadertitle_travelapp{
    color: #1e262a;
    font-size: 35px;
    margin: 0;
    line-height: 35px;
    padding-top: 50px;
}
.margin_top_25{
    margin-top: 25px;
}
.corporatetitle_travelapp{
    font-weight: bold;
    font-size: 13px;
    color: black;
    line-height: 20px;
    margin: 0px;
    margin-bottom: 3px;
}
.corporatetitlename_travelapp{
    font-size: 27px;
    color: black;
    line-height: 27px;
}
.pricenumbtxt_travelapp{
    font-size: 48px;
    color: black;
    line-height: 48px;
    float: right;
    padding-top: 5px;
}
.pricespanunit_travelapp{
    font-size: 30px;
}
.pricenumrightstyle_travelapp{
    padding-right: 47px;
}
.borderedsectiontwolines_travelapp{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 2px;
    float: left;
    width: 100%;
}
.moduleLogo{
    float: left; 
    width:7%; 
    padding: 20px; 
    background-color: #eac31a;
    height: 125px;
}
.moduleInfo{
    float: right; 
    width: 93%;
}
.book-hotel-icon{
    background : rgba(0, 0, 0, 0) url("/images/corporate/hotelicon_corp.png") no-repeat scroll center center;
}
.book-flight-icon{
    background : rgba(0, 0, 0, 0) url("/images/corporate/whiteplane_corp.png") no-repeat scroll center center;
}
.book-deal-icon{
    background : rgba(0, 0, 0, 0) url("/images/corporate/locationicon_corp.png") no-repeat scroll center center;
}
.approvalall_travelapp{
    padding-right: 47px;
}
.approvalalltext_travelapp{
    font-size: 14px;
    color: #c2205d;
    line-height: 30px;
    float: right;
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.approvalalltext_travelapp:hover{
    color: #c2205d;
    text-decoration: none;
}
.approvetext_travelapp{
    font-size: 14px;
    color: #c2205d;
    line-height: 20px;
    position: relative;
    margin-top: 6px;
    font-weight: bold;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.approvetext_travelapp:hover{
    color: #c2205d;
    text-decoration: none;
}
.approve_travelapp{
    padding-right: 48px;
}
.approve_travelapp button{
    float: right;
    margin-right: 0;
    color: black;
    background-color: white;
    border: none;
    font-weight: bold;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}
.approve_travelapp button:hover{
    color: black;
    background-color: transparent;
}
.approve_travelapp span {
    position: relative;
    margin-top: 6px;
    color: #00b7d9;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}
.approve_travelapp span:hover {
    color: #00b7d9;
}
.approve_travelapp div{
    color: #c2205d;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
}
.approve_travelapp div.barseptrapp{
    color: black;
}
.flightLogo{
    width: 50px;
    height: 31px;
}


.pagerWrapper {padding-right: 4px;padding-bottom: 5px;padding-top: 28px; cursor: pointer;}
.pagerWrapper ul li{list-style: none;float: left;font-weight: bold;}
.pagerWrapper ul li span{display: inline-block}
.pagerWrapper ul li a{color:#5e5e5e;display: inline-block;padding: 0 2px; font-size: 15px; font-weight: normal;}
.pagerWrapper ul li.active a{color:#2d2d2d; font-weight: bold; cursor: default;}
.pagerWrapper ul li a:hover{color:#2d2d2d;display: inline-block;padding: 0 2px}


.pagerWrapper ul li {
    float: left;
    font-weight: bold;
    list-style: outside none none;
}
.pagerWrapper ul li span {
    display: inline-block;
}
.pagerWrapper ul li.active a {
    color: #2d2d2d;
}
.pagination.pagerWrapper{
    padding: 0;
}

.pagination li{
    list-style: none;
    float: left;
    cursor: pointer;
}
.pagination{
    float: right;
    margin-top: 6px;
    margin-bottom: 15px;
}
.prev_pg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/pager_btns.jpg");
    background-origin: padding-box;
    background-position: -12px 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 15px;
    width: 12px;
}
.first_pg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/pager_btns.jpg");
    background-origin: padding-box;
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 15px;
    width: 12px;
    padding-left: 0;
}
.next_pg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/pager_btns.jpg");
    background-origin: padding-box;
    background-position: -27px 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 15px;
    width: 12px;
}
.last_pg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/pager_btns.jpg");
    background-origin: padding-box;
    background-position: -38px 3px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 15px;
    width: 12px;
}
.approval_pagination{
    
}
@media  (max-width:767px){
    
    .pagerWrapper {
        padding-bottom: 15px;
        padding-right: 4px;
        padding-top: 0;
    }
    .pagerWrapper ul li a{font-size: 17px; }
    .margin_top_25 {
        margin-top: 0px;
    }
}



.newselectboxcontainerwidthandpad{
    width: 145px;
    height: 75px;
    margin-right: 10px;
    float: left;
}
.textcontainerlineh{
    height: 75px;
    line-height: 75px;
    margin-right: 22px;
    float: left;
}
.filterbytext_paydue{
    font-size: 13px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}


.selectboxes_padue select {
    background-image: url("/images/corporate/blackselectarrow.png");
    background-position: right 15px center;
    background-repeat: no-repeat;
    height: 75px;
    line-height: 75px;
    border: 2px solid #e1e3e5;
    font-size: 16px;
    padding-left: 21px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: black;
}

.deparrival_paydue input {
    height: 75px;
    line-height: 75px;
    border: 2px solid #e1e3e5;
    font-size: 16px;
    padding-left: 21px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    background-color: white;
    color: black;
}

.deparrival_paydue input::-webkit-input-placeholder ,.deparrival_input_corpfl::-webkit-input-placeholder {
    color: black;
    opacity: 1 !important;
}

.deparrival_paydue input:-moz-placeholder ,.deparrival_input_corpfl:-moz-placeholder {
    color: black;
    opacity: 1 !important;
}

.deparrival_paydue input::-moz-placeholder ,.deparrival_input_corpfl::-moz-placeholder { 
    color: black;
    opacity: 1 !important;
}

.deparrival_paydue input:-ms-input-placeholder ,.deparrival_input_corpfl:-ms-input-placeholder{  
    color: black;
}
.submitbutcontainer_paydue{
    float: left;
}
.submitpayduebut{
    width: 76px;
    height: 75px;
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    border: none;
    background: rgba(0, 0, 0, 0) url("/images/corporate/rightdirectionarrowcorp.png") no-repeat scroll center center;
}



.htelnametext_paydue{
    float: left;
    font-size: 16px;
    padding-right: 40px;
    color: black;
    line-height: 22px;
}
.margintop24_paydue{
    margin-top: 24px;
}
.bookingnumtextgrey_paydue{
    color: #535353;
    font-size: 16px;
    line-height: 22px;
    padding-right: 20px;
    float: left;
}
.booknumberblack_paydue{
    color: #010101;
    padding-left: 7px;
}
.pincodetextgrey_paydue{
    color: #535353;
    font-size: 16px;
    line-height: 22px;
    float: left;
}
.pincodenumberblack_paydue{
    color: #010101;
    padding-left: 7px;
    background: rgba(0, 0, 0, 0) url("/images/corporate/blacklock_paydue.png") no-repeat scroll right center;
    padding-right: 13px;
}
.chekinouttextgrey_paydue{
    font-size: 13px;
    font-weight: bold;
    color: #8b9398;
    line-height: 22px;
    float: left;
}
.datebigblack_paydue{
    font-size: 16px;
    color: black;
    padding-left: 5px;
}
.dayblacksmal_paydue{
    color: black;
    padding-left: 3px;
}
.dotpadleftright12{
    padding-left: 12px;
    padding-right: 12px;
}
.margin_top_15{
    margin-top: 15px;
}
.rightpricesmal_paydue{
    font-size: 16px;
    color: black;
    padding-right: 47px;
    float: right;
    line-height: 22px;
}
.flightcomptext_paydue{
    color: black;
    font-size: 22px;
    line-height: 22px;
    float: left;
}
.flightcomptext_smal_paydue{
    font-size: 16px;
    padding-left: 5px;
}
.deparrbluetext_paydue{
    font-size: 14px;
    color: #00b7d9;
    line-height: 22px;
}
.datetextcom_paydue{
    font-size: 14px;
    line-height: 22px;
    color: black;
    padding-right: 15px;
    float: left;
}
.boldtext_paydue{
    font-weight: bold;
}
.lastboldblacktext_paydue{
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: black;
    font-weight: bold;
}
.hiddenpmargin p{
    margin: 0;
}
@media  (max-width:991px){
    .submitbutcontainer_paydue {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .submitpayduebut {
        margin-left: 0px;
        background: rgba(0, 0, 0, 0) url("/images/corporate-flight/submitbut_theme1_corp.png") no-repeat scroll center center;
    }
}
@media  (max-width:767px){
    .textcontainerlineh {
        margin-right: 0;
        width: 100%;
    }
    .newselectboxcontainerwidthandpad {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .margin_top_25 {
        margin-top: 0px;
    }
}

.inputs_row {
    padding-top: 20px;
}
.inputs_row .row_items {
    float: left;
}
.row_items {
    padding-right: 10px;
}
.inputs_row .row_items input, .inputs_row .row_items select {
    height: 75px;
    width: 175px;
    border-radius: 15px;
    border: 2px solid #e1e3e5;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
    margin-right: 10px;
    font-size: 16px;
    color: black;
}
.submit_button button {
    width: 73px;
    height: 73px;
    border: none;
    padding: 0;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0) url("/images/corporate/rightdirectionarrowcorp.png") no-repeat scroll center center;
    background-size: contain;
}
.filter_label {
    font-weight: bold;
    font-size: 13px;
    line-height: 75px;
    text-transform: uppercase;
    padding-right: 23px;
    padding-left: 10px;
}