.margin_top_20{margin-top: 20px;}
.margin_top_40{margin-top: 40px;}
.margin_bottom_40{margin-bottom: 40px;}
.padding_left_15{padding-left: 15px;}
.corprate_newdesign_container .search_title{color: #db3a69;}
.corprate_newdesign_container .search_title span{color: #000000;}
.corprate_newdesign_container .bordered_row{height: 7px;border-top: 3px solid #bababa; border-bottom: 3px solid #bababa;}


.corprate_newdesign_container .default_input {width:100%;height:76px;background:#fff;border-radius:5px; border:1px solid #d5d6d8;text-align:center;font-weight:bold;color:black;font-weight: normal;}
.corprate_newdesign_container .default_input option {text-align:center;font-weight:bold; color:black;}
.corprate_newdesign_container .default_input:focus{ border-color:#db3a69;background:#f1f2f2}
.corprate_newdesign_container .forgetpass_link{ color: #787878;font-size: 13px;text-decoration: underline;text-align: right;display: block;margin-top: 2px; cursor: pointer;}
.corprate_newdesign_container .default_input::-webkit-input-placeholder { /* Chrome */
  color: black;
  font-size: 16px;
  font-weight: normal;
}
.login_error_msg {
    color: red;
    font-size: 16px;
    font-weight:normal;
    margin-bottom: 10px;
}
.wrong_credentials, .wrong_credentialspass {
    color: red;
    display: none;
    font-size: 16px;
    font-weight:normal;
    margin-bottom: 10px;
}
.forgot_your_password{display: none;}
.corprate_newdesign_container .default_input:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-size: 16px;
  font-weight: normal;
}
.corprate_newdesign_container .default_input::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1 !important;;
  font-size: 16px;
  font-weight: normal;
}
.corprate_newdesign_container .default_input:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1 !important;;
  font-size: 16px;
  font-weight: normal;
}
.corprate_newdesign_container label{width: 100%;font-size: 16px;}
.corprate_newdesign_container .form-group input.checkboxlabelinput{ height:13px;}
.corprate_newdesign_container .checkboxlabel{line-height: 13px;font-size: 13px;color: #787878;}
.corprate_newdesign_container .checkbox .checkboxlabel input[type="checkbox"]{ margin-top: 0;}
.corprate_newdesign_container .submit_yellow{width: auto;height: 60px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px; padding: 6px 25px; float: left;}
.corprate_newdesign_container .back_grey{width: auto;height: 60px;border: none;color: #201b1d;background-color: #e2e2e2;font-size: 22px; padding: 6px 25px;border-radius: 5px;display: block;float: left;line-height: 60px;padding-top: 0;margin-left: 10px;text-decoration: none;}

.corprate_newdesign_container .common_grey_text{font-size: 16px;margin-bottom: 0;color: #585858;line-height: 20px;}
.corprate_newdesign_container .common_black_text{font-size: 19px;color: black;line-height: 23px;}
.common_black_text.black_sub_text{
    font-size: 22px;
    margin-top: 22px;
}
.corprate_newdesign_container .signin_corporate_list{padding-left: 0;}
.corprate_newdesign_container .signin_corporate_list li{list-style: none;font-size: 16px;color: #585858;line-height: 24px;padding-left: 15px;}

@media (max-width:767px){
    .corprate_newdesign_container .submit_yellow {margin-bottom: 10px;}
}
