.leftmenuebackcolor_corp{
    background-color: white;
}
.contentbackcolor_corp{
    background-color: white;
}
.plane_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/whiteplane_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #1e262a;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #1e262a;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #666666;
}
.headerstyle_corp{
    color: #a6acb0;
}
.licolback_corpfl{
    background-color: #f1f2f2;
    color: #1e262a;
}
.flight_buts.active > .licolback_corpfl{
    background-color: #000000;
    color: #ffffff;
}
.deparrival_corpflight .input_corpfl_style{
    background-color: #a6acb0;
    color: #ffffff;
}
.selectboxes_corpfl select{
    background-color: #a6acb0;
    color: #ffffff; 
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme1_corp.png") no-repeat scroll center center;
}
/*filter:
======================*/
.menuestyle_filter{
     color: #606060;
}
.filtergreytext_chs{
    color: #606060;
}
.title_with_icon_chs .txt_chs{
    color: #606060;
}
.price-convert-text ,.currency-convert-text{
    color: #606060;
}
label .price-convert-text ,label .currency-convert-text{
    color: #606060;
}
.colorgreyfrc_hs{
    color: #606060;
}
.menuestyle_leftmenue{
    color: #606060;
}
.fly-filter{
    background-color: white;
}
.fly-filter h1 {
    color: #606060;
}
.title_with_icon .txt {
    color: #606060;
}
.wording label{
    color: #606060;
}
.checkbox label, .addchild {
    color: #606060;
}
.airline-f label{
    color: #606060;
}
