
.input_inputcontainer_proset {
    height: 75px;
    line-height: 75px;
    border: none;
    font-size: 16px;
    padding-left: 40px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    background-color: #a6acb0;
    color: #ffffff;
}
.col-lg-12 .newpad, .col-md-12 .newpad, .col-sm-12 .newpad, .col-xs-12 .newpad, .col-lg-6 .newpad, .col-md-6 .newpad, .col-sm-6 .newpad, .col-lg-4 .newpad, .col-md-4 .newpad, .col-sm-4 .newpad {
    padding: 10px;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
.headermysetting_proset{
    font-size: 35px;
    color: #1e262a;
    line-height: 35px;
    padding-top: 50px;
}
.headermysetting_proset span{
    font-size: 17px;
    color: #1e262a;
    line-height: 35px;
}
.backimgpp_proset{
    float: left;
    width: 105px;
    height: 104px;
    border-radius: 20px;
    background-color: #a6acb0;
}
.ppicdiv_proset{
    float: left;
    padding-left: 10px;
    margin-top: 40px;
}
.ppictextgen_proset{
    font-size: 16px;
    color: #8b9398;
    line-height: 25px;
}
.ppictextup_proset{
    cursor: pointer;
    text-decoration: underline;
}
.input_inputcontainer_proset::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    opacity: 1;
}
.input_inputcontainer_proset::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    opacity: 1;
}
.input_inputcontainer_proset:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    opacity: 1;
}
.input_inputcontainer_proset:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    opacity: 1;
}

.selectboxes_proset select {
    background-image: url("/media/images/corporate-flight/fldwn_corpfl.png");
    background-position: right 15px center;
    background-repeat: no-repeat;
    height: 75px;
    line-height: 75px;
    border: none;
    font-size: 16px;
    padding-left: 36px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #a6acb0;
    color: #ffffff;
}
.inputselect_inputcontainer .emailinputback_proset {
    background-image: url("/media/images/corporate/emaillogoblack_proset.png");
    background-position: 15px 28px;
    background-repeat: no-repeat;
}
.flyer-detail_proset{
    color: #1e262a;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 50px;
}
.flyer-detail_proset span{
    text-transform: none;
    padding-left: 3px;
}
.margin-top-15{
    margin-top: 15px;
}
.removebut_proset{
    cursor: pointer;
    font-size: 16px;
    color: #8b9398;
    padding-left: 10px;
    height: 75px;
    margin: 0;
    line-height: 75px;
}
.removebut_proset span{
    text-decoration: underline;
    padding-left: 4px;
}
.addbutpadleft_proset{
    padding-left: 36px;
    padding-top: 15px;
    height: 22px;
    line-height: 22px;
}
.saveprosetbut{
    font-size: 16px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #1e262a;
    border: none;
    width: 100%;
    margin-top: 35px;
}