.leftmenuebackcolor_corp{
    background-color: #c2205d;
}
.contentbackcolor_corp{
    background-color: white;
}
.plane_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/planetheme2_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #ffffff;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #ffffff;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #ce4d7d;
}
.headerstyle_corp{
    color: #a6acb0;
}
.licolback_corpfl{
    background-color: #181f23;
    color: #ffffff;
}
.flight_buts.active > .licolback_corpfl{
    background-color: #c2205d;
    color: #ffffff;
}
.deparrival_corpflight .input_corpfl_style{
    background-color: #2e3c44;
    color: #ffffff;
}
.selectboxes_corpfl select{
    background-color: #2e3c44;
    color: #ffffff; 
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme3_corp.png") no-repeat scroll center center;
}
/*filter:
======================*/
.menuestyle_filter{
    color: white;
}
.menuestyle_leftmenue{
   color: white;
}
.filtergreytext_chs{
    color: white;
}
.title_with_icon_chs .txt_chs{
    color: white;
}
.price-convert-text ,.currency-convert-text{
   color: #606060;
}
label .price-convert-text ,label .currency-convert-text{
    color: white;
}
.colorgreyfrc_hs{
    color: white;
}
.menuestyle_leftmenue{
    color: white;
}
.fly-filter{
    background-color: #c2205d;
}
.fly-filter h1 {
    color: white;
}
.title_with_icon .txt {
    color: white;
}
.wording label{
   color: white;
}
.checkbox label, .addchild {
    color: white;
}
.airline-f label{
    color: white;
}