.leftmenuebackcolor_corp{
    background-color: #206ac2;
}
.contentbackcolor_corp{
    background-color: white;
}
.flight_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/planetheme2_corp.png") no-repeat scroll center center;
}
.hotel_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelthem2_corp.png") no-repeat scroll center center;
}
.attraction_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/locationtheme2_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #ffffff;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #ffffff;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #4d88ce;
}
.headerstyle_corp{
    color: #a6acb0;
}
div.searchButtonsUpdate{
    color: #ffffff;
}
.licolback_corpfl{
    background-color: #181f23;
    color: #ffffff;
}
.flight_buts.active > .licolback_corpfl{
    background-color: #206ac2;
    color: #ffffff;
}
.input_corpfl_style{
    background-color: #2e3c44;
    color: #ffffff;
}
.selectboxes_corpfl select.childAgeSelect{
    background-color: #2e3c44;
    color: #ffffff; 
    border: none;
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme2_corp.png") no-repeat scroll center center;
}
.inputcolorndstyle_corp{
    background-color: #2e3c44;
}
.inputwizbut_corp {
    color: white; 
}
.moinbut_corp {
    background: url("/media/images/corporate-hotel/minusbut_corp_theme2.png") no-repeat scroll right center;
}
.plusbut_corp {
    background: url("/media/images/corporate-hotel/plusbut_corp_theme2.png") no-repeat scroll left center;
}
.valueinput_corp {
    color: #ffffff;
    background: url("/media/images/corporate-hotel/bordercorp_theme1.png") no-repeat scroll right center;
}
/*attractions:
=================*/

.destinations_title {
    color: black;
}
.destinations_subtitle {
    color: black;
}

/*departure-flight:
======================*/
.leftmenueheaderdeptxt_dfc{
    color: white;
}
.tablelistcontainer li{
    color: white;
    border: 1px solid white;
}
.checkbox label.checkboxlabel_dfc {
    color: white;
}
.radiobox label.radiolabel_dfc {
    color: white;
}
.makebooktitle_dfc{
    color: white;
}
.searchsubtitle_dfc{
    color: white;
}
.fromtextli_dfc{
    color: white;
}
.titledynamicline .blacktxttitlewizbar {
    color: white;
}
.titledynamicline .bartitlewizbar {
    color: white;
}
.datelefttextday_dfc{
    color: white;
}
.firsttextimgswiper_dfc{
    color: white;
}
.pricenumbimgswiper_dfc{
    color: white;;
}
.successstory-wrapper{
    border: 10px solid white;
}
.lefttextfilter_dfc{
    color: white;
}
.lefttextfilter_dfc span{
    color: white;
}
.absolutelefttextblack{
    color: white;
}
.rightsmalforcontainers .centerredfordivstexts span.firstspandfc {
    color: white;
}


/*arrival-flight:
======================*/
.titledynamicline_afc .blacktxttitlewizbar {
    color: white;
}
.titledynamicline_afc .bartitlewizbar {
    color: white;
}
.titledynamicline_afc .blacundertxt_afc {
    color: white;
}
.floatingrightnexttoimg .righttoimgtextone {
    color: white;
}
.floatingrightnexttoimg .righttoimgtexttwo {
    color: white;
}
.commonroghtdivtext_afc {
    color: white;
}
.allcontainersbackground_afc{
    border: 2px solid #00b7d9;
}

/*filter:
======================*/
.menuestyle_filter{
    color: white;
}
.menuestyle_leftmenue{
   color: white;
}
.filtergreytext_chs{
    color: white;
}
.title_with_icon_chs .txt_chs{
    color: white;
}
.price-convert-text ,.currency-convert-text{
    color: #606060;
}
label .price-convert-text ,label .currency-convert-text{
    color: white;
}
.colorgreyfrc_hs{
    color: white;
}
.menuestyle_leftmenue{
    color: white;
}
.filtersearchgrey_attractionsearch{
    color: white;
}