.backgroundcol1_corp{
    background-color: #206ac2;
}
.backgroundcol2_corp{
    background-color: #1d60af;
}
.textunimg_corp{
    color: #ffffff;
}
.plane_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/planetheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.hotelicon_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelthem2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.locationicon_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/locationtheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.hotelndflight_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelndflighttheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.flightndatt_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/flightndatttheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.mytourbag_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/tourbagtheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.hotelndattra_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelndatttheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.flightndhotndatt_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/flightndhotelndatttheme2_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}