body{
    background-color: #434343;
}
.navbar-default {
    background-color: #434343;
}
.corporatehomemenue li .weltext_corporate {
    color: white;
}
.corporatehomemenue li .linkli_corporate ,.corporatehomemenue li .linkli_corporate:hover{
    color: white;
}
.corporatehomemenue li .linkseparater_corporate{
    color: white;
}
.footerulstyle li a ,.footerulstyle li a:hover, .change_theme_txt{
    color: white;
}
.seperatorwhitestyle{
    color: white;
}
.firstmenuedivborderbut_corpfl{
    border-bottom: 11px solid #434343;
}
.borderrightgrey_corpfl{
    border-right: 11px solid #434343;
}
#leftmenuecorpcontainer{
    display: none;
    border-bottom: 10px solid #434343;
}
.menuestyle_leftmenue-click{
    border-bottom: 10px solid #434343;
}
.menuestyle_filter-click{
    border-bottom: 10px solid #434343;
}
@media (max-width:767px){
    body{
        background-color: white;
    }
    .firstmenuedivborderbut_corpfl{
        border-bottom: none;
    }
    .borderrightgrey_corpfl{
        border-right: none;
    }
}