@font-face {
    font-family: 'FRADMCN';
    src: url('fonts/FRADMCN.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.width100{
    width: 100%;
}
.corporate_container1{
    padding: 0;
}
.containerwhite{
    background-color: white;
}
.paddingBottom10{
    padding-bottom: 10px;
}
.nopad{
    padding: 0;
}
.headersMenu1{
    display: block;
}
.absoluteindiv {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.notificationMsg{
    display: block;
    color: #2e2e2e;
    cursor: default;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin: 10px 0;
    text-align: left;
}
.plane_corp {
    background-position: center calc(50% - 12px);
}
.formsearch{
    display: none;
}
.searchButtonsUpdate{
    position: relative;
    float: left;
    display: block;
    font-size: 25px;
    font-family: 'FRADMCN';
    color: #1e262a;
    line-height: 27px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
.margintop40{
    margin-top: 40px;
}
.searchButtonsUpdate:hover{
    text-decoration: underline;
}
.cancelSearch{
    display: none;
}
.textunimg_corp {
    font-family: 'FRADMCN';
    font-size: 35px;
    position: absolute;
    top: calc(50% + 27px);
    text-align: center;
    width: 100%;
    line-height: 35px;
    margin: 0;
}
.corpleftmenue_corp{
    padding: 0;
}
.corpleftmenue_corp li{
    text-align: center;
    list-style: none;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    font-family: 'FRADMCN';
}
.corpleftmenue_corp li:last-child{
    border-bottom: none;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    font-size: 25px;
    text-decoration: none;
}
.corpleftmenue_corp li a.active{
    color: #eac31a;
}
.ulcontainerpadding_corp{
    padding-left: 20px;
    padding-right: 20px;
}
.marbut10_corp{
    margin-bottom: 0px;
}
.dropdownliststyle_corp{
    position: absolute;
    left: calc(50% - 14px);
    bottom: 9px;
    cursor: pointer;
}
#xsdropdown_corp{
    display: none;
}
.headerstyle_corp{
    font-size: 35px;
    line-height: 35px;
    padding-left: 10px;
}
.rightcontainercolor_corpfl{
    padding-left: 10px;
    padding-right: 10px;
}
.threebutlist_corpfl{
    padding-left: 0;
    padding-right: 0;
}
.threebutlist_corpfl li{
    list-style: none;
    float: left;
}
.licolback_corpfl{
    height: 75px;
    font-size: 16px;
    line-height: 75px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;   
}
.threebutlist_corpfl li:last-child{
    margin-right: 0px;
}
.martop10_corfl{
    margin-top: 10px;
}
.input_corpfl_style{
    height: 75px;
    line-height: 75px;
    border: none;
    font-size: 16px;
    padding-left: 40px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;  
}
.deparrival_corpflight .deparrival_input_corpfl{
    background-position: 15px 28px;
    background-repeat: no-repeat;
}
.moreflightstyle{
    color: #8b9398;
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
    padding-left: 39px;
}
#multiDestinationContainer{
    display: none;
}
.marginright20_corfl{
    margin-right: 20px;
}
.col-lg-12 .newpad ,.col-md-12 .newpad , .col-sm-12 .newpad ,.col-xs-12 .newpad ,.col-lg-6 .newpad ,.col-md-6 .newpad,.col-sm-6 .newpad ,.col-lg-4 .newpad ,.col-md-4 .newpad,.col-sm-4 .newpad {
    padding: 10px;
}
.selectboxes_corpfl select{
    background-position: right 15px center;
    background-repeat: no-repeat ;
    height: 75px;
    line-height: 75px;
    border: none;
    font-size: 16px;
    padding-left: 36px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}
.input_corpfl_style::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1 !important;
}

.input_corpfl_style:-moz-placeholder {
    color: #ffffff;
    opacity: 1 !important;
}

.input_corpfl_style::-moz-placeholder { 
    color: #ffffff;
    opacity: 1 !important;
}

.input_corpfl_style:-ms-input-placeholder {  
    color: #ffffff;
}
.submitcororateflight{
    width: 94px;
    height: 95px;
    padding: 0;
    margin: 0 0 10px 0;
    border: none;
    margin-top: 27px;
}
.text-allign-center{
    text-align: center;
}
.row.rowspecialstyle{
    margin-left: 0;
    margin-right: 0;
}
.downarrow_menuefilters{
    position: relative;
    left: calc(50% - 15px);
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 10px;
}
.uparrow_menuefilters{
    position: relative;
    left: calc(50% - 15px);
    cursor: pointer;
    padding-bottom: 20px;
    padding-top: 10px;
}
.menuestyle_leftmenue{
    font-size: 25px;
    line-height: 25px;
    padding-left: 8px;
}
.menuestyle_leftmenue-click{
    cursor: pointer;
    height: 94px;
}
.uparrow_menuefilters-click{
    cursor: pointer;
}

@media  (min-width:1200px){
    .corporate_container1, .container.base_container1{
        width:100%;
        padding: 0 70px;
	max-width: 1920px;
    }
    .headersMenu2{
        width: 66.6667%;
    }
}
@media (min-width:1200px)  and (max-width:1450px){
    .contentbackcolor_corp{
        width: 83.3333%;
    }
    .headersMenu2{
        width: 83.3333%;
    }
}
@media (min-width:992px)  and (max-width:1199px){
    .ulcontainerpadding_corp {
        padding-left: 5px;
        padding-right: 5px;
    }
    .headersMenu1{
        display: none;
    }
    .headersMenu2{
        width: 100%;
    }
}
@media (min-width:768px)  and (max-width:991px){
    .threebutlist_corpfl li:last-child{
        margin-top: 10px;
    }
    .headersMenu1{
        display: none;
    }
    .headersMenu2{
        width: 100%;
    }
}
@media (min-width:768px) {
    .row.rowspecialstyle{
        display: flex;
    }
}
@media  (max-width:767px){
    .headersMenu1{
        display: none;
    }
    #xsdropdown_corp{
        display: block;
    }
    .rightcontainercolor_corpfl {
        padding-left: 0;
        padding-right: 0;
    }
}
