.contactustitle_cocus {
    color: #1e262a;
    font-size: 35px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    line-height: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.subtitleheader_cocus{
    color: black;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.subtitletextblack_cocus ,.subtitletextblack_cocus a ,.subtitletextblack_cocus a:hover{
    color: black;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}
.subtitletextblacksmal_cocus ,.subtitletextblacksmal_cocus a ,.subtitletextblacksmal_cocus a:hover{
    color: black;
    font-size: 16px;
    margin: 0;
    line-height: 22px;
}
.marbut30{
    margin-bottom: 30px;
}