.marbut10_corp{
    margin-bottom: 10px;
}
.width100{
    width: 100%;
}
.absoluteindiv {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.textunimg_corp {
    font-family: 'FRADMCN';
    font-size: 35px;
    position: absolute;
    top: calc(50% + 27px);
    text-align: center;
    width: 100%;
    line-height: 35px;
    margin: 0;
}

.dropdownliststyle_corp{
    position: absolute;
    left: calc(50% - 14px);
    bottom: 9px;
    cursor: pointer;
}
.makebooktitle_dfc{
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 28px;
    padding-top: 73px;
}
.paddingcontainer10{
    padding: 10px;
}
.searchsubtitle_dfc{
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 20px;
    padding-top: 30px;
}
.searchcomponentslist_dfc{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.searchcomponentslist_dfc li{
    display: inline-block;
    width: auto;
}

.firstsectioncontainer_dfc{
    float: left;
}
.fromtextli_dfc{
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
.citynameli_dfc{
    color: #6b6b6b;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.fromtologo_dfc{
    float: left;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
.paddingtop35_dfc{
    padding-top: 35px;
}
.borderlistgreysearch_dfc{
    padding-left: 18px;
    padding-right: 18px;
    float: left;
}
.changesearchbut-dfc{
    width: 162px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #00b7d9;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    float: left;
}
.butchangesearchcontainer_dfc{
    margin-top: -50px;
}
.bordertopgrey-dfc{
    border-top: 1px solid #d8d8d8;
    float: left;
    margin-top: 30px;
}
.searchButtonsUpdate {
    margin-top: 20px;
}
.floadtright{
    float: right;
}
.changecurbut-dfc{
    height: 42px;
    width: 273px;
    line-height: 42px;
    text-align: center;
    border: 2px solid #ebeff1;
    cursor: pointer;
    color: #00b7d9;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 7px;
}
.margintopz-dfc{
    margin-top: 0;
}
.leftbuttextprices-dfc{
    line-height: 56px;
    color: #787878;
    font-size: 14px;
    padding-right: 17px;
    margin-right: 23px;
    background: rgba(0,0,0,0) url("/media/images/corporate/ffblue-dfc.png") no-repeat scroll right 26px;
    margin-bottom: 0;
}
.lefttextwizback_dfc{
    font-size: 16px;
    color: #00304c;
    float: left;
    background: rgba(0,0,0,0) url("/media/images/corporate/backimgtext_dfc.png") no-repeat scroll center center;
    line-height: 30px;
    width: 307px;
    height: 82px;
    margin-top: 15px;
    padding-left: 21px;
    padding-top: 10px;
}
.righttextsmalwidth-dfc{
    float: right;
    font-size: 13px;
    color: #787878;
    width: 60%;
    line-height: 20px;
    margin-top: 24px;
}
.lefttextwizback_dfc span{
    font-size: 25px;
}
.greybuttextwp_dfc{
    color: #787878;
    font-size: 14px;
    line-height: 20px;
    padding-left: 21px;
    padding-top: 20px;
}
.greybuttextwa_dfc {
    color: #787878;
    font-size: 14px;
    line-height: 20px;
    padding-left: 21px;
    padding-top: 10px;
}
.greybuttextwa_dfc a ,.greybuttextwa_dfc a:hover{
    color: #787878;
    font-size: 14px;
    text-decoration: underline;
}
.allcontainersbackground{
    background-color: #eaeef0;
    min-height: 53px;
    margin-top: 63px;
}
.leftcontainer_dfc{
    text-align: left;
    height: 53px;
    line-height: 53px;
}
.centercontainer_dfc{
    text-align: center;
    height: 53px;
    line-height: 53px;
}
.rightcontainer_dfc{
    text-align: right;
    height: 53px;
    line-height: 53px;
}
.lefttextdep{
    float: left;
    font-size: 20px;
    color: #00304c;
    line-height: 22px;
    padding-left: 21px;
    line-height: 53px;
}
.bmiddletextimg{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-top: 11px;;
}
.righttextarrival{
    float: left;
    font-size: 20px;
    color: #00304c;
    line-height: 22px;
    line-height: 53px;
}
.marginperc{
    margin-left: 10%;
}
.rightdivlefttext{
    font-size: 17px;
    line-height: 53px;
    color: #00304c;
    text-align: left;
}
.titledynamicline {
    color: black;
    text-align: left;
    overflow: hidden;
    margin: 0;
    margin-top: 80px;
}
.titledynamicline .imgtitlewizbar img {
    padding-right: 15px;
}
.titledynamicline .blacktxttitlewizbar {
    font-size: 27px;
    line-height: 25px;
}
.titledynamicline .greytxttitlewizbar {
    color: #a9a9a9;
    font-size: 20px;
    line-height: 25px;
    padding-right: 15px;
}
.titledynamicline .bartitlewizbar {
    font-size: 20px;
    line-height: 25px;
    padding-left: 14px;
    padding-right: 14px;
}
.titledynamicline:before, .titledynamicline:after {
    content:'';
    width:100%;
    border-bottom:2px solid #eaeef0;
    display:inline-block;
}
.titledynamicline:before {
    margin-left:-100%;
}
.titledynamicline:after {
    margin-right:-100%;
}

.titledynamicline_afc {
    color: black;
    text-align: left;
    overflow: hidden;
    margin: 0;
}
.titledynamicline_afc .imgtitlewizbar img {
    padding-right: 15px;
}
.titledynamicline_afc .blacktxttitlewizbar {
    font-size: 27px;
    line-height: 65px;
}
.titledynamicline_afc .greytxttitlewizbar {
    color: #a9a9a9;
    font-size: 20px;
    position: absolute;
    top: 14px;
    right: 43px;
}
.titledynamicline_afc .bartitlewizbar {
    font-size: 20px;
    line-height: 65px;
    padding-left: 14px;
    padding-right: 6px;
}
.titledynamicline_afc .blacundertxt_afc {
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    right: 0;
    top: 44px;
}
.leftcontainer_afc{
    text-align: left;
    height: 65px;
    line-height: 65px;
}
.rightcontainer_afc{
    text-align: right;
    height: 53px;
    line-height: 53px;
}
.centercontainer_afc .sndimg_afc {
    float: left;
    line-height: 65px;
    padding-top: 18px;
    padding-left: 15px;
}
.centercontainer_afc {
    height: 65px;
    line-height: 65px;
}
.centercontainer_afc .floatingrightnexttoimg {
    float: left;
    margin-top: 19px;
    padding-left: 5px;
}
.floatingrightnexttoimg .righttoimgtextone {
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    margin: 0;
}
.floatingrightnexttoimg .righttoimgtexttwo {
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    margin: 0;
}


.datelefttextday_dfc{
    float: left;
    width: auto;
    font-size: 16px;
    line-height: 22px;
    padding-left: 55px;
}
.margintop20{
    margin-top: 20px;
}
.pagingdayfloatright{
    width: auto;
    float: right;
}
.paginationlist-dfc{
    list-style: none;
    margin: 0;
    padding: 0;
}
.paginationlist-dfc li{
    display: inline-block;
    font-size: 14px;
    color: #bcbcbc;
    line-height: 22px;
    cursor: pointer;
}
.paginationlist-dfc li.separatorulpage{
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}
.ppt_dfc{
    padding-right: 7px;
}
.pgd_dfc{
    padding-left: 7px;
}
.leftfiltersection_dfc{
    border: 2px solid #eaeef0;
    border-right: 0;
    padding-right: 17px;
    padding-left: 50px;
    height: 52px;
    line-height: 52px;
}
.lefttextfilter_dfc{
    font-size: 16px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    float: left;
}
.lefttextfilter_dfc span{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.margintop40{
    margin-top: 40px;
}
.rightbluetextfilter{
    color: #00b7d9;
    font-size: 14px;
    line-height: 52px;
    float: right;
}
.filterrightul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.filterrightul li{
    display: inline-block;
    line-height: 52px;
    color: #00b7d9;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    border: 2px solid #eaeef0;
    border-left: none;
    margin-right: -4px;
    height: 52px;
    cursor: pointer;
}
.filterrightul li:first-child{
    border-left: 2px solid #eaeef0;
}
.filterrightul li:hover {
    background-color: #00b7d9;
    color: white;
    border: 2px solid #00b7d9;
    border-left: none;
}
.filterrightul li:first-child:hover{
    border-left: 2px solid #00b7d9;
}
.filterrightul li.selectedblue{
    background-color: #00b7d9;
    color: white;
    border: 2px solid #00b7d9;
    border-left: none;
}
.filterrightul li.selectedblue:first-child{
    background-color: #00b7d9;
    color: white;
    border: 2px solid #00b7d9;
}
.allcontainerstyle-dfc{
    min-height: 124px;
    margin-top: 30px;
}
.floatingrighttextwimg{
    font-size: 14px;
    line-height: 18px;
    color: #616161;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.rightfloatingtextsearchiimg_dfc{
    margin-top: 10px;
    margin-right: 8px;
    float: right;
}
.leftcontsearchborder{
    min-height: 124px;
    border: 3px solid #f4f3f9;
}
.smalfnsnleftcontainer{
    min-height: 124px;
}
.floatingrighttextwimg span{
    margin-left: 9px;
}
.absolutelefttextblack{
    position: absolute;
    left: 17px;
    bottom: 42px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.bigrightcontainerstyleout{
    min-height: 124px;
}
.bigrightcontainerstylein{
    min-height: 124px;
    background-color: #f4f3f9;
    width: 100%;
    margin-left: 1px;
}
.width30{
    width: 30%;
    float: left;
    min-height: 124px;
}
.width40{
    width: 40%;
    float: left;
    min-height: 124px;
}
.textcontainer{
    display: table;
    width: 100%;
}
.destinationupblack{
    margin: 0;
    padding: 0;
    color: #00304c;
    padding-left: 10px;
    font-size: 16px;
    line-height: 43px;
    display: table-cell;
    vertical-align: middle;
    height: 124px;
}
.newrightstyletext{
    padding-left: 0;
    text-align: right;
    padding-right: 10px;
}
.textcontainer .destinationupblack span.timedwnblack {
    color: #00304c;
    font-size: 26px;
    line-height: 22px;
}
.twotextwzimgcontainer{
    display: table; 
    width: 100%;
    margin-left: -9px;
}
.treesectiontextndimg{
    margin: 0;
    padding: 0;
    color: #00304c;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    display: table-cell;
    vertical-align: middle;
    height: 124px; 
}
.twotextwzimgcontainer .treesectiontextndimg span.nonstopunderlined {
    text-decoration: underline;
}
.rightcontainerssmal{
    min-height: 124px;
}
.rightsmalforcontainers{
    width: 100%;
    min-height: 124px;
    display: table; 
}
.centerredfordivstexts{
    margin: 0;
    padding: 0;
    padding-top: 0px;
    color: #8e8e8e;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    height: 124px;
    padding-top: 33px;
}
.rightsmalforcontainers .centerredfordivstexts span.firstspandfc {
    font-size: 22px;
    line-height: 18px;
}
.rightsmalforcontainers .centerredfordivstexts span.sndspandfc {
    color: #d10000;
    font-size: 12px;
    line-height: 15px;
}
.rightsmalforcontainers .centerredfordivstexts span.thirdspandfc {
    cursor: pointer;
}
.borderforcontainer{
    min-height: 124px;
    border: 3px solid #f4f3f9;
}
.newpadforcontainers {
    padding: 0;
    padding-left: 10px;
}
.bluetopabstext{
    color: #00b7d9;
    font-size: 16px;
    position: absolute;
    top: 3px;
    left: 21px;
    margin: 0;
    padding: 0;
}
.economycontainer{
    display: none;
    width: 100%;
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: white;
    z-index: 200;
    margin-top: 7px;
    height: auto;
}
.bordertoplogo-dfc{
    position: absolute;
    display: none;
    bottom: -8px;
    left: calc(50% - 7px);
    z-index: 250;
}
.commonpopupcoloredtext{
    height: 41px;
    width: 100%;
    padding-left: 17px;
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}
.commonpopupcoloredtext p{
    margin: 0;
    padding: 0;
}
.firstcoloreddivcontainer{   
    background-color: #f7f7f7;
    color: #2e2e2e;
}
.sndcoloreddivcontainer{
    background-color: #22592f;
    color: #ffffff;
}
.thirdcoloreddivcontainer{
    background-color: #1b3d2b;
    color: #ffffff;
}
.forthcoloreddivcontainer{
    background-color: #406dc0;
    color: #ffffff;
}
.communtextpopup_style{
    font-size: 13px;
    color: #2e2e2e;
    line-height: 29px;
}
.communtextpopup_style img{
    padding-right: 5px;
}
.communtextpopup_style span.underlinedtext{
    text-decoration: underline;
}
.borderbetween_dfc{
    float: left;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.forthconim_dfc{
    width: 100%;
    height: 67px;
    max-width: 210px;
}
.textunderimgpopup{
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    padding-top: 2px;
    line-height: 15px;
    font-size: 13px;
    color: #2e2e2e;
}
.textalligncenter_dfc{
    text-align: center;
}
.pricecurtextsmall{
    font-size: 13px;
    color: #2e2e2e;
    line-height: 16px;
    margin: 0;
    padding-top: 10px;
}
.pricecurnumbsmall{
    font-size: 19px;
    color: #2e2e2e;
    line-height: 19px;
}
.margintop6{
    margin-top: 6px;
}
.buttonspopups{
    cursor: pointer;
    height: 41px;
    line-height: 41px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 15px;
    background-color: #00b7d9;
}
@media  (min-width:768px){
    #xsdropdown_corp{
        display: none !important;
    }
    #leftmenuecorpcontainerxs{
        display: block !important;
    }
}
@media  (max-width:1199px){
    .righttextsmalwidth-dfc {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
}
@media (min-width:1200px)  and (max-width:1450px){
    .contentbackcolor_corp{
        width: 83.3333%;
    }
}
@media (min-width:992px)  and (max-width:1199px){
    .butchangesearchcontainer_dfc {
        margin-top: 25px;
    }
    .leftfiltersection_dfc{
        padding-right: 2px;
        padding-left: 5px;
    }
    .titledynamicline_afc .blacundertxt_afc {
        right: 0;
        top: 44px;
        left: 205px;
    }
    .titledynamicline_afc .greytxttitlewizbar {
        right: 0;
        left: 206px;
    }
    .commonroghtdivtext_afc {
        padding-left: 15px;
    }
}
@media (min-width:768px)  and (max-width:991px){
    .butchangesearchcontainer_dfc {
        margin-top: 0;
    }
    .searchcomponentslist_dfc li.martop10smxs{
        margin-top: 40px;
    }
    .rightdivlefttext {
        padding-left: 21px;
    }
    .newpadforcontainers {
        padding-left: 0;
        margin-top: 10px;
    }
    .commonroghtdivtext_afc {
        padding-left: 15px;
    }
    .titledynamicline_afc .blacundertxt_afc {
        right: 0;
        top: 43px;
        left: 204px;
    }
    .titledynamicline_afc .greytxttitlewizbar {
        right: 0;
        left: 204px;
    }
}
@media  (max-width:767px){
    .butchangesearchcontainer_dfc {
        margin-top: 20px;
    }
    .borderlistgreysearch_dfc{
        display: none;
    }
    .searchcomponentslist_dfc li.lipadxs{
        padding-left: 20px;
        padding-right: 20px;
    }
    .marginperc {
        margin-left: 0;
    }
    .rightdivlefttext {
        padding-left: 21px;
    }
    .newpadforcontainers {
        padding-left: 0;
        margin-top: 10px;
    }
    .titledynamicline_afc .blacundertxt_afc {
        right: 6px;
        top: 65px;
    }
    .centercontainer_dfc {
        margin-top: 10px;
    }
    .commonroghtdivtext_afc {
        padding-left: 15px;
    }
}
@media  (max-width:500px){
    .xspopupstyle{
        width: 100%;
    }
}
@media  (max-width:490px){
    .leftbuttextprices-dfc {
        line-height: 27px;
        background: none;
    }
    .changecurbut-dfc {
        float: left;
    }
}
@media  (max-width:460px){
    .textcontainer .destinationupblack span.timedwnblack {
        font-size: 16px;
    }
    .destinationupblack {
        padding-left: 5px;
    }
    .newrightstyletext {
        padding-right: 5px;
    }
    .twotextwzimgcontainer {
        margin-left: -28px;
    }
}
@media (min-width:768px)  and (max-width:991px){
    .leftfiltersection_dfc {
        border-right: 2px solid #eaeef0;
    }
    .margintopsm{
        margin-top: 10px;
    }
}
@media  (max-width:767px){
    .leftfiltersection_dfc {
        border-right: 2px solid #eaeef0;
    }
    .filterrightul li {
        width: 100%;
        border: 2px solid #eaeef0;
        margin-top: 10px;
    }
    .leftfiltersection_dfc {
        padding-left: 5px;
    }
}
/*
swiper:
----------------------*/

.successstory-wrapper{
    margin-top: 12px;
    position: relative;
    max-height: 323px;
}
.swiper-container-ss {
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    max-width: 970px;
    width: 100%;
    z-index: 1;
    margin-top: 25px;
}
.swiper-slide img{
    margin: 0 auto;
    height: 25px;
}
.swiper-container-ss.s1 .swiper-slide {
    cursor: pointer;
    border-right: 1px solid #c1c1c1;
    height: 60px;
}
.swiper-slide{
    position: relative;
    width: auto;
}
.swiper-button-ss-next, .swiper-button-ss-prev {
    color: #393937;
    cursor: pointer;
    font: 24px/27px Arial,sans-serif;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 63px;
    width: 30px;
    z-index: 100;
}
.swiper-button-ss-prev {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/ppt_dfc.png") no-repeat scroll center center;
    left: 0;
}
.swiper-button-ss-next {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/pgd_dfc.png") no-repeat scroll center center;
    right: 0;
}
.firsttextimgswiper_dfc{
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.pricetextimgswiper_dfc{
    text-align: center;
    line-height: 20px;
    color: #8e8e8e;
    font-size: 12.6px;
    padding: 0;
    margin: 0;
}
.pricenumbimgswiper_dfc{
    text-align: center;
    line-height: 20px;
    font-size: 18.9px;
    padding: 0;
    margin: 0;
}


@media  (max-width:992px){
    .swiper-container-ss.s1 .swiper-slide {
        border-right: none;
    }  
}

/*leftmenuecss:
======================*/

.leftmeuedfcstyle{
    margin-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
}
.leftmenueheaderdeptxt_dfc{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 10px;
}
.tablelistcontainer{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tablelistcontainer li{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
}
.tablelistcontainer li.nlb{
    border-left: none;
}
.tablelistcontainer li.ntb{
    border-top: none;
}
.tablelistcontainer li.nbb{
    border-bottom:  none;
}
.tablelistcontainer li.nrb{
    border-right:   none;
}
.checkbox label.checkboxlabel_dfc {
    font-size: 15px;
    padding-left: 16px;
}
.checkbox input.checkboxinput_dfc{
    margin-left: 0;
}
.radiobox label.radiolabel_dfc {
    font-size: 15px;
    padding-left: 5px;
    font-weight: normal;
}
.radiobox input.radioinput_dfc{
    margin-left: 0;
}
.marbut2radio{
    margin-bottom: 2px;
}
@media (min-width:992px)  and (max-width:1450px){
    .leftmeuedfcstyle {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media  (max-width:767px){
    #leftmenuecorpcontainerxs{
        display: none;
    }
    #xsdropdown_corp{
        display: block;
    }
}

/*arrval css 
===========*/
.allcontainersbackground_afc{
    min-height: 65px;
    margin-top: 63px;
    border: 2px solid #00b7d9;
}
.commonroghtdivtext_afc {
    font-size: 14px;
    line-height: 65px;
}
.fr_afc{
    float: right;
}
.fl_afc{
    float: left;
}
.textund_afc{
    text-decoration: underline;
    padding-right: 15px;
}
@media (min-width:1450px)  and (max-width:1600px){
    .titledynamicline_afc .greytxttitlewizbar {
        right: 33px;
    }
    .titledynamicline_afc .blacundertxt_afc {
        right: -10px;
    }
    .titledynamicline_afc .imgtitlewizbar img {
        padding-right: 5px;
    }
    .titledynamicline_afc .blacktxttitlewizbar {
        font-size: 25px;
    }
    .titledynamicline_afc .bartitlewizbar {
        padding-left: 8px;
    }
}
@media (min-width:1200px)  and (max-width:1300px){
    .titledynamicline_afc .greytxttitlewizbar {
        right: 33px;
    }
    .titledynamicline_afc .blacundertxt_afc {
        right: -10px;
    }
    .titledynamicline_afc .imgtitlewizbar img {
        padding-right: 5px;
    }
    .titledynamicline_afc .blacktxttitlewizbar {
        font-size: 25px;
    }
    .titledynamicline_afc .bartitlewizbar {
        padding-left: 8px;
    }
}
@media (min-width:420px)  and (max-width:767px){
    .titledynamicline_afc .blacundertxt_afc {
        right: 0;
        top: 44px;
        left: 204px;
    }
    .titledynamicline_afc .greytxttitlewizbar {
        right: 0;
        left: 204px;
    }
}
@media (min-width:320px)  and (max-width:419px){
    .titledynamicline_afc .greytxttitlewizbar {
        font-size: 17px;
        right: 0;
        left: 51px;
        top: 50px;
    }
    .titledynamicline_afc .blacundertxt_afc {
        right: 0;
        left: 51px;
        top: 73px;
    }
    .titledynamicline_afc .imgtitlewizbar img {
        padding-right: 5px;
    }
    .titledynamicline_afc .blacktxttitlewizbar {
        font-size: 25px;
    }
    .titledynamicline_afc .bartitlewizbar {
        padding-left: 8px;
    }
    .centercontainer_afc {
        margin-top: 25px;
    }
}