.rytibtitle_ryt{
    color: #00304c;
    line-break: 22px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 5px;
}
.btbdivcontainer_ryt{
    height: 58px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.verticlemiddletextallign{
    display: table;
    height: 58px;
}
.middletext{
    vertical-align: middle;
    display: table-cell;
    color: #00304c;
    font-size: 16px;
    padding-left: 73px;
    background: rgba(0,0,0,0) url("/media/images/corporate/greyjuste_ryt.png") no-repeat scroll left 21px center;
    line-height: 17px;
}
.tripsumtextdivcontainer{
    width: auto;
    float: left;
    padding-right: 20px;
}
.tripsumtextdiv{
    line-height: 22px;
    color: #00304c;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.margintopcontainer45{
    margin-top: 45px;
}
.tripdetailscontainer_ryt{
    width: auto;
    float: left;
}
.travelerslinecontainer{
    margin-bottom: 0;
    padding-bottom: 0;
}
.travelerslinecontainer span.travelerfchild{
    line-height: 22px;
    color: #00304c;
    font-size: 16px;
    padding-right: 157px;
    width: auto;
}
.travelerslinecontainer span.pricesndchild{
    line-height: 22px;
    color: #00304c;
    font-size: 20px;
    width: auto;
}
.bookfeelinecontainer{
    margin-bottom: 0;
    padding-bottom: 0;
}
.bookfeelinecontainer span.bookfeefchild{
    line-height: 22px;
    color: #00304c;
    font-size: 16px;
    width: auto;
    padding-right: 60px;
}
.bookfeelinecontainer span.triptotalsndchild{
    line-height: 22px;
    color: #00304c;
    font-size: 20px;
    width: auto;
}
.bookfeelinecontainer span.totalpricethrdchild{
    line-height: 40px;
    color: #00304c;
    font-size: 40px;
    width: auto;
}
.bookfeelinecontainer span.pricetopchild{
    line-height: 22px;
    color: #00304c;
    font-size: 22px;
    width: auto;
    position: absolute;
}
.biggreyborder_ryt{
    width: 100%;
    border-top: 11px solid #434343;
    float: left;
    margin-top: 15px;
}
.aircompwizimg{
    line-height: 22px;
    color: #8e9293;
    font-size: 22px; 
    float: left;
    margin-top: 20px;
}
.listfl1stcont_ryt{
    line-height: 27px;
    color: #00304c;
    font-size: 27px;
    float: left;
    margin: 0;
    padding: 0;
}
.fromtocontainer_ryt{
    float: right;
    width: auto;
    margin-right: 50px;
}
.fromtocontainer_ryt p{
    color: #a9a9a9;
    font-size: 17px;
    line-height: 26px;
}
.gulfcomp_ryt{
    padding-right: 5px; 
    float: left;
    margin-left: -8px;
}
.martop20_ryt{
    margin-top: 20px;
}
.fromdtoata_ryt{
    margin: 0;
    padding: 0;
    color: #00304c;
    font-size: 17px;
    line-height: 26px;
}
.datevalanddatacontainer_ryt{
    float: left;
    width: auto;
}
.datetextedatacontone_ryt{
    margin: 0;
    padding: 0;
    color: #00304c;
    font-size: 16px;
    line-height: 27px;
}
.datetextedataconttwo_ryt{
    margin: 0;
    padding: 0;
    color: #00304c;
    font-size: 26px;
    line-height: 27px;
}
.datetextedatacontsmwzmar_ryt{
    margin: 0;
    padding: 0;
    color: #00304c;
    font-size: 13px;
    line-height: 27px;
    margin-top: 10px;
    font-weight: bold;
}
.bagagedetails_ryt{
    margin: 0;
    padding: 0;
    color: #8e9293;
    font-size: 13px;
    line-height: 27px;
}
.bagagedetails_ryt span.bagagedetaillogo_ryt{
    margin-left: 4px;
    cursor: pointer;
}
.rightarrowflifgtdest_ryt{
    float: right;
    margin-right: 62px;
    margin-top: 32px;
}
.borderwpad40{
    float: left contour;
    width: 100%;
    border-top: 2px solid #eaeef0;
    margin-top: 27px;
}
.changeflight_ryt{
    margin: 0;
    padding: 0;
    color: #8e9293;
    font-size: 21px;
    line-height: 27px;
}
.changeflight_ryt span.changeflightdownarrow_ryt{
    margin-right: 10px;
    cursor: pointer;
}
@media (min-width:1200px){
    .paddingcontainer40{
        padding: 40px;
    }
}
@media (max-width:530px){
    .travelerslinecontainer span.travelerfchild {
        padding-right: 75px;
    }
    .bookfeelinecontainer span.bookfeefchild {
        padding-right: 10px;
    }
}