.leftmenuebackcolor_corp{
    background-color: white;
}
.contentbackcolor_corp{
    background-color: white;
}
.flight_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/whiteplane_corp.png") no-repeat scroll center center;
}
.hotel_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelicon_corp.png") no-repeat scroll center center;
}
.attraction_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/locationicon_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #1e262a;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #1e262a;
    float: left;
    line-height: 25px;
    width: 100%;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #666666;
}
.headerstyle_corp{
    color: #a6acb0;
}
.licolback_corpfl{
    background-color: #f1f2f2;
    color: #1e262a;
}
.flight_buts.active > .licolback_corpfl{
    background-color: #000000;
    color: #ffffff;
}
.input_corpfl_style{
    background-color: #a6acb0;
    color: #ffffff;
}
.selectboxes_corpfl select.childAgeSelect{
    background-color: #a6acb0;
    color: #ffffff; 
    border: none;
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme1_corp.png") no-repeat scroll center center;
}
.inputcolorndstyle_corp {
    background-color: #a6acb0;
}
.moinbut_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-hotel/minusbut_corp_theme1.png") no-repeat scroll right center;
}
.plusbut_corp {
    background: rgba(0, 0, 0, 0) url("/media/images/corporate-hotel/plusbut_corp_theme1.png") no-repeat scroll left center;
}
.inputwizbut_corp {
    color: white; 
}
.valueinput_corp {
    color: #ffffff;
    background: url("/media/images/corporate-hotel/bordercorp_theme1.png") no-repeat scroll right center;
}

/*attractions:
=================*/

.destinations_title {
    color: black;
}
.destinations_subtitle {
    color: black;
}


/*departure-flight:
======================*/
.leftmenueheaderdeptxt_dfc{
    color: #606060;
}
.tablelistcontainer li{
    color: #606060;
    border: 1px solid #6c6c6c;
}
.checkbox label.checkboxlabel_dfc {
    color: #606060;
}
.radiobox label.radiolabel_dfc {
    color: #606060;
}
.makebooktitle_dfc{
    color: #00304c;
}
.searchsubtitle_dfc{
    color: #00304c;
}
.fromtextli_dfc{
    color: #00111b;
}
.titledynamicline .blacktxttitlewizbar {
    color: #00304c;
}
.titledynamicline .bartitlewizbar {
    color: #00304c;
}
.datelefttextday_dfc{
    color: #00304c;
}
.firsttextimgswiper_dfc{
    color: black;
}
.pricenumbimgswiper_dfc{
    color: black;;
}
.successstory-wrapper{
    border: 10px solid #989b9c;
}
.lefttextfilter_dfc{
    color: #00304c;
}
.lefttextfilter_dfc span{
    color: #00304c;
}
.absolutelefttextblack{
    color: #010101;
}
.rightsmalforcontainers .centerredfordivstexts span.firstspandfc {
    color: #010101;
}



/*arrival-flight:
======================*/
.titledynamicline_afc .blacktxttitlewizbar {
    color: #00304c;
}
.titledynamicline_afc .bartitlewizbar {
    color: #00304c;
}
.titledynamicline_afc .blacundertxt_afc {
    color: #00304c;
}
.floatingrightnexttoimg .righttoimgtextone {
    color: #262626;
}
.floatingrightnexttoimg .righttoimgtexttwo {
    color: #262626;
}
.commonroghtdivtext_afc {
    color: #262626;
}
.allcontainersbackground_afc{
    border: 2px solid #00b7d9;
}

/*filter:
======================*/
.filtersearchgrey_attractionsearch{
    color: #606060;
}
.menuestyle_filter{
     color: #606060;
}
.filtergreytext_chs{
    color: #606060;
}
.title_with_icon_chs .txt_chs{
    color: #606060;
}
.price-convert-text ,.currency-convert-text{
    color: #606060;
}
label .price-convert-text ,label .currency-convert-text{
    color: #606060;
}
.colorgreyfrc_hs{
    color: #606060;
}
.menuestyle_leftmenue{
    color: #606060;
}
