.backgroundcol1_corp{
    background-color: #ffffff;
}
.backgroundcol2_corp{
    background-color: #e6e6e6;
}
.textunimg_corp{
    color: #2e3c44;
}
.plane_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/whiteplane_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.hotelicon_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelicon_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.locationicon_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/locationicon_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.hotelndflight_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelndflight_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.flightndatt_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/flightndatt_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.mytourbag_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/mytourbag_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.hotelndattra_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/hotelndattra_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}
.flightndhotndatt_corp{
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/flightndhotndatt_corp.png") no-repeat scroll center center;
    background-position: center calc(50% - 12px);
}