.nopad{
    padding: 0;
}
.pageheadertitle_paymentdue{
    color: #1e262a;
    font-size: 35px;
    margin: 0;
    line-height: 35px;
    padding-top: 50px;
}
.pageheadertitle_paymentdue span{
    font-size: 17px;
}
.newselectboxcontainerwidthandpad{
    width: 145px;
    height: 75px;
    margin-right: 10px;
    float: left;
}
.textcontainerlineh{
    height: 75px;
    line-height: 75px;
    margin-right: 22px;
    float: left;
}
.filterbytext_paydue{
    font-size: 13px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}


.selectboxes_padue select {
    background-image: url("/media/images/corporate/blackselectarrow.png");
    background-position: right 15px center;
    background-repeat: no-repeat;
    height: 75px;
    line-height: 75px;
    border: 2px solid #e1e3e5;
    font-size: 16px;
    padding-left: 21px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: black;
}
.margin_top_25{
    margin-top: 25px;
}

.deparrival_paydue input {
    height: 75px;
    line-height: 75px;
    border: 2px solid #e1e3e5;
    font-size: 16px;
    padding-left: 21px;
    width: 100%;
    border-radius: 20px;
    box-shadow: none;
    background-color: white;
    color: black;
}

.deparrival_paydue input::-webkit-input-placeholder ,.deparrival_input_corpfl::-webkit-input-placeholder {
    color: black;
    opacity: 1 !important;
}

.deparrival_paydue input:-moz-placeholder ,.deparrival_input_corpfl:-moz-placeholder {
    color: black;
    opacity: 1 !important;
}

.deparrival_paydue input::-moz-placeholder ,.deparrival_input_corpfl::-moz-placeholder { 
    color: black;
    opacity: 1 !important;
}

.deparrival_paydue input:-ms-input-placeholder ,.deparrival_input_corpfl:-ms-input-placeholder{  
    color: black;
}
.submitbutcontainer_paydue{
    float: left;
}
.submitpayduebut{
    width: 76px;
    height: 75px;
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    border: none;
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/rightdirectionarrowcorp.png") no-repeat scroll center center;
}
.pricenumrightstyle_paydue{
    padding-right: 47px;
}
.pricenumbtxt_paydue{
    font-size: 48px;
    color: black;
    line-height: 48px;
    float: right;
    padding-top: 50px;
}
.pricespanunit_paydue{
    font-size: 30px;
}
.borderedsectiontwolines_paydue{
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 2px;
    float: left;
    width: 100%;
}
.htelnametext_paydue{
    float: left;
    font-size: 16px;
    padding-right: 40px;
    color: black;
    line-height: 22px;
}
.margintop24_paydue{
    margin-top: 24px;
}
.bookingnumtextgrey_paydue{
    color: #535353;
    font-size: 16px;
    line-height: 22px;
    padding-right: 20px;
    float: left;
}
.booknumberblack_paydue{
    color: #010101;
    padding-left: 7px;
}
.pincodetextgrey_paydue{
    color: #535353;
    font-size: 16px;
    line-height: 22px;
    float: left;
}
.pincodenumberblack_paydue{
    color: #010101;
    padding-left: 7px;
    background: rgba(0, 0, 0, 0) url("/media/images/corporate/blacklock_paydue.png") no-repeat scroll right center;
    padding-right: 13px;
}
.chekinouttextgrey_paydue{
    font-size: 13px;
    font-weight: bold;
    color: #8b9398;
    line-height: 22px;
    float: left;
}
.datebigblack_paydue{
    font-size: 16px;
    color: black;
    padding-left: 5px;
}
.dayblacksmal_paydue{
    color: black;
    padding-left: 3px;
}
.dotpadleftright12{
    padding-left: 12px;
    padding-right: 12px;
}
.margin_top_15{
    margin-top: 15px;
}
.rightpricesmal_paydue{
    font-size: 16px;
    color: black;
    padding-right: 47px;
    float: right;
    line-height: 22px;
}
.flightcomptext_paydue{
    color: black;
    font-size: 22px;
    line-height: 22px;
    float: left;
}
.flightcomptext_smal_paydue{
    font-size: 16px;
    padding-left: 5px;
}
.deparrbluetext_paydue{
    font-size: 14px;
    color: #00b7d9;
    line-height: 22px;
}
.datetextcom_paydue{
    font-size: 14px;
    line-height: 22px;
    color: black;
    padding-right: 15px;
    float: left;
}
.boldtext_paydue{
    font-weight: bold;
}
.lastboldblacktext_paydue{
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: black;
    font-weight: bold;
}
.hiddenpmargin p{
    margin: 0;
}
.margintop100_mtd{
    margin-top: 100px;
}
.textallcontainer_mtd{
    float: left;
}
.floatimglefttotext_mtd{
    float: left;
    margin-top: 2px;
    width: 100%;
}
.padleftvwt_mtd{
    padding-left: 28px;
}
@media  (max-width:991px){
    .submitbutcontainer_paydue {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .submitpayduebut {
        margin-left: 0px;
        background: rgba(0, 0, 0, 0) url("/media/images/corporate-flight/submitbut_theme1_corp.png") no-repeat scroll center center;
    }
}
@media (min-width:768px)  and (max-width:991px){
    .floatimglefttotext_mtd {
        min-height: 87px;
    }
}
@media  (max-width:767px){
    .textcontainerlineh {
        margin-right: 0;
        width: 100%;
    }
    .newselectboxcontainerwidthandpad {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .margin_top_25 {
        margin-top: 0px;
    }
    .padleftvwt_mtd{
        padding-left: 0px;
    }
}