.corimgsclass_corp {
    width: 100%;
}
.width100 {
    width: 100%;
}
.notfoundcontstyle{
    background-color: white;
    height: auto;
    padding-bottom: 22px;
    padding-top: 22px;
}
.firsttextstyle{
    padding: 0;
    font-size: 25px;
    color: black;
    line-height: 25px;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
}
.sndtextstyle{
    padding: 0;
    font-size: 22px;
    color: black;
    line-height: 22px;
    margin: 0;
    margin-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
}
.blackxortextcommin {
    font-size: 16px;
    color: black;
    line-height: 18px;
    margin-bottom: 0;
    padding-left: 22px;
    padding-right: 22px;
}
.padrightdash {
    padding-right: 32px;
}
.borderbetween_ntfound{
    border-top: 1px solid #434343;
    width: 100%;
    float: left;
    margin-top: 22px;
    margin-bottom: 22px;
}
@media  (max-width:550px){
    .menuCopr{
        width: 100%;
    }
}