.corpoAdminMenu {
    font-size: 19px;
}
.corpoAdminMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.corpoAdminMenu ul li{
    float: left;
    margin-right: 25px;
}
.corpoMenu{
    color: white;
    text-decoration: none;
}
.corpoMenu a{
    color: white;
    text-decoration: none;
}
.corpoMenu a:hover{
    color: #eac31a;
    text-decoration: none;
}
.accountTable{
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 2px solid #434343;
    color:#434343;
    font-size: 16px;
}
.accountTable .TopBar{
    background-color: #434343;
    color:#ffffff;
}
.accountTable .topBarlist {
    height: 20px;
    border-right: 2px solid #434343;
    border-bottom: 2px solid #434343;
}
.alignLeft{
    text-align: left;
    padding-left: 8px;
}
.alignRight{
    text-align: right;
    padding-right: 8px;
}
.actions{
    width:200px;
}
.pageName{
    font-size: 30px;
    color: #eac31a;
    text-decoration: underline;
}
.AddAdmin{
    font-size: 20px;
}
.inputFields{
    float:left;
    width:20%;
    font-size: 18px;
    color:#434343;

    min-height: 51px;
}
.inputFields2{
    float:left;
    width: auto; 
    margin-right: 15px;
    font-size: 18px;
    color:#434343;
}

.inputFields label {
	padding: 5px;
	font-size: 15px;
	min-height: 41px;
	margin: 5px 0px;
	line-height: 2em; /*150%*/
}

.filterFields{
    float:left;
    width:10%;
    font-size: 18px;
    color:#434343;
}
.inputForm{
    /*float:right;*/
    width:80%;
    border: 1px solid #AFAFAF;
    height: 40px;
    margin: 5px 0px;
    padding: 5px;
    font-size: 15px;
}
.inputForm.small{
	width:50%;
}
.numberOfDays{
    float:right; 
    width:3%;
    padding-left: 4px;
    height: 40px;
    padding-top:15px;
    color: blue;
}
.inputCheckbox{
    float: left;
    font-size: 14px;
    color: #434343;
}
.inputName{
    float: left;
    text-align: left;
    line-height: 21px;
    margin: 0 0 0 5px;
}
.clear{
    clear: both;
    margin-top: 10px;
}
.checkboxList{
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    float: left;
    width: 100%;
}
.checkboxList li{
    position: relative;
    float: left;
}
.adminyellow_corp{
    color: #eac31a !important;
    text-decoration: underline;
}
label{
    font-weight: normal;
}
.hederimgmyadmin_corp {
    position: absolute;
    top: -3px;
    right: 165px;
}
.hidenInput{
    display:none;
}
.setPassword{
    float:left;
    margin-left: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}
.hidePassword{
    display: none;
}

a .setPassword{
    text-decoration: none;
}
a:hover .setPassword{
    text-decoration: underline;
}

.generatePassword {
    float:left;
    color: #337ab7;
    margin-left: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}