@media (min-width: 992px) and (max-width: 1199px) {
    .lockbiggrey {
        left: 47%;
    }
}
@media (max-width: 767px) {
    .lockbiggrey {
        position: relative;
        top: -11px;
        left: calc(50% - 36px);
    } 
}