.hotel_title_style_bookdetail {
    color: #00304c;
    font-size: 22px;
    line-height: 18px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.pointer {
    cursor: pointer;
}
.displayPagination {
    display: inline-block;
}
.chekdetails-bookdetail{
    width: auto;
    background-color: #434343;
    height: 42px;
    line-height: 42px;
    font-size: 25px;
    color: white;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-right: 10px;
    min-width: 300px;
    float: left;
}
.firstrowstyle_bookdetail{
    color: black;
    font-size: 16px;
    line-height: 30px;
    min-height: 30px;
}
.commensndrow_bookdetail{
    color: #404141;
    font-size: 16px;
    line-height: 30px;
    min-height: 30px;
}
.bluelockback_bookdetail{
    background: url("/images/bluelock_bookdetail.png") no-repeat scroll 45px 6px;
}
.addroomstyle_bookdetail{
    color: #1b9fea;
    font-size: 13px;
    font-weight: bold;
    background: url("/images/addbutblue_bookdetail.png") no-repeat scroll 0px 5px;
    padding-left: 24px;
    cursor: pointer;
}
.blackdivul_bookdetail{
    background-color: black;
    min-height: 24px;
    width: 100%;
    margin-top: 15px;
    line-height: 24px;
}
.blackdivul_bookdetail ul{
    list-style: none;
}
.blackdivul_bookdetail ul li{
    display: inline-block;
    width: auto;
}
.blackdivul_bookdetail ul li a ,.blackdivul_bookdetail ul li a:hover{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    width: auto;
}
.bordr_bookdetail{
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #1b9fea;
}
.paddin-left-8_booking-detailed{
    padding-left: 8px;
}
.greydiv_bookdetail{
    min-height: 35px;
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 4px;
    line-height: 35px;
}
.justefirstdiv{
    font-size: 16px;
    background: url("/images/orangejuste.png") no-repeat scroll 8px 8px;
    padding-left: 30px;
}
.sndblakrow_bookingdtail{
    padding-left: 10px;
    color: #010101;
    font-size: 16px;
}
.cancelled_price{
    text-decoration: line-through;
}
.pricediv_bookdetail{
    font-size: 16px;
    min-height: 38px;
    line-height: 38px;
}
.approxptext{
    min-height: 38px;
    line-height: 38px;
    padding-left: 15px;
}
.approxclass{
    color: #404141;
    font-size: 12px;
}
.uspriceclass{
    font-size: 25px;
    font-weight: bold;
    padding-left: 12px;
}
.bestpracdiv{
    color: black;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    background: url("/images/bestpriceimg_bookdetail.png") no-repeat scroll 0px 10px;
    padding-left: 20px;
    min-height: 38px;
    line-height: 38px;
}
.firsttext_bookingdetail{
    color: #1b9fea;
    font-size: 16px;
}
.sndtext_bookingdetail{
    color: #1b9fea;
    font-size: 16px;
    font-weight: bold;
}
.thirdtext_bookingdetail{
    color: #404141;
    font-size: 16px;
}
.bluetextleft{
    font-size: 16px;
}
.greysndtextleft{
    color: #404141;
    font-size: 16px;
}
.hotelpolicies_bookdetail ,.hotelpolicies_bookdetail:hover{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.margin-top-10{
    margin-top: 10px;
}
.directionsbimg{
    background: url("/images/locimgblue.png") no-repeat scroll 0px 0px;
}
.rentacarbimg{
    background: url("/images/carrentimg.png") no-repeat scroll 0px 0px;
    padding-bottom: 5px;
}
.padleft15{
    padding-left: 15px;
}
.padleft25{
    padding-left: 25px;
}
.changeroom a ,.changeroom a:hover{
    color: #1b9fea;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.margin-top-z{
    margin-top: 0;
}
.margin-top-20{
    margin-top: 20px;
}
.regulargreytext{
    font-size: 16px;
    color: #404141;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sndtablefirst{
    font-size: 16px;
}
.sndtablesnd{
    color: #404141;
    font-size: 16px;
}
.sndtablethird {
    color: #1b9fea;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.sndtablethird:hover{
    text-decoration: underline;
}
.bordergray_bookdetail{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    float: left;
    margin-top: 25px;
}
.paymentdetailsboldtext{
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
.paymentdetailsnoramltext{
    color: #404141;
    font-size: 16px;
}
.paymentbluetext{
    color: #1b9fea;
}
.paymentblueboldtext{
    color: #1b9fea;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
.paymentgreuboldtext{
    font-size: 16px;
    font-weight: bold;
    color: #404141;
    padding-top: 20px;
}
.cancelbuton .cancelbookdetailbut{
    width: auto;
    height: 24px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-left: 36px;
    background: black url("/images/cancelxredbut.png") no-repeat scroll 18px 7px;
    line-height: 24px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-right: 20px;
    border-radius: 0;
}
.needhelplink ,.needhelplink:hover{
    color: #1b9fea;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}
.textjustify{
    text-align: justify;
    text-justify: inter-word;
}
.btn-bookingdetails {
    padding: 0;
    background: 0;
    border: 0;
    line-height: 42px;
    margin: 0 0 0 10px;
}
.total_reservation_cancellation{
    width: auto;
    height: 24px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding-left: 36px;
    background: #9c2a2a url("/images/cancelxredbut.png") no-repeat scroll 18px 7px;
    line-height: 24px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    padding-right: 20px;
    border-radius: 0;
}
.cancel-room-button {
    margin-top: 10px;
    margin-bottom: 0;
}
.cancelled{
    color: #ce0000 !important;
}
.floatleft1stdiv{
    float: left;
    padding-right: 15px;
}
@media (min-width:1200px){
    .blackdivul_bookdetail ul{
        padding-left: 196px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .blackdivul_bookdetail ul{
        padding-left: 157px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .blackdivul_bookdetail ul{
        padding-left: 184px;
    }
}
@media (max-width:767px){
    .blackdivul_bookdetail ul{
        padding-left: 20px;
    }
    .container {
        padding: 0 10px;
    }
    .bestpracdiv {
        background: url("/images/bestpriceimg_bookdetail.png") no-repeat scroll 0px 6px;
        line-height: 30px;
        min-height: 30px;
        margin-left: 15px;
    }
    .approxptext {
        line-height: 32px;
    }
    .bluetabxxs{
        width: 385px;
    }
    .changeroom a ,.changeroom a:hover{
        padding-left: 0px;
        float: right;
    }
}
@media (max-width:500px){
    .xxspadr_bookdetail{
        padding-right: 5px;
    }
    .firstrowstyle_bookdetail{
        padding-right: 5px;
        line-height: 18px;
    }
    .commensndrow_bookdetail{
        padding-right: 5px;
        line-height: 18px;
    }
    .bluelockback_bookdetail {
        background: url("/images/bluelock_bookdetail.png") no-repeat scroll 45px 0px;
    }
    .addroomstyle_bookdetail{
        background: url("/images/addbutblue_bookdetail.png") no-repeat scroll 0px 0px;
    }
    .xxssmaldesigndiv1 ,.xxssmaldesigndiv2{
        width: 50%;
    }
}
@media (min-width:768px){
    .firsttext_bookingdetail ,.sndtext_bookingdetail ,.thirdtext_bookingdetail{
        padding-left: 15px;
    }
}
@media (max-width:380px){
    .hotel_title_style_bookdetail {
        line-height: 24px;
    }
}
@media (max-width:455px){
    .hotelroomwidthxxs{
        width: 100%;
    }
}
@media (max-width:410px){
    .chekdetails-bookdetail {
        width: 300px;
        height: auto;
    }
}