.nopad{
    padding: 0;
}
.search_resultimg {

    float: left;
    margin-right: 17px;
    width: 139px;

}
.search_resulttitle {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.rightcontainercolor_corpfl{
    padding: 0 5px;
}
.search_resulttitleh1 {
    float: left;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.nolsitstyle {
    list-style: none;
}
.padding-left-10 {
    padding-left: 10px;
}
.search_resultinfo {

    float: left;
    width: 100%;
    padding-top: 10px;

}
.search_resdes, .hotelnearby_dest {
    float: left;
    padding-right: 7px;
}
.search_resadress {
    font-size: 11px;
    color: #777879;
    padding-top: 2px;
}
.heartcontainer {
    min-height: 65px;
}
.imagewztextcontainer {
    position: absolute;
    right: 0;
    width: 75px;
    height: 65px;
}
.ratingpercentage {
    color: #00304c;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 23px;
    top: 18px;
}
.reviewstext {
    color: #00304c;
    float: right;
    font-size: 12px;
    padding-top: 8px;
}
.search-caracter {
    margin-top: 39px;
}
.search-caracter li {
    padding-right: 65px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.addtobag.addtobagHotelDetailed {
    height: auto;
    line-height: 17px;
    padding-left: 28px;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    float: left;
    padding-bottom: 0;
    margin-top: 5px;
}
.search-caracter li a {
    font-size: 11px;
    text-transform: uppercase;
    color: #7b7c7d;
    font-weight: bold;
}
.addtobag {
    background: rgba(0,0,0,0) url("/images/add_icon.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    padding-bottom: 0px;
    padding-left: 0px;
    position: absolute;
    right: 3px;
    text-transform: uppercase;
    top: 3px;
    width: 17px;
    z-index: 30;
}
.menu_searchdet {
    background-color: #00304c;
    clear: both;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    margin: 0;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.menu_searchdet li a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}
.menu_searchdet li.last {
    border: 0;
}
.menu_searchdet li {
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
}
li.full_tour_li{
    float:right;
    border:none;
    padding: 0;
}
li.full_tour_li a{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 10px 15px 15px;
}
.slider-for {
    background-color: #f2f2f2;
    height: 478px;
    overflow: hidden;
    padding: 5px;
    margin-top: 0;
}
.slick-prev, .slick-next {
    height: 100%;
    width: 77px;
}
.slick-list, .slick-track {
    height: 100%;
}
.slick-slide {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}
.slick-track img {
    padding: 0 0 5px;
    margin: 0 auto;
}
#parent_hd {
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 10px 0;
    font-size: 13px;
    line-height: 20px;
    width: 227px;
    z-index: 10;
    cursor: pointer;
}
.textbeforehover {
    background: rgba(0,0,0,0) url("/images/initialtext_logo.png") no-repeat scroll 0 0;
    padding-left: 59px;
    line-height: 42px;
    height: auto;
    min-height: 52px;
}
.textbeforehover span, .trustyoubadge span {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
#hover-content_hd {
    display: none;
}
.trustyoubadge {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 8px;
    height: 42px;
    line-height: 42px;
    padding-left: 59px;
}
.bluebut_review_hoteldetail{
    font-size: 22px;
    color: white;
    background-color: #00304c;
    padding-left: 19px;
    width: 284px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}
.greyline_hoteldetail{
    background-color: #d3d3d3;
    height: 9px;
    margin-top: 32px;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}
.bluebardiv{
    background-color: #386b98;
    height: 9px;
}
.uperlefttext{
    font-size: 17px;
    color: black;
    position: absolute;
    left: 0;
    top: -22px;
}
.uperrightnumb{
    font-size: 15px;
    color: black;
    position: absolute;
    right: 0px;
    top: -22px;
}
.downlefttext{
    font-size: 13px;
    color: #969696;
    position: absolute;
    left: 0;
    top: 10px;
}
.ohimg {
    width: 100%;
}
.smxsnewpad{
    padding: 5px;
}
#parent_hd:hover #hover-content_hd {
    display: block;
    height: auto;
}
.image-thumb-section {
    max-height: 175px;
    overflow-y: auto;
    margin-bottom: 25px;
}
.thumb_view_full_tour{
    float: left;
    padding: 5px;
    position: relative;
    width: 20%;
    cursor: pointer;
    color:#00304c;    
}
.thumb_view_full_tour span{
    position: absolute;
    top:calc(50% - 9px);;
    color:#00304c;
    font-size: 15px;
    font-weight: bold;
    left: 5px;
    right: 5px;
    line-break: 18px;
    text-align: center;
}
.thumb_view_full_tour:hover > span{
    text-decoration: underline; 
}
.slider-nav-main_360{
    max-height: 377px;
    min-height: 110px;
    overflow-x: hidden;
}
.slider-nav-main {
    display: none;
}
.active.mediathumb .mediathumbbk,
.mediathumb:hover > .mediathumbbk {
    border: 3px solid #1b9fea;
}
.active.mediathumb_360pg .mediathumbbk_360pg,
.mediathumb_360pg:hover > .mediathumbbk_360pg {
    border: 3px solid #1b9fea;
}
.thumb_view_full_tour img
{
    max-width: 100%;
}
.mediathumb {
    float: left;
    padding: 5px;
    position: relative;
    width: 10%;
    cursor: pointer;
}
.mediathumb_360pg .mediathumbbk_360pg {
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}
.mediathumbcontainer {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.mediathumbcontainer_360pg {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.mediathumb img {
    float: left;
    position: relative;
    width: 100%;
}

.mediathumb_360pg img {
    float: left;
    position: relative;
    width: 100%;
}

.active.mediathumb .mediathumbbk, .mediathumb:hover > .mediathumbbk {
    border: 3px solid #1b9fea;
}
.mediathumb .mediathumbbk {
    bottom: 2px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}
.lightblue {
    background-color: #1b9fea;
    min-height: 103px;
}
.headerstyle {
    font-size: 16px;
    color: white;
    margin: 0;
}
.nostyleul {
    list-style: none;
    padding-top: 5px;
    padding-left: 0;
}
.listslider1 li {
    background: rgba(0,0,0,0) url("/images/listwhitesquare.png") no-repeat scroll 6px 9px;
}
.nostyleul li {
    padding-left: 20px;
}
.otherstyle {
    font-size: 13px;
    color: white;
}
.darckblue {
    background-color: #00304c;
    min-height: 108px;
    display: inline-block;
}
.bordergreydiv {
    border: 3px solid #eaeaea;
    margin-top: 10px;
    min-height: 122px;
    padding-bottom: 10px;
}
.mainamet {
    color: #00304c;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    text-transform: uppercase;
    margin: 0;
}
.listslider li {
    background: rgba(0,0,0,0) url("/images/listbluesquare.png") no-repeat scroll 6px 9px;
}
.listyle, .listyle a {
    font-size: 15px;
    color: #5f6062;
}
.container {
    position: relative;
}
.containerPrices {
    margin-top: 30px;
}
.containerPricesHead {
    width: 100%;
    z-index: 99;
}
.padrightt {
    padding-right: 2px;
}
.lhte {
    line-height: 26px;
}
.bluedivs {
    background-color: #1b9fea;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    min-height: 38px;
    padding: 6px 8px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}
.sncolmargtop {
    position: absolute;
    right: 0;
}
.padleftres {
    padding-left: 2px;
}
.lhte {
    line-height: 26px;
}
.reservebutton {
    background-color: #00304c;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
.searchtext2 {
    color: white;
    text-decoration: none;
    background-color: #00304c;
    height: 100%;
    border: 0;
    width: 100%;
}
.nrere {
    font-size: 13px;
    color: #5f6062;
}
.nrereTaxes {
    font-size: 13px;
    line-height: 17px;
    color: #228fae;
    font-weight: bold;
}
.price_txt_total, .selected_room_txt, .selected_room_details, .offer_note {
    display: none;
}
.padbtp {
    padding-bottom: 2px;
}
.price_txt {
    color: #c90018;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding-top: 1px;
}
.offer_note {
    font-size: 13px;
    color: #e8001b;
}
.noliststyleint {
    list-style: none;
    padding-right: 15px;
    padding-left: 0;
}
.selected_room_content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 0;
    padding-left: 2px;
    padding-top: 0;
}
.selected_room_bk {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
}
.room-category {
    background-color: #00304c;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 8px;
    line-height: 17px;
    margin: 0;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.borderclass {
    border-top: 3px solid #ebebeb;
}
.exkiro {
    background: rgba(0,0,0,0) url("/images/blackBullet.png") no-repeat scroll 1px center;
    color: black;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 3px;
    padding-left: 10px;
    text-decoration: underline;
    cursor: pointer;
}
.room-gallery.sliderHidden {
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    z-index: -1;
}
.room-gallery {
    background: url("/images/fancybox_overlay.png") repeat;
    bottom: 0;
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1000;
}
.room-gallery-container {
    background: white;
    padding-bottom: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.room-gallery-container .ulcontainerroom {
    padding-bottom: 0;
    margin-top: 10px;
}
.room-gallery-container .closebut-room {
    width: 14px;
    height: 11px;
    background: rgba(0,0,0,0) url("/images/closebut-room.png") no-repeat scroll 0 0;
    position: absolute;
    right: 0;
    top: 9px;
    cursor: pointer;
    z-index: 999;
}
room-gallery-container .padding0 {
    padding: 0 !important;
}
.room-gallery-container .slider-for {
    background-color: #f2f2f2;
    height: 478px;
    overflow: hidden;
    padding: 5px;
    margin-top: 0;
}
.room-gallery-container .slick-prev {
    background-image: url("/images/leftcarouselarrow.png");
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.room-gallery-container .slick-prev, .room-gallery-container .slick-next {
    height: 100%;
    width: 77px;
}
.room-gallery-container .slick-list, .room-gallery-container .slick-track {
    height: 100%;
}
.room-gallery-container .swiper-container {
    margin-top: 10px;
}
.room-gallery-container .mediathumb {
    float: left;
    padding: 0;
    position: relative;
    width: 88px;
    cursor: pointer;
    height: 48px;
}
.room-gallery-container .mediathumbcontainer {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.room-gallery-container .mediathumb img {
    float: left;
    position: relative;
    width: 100%;
}
.room-gallery-container .active.mediathumb .mediathumbbk, .room-gallery-container .mediathumb:hover > .mediathumbbk {
    border: 3px solid #1b9fea;
}
.room-gallery-container .mediathumb .mediathumbbk {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.room-gallery-container .roomdetailtitle {
    font-size: 22px;
    color: #1b9fea;
    margin-top: 35px;
    padding-bottom: 15px;
}
.room-gallery-container .margintop_room {
    margin-top: 15px;
}
.room-gallery-container .normalgreytext {
    color: #49494a;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
}
.room-gallery-container .boldtext-room {
    font-weight: bold;
    color: black;
    font-size: 15px;
    padding-right: 3px;
}
.lightgreudiv {
    min-height: 70px;
    overflow: auto;
}
.padbtp {
    padding-bottom: 2px;
}
.xspadbotth {
    padding-bottom: 3px;
}
.xspadr {
    padding-right: 4px;
}
.fcpad {
    padding-left: 8px;
}
.xstextblue {
    font-size: 12px;
    font-weight: bold;
    color: #1b9fea;
    line-height: 38px;
    text-transform: uppercase;
}
.addmax {
    margin-top: 3px;
    float: left;
}
.person-plus {
    float: left;
    font-size: 12px;
    margin-top: 5px;
    padding-right: 2px;
    color: #b7b7b7;
    font-weight: bold;
}
.addmax2 {
    margin-top: 9px;
    float: left;
}
.price_txt {
    color: #c90018;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding-top: 1px;
}
.borderContainerLines {
    margin: 22px 0 9px 0;
}
.borderclassNew {
    border-top: 1px solid #c3c3c3;
    margin-bottom: 1px;
}
.row{
    margin: 0;
}
.noliststyleint li {
    color: #5f6062;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
}
li.noliststylebreakfast {
    color: #60a92f;
}
.no_room_detailed {
    padding: 0 0 0 5px;
}
.room-count.form-control {
    width: 45px;
    margin: auto;
}
.bodyblocks select {
    background: white url("/images/flech-out.png") no-repeat scroll right 5px center;
    border: 1px solid #000;
}
.form-control {
    background: #e5e5e5 url("/images/flech-out.png") no-repeat scroll 85% 50%;
    border: 0;
    border-radius: 0;
    height: 38px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.booking-more-condition {
    position: absolute;
    right: 1px;
    top: 8px;
    padding: 0;
    margin: 0;
    float: left;
}
.booking-more-condition img {
    cursor: help;
}
.facstyle {
    background: rgba(0,0,0,0) url("/images/facbullet.png") no-repeat scroll 1px 13px;
    color: #1b9fea;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 30px;
    line-height: 36px;
}
.displaynone {
    display: none;
}
.pinkbackdivslgf {
    background-color: #c661a6;
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.slderheadecolored {
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
.ullilistcolored {
    list-style: none;
    padding-left: 0;
}
.ullilistcolored li {
    color: white;
    font-size: 13px;
}
.fac-view-all {
    padding-top: 5px;
    padding-left: 5px;
}
.ullilistcolored li a {
    color: white;
    font-size: 13px;
}
.fac-view-all img {
    padding-right: 5px;
}
.greybackdivslgf {
    background-color: #ebebeb;
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.ullilistgrey {
    list-style: none;
    padding-left: 0;
}
.ullilistgrey li {
    color: #5f6062;
    font-size: 13px;
}
.greybackdivslgf {
    background-color: #ebebeb;
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.slderheadergrey {
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00304c;
    margin: 0;
}
.mauvbackdivslgf {
    background-color: #9075ce;
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.bluebackdivslgf {
    background-color: #4ccecb;
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.goodtoknow, .reviewhd {
    color: #00304c;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.leftbluecommon {
    font-size: 17px;
    color: #1b9fea;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    line-height: 24px;
    margin: 0;
}
.rightgreycommon {
    color: #5f6062;
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin: 0;
}
.leftborderpad {
    padding-left: 10px;
    padding-right: 5px;
}
.hashborderleft {
    border-top: 1px solid #cfcfcf;
}
.rightborderpad {
    padding-left: 5px;
}

.hashborderright {
    border-top: 1px solid #cfcfcf;
}
.paymentpicshotels {
    margin-top: 10px;
    padding-left: 10px;
    float: left;
}
.clearfloat {
    clear: both;
}

.textingreycircle{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: black;
    width: 43px;
    line-height: 43px;
    text-align: center;
    top: 0px;
}

@media (min-width: 1200px){
    .bluebut_review_hoteldetail{
        width: 100%;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .bluedivs {
        min-height: 51px;
    }
    .lhte {
        line-height: 39px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .lightblue {
        min-height: 154px;
    }
    .lhte {
        line-height: 52px;
    }
    .menu_searchdet li {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bluedivs {
        min-height: 64px;
    }
}
@media  (max-width:767px){
    .nolsitstyle {
        margin: 0;
        padding: 0;
    }
    .padrightt {
        padding-right: 0px;
    }
    .xstextblue {
        margin: 0;
    }
    .smalgreyback {
        background-color: #f4f4f4;
        min-height: 38px;
    }
    .smalgreybackdarck {
        background-color: #efefef;
        min-height: 38px;
    }
    .sndcolpad {
        padding-left: 20px;
    }
    .xsbckclass {
        padding: 0 0 3px 4px;
    }
    .price_txt {
        line-height: 38px;
    }
    .addmax {
        margin-top: 12px;
    }
    .person-plus {
        margin-top: 11px;
    }
    .addmax2 {
        margin-top: 15px;
    }
    .room-count.form-control {
        margin: 0;
    }
}

.greypricenewconttxt{
    font-size: 23px;
    color: #a8aaaa;
    padding: 10px 10px 0 0px;
    margin: 0;
    line-height: 20px;
}
.blackpricenewconttxt{
    font-size: 25px;
    color: #1e262a;
    float: right;
    padding: 0;
    margin: 0;
    line-height: 20px;
    font-weight: bold;
}
.blackpricenewconttxt span.spantwo{
    font-size: 17px;
    color: #3a4043;
    font-weight: normal;
}
.bluereserve{
    border: none;
    border-radius: 0;
    color: #dde0e3;
    background-color: #00304c;
    text-transform: uppercase;
    font-size: 18px;
    width: 152px;
    height: 38px;
    margin-top: 2px;
}
.bluereserve span{
    padding-right: 10px;
}
@media  (max-width:1199px){
    .center-block.block-left-smal{
        margin-left: 0;
    }
    .blackpricenewconttxt{
        float: left;
    }
}
/*hotel+image section : 
===========================*/
.hotel-left-img{float: left;padding-right: 10px;width: 100%;}
.hotelname-ndimage h1{float: left;font-size: 27px;font-weight: bold;line-height: 40px;margin: 0;padding: 0;}
.hotelname-ndimage h2{font-size: 11px;font-weight: normal;line-height: 20px;margin: 0;padding: 0;}
.hotelname-ndimage .locationplus-text_container{width: 61%;float: left;}
.hotelname-ndimage .location-logo{float: left;padding-right: 7px;}
.hotelname-ndimage .starsimg{float: left;margin-left: 25px;}
.hotelname-ndimage {padding-bottom: 40px;}
.clearfix {display: block;content: "";clear: both;}
.heart-rating-review{width: 75px;height: 65px;margin-top: 10px;float: right;}
.heart-rating-review img{position: absolute;}
.heart-rating-review .ratetext{position: absolute;font-size: 22px;font-weight: bold;color: #00304c;width: 75px;line-height: 65px;text-align: center;font-weight: bold;}
.heartratecontainer .based-text-review a{color: #00304c;font-size: 12px;line-height: 20px;margin: 0;padding: 0;float: right;width: 100%;text-align: right;}
.heartratecontainer .based-text-review a:hover{text-decoration: none;}
.hotelname-ndimage .heartratecontainer{width: 39%;float: left;position: absolute;right: 0;}