.leftmenuebackcolor_corp{
    background-color: white;
}
.contentbackcolor_corp{
    background-color: white;
}
.plane_corp {
    background: rgba(0, 0, 0, 0) url("/images/corporate/hotelicon_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #1e262a;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #1e262a;
    float: left;
    line-height: 25px;
    width: 100%;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #666666;
}
.headerstyle_corp{
    color: #a6acb0;
}
.licolback_corpfl{
    background-color: #e3e5e6;
    color: #1e262a;
}
.deparrival_corpflight .deparrival_input_corpfl{
    background-color: #a6acb0;
    color: #ffffff;
}
.deparrival_corphotel .deparrival_input_corphotel{
    background-color: #a6acb0;
    color: #ffffff;
}
.selectboxes_corpfl select{
    background-color: #a6acb0;
    color: #ffffff; 
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/images/corporate-flight/submitbut_theme1_corp.png") no-repeat scroll center center;
}
.moinbut_corp {
    background: url("/images/corporate-hotel/minusbut_corp_theme1.png") no-repeat scroll right center;
}
.plusbut_corp {
    background: url("/images/corporate-hotel/plusbut_corp_theme1.png") no-repeat scroll left center;
}
.valueinput_corp {
    background: url("/images/corporate-hotel/bordercorp_theme1.png") no-repeat scroll right center;
}
.inputcolorndstyle_corp{
    background-color: #a6acb0;
}
.inputwizbut_corp {
    color: white; 
}
.valueinput_corp {
    color: #ffffff;
}