h1 ,h2 ,h3,h4, ul {
    margin-top: 0;
    margin-bottom: 0;
}
.search_resultimg {
    float:left;
    margin-right:17px;
    width:139px
}
.search_resulttitleh1 {
    float:left;
    font-size:28px;
    font-weight:bold;
    line-height:40px;
    color:#333;
    margin: 0;
}
.nolsitstyle {
    list-style:none
}
.fancybox-skin {
    background:0
}
.search_resulttitle {
    font-size:28px;
    font-weight:bold;
    text-transform:capitalize
}
.padding-left-10 {
    padding-left:10px
}
.search_resultinfo {
    float:left;
    width:100%;
    padding-top:10px
}
.search_resdes,.hotelnearby_dest {
    float:left;
    padding-right:7px
}
.search_resadress {
    font-size:11px;
    color:#777879;
    padding-top:2px
}
.margin-top-hotelflight-search {
    margin-top:20px
}
.padding-top-30 {
    padding-top:30px
}
.trip_search_box .seacr_pannel.greybluesearch {
    margin-bottom:0;
    background-color:#e5e5e5 !important
}
.marginbutdiv {
    margin-bottom:0
}
.search-bar .clearbothclasss {
    clear:none;
    margin-left:10px
}
.childtext {
    color:#1b9fea
}
.revieclearboth {
    clear:both
}
.bodyblocks {
    min-height:100px
}
.float-right-divs {
    float:right
}
.blacksearch {
    width:100%
}
.padtop50 {
    padding-top:50px
}
.uploadphotosbut {
    text-align:center;
    width:244px;
    height:88px;
    background-color:#eac31a;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    margin-bottom:10px;
    float:left;
    cursor:pointer
}
.photoremove {
    cursor:pointer;
    display:block;
    font-size:12px;
    right:5px;
    line-height:14px;
    position:absolute;
    text-align:right;
    bottom:5px;
    z-index:10;
    padding:2px 8px;
    background-color:#000;
    color:#fff;
    cursor:pointer
}
.reviewratebut {
    text-align:center;
    width:244px;
    height:88px;
    background-color:#eac31a;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    float:left
}
.uploadphotosbuttext,.uploadphotosbuttext:hover {
    text-decoration:none;
    line-height:88px;
    font-size:16px;
    font-weight:bold;
    color:black
}
.smalbuttext {
    font-size:13px
}
.browsepictext {
    color:#2e2e2e;
    font-size:16px;
    line-height:21px;
    padding-top:15px
}
.imagefirstdiv {
    width:100%
}
.padtop5 {
    padding-top:5px
}
.imageheartcont {
    width:75px;
    height:65px;
    float:right
}
.ratingtextheart {
    position:absolute;
    right:22px;
    top:27px;
    color:#00304c;
    font-weight:bold;
    font-size:22px
}
.textleftheart {
    float:left;
    padding-left:10px
}
.reviewtextbig {
    color:#2e2e2e;
    font-size:22px;
    padding-top:10px
}
.reviewtextsmall {
    color:#969696;
    font-size:13px
}
.padtop10 {
    padding-top:10px
}
.smxsnewpad {
    padding:10px
}
.greyline_hoteldetail {
    background-color:#d3d3d3;
    height:9px;
    margin-top:24px;
    position:relative;
    width:100%;
    margin-bottom:16px
}
.uperlefttext {
    font-size:17px;
    color:black;
    position:absolute;
    left:0;
    top:-22px
}
.uperrightnumb {
    font-size:15px;
    color:black;
    position:absolute;
    right:22px;
    top:-22px
}
.downlefttext {
    font-size:13px;
    color:#969696;
    position:absolute;
    left:0;
    top:10px
}
.bluebardiv {
    background-color:#386b98;
    height:9px
}
.height-fixed {
    min-height:108px
}
.backgreycentered {
    background-color:#ececec;
    text-align:center
}
.verifreviews {
    font-size:25px;
    font-weight:bold;
    padding-top:24px
}
.tab-list li {
    display:inline-block;
    position:relative
}
.tab-list {
    list-style:none;
    padding-top:10px;
    color:#3e3e3e;
    font-size:16px;   
    padding-left:0;
}
.a-tabs {
    color:#3e3e3e;
    text-decoration:none;
    font-size:16px;
    padding-left:28px;
    padding-right:28px;
    padding-top:11px;
    padding-bottom:11px;
    line-height: 41px;
}
.a-tabs:hover {
    color:#3e3e3e;
    text-decoration:none
}
.a-tabs.active {
    color:white;
    background-color:#1b9fea
}
.image-div.active {
    display:block
}
.image-div {
    width:12px;
    height:5px;
    left:50%;
    top:31px;
    position:absolute;
    display:none
}
.active-arrow {
    position:relative;
    margin-left:-5px
}
.pad-li-tabs {
    width:1px
}
.tabstyle {
    padding-left:5px;
    padding-right:5px;
    margin-top:4px;
    padding-bottom:10px
}
.contenttabs {
    display:none
}
.firstdisplaytab {
    display:block
}
.subtabgreydiv {
    background-color:#f4f4f4;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:20px;
    min-height:100px
}
.tabgreydivstyle {
    padding-top:20px
}
.imagecircletxtcont {
    width:43px;
    height:43px;
    float:left;
    margin-top:10px
}
.greycircle_hoteldetailed {
    position:absolute
}
.textingreycircle {
    position:absolute;
    font-size:13px;
    font-weight:bold;
    color:black;
    width:43px;
    line-height:43px;
    text-align:center
}
.nextcircletext {
    float:left;
    font-size:13px;
    font-weight:bold;
    color:#1b9fea;
    padding-left:3px;
    padding-top:21px
}
.greynormalreviewtext {
    color:#49494a;
    font-size:13px
}
.fancybox-opened .fancybox-skin {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
@media(min-width:1450px) and (max-width:1550px) {
    .reviewtextbig {
        font-size: 20px;
    }
    .reviewtextsmall {
        font-size: 12px;
    }
}
@media(min-width:1200px) and (max-width:1346px) {
    .uploadphotosbut {
        width: 178px;
    }
    .a-tabs {
        font-size: 11px;
    }
    .reviewtextsmall {
        font-size: 10px;
    }
    .reviewtextbig {
        font-size: 16px;
    }
    .uperlefttext {
        font-size: 15px;
    }
    .reviewratebut {
        width: 178px;
    }
    .image-div {
        top: 28px;
    }
}
@media(min-width:992px) {
    .lgmdmargin {
        margin-left:-5px
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .ratingtextheart {
        right: auto;
        margin-left: 21px;
    }
    .imageheartcont {
        float: left;
        margin-left: 10px;
    }
}
@media(min-width:768px) and (max-width:991px) {
    .trip_search_box .seacr_pannel.greybluesearch {
        padding:10px;
        width:auto !important
    }
    .search-bar .clearbothclasss {
        margin-left:0
    }
    .browsepictext {
        margin-left:5px
    }
    .uploadphotosbut {
        float:right;
        margin-right:5px
    }
    .textleftheart {
        padding-left:0
    }
    .ratingtextheart {
        right:auto;
        margin-left:21px
    }
    .imageheartcont {
        float:left;
        margin-left:10px
    }
}
@media(max-width:767px) {
    .trip_search_box .seacr_pannel.greybluesearch {
        padding:10px 0 0
    }
    .search-bar .clearbothclasss {
        margin-left:0
    }
    .browsepictext {
        margin-left:5px
    }
    .uploadphotosbut {
        width:100%
    }
    .generalpadleftright {
        padding-left:5px;
        padding-right:5px
    }
    .textleftheart {
        padding-left:0
    }
    .ratingtextheart {
        right:auto;
        margin-left:21px
    }
    .imageheartcont {
        float:left;
        margin-left:10px
    }
    .reviewratebut {
        width:100%;
        margin-left:0
    }
    .backgreycentered {
        padding-bottom:10px
    }
    .image-div {
        top:30px
    }
}
@media(min-width:461px) and (max-width:610px) {
    .tab-list {
        text-align:left
    }
    .a-tabs {
        padding-left:13px;
        padding-right:13px
    }
}
@media(max-width:560px) {
    .smxsnewpad {
        width:100%
    }
}
@media(max-width:460px) {
    .a-tabs {
        font-size:11px;
        padding-left:8px;
        padding-right:8px;
        padding-top:6px;
        padding-bottom:6px
    }
    .image-div {
        top:22px
    }
}


