.leftmenuebackcolor_corp{
    background-color: #c2205d;
}
.contentbackcolor_corp{
    background-color: #1e262a;
}
.plane_corp {
    background: rgba(0, 0, 0, 0) url("/images/corporate/hotelthem2_corp.png") no-repeat scroll center center;
}
.textunimg_corp {
    color: #ffffff;
}
.corpleftmenue_corp li a ,.corpleftmenue_corp li a:hover{
    color: #ffffff;
}
.corpleftmenue_corp li{
    border-bottom: 1px solid #ce4d7d;
}
.headerstyle_corp{
    color: #ffffff;
}
.licolback_corpfl{
    background-color: #8b9398;
    color: #ffffff;
}
.deparrival_corpflight .deparrival_input_corpfl {
    background-color: #2e3c44;
    color: #ffffff;
}
.deparrival_corphotel .deparrival_input_corphotel{
    background-color: #2e3c44;
    color: #ffffff;
}
.selectboxes_corpfl select{
    background-color: #a6acb0;
    color: #ffffff; 
}
.submitcororateflight{
    background: rgba(0, 0, 0, 0) url("/images/corporate-flight/submitbut_theme3_corp.png") no-repeat scroll center center;
}
.moinbut_corp {
    background: url("/images/corporate-hotel/minusbut_corp_theme2.png") no-repeat scroll right center;
}
.plusbut_corp {
    background: url("/images/corporate-hotel/plusbut_corp_theme2.png") no-repeat scroll left center;
}
.valueinput_corp {
    background: url("/images/corporate-hotel/bordercorp_theme1.png") no-repeat scroll right center;
}
.inputcolorndstyle_corp{
    background-color: #2e3c44;
}
.inputwizbut_corp {
    color: white; 
}
.valueinput_corp {
    color: #ffffff;
}