
.sharedata_popup{
    padding: 35px 47px;
    background-color:#fff;
    display: none;
    max-width: 909px;
}
.sharedata_popup.onlyleft, .sharedata_popup.onlyright{
    max-width: 454px;
}
.leftauteur{
    display: block;
    float: left;
    margin-left: 75px;
    position: relative;
    width: 100%;
}
.share_title,.sharedata_popup label{
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    width: 100%;
    color: #000000;
    display: block;
}
.sharedata_popup label{
    margin-top: 30px;
}
.share_link{
    width: 100%;
    float: left;
}
.sharedata_popup .sharelink-desc{
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #e9e9e9;
    line-height: 20px;
    min-height: 38px;
    padding: 9px 0 9px 5px;
    color: #7e7e7e;
    float: left;    
    overflow: hidden;
}
.sharedata_popup textarea{
     width: 100%;
    border: none;
    border-radius: 0;
    background-color: #e9e9e9;
    height: 68px;
     color: #7e7e7e;
    font-size: 15px;
    line-height: 14px;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
    
}
.addmorecontainer {
    display: block;
    float: left;
    height: auto;
    margin: 0;
    height: 68px;
    padding: 12px 2px 2px 8px;
    position: relative;
    width: 100%;
    z-index: 2;
    background-color: #e9e9e9;
    overflow-y: scroll;
}
.ui-menu .ui-menu-item a.ui-state-focus {
    background-color:#ffffff !important;
}
.peoplesdataemail_icon {
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 10px;
    margin: 3px 3px 0 0;
    padding: 0;
    position: relative;
    width: 15px;
}
.addmoretext_css{
     width: 100px;
    border: none;
    border-radius: 0;
    background: none;
    height: 16px;
    line-height: 16px;
    color: #7e7e7e;
    font-size: 15px;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 4px;
    padding-top: 1px;
    float: left;
}
.emailcontainer_boxed_share .ui-autocomplete {
    border: 2px solid #e2e3ea;
    height: auto;
    left: -1px;
    max-height: 144px;
    overflow: auto;
    width: 247px;
}
.emailcontainer_boxed_share .ui-menu .ui-menu-item{
    background-color: #ebebeb;
}
.emailcontainer_boxed_share .ui-menu .ui-menu-item a{
    background-color: #e2e3ea;
    border: medium none;
    padding: 2px;
}
.emailcontainer_boxed_share .peoplesearch {
    background-color: #ebebeb;
    height: 32px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.autocompletImage {
    height: 32px;
    width: 32px;
}
.peoplesearchtext {
    color: #959595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 32px;
    left: 42px;
    line-height: 32px;
    position: absolute;
    top: 0;
    width: auto;
}
.formttl {
    color: #686868;
    font-size: 12px;
}
.peoplesdata {
    background-color: #e7ba20;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 0 3px 3px 0;
    padding: 0 17px 0 5px;
    position: relative;
}
.peoplesdatainside {
    color: #fff;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.peoplesdataclose {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 10px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 10px;
}
.sharedata_popup .form-control::-moz-placeholder {
    font-size: 15px;
    color:#7e7e7e;
}
.fb-share{
    background-position: 4% 78%;
}
.g-share{
    background-position: 35% 70%;
}
.twt-share{
     background-position: 69% 75%;
}
.print-share{
     background-position: 102% 69%;
     float: none;
}
.share_social{
    height: 77px;
}

.share_social a{
    list-style: none;
    width: 58px;
    height: 45px;
    margin-right: 6px;
    display: block;
    float: left;
}
.share_social label{
    clear: both;
    display: table;
    margin-bottom: 0;
}
.tubers select{
    width: 100%;
    height: 38px;
    background-color:#e9e9e9;
    border: none;
    margin-top: 10px;
}

.sharedata_popup button{
    color: #fff;
    font-size: 17px;
    width: 88px;
    height: 29px;
    border: none;
    background-color: #eac31a;
    float: right;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bold;
}


.share_embed label{
    margin-top: 4px;
}
.sharedata_popup .left{
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    float: left;
    width: 50%;
    padding-right:48px;
    max-width: 408px;
    position: relative;
    display: block;
}
.sharedata_popup .left.onlyleft{
    border:none;
    width: 100%;
    padding-right:0;
}
.sharedata_popup .right{
    float: right;    
    width: 50%;
    max-width: 360px;
    position: relative;
    display: block;
}
.sharedata_popup .onlyright{
    border:none;
    width: 100%;
    padding:0;
}

.tubers,.add-people{
    float: right;
    width: 100%;
    position: relative;
}
.noresize{
    resize: none;
}

