.review_main_container .margin_top_5{margin-top: 5px;}
.review_main_container .margin_top_10{margin-top: 10px;}
.review_main_container .margin_top_15{margin-top: 15px;}
.review_main_container .margin_top_20{margin-top: 20px;}
.review_main_container .margin_top_30{margin-top: 30px;}
.margin_top_38{margin-top: 38px;}
.review_main_container .margin_top_50{margin-top: 50px;}
.review_main_container .margin_bottom_15{margin-bottom: 15px;}
.review_main_container .margin_bottom_5{margin-bottom: 5px;}
.review_main_container .margin_bottom_0{margin-bottom: 0;}
.review_main_container .font-15{font-size: 15px;}
.review_main_container .font-16{font-size: 16px;}
.review_main_container .font-17{font-size: 17px;}
.review_main_container .font-22{font-size: 22px;}
.review_main_container .font-24{font-size: 24px;}
.review_main_container .font-27{font-size: 27px;}
.review_main_container .black{color: black;}
.review_main_container .pink{color: #db3a69;}
.review_main_container .underline{text-decoration: underline;}
.review_main_container .blue{color: #00b7d9;}
.review_main_container .grey{color: #787878;}
.review_main_container .light_black{color: #2e2e2e;}
.review_main_container .line-height-26{line-height: 26px;}
.review_main_container .text-justify{text-align: justify;}
.review_main_container .width100{width: 100%;}
.review_main_container .newrowmargin5{margin-right: -5px;margin-left: -5px;}
.review_main_container .newcolpadding5{padding: 5px;}
.review_main_container .review_input_common input{cursor: unset;height: 76px; width: 100%; border: 1px solid #d5d6d8;text-align: center;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);box-shadow: inset 0 1px 1px rgba(0,0,0,0);background-color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;}
.review_main_container .review_input_common input::placeholder {color: #000000;opacity: 1;font-weight: bold;font-size: 17px;}
.review_main_container .review_input_common input:-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 17px;}
.review_main_container .review_input_common input::-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 17px;}
.review_main_container .review_radio_container label{color: #444444; font-size: 16px;font-weight: normal; cursor: pointer;}
.review_main_container .common_yellow_but{width: 100%;height: 76px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px;}
.review_main_container .row_double_border{height: 7px;border-top: 3px solid #bababa;border-bottom: 3px solid #bababa;}
.review_main_container .row_double_border_3{height: 3px;border-top: 1px solid #c3c3c3;border-bottom: 1px solid #bababa;}
.review_main_container .hotel_title{font-size: 17px;font-weight: bold;color: black;margin-top: 5px;margin-bottom: 5px;}
.review_main_container .location_txt{font-size: 14px;color: #606060;}
.review_main_container .location_txt img{padding-right: 5px;}
.review_main_container .review_list_ul{list-style: none;padding-left: 0;}
.review_main_container .review_list_ul li{display: inline-block;}
.review_main_container .review_list_ul li a{color: #00b7d9;font-size: 15px;text-decoration: none;}
.review_main_container .review_list_ul li a.active{text-decoration: underline;font-weight: bold;}
.review_main_container .review_list_ul li.seperator{padding-left: 10px;padding-right: 10px;color: #00b7d9;}
.review_main_container .custom_width_height_button{width: auto;height: 60px;}
.review_main_container .full_width_button{width: 100%;height: 60px;}
.review_main_container .font-25{font-size: 25px;}
.review_main_container .collapse_container{display: none;}
.review_main_container .more_container{position: absolute;width: 100%;text-align: center;bottom: -20px;height: 17px;}
.review_main_container .more_container p{line-height: 17px;cursor: pointer;}
.review_main_container .more_container p i{color: black;padding-left: 5px;}
.review_main_container .less_txt{display: none;}
.review_main_container .reviewclosed{ text-align: center; color: #3c3b46; line-height: 42px; font-size: 27px; margin-bottom: 25px; }
.review_rate_a:hover > h1{ text-decoration: underline;}
#googlemap_places{
    width: 100%;
    height: 430px;
}
.copyrightreview {
    color: #777879;
    font-size: 11px;
    margin-top: 12px;
    min-height: 25px;
    padding-left: 0;
    padding-top: 4px;
    width: 100%;
}
.copyrightreview a{
    color: #777879;
    font-size: 11px;
}

.review_main_container .heart-rating-review{width: 64px;height: 56px;float: right;}
.review_main_container .heart-rating-review img{position: absolute;}
.review_main_container .heart-rating-review .ratetext{position: absolute;font-size: 22px;font-weight: bold;color: #00304c;width: 64px;line-height: 56px;text-align: center;font-weight: bold;}
.review_main_container .heartratecontainer{width: 100%;position: absolute;}
.review_main_container .review_textarea{resize:none;width: 100%;height:99px;border: 1px solid #d5d6d8;padding: 5px;color: black;font-size: 14px;border-radius: 5px; }
.review_main_container .checkboxcontainer label{color: #727272;font-size: 13px;font-weight: normal;}
.review_main_container .checkboxcontainer input[type="checkbox"]{margin-right: 4px;}
/*=============================================*/


/*rating stars*/
.review_main_container .leftmenue_subtitles{color: #606060;font-size: 12px;font-weight: bold;text-transform: uppercase;}
.review_main_container .leftmenue_subtitles i{padding-right: 8px;color: #00b7d9;}
.review_main_container .specificRateDesc {color: #606060;float: left; font: 13px arial; margin: 1px 0 0 2px;padding: 0; position: relative;}
.review_main_container .specificRate{padding: 5px 0;}
.review_main_container .eval_options_glob {color: #fff; cursor: pointer;display: block;float: left; font-family: Arial;
                                            height: 18px;line-height: 18px; margin-right: 3px; position: relative;width: 20px;}
.review_main_container .eval_options_tooltip {position: absolute;width: 6px;height: 12px;top: 8px;left: -6px;}
.review_main_container .eval_options_over { display: none;height: 38px;left: 127px;position: absolute;top: -7px;width: auto;z-index: 1;}
.review_main_container .eval_options_overtxt {background-color: #db3a69;color: #fff;display: block;font-size: 12px;font-weight: bold;border-radius: 5px;line-height: 38px;padding: 0 8px;position: relative;text-transform: lowercase;width: auto;}
/*=============================================*/



/*review rating and description*/
.review_main_container .greycontainer_reviews{padding-left: 15px; padding-right: 15px; height: auto; position: relative;float: left;width: 100%;}
.review_main_container .imagecircletxtcont_reviews{position: absolute;left: 0px;top: 0;width: 43px;height: 43px;border-radius: 50%;border: 3px solid #c4c4c4;}
.review_main_container .imagecircletxtcont_reviews .textingreycircle_reviews{color: black;font-size: 13px;font-weight: bold;position: absolute;top: 50%;left: 50%;text-align: center;transform: translateX(-50%) translateY(-50%);}
.review_main_container .nextcircletext_reviews{ float: left; font-size: 13px; font-weight: bold;  color: #00b7d9; padding-top: 11px;line-height: 21px;}
.review_main_container .nextcircletext_reviews .wherefromgreytext_reviews {color: #8e8e8e; font-weight: normal; padding-left: 20px;}
.review_main_container .ingreytext_reviews{ font-size: 13px;color: #606060; line-height: 18px;margin-top: 3px;}
.review_main_container .remove_button_rev, .review_main_container .photoremove { color: #838383; cursor: pointer; font-size: 11px; line-height: 14px; position: absolute; right: 5px; top: 5px; z-index: 10; }
.review_main_container .photoremove { background-color: #000000; color: #ffffff; padding: 2px 5px;}
.review_main_container .remove_button_rev:hover, .review_main_container .photoremove:hover{ color: #00b7d9; }
@media (max-width:360px){
    .review_main_container .greycontainer_reviews{ padding-left: 5px; padding-right: 5px;}
    .review_main_container .nextcircletext_reviews .wherefromgreytext_reviews {padding-left: 10px;}
}
/*=============================================*/

/*Image Gallery:*/
.review_main_container .large_image_container img ,.deals_container .small_image_container img{width: 100%;}
.review_main_container .img_holder{cursor: pointer;}
.review_main_container .img_holder.active:after{position: absolute;content: " ";left:0;right:0;bottom:0;top:0;background: rgba(0,0,0,0.3);}
.review_main_container .slider-for {background-color: #f2f2f2; height: 100%; overflow: hidden; padding: 5px 5px 7px 5px; margin-top: 0;}
.review_main_container .slick-slide .inside-slick{height: 630px;}

.slick-next{right: 5px;}
.slick-prev{left: 5px;}
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus{background-color: rgba(0,0,0,0.5);color: #ffffff;z-index: 1;width: 50px;height: 50px;}
.slick-prev i,
.slick-next i{color: #fff;font-size: 24px;}
.slick-prev:before,.slick-next:before{display: none;}

.slick-list, .slick-track{height:100%;}
.slick-slide {background-position:center center; background-repeat:no-repeat; height: 100%;}
.slick-prev::before, .slick-next::before {font-size: 30px;opacity: 1;font-weight: bold;}

.review_main_container .mediathumb img { width: 100%;}
/*=============================================*/

/*CSS Right Panel/left panel */
.review_main_container .right_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;left:0px;top:0px;}
.review_main_container .left_panel:after{content:" ";position: absolute;width: 5px; height: 100%;background:#f1f1f1;right:-5px;top:0px;}
@media (max-width:991px){
    /*CSS Right Panel */
    .review_main_container .right_panel:after,.left_panel:after{display: none;}
}
@media (max-width:767px){
    /*CSS Right Panel */
    .review_main_container .right_panel{padding-left: 15px;padding-right: 15px;}
    /*=============================================*/
}
/*=============================================*/
