{% extends 'baseFinal.html.twig' %}

{% block body %}
    <section class="container message_container">
        <div class="row no-margin">
            <div class="col-xs-12 nopad">
                <div class="row no-margin">
                    <div class="col-xs-12 nopad">
                        <div class="row no-margin margin_top_20">
                            <div class="col-xs-12 nopad">
                                <div class="circlimg_arrow"><i class="fas fa-angle-down"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="activateMsg col-xs-12 no-margin">
                        <p>{{displayMessage|raw}}</p>
                    </div>
                </div>
                <div class="row no-margin bordered_row"></div>
            </div>
        </div>
    </section>
{% endblock %}