{# app/Resources/views/default/flight-info.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <section class="container containerresume">
        <p class="flightInfoTxt">
            {{'We are unable to issue your ticket. For any inquiry, kindly send us an email at'|trans}} <a href="mailto:flights-support@touristtube.com">flights-support@touristtube.com</a><br /><br />
        </p>
    </section>
{% endblock %}