{% extends 'baseFinal.html.twig' %}

{% block title %}
    {{ 'Reservation Approval'|trans }}{{ ' | TouristTube' }}
{% endblock %}
{% block body %}

    <section class="container">
    	<div class="row">
            <div class="col-xs-12 margin_top_30">
       			<h3 class="font-20 black job_info_subtitle">{{'Thank you. You will be notified via email once your reservation request is approved.'|trans}}</h3>
       		</div>
       	</div>
    </section>

{% endblock %}