#reportrange {
background: #ffffff;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
color: #333333;
padding: 8px;
line-height: 18px;
cursor: pointer;
width: 252px;
}


/** class written by pradeep India */

.activity_drop_down {
	margin-left:280px;
	margin-top:-52px;
}

.activity_drp {
	width: 220px;
	cursor:pointer;
}
/* 
    Added By Anthony Malak 04-07-2015 to fix the filter by the Hash id added by the user
    <start> 
*/
.hash_id_input{
    margin-left:520px;
    margin-top:-52px;
    color: #555555;
    line-height: 18px;
    font-size: 14px;
}
/**
	Changed by Sushma Mishra on 26-08-2015 to assign the same features of hash_id to cmsvideo_id starts from here 
*/
#hash_id,#cmsvideo_id{
    background: #ffffff;
    border: 1px solid #ccc;
    color: #555555;
    line-height: 18px;
    width: 240px;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
}
/** 
	Changed by Sushma Mishra on 26-08-2015 to assign the same features of hash_id to cmsvideo_id ends here 
*/
/* 
    Added By Anthony Malak 04-07-2015 to fix the filter by the Hash id added by the user
    <end> 
*/

/** 
    Added a new class By Sushma Mishra on 26-08-2015 to design the filter box for cms videos id starts from here   
*/
.cmsvideo_id_input{
    margin-left:835px;
    margin-top:-62px;
    color: #555555;
    line-height: 18px;
    font-size: 14px;
}
/* 
    Added a new class By Sushma Mishra on 26-08-2015 to design the filter box for cms videos id ends here 
*/


/*ends*/ 