.title{
    font-size: 25px;
    color: #fff;
    background-color: #5763bd;
    width: auto;
    display: table;
    padding:0.5% 1%;
    margin-bottom: 20px;
}
table{
    width:100%;
    margin-bottom: 40px;
}


 tr{
  
    height: 38px;
    border-bottom: 1px solid #ddd;
}
.lasttr{
    border-bottom: none;
}
th {
    font-size:16px;
    font-weight: normal;
    color:#5763bd;
}
.formth{
    border-top: none !important;
}
.info-nb{
    background-color: #5763bd;
    border-radius: 15px;
  color: #fff;
    float: left;
    font-size: 16px;
    height: 30px;
    padding-bottom: 0;
    padding-left: 11px;
    padding-right: 0;
    padding-top: 4px;
    width: 30px;
}
.info-desp{
 font-size: 25px;
    padding-left: 10px;
    float: left;
}
.add-deal a,.edit-deal a{
    color: #5763bd;
    font-size: 20px;
    position: absolute;
    right: 7px;
}
.add-deal a{
    top: 35px;
}
.sect-date{
    position: relative;
    padding-bottom: 20px;
}
.link{
    width: 40px;
    
}
.link a{
    color: #5763bd;
}
.sect-name{
    font-size: 25px;
    color: #000;
    padding-left: 6px;
}
.firstth{
    border-top: none !important;
}
.table > tbody > tr > th,.table > tbody > tr > td{
    border-top: none;
}