.container{
    padding: 0 !important;
}
.title{
    font-size: 25px;
    color: #fff;
    background-color: #5763bd;
    width: auto;
    display: table;
    padding:0.5% 1%;
    margin-bottom: 20px;
}

input{
    border: none;
    background-color: #e9e9e9;
    height: 38px;
    color: #5763bd;
}

label{
    font-size: 16px;
    color:#404141;
    font-weight: normal;
}
textarea{
    border: none;
     background-color: #e9e9e9;
     resize: none;
     border-radius: 0;
     width:578px;
}
.add-day{
    width: 285px;
  
}
.day-title{
    width: 578px;
}
.day-sect{
    
}

.add-deal a{
   background-image: url("/media/images/dealadd-icon1.png");
    background-repeat: no-repeat;
    color: #fff;
    display: -moz-box;
    font-size: 13px;
    height: 19px;
    padding-left: 30px;
    width: auto;
    padding-right: 10px;
}


button{
      color: #5763bd;
    font-size: 25px;
    font-weight: normal;
    padding-top: 30px;
    border: none;
    background: none;
    padding-bottom: 50PX;
    display: block;
    clear: both;
}


.day-sect{
    float: left;
}

.photo-label{
    font-size: 16px;
    color:#404141;
    font-weight: normal;
    float: left;
}
.day-photos{
    float: right;
    padding-left: 30px;
    width: 592px;
}
img {
    height: 104px;
    width: 184px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
}
.add-deal{
    height: 60px;
}













