.title{
    font-size: 25px;
    color: #fff;
    background-color: #5763bd;
    width: auto;
    display: table;
    padding:0.5% 1%;
    margin-bottom: 20px;
}
.info-nb{
    background-color: #5763bd;
    border-radius: 15px;
  color: #fff;
    float: left;
    font-size: 16px;
    height: 30px;
    padding-bottom: 0;
    padding-left: 11px;
    padding-right: 0;
    padding-top: 4px;
    width: 30px;
}
.info-desp{
 font-size: 25px;
    padding-left: 10px;
    float: left;
}
.edit-deal a{
    float: right;
    color:#5763bd;
    font-size: 20px;
}
table {
    margin-top: 32px;
    margin-bottom: 40px !important;
}
tr {
    border-bottom:#ddd solid 1px;
}
.first th{
    width: 22% ;
}
th {
    border:none !important;
    font-size:16px;
    font-weight: normal;
    color:#5763bd;
}
td{
     border:none !important;
     font-size:14px;
    color:#404141;
}
.table ul {
    padding-left: 11px;
}
.table li {
    padding-left: 15px;
}
.last{
    border: none;
}
td a{
     font-size: 13px;
    color:#5763bd;
    text-transform: capitalize;
    float: right;
}
.deal-sect{
    position: relative;
}
.add-deal a{
    color: #5763bd;
    font-size: 20px;
    position: absolute;
    right: 7px;
    top: 42px;
}
.link{
    width: 64px;
}

#deal_files img { width: 350px; height: 210px; }
#deal_files a { margin-top:10px; }
#deal_files ul, #files li{ list-style: none; margin:0; padding:0; }
#deal_files li { width: 360px; float: left; list-style: none; }