.container{
    padding: 0 !important;
}
.title{
    font-size: 25px;
    color: #fff;
    background-color: #5763bd;
    width: auto;
    display: table;
    padding:0.5% 1%;
    margin-bottom: 20px;
}
input{
    width: 570px; /*578px;*/
    border: none;
    background-color: #e9e9e9;
    height: 38px;
}

label{
    font-size: 16px;
    color:#404141;
    font-weight: normal;
}
textarea{
    border: none;
     background-color: #e9e9e9;
     resize: none;
     border-radius: 0;
     width:100%;
}
.sect-title{
    font-size: 19px;
    font-weight: bold;
    color:#5763bd;
    padding-bottom: 10px;
    padding-top: 35px;
}
.no-include{
    width: 576px;
    float: right;
}
.include{
    width: 576px;
    float:left;
}
.edit-sect-main{
    float: left;
    margin-right:7px
}
.edit-sect-title{
    float: left;
}
.edit-sect-subtitle{
    float: right;
}
.summary{
    clear: both;
}
button{
      color: #5763bd;
    font-size: 25px;
    font-weight: normal;
    padding-top: 30px;
    border: none;
    background: none;
    padding-bottom: 50PX;
}
#tourFromDate, #tourToDate{
    width: 578px;
}

/*For for validation error */
.errormsg {	
	display: block;
	color: #dd4b39;
	line-height: 17px;
	font-size: 14px;
	padding: 0px;
}

.require{
    color: #dd4b39;
}























