.hotelsTable th{
    width: 120px;
}
.bluebackgroundhead{
    background-color: rgb(0,48,76);
    padding: 0;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.floatleft{
    float: left;
}
.nolsitstyle{
    list-style: none;
}
.padleftimg{
    padding-left: 10px;
}
.containerPricesHead{
    width: 100%;
    z-index: 99;
}
.defaultBtn{
    position: relative;
    display: block;
    float: left;
    font-size: 14px;
    font-family: Arial;
    line-height: 20px;
    color: #1b9fea;
    cursor: pointer;
    width: 100%;
    height: 20px;
}
.defaultBtn:hover{
    text-decoration: underline;
}
.defaultBtn.active > span{
    display: block;
    color: #eac31a;
    font-weight: bold;
    text-decoration: none;
    cursor: default;
}
.defaultBtn.active:hover{
    text-decoration: none;
    cursor: default;
}
.slider-nav{
    margin-bottom: 40px;
    float: left;
}
.containerPricesReserve{
}
.bluebackgroundheadsmall{
    background-color: rgb(0,48,76);
    padding: 0;
    min-height: 50px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.containerDetailed{
    padding: 0;
}
.lfpad{
    padding-left: 20px;
    padding-right: 20px;
}
.lgpadleft{
    padding-left: 220px;
}
.starsclass{
    color: #1b9fea;
    text-decoration: underline;
}
.floatleft{
    float: left;
}
.lhsmall{
    line-height: 30px;
}
.padbotsmall{
    padding-bottom: 10px;
}
.wsnrp{
    white-space: nowrap;
}
/*left col:
=========*/
.search_block{
    background-color: #1b9fea;
    /*min-height: 343px; */
    float: left;
    position: relative;
    padding-bottom: 30px;
}
.Guests1{
    padding: 0;
}
.people1{
    padding: 0 5px;
}
.slider-for {
    background-color: #f2f2f2;
    height: 540px;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 110px;
}
.slider-for .slick-list {
    overflow: visible;
}
.slick-prev, .slick-next {
    height: 43px;
    width: 43px;
}
.slick-list, .slick-track {
    height: 100%;
}
.slick-slide {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}
.search_subtitle{
    font-size: 17px;
    color: #fff;
    font-style: italic;
    padding-left: 12px;
    margin-top: -15px;
}
.search-caracter li.search_rate {
    padding-right: 0;
    width: 150px;
}
.search-caracter{
    margin-top: 39px;
}
.search-caracter li.search_rate img{
    /*    height: 100%;*/
}
.showonmap a {
    color: #7b7c7d;
    text-decoration: none;
}
.showOnMap {
    background:url("/media/images/showonmap.png") no-repeat scroll 1px 1px;
    display: block;
    line-height: 23px;
    padding-left: 28px;
}
.showdetails{
    background:url("/media/images/plus.png") no-repeat scroll 1px 1px;
}
.shownearby{
    background: rgba(0, 0, 0, 0) url("/media/images/nearbynewlogo.png") no-repeat scroll 1px 1px;
    display: block;
    line-height: 40px;
    padding-left: 28px;
}
.shownearby a {
    color: #7b7c7d;
    text-decoration: none;
}
.active.mediathumb .mediathumbbk, .mediathumb:hover > .mediathumbbk {
    border: 3px solid #1b9fea;
}
.mediathumb .mediathumbbk {
    bottom: 25px;
    left: 2px;
    position: absolute;
    right: 2px;
    top: 2px;
}
.mediathumbcontainer {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slick-track img {
    padding: 0 0 5px;
}
.mediathumb img {
    float: left;
    position: relative;
    width: 100%;
}
.mediathumb {
    float: left;
    padding: 5px;
    position: relative;
    width: 10%;
    cursor: pointer;
}
.search_title{
    padding-top: 15px;
}
.grey-back{
    margin-bottom: 44px;
}
.form-srch1 label{
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}
.form-srch1{
    padding-top: 0;
    padding-bottom: 0;
}
.search_block label{
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.form-srch1 img{
    padding-right: 4px;
}
.form-srch1 select{
    height: 27px;
    background-color: #fff;
    border: none;
    width: 70px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 1px;
}
.form-srch1 select option{
    padding-left: 40px;
}
.form-srch1 input{
    padding-bottom:2px;
    padding-top:2px;
    border: none;
    padding-left: 10px;

}
.bar{
    background-image: url("/media/images/barstatic.png");
    background-repeat: repeat-x;
    height: 1px;
    margin-top: 15px;
}
.bars{
    background-image: url("/media/images/bars.png");
    background-repeat: repeat-x;
    height: 1px;
}
.bars1{
    margin-bottom: 3px;
    background-image: url("/media/images/bars.png");
    background-repeat: repeat-x;
    height: 1px;
}
.barsfinal{
    padding-bottom: 10px;
}
.booking1{
    padding: 5px 0;
}

.fleshimg{
    position:absolute;
    left: 0;

}
.desti_menu a.dest{

    color: #2e2e2e;
    font-size: 13px;
    text-decoration: underline;
    text-transform:capitalize;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/media/images/ico_breadcrumb.png");
    background-origin: padding-box;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    padding-left: 23px;
    padding-right: 10px;
}
.desti_menu a.dest.first{
    background: none;
}
.desti_menu a.dest:hover, a.dest:focus{
    color: #eac31a;
}
.desti_menu .menu-prop{
    text-decoration: none;
    color: #1b9fea;
    display: inline-table;
    font-size: 11px;
}
.desti_menu{
    padding-top: 25px;
}
.search_resultimg{
    float: left;
    margin-right: 17px;
    width: 139px;
}
.search_resulttitle{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.hotelnearby_name{
    font-size: 12px;
    font-weight: bold;
    text-transform:uppercase;
    color: #49494a;
}
.search_resdes,.hotelnearby_dest{
    float: left;
    padding-right: 7px;
}
.hotelnearby_dest{
    padding-top: 5px;
}
.search_resadress{
    font-size: 11px;
    color: #777879;
    padding-top: 2px;

}
.hotelnearby_desc{
    font-size: 11px;
    color: #49494a;
    padding: 5px 0;

}
.search-caracter .search_restmap img{
    padding-right: 5px;
}
.search-caracter li {
    padding-right: 65px;
}
.search-caracter li a{
    font-size: 11px;
    text-transform: uppercase;
    color:#7b7c7d;
    font-weight: bold;
}
.search_resultcnt{
    padding-bottom: 27px;
}
.menu_searchdet li a{
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}
.gmappadtop{
    margin-top: 10px;
    padding-left:0;
    background:none;
}
.menu_searchdet{
    background-color: #00304c;
    clear: both;
    margin-top: 15px;

}
.menu_searchdet li{
    border-right-color: #fff;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left: 25px;
    padding-right: 25px;
}
.menu_searchdet li.last{
    border: none;
}
.searchtitle {
    color: #1b9fea;
    font-size: 22px;
    padding-bottom: 10px;
}
.searchbody {
    color: #49494a;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
}

.hightlight_title{
    font-size: 16px;
    color: #1b9fea;
}
.hightlight_body,.place_list{
    color: #5f6062;
    font-size: 13px;
}
.place_label{
    font-size: 12px;
    color: #26475d;
    text-transform: uppercase;
    font-weight: bold;
}
.prop_hightlight{
    padding-top: 40px;
}
.place_interest{
    padding-top: 15px;
}
.serch_intro{
    /*    border-bottom-color: #1b9fea;
        border-bottom-style: solid;
        border-bottom-width: 1px;*/
    padding-bottom: 10px;
}
.paddingleft0{
    padding-left: 0;
}
.paddingright0{
    padding-right: 0;
}
.paddingtop0{
    padding-top: 0;
}
.padding0{
    padding: 0;
}
.search_gallery{
    padding-top: 25px;

}
.hotelnearby{
    float: right;
}
.roomtype_title,.hotelnearby_title{
    font-size: 15px;
    color: #fff;
    background-color: #1b9fea;
    text-transform: uppercase;
    font-weight: bold;
    height: 28px;
    padding-top: 6px;
}
.room_name{
    font-size: 16px;
    color: #1b9fea;
}
.room_info,.hotelnearby_info{
    font-size: 13px;
    color: #5f6062;
    padding-right: 15px;
}
.room_pricedate,.hotelnearby_pricedate{
    color: #4c4c4c;
    font-size: 12px;
}
.room_price,.hotelnearby_price{
    color: #1b9fea;
    font-size: 12px;
}
.room_rate img,.hotelnearby_rate img{
    width: 10px;
}

.room_seedetail,.hotelnearby_seedetail{
    font-size: 11px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
}
.seedetail_icon{
    padding-left: 5px;
}
.room_detail,.hotelnearby_detail{
    padding-left: 25px

}
.typeroom ,.hotelnearby{
    background-color: #f6f6f6;
    margin-bottom: 10px;

}
.same_title{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #1b9fea;
    padding:6px;


}
/*.related_media .same_title{
    width:24.6%;
}*/
.relatedmedia_img{
    width: 100%;
}
.relatedmedia,.traveler_img{
    padding-bottom: 10px;
    padding-top: 0;
}
.restname{
    font-size: 13px;
    color: #49494a;
}
.resth li{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/media/images/list_yellow.png");
    background-origin: padding-box;
    background-position: left 14px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 0;
    padding-left: 10px;
    line-height: 16px;

}
.review_static{
    font-size: 15px;
    color: #a9a9a9;
    border-bottom: 1px solid #e3e3e3;
}
.review_uname{
    color: #49494a;
    float: left;
    font-size: 11px;
    padding-right: 17px;
    padding-top: 10px;
}
.review_uimg{
    width:65px;
    float: left;
    margin-right: 10px;
}
.review_ucomment{
    font-size: 12px;
    color: #49494a;
    padding-top: 10px;
}
.review_comment{
    height: 67px;
    border-bottom: 1px solid #e3e3e3;
    padding-top: 3px;
}
.review_sect{
    color:#23012a;
    font-size: 13px;
    padding-top: 5px;
    line-height: 18px;
}
.review_sect a{
    color:#23012a;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}
.cb_name{
    color:#1b9fea;
    font-size: 12px;
    padding-top: 5px;
    font-weight: bold;
    padding-left: 10px;
    text-transform: uppercase;
}
.cd_desc{
    color: #49494a;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 32px;
    padding-left: 10px;
    padding-top: 5px;
}
.countryborders{
    background-color: #f4f4f4;
}
.cb_img{
    width: 100%;
}
.filter_block{
    background-color: #00304c;
}
.filter_block h2{
    color: #fff;
    font-size: 25px;
    padding-bottom: 10px;
}
.filter_block{
    margin-top: 2px;
}
.filter_block .subtitle{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #335970;
    padding-left: 22px;
    color: #fff;
}
.filter_block li{
    background-image: url("/media/images/ico_breadcrumb.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 25px;
    position: relative;
    margin-top: 20px;
    background-position: 25px 0;
}
.checkbox{
    color: #69bbe9;
    font-size: 13px;
    text-transform: capitalize;
    margin-bottom: 5;
    margin-top: 0;
}
.checkbox  label,.checkbox.disabled label{
    cursor: pointer;
}
.satrf1{
    padding-top: 4px;
}
.change_budg{
    bottom: 0;
    display: block;
    position: absolute;
    right: 14px;
    top: 28px;
    color: #fff;
    text-decoration: underline;
    font-size: 13px;
    font-weight: bold;
}
.title-unit{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
}
.ntitlepad{
    margin-bottom: 5px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.gallery-top {
    width: 100%;
}
.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
}

.gallery-top .swiper-slide{
    height: 325px;
    width: 580px;
}


.search_gallery{
    border-bottom-color:#1b9fea;
    border-bottom-style: double;
    border-bottom-width: 6px;
}
.room_types{
    padding-top: 15px;
}


.mobile_filter{
    clear: both;
}
.mf_title{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.mobile_filter li a{
    color: #fff;
    font-size: 13px;
}
.mobile_filter li a:active,.mobile_filter li a:hover{
    text-decoration: underline;
    color: #1b9fea;
}



/*restaurant*/
.restaurant .search_block {
    background-color: #ff9531;
}
.restaurant .bars {
    background-image: url("/media/images/bar-rests.jpg");
}
.restaurant .bars1 {
    background-image: url("/media/images/bar-rests.jpg");
}
.restaurant .filter_block,.restaurant .menu_searchdet {
    background-color: #4c4239;
}

.restaurant .checkbox {
    color: #ff9531;
}
.restaurant .hightlight_title {
    color: #ff9531;
}
.restaurant .place_label,.restaurant .searchtitle ,.restaurant .room_name ,.restaurant .cb_name{
    color: #ff9531;
}
.restaurant .prop_hightlight {
    padding-top: 5px;
}
.restaurant .place_interest {
    padding-top: 5px;
}
.closed_time{
    font-size: 13px;
    font-weight: bold;
    color: #000;
}
.restaurant .place_list {
    line-height: 30px;
}
.restaurant .same_title {
    background-color: #ff9531;
}
.restaurant .roomtype_title,.restaurant .hotelnearby_title {
    background-color: #ff9531;
    font-size: 13px;
}
.restaurant .room_seedetail, .restaurant .hotelnearby_seedetail {
    padding-top: 60px;
}
.restaurant  .menu_searchdet li {
    padding-left: 11px;
    padding-right: 15px;
}
.rate-rev{
    padding-right: 5px;
}
.paddingbottom0{
    padding-bottom: 0;
}
.restaurant .serch_intro {
    border-bottom-color: #ff9531;
}
.restaurant .search_gallery{
    border-bottom-color:#ff9531;
    border-bottom-style: double;
    border-bottom-width: 6px;
}
.restaurant .desti_menu .menu-prop {
    color: #ff9531;
}
.imagesss{
    float: left;
    padding-right:15px;
}
.visitor_ratetitle{
    color: #ff9531;
    font-size: 16px;
}
.visitor{
    padding-bottom: 40px;
}
#divwithstyle{
    background: #00304c none repeat scroll 0% 0%;
}
.fpadtop{
    padding-top: 10px;
}
.container-fluidMaps{
    display: block;
    height: 220px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.map_img{
    background-color: #e5e3df;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.map_img img{
    max-width:inherit !important;
}
.filter_block .subtitle2 {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 11px;
    padding-left: 22px;
}

/*===================================*/
.fpadleft{
    padding-left: 10px;
}
.lightblue{
    background-color: rgb(27,159,234);
    min-height: 91px;
}
.padright{
    padding-right: 5px;
}
.padleft{
    padding-left: 5px;
}
.darckblue{
    background-color: rgb(0,48,76);
    min-height: 91px;
    padding: 10px;
    display: inline-block;
}
.padtopvs{
    padding-top: 25px;
}
.nostyleul{
    list-style: none;
    padding-top: 5px;
}
.nostyleul li{
    padding-left: 20px;
}
.headerstyle{
    font-size: 16px;
    color: white;
}
.otherstyle{
    font-size: 13px;
    color: white;
}
.bordergreydiv{
    border: 3px solid rgb(234, 234, 234);
    margin-top: 10px;
    min-height: 122px;
    padding-bottom: 10px;
}
.topbutborder{
    min-height: 208px;
    margin-top: 10px;
}
.borderonly{
    border-top: 3px solid rgb(234, 234, 234);
    border-bottom: 3px solid rgb(234, 234, 234);
}

.listyle, .listyle a{
    font-size: 15px;
    color: #5f6062;
}
.mainamet{
    color: #00304c;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
.listslider li{
    background:rgba(0, 0, 0, 0) url("/media/images/listbluesquare.png") no-repeat scroll 6px 9px ;
}
.lastliststyle li{
    background:rgba(0, 0, 0, 0) url("/media/images/orangeliststyle.png") no-repeat scroll 16px 9px ;
    padding-left: 30px;
}
.bluedivs{
    background-color: rgb(27,159,234);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    min-height: 38px;
    text-align: left;
    padding-left: 8px;
}
.containerPrices{
    margin-top: 30px;
}
.lhte{
    line-height: 38px;
}
.padrightt{
    padding-right: 2px;
}
.padleftres{
    padding-left: 2px;
}
.exkiro{
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding-left: 10px;
    background:rgba(0, 0, 0, 0) url("/media/images/blackBullet.png") no-repeat scroll 1px 4px ;
    margin-top: 10px;
}
.textgrey{
    font-size: 12px;
    color: #5f6062;
    padding-left: 10px;
}
.padbtp{
    padding-bottom: 2px;
}
.lightgreudiv{
    background-color: rgb(244,244,244);
    min-height: 70px;
    overflow: auto;
}
.darckgreydiv{
    background-color: rgb(239,239,239);
    min-height: 70px;
}
.addmax{
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}
.hashedtext{
    text-decoration: line-through;
    color: #5f6062;
    font-size: 13px;
}
.redprice{
    color: #e8001b;
    font-size: 16px;
}
.noliststyleint{
    list-style: none;
}
.noliststyleint li{
    color: #5f6062;
    font-size: 13px;
}
.neddleftmarggin{
    margin-left: 30px;
}
.moremargin{
    margin-left: 203px;
}
.inputbox{
    position: absolute;
    right: 30px;
    top: 5px;
}
.form-control {
    background: rgb(229,229,229) url("/media/images/flech-out.png") no-repeat scroll 85% 50%;
    border: none;
    border-radius: 0;
    width: 69px;
    height: 38px;
}
.included{
    font-weight: bold;
    font-size: 13px;
    color: #464646;
}
.textblue{
    font-size: 13px;
    color: #1b9fea;
}
.reserveblue {
    background: rgb(0, 48, 76) url("/media/images/ff.png") no-repeat scroll 5px 14px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
    margin-bottom: 30px;
    margin-top: 17px;
    text-align: center;
    text-transform: uppercase;
}
.reserveblue a{
    text-decoration: none;
    color: white;
}
.nrere{
    font-size: 13px;
    color: #5f6062;
}
.platm{
    font-size: 13px;
    color: #1b9fea;
}
.reserveblue a:after ,.reserveblue a:focus ,.reserveblue a:hover{
    text-decoration: none;
    color: white;
}
.borderclass{
    border-top: 3px solid rgb(234, 234, 234);
}
.recancel li{
    color: #e8001b;
    padding-bottom: 10px;
}
.righttext{
    position: absolute;
    right: 0;
    top: 9px;
    width: 22%;
}
.margtt{
    margin-top: 10px;
}
.extrasmalstyle{
    margin-top: 35px;
    line-height: 38px;
}
.smalgreyback{
    background-color: rgb(244,244,244);
    min-height: 38px;
}
.smalgreybackdarck{
    background-color: rgb(239,239,239);
    min-height: 38px;
}
.xstextblue{
    font-size: 12px;
    font-weight: bold;
    color: #1b9fea;
    line-height: 38px;
    text-transform: uppercase;
}
.addmaxsmal{
    margin-top: 12px;
}
.fcpad{
    padding-left: 8px;
}
.sndcolpad{
    padding-left: 20px;
}
.xsmartopf{
    margin-top: 10px;
}
.usmatop{
    line-height: 38px;
}
.xssmalliststyle{
    list-style: none;
}
.xssmalliststyle li{
    color: #5f6062;
    font-size: 13px;
}
.xspadr{
    padding-right: 4px;
}
.xspadl{
    padding-left: 4px;
}
.xspadbotth{
    padding-bottom: 3px;
}
.padtopbotfxs{
    margin-bottom: 5px;
    margin-top: 5px;
}
.cancelationxs li{
    color: #e8001b;
    font-size: 13px;
    line-height: 38px;
}
.textbluexs{
    color: #1b9fea;
    font-size: 13px;
    line-height: 38px;
}
.padxstext{
    padding-bottom: 10px;
    padding-top: 10px;
}
.greybackdivslgf{
    background-color: rgb(235,235,235);
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.pinkbackdivslgf{
    background-color: rgb(198,97,166);
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.mauvbackdivslgf{
    background-color: rgb(144,117,206);
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.bluebackdivslgf{
    background-color: rgb(76,206,203);
    height: 155px;
    padding-left: 10px;
    overflow: hidden;
}
.facstyle{
    background: rgba(0, 0, 0, 0) url("/media/images/facbullet.png") no-repeat scroll 1px 13px;
    color: #1b9fea;
    font-size: 25px;
    padding-left: 20px;
    margin-top: 30px;
}
.padtenbut{
    margin-bottom: 10px;
}
.swiper-container{
    height: 490px;
}
.slderheadergrey{
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00304c;
}
.slderheadecolored{
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.ullilistgrey{
    list-style: none;
}
.ullilistgrey li{
    color: #5f6062;
    font-size: 13px;
}
.ullilistcolored{
    list-style: none;
}
.ullilistcolored li{
    color: white;
    font-size: 13px;
}
.goodtoknow{
    color: #00304c;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.hashborderleft{
    border-top: 1px solid rgb(207,207,207);
}
.hashborderright{
    border-top: 1px solid rgb(207,207,207);
}
.leftbluecommon{
    font-size: 17px;
    color: #1b9fea;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.leftborderpad{
    padding-left: 10px;
    padding-right: 5px;
}
.rightborderpad{
    padding-left: 5px;
}
.rightgreycommon{
    color: #5f6062;
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.clearfloat{
    clear: both;
}
.paymentpicshotels{
    margin-top: 10px;
    padding-left: 10px;
    float: left;
}
.pavre{
    color: #1b9fea;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 45px;
    padding-left: 5px;
}
.ohimg{
    width: 100%;
}
.reviewsblue{
    background-color: rgb(27,159,234);
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 10px;
    min-height: 26px;
    line-height: 26px;
}
.reviewdivmargintop{
    margin-top: 55px;
}
.revgreytext{
    color: #a9a9a9;
    font-size: 15px;
}
.revipadlt{
    padding-left: 10px;
}
.padtbz{
    padding-top: 0px;
}
.countryclass{
    color: #49494a;
    font-size: 12px;
}
.locationclass{
    color: #49494a;
    font-size: 12px;
    padding-right: 20px;
}
.martoptw{
    margin-top: 12px;
}
.ifywt{
    color: #010101;
    font-size: 13px;
}
.rarv{
    background: rgba(0, 0, 0, 0) url("/media/images/fft.png") no-repeat scroll 10px 3px;
    color: #010101;
    font-size: 13px;
    font-weight: bold;
    padding-left: 25px;
    text-transform: uppercase;
    text-decoration: underline;
}
.rarv:hover ,.rarv:active ,.rarv:focus ,.rarv:after{
    color: #010101;
}
.greywithpic{
    background-color: rgb(244,244,244);
    min-height: 220px;
}
.watsincountryblue{
    color: #1b9fea;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}
.blackdesc{
    color: #49494a;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
}
.padleftinput{
    padding-left: 5px;
}

section {
    position: relative;
}
#affix1.affix {
    margin-top: 0;
    top: 0;
    width: 872px !important;
    z-index: 9999 !important;
}
.affix ~ .container {
    position: relative;
    top: 50px;
}
#affix2.affix{
    margin-top: 0;
    position: fixed;
    right: 242px;
    top: 0;
    width: 147px;
    z-index: 9999 !important;
}
.searchtext2{
    color: white;
    text-decoration: none;
    background-color: rgb(0,48,76);
    height: 55px;
    border: none;
}
.room-category {
    background-color:rgb(0,48,76);
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 8px;
}
.room-guest-info {
    font-size: 10px;
    font-style: italic;
    text-transform: none;
}
.flex {
    display: flex;
}
.fac-view-all {
    padding-top: 5px;
    padding-left: 5px;
}
.fac-view-all img {
    padding-right: 5px;
}
.image-thumb-section {
    max-height: 175px;
    overflow-y: scroll;
    margin-bottom: 25px;
}
.cancelationxs li.add-info {
    line-height: 15px;
    padding-top: 25px;
}
.rates-popup {
    color: white;
    font-size: 12px;
    overflow-y: auto;
    max-height: 250px;
}
.rates-total-left {
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
}
.btn_delete{
    position: absolute;
    right: 6px;
    top: 5px;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}
@media screen  and (min-width:992px){
    .lgpadleft{
        padding-left: 220px;
    }
}
@media screen  and (max-width:991px){
    .lgpadleft{
        padding-left: 0px;
    }
    .mediathumb {
        width: 10%;
    }
}
@media (min-width:320px)  and (max-width:330px){
    .lfpad {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width:320px) and (max-width:333px){
    .xspadleftimg{
        margin-left: 10px;
    }
}
@media screen  and (max-width:767px){
    .restaurant .hotelnearby_seedetail{
        position: absolute;
        right: 30px;
        top:-15px;
    }
    .room_seedetail,.hotelnearby_seedetail{
        position: absolute;
        right: 30px;
        top:0;
    }
    .hotelnearby_detail{
        padding-bottom: 32px;
        padding-top: 25px;
    }
    .restaurant .room_seedetail, .restaurant .hotelnearby_seedetail{
        padding-top: 45px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .search_resulttitle {
        line-height: 28px;
    }
    .neddleftmarggin{
        margin-left: 15px;
    }
    .moremargin{
        margin-left: 148px;
    }
    .form-control {
        width: 46px;
    }

}
@media (max-width:1199px){
    .pricenolh{
        line-height: 18px;
    }
    .reserveblue {
        font-size: 14px;
        padding-left: 13px;
    }

}
.sncolmargtop{
    position: absolute;
    right: 0;
}
@media (min-width:992px) and (max-width:1199px){
    .smalpadsmal{
        padding-left: 3px;
    }
}
@media (max-width:767px){
    .swiper-slide{
        width: 150%;
    }
}
@media (max-width:991px){
    .smxsstyle{
        padding-top: 10px;
        padding-left: 0px;
    }
    .padright{
        padding-right: 0px;
        padding-bottom: 5px;
    }
    .padleft{
        padding-left: 0px;
        padding-top: 5px;
    }
    .moremargin{
        margin-left: 145px;
    }
    .reserveblue {
        font-size: 16px;
    }
}
@media (min-width:320px) and (max-width:767px){
    .swiper-slide{
        width: 239px !important;
    }
}
@media (min-width:768px) and (max-width:991px){
    .pricenolh{
        line-height: 38px;
    }
    .swiper-slide{
        width: 239px !important;
    }
    .righttext {
        padding-right: 5px;;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .swiper-slide{
        width: 284px !important;
    }
}
@media (min-width:1200px){
    .swiper-slide{
        width: 284px !important;
    }
    .righttext {
        padding-right: 5px;;
    }
}
@media (min-width:767px){
    .shownearby{
        margin-left: 155px;
    }
}
@media (max-width:400px){
    .ffofullwidth{
        width: 100%;
    }
}
@media (max-width:1199px){
    .wnlsmmdxsma{
        margin-top: 50px;
    }
}