.typeLabel{
    font-weight: bolder; 
    font-size: larger;
    margin-bottom: 10px;
    color: white;
    width: 90%;
    background-color: gray;
    height: 30px;
    line-height: 30px;
}
.grid-item{
    width: 33%;
    float:left;
    margin-bottom: 15px;
}
#facilitiesContainer{
    margin-top: 20px;
}

#facilitiesContainer li{
    padding-left: 4px;
}

input[type=checkbox] {
    margin-right: 5px;
}

#btnSave {
    margin-left: 10px;
    float: left;
    margin-top: -2px;
    height: 30px;
    padding: 5px 10px;
    background: dodgerblue;
}