.title{
    font-size: 25px;
    color: #fff;
    background-color: #5763bd;
    width: auto;
    display: table;
    padding:0.5% 1%;
    margin-bottom: 20px;
}

.tour_info input{
    height: 38px;
    border: none;
    background-color: #e0e3f3;
    margin: 0;
    width: 262px;
}
.tour_info{
    background-color: #e0e3f3;
    width: 100%;
    height: 38px;
}
table{
    width:100%;
    margin-bottom: 40px;
}


 tr{
  
    height: 38px;
    border-bottom: 1px solid #ddd;
}
.lasttr{
    border-bottom: none;
}
th {
    font-size:16px;
    font-weight: normal;
    color:#5763bd;
}
.tour_info > td ,.date th{
    width: 311px;
    clear: both;
    display: inline-table;
}

.table > tbody > tr > th,.table > tbody > tr > td{
    border-top: none;
}


label{
    font-size: 16px;
    color: #545454;
    font-weight: normal;
}
input{
    border: none;
    background-color: #e9e9e9;
    height: 38px;
}
.room-info img,.room img{
    width: 185px;
    height: 105px;
}
.country-info{
    font-size: 20px;
    color:#5763bd;
    border-bottom: 5px solid #abb1de;
    margin-bottom: 50px;
}
.row{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}
.hotel-name input,input.room-name{
    width:300px !important;
    height: 38px;
}

.row input{
    width:90px;
}
.row > div{
    float: left;
    width:98px;
    margin-right: 5px;
    
}

.room{
    width: 410px !important;
    margin-right: 15px;
    position: relative;
}
.labelss {
    clear: both;
    display: inline-block;
    height: 20px;
    line-height: 13px;
    width: 70px;
    padding-left: 5px;
}
.labelss a{
    font-size: 16px;
    color: #545454;
    font-weight: normal;
}
button{
      color: #5763bd;
    font-size: 25px;
    font-weight: normal;
    padding-top: 30px;
    border: none;
    background: none;
    padding-bottom: 50PX;
}
.currency-cont{
    width: 150px!important;
    margin-right: 12px!important;
}
.date-cont{
    position: relative;
    width: 150px!important;
}
.date-input{
    width: 150px!important;
}