h1, h2 { font-family: Arial, sans-serif; font-size: 25px; }
h2 { font-size: 20px; }
 
label { font-family: Verdana, sans-serif; font-size: 12px; display: block; }
/*input { padding: 3px 5px; width: 250px; margin: 0 0 10px; }*/
input { padding: 3px 5px; margin: 0 0 10px; }
input[type="file"] { padding-left: 0; }
input[type="submit"] { width: auto; }
 
#files img { width:100px; height: 100px; }
#files a { margin-top:10px; }
#files ul, #files li{ list-style: none; margin:0; padding:0; }
#files li { width: 110px; float: left; list-style: none; }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{ height: 90px;}
#map_image_container{ margin-top: 30px;}
