{% extends 'base.html.twig' %}
{% block pagenewcss %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.1.3/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ asset("/assets/deals/css/tours.css")|raw }}" >
    <style>
        .redz{
            border: 1px solid red;
        }
        .tourSubmit{
            color: #fff;
            background-color: #eac31a;
            border: none;
            border-radius: 0;
            text-shadow: none;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block pagenewjs %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $('#search').click(function(){
                 
                var myData = new Object();
                myData['bookingId'] = $('#bookingId').val();
                
                $.ajax({
                    method: "POST",
                    url: generateLangURL("findBooking",'empty'),
                    data: myData,
                    success: function(result){
                        $('#searchResults').html(result.content);
                }});               
            });
        });
        
        function showBookingDetails(bookingId){ 
             var myData2 = new Object();
             myData2['bookingId'] = bookingId;
                
            $.ajax({
                method: "POST",
                url: generateLangURL("bookingDetails",'empty'),
                data: myData2,
                success: function(result){
                    $('#bookingDetails').html(result.content);
            }});
        }
    </script>
{% endblock %}
{% block body %}
    <section class="container">
        <div class="col-xs-12">
            <div class="overview">
                <div class="fl bg">
                    <h1 class="padd">{{'Search Booking'|trans}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopad">  
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <form name="verifyAvailabilityForm" method="POST" action="bookNow" autocomplete="off">
                    <div class="col-xs-12">
                        <div class="inputbox">
                            <div><b>{{ 'Booking ID:'|trans }}</b></div>
                            <input type="text" id="bookingId" name="bookingId" class="form-control" placeholder="Enter Booking ID" />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                        <div class="inputbox">
                            <input type="button" id="search"    name="search"   value="Search" class="btn btn-default signup tourSubmit" />
                        </div>
                    </div>
                </form>
            </div>
            <div id="bookingDetails" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                &nbsp;
            </div>                
        </div>
        <div id="searchResults" class="col-xs-12">
            &nbsp;
        </div>                    
    </section>
{% endblock %}
