{% extends 'basecorporateFinal.html.twig' %}

{% block body %}
    <section class="container main_flight_container">
	<div class="row no-margin min_height_45" style="padding: 20px; margin-top: 20px; font-weight: bold;">    
	    <div class="col-xs-12 nopad">
		<p class="blackboldtext">
		    {{'Flight tickets purchased may be canceled online with full refund if cancelled before 19.00 GMT on the same day of purchase.'|trans}}<br/>
		    {{'For flight tickets modifications and other cancellations airlines ticketing policies apply.'|trans}}<br/>
		    {{'Kindly Contact: '|trans}} <a href="mailto:flights-support@touristtube.com">flights-support@touristtube.com</a> - {{'Expected reply within 24 hours.'|trans}}
		</p>
	    </div>
	</div>
    </section>
{% endblock %}