.relative {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
}
.absolute {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}
.relativeauto {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: auto;
  height: auto;
}
.absoluteauto {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: auto;
  height: auto;
}
.accountActivitiesCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 656px;
  height: auto;
  clear: both;
}
.accountActivitiesSep {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
}
.accountActivitiesSepTop {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 100%;
  background-color: #dedede;
  border-top: 1px solid #ebebeb;
  height: 1px;
}
.accountActivitiesSepBottom {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 100%;
  margin: 1px 0 0 0;
  background-color: #d4d4d4;
  border-top: 1px solid #e0e0e0;
  height: 1px;
}
.aCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 0 0 40px 0;
  height: auto;
  width: 100%;
}
.ActivitiesTitle {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  color: #686868;
  cursor: pointer;
  font: 12px/22px Arial, Helvetica, sans-serif;
  height: 22px;
  margin: 12px 0 0 0px;
  width: 657px;
}
.ActivitiesOrder {
  background: url(/media/images/modal_number_circle.png) no-repeat 0 0;
  color: #000000;
  float: left;
  font: bold 9px Arial, Helvetica, sans-serif;
  height: 14px;
  margin: 3px 0 0 5px;
  padding: 1px 0 0;
  position: relative;
  text-align: center;
  width: 15px;
}
.ActivitiesSubTitle {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  color: #e7ba20;
  font: 17px/22px arial;
  height: 22px;
  text-transform: capitalize;
  margin: 0 0 0 5px;
}
.ActivitiesTitleDesc {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  color: #909090;
  font: 11px/22px arial;
  height: 22px;
  margin: 0 0 0 5px;
}
.globSummary {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 636px;
  height: 96px;
  margin: 18px 0 0 20px;
}
.logosCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 471px;
  height: 30px;
}
.activLike {
  position: relative;
  background: url(/media/images/activLike.png) no-repeat 0 0;
  width: 30px;
  clear: both;
  margin: 0 auto;
  height: 30px;
}
.activcomment {
  position: relative;
  background: url(/media/images/activcomment.png) no-repeat 0 0;
  width: 31px;
  margin: 0 auto;
  height: 28px;
}
.activShare {
  position: relative;
  background: url(/media/images/activShare.png) no-repeat 0 0;
  width: 30px;
  margin: 0 auto;
  height: 30px;
}
.activRate {
  position: relative;
  background: url(/media/images/activRate.png) no-repeat 0 0;
  width: 20px;
  margin: 6px auto 0 auto;
  height: 22px;
}
.globNum {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  height: 23px;
  width: 150px;
  clear: both;
  font: 16px arial;
  color: #000000;
}
.mediaLogosCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 471px;
  height: 44px;
}
.globNumCon {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 165px;
  margin: 28px 0 0;
  height: 68px;
}
.mediaValuesCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 20px 0 0;
  width: 471px;
  height: 44px;
}
.ProfileHeader2 {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  background-color: #3F3F3F;
  background-position: center center;
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
  margin: 0 1px 0 0;
}
.photosLogo {
  background-image: url("/media/images/profile_header/photos.png");
}
.videosLogo {
  background-image: url("/media/images/profile_header/videos.png");
}
.albumsLogo {
  background-image: url("/media/images/profile_header/albums.png");
}
.eventsLogo {
  background-image: url("/media/images/profile_header/events.png");
}
.journalsLogo {
  background-image: url("/media/images/profile_header/journals.png");
}
.globLikes {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 88px;
  text-align: center;
}
.globcomment {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 115px;
  margin: 0 0 0 25px;
  text-align: center;
}
.globShare {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 143px;
  margin: 0 0 0 3px;
  text-align: center;
}
.globRate {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 91px;
  margin: 0 0 0 6px;
  text-align: center;
}
.globVal {
  height: 30px;
  font: 17px/30px arial;
  color: #000000;
}
.globDesc {
  height: 14px;
  font: 11px/14px arial;
  color: #000000;
}
.mediaTableCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 68px 0 0 1px;
  width: 655px;
  height: auto;
  clear: both;
}
.mediaTableCont .mediaTableHead1 {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 100%;
  height: 25px;
  background: #3f3f3f;
  color: #fff;
}
.mediaTableCont .mediaTableHead1 .tableH {
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: bold 11px/25px arial;
  width: 113px;
  height: 25px;
  margin: 0;
  padding: 0 0 0 52px;
}
.mediaTableCont .mediaTableHead1 .tableCell {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  text-align: center;
  margin: 0 0 0 6px;
  width: 92px;
  height: 25px;
  font: 11px/25px arial;
}
.mediaTableCont .mediaTableHead2 {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 100%;
  height: 26px;
  background: #000000;
  color: #fff;
  font: bold 11px/26px arial;
}
.mediaTableCont .mediaTableHead2 .tableH {
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: bold 11px/25px arial;
  width: 113px;
  margin: 0;
  padding: 0 0 0 52px;
}
.mediaTableCont .mediaTableHead2 .tableCell {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  text-align: center;
  width: 92px;
  height: 26px;
  margin: 0 0 0 6px;
}
.mediaTableCont .mediaTableRow {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 100%;
  height: 26px;
  margin: 6px 0 0;
  background: #fff;
}
.mediaTableCont .mediaTableRow .tableH {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  background: #f3f3f3;
  font: 12px/26px arial;
  height: 26px;
  width: 113px;
  padding: 0 0 0 52px;
  color: #808080;
}
.mediaTableCont .mediaTableRow .tableCell {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  text-align: center;
  margin: 0 0 0 6px;
  font: 12px/26px arial;
  width: 92px;
  height: 26px;
  color: #e7ba20;
  background: #f3f3f3;
}
.cellHeader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  left: -5px;
  background-position: center center;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
}
.cellViewsLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 6px;
  height: 6px;
  top: 10px;
  left: 22px;
  background: url(/media/images/eventsdetailed/views.png) no-repeat 0 0;
}
.cellLikesLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 16px;
  background: url(/media/images/eventsdetailed/like.png) no-repeat 0 0;
}
.cellCommentsLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 14px;
  height: 14px;
  top: 7px;
  left: 17px;
  background: url(/media/images/eventsdetailed/comment.png) no-repeat 0 0;
}
.cellSharesLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 17px;
  height: 17px;
  top: 4px;
  left: 15px;
  background: url(/media/images/eventsdetailed/share.png) no-repeat 0 0;
}
.cellRatesLogo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 12px;
  height: 11px;
  top: 7px;
  left: 19px;
  background: url(/media/images/eventsdetailed/rates.png) no-repeat 0 0;
}
#mediaUploadedCon {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 23px 0 0 15px;
  width: 432px;
  font: bold 10px arial;
  color: #000;
  height: 210px;
}
#networkGrowthCon {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 23px 0 0 9px;
  width: 575px;
  font: bold 10px arial;
  color: #000;
  height: 267px;
}
#contentDistCon {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 23px 0 0 3px;
  width: 410px;
  font: bold 10px arial;
  color: #000;
  height: 235px;
}
.mediaUploadedLabel {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 115px 0 0 -50px;
  height: 13px;
  font: 12px/13px arial;
  color: #000;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.networkGrowthLabel {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 115px 0 0 -30px;
  height: 13px;
  font: 12px/13px arial;
  color: #000;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.contentDistLabel {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 115px 0 0 -30px;
  height: 13px;
  font: 12px/13px arial;
  color: #000;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
#mediaUploadedPieCon {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 40px 0 0 15px;
  width: 300px;
  font: bold 10px arial;
  height: 180px;
}
#engagementPieCon {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 40px 0 0 15px;
  width: 320px;
  font: bold 10px arial;
  height: 180px;
}
.labelContainer {
  height: 18px;
}
.labeltitle {
  height: 18px;
  font: 11px/18px arial;
  position: relative;
  text-align: left;
  float: left;
  padding: 0 5px;
}
.labelVal {
  height: 18px;
  font: 10px/18px arial;
  position: relative;
  float: right;
  text-align: right;
  padding: 0 5px;
}
.mediaUploadedPieLabel {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 15px 0 0 128px;
  font: 11px arial;
  color: #000;
  width: 120px;
}
.engagementPieLabel {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 15px 0 0 215px;
  font: 11px arial;
  color: #000000;
}
#legend7Cont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  background: #3F3F3F;
  margin: 23px 0 0 13px;
  height: 215px;
  width: 155px;
}
#legend7 {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  background: #3F3F3F;
  height: 215px;
  width: 155px;
}
#legend7 .legendColorBox > div > div {
  border-top: 2px !important;
  width: 9px !important;
  margin-bottom: 34px;
  margin-top: 4px !important;
}
#legend7 > table {
  margin: 25px 0 0 30px;
}
.legendLabel {
  margin: 5px 0 36px 7px !important;
  display: block;
  font: 11px arial;
  vertical-align: top;
  color: #919191 !important;
}
#networkGrowthCon .legendColorBox > div > div {
  border-top: 2px !important;
  margin-left: 25px !important;
  width: 9px !important;
}
#networkGrowthCon .legendLabel {
  margin: 0 0 0 7px !important;
  font: 11px arial;
  vertical-align: top;
  color: #000000 !important;
}
.networkValCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 25px 0 0 20px;
  width: 660px;
  height: auto;
}
.networkValTitleCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: 12px/33px arial;
  color: #000;
  width: auto;
  height: 100px;
}
.networkValValCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: 17px/33px arial;
  color: #b3b3b3;
  width: auto;
  margin: 0 0 0 5px;
  height: 100px;
}
.networkValPrevCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  width: 22px;
  margin: 0 0 0 30px;
  height: 100px;
}
.prevSocial {
  position: relative;
  float: left;
  width: 22px;
  height: 22px;
  padding: 0;
  clear: both;
  background: url(/media/images/previewSocial.png) no-repeat 0 0;
}
#prevFriends {
  margin: 5px 0 0 0;
}
#prevFollowers {
  margin: 11px 0 0 0;
}
#prevFollowings {
  margin: 12px 0 0 0;
}
.networkValTitleCont2 {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: 12px/33px arial;
  color: #000;
  margin: 0 0 0 20px;
  width: auto;
  height: 100px;
}
.networkValValCont2 {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: 17px/33px arial;
  color: #b3b3b3;
  margin: 0 0 0 30px;
  width: auto;
  height: 100px;
}
.networkValSymbCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 0 0 0 90px;
  width: 17px;
  height: 100px;
}
.prevSocial1 {
  margin: 0;
  float: left;
  position: relative;
  display: block;
  width: 17px;
  height: 8px;
  padding: 0;
  margin: 12px 0 0;
  clear: both;
  background: url(/media/images/followRight.png) no-repeat 0 0;
}
.prevSocial2 {
  margin: 0;
  float: left;
  position: relative;
  display: block;
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 22px 0 0;
  clear: both;
  background: url(/media/images/followBoth.png) no-repeat 0 0;
}
.prevSocial3 {
  margin: 0;
  float: left;
  position: relative;
  display: block;
  width: 17px;
  height: 8px;
  padding: 0;
  margin: 20px 0 0;
  clear: both;
  background: url(/media/images/followLeft.png) no-repeat 0 0;
}
.followFriendCont {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  margin: 40px 0 0 20px;
  width: 411px;
  height: auto;
}
.followFriendTitle {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: 11px arial;
  margin: 0 0 3px 0;
  color: #000000;
}
.followBar {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  height: 28px;
  text-align: right;
  font: 20px/28px arial;
  color: #fff;
  background: #000000;
}
.friendBar {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  height: 28px;
  text-align: right;
  font: 20px/28px arial;
  color: #fff;
  background: #e7ba20;
}
.followFriendVal {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  font: 11px arial;
  margin: 3px 0 0;
  color: #000000;
}
.min2Val {
  position: absolute;
  top: 25px;
  right: 35px;
  font: 17px arial;
  color: #ffffff;
}
.min1Val {
  position: absolute;
  top: 81px;
  right: 35px;
  font: 17px arial;
  color: #ffffff;
}
.currVal {
  position: absolute;
  top: 136px;
  right: 35px;
  font: 17px arial;
  color: #ffffff;
}
