@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
}
#InsideNormalup {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 990px;
}
#InsideNormal {
    margin: 0 0 0 16px;
    min-height: 633px;
    padding: 0;
    position: relative;
    width: 100%;
}
.marginbottom20{
	margin-bottom:20px;	
}
.marginleft5{
	margin-left:5px;	
}
.marginleft7{
	margin-left:7px;	
}
.marginleft19{
	margin-left:19px;	
}
.marginleft23{
	margin-left:23px;	
}
.marginleft32{
	margin-left:32px;	
}
.margintop2{
	margin-top:2px;	
}
.margintop3{
	margin-top:3px;	
}
.margintop4{
	margin-top:4px;	
}
.margintop6{
	margin-top:6px;	
}
.margintop7{
	margin-top:7px;	
}
.margintop8{
	margin-top:8px;	
}
.margintop9{
	margin-top:9px;	
}
.margintop10{
	margin-top:10px;	
}
.margintop12{
	margin-top:12px;	
}
.margintop14{
	margin-top:14px;	
}
.margintop15{
	margin-top:15px;	
}
.margintop16{
	margin-top:16px;	
}
.margintop18{
	margin-top:18px;	
}
.margintop19{
	margin-top:19px;	
}
.margintop20{
	margin-top:20px;	
}
.margintop21{
	margin-top:21px;	
}
.margintop26{
	margin-top:26px;	
}
.margintop28{
	margin-top:28px;	
}
.margintop29{
	margin-top:29px;	
}
.margintop38{
	margin-top:38px;	
}
.margintop41{
	margin-top:41px;	
}
.margintop42{
	margin-top:42px;	
}
.formttl {
    color: #686868;
    font-size: 12px;
}
.font11{
	font-size:11px !important;
}
.italic{
	font-style: italic;	
}
.yellowbold11{
	color:#e7ba20;
	font-size:11px;
	font-weight:bold;
}
.displaynone{
	display:none !important;	
}
.create_event{
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	display:block;
	float:left;
	width:auto;
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#ffffff;
	text-transform:uppercase;
	padding-left:4px;
	padding-right:17px;
	margin-top:67px;
	background-color:#000000;
	font-weight:bold;
}
.create_event_container{
	position:relative;
	display:block;
	float:left;
	width:504px;
	height:auto;	
}
.ChaFocus {
    border: 1px solid #ABADB3;
    color: #000000;
    font-size: 12px;
    height: 22px;
    width: 264px;
}
.popborder{
	padding: 2px !important;
	margin-top:2px;
}
.clearboth{
	clear:both;	
}
textarea {
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	resize: auto;
	cursor: auto;
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	resize:none;
}
.formContainer100 {
    float: left;
    position: relative;
    width: 100%;
}
.formContainersub {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
.themephotoStan {
    border: 1px solid #E7BA20;
    float: left;
    height: 122px;
    margin-left: -4px;
    margin-top: 1px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 187px;
}

.themephotoStanInside {
    background-color: #D8D8D8;
    height: 122px;
    margin: 0;
    position: relative;
    width: 187px;
}
.themephotoStan img {
    height: 122px;
    width: 187px;
}
.fromdate {
    display: block;
    float: left;
    height: 33px;
    position: relative;
    width: 210px;
}
.bdate {
    width: 210px !important;
}
.popdate{
	background-color:#ffffff !important;
	font-size: 12px;
}
.fromtime {
    display: block;
    float: left;
    height: 33px;
    left: 137px;
    position: absolute;
    top: 15px;
    width: 75px;
}
.fromtimeline {
    background-color: #686868;
    display: block;
    height: 33px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 2px;
}
.fromtime input {
    height: 15px;
    width: 35px;
}
.fromtime span {
    margin-top: -5px;
}
.event_butcontainer {
	display: block;
	height: 27px;
	position: relative;
	width: auto;
	margin-bottom: 70px;
	float: right;
	margin-right:97px;
}
.event_buts {
    color: #686868;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 13px;
    line-height: 13px;
    margin-top: 7px;
    position: relative;
    width: auto;	
}
.event_buts:hover{
    color: #e3b721;
}
.event_butseperator {
    background: url("/media/images/alert_seperator.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
    position: relative;
    width: 2px;
}
.peoplecontainer {
    background-color: #FFFFFF;
    height: auto;
    min-height: 60px;
    position: relative;
    width: 331px;
}
.emailcontainer {
    border: 1px solid #BCBCBC;
    display: block;
    float: left;
    height: auto;
    margin: 0;
    min-height: 41px;
    padding: 2px;
    position: relative;
    width: 327px;
    z-index: 2;
}
.addmore {
    display: block;
    float: left;
    margin: -4px 0 0;
    padding: 0;
    position: relative;
    width: auto;
}
.addmoretext_css {
    background: none repeat scroll 0 0 #B8B8B8;
    border: medium none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    width: auto;
}
.friendscontainer {
    border: 1px solid #DBDFE6;
    display: block;
    float: left;
    height: 46px;
    margin: -1px 0 0;
    padding: 0;
    position: relative;
    width: 331px;
    z-index: 1;
}
.formttl13 {
    color: #686868;
    font-size: 13px;
}
.peoplesdata {
    background-color: #E7BA20;
    display: block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin: 0 3px 3px 0;
    padding: 0 17px 0 5px;
    position: relative;
}
.peoplesdatainside {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
.peoplesdataclose {
    background-image: url("/media/images/modal_profile_close.jpg");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 10px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 10px;
}
.InputErr {
    border: 1px solid #CEA113;
}
.emailcontainer .ui-autocomplete {
    border: 2px solid #555557 !important;
    max-height: 144px !important;
	height: auto !important;
    overflow: auto !important;
    width: 329px !important;
	left:-1px !important;
}
.emailcontainer .ui-menu .ui-menu-item a{
	background-color:#555557 !important;
	padding:0 !important;
	padding:2px !important;
	/*padding-left:4px !important;
	padding-right:4px !important;*/
	border:none !important;
}
.emailcontainer .ui-menu .ui-menu-item a.ui-state-focus {
	background-color:#ffffff !important;
	height: 0px !important;
}
.emailcontainer .ui-menu .ui-menu-item {
	background-color:#000000 !important;	
}
.peoplecontainer_custom .ui-autocomplete{
    border: 2px solid #e2e3ea !important;
    max-height: 182px !important;
    overflow: auto;
    width: 330px !important;
}
.peoplecontainer_custom #ui-id-1{
    width: 218px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item{
    width: 100% !important;
	margin: 0 !important;
    padding: 0 !important;
	height:36px !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a{
	background-color:#e2e3ea !important;
	padding:0 !important;
	padding:2px !important;
	/*padding-left:4px !important;
	padding-right:4px !important;*/
	border:none !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item a.ui-state-focus{
	background-color:#ffffff !important;
}
.peoplecontainer_custom .ui-menu .ui-menu-item{
	background-color:#ebebeb !important;	
}
.peoplecontainer_custom .peoplesearch{
	position:relative !important;
	width:100% !important; 
	height:32px !important; 
	background-color:#ebebeb !important;
	margin:0 !important;
	padding:0 !important;
}
.peoplecontainer_custom .peoplesearchtext {
    color: #959595;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 32px;
    left: 42px;
    line-height: 32px;
    position: absolute;
    top: 0;
    width: auto;
}
.marker.selected{
	position: absolute; 
	top: -1px; 
	left: -22px;
}
.privacyclass{
	width:110px;
	margin: 7px 0 0 0px;	
}