/* Small devices (tablets, 768px and up) */
@media screen and (max-width:767px) { 


.bag-search {
    display: block !important;
    margin: 3px auto !important;
    padding: 2px 0 !important;
    position: relative !important;
    width: 90% !important;
}

.bag-search .i-search-crose {
    left: auto !important;
    right: 1% !important;
    top: 6px !important;
    width: 20px !important;
}

.bag-search .input-search {
    padding: 2px 10% !important;
    position: relative;
    width: 80% !important;
}

.bag-search .search-btn {
    width: 100% !important;
}

.tt-bag-destination {
    margin: 50px auto 0 !important;
    width: 280px !important;
}

.tt-destination-text {
    display: block !important;
    margin: 12px auto !important;
    padding: 2px 1% !important;
    position: relative;
    width: 92% !important;
}

ul.tt-links {
    display: block;
    margin: 0 3% 20px !important;
   
} 

ul.tt-links li {
    display: block !important;
    margin: 0 0 6px !important;
    width: auto !important;
}
.tabview-container {
    margin: 0 1% !important;
}

.tt-bag-block .img_descp {
    margin: -5px 0 0 !important;
}

.tt-bag-block {
    display: block !important;
    margin: 0 auto !important;
    min-width: 240px !important;
    width: 100% !important;
}

.tt-bag-block .img_box {
    height: 100% !important;
    width: 100% !important;
}

.tt-bag-block .img_descp {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.tt-bag-block .img_box img {
    max-height: inherit;
    max-width: inherit;
    overflow: hidden;
}

.tt-bag-type img {
    height: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
    width: auto !important;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width:768px) and (max-width:992px) { 

.bag_search_bar {
    padding: 5px 1% !important;
}

.tt-bag-destination {
    margin-left: 1% !important;
}

.tt-destination-text {
    margin: 15px 1% !important;
}


.tt-bag-type {
    height: 30px !important;
    left: 6px !important;
    padding: 6px !important;
    top: 6px !important;
    width: 30px !important;
}

.tabview-container {
    margin: 0 0.5% !important;
}

.section_group.tt-tabnav .menu-bag {
    /*width: 24% !important;*/
    width: 288px !important;
}
.tt-bag-block .section_group_col1 {
    margin: 0 0.2% 10px !important;
    /*width: 24% !important;*/
    width: 288px !important;
}
.tt-bag-block .img_box {
    height: 100% !important;
    width: 100%;
}

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:993px) { 

}