
h1{
    float: left;
    padding-right: 10px;
    padding-top: 6px;
}

.media_list{
    width: auto;
    margin: 0 auto;
}
.post{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 0;
    width: 284px;
    float: left;
}
.postbk{
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 10px;
    border: 1px solid #e3e3e3;
    height: 165px;
}
.item_title{
    color: #d93c61;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 8px;
    float: left;
    width: 100%;
    text-transform: capitalize;
    line-height: 18px;
}
.item_desc{
    font-size: 13px;
    color: #6a6969;
    padding: 0 10px;
    float: left;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    line-height: 17px;
}
.pagination li{
    list-style: none;
    float: left;
}
#pagination_under{
    float:right;
    padding-bottom:10px;
}
#posts { 
    margin: 0 auto;
    padding-bottom:20px;
}
.emptySpace{
    height:15px;
}

a.dest{
    
    color: #2e2e2e;
    font-size: 13px;
    text-decoration: underline;
    text-transform:capitalize;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/dest-icon.png");
    background-origin: padding-box;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    padding-left: 23px;
    padding-right: 10px;
}
.destination li.first a{
    background: none;
}
a.dest:hover, a.dest:focus{
    color: #d93c61;
}
a.dest{
    border-right: 1px solid #d93c61;
}
.destination li.last a.dest{
    border-right: none;
}
a.dest.active{
    color: #d93c61;
}
.media_list{
    border-top: 4px solid #d93c61;
    margin: 0 auto;
}
.soustitle_categ{
    color: #2d2d2d;
    font-size: 13px;
}
button{
    border: none;
    background-color: transparent;
    color: #d93c61;
    font-size: 35px;
}
.pagination{
    margin-top: 0;
    margin-bottom: 5px;
    float:right;
    padding-top: 0;
}
/*.catg{
    padding-bottom: 30px;
}*/
/*.catg_titlewrapper .collapse,.catg_titlewrapper .collapsing{
    padding-top: 15px;
}
.catg_titlewrapper .collapse li,.catg_titlewrapper .collapsing li{
    list-style: none;
    line-height: 13px;
}
.catg_titlewrapper .collapse li a.catg_list,.catg_titlewrapper .collapsing li a.catg_list{
    color: #6a6969;
    font-size: 14px;
    text-transform: capitalize;
}
.catg_titlewrapper .collapse li.first,.catg_titlewrapper .collapsing li.first{
    text-decoration: underline;
    text-transform: capitalize;
}
.categories_info .list-inline{
    margin-left: -30px;
}*/
.first_pg{background: url('../images/pager_btns.jpg') no-repeat 0 5px ;width:12px;height: 15px;cursor: pointer;margin-right: 5px; }
.prev_pg{background: url('../images/pager_btns.jpg') no-repeat -12px 5px ;width:12px;height: 15px;cursor: pointer;margin-right: 5px; position: relative;}
.next_pg{background: url('../images/pager_btns.jpg') no-repeat -27px 5px ;width:12px;height: 15px;cursor: pointer;margin-left: 5px; padding-left: 12px !important;}
.last_pg{background: url('../images/pager_btns.jpg') no-repeat -38px 5px ;width:12px;height: 15px;cursor: pointer;margin-left: 5px; }
.prev_pg span,
.next_pg{text-indent: -9999px;}
.pagination a:focus,.pagination a:hover{
    color: #eac31a;
}
.next_pg:hover, .next_pg:focus{
    color: #eac31a;
}
.prev_pg span{
    position: absolute;
    right: 15px;
}
.social,.social:hover{
    background-color: #d93c61;
    bottom: 10px;
    clear: both;
    color: #fff;
    display: block;
    font-size: 13px;
    left: 10px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    position: absolute;
    cursor:pointer;
    text-decoration: none;
    
}

.trg_icon{
    position: absolute;top: 0px;
    left: 0px;
    
}
.pagination {padding-right: 4px;}
.pagination ul li{list-style: none;float: left;font-weight: bold;}
.pagination ul li span{display: inline-block}
.pagination ul li a{color:#5e5e5e;display: inline-block;padding: 0 2px; font-size: 15px; height: 24px; line-height: 24px; font-weight: normal;}
.pagination ul li.active a{color:#2d2d2d; font-weight: bold;}
.pagination ul li a:hover{color:#2d2d2d;display: inline-block;padding: 0 2px}
.pagination ul li.active a:hover{color:#acc120}

.ui-state-active .ui-icon{background:none}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background-color: transparent;
}
.ui-accordion .ui-accordion-icons{
    padding-left: 0;
    color: #d93c61;
    font-size: 35px;
    text-transform: capitalize;
}
/*.ui-accordion .ui-accordion-header{
    padding-bottom: 0 !important;padding-top: 0;
}*/
.ui-widget{
    font-size: 30px;
}
#accordion .content{
    border: none;
}
#accordion li{
    list-style: none;
    line-height: 13px;
}
 #accordion li a.catg_list{
    color: #6a6969;
    font-size: 14px;
    text-transform: capitalize;
}
 #accordion li.first{
    text-decoration: underline;
    text-transform: capitalize;
        font-size: 14px;
}
#accordion .wewe{
     color: #2d2d2d;
    font-size: 13px;
    text-decoration: none;
}
#accordion a:focus,#accordion a:hover{
    text-decoration: none;
}
.click-here{
    font-size: 11px;
    color:#a3a3a3;
    font-style: italic;
    
}
/*.ui-accordion .ui-accordion-content{
    padding-left:2.2em;
    padding-right:2.2em;
    overflow:initial;
}
.ui-accordion-content-active{
    overflow: initial !important;
    
}*/
.arr_bg {
  background: url("../images/dropdown-cat.png") no-repeat scroll 5px 0;
  height: 15px;
  width: 19px;
  display: inline-block;
}
.tt-sprites.i-search-map{
    background-image:  url("../images/channel-search1.png");
    background-position:4px 4px;
}
.tt-sprites.i-search-mgf{
    background-image:  url("../images/channel-search2.png");
    background-position:4px 4px;
}

.bag-search .search-btn{
    display: block;
    background-color: #d93c61;
    margin-left: 10px;
}










@media  (max-width:767px){    
    .pagination ul li a{font-size: 17px;}
    .bag-search .search-btn{
     margin-left: 0;
     margin-top: 10px;
    }
}