#ui-id-1{
    /*width:305px !important;*/
}
#ui-id-1 li{
    float:none;
    display:block;
}
.ui-menu .ui-menu-item a{
    display:block;
    background-color:#efefef;
    color:#3f3f3f;
    border-bottom:1px solid #e2e2e2 !important;
    cursor:pointer;
}
.autocompletImage{

}
a{
    text-decoration:none;	
}
.searchttl{
    float:right;
    margin-left:5px;
    margin-top:8px;
    width:255px
}
#TopProfileDiv li{
    border:0;
    padding-bottom:7px;
}
#slot-machine-tabs, #MiddleTop{
    /*height:47px !important;*/
}
#TopProfileDiv li:first-child{
    background:url(/media/images/bg-first-menu.gif) repeat-x bottom;
}
#TopProfileDiv li:last-child{
    background:url(/media/images/bg-first-menu.gif) repeat-x top;
}
#TopProfileDiv li:first-child a, #TopProfileDiv li:last-child a{
    color:#FFF;
}
#RightTopMenuInside a:last-child{
    /*margin-right:54px;*/
}
#OtherChannelsPop{
    position:absolute;
    width:340px;
    padding-right:7px;
    height:258px;
    top:0px;
    left:-350px;
    background: url(/media/images/channel/arr_popup_right.gif) 340px 195px no-repeat;
    display:none;
}
#OtherChannelsPop .main{
    position:relative;
    float:left;
    width:336px;
    height:254px;
    border:2px solid #000;
    background:#2a2a2a;
}
#OtherChannelsPop .top{
    position:relative;
    float:left;
    width:303px;
    height:25px;
    padding-top:10px;
    padding-left:33px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:bold;
    font-size:11px;
    background: url(/media/images/bg-first-menu.gif) repeat-x bottom;
}
#OtherChannelsPop .next{
    position:absolute;
    right:80px;
    top:10px;
    width:22px;
    height:16px;
    font-size:10px;
    color:#a7a7a7;
    padding-left:10px;
    background:url(/media/images/channel/next-pop.gif) no-repeat left;
    cursor:pointer;
}
#OtherChannelsPop .prev{
    position:absolute;
    right:115px;
    top:10px;
    width:45px;
    height:16px;
    font-size:10px;
    color:#a7a7a7;
    padding-right:10px;
    background:url(/media/images/channel/prev-pop.gif) no-repeat right;
    cursor:pointer;
}
#OtherChannelsPop .close{
    position:absolute;
    right:1px;
    top:1px;
    width:11px;
    height:11px;
    cursor:pointer;
    background:url(/media/images/channel/close_x.gif) no-repeat;
}
#OtherChannelsPop .containertop{
    position:relative;
    float:left;
    width:336px;
    height:219px;
}
#OtherChannelsPop ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#OtherChannelsPop li{
    position:relative;
    float:left;
    width:336px;
    height:219px;
    margin:0;
    padding:0;
}
#OtherChannelsPop li:last-child{
    background:none;
}
#OtherChannelsPop li .insideli{
    position:relative;
    float:left;
    margin-top:7px;
    margin-left:1px;
    width:164px;
    height:28px;
}
#OtherChannelsPop li .insideli a{
    color:#a7a7a7
}
#OtherChannelsPop li .insideli a:hover{
    color:#e7ba20;
}
#OtherChannelsPop li .insideli .TopProfileDivText{
    width:129px !important;
}
#MiddleChannel{
    position:relative;
    width:100%;
    min-height:1080px;
    height:auto;
    float:left;
}
#ChannelContainer{
    position:relative;
    width:1023px;
    margin:0 auto;
    height:auto;
    min-height:500px;
}
.margintop5{
    margin-top:5px;
}
.disabled{
    background:none !important;
    cursor:auto !important;
    display:none !important;
}
#MainChannelContainer{
    position:relative;
    float:left;
    margin-top:4px;
    width:1023px;
    background:#FFF;
    min-height:750px;
    background:url(/media/images/channel/bg-channel-main.gif) repeat-y;
    padding-bottom:35px;
}
#ChannelLeft{
    position:relative;
    float:left;
    margin-left:14px;
    width:760px;
    height:auto;
}
#ChannelLeft .searchcontainer{
    position:relative;
    float:left;
    width:735px;
    height:auto;
    margin-top:16px;
    z-index:2;
}
#searchinput {
    background-image: url("/media/images/img/srchinput.jpg");
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 146px;
}
#searchbut {
    background-image: url("/media/images/profile-friends-loop.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 22px;
    margin: -2px 0 0 6px;
    padding: 0;
    position: relative;
    width: 22px;
}
#srchtxt {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-bottom: 2px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    text-align: left;
    top: 0;
    width: 138px;
}
#searchbutalphabetcontainer {
    display: block;
    float: left;
    height: 20px;
    margin: 0 0 0 6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 51px;
    left:174px;
}
#searchbutalphabet {
    background-image: url("/media/images/profile-friends-alphabet.jpg");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 51px;
}
#alphabetcnt {
    background-color: #2A2A2A;
    border: 3px solid #000000;
    display: block;
    float: left;
    height: 100px;
    left: 51px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 210px;
}
#alphabetcnt ul {
    display: block;
    height: 90px;
    list-style: none outside none;
    margin: 2px 0 0 2px;
    padding: 0;
    position: relative;
    width: 205px;
}
#alphabetcnt ul li {
    color: #B4B4B4;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    list-style: none outside none;
    margin: 5px 0 0 10px;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 18px;
}
#alphabetcnt ul li.active{
    color:#ffffff;
    background-image:url(/media/images/profile-friends-alph-bk.png);
    background-repeat:no-repeat;
}
#alphabetcnt ul li.inactive{
    color:#5f5f5f;
    cursor:default;
}
#alphabetcnt ul li.activeall{
    text-transform:lowercase;	
    font-size:12px;
    color:#ffffff;
}
#alphabetcnt ul li.selectable:hover{
    color:#ffffff;
    background-image:url(/media/images/profile-friends-alph-bk.png);
    background-repeat:no-repeat;	
}

#ChannelLeft .MediaCont{
    position:relative;
    float:left;
    margin-top:7px;
    margin-bottom:20px;
    width:755px;
    height:auto;
    overflow:hidden;
    z-index:1;
    /*border-top:1px solid #dedede;*/
}
#ChannelLeft .MediaCont .Line{
    position:relative;
    float:left;
    width:750px;
    height:2px;
    background: #dedede;
}
.mediaConnections{
    position:relative;
    float:left;
    width:100%;
    height:13px;
    line-height:13px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    color:#686868;
    font-size:12px;
}
.mediaConnectionsData{
    position:relative;
    float:left;
    width:auto;
    height:13px;
    font-weight:bold;
    font-size: 12px;
}
.mediaConnectionsDataCount{
    position:relative;
    float:left;
    width:auto;
    height:13px;
    font-weight:bold;
    color:#e7ba20;
    margin-left:4px;
}
.mediaConnectionsDataSeperator{
    position:relative;
    float:left;
    width:auto;
    height:13px;
    font-weight:bold;
    margin-left:24px;
}
.mediaConnectionsDataBut{
    position:relative;
    float:left;
    width:auto;
    height:13px;
    margin-left:12px;
    font-size:11px;
}
.mediaConnectionsDataBut.active{
    color:#e7ba20;	
}
.mediaConnectionsDataBut:hover{
    color:#e7ba20;	
}
.mediaConnectionsDataButSeperator{
    position:relative;
    float:left;
    width:2px;
    height:10px;
    margin-left:15px;
    margin-right:3px;
    background-color:#686868;
    margin-top:2px;
}

#ChannelLeft .TTL{
    position:relative;
    float:left;
    margin-top:13px;
    width:auto;
    height:16px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#5f5f5f;
}
#ChannelLeft .TTL a{
    color:#5f5f5f;
    text-decoration:none;
}
#ChannelLeft .TTL .YellowTTL{
    color:#e7ba20;
}
#ChannelLeft .MediaCont .Expand{
    position:relative;
    float:right;
    margin-top:6px;
    margin-right:10px;
    width:17px;
    height:7px;
    cursor:pointer;
    background:url(/media/images/sprite_channel.png) no-repeat -451px 0;
    overflow: hidden;
}
#ChannelLeft .MediaCont .Expand.Collapse{
    background:url(/media/images/channel/collapse.gif) no-repeat !important;
}
#ChannelLeft .MediaCont .MediaList{
    position:relative;
    float:left;
    margin-top:24px;
    width:770px;
    height:auto;
}
#ChannelLeft .MediaCont .MediaList ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#ChannelLeft .MediaCont .MediaList li{
    float: left;
    height: 84px;
    margin-bottom: 25px;
    margin-right: 6px;
    position: relative;
    width: 246px;
    z-index:1;
}
#ChannelLeft .MediaCont .MediaList li.fourth{
    width:136px !important;
}
#ChannelLeft .MediaCont .MediaList li .image{
    position:relative;
    float:left;
    width:246px;
    height:84px;
}

#ChannelLeft .MediaCont .MediaList li .image div.hide{
    display:none;
}
#ChannelLeft .MediaCont .MediaList li .image.selected{
    border:1px inset #e7ba20;
}

#ChannelLeft .MediaCont .MediaList li .image img{
    border:0;
    width:80px;
    height:80px;
}
.channel-connection-pic{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEEEEE;
    cursor: pointer;
    display: block;
    float: left;
    height: 80px;
    text-align: center;
    width: 80px;
    position:relative;	
}
.channel-connection-pic.active{
    border: 2px solid #e7ba20;
}
.channel-connection-pic:hover{
    border: 2px solid #e7ba20;
}
.channel-connection-content{
    background: none repeat scroll 0 0 #EFEFEF;
    color: #686868;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 80px;
    margin-left: 2px;
    padding: 2px 2px 2px 4px;
    position: relative;
    width: 154px;
}
div.channel-connection-content .uslnk {
    color: #010101;
    font-size: 11px;
    height: 13px;
    overflow: hidden;
    width: 102px;
}
div.channel-connection-content .uslnk:hover {
    color: #e7ba20;
}
div.channel-connection-content .userlocation {
    color: #e7ba20;
    font-size: 11px;
    height:auto;
    max-height: 13px;
    overflow: hidden;
    width: 102px;
}
div.channel-connection-content .footerconnection{
    position:absolute;
    width:auto;
    height:19px;
    right:6px;
    bottom:3px;
}
.footerconnection div.removeConnection{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 18px;
    height: 18px;
    float:left;
    background: url(/media/images/connection-remove.png) no-repeat;
    margin-left:3px;
}
.footerconnection div.addFriend{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 19px;
    height: 19px;
    float:left;
    background: url(/media/images/add_friend_up.png) no-repeat;
}
.footerconnection div.removeFriend{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 19px;
    height: 19px;
    float:left;
    background: url(/media/images/add_friend_over.png) no-repeat;
}
.footerconnection div.connectChannel{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 19px;
    height: 19px;
    float:left;
    background: url(/media/images/add_friend_up.png) no-repeat;
}
.footerconnection div.disconnectChannel{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 19px;
    height: 19px;
    float:left;
    background: url(/media/images/add_friend_over.png) no-repeat;
}
.footerconnection div.unfollowFriend{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 19px;
    height: 19px;
    float:left;
    background: url(/media/images/follow_friend_over.png) no-repeat;
    margin-left:3px;
    margin-top:-1px;
}
.footerconnection div.followFriend{
    cursor: pointer;
    position:relative;
    display:block;
    border: none;
    width: 19px;
    height: 19px;
    float:left;
    background: url(/media/images/follow_friend_up.png) no-repeat;
    margin-left:3px;
}

#ChannelLeft .MediaCont .MediaList li .ttl{
    position:relative;
    float:left;
    width:136px;
    height:30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#686868;
    overflow:hidden;
}
#ChannelLeft .MediaCont .MediaList li .plusSign{
    position:absolute;
    background:url(/media/images/profile-friend-plus.jpg) no-repeat top left;
    width:10px;
    height:10px;
    top:0px;
    right:0px;
    cursor:pointer;
    z-index:100;
}
#ChannelLeft .MediaCont .MediaList li .hide_img{
    position:absolute;
    width:80px;
    height:80px;
    top:2px;
    left:2px;
    z-index:101;
    background-color:#f2f2f2;
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
}
#ChannelLeft .MediaCont .MediaList li .popUp{
    position:absolute;
    width:250px;
    height:84px;
    z-index:125;
    display:none;
    overflow:hidden;
}
#ChannelLeft .MediaCont .MediaList li .popUp.popUpLeft{
    background:url(/media/images/channel/arr_popup_left.gif) no-repeat left;
    padding-left:7px;
    left:79px;
}
#ChannelLeft .MediaCont .MediaList li .popUp.popUpRight{
    background:url(/media/images/channel/arr_popup_right.gif) no-repeat right;
    padding-right:7px;
    left:-263px;
}
#ChannelLeft .MediaCont .MediaList li .minus{
    position:absolute;
    width:10px;
    height:10px;
    right:2px;
    top:2px;
    background:url(/media/images/profile-friend-minus.jpg) no-repeat;
    cursor:pointer;
}
#ChannelLeft .MediaCont .MediaList li .popUp.popUpRight .minus{
    right:9px !important;
}
#ChannelLeft .MediaCont .MediaList li .popUp .main{
    position:relative;
    float:left;
    width:238px;
    border:2px solid #000;
    height:72px;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#b4b4b4;
    font-size:11px;
    background:#2a2a2a;
}
#ChannelLeft .MediaCont .MediaList li .popUp .maininside{
    position:relative;
    float:left;
    width:55px;
    height:auto;
}

#ChannelLeft .MediaCont .MediaList li .popUp .maininside div{
    position:relative;
    float:left;
    width:100%;
    height:auto;
}
#ChannelLeft .MediaCont .MediaList li .popUp .main div.ttl{
    font-weight:bold;
    color:#e7ba20;
}
#ChannelLeft .MediaCont .MediaList li .popUp .main a.more0{
    position:absolute;
    width:45px;
    height:12px;;
    bottom:4px;
    right:4px;
    font-weight:bold;
    color:#e7ba20;
    font-style:italic;
    cursor:pointer;
    text-decoration:none;
}
#ChannelLeft .MediaCont .MediaList li .closeSign{
    position:absolute;
    background:url(/media/images/channel/close_x.gif) no-repeat;
    width:11px;
    height:11px;
    top:-3px;
    right:-3px;
    cursor:pointer;
    z-index:120;
}
#ChannelLeft .MediaCont .MediaList li .hide_connection_content{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:220;
    background-color:#f1f1f1;
}
.hide_connection_content .unhide_connection_content{
    position:absolute;
    width:auto;
    height:12px;
    bottom:11px;
    left:4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#7b7b7b;
    cursor:pointer;
}
.hide_connection_content .unhide_connection_content:hover{
    color:#e7ba20;
}

#ChannelLeft .MediaCont .MediaList li .insideBorder{
    position:absolute;
    top:0px;
    left:0px;
    width:132px;
    height:72px;
    border:2px solid #e7ba20;
}
#ChannelLeft .MediaCont .MediaList li .insideBorder.play{
    background:url(/media/images/channel/play_item.png) no-repeat center;
}
#MediaImage .play, #MediaAlbum .play{
    background:url(/media/images/channel/view_item.png) no-repeat center !important;
}
#ChannelLeft .MediaCont .MediaList li .infoPop{
    position:absolute;
    left:2px;
    bottom:2px;
    width:128px;
    height:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#FFF;
    font-size:10px;
    background:#000;
    padding-left:2px;
    padding-right:2px;
}
#ChannelLeft .MediaCont .MediaList li .infoPop .duration{
    position:relative;
    float:left;
    width:64px;
    height:14px;
    line-height:14px;
}
#ChannelLeft .MediaCont .MediaList li .infoPop .views{
    position:relative;
    float:right;
    width:64px;
    height:14px;
    line-height:14px;
    text-align:right;
}
#ChannelLeft .BrochureCont{
    position:relative;
    float:left;
    margin-top:23px;
    width:295px;
    height:108px;
}
#ChannelLeft .BrochureCont .Line{
    position:relative;
    float:left;
    width:285px;
    height:1px;
    background: #dedede;
}
#ChannelLeft .BrochureCont .BrochureList{
    position:relative;
    float:left;
    margin-top:2px;
    width:296px;
    height:92px;
}
#ChannelLeft .BrochureCont .BrochureList ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#ChannelLeft .BrochureCont .BrochureList li{
    position:relative;
    float:left;
    width:118px;
    height:76px;
    margin-right:30px;
}
#ChannelLeft .BrochureCont .BrochureList li .image{
    position:relative;
    float:left;
    width:55px;
    height:76px;
}
#ChannelLeft .BrochureCont .BrochureList li .image img{
    border:0;
    width:55px;
    height:76px;
}
#ChannelLeft .BrochureCont .BrochureList li .text{
    position:relative;
    float:left;
    width:60px;
    padding-left:3px;
    height:76px;
    overflow:hidden;
    line-height:13px;
}
#ChannelLeft .BrochureCont .BrochureList li .text a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#686868;
    text-decoration:none;
}
#ChannelLeft .EventCont{
    position:relative;
    float:left;
    width:430px;
    height:108px;
    margin-top:23px;
}
#ChannelLeft .EventCont .Line{
    position:relative;
    float:left;
    width:430px;
    height:1px;
    background: #dedede;
}
#ChannelLeft .EventCont .EventList{
    position:relative;
    float:left;
    margin-top:2px;
    width:430px;
    height:76px;
}
#ChannelLeft .EventCont .EventList .image{
    position:relative;
    float:left;
    width:136px;
    height:76px;
}
#ChannelLeft .EventCont .EventList .image img{
    border:0;
    width:136px;
    height:76px;
}
#ChannelLeft .EventCont .EventList .description{
    position:relative;
    float:right;
    width:285px;
    height:76px;
    padding-left:4px;
    background:url(/media/images/channel/arr-events.gif) 0px 5px no-repeat;
}
#ChannelLeft .EventCont .EventList .description .EvCont{
    position:relative;
    float:left;
    width:275px;
    height:66px;
    padding:5px;
    background:#000000;
    color:#B4B4B4;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
}
#ChannelLeft .EventCont .EventList .description .EvCont div{
    position:relative;
    float:left;
    width:100%;
    height:auto;
}
#ChannelLeft .EventCont .EventList .description .EvCont div.ttl{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #e7ba20;
    font-weight: bold;
}
#ChannelLeft .EventCont .EventList .description .EvCont a.more{
    position:absolute;
    left:5px;
    bottom:5px;
    width:35px;
    height:12px;
    font-weight:bold;
    color:#e7ba20;
    font-style:italic;
    cursor:pointer;
    text-decoration:none;
}
#ChannelRight{
    position:relative;
    float:right;
    width:221px;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#727272;
}
#ChannelRight .txt{
    position:relative;
    float:left;
    padding:10px;
    margin-bottom:10px;
}
#ChannelRight .channellist{
    position:relative;
    float:left;
    width:190px;
    height:48px;
    margin-top:1px;
    border-bottom:1px solid #cecece;
}
#ChannelRight .channellist:last-child{
    border-bottom:0px !important;
}
#ChannelRight .channellist .image{
    position:relative;
    float:left;
    width:48px;
    height:48px;
}
#ChannelRight .channellist a.rightchannellist{
    position:relative;
    float:left;
    display:block;
    background:url(/media/images/channel/arr--bestof.png) no-repeat right;
    margin-left:1px;
    height:48px;
    width:133px;
    padding-left:7px;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
}
#ChannelRight .channellist a.rightchannellist .ttl{
    font-size:12px;
    color:#aaaaaa;
}
#ChannelRight .channellist a.rightchannellist .number{
    color:#5f5f5f;
}
#ChannelRight .txt .mustopen{
    height:109px;
    overflow:hidden;
}
#ChannelRight .more{
    position:relative;
    float:right;
    width:auto;
    height:auto;
    margin-right:5px;
    cursor:pointer;
}
.channel_txt1{
    z-index: 100;
}
.channel_txt2{
    z-index: 90;
}
#ChannelRight .bold{
    font-weight:bold;
}
#ChannelRight .sep{
    position:relative;
    float:left;
    width:100%;
    height:1px;
    margin-bottom:15px;
}
#ChannelRight .grey{
    color:#a7a7a7;
}
#ChannelRight .yellow{
    color:#e7ba20;
}
.font10{
    font-size:10px !important;
}
.arabic .font10{
    float:left;
    font-family:Arial, Helvetica, sans-serif !important;
}
.font11{
    font-size:11px !important;
}
.font12{
    font-size:12px !important;
}
.font13{
    font-size:13px !important;
}
.font14{
    font-size:14px !important;
}
.font15{
    font-size:15px !important;
}
.font16{
    font-size:16px !important;
}
.lineheight16{
    line-height:16px;
}
.italic{
    font-style:italic;;
}
.marginbottom5{
    margin-bottom:5px;
}
#ChannelRight .list{
    position:relative;
    float:left;
    margin-top:20px;
    width:211px;
}
#ChannelRight .list ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#ChannelRight .list li{
    position:relative;
    display:block;
    float:left;
    width:28px;
    height:28px;
    margin-right:1px;
    margin-top:1px;
}
#ChannelRight .list li img{
    border:1px solid #CCC;
    width:28px;
    height:28px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#ChannelRight .list li .channelpopUp{
    position:absolute;
    top:29px;
    left:29px;
    width:100px;
    overflow:hidden;
    min-height:119px;
    background:#333333;
    text-align:center;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#cbcbcb;
    font-size:11px;
    display:none;
    z-index:212;
    line-height:11px;
}
#ChannelRight .list li .channelpopUp img{
    border:0;
    width:73px;
    height:73px;
}
#ChannelRight .list li .channelpopUp a.connect, #ChannelRight .list li .channelpopUp a.signin{
    display:block;
    margin-top:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#e7ba20;
    font-weight:bold;
    text-decoration:none;
}
#ChannelRight .list li .channelpopUp .connect img, #ChannelRight .list li .channelpopUp .signin img{
    width:18px;
    height:18px;
}
#ChannelRight .list li .tuberpopUp{
    position:absolute;
    top:28px;
    left:29px;
    width:100px;
    overflow:hidden;
    min-height:119px;
    background:#333333;
    text-align:center;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#cbcbcb;
    font-size:11px;
    display:none;
    z-index:122;
}
#ChannelRight .list li .tuberpopUp img{
    border:0;
    width:73px;
    height:73px;
}
#ChannelRight .list li .tuberpopUp .connect img{
    width:18px;
    height:18px;
}
.search-ch{
    width:555px !important;
    height:auto !important;
}
.margintop13{
    margin-top:13px;	
}
.margintop15{
    margin-top:15px;	
}
.margintop25{
    margin-top:25px !important;	
}
.margintop55{
    margin-top:55px !important;	
}
.marginleft5{
    margin-left:5px;
}
.marginleft10{
    margin-left:10px;
}
.marginleft12{
    margin-left:12px;
}
.marginleft42{
    margin-left:42px;
}
.marginleft75{
    margin-left:75px;
}
#LeftMainChannel{
    position:relative;
    float:left;
    width:170px;
    height:auto;
    min-height:100px;
    /*overflow:hidden;*/
}
.channelyellowttl{
    font-size:16px;
    color:#e7ba20;
    text-transform:uppercase;
}
.IndexCategory{
    width:145px !important;
}
.marginleft20{
    margin-left:20px;
}
#Categories{
    position:relative;
    float:left;
    top:0;
    margin-top:24px;
}
#Categories .marker{
    display:none;
}
#Categories .selected{
    display:block;
}
#CategoryVerticalLine{
    position:absolute;
    top:0px;
    bottom:0px;
    z-index:-1;
    height:auto !important;
}
#MiddelMainChannel{
    position:relative;
    float:left;
    min-height:700px;
    height:auto;
    width:630px;
}
#MiddelMainChannel .MediaCont{
    position:relative;
    float:left;
    margin-top:9px;
    margin-bottom:20px;
    width:600px;
    height:150px;
    overflow:hidden;
}
#MiddelMainChannel .MediaCont .Line{
    position:relative;
    float:left;
    width:600px;
    height:1px;
    background: #dedede;
}
#MiddelMainChannel .TTL{
    position:relative;
    float:left;
    margin-top:13px;
    width:auto;
    height:16px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#5f5f5f;
    text-transform:uppercase;
}
#MiddelMainChannel .TTL a{
    color:#5f5f5f;
    text-decoration:none;
}
#MiddelMainChannel .TTL .YellowTTL{
    color:#e7ba20;
}
#MiddelMainChannel .MediaCont .Expand{
    position:relative;
    float:right;
    margin-top:6px;/*
    margin-right:10px;*/
    width:17px;
    height:7px;
    cursor:pointer;
    background:url(/media/images/sprite_channel.png) no-repeat -451px 0;
    overflow: hidden;
}
#MiddelMainChannel .MediaCont .Expand.Collapse{
    background:url(/media/images/channel/collapse.gif) no-repeat !important;
}
#MiddelMainChannel .MediaCont .MediaList{
    position:relative;
    float:left;
    margin-top:2px;
    width:603px;
    height:120px;
}
#MiddelMainChannel .MediaCont .MediaListImage{
    position:relative;
    float:left;
    width:48px;
    height:48px;
    background:#000;
}
#MiddelMainChannel .MediaCont .ListAll{
    position:relative;
    float:left;
    width:555px;
    height:auto;
}
#MiddelMainChannel .MediaCont .MediaList ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#MiddelMainChannel .MediaCont .MediaList li{
    position:relative;
    float:left;
    width:136px;
    height:134px;
    margin-left:2px;
}
#MiddelMainChannel .MediaCont .MediaList li .image{
    position:relative;
    float:left;
    width:136px;
    height:76px;
    overflow:hidden;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#999;
}
#MiddelMainChannel .MediaCont .MediaList li .image .stanClick{
    position:absolute;
    width:116px;
    height:50px;
    top:10px;
    left:10px;
    z-index:100;
    cursor:pointer;
}
#MiddelMainChannel .MediaCont .MediaList li .image div.hide{
    display:none;
}
#MiddelMainChannel .MediaCont .MediaList li .image.selected{
    border:1px inset #e7ba20;
}
#MiddelMainChannel .MediaCont .MediaList li .image img{
    border:0;
    /*width:136px;*/
    height:76px;
}
#MiddelMainChannel .MediaCont .MediaList li .ttl{
    position:relative;
    float:left;
    width:136px;
    height:44px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#686868;
    overflow:hidden;
}
#MiddelMainChannel .MediaCont .MediaList li .plusSign{
    position:absolute;
    background:url(/media/images/profile-friend-plus.jpg) no-repeat top left;
    width:10px;
    height:10px;
    top:0px;
    left:0px;
    cursor:pointer;
    z-index:100;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp{
    position:absolute;
    width:252px;
    height:auto;
    z-index:125;
    display:none;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp.popUpLeft{
    background:url(/media/images/channel/arr_popup_left.gif) no-repeat left;
    padding-left:7px;
    left:140px;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp.popUpRight{
    background:url(/media/images/channel/arr_popup_right.gif) no-repeat right;
    padding-right:7px;
    left:-263px;
}
#MiddelMainChannel .MediaCont .MediaList li .minus{
    position:absolute;
    width:10px;
    height:10px;
    right:2px;
    top:2px;
    background:url(/media/images/profile-friend-minus.jpg) no-repeat;
    cursor:pointer;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp.popUpRight .minus{
    right:9px !important;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp .main{
    position:relative;
    float:left;
    width:240px;
    border:2px solid #000;
    height:auto;
    min-height:80px;
    padding:4px;
    font-family:Arial, Helvetica, sans-serif;
    color:#b4b4b4;
    font-size:11px;
    padding-bottom:16px;
    background:#2a2a2a;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp .main div{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    margin-top:4px;
    margin-bottom:4px;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp .main div.ttl{
    font-weight:bold;
    color:#b4b4b4;
    margin-top:0 !important;
}
#MiddelMainChannel .MediaCont .MediaList li .popUp .main a.more, #MiddelMainChannel .MediaCont .MediaList li .popUp .main a.connect, #MiddelMainChannel .MediaCont .MediaList li .popUp .main a.signin{
    position:absolute;
    width:40px;
    height:12px;;
    bottom:4px;
    left:4px;
    font-weight:bold;
    color:#e7ba20;
    cursor:pointer;
    text-decoration:none;
}
.arabic{
    text-align:right;
    font-family:Tahoma, Geneva, sans-serif !important;
}
td.yellowsmall{
    color:#e7ba20;
    font-weight:bold;
    font-size:12px;
}
.yellows11bold{
    color:#e7ba20;
    font-weight:bold;
    font-size:11px;
}
.gray11{
    color:#b4b4b4;
    font-size:11px;
}
#MiddelMainChannel .MediaCont .MediaList li .insideBorder{
    position:absolute;
    top:0px;
    left:0px;
    width:132px;
    height:72px;
    border:2px solid #e7ba20;
}
#scrollableChannel{
    position:relative;
    float:left;
    width:600px;
    overflow:hidden;
}
#channletoscroll{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.paddingtop0{
    padding-top:0 !important;
}
.capitalfirst{
    text-transform:capitalize;
}

.registerpopUp{
    background:#2A2A2A;
    border: 2px solid #000000;
    color: #B4B4B4;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    line-height: 15px;
    padding-top:35px;
    padding-left:6px;
    padding-right:6px;
    padding-bottom:15px;
    position: relative;
    width: 228px;
}
.registerpopUp div{
    position:relative;
    float:left;
    width:228px;
    height:auto;
}
.yellowsignIn{
    font-size:11px;
    color:#e7ba20;
    text-transform:uppercase;
    font-weight:bold;
}
.registerpopUp input{
    border:0;
    width:228px;
    height:22px;
    background:#5f5f5f;
    color:#b4b4b4;
}
.registerpopUp input.InputErr {
    border: 1px solid #CEA113;
}
.registerpopUp .signInbtn{
    color:#FFF;
    font-size:12px;
    cursor:pointer;
    width:auto !important;
}
.backrecentlyadded{
    float:right;
    text-align:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#5f5f5f;
    margin-right:30px;
    margin-bottom:6px;
    text-decoration:none;
}
.nochannels{
    float:left;
    padding-left:10px;
}
.channelnumber{
    position:absolute;
    top:0px;
    right:0px;
    width:auto;
    height:18px;
    background:url(/media/images/channel/arr-category-list.gif) left no-repeat;
    padding-left:4px;
    display:none;
    z-index:1200;
}
.channelnumber div{
    position:relative;
    float:left;
    width:auto;
    height:18px;
    line-height:18px;
    background:#838383;
    padding-left:6px;
    padding-right:6px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-size:11px;
}
div.catImage{
    position:absolute !important;
    width:28px !important;
    height:28px !important;
    bottom:2px !important;
    right:2px !important;
    overflow:hidden !important;
    background:#000;
    margin:0 !important;
}
.upload-overlay-loading-fix{
    position: fixed;
    width:100%;
    height:100%;
    bottom: 0;
    right: 0;
    background: url("/media/images/fancybox_overlay.png");
    overflow: hidden;
    display: none;
    z-index: 28010;
}
.upload-overlay-loading-fix div{
    width:100%;
    height:100%;
    background: url("fancybox_loading2.gif") center center no-repeat;
}

.objectContainerOver {
    position:absolute;
    top:34px;
    left: 19px;
    height: 23px;
    width: 270px;
    display:none;
    z-index:150;
    overflow:hidden;
}
.objectContainerOverin {
    position:absolute;
    top:0;
    right: 0;
    height: 18px;
    width: auto;
    padding-left:11px;
    padding-right:11px;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    text-align:center;
    line-height:18px;
    background-color:#838383;
    float:left;
    text-transform:lowercase;
}
.icons-overtik {
    position:absolute;
    top:18px;
    right: 0;
    height: 4px;
    width: 12px;
    margin:0;
    padding:0;
    float:left;
    background-image: url('/media/images/icons-overtik.png');
    background-repeat: no-repeat;
}
.popUp .overdatabutcontainer{
    position:absolute;
    width:100%;
    height:13px;
    font-weight:bold;
    color:#ffffff;
    float:left;
    font-size:10px;	
    font-family:Arial, Helvetica, sans-serif;
    bottom:4px;
}
.popUp .overdatabutcontainer .overdatabut{
    position:relative;
    width:auto;
    height:12px;
    float:left;
    line-height:12px;
    cursor:pointer;
}
.popUp .overdatabutcontainer .overdatabut:hover{
    color:#e3b721;
}
.popUp .overdatabutcontainer .overdatabut.active{
    color:#e3b721;
}
.popUp .overdatabutcontainer .overdatabutseperator {
    position:relative;
    width:2px;
    display: block;
    height: 9px;
    float:left;
    background: url("/media/images/cat-add-but-seperator.jpg") no-repeat scroll 0 0 transparent;
    margin-left:8px;
    margin-right:8px;
    margin-top:3px;
}
.overdatabutntficon {
    background: url("/media/images/Profile-friends-show.png") no-repeat scroll 0 0 transparent;
    height: 12px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    width: 12px;
}
.overdatabutntficon.inactive {
    background: url("/media/images/Profile-friends-hide.png") no-repeat scroll 0 0 transparent;
}

.sharepopup_container .fillerDiv{
    width:100%;
    height:380px;
}


.privacy_button{
    position:relative;
    float:right;
    height:16px;
    width:15px;
    margin-top:6px;
    cursor: pointer;
}
.privacy_icon1{
    background: url("/media/images/sprite_privacy.png") no-repeat -131px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon2{
    background: url("/media/images/sprite_privacy.png") no-repeat -179px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon3{
    background: url("/media/images/sprite_privacy.png") no-repeat -195px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon4{
    background: url("/media/images/sprite_privacy.png") no-repeat -115px 0;
    width: 15px; 
    height: 16px;
}
.privacy_icon5{
    background: url("/media/images/sprite_privacy.png") no-repeat -83px 0;
    width: 15px; 
    height: 16px;
}

.privacy_box{
    display:none;
    position:absolute;
    float:right;
    width:235px;
    padding-left:13px;
    height:auto;
    padding-top:50px;
    right:-17px;
    margin-top:33px;
    background:#fff;
    box-shadow: -5px 5px 5px #c0c0c0;
    padding-bottom: 50px;
}

.privacy_box .privacy_selector_text{
    margin-bottom:10px;
}

.privacy_box .privacy_select{
    position:relative;
    color: #000000;
    float: left;
    font-size: 11px;
}

.privacy_box .privacy_icon{
    position:relative;
    float:left;
    height:16px;
    width:15px;
    margin-top:2px;
    margin-left:10px;
}

.privacy_box .privacy_picker{

}
.formt10new{
    font-size:10px;
    color:#838383;
}
.formtt11new{
    font-size:11px;
    color:#686868;
}

.privacy_box .privacy_close_button{
    position:absolute;
    bottom:15px;
    right:20px;
    width:10px;
    height:10px;
    cursor:pointer;
    background: url("/media/images/channel/privacy_close.png") no-repeat scroll 0 0 transparent;
    background-position:center center;
}

.privacy_open{
    position:absolute;
    width: 120px;
    right:20px;
    margin-top:5px;
    cursor:pointer;
}

.privacy_open .privacy_open_text{
    position: relative;
    display: block;
    float: right;
    width:auto;
    text-align:right;
    color: #838383;
    font-size: 10px;
    font-family: Arial;
    margin-right: 6px;
}

.privacy_open .privacy_open_button{
    position: relative;
    display: block;
    float: right;
    margin-top:6px;
    width:7px;
    height:4px;
    background: url("/media/images/channel/privacy_open.png") no-repeat;
}