a:hover{
    text-decoration: none;
}

.tt-sprites.i-search-map{
    background-image:  url("/media/images/channel-search1.png");
    background-position:4px 4px;
}
.tt-sprites.i-search-mgf{
    background-image:  url("/media/images/channel-search2.png");
    background-position:4px 4px;
}

.bag-search .search-btn{
    display: block;
    background-color: #d93c61;
    margin-left: 10px;
}
/*racha*/
.fb_commentdetail {
    display: none;
    float: left;
}
.imgsocial {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 108px;
    z-index: 15;
}
.socialButtons {
    display: block;
    float: left;
    height: 29px;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 100%;
     cursor: pointer
}
.social1 span {
    background-color: #eac31a;
    background-image: url("/media/images/rate-like.png");
    background-repeat: no-repeat;
}
.social5 span {
    background-color: #eac31a;
    background-image: url("/media/images/pic-fav.png");
    background-repeat: no-repeat;
}
.social3 span {
    background-color: #eac31a;
    background-image: url("/media/images/rate-share.png");
    background-repeat: no-repeat;
}

.socialButtons span {
    float: left;
    height: 100%;
    width: 100%;
}

.page-title{
    font-size: 30px;
    color: #fff;
    background-color: #d93d61;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 42px;
    padding-top:5px;
    padding-right:10px;
    margin-right:10px;
    clear:both;
    width:auto;
}

 .subtitle{
    font-size: 16px;
    color:#d93d61;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: bold;
}
/*racha*/
.h1-pink{
    padding-left: 10px ;
    color: rgb(255,255,255); 
    background-color: rgb(217,61,97); 
    border: none;
    font-weight: bold;
    width: 100px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
}
.pad-h1-top{
    padding-top: 26px;
}
.h2-pink{
    color: #d93d61;
    padding-left: 22px;
    font-size: 30px;
    line-height: 50px;
}
.p-class{
    font-size: 12px;
    color: 2e2e2e;
    padding-left: 27px;
    padding-top: 20px;
}
.p-padding{
    padding-top: 18px;
}
.p-color-black{
    font-size: 16px;
    color:#404141;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 22px;
    line-height: 22px;
/*    width:91%;*/
}
.div-color-grey{
    margin-top: 10px;
    height: 280px;
    background-color: rgb(244,245,247);
}

.black-div-p-1{
    padding: 3px ;
    padding-left:22px; 
    color: rgb(255,254,254); 
    background-color: rgb(64,65,65); 
    border: none;
    height: 30px;
    width: 100%;
    padding-right: 0px;
    font-size: 16px;
}
.custom-ul{
    padding: 7px ; 
    color: #a4a4a4; 
    background-color: rgb(64,65,65); 
    border: none;
    height: 30px;
    width: 100%;
    font-size: 12px;
    padding-right: 20px;
    
}

.screen{
    display: block;
}
.mobile{
    display:none;
}
.floating{
    float: right;
}
.div-pad{
    margin-top: 10px;
    padding-left: 0px;
}
.div-pad-2{
    margin-top: 10px;
    padding-right: 0px;
}
.mar-right{
    margin-right: 10px;
    width: 65.6%;
}
.bdr{
    border-right: 1px solid;
    padding-right: 15px;
}
.bdr-2{
    border-right: 1px solid;
    padding-right: 15px;
    padding-left: 15px;
}
.bdr-3{
    padding-left: 15px;
}
.custom-ul ul li{
    display: inline-block;
}


.fb_commentdetail{
    padding-left: 26px;
}
.introcomment,.user_name{
    font-weight: bold;
    color: #000;
}
.comment_txt{
    font-size: 13px;
    color: #727272;
    padding-bottom: 10px;
}
.user_img{
    float: left;
    padding-right: 30px;
}
.fbcomment_icon{
     padding-right: 30px;
}
.comment_prop li{
    list-style: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    border-right: 1px solid #000;
    padding-right: 15px;
}
.comment_prop li.first{
    padding-left: 0;
}
.comment_prop li.comment_date{
    font-size: 12px;
    color: #727272;
    border-right: none;
}
.comment_prop li.comment_more{
    border-right: none;
}
.like_iconfb{
margin-top: -6px;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
}
.barcomment {
    background-image: url("/media/images/barcomment.png");
    background-repeat: repeat-x;
    height: 1px;
    margin-top: 15px;
    width: 80%;
    margin-left: 80px;
}
.introcommentbar{
      background-image: url("/media/images/barcommentshad.png");
    background-repeat: repeat-x;
    height: 5px;
    
}
.introcomment{
      margin-bottom: 15px;
}
.fbcomment_detail{
    margin-bottom:10px;
}
.add_comments input{
    width: 85.5%;
    height: 64px;
    border: 1px solid #d3d6db;
    background: none;
}
.add_comments button{
color: #f4f4f4;
    float: right;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: none;
    text-transform: uppercase;
    width: 88px;
     background-color: #c7c7c7;
     border-radius: 0;
}
.form-control::-moz-placeholder { 
    color:    #a9a9a9;
    font-size: 22px;
}
.add_comments{
    padding-top:15px;
}
.condtition_addc{
    font-size: 16px;
    color:#484849;
    padding-top: 15px;
}
.condtition_addc a{
    font-size: 16px;
    color:#484849;
    font-weight: bold;
}

.fb_wrapper{
    padding-top: 0;
}
.fb_likesnbt{
    text-align: right;
}
.fb_likesnbt li {
    border-right-color: -moz-use-text-color;
    border-right-style: solid;
    border-right-width: 1px;
     padding-left: 20px;
    padding-right: 25px;
}
.fb_likesnbt li.last{
    border-right: none;
}
@media (min-width:768px) and (max-width:1000px){ 
    .p-color-black{
        /*width: 86%;*/
    }
    }
@media  (max-width:767px){    
    .bag-search .search-btn{
            margin-left: 0;
            margin-top: 10px;
    }
    .div-pad{
            margin-top: 0px;
            padding-left: 5px;
            padding-bottom: 0px;
    }
    .div-pad-2{
            margin-top: 10px;
            padding-right: 5px;
            padding-top: px;
    }
    .custom-ul{
            padding: 7px ;
            padding-left:70px; 
    }
    .screen{
            display: none;
    }
    .mobile{
            display:block;
    }
    .socialButtons{
        float: right;
        margin-left: 10px;    
        width: 108px;
    }
    .imgsocial {
    display: block;
    height: 23px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    right: 5px;
    top: 5px;
    width: 100%;
}
/*.p-color-black{
    width:100%;
}*/
}
@media  (max-width:368px){
    .h2-pink{
            font-size: 20px;
    }
    .custom-ul{
        font-size: 10px;
    }

    
}
