.pagination.pagerWrapper {
    padding: 0;
}

.pagerWrapper {
    cursor: pointer;
}
.pagination {
    border-radius: 4px;
    display: inline-block;
    float: right;
}
.first_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll 0 3px;
    height: 15px;
    width: 12px;
}
.remove{
    color:#8b8b8b;
    padding-left: 5px;
}
.prev_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll -12px 3px;
    height: 15px;
    width: 12px;
}
.pag-float-right{
    float: right;
}
.next_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll -27px 3px;
    height: 15px;
    width: 12px;
}
.last_pg {
    background: rgba(0, 0, 0, 0) url("/media/images/pager_btns.jpg") no-repeat scroll -38px 3px;
    height: 15px;
    width: 12px;
}
.small-back-black{
    background-color: rgb(42,42,42);

}
.media_list{
    width: auto;
    margin: 0 auto;
}
#posts { 
    margin: 0 auto;
    padding-bottom:20px;
}
.post{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 0;
    width: 186px;
    float: left;
    background-color: rgb(42, 42, 42);
}
.postbk{
    width: 100%;
    float: left;
    background-color:rgb(42,42,42);
    position: relative;
    padding-bottom: 10px;
    height: auto;
}
.item_title{
    color: white;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 7px;
    float: left;
    width: 100%;
    line-height: 18px;
    text-decoration: none;
}
.item_title:hover{
    color: white;
    text-decoration: none;
}
.item_desc{
    font-size: 13px;
    color: #6a6969;
    padding: 0 7px;
    float: left;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    line-height: 17px;
}
.location-details{
    font-size: 13px;
    color: #e9c21b;
    padding: 0 7px;
    float: left;
    width: 100%;
    line-height: 17px;
    padding-left: 5px;    
}
.item_img{
    padding: 5px;
    height: 186px;
    width: 186px;
}
.friends-followers{
    color: #9b9b9b;
    font-size: 13px;
    padding: 7px 0 45px;
    float: left;
    width: 100%;
    line-height: 17px;
    padding-left: 5px; 
    list-style: none;
    
}
.friends-followers li{
    display: inline-block;
}
.remove-style{
    color: #9b9b9b;
    font-size: 13px;
    padding: 0px 0 15px;
    float: left;
    width: 100%;
    line-height: 17px;
    padding-left: 5px; 
    text-decoration: none;
}

.remove-style:hover{
    color: #9b9b9b;
    text-decoration: none;
}
.searchbackcolor{
    background-color: rgb(237,236,236);
    margin-left: 5px;
    
}
.r-image{
    float: right;
}
.noborder-input{
    border: none;
    background-color: rgb(237,236,236);
    color: #2d2d2d;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 5px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #2d2d2d;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #2d2d2d;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #2d2d2d;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #2d2d2d;
}
@media (min-width:992px) and (max-width:1920px){
    .div-float {
        margin-right: 15px;
    }
}
@media (min-width:320px) and (max-width:690px){
    .div-float {
        margin-right: 10px;
    }
}
@media (min-width:320px) and (max-width:767px){
    .noborder-input{
        padding-left: 15px;   
    }
}
@media (min-width:768px) and (max-width:991px){
    .searchbackcolor{
        margin-left: -10px;
    }
}
