.tt-sprites.i-search-map{
    background-image:  url("/media/images/channel-search1.png");
    background-position:4px 4px;
}
.tt-sprites.i-search-mgf{
    background-image:  url("/media/images/channel-search2.png");
    background-position:4px 4px;
}
.height52{
    height: 52px !important;
}
.height62{
    height: 62px;
}
.bag-search .search-btn{
    display: block;
    background-color: #d93c61;
    margin-left: 10px;
}
.albums-list li{
    display: inline-block;
    position: relative;

}
.albums-list{
    list-style: none;
    padding-top: 35px;
    padding-bottom: 7px;
    padding-left: 5px;
    color: #191919;
    font-size: 17px;
}
.pad-li-albums{
    padding-left: 20px;
    padding-right: 20px;
}

.a-albums{
    color: #191919;
    text-decoration: none;
    font-size: 17px;
}
.a-albums:hover{
    color: #191919;
    text-decoration: none;  
}
.a-albums.active{
    color: #d93d61;
}
.hr-style {
    border-color: rgb(217, 60, 97);
    border-width: 4px;
    display: block;
    margin: 0 -15px 24px;
}
.active-arrow {
    position: relative;
    margin-left: -8px;

}
.image-div.active{
    display: block;
}
.image-div{
    width: 16px;
    height: 8px;
    left: 50%;
    top: 30px;
    position: absolute;
    display: none;
}
#Channelpage ,#Notifications ,#Privacy ,#Deletemychannel {
    display: none;
}
.mandatoryclass{
    color: #d93d61;
    font-size: 16px;
}
.leftback{
    background-color: #adadad;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    color: white;
    font-size: 16px;
}

.form-control{
    background-color: #e9e9e9;
    border: medium none;
    border-radius: 0;
    color: black;
    font-size: 16px;
    height: 38px;
    padding-left: 10px;
    width: 100%;
}
.web{
    background-color: #e9e9e9;
    height: 52px;
}
.weburlinput{
     background-color: #e9e9e9;
    border: medium none;
    border-radius: 0;
    color: black;
    font-size: 16px;
    width: 100%;
    padding-left: 10px;
}
.weburl{
     color: black;
    font-size: 16px;
    width: 100%;
    padding-left: 10px;
}

.savebout{
    background-color: #d93d61;
    border: medium none;
    color: white;
    float: right;
    font-size: 13px;
    height: 38px;
    margin-right: 10px;
    margin-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 88px;
}
.gotochannel{
   background-color: #d93d61;
    border: medium none;
    color: white;
    float: right;
    font-size: 13px;
    height: 38px;
    margin-top: 23px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 162px; 
    font-weight: bold;
}
.sendbout{
    background-color: black;;
    border: medium none;
    color: white;
    font-size: 12px;
    height: 38px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 74px;
    margin-top: 17px;
    margin-left: 32px;
    font-weight: bold;
}
.cancelbout{
    background-color: #d93d61;
    border: medium none;
    color: white;
    float: right;
    font-size: 13px;
    height: 38px;
    margin-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    min-width: 88px;
}
.createbout{
    background-color: #d93d61;
    border: medium none;
    color: white;
    float: right;
    font-size: 13px;
    height: 38px;
    margin-top: 25px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 186px;
}
.sndli{
    padding-left: 10px;
    padding-right: 10px;
}
.ulstylenew{
    list-style: none;
    margin-top: 6px;
    padding-left: 33px;
}
.ulstylenew li{
    display: inline;
    color: #d93d61;
    font-size: 16px;
}
.ulstylenew li a{
    color: #d93d61;
    text-decoration: none;
}
.ulstylenew li a:hover,.ulstylenew li a:after , .ulstylenew li a:active ,.ulstylenew li a:focus{
    color: #d93d61;
    text-decoration: none;
}
.flodiv{
    position: relative;
}
.select{
    padding-left: 4px;
    background: rgb(233,233,233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
}
.greycontsett{
    width:284px;
    float: left;
    background-color:rgb(236, 236, 236);
    position: relative;
    height: 284px;
    float: left;
}
.settingimg{
    top: 111px;
    left: 111px;
    position: absolute;
}
.settingstext{
    left: 56px;;
    top: 180px;
    position: absolute;
    font-size: 20px;
    color: #808080;
}
.blackpaging{
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    height: 38px;
    width: 41px;
    float: left;
}
.textsection{
    float: left;
    padding-left: 6px;
}
.chpp{
    font-size: 16px;
    color: #686868;
}
.mindim{
    color: #d93d61;
    font-size: 14px;
}
.matopbu25{
    margin-bottom: 25px;
    margin-top: 25px;
}
.abouyrchan{
    width: 243px;
    height: 118px;
    font-size: 16px;
    color: white;
    background-color: #adadad;
    float: left;
    padding-left: 5px;
    padding-top: 7px;
}
.abouyrchan2{
    width: 243px;
    height: 38px;
    font-size: 16px;
    color: white;
    background-color: #adadad;
    float: left;
    padding-left: 5px;
    padding-top: 7px;
}
textarea.form-control {
    color: #686868;
    font-size: 16px;
    min-height: 118px;
}

textarea {
    border: medium none;
    border-radius: 0;
    color: #686868;
    font-family: Arial;
    font-size: 16px;
    height: 38px;
    resize: none;
    width: 100%;
    background-color: rgb(236,236,236);
    line-height: 38px;
}

.onlymatop{
    margin-top: 25px;
}
.onlymabut{
    margin-bottom: 25px;
}

.remclass{
    position: absolute;
    right: -24px;
    top: 13px;
}
.plusclass{
    position: absolute;
    right: -24px;
    top: 13px;
}
.martop2p{
    margin-top: -2px;
}
section{
    position: relative;
}
.emailto{
    font-size: 16px;
    color: #686868;
}
.emailclass{
    color: #d93d61;
    text-decoration: none;
    padding-left: 5px;
}
.emailclass:active ,.emailclass:hover ,emailclass:after ,emailclass:focus{
    color: #d93d61;
    text-decoration: none;
}
.leftcoloreddiv{
    background-color: #adadad;
    color: white;
    padding-left: 10px;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
}
.maleffiv{
    margin-left: -5px;
}
.pinktitletext{
    color: #d93d61;
    font-size: 16px;
    margin-top: 7px;
}
.greytext{
    color: #686868;
    font-size: 16px; 
}
.bymailstyle{
    position: absolute;
    left: 0;
    float: left;
}
.smalselect{
    height: 38px;
    left: 97px;
    position: absolute;
    width: 88px;
}
.matopqd{
    margin-top: 42px;
}
.spacebetweenheader{
    margin-top: 19px;
}
.checbstyle{
    padding-left: 37px;
}
.radio, .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.borderdivgrey{
    border: 1px solid #dcdcdc;
    margin-top: 15px;
}
.lastcheckbox{
    margin-left: 10px;
}
.padletxtch{
    padding-left: 11px;
}
.matop23{
    margin-top: 23px;
}
.hiddenactive{
    display: none;
}
.closetab{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17.9px;
    font-weight: bold;
    color: black;
    padding-left: 30px;
}
.nonstylelist{
    list-style: none;
    margin-left: 29px;
}
.publicclass{
    background-color: #d93d61;
    text-align: center;
    color: white;
    font-size: 13px;
    width: 88px;
    height: 38px;
    line-height: 38px;
    text-transform: uppercase;
    background: #d93d61 url("/media/images/flech-out-white.png") no-repeat scroll 96% 50%;
}
.befdelchanel{
    color: #686868;
    font-size: 16px;
    line-height: 31px;
}
.pinktextchel{
    color: #d93d61;
}
.deletchannelist li{
    color: #686868;
    font-size: 16px;
    line-height: 31px;
    margin-left: 25px;
    padding-left: 10px;
}
.greytelustext{
    color: #686868;
    font-size: 16px;
    line-height: 100px;
}
.nostyleullist li{
    list-style: none;
    line-height: 31px;
}
.teluswhy{
    color: #d93d61;
    font-size: 16px;
    text-decoration: none;
}
.teluswhy:hover ,teluswhy:focus,.teluswhy:active,teluswhy:after{
    color: #d93d61;
    text-decoration: none;
}
.smalchektextsize{
    font-size: 14px;
    color: #686868;
}
.chekmargin{
    margin-top: 10px !important;
}
.pinkultext2{
    color: #d93d61;
    text-decoration: none;
    font-size: 14px;
}
.pinkultext2:hover ,pinkultext2:focus,.pinkultext2:active,pinkultext2:after{
    color: #d93d61;
    text-decoration: none;
}
.line-height-38{
    line-height: 38px;
}
.pinkback{
    background-color: #d93d61;
    font-size: 23px;
    color: white;
}
.notetext{
    color: #d93d61;
    font-size: 12px;
}
.allchanneltext{
    color: #a1a1a1;
    font-size: 12px;
}
.nodeca{
    color: #a1a1a1;
    text-decoration: underline;
}
.nodeca:hover{
    color: #a1a1a1;
    text-decoration: underline;
}
.margin-top-25{
    margin-top: 20px;
}

#Channelinfo .ui-menu-item{
	background-color:#FFF;	
          border-bottom: 1px solid #b2b2b2;
    height: auto;
}
#Channelinfo .ui-menu .ui-menu-item a{
	background-color:#FFF;
	color:#686868;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	height:15px;
	line-height:12px;
       
}
#Channelinfo .ui-menu .ui-menu-item a.ui-state-focus{
	background-color:#3399ff;
	color:#ffffff;
}
#Channelinfo .ui-autocomplete{
	/*width:264px !important;*/
	border: 1px solid #b2b2b2;
	max-height:154px;
	overflow:auto;
	/*z-index:150 !important;*/
}




@media  (max-width:767px){    
    .pagination ul li a{font-size: 17px;}
    .bag-search .search-btn{
        margin-left: 0;
        margin-top: 10px;
    }
    .image-div.active{
        display: none;
    }
    .cancelbout {
        width: 100%;
        margin-top: 10px;
    }
    .createbout{
        width: 100%;
        margin-top: 10px;
    }
    .savebout {
        width: 100%;
        margin-right: 0;
    }
    .mandatoryclass {
        padding-left: 5px;
    }
    .greycontsett {
        margin-left: 41px;
    }
    .abouyrchan{
        height: 38px;
        width: auto;
    }
    .abouyrchan2{
        height: 38px;
    }
    .baackgrey{
        background-color: #adadad;
        width: 100%;
        height: 38px;
        padding: 0;
        margin-left: 5px
    }
    .baackgrey2{
        background-color: #adadad;
        width: 100%;
        height: 38px;
        padding: 0;
        margin-left: 5px
    }
    .padriback{
        padding-right: 10px;
    }
    .xspadten{
        padding-top: 10px;
    }
    .plusremove {
        right: 9px;
        top: 18px;
    }
    .remclass{
        right: 9px;
        top: 13px;
    }
    .plusclass{
        right: 9px;
        top: 18px;
    }
    .smalselect {
        left: 0;
    }
    .bymailstyle {
        top: -31px;
    }
    .lastcheckbox{
        margin-left: 0;
    }
    .nonstylelist{
        margin-left: 20px;
    }
    .padleft5{
        padding-left: 5px;
    }

}
@media  (min-width:1200px){
    .frtleftpad{
        padding-left: 40px;
    }
    .matopchbo {
        margin-bottom: 26px;
        margin-top: 227px;
    }
}
@media  (max-width:355px){
    .greycontsett {
        margin-left: 0;
    }
}
@media  (min-width:768px){ 
    .leftma5{
        margin-left: 5px;
    }
    .padright0{
        padding-right: 0;
    }
    .padleft0{
        padding-left: 0;
    }
}

@media  (min-width:768px) and (max-width:1199px){ 
    .matopchbo {
        margin-bottom: 6px;
        margin-top: 227px;
    }  
}
@media  (min-width:992px) and (max-width:1199px){ 

    .abouyrchan{
        width: 184px;
    }
    .abouyrchan2{
        width: 184px;
    }
    .checbstyle{
        padding-left: 56px;
    }
}
@media  (min-width:768px) and (max-width:991px){ 
    .abouyrchan{
        width: 194px;
    }
    .abouyrchan2{
        width: 194px;
    }
    .checbstyle{
        padding-left: 72px;
    }
}
@media  (min-width:320px) and (max-width:600px){ 
    .smalselect {
        width: 44px;
    }
    .checbstyle{
        padding-left: 16px;
    }
}
@media  (min-width:320px) and (max-width:375px){ 
    .bymailstyle {
        font-size: 14px;
    }
}
