#ChannelContainer {
    height: auto;
    margin: 0 auto;
	left:13px;
    min-height: 500px;
    position: relative;
    width: 1047px;	
}
#ChannelContainerLeft {
    height: auto;
    position: relative;
    width: 810px;
	display:block;
	float:left;	
}
#other_channels_slider {
    left: 19px;
    margin: 0 auto;
    position: relative;
    top: 1px;
    width: 800px;
    z-index: 100;
	height:45px;
}
.margintop51 {
    margin-top: 51px;
}
.line1 {
    background-color: #ebebeb;
    float: left;
    height: 1px;
    margin-left: -10px;
    position: relative;
    width: 1012px;
}
.line2 {
    background-color: #dedede;
    float: left;
    height: 1px;
    margin-bottom: 11px;
    margin-left: -10px;
    position: relative;
    width: 1012px;
}
.upcommingcontainer {
    height: auto;
	float:left;
    margin: 0 auto;
    position: relative;
    width: 810px;
	padding-top:8px;
	padding-left:8px;
}
.upcommingcontainertext{
	font-family:Arial, Helvetica, sans-serif;
	color:#5f5f5f;
	text-transform:uppercase;
}
.channelyellowevtttl {
    color: #eac31a;
    font-size: 12px;
}
.subchannel_container{
    position: relative;
    display: block;
    float: left;
    width: 952px;
    overflow: hidden;
    height: 467px;
}
.subchannel_inside{
    position: absolute;
    display: block;
    width: 952px;
    height: 440px;
    top: 27px;
    left: 0;
}
.subchannel_item0{
    position: relative;
    display: block;
    float: left;
    width: 223px;
    overflow: hidden;
    min-height: 440px;
    height: auto;
}
.subchannel_levels{
    position: relative;
    display: block;
    float: left;
    width: 233px;
    overflow: hidden;
    height: 440px;
    margin-left: 10px;
}
.subchannel_levels_content{
    position: relative;
    display: block;
    float: left;
    width: 211px;
    overflow: hidden;
    min-height: 440px;
    height: auto;
    margin-left: 22px;
}
.yellowline_levels{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #e7ba20;
}
.subchannel_inside .jspDrag {
    background-color: #d6d6d6;
}
.subchannel_inside .jspVerticalBar {
    width: 5px;
}
.sub_items{
    position: relative;
    display: block;
    float: left;
    width: 170px;
    height: 39px;
    padding:5px 0;
}
.sub_items_pic_link{
    position: relative;
    display: block;
    float: left;
    width: 28px;
    height: 100%; 
}
.sub_items_pic{
    position: relative;
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin: 5px 0 0 0;
}
.sub_items_title{
    position: relative;
    display: block;
    float: left;
    max-width: 128px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    margin: 2px 0 0 10px;
    font-family: Arial;
    font-size: 11px;
    text-align: left;
    color: #4c4c4c;
    font-weight: bold;
    width: auto;
}
.sub_items_title:hover{
    color: #e7ba20;
}
.sub_items.active{
    background-color: #e6e6e6;
}
.sub_items.active > .go_sub_items_but{
    background:url(/media/images/channel/arr-sub-right1.png) no-repeat;
    display: block;
}
.sub_items .sep{
    position:absolute;
    display:block;
    width:171px;
    height:1px;
    background:url(/media/images/dot_sep.png);
    bottom:0px;
    left: -2px;
}
.sub_items_not{
    position: absolute;
    display: block;
    width: auto;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    font-family: Arial;
    font-size: 10px;
    text-align: left;
    color: #838383;
    cursor: pointer;
    bottom: 8px;
    left: 47px;
}
.sub_items_not:hover{
    color: #e7ba20;
}
.sub_items .hide_sub_items_but{
    cursor: pointer;
    height: 10px;
    width:10px;
    margin: 0;
    background:url(/media/images/channel/hide-other.png) no-repeat;
    position:absolute;
    right:-1px;
    top:3px;
    display:none;
}
.sub_items:hover > .hide_sub_items_but{
    display:block;
}
/*.hide_sub_items_but:hover > .hide_remove_butons_over{
    display:block;
}*/
.hide_sub_items_but .hide_remove_butons_over{
    top:-11px;
    right: 2px;
}
.go_sub_items_but{
    cursor: pointer;
    height: 11px;
    width:8px;
    margin: 0;
    background:url(/media/images/channel/arr-sub-right.png) no-repeat;
    position:absolute;
    right:-1px;
    bottom: 7px;
    display:none;
}

.go_sub_items_but.active{
    background:url(/media/images/channel/arr-sub-right1.png) no-repeat;
}
.sub_items:hover > .go_sub_items_but{
    display:block;
}
.prev_next_container{
   display: none;
   position: absolute;
   width: 300px;
   top:75px;
   right: -191px;
}
.prev_next_buts{
    display: block;
    position: relative;
    float: right;
    color: #000000;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    width: auto;
    margin-left: 14px;
}
.next_media_page_bk {
    background: url("/media/images/sprite_privacy.png") no-repeat scroll -15px 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 9px;
    margin-right: 6px;
    margin-top: 2px;
    position: relative;
    width: 5px;
}
.next_media_page span{
    display: block;
    float: left;
    height: 12px;
    line-height: 12px;
    position: relative;
    width: auto;
}
.prev_media_page.inactive, .next_media_page.inactive {
    color: #d6d6d6;
    cursor: default;
}
.prev_media_page.inactive > .prev_media_page_bk{
    background: url("/media/images/sprite_privacy.png") no-repeat scroll -55px 0;
    height: 9px;
    width: 5px;
}
.next_media_page.inactive > .next_media_page_bk {
    background: url("/media/images/sprite_privacy.png") no-repeat scroll -21px 0;
    height: 9px;
    width: 5px;
}
.prev_media_page_bk {
    background: url("/media/images/sprite_privacy.png") no-repeat scroll -49px 0;
    display: block;
    float: right;
    height: 9px;
    margin-left: 6px;
    margin-top: 2px;
    position: relative;
    width: 5px;
}
.prev_media_page span{
    display: block;
    float: right;
    height: 12px;
    line-height: 12px;
    position: relative;
    width: auto;
}