#ui-id-1{
	width:305px !important;
}
#ui-id-1 li{
	float:none;
	display:block;
}
.ui-menu .ui-menu-item a{
	display:block;
	background-color:#efefef;
	color:#3f3f3f;
	border-bottom:1px solid #e2e2e2 !important;
	cursor:pointer;
}
.autocompletImage{
	
}
a{
	text-decoration:none;	
}
.searchttl{
	float:right;
	margin-left:5px;
	margin-top:8px;
	width:255px
}
#TopProfileDiv li{
	border:0;
	padding-bottom:7px;
}
#slot-machine-tabs, #MiddleTop{
	/*height:47px !important;*/
}
#TopProfileDiv li:first-child{
	background:url(/media/images/bg-first-menu.gif) repeat-x bottom;
}
#TopProfileDiv li:last-child{
	background:url(/media/images/bg-first-menu.gif) repeat-x top;
}
#TopProfileDiv li:first-child a, #TopProfileDiv li:last-child a{
	color:#FFF;
}
#RightTopMenuInside a:last-child{
	/*margin-right:54px;*/
}
#OtherChannelsPop{
	position:absolute;
	width:340px;
	padding-right:7px;
	height:258px;
	top:0px;
	left:-350px;
	background: url(/media/images/channel/arr_popup_right.gif) 340px 195px no-repeat;
	display:none;
}
#OtherChannelsPop .main{
	position:relative;
	float:left;
	width:336px;
	height:254px;
	border:2px solid #000;
	background:#2a2a2a;
}
#OtherChannelsPop .top{
	position:relative;
	float:left;
	width:303px;
	height:25px;
	padding-top:10px;
	padding-left:33px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	background: url(/media/images/bg-first-menu.gif) repeat-x bottom;
}
#OtherChannelsPop .next{
	position:absolute;
	right:80px;
	top:10px;
	width:22px;
	height:16px;
	font-size:10px;
	color:#a7a7a7;
	padding-left:10px;
	background:url(/media/images/channel/next-pop.gif) no-repeat left;
	cursor:pointer;
}
#OtherChannelsPop .prev{
	position:absolute;
	right:115px;
	top:10px;
	width:45px;
	height:16px;
	font-size:10px;
	color:#a7a7a7;
	padding-right:10px;
	background:url(/media/images/channel/prev-pop.gif) no-repeat right;
	cursor:pointer;
}
#OtherChannelsPop .close{
	position:absolute;
	right:1px;
	top:1px;
	width:11px;
	height:11px;
	cursor:pointer;
	background:url(/media/images/channel/close_x.gif) no-repeat;
}
#OtherChannelsPop .containertop{
	position:relative;
	float:left;
	width:336px;
	height:219px;
}
#OtherChannelsPop ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#OtherChannelsPop li{
	position:relative;
	float:left;
	width:336px;
	height:219px;
	margin:0;
	padding:0;
}
#OtherChannelsPop li:last-child{
	background:none;
}
#OtherChannelsPop li .insideli{
	position:relative;
	float:left;
	margin-top:7px;
	margin-left:1px;
	width:164px;
	height:28px;
}
#OtherChannelsPop li .insideli a{
	color:#a7a7a7
}
#OtherChannelsPop li .insideli a:hover{
	color:#eac31a;
}
#OtherChannelsPop li .insideli .TopProfileDivText{
	width:129px !important;
}
#MiddleChannel{
	position:relative;
	width:100%;
	min-height:1080px;
	height:auto;
	float:left;
}
#ChannelContainer{
	position:relative;
	width:1023px;
	margin:0 auto;
	height:auto;
	min-height:500px;
}
.margintop5{
	margin-top:5px;
}
.disabled{
	background:none !important;
	cursor:auto !important;
	display:none !important;
}
#MainChannelContainer{
	position:relative;
	float:left;
	margin-top:4px;
	width:1023px;
	background:#FFF;
	min-height:750px;
	background:url(/media/images/channel/bg-channel-main.gif) repeat-y;
	padding-bottom:35px;
	z-index: 99;
}
#ChannelLeft{
	position:relative;
	float:left;
	margin-left:14px;
	width:735px;
	height:auto;
}
#ChannelLeft .MediaCont{
	position:relative;
	float:left;
	margin-top:9px;
	margin-bottom:20px;
	width:787px;
	height:auto;
	overflow:hidden;
	/*border-top:1px solid #dedede;*/
}
#ChannelLeft .MediaCont .Line{
	position:relative;
	float:left;
	width:725px;
	height:2px;
	background: #dedede;
}
#ChannelLeft .TTL{
	position:relative;
	float:left;
	margin-top:13px;
	width:auto;
	height:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#5f5f5f;
}
#ChannelLeft .TTL a{
	color:#5f5f5f;
	text-decoration:none;
}
#ChannelLeft .TTL .YellowTTL{
	color:#eac31a;
}
#ChannelLeft .MediaCont .Expand{
	position:relative;
	float:right;
	margin-top:6px;
	margin-right:10px;
	width:17px;
	height:7px;
	cursor:pointer;
	background:url(/media/images/sprite_channel.png) no-repeat -451px 0;
        overflow: hidden;
}
#ChannelLeft .MediaCont .Expand.Collapse{
	background:url(/media/images/channel/collapse.gif) no-repeat !important;
}
#ChannelLeft .MediaCont .MediaList{
	position:relative;
	float:left;
	margin-top:2px;
	width:784px;
	height:auto;
}
#ChannelLeft .MediaCont .MediaList ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#ChannelLeft .MediaCont .MediaList li{
	position:relative;
	display:block;
	float:left;
	width:254px;
	height:141px;	
	margin:0;
	padding:0px;
	margin-right:7px;
	margin-bottom:7px;
	list-style:none;
	background-color:#3f3f3f;
	background-image:url(fancybox_loading3.gif);
	background-repeat:no-repeat;
	background-position:center 45px;
}
#ChannelLeft .MediaCont .MediaList li.fourth{
	width:136px !important;
}
#MediaImage .play, #MediaAlbum .play{
	background:url(/media/images/channel/view_item.png) no-repeat center !important;
}
#ChannelLeft .BrochureCont{
	position:relative;
	float:left;
	margin-top:23px;
	width:295px;
	height:108px;
}
#ChannelLeft .BrochureCont .Line{
	position:relative;
	float:left;
	width:285px;
	height:1px;
	background: #dedede;
}
#ChannelLeft .BrochureCont .BrochureList{
	position:relative;
	float:left;
	margin-top:2px;
	width:296px;
	height:92px;
}
#ChannelLeft .BrochureCont .BrochureList ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#ChannelLeft .BrochureCont .BrochureList li{
	position:relative;
	float:left;
	width:118px;
	height:76px;
	margin-right:30px;
}
#ChannelLeft .BrochureCont .BrochureList li .image{
	position:relative;
	float:left;
	width:55px;
	height:76px;
}
#ChannelLeft .BrochureCont .BrochureList li .image img{
	border:0;
	width:55px;
	height:76px;
}
#ChannelLeft .BrochureCont .BrochureList li .text{
	position:relative;
	float:left;
	width:60px;
	padding-left:3px;
	height:76px;
	overflow:hidden;
	line-height:13px;
}
#ChannelLeft .BrochureCont .BrochureList li .text a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#686868;
	text-decoration:none;
}
#ChannelLeft .EventCont{
	position:relative;
	float:left;
	width:430px;
	height:108px;
	margin-top:23px;
}
#ChannelLeft .EventCont .Line{
	position:relative;
	float:left;
	width:430px;
	height:1px;
	background: #dedede;
}
#ChannelLeft .EventCont .EventList{
	position:relative;
	float:left;
	margin-top:2px;
	width:430px;
	height:76px;
}
#ChannelLeft .EventCont .EventList .image{
	position:relative;
	float:left;
	width:136px;
	height:76px;
}
#ChannelLeft .EventCont .EventList .image img{
	border:0;
	width:136px;
	height:76px;
}
#ChannelLeft .EventCont .EventList .description{
	position:relative;
	float:right;
	width:285px;
	height:76px;
	padding-left:4px;
	background:url(/media/images/channel/arr-events.gif) 0px 5px no-repeat;
}
#ChannelLeft .EventCont .EventList .description .EvCont{
	position:relative;
	float:left;
	width:275px;
	height:66px;
	padding:5px;
	background:#000000;
	color:#B4B4B4;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
}
#ChannelLeft .EventCont .EventList .description .EvCont div{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}
#ChannelLeft .EventCont .EventList .description .EvCont div.ttl{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	color: #E3B721;
    font-weight: bold;
}
#ChannelLeft .EventCont .EventList .description .EvCont a.more{
	position:absolute;
	left:5px;
	bottom:5px;
	width:35px;
	height:12px;
	font-weight:bold;
	color:#e3b721;
	font-style:italic;
	cursor:pointer;
	text-decoration:none;
}
#ChannelRight{
	position:relative;
	float:right;
	width:221px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#727272;
}
#ChannelRight .txt{
	position:relative;
	float:left;
	padding:10px;
	margin-bottom:10px;
}
#ChannelRight .channellist{
	position:relative;
	float:left;
	width:190px;
	height:48px;
	margin-top:1px;
	border-bottom:1px solid #cecece;
}
#ChannelRight .channellist:last-child{
	border-bottom:0px !important;
}
#ChannelRight .channellist .image{
	position:relative;
	float:left;
	width:48px;
	height:48px;
}
#ChannelRight .channellist a.rightchannellist{
	position:relative;
	float:left;
	display:block;
	background:url(/media/images/channel/arr--bestof.png) no-repeat right;
	margin-left:1px;
	height:48px;
	width:133px;
	padding-left:7px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
#ChannelRight .channellist a.rightchannellist .ttl{
	font-size:12px;
	color:#aaaaaa;
}
#ChannelRight .channellist a.rightchannellist .number{
	color:#5f5f5f;
}
#ChannelRight .txt .mustopen{
	height:109px;
	overflow:hidden;
}
#ChannelRight .more{
	position:relative;
	float:right;
	width:auto;
	height:auto;
	margin-right:5px;
	cursor:pointer;
}
.channel_txt1{
	z-index: 100;
}
.channel_txt2{
	z-index: 90;
}
#ChannelRight .bold{
	font-weight:bold;
}
#ChannelRight .sep{
	position:relative;
	float:left;
	width:100%;
	height:1px;
	margin-bottom:15px;
}
#ChannelRight .grey{
	color:#a7a7a7;
}
#ChannelRight .yellow{
	color:#eac31a;
}
.font10{
	font-size:10px !important;
}
.arabic .font10{
	float:left;
	font-family:Arial, Helvetica, sans-serif !important;
}
.font11{
	font-size:11px !important;
}
.font12{
	font-size:12px !important;
}
.font13{
	font-size:13px !important;
}
.font14{
	font-size:14px !important;
}
.font15{
	font-size:15px !important;
}
.font16{
	font-size:16px !important;
}
.lineheight16{
	line-height:16px;
}
.italic{
	font-style:italic;;
}
#ChannelRight .list{
	position:relative;
	float:left;
	margin-top:20px;
	width:211px;
}
#ChannelRight .list ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#ChannelRight .list li{
	position:relative;
	display:block;
	float:left;
	width:28px;
	height:28px;
	margin-right:1px;
	margin-top:1px;
}
#ChannelRight .list li img{
	border:1px solid #CCC;
	width:28px;
	height:28px;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
	        box-sizing:border-box;
}
#ChannelRight .list li .channelpopUp{
	position:absolute;
	top:29px;
	left:29px;
	width:100px;
	overflow:hidden;
	min-height:119px;
	background:#333333;
	text-align:center;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#cbcbcb;
	font-size:11px;
	display:none;
	z-index:212;
	line-height:11px;
}
#ChannelRight .list li .channelpopUp img{
	border:0;
	width:73px;
	height:73px;
}
#ChannelRight .list li .channelpopUp a.connect, #ChannelRight .list li .channelpopUp a.signin{
	display:block;
	margin-top:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#e3b721;
	font-weight:bold;
	text-decoration:none;
}
#ChannelRight .list li .channelpopUp .connect img, #ChannelRight .list li .channelpopUp .signin img{
	width:18px;
	height:18px;
}
#ChannelRight .list li .tuberpopUp{
	position:absolute;
	top:28px;
	left:29px;
	width:100px;
	overflow:hidden;
	min-height:119px;
	background:#333333;
	text-align:center;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#cbcbcb;
	font-size:11px;
	display:none;
	z-index:122;
}
#ChannelRight .list li .tuberpopUp img{
	border:0;
	width:73px;
	height:73px;
}
#ChannelRight .list li .tuberpopUp .connect img{
	width:18px;
	height:18px;
}
.search-ch{
	width:555px !important;
	height:auto !important;
}
.margintop25{
	margin-top:25px !important;	
}
.margintop55{
	margin-top:55px !important;	
}
.marginleft10{
	margin-left:10px;
}
.marginleft12{
	margin-left:12px;
}
.marginleft42{
	margin-left:42px;
}
.marginleft75{
	margin-left:75px;
}
.marginbottom5{
	margin-bottom:5px;
}
.marginbottom21{
	margin-bottom:21px !important;
}
.marginbottom18{
	margin-bottom:18px;
}
#LeftMainChannel{
	position:relative;
	float:left;
	width:170px;
	height:auto;
	min-height:100px;
	/*overflow:hidden;*/
}
.channelyellowttl{
	font-size:16px;
	color:#EAC31A;
	text-transform:uppercase;
}
.IndexCategory{
	width:145px !important;
}
.marginleft20{
	margin-left:20px;
}
#Categories{
	position:relative;
	float:left;
	top:0;
	margin-top:24px;
}
#Categories .marker{
	display:none;
}
#Categories .selected{
	display:block;
}
#CategoryVerticalLine{
	position:absolute;
	top:0px;
	bottom:0px;
	z-index:-1;
	height:auto !important;
}
#MiddelMainChannel{
	position:relative;
	float:left;
	min-height:700px;
	height:auto;
	width:630px;
}
#MiddelMainChannel .MediaCont{
	position:relative;
	float:left;
	margin-top:9px;
	margin-bottom:20px;
	width:600px;
	height:150px;
	overflow:hidden;
}
#MiddelMainChannel .MediaCont .Line{
	position:relative;
	float:left;
	width:600px;
	height:1px;
	background: #dedede;
}
#MiddelMainChannel .TTL{
	position:relative;
	float:left;
	margin-top:13px;
	width:auto;
	height:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#5f5f5f;
	text-transform:uppercase;
}
#MiddelMainChannel .TTL a{
	color:#5f5f5f;
	text-decoration:none;
}
#MiddelMainChannel .TTL .YellowTTL{
	color:#eac31a;
}
#MiddelMainChannel .MediaCont .Expand{
	position:relative;
	float:right;
	margin-top:6px;/*
	margin-right:10px;*/
	width:17px;
	height:7px;
	cursor:pointer;
	background:url(/media/images/sprite_channel.png) no-repeat -451px 0;
        overflow: hidden;
}
#MiddelMainChannel .MediaCont .Expand.Collapse{
	background:url(/media/images/channel/collapse.gif) no-repeat !important;
}
#MiddelMainChannel .MediaCont .MediaList{
	position:relative;
	float:left;
	margin-top:2px;
	width:603px;
	height:120px;
}
#MiddelMainChannel .MediaCont .MediaListImage{
	position:relative;
	float:left;
	width:48px;
	height:48px;
	background:#000;
}
#MiddelMainChannel .MediaCont .ListAll{
	position:relative;
	float:left;
	width:555px;
	height:auto;
}
#MiddelMainChannel .MediaCont .MediaList ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#MiddelMainChannel .MediaCont .MediaList li{
	position:relative;
	float:left;
	width:136px;
	height:134px;
	margin-left:2px;
}
#MiddelMainChannel .MediaCont .MediaList li .image{
	position:relative;
	float:left;
	width:136px;
	height:76px;
	overflow:hidden;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
}
#MiddelMainChannel .MediaCont .MediaList li .image .stanClick{
	position:absolute;
	width:116px;
	height:50px;
	top:10px;
	left:10px;
	z-index:100;
	cursor:pointer;
}
#MiddelMainChannel .MediaCont .MediaList li .image div.hide{
	display:none;
}
#MiddelMainChannel .MediaCont .MediaList li .image.selected{
	border:1px inset #eac31a;
}
#MiddelMainChannel .MediaCont .MediaList li .image img{
	border:0;
	/*width:136px;*/
	height:76px;
}
#MiddelMainChannel .MediaCont .MediaList li .ttl{
	position:relative;
	float:left;
	width:136px;
	height:44px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#686868;
	overflow:hidden;
}
.arabic{
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif !important;
}
td.yellowsmall{
	color:#e3b721;
	font-weight:bold;
	font-size:12px;
}
#MiddelMainChannel .MediaCont .MediaList li .insideBorder{
	position:absolute;
	top:0px;
	left:0px;
	width:132px;
	height:72px;
	border:2px solid #eac31a;
}
#scrollableChannel{
	position:relative;
	float:left;
	width:600px;
	overflow:hidden;
}
#channletoscroll{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.paddingtop0{
	padding-top:0 !important;
}
.capitalfirst{
	text-transform:capitalize;
}

.registerpopUp{
	background:#2A2A2A;
    border: 2px solid #000000;
    color: #B4B4B4;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    line-height: 15px;
	padding-top:35px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:15px;
    position: relative;
    width: 228px;
}
.registerpopUp div{
	position:relative;
	float:left;
	width:228px;
	height:auto;
}
.yellowsignIn{
	font-size:11px;
	color:#e7ba20;
	text-transform:uppercase;
	font-weight:bold;
}
.registerpopUp input{
	border:0;
	width:228px;
	height:22px;
	background:#5f5f5f;
	color:#b4b4b4;
}
.registerpopUp input.InputErr {
    border: 1px solid #CEA113;
}
.registerpopUp .signInbtn{
	color:#FFF;
	font-size:12px;
	cursor:pointer;
	width:auto !important;
}
.backrecentlyadded{
	float:right;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#5f5f5f;
	margin-right:30px;
	margin-bottom:6px;
	text-decoration:none;
}
.nochannels{
	float:left;
	padding-left:10px;
}
.channelnumber{
	position:absolute;
	top:0px;
	right:0px;
	width:auto;
	height:18px;
	background:url(/media/images/channel/arr-category-list.gif) left no-repeat;
	padding-left:4px;
	display:none;
	z-index:1200;
}
.channelnumber div{
	position:relative;
	float:left;
	width:auto;
	height:18px;
	line-height:18px;
	background:#838383;
	padding-left:6px;
	padding-right:6px;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:11px;
}
div.catImage{
	position:absolute !important;
	width:28px !important;
	height:28px !important;
	bottom:2px !important;
	right:2px !important;
	overflow:hidden !important;
	background:#000;
	margin:0 !important;
}
.displaynone{
	display:none;	
}
.fancyFullDim{
	width:100% !important;
	height:100% !important;
	max-height:100% !important;
	/*top:0px !important;
	left:0px !important;*/	
}
.fancybox-iframe{
	overflow:hidden !important;	
}
.imgbk{
	position:absolute;
	width:254px;
	height:60px;
	left:0;
	bottom:0;
	display:block;
	background-color:#3f3f3f;
}
.imgbk_footer{
	position:absolute;
	width:100%;
	height:24px;
	left:4px;
	bottom:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	display:block;
	overflow:hidden;
}
.imgbk_info{
	position:relative;
	display:block;
	float:left;
	width:auto;
	height:100%;
	margin-right:15px;
	line-height:11px;
	color: #E3B721;
	font-weight: bold;
}
.imgbk_info span{
	color: #949393;
	font-weight:normal;
	text-transform:lowercase;
}
.imgdate{
	position:relative;
	width:100px;
	height:13px;
	margin:0;
	padding:0;
	margin: 2px 0 0 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	color:#e3b721;
	display:block;
	overflow:hidden;
}
.imgbk_butons{
	position:absolute;
	width:auto;
	height:18px;
	right:0;
	top:0;
	display:block;
	background-color:#525353;
	overflow:hidden;
}
.imgbk_buts{
	position:relative;
	display:block;
	float:right;
	width:18px;
	height:18px;
	margin-left:4px;
	cursor:pointer;
	background-position:center center;
}
.clsimg{
	background:url(/media/images/delete-icon.png) no-repeat;
}
.clsimg:hover{
	background:url(/media/images/delete-icon-active.png) no-repeat;
}
.albumimg{
	background:url(/media/images/album-icon.png) no-repeat;
}
.albumimg:hover{
	background:url(/media/images/album-icon-active.png) no-repeat;
}
.albumimgActive{
    background:url(/media/images/album-icon-active.png) no-repeat;
}
.profileimage {
    width: 254px;
    height: 81px;
}
.MediaList .buttonmorecontainer{
    margin-top: 20px;
}