.joinno{
    display: none;
}
.padd-3{
    margin-bottom: 5px;
}
.image-style{
    height: 28px;
    width: 30px;
    z-index: 10;
    line-height: 28px;
    padding-left: 10px;
    position: relative;

}
.grey-back-lg{
    background-color: rgb(236,236,236);
}
.sec-margin{
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}
.padding-null{
    padding: 0px;
}
.padding-null img {
    width: 100%;
}
.pink-h1{
    font-size: 27px;
    color: #d93c61;
    padding-left: 30px;
    padding-top: 22px;
    padding-bottom: 15px;
}
.list-style{
    list-style: none;
    padding-left: 30px;
    font-size: 15px;
    color: black;
}
.list-style li span {
    color: #d93c61;
    font-size: 15px;
}
.event-pink-back{
    background-color: rgb(217,60,97);
    width: 63px;
    margin-left: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
    float: left;
    margin-bottom: 25px;

}
.event-pink-text{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}
.event-pink-back-2{
    background-color: rgb(217,60,97);
    width: 160px;
    margin-left: 10px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 25px;
    float: left;
    margin-bottom: 25px;

}
.event-pink-text-2 a{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}
.imgsocial {
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 108px;
    z-index: 15;
}
.fb_commentdetail {
    display: none;
    float: left;
}
.socialButtons {
    display: block;
    float: left;
    height: 29px;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    width: 100%;
    cursor: pointer
}
.social1 span {
    background-color: #eac31a;
    background-image: url("/media/images/rate-like.png");
    background-repeat: no-repeat;
}
.social5 span {
    background-color: #eac31a;
    background-image: url("/media/images/edit-b.jpg");
    background-repeat: no-repeat;
}
.social3 span {
    background-color: #eac31a;
    background-image: url("/media/images/rate-share.png");
    background-repeat: no-repeat;
}

.socialButtons span {
    float: left;
    height: 100%;
    width: 100%;
}
.pos-cont{
    position: absolute;
    top: 0;
    right:0;
}
.grey-back-lg-2{
    background-color: rgb(244,245,247);
    margin-top: 0;
    padding-top: 30px;
    padding-left: 23px;
    padding-right: 23px;


}
.grey-h1{
    color: #404141;
    font-size: 36px;
    text-transform: capitalize;
    padding-bottom: 15px;

}
.grey-h2{
    font-size: 12px;
    color: #2e2e2e;
    padding-bottom: 25px;

}
.black-bold-span{
    font-size: 14;
    font-weight: bold;
    color:black;
}
.big-text{
    font-size: 16px;
    color: #404141;
    text-align: justify;
}
.categories-style{
    font-size: 13px;
    color: #010101;
    font-weight: bold;
    text-decoration: none;
    text-decoration: underline;
}
.categories-style:hover , .categories-style:focus{
    color: #010101;
}
.h3-style{
    font-size: 13px;
    color: #010101;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 45px;
}
.div-pad-event{
    margin-top: -5px;
    padding-left: 0px;
}
.div-pad-2-event{
    margin-top: -5px;
    padding-right: 0px;
}
.custom-ul-event{
    padding: 7px ; 
    color: #a4a4a4; 
    background-color: rgb(64,65,65); 
    border: none;
    height: 30px;
    width: 100%;
    font-size: 12px;
    padding-right: 20px;
    margin-left: 5px;

}
.custom-ul-event ul li{
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}
.screen{
    display: block;
}
.mobile{
    display:none;
}
.xtra-small{
    display: none;
}
.bdr-event{
    border-right: 1px solid;
    padding-right: 15px;
    line-height: 21px;
}
.bdr-2-event{
    border-right: 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 21px;
}
.bdr-3-event{
    padding-left: 15px;
}
.black-div-p-1-event{
    padding: 3px ;
    padding-left:22px; 
    color: rgb(255,254,254); 
    background-color: rgb(64,65,65); 
    border: none;
    height: 30px;
    width: 100%;
    padding-right: 0px;
    font-size: 16px;
    margin-left: 5px;
}

.fb_commentdetail{
    padding-left: 26px;
}
.introcomment,.user_name{
    font-weight: bold;
    color: #000;
}
.comment_txt{
    font-size: 13px;
    color: #727272;
    padding-bottom: 10px;
}
.user_img2{
    float: left;
    padding-right: 25px;
    height:62px;
}
.greyborderdiv{
    border: 5px solid;
    border-color:rgb(230,230,230); 
    margin-right: -5px;
    float: right;
    display: none;
}
.frdiv{
    float:right;
}
.flfirstdiv{
    background-color: rgb(234,195,26);
    color:white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    min-width: 88px;
    min-height: 29px;
    line-height: 29px;
    margin-right: 10px;
    float: left;
}
.flsectdiv{
    background-color: rgb(234,195,26);
    color:white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    min-width: 88px;
    min-height: 29px;
    line-height: 29px;
    float: left;
}
.commentstyle2{
    font-size: 14px;
    color: #212121;
    font-weight: bold;
    text-align: center;
    min-height: 39px;
    line-height: 39px;
    border-bottom: 2px solid;
    border-color:rgb(230,230,230); 
    margin-bottom: 16px;
    
    
}
.fbcomment_icon{
    padding-right: 30px;
}
.comment_prop li{
    list-style: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    border-right: 1px solid #000;
    padding-right: 15px;
}
.comment_prop li.first{
    padding-left: 0;
}
.comment_prop li.comment_date{
    font-size: 12px;
    color: #727272;
    border-right: none;
}
.comment_prop li.comment_more{
    border-right: none;
}
.like_iconfb{
    margin-top: -6px;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 0;
}
.barcomment {
    background-image: url("/media/images/barcomment.png");
    background-repeat: repeat-x;
    height: 1px;
    margin-top: 15px;
    width: 80%;
    margin-left: 80px;
}
.introcommentbar{
    background-image: url("/media/images/barcommentshad.png");
    background-repeat: repeat-x;
    height: 5px;

}
.introcomment{
    margin-bottom: 15px;
}
.fbcomment_detail{
    margin-bottom:10px;
    height: 60px;
    width:100%;
}
.add_comments input{
    width: 85.5%;
    height: 64px;
    border: 1px solid #d3d6db;
    background: none;
}
.add_comments button{
    color: #f4f4f4;
    float: right;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: none;
    text-transform: uppercase;
    width: 88px;
    background-color: #c7c7c7;
    border-radius: 0;
}
.form-control::-moz-placeholder { 
    color:    #a9a9a9;
    font-size: 22px;
}
.add_comments{
    padding-top:15px;
}
.condtition_addc{
    font-size: 16px;
    color:#484849;
    padding-top: 15px;
}
.condtition_addc a{
    font-size: 16px;
    color:#484849;
    font-weight: bold;
}

.fb_wrapper{
    padding-top: 0;
}
.fb_likesnbt{
    text-align: right;
}
.fb_likesnbt li {
    border-right-color: -moz-use-text-color;
    border-right-style: solid;
    border-right-width: 1px;
    padding-left: 20px;
    padding-right: 25px;
}
.fb_likesnbt li.last{
    border-right: none;
}
.first-li{
    margin-left:15px;
}
.back-a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    color:black;
}
.back-a:hover{
    text-decoration: none;
    color:black;
}
.small-grey-back{
    background-color: rgb(64,65,65);
}
.list-style-ul{
    color:#fffefe;
    font-size: 16px;
    padding-left: 20px;
}
.list-style-ul li{
    list-style: none;
    display: inline-block;
}
.comment-text-p{
    color:#fffefe;
    font-size: 16px;
    padding-left: 20px;
}
.padd-lr{
    padding-left: 25px;
    padding-right: 25px;
}
/*P0PUP*/
.sharedata_popup{
    float: left;
    padding: 35px 47px;
    background-color:#fff;
    display: none;
    max-width: 909px;
}
.sharedata_popup.onlyleft{
    max-width: 454px;
}
.leftauteur{
    display: block;
    float: left;
    margin-left: 75px;
    position: relative;
    width: 100%;
}
.share_title,.sharedata_popup label{
    float: left;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    width: 100%;
    color: #000000;
    display: block;
}
.sharedata_popup label{
    margin-top: 30px;
}
.share_link{
    width: 100%;
    float: left;
}
.sharedata_popup .sharelink-desc{
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: #e9e9e9;
    height: 38px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 9px;
    color: #7e7e7e;
    float: left;
}
.sharedata_popup textarea{
     width: 100%;
    border: none;
    border-radius: 0;
    background-color: #e9e9e9;
    height: 68px;
     color: #7e7e7e;
    font-size: 15px;
    line-height: 14px;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
    
}
.fancybox-wrap{
    top: 200px !important;
}
.comment_description{
    padding-left: 0;
}
/*.greyborderdiv{
    display:none;
}*/
/*END*/
/*mobile responsive media query :*/
/*======================================*/

@media (min-width:767px) and (max-width:991px){
    .padd-3{
        padding-left: 15px;
        padding-right: 5px;

    }
}

@media (min-width:992px) and (max-width:1199px){
    .image-style {
        padding-left: 25px;
    }

}
@media (min-width:768px) and (max-width:991px){
    .image-style {
        padding-left: 20px;
    }
}
@media (max-width:767px){
    .image-style {
        padding-left: 20px;
    }
    .div-pad-event{
        margin-top: 0px;
        padding-left: 5px;
        padding-bottom: 0px;
    }
    .div-pad-2-event{
        margin-top: 10px;
        padding-right: 5px;
        padding-top: px;
    }
    .custom-ul-event{
        text-align: right;
    }
    .div-pad-event {
        margin-top: -9px;
    }
    .div-float {
        margin-right: 10px;
    }
}

@media  (max-width:767px){    
    .socialButtons{
        float: right;
        margin-left: 10px;    
        width: 108px;
    }
    .imgsocial {
        display: block;
        height: 23px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        right: 5px;
        top: 5px;
        width: 100%;
    }

}

@media (min-width:320px) and (max-width:500px){
    .bdr-event{
        border-right: 1px solid;
        padding-right: 4px;
    }
    .bdr-2-event{
        border-right: 1px solid;
        padding-right: 2px;
        padding-left: 2px;
    }
    .bdr-3-event{
        padding-left: 2px;
    }
    .custom-ul-event ul li {
        display: inline-block;
        padding-left: 2px;
    }
    .custom-ul-event{
        padding: 0;
        line-height: 30px;
        text-align: center;
    }
}
@media (min-width:768px) and (max-width:991px){
    .screen{
        display: none;
    }
    .mobile{
        display:block;
    }
    .xtra-small{
        display: none;
    }
}
@media (max-width:767px){
    .screen{
        display: none;
    }
    .mobile{
        display:none;
    }
    .xtra-small{
        display: block;
    }
}

@media (min-width:768px) and (max-width:991px){
    .div-pad-event {
        font-size: 15px;
        margin-left: 5px;
        margin-top: -10px;
        padding-left: 0;
        text-align: left;
    }
    .custom-ul-event {
        color: white;
        font-size: 15px;
        height: 30px;
        margin-left: 5px;
        padding-top: 5px;
        width: 100%;
    }
    .first-li{
        margin-left:5px;
    }
}

@media (min-width:992px){
    .custom-ul-event {
        color: white;
        line-height: 30px;
        padding: 0px;    
    }
    .div-float {
        float: right;
        line-height: 31px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        margin-right: 15px;
    }
}
@media (min-width:320px) and (max-width:420px){
    .padd-lr{
        padding-left: 5px;
        padding-right: 5px;
    }
    .list-style-ul {
        font-size: 14px;   
    }
    .comment-text-p {
        font-size: 14px;

    }
}

