.float-left {
    padding-top: 15px;
}
.connections-ul{
    margin-top:30px;
    list-style-type: none;
    font-size: 17px;
    color:#191919;
    padding-top: 0px;
    margin-right: -10px;
    padding-right: 10px;
      
}
.connections-ul a , .media-ul a , .news-data-ul a{
    text-decoration: none;
    color:#191919; 
}
.media-ul{
    margin-top:30px;
    list-style-type: none;
    font-size: 17px;
    color:#191919;
    padding-top: 0px;  
}
.news-data-ul{
    margin-top:30px;
    list-style-type: none;
    font-size: 17px;
    color:#191919;
    padding-top: 0px;
    padding-left: 50px;
    
}
.border-right-ul{
    border-right: 2px solid rgb(122,122,122);
    border-left: 2px solid rgb(122,122,122);
    height: 70px;
    margin-left: -50px;
   
}
.number-ul{
    color: #d93d61;
    font-size: 17px;
}
.div-size{
    width: 149px;
    height: 31px;
    font-size: 17px;
    color: white;
    background-color: black;
}
.div-float{
    float: right;
    line-height: 31px;
    right: 0;
    text-align: center;
    top: 0;
    position: absolute;
}

.pagerWrapper{
    padding-top: 0;
}
.pagination{
    margin-bottom: 0;
    margin-top: 0;
    float: right;
}
.border-right-ul{
    border-right: 2px solid rgb(122,122,122);
    border-left: 2px solid rgb(122,122,122);
    height: 70px;
    margin-left: 0px;
    text-align: center;
}
.border-right-ul li{
    padding-left: 15px;
}
.hr-style {
    border-color: rgb(217, 60, 97);
    border-width: 4px;
    display: block;
    margin: 15px -15px 24px;
}
.float-div{
    float: right;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    color: black;
    float: left;
    font-weight: bold;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 0 3px;
    position: relative;
    text-decoration: none;
    border: medium none;
}
.pagination > li > a:hover, .pagination > li > span:hover {
    background-color: transparent;
    border-color: transparent;
    color: black;
    z-index: 3;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus , .pagination > li > a:focus, .pagination > li > span:focus  {
    background-color: rgb(217,60,97);
    border-color:rgb(217,60,97);
    color: #fff;
    cursor: default;
    z-index: 2;
}

.fromto {
    background-color: #fff;
    height: 26px;
    color: #111;
    position: relative;
    float: left;
    width: 58px;
    font-style: italic;
    line-height: 26px;
    font-weight: normal;
    font-size: 16px;
    padding: 0 8px;
}
.image-style{
    float: left;
    height: 23px;
    margin-top: -2px;
    padding-left: 8px;
    position: relative;
    width: 31px;
    z-index: 10; 
    cursor: pointer;
}
.bag-searchfrom .input-filter-1 {
    background-color: #fff;
    border: none;
    color: #111;
    font-size: 14px;
    font-style: italic;
    height: 26px;
    padding: 0 8px;
    position: relative;
    width: 128px;
    margin-right: 8px;
    float: left;
}
.bag-searchfrom .input-filter {
    background-color: #fff;
    border: none;
    color: #111;
    font-size: 14px;
    font-style: italic;
    height: 26px;
    padding: 0 8px;
    position: relative;
    width: 128px;
}
.bag-searchfrom .input-filter-2 {
    margin-right: 0;
}
.filter-by{
    padding-left: 12px;
    font-size: 17px;
}

.bag_search_bar-1 {
    display: block;
    margin: 0;
    padding: 5px 0;
    margin-left: 5px;
}
.bag_search_bar-2 {
    background-color: #edecec;
    display: block;
    padding: 8px;
    line-height: 23px;
}
.pink-title{
    background-color: rgb(217, 60, 97);
    color: white;
    float: left;
    font-size: 27px;
    height: 40px;
    line-height: 28px;
    margin-right: 10px;
    padding-left: 10px;
    
}
.bag-searchfrom{
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}
.text-div-width{
    float: left;
    margin-right: 8px;
    width: auto;
}
.grey-background{
    background-color: rgb(241, 241, 241);
    height: 410px;
    }
    .grey-background a:hover{
        text-decoration: none;        
    }
.padd{
    padding-left: 0;
    padding-right: 0;

}
.padd-3{
    margin-bottom: 5px;
}
.wimg img{
    width: 100%;
    padding: 10px;
}
.img-p-class{
    padding: 15px;
    font-size: 17px;
    color: black;
    padding-bottom: 0px;
    padding-bottom:5px;
    padding-top: 0;
}
.hr-in-div{
    border-color: rgb(217, 60, 97);
    border-width: 4px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 18px;
}
.snd-p{
    font-size: 15px;
    color: black;
    padding-left: 15px;
    margin-top: -10px;
   
}
.span-p{
    font-size: 15px;
    color: #d93c61;
    padding-right: 15px;
}
.location-text{
    font-size: 14px;
    color: #747576;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
}
.more-link{
    text-decoration: none;
    display: block;
    color: #d93c61;
    font-size: 14px;
    padding-left: 15px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}
.more-link:hover{
    color: #d93c61;
    text-decoration: none;
}
.editimg {
    float: right;
    padding-right: 15px;
    padding-top: 30px;
}
@media (min-width:320px) and (max-width:449px){
    .connections-ul , .media-ul , .news-data-ul , .number-ul {
        
        font-size: 14px;
} 
}
@media (min-width:320px) and (max-width:690px){
    .no-padd{
        padding: 0px;
}
}

@media (min-width:767px) and (max-width:991px){
    .noleftpad{
        padding-left: 0px;
}
    .padd-2{
        padding-left: 0;
        padding-right: 0;

    }
    .padd-3{
        padding-left: 0px;
        padding-right: 5px;

    }
}
@media (min-width:320px) and (max-width:767px){
    .div-float{
        margin-right: 15px;
        margin-top: 15px;
}
}
@media (min-width:992px) and (max-width:1920px){
    .div-float{
        margin-right: 15px;
        
}
}

@media (min-width:992px) and (max-width:1920px){
    .connections-ul{
        margin-left: -50px;
}
    .pink-title{
        margin-left: 5px;
    }
}
@media (min-width:992px){
   .bag_search_bar-1{
	height: 40px;
	}
}
@media (min-width:768px) and (max-width:991px){
    .pink-title {
        font-size: 20px;
        margin-left: -10px;
        margin-right: 10px;
        
    }
}
/*@media (min-width:992px) and (max-width:1199px){
    .image-style {
        padding-left: 25px;
    }

}
@media (min-width:768px) and (max-width:991px){
    .image-style {
        padding-left: 20px;
    }
}
@media (max-width:767px){
    .image-style {
        padding-left: 20px;
    }
}*/
@media (min-width:768px) and (max-width:1199px){
   
    
}
@media (min-width:768px){
    .bag_search_bar-1 {
        height: 40px;
    }
}
@media (max-width:767px){
/*    .image-style {
        padding-left: 20px;
    }*/
    .bag_search_bar-1 {
        height: 40px;
    }
    .text-div-width {
        width: 100%;
    }
    .top-right {
        right: 0;
        top: 18px;
}
        .bag-searchfrom .input-filter-1 {
        width: 40%;
    }
    .top-right-2 {
        margin-left: 45%;
        top: -24px;
        right: 0;
}
}
@media (min-width:388px) and (max-width:473px){
    .pink-title {
        font-size: 21px;   
}
}
@media (min-width:320px) and (max-width:387px){
    .pink-title {
        font-size: 16px;   
}
}
@media (min-width:320px) and (max-width:442px){
    
    .bag-searchfrom .input-filter-1 {
        font-size: 12px;
        width: 44%;
    }
    .from {
        font-size: 12px;
        
    }
    .to{
        font-size: 12px;
    }
    .top-right-2 {
        margin-left: 49%;
        }
/*    .image-style {
        padding-left: 5px;
}*/
}
@media (min-width:320px) and (max-width:340px){    
    .bag-searchfrom .input-filter-1 {
        font-size: 11px;   
    }
}
@media (min-width:320px) and (max-width:413px){
    .news-data-ul {
        
        padding-left: 25px;       
}
}

