/* CSS Document */
#chatContainer{
	width:100%;	
	height:46px;
	background:url(/media/images/chatDiv.jpg) repeat-x;
	position:relative;
	z-index: 103;
        float: left;
}
#blackTransparentDiv{
	position:fixed;
	width:100%;
	height:100%;
	background:#000000;
	top:0;
	left:0;
	filter: alpha(opacity=70); /* internet explorer */
	-khtml-opacity: 0.7;      /* khtml, old safari */
	-moz-opacity: 0.7;       /* mozilla, netscape */
	opacity: 0.7;           /* fx, safari, opera */	
	display:none;
	z-index:100000;
}
#inside-chat{
	/*width:932px;*/
	width:99%;
	height:46px;
	position:relative;
	margin:0 auto;	
}
#chat-search{
	width:221px;
	height:22px;
	position:absolute;
	bottom:12px;
	right:0;
	z-index:100;
	background:#4a4a4a;	
}
#chatIcon{
	width: 34px;
	height: 31px;
	position: absolute;
	right: 214px;
	top: 10px;
	background: url(/media/images/chaticon.png) center center no-repeat;
	z-index: 10000;
}
#switchatOn{
	width:211px;
	height:22px;
	position:absolute;
	bottom:12px;
	right:0;
	background:url(/media/images/switchon.jpg) right #000000 no-repeat;
	z-index:1000;
	color:#FFFFFF;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	display:none;
	cursor:pointer;
	line-height:22px;		
}
#onlineTubersNb{
	width: 175px;
	height: 34px;
	position:absolute;
	top:6px;
	right:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:34px;
	display:none;
	z-index:1000;
	color:#b4b4b4;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;	
}
#ttsearch {
	width: 200px;
	height: 20px;
	border: none;
	padding-left: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b4b4b4;
	background:#4a4a4a;
	position: relative;
	float: left;
	outline:none;
}
#openChatList{
	width:14px;
	height:22px;
	position:relative;
	float:right;
	background:url(/media/images/openChatList.jpg);
	cursor:pointer;
}
#chatList{
	width:221px;
	max-height:568px;
	height:568px;
	overflow: hidden;
	position:absolute;
	z-index:10000;
	bottom:34px;
	/*border:solid 2px #d3d3d3;*/
	right:0;
	border-bottom:none;
	background:#5f5f5f;
	display:none;
}
#chatSetButton{
	position:relative;
	float:right;
	width:18px;
	height:18px;
	margin-right:3px;
	margin-top:3px;
	background:url(/media/images/settings-for-chat.jpg) center center no-repeat;
	cursor:pointer;	
}

#chatSettingsList{
	position:absolute;
	right:0;
	width:91px;
	height:auto;
	background:#3e3e3e;
	top:22px;
	right:6px;
	z-index:10005;
	display:none;	
}
#chatSettingsPointer{
	background:url(/media/images/arrowup.jpg) center center no-repeat;
	position:absolute;
	right: 1px;
	width: 9px;
	height: 5px;
	top: -5px;	
}
.onelistChatSettings{
	width:84px;
	height:22px;
	line-height:22px;
	position:relative;
	float:left;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#bdbec0;
	padding-left:7px;
	cursor:pointer;	
}
.onelistChatSettings:hover{
	background:#2f2f2f;
	color:#FFFFFF;
}
#onlineFav{
	width:205px;
	position:absolute;
	height:14px;
	background:url(/media/images/one-chat-border.jpg) top repeat-x;	
	left:10px;
	top:80px;
	padding-top:11px;
}
.oneTabFav{
	position:relative;
	float:left;
	width:auto;
	height:9px;
	line-height:9px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	background:url(/media/images/all-fav.jpg) right center repeat-y;
	margin-left:15px;
	padding-right:15px;
	font-weight:bold;	
}
.one-chat-remove-fav{
	width:10px;
	height:10px;
	position:absolute;
	top:6px;
	right:10px;
	background:url(/media/images/removefav.jpg) center center no-repeat;
	z-index:100;
	display:none;	
}
.oneTabFav:last-child{
	background:none !important;	
}
.oneTabFav.selectedFav{
	color:#eac31a !important;	
}
.one-chat-myimg{
	position:absolute;
	top:10px;
	left:5px;
	z-index:10002;
	width: 79px;
	height: 62px;
	background:url(/media/images/chat/graybig.png) center center #292a29;
}

.one-chat-myimg img{
	border: none;
	width: 62px;
	height: 62px;
	position: absolute;
	left: 2px;
	top: 1px;
}
.one-chat-username{
	position:absolute;
	width: 115px;
	top: 32px;
	left: 88px;
	z-index:10;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12.5px;
	font-weight:bold;	
	cursor:default;
	overflow:hidden;
}
.one-chat-checkbox{
	position:absolute;
	top: 52px;
	left: 85px;
	color: #343333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	z-index:10004;
	width: 115px;
	height:15px;
}
.one-chat-settings{
	width: 112px;
	height: auto;
	position: absolute;
	top: 35px;
	background: #3e3e3e;
	right: 25px;
	z-index: 10000;
	display:none;	
}
.one-chat-settings-row{
	position:relative;
	float:left;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#bdbec0;
	height:22px;
	text-align:left;
	width:102px;
	padding-left:10px;
	line-height:22px;
	cursor:pointer;	
}
.one-chat-settings-row:hover{
	color:#FFFFFF;
	background:#5f5f5f	
}
#chat-type{
	position:absolute;
	width:12px;
	height:12px;
	z-index:10001;
	top:95px;
	left:211px;
	background:url(/media/images/chat-type.jpg) no-repeat;
	cursor:pointer;
}
#chat-container{
	position:absolute;
	width:215px;
	height:431px;
	z-index:10000;
	top:120px;
	left:5px;
	outline:none;
}
#chat-container-inside{
	position:absolute;
	width:214px;
	height:431px;
	overflow: hidden;
	z-index:10000;
	top:0px;
	left:0px;
	outline:none;
}

.one-chat-rec{
	position:relative;
	width:205px;
	height:64px;
	float:left;
	margin:0;
	padding:0;
	background:url(/media/images/one-chat-border.jpg) bottom repeat-x;
}
.one-chat-overlay-grey{
	position:absolute;
	top:0;
	left:0;
	background:#252525;
	filter: alpha(opacity=80); /* internet explorer */
	-khtml-opacity: 0.8;      /* khtml, old safari */
	-moz-opacity: 0.8;       /* mozilla, netscape */
	opacity: 0.8; 
	z-index:1000;
	width:100%;
	height:100%; 
	display:none;    
	
}
#my_bottom_border{
	background: url(/media/images/one-chat-border.jpg) bottom repeat-x;
	position: absolute;
	width: 205px;
	height: 2px;
	top: 110px;
	left: 10px;
}

.one-chat-rec-noback{
	background:none !important;
}
.one-chat-img{
	position:absolute;
	left:5px;
	width:71px;
	height:58px;
	background:url(/media/images/chat/graysmall.png) center center;
	top:2px;
}


.one-chat-img.available{
	background-color:#9aca3e;	
}
.one-chat-img.away{
	background-color:#eac31a;	
}
.one-chat-img.busy{
	background-color:#ed2724;	
}
.one-chat-img.offline{
	background-color:#292a29;	
}

.one-chat-img img{
	border: none;
	width: 57px;
	height: 57px;
	top: 1.5px;
	left: 1px;
	position: absolute;
}
.one-chat-linetop {
	position:absolute;
	background-color:#e9e7e7;
	width:100%;
	height:1px;
	top:0;
	left:0;
	display:none;
}
.one-chat-linebottom {
	position:absolute;
	background-color:#8f8e8e;
	width:100%;
	height:1px;
	bottom:0;
	left:0;
}
.one-chat-msg {
	position:absolute;
	width:23px;
	height:56px;
	top:0px;
	right:0px;
	z-index:44;
	background:url(/media/images/chat-msg.png) no-repeat;
	display:none;
}
.one-chat-msg span{
	position:absolute;
	width:20px;
	height:13px;
	top:19px;
	right:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:right;
	cursor:default;
	color:#000;
}
.one-chat-block {
	position:absolute;
	width:15px;
	height:15px;
	bottom:3px;
	right:10px;
	z-index:50;
	display:none;
	background:url(/media/images/chat-block.png) no-repeat;
	cursor:pointer;
}
.one-chat-unblock {
	position:absolute;
	width:15px;
	height:14px;
	bottom:3px;
	right:9px;
	z-index:51;
	background:url(/media/images/chat-unblock.png) no-repeat;
	cursor:pointer;
}
.one-chat-video {
	position:absolute;
	width:20px;
	height:10px;
	bottom:3px;
	right:30px;
	z-index:52;
	background:url(/media/images/chat-video.png) no-repeat;
	cursor:pointer;
	display:none;
}
.one-chat-status-available {
	position:absolute;
	width:11px;
	height:11px;
	top:22px;
	left:11px;
	z-index:53;
	background:url(/media/images/chat-online.png) no-repeat;
}
.one-chat-status-online {
	position:absolute;
	width:11px;
	height:11px;
	top:22px;
	left:11px;
	z-index:53;
	background:url(/media/images/chat-online.png) no-repeat;
}
.one-chat-status-away {
	position:absolute;
	width:11px;
	height:11px;
	top:22px;
	left:11px;
	z-index:53;
	background:url(/media/images/chat-away.png) no-repeat;
}
.one-chat-status-busy {
	position:absolute;
	width:11px;
	height:11px;
	top:22px;
	left:11px;
	z-index:53;
	background:url(/media/images/chat-busy.png) no-repeat;
}
.one-chat-status-offline {
	position:absolute;
	width:11px;
	height:11px;
	top:22px;
	left:11px;
	z-index:53;
	background:url(/media/images/chat-offline.png) no-repeat;
}
.one-chat-name {
	width:225px;
	height:56px;
	position:absolute;
	color: #b4b4b4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	left:0px;
	top:10px;
	cursor:pointer;
	overflow:hidden;
	z-index:54;
}

.one-chat-name span{
	position:absolute;
	width:123px;
	height:15px;
	left:80px;
	top:13px;
	overflow:hidden;
}
.one-chat-name p{
	position:absolute;
	left:90px;
	top:20px;
	font-style:italic;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;	
	font-size:10px;
}
.one-chat-name p.green{
	color:#46ab70;	
}
.one-chat-name p.red{
	color:#ed1c24;	
}
.one-chat-name p.grey{
	color:#c0c0c2;	
}
#chat-leftList{
	width:auto;
	height:46px;
	float:right;
	position:relative;
	right:245px;	
}
.one-chatLeftList{
	width:159px;
	height:22px;
	position:relative;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:10px;
	background:url(/media/images/chatleftback.jpg) left top repeat-x;
	margin-top:11px;
	margin-right:5px;
	cursor: pointer;
	color:#e5e5e5;
	display:inline-block;
}
.one-chatLeftList span.status{
	color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 19px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	/*display:none;*/
}
.ChatTitle{
	height:38px;
	width:255px;
	overflow: hidden;
	padding-left: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	/*cursor: pointer;*/
	color: white;
	margin-top:3px;
	background:#000000;
	line-height:38px;
}
.leftavailable2{
	background-image:url(/media/images/chat-online.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;	
}
.leftbusy2{
	background-image:url(/media/images/chat-busy.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;	
}
.leftaway2{
	background-image:url(/media/images/chat-away.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;	
}
.leftoffline2{
	background-image:url(/media/images/chat-offline.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;
}



.leftavailable{
	background-image:url(/media/images/chat-online.png);
	background-position: 4px 3px;
	background-repeat: no-repeat;	
}
.leftbusy{
	background-image:url(/media/images/chat-busy.png);
	background-position: 4px 3px;
	background-repeat: no-repeat;	
}
.leftaway{
	background-image:url(/media/images/chat-away.png);
	background-position: 4px 3px;
	background-repeat: no-repeat;	
}
.leftoffline{
	background-image:url(/media/images/chat-offline.png);
	background-position: 4px 3px;
	background-repeat: no-repeat;
}

.leftgreen{
	background-image:url(/media/images/chat-online.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;	
}
.leftred{
	background-image:url(/media/images/chat-busy.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;	
}
.leftyellow{
	background-image:url(/media/images/chat-away.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;	
}
.leftgrey{
	background-image:url(/media/images/chat-offline.png);
	background-position: 4px 9px;
	background-repeat: no-repeat;
}

.ChatWindow{
	width: 275px;
	height: 251px;
	z-index: 100;
	position: absolute;
	overflow: hidden;
	top: -251px;
	cursor: default;
	/*background-image:url(/media/images/chat-bk.png);*/
}
.ChatLog{
	overflow:hidden;
	height: 211px;
	width:269px;
	margin-left:0px;
	background:#2a2a2a;
	position:relative;
	z-index:1000;
	border:solid 3px #000;
	border-top:none;
	outline:none;
}
.ChatCloseImg{
	background-image:url(/media/images/chatCloseBtn.jpg);
	width: 18px;
	height: 33px;
	position: absolute;
	background-position: center center;
	background-repeat:no-repeat;
	top: 0px;
	right: 0px;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 4px;
}
.ChatMinimize{
	width: 18px;
	height: 33px;
	position: absolute;
	top: 0px;
	right: 40px;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 4px;
	line-height:33px;
	background:url(/media/images/chatMinBtn.jpg);
	background-position: center center;
	background-repeat:no-repeat;
}
.emoticonsIcon{
	width: 18px;
	height: 33px;
	position: absolute;
	top: 0px;
	right: 61px;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 4px;
	line-height:33px;
	background:url(/media/images/emotiIcon.jpg);
	background-position: center center;
	background-repeat:no-repeat;	
}
.chatInput{
	outline:none;	
	padding-left: 5px;
	width: 243px;
	height:22px !important;
	background:#4a4a4a;
	color:#d4d4d4;
	font-size:11px;
	padding-left:25px;
	font-family:Arial, Helvetica, sans-serif;
	border:solid 3px #000000 !important;
	border-top:none !important;
}
.ChatSet{
	width: 18px;
	height: 33px;
	position: absolute;
	top: 0px;
	right: 20px;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 4px;
	line-height:33px;
	background:url(/media/images/chatSetBtn.jpg);
	background-position: center center;
	background-repeat:no-repeat;
}

.ChatMyMessage{
	color: #DCAF1A;
	width:255px;
	position:relative;
	float:left;
	background:url(/media/images/onechatmsg.jpg) bottom repeat-x;
	padding-bottom:10px;
	margin-top:10px;
}
.ChatHisMessage{
	background:url(/media/images/onechatmsg.jpg) bottom repeat-x;
	padding-bottom:10px;
	margin-top:10px;
	width:255px;
	position:relative;
	float:left;
}
.historyMessage{
	width: 465px !important;
	margin-left:60px;	
}
.ChatMyMessage .User{
	color: #d3d3d3;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	min-width:120px;
	padding-left:24px;
	height:15px;
	position:relative;
	float:left;
	line-height:15px;
	background:#000;
}
.ChatMyMessage .Date{
	position:relative;
	float:right;
	font-size:9px;
	color:#747576;
	display:none;
	background:url(/media/images/time.jpg) left center no-repeat;
	padding-left:12px;
	padding-left: 14px;
	height: 12px;
	line-height: 13px;
}
.ChatMyMessage .Msg{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b4b4b4;
	position:relative;
	float:left;
	padding-left:24px;
	width:208px;
	margin-top:5px;
}

.ChatHisMessage .User{
	color: #d3d3d3;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	min-width:120px;
	padding-left:24px;
	height:15px;
	position:relative;
	float:left;
	line-height:15px;
	background:#000;
}
.ChatHisMessage .Date{
	position:relative;
	float:right;
	font-size:9px;
	color:#747576;
	display:none;
	background:url(/media/images/time.jpg) left center no-repeat;
	padding-left: 14px;
	height: 12px;
	line-height: 13px;
}
.ChatHisMessage .Msg{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b4b4b4;
	position:relative;
	float:left;
	width:208px;
	padding-left:24px;
	margin-top:5px;
}
.Msg a{
	color:#6B6A6A !important;
	position:relative;
	z-index:10000;
	float:left;	
}
.historyMessage  .Date{
	position:absolute !important;
	top:0px !important;
	left:-55px !important;	
}
.activeChat{
	color: #FFFFFF;
	background:url(/media/images/chatleftback-hover.jpg) left top repeat-x;
}

.chat-overlay-loading-fix {
	position: fixed;
	width:100%;
	height:100%;
	bottom: 0;
	right: 0;
	background: url("/media/images/fancybox_overlay.png");
	overflow: hidden;
	display: none;
	z-index: 28010;
}
.chat-overlay-loading-fix div {
	width:100%;
	height:100%;
	background: url("fancybox_loading2.gif") center center no-repeat;
}
#chat_controls{
	position:relative;
	float:right;
	margin-right:230px;
	margin-top:18px;	
}
#turnChatOn,#turnChatOff{
	position:relative;
	float:right;
	cursor:pointer;	
	margin-right:10px;
	font-size:12px;
}
#turnChatOff{
	display:none;	
}
#chathistorydiv{
	width:700px;
	height:550px;
	border:solid 3px #000000;
	background:#2a2a2a;
	position:fixed;
	top:100px;
	display:none;
	z-index:1000000;	
}
#chattubers{
	width:365px;
	height:245px;
	border:solid 3px #000000;
	background:#2a2a2a;
	position:fixed;
	top:100px;
	display:none;
	z-index:1000000;		
}

#leftTimeCat{
	width:135px;
	height:520px;
	position:relative;
	float:left;
	background:url(/media/images/leftChatHistory.jpg) right top repeat-y;
	padding-top:25px;
			
}
#rightChatHistory{
	width:560px;
	height:545px;
	position:relative;
	float:left;
	overflow:auto;	
}
.chatHistoryTitle{
	color:#FFFFFF;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background:url(/media/images/chatTime.jpg) center left no-repeat;
	padding-left:15px;
	line-height:25px;
	padding-bottom: 0;
}
#leftTimeCatTitle{
	width:100%;
	height:25px;
	position:relative;
	float:left;
	color:#e7ba20;
	font-weight:bold;
	font-size:11px;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;	
}
#leftTimeCatTitle span{
	width:85px;
	text-align:left;
	position:relative;
	margin: 0 auto;
	display:block;	
}
#chat_time_history{
	width:100%;
	height:auto;
	position:relative;
	float:left;
	margin-top:15px;
	background:url(/media/images/middleline.png) center top repeat-y;	
}
.chat_time_history{
	width:56px;
	height:56px;
	position:relative;
	margin:0 auto;
	background:url(/media/images/chat_time_history.png) center center no-repeat;
	text-align:center;
	margin-bottom:7px;
	cursor:pointer;
	line-height:56px;
	text-align:center;
	color:#FFFFFF;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:lowercase;	
}
.chat_time_history.grey{
	background-color:#4c4c4c;
}
.chat_time_history.yellow{
	background-color:#e7ba20;
}
.chat_time_history:hover{
	background-color:#e7ba20;	
}

.pending_files{
	width:200px;
	height:54px;
	position:relative;
	float:left;
	background:#000000;	
	margin-top:5px;
	font-size:11px;
	color:#b4b4b4;
	font-family:Arial, Helvetica, sans-serif;
	line-height:14px;
	padding:3px;
}
.pending_files .filename{
	position:relative;
	float:right;
	margin-right:5px;
	margin-left:5px;
	width:92px;	
}
.pending_files b a{
	font-size:10px;
	font-weight:bold;
	color:#eac31a;
	text-decoration:none;
	width:95px;
	position:relative;
	float:left;
}
.progressContainer{
	width:95px;
	height:4px;
	position:relative;
	float:left;	
}
.progresss{
	height:4px;
	position:relative;
	float:left;
	background:#f0bf1b;	
}
.LeftChatContainer{
	position: absolute;
	width:100%;
}
.LeftTuberName{
	padding-left:21px;
	padding-top:8px;
	float:left;
	height:22px;
}
.LeftChatContainer{
	z-index:10;
}
.quickuploadcontainer{
	position:absolute;
	width:20px;
	height:20px;
	bottom : -22px;
	left : 3px;
	z-index : 10000 !important;
					
}
#shareTuberTitle{
	width:315px;
	height:auto;
	position:relative;
	margin:0 auto;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	color:#e7ba20;
	text-transform:uppercase;
	margin-bottom:5px;
	margin-top:30px;	
}
#shareTubersInside{
	width:315px;
	height:148px;
	position:relative;
	margin:0 auto;
	overflow:auto;	
}
#sharebtns{
	width:315px;
	height:auto;
	position:relative;
	margin:0 auto;
	color:#ebebeb;
	margin-top:15px;
	font-size:12px;	
}
#sharebtns a{
	text-decoration:none;
	color:#ebebeb;
	font-size:12px;	
}
.one_tuber_name{
	position:relative;
	float:left;
	width:245px;
	height:32px;
	background:url(/media/images/share_tuber_check.jpg) right center no-repeat;
	font-size:12px;
	color:#b4b4b4;
	font-family:Arial, Helvetica, sans-serif;
	line-height:32px;	
}
.one_tuber_share{
	width:300px;
	height:35px;
	position:relative;
	float:left;
	background-color:#5f5f5f;
	margin-bottom:3px;
	cursor:pointer;	
}
.one_tuber_notfound{
	width:300px;
	height:32px;
	position:relative;
	float:left;
	background-color:#5f5f5f;
	margin-bottom:3px;
	cursor:pointer;
	font-size:12px;
	color:#b4b4b4;
	font-family:Arial, Helvetica, sans-serif;
	line-height:32px;
	padding-left:5px;		
}
.tuber_automatic_share{
	font-size:10px;
	color:#6b6a6a;
	font-family:Arial, Helvetica, sans-serif;	
}
.tuber_search{
	width:30px !important;
	height:30px !important;
	position:relative;
	float:left;
	margin-bottom:5px;
	margin-top:5px;	
}
a .tuber_search_name{
	position:relative;
	float:left;
	line-height:30px;
	margin-left:5px;
	width:173px;
	margin-bottom:5px;
	margin-top:5px;
	color:#b4b4b4 !important;
	text-decoration:none;	
}
.one_tuber_name.selected_share{
	background:url(/media/images/share_tuber_checked.jpg) right center no-repeat;
}
.one_tuber_img{
	width:35px;
	height:35px;
	position:relative;
	float:left;
	top:0px;
	background:url(/media/images/chat/share.jpg) center center no-repeat;
	margin-left:4px;	
}

.one_tuber_img img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 2px;
	left: -2px;
}

#privacyDiv{
	width:365px;
	height:245px;
	border:solid 3px #000000;
	background:#2a2a2a;
	position:fixed;
	top:100px;
	display:none;
	z-index:1000000;	
}	
.emoticonslist{
	width: 270px;
	height: 217px;
	position: absolute;
	top: 34px;
	left: 2px;
	background:#3e3e3e;
	z-index:10000;
	display:none;
	overflow:hidden;	
}
#extraWindows{
	width:153px;
	height:23px;
	position:relative;
	top:10px;
	background:#000 url(/media/images/extraChatWindow.jpg) right center no-repeat;
	display:none;
	float:right;
	margin-right:20px;
	cursor:pointer;
	z-index:1000;
	margin-right:265px;	
}
#extraChatIcon{
	width: 34px;
	height: 31px;
	position: absolute;
	left: 5px;
	top: -10px;
	background: url(/media/images/chaticon.png) center center no-repeat;
	z-index: 10000;	
}
#extraWindwosNB{
	position:absolute;
	left:52px;
	line-height:23px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;	
	color:#eac31a;
	font-weight:bold;
}
#extraListContainer{
	position:absolute;
	width:153px;
	height:auto;
	top:0;	
}
#extraList{
	width:153px;
	height:auto;
	bottom:0;
	left:0;
	position:absolute;
	background:#000000;
	display:none;	
}
.oneExtraItem{
	width:145px;
	height:21px;
	position:relative;	
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-weight:bold;
	margin-left:10px;
	cursor:pointer;
}
.oneExtraItem:first-child{
	margin-top:10px;	
}
.oneExtraItem:last-child{
	margin-bottom:10px;	
}
.oneExtraItem:hover{
	color:#eac31a;	
}
.emoHeaders{
	width:269px;
	height:36px;
	position:relative;
	float:left;
	background:url(/media/images/emoHeaders.jpg) bottom repeat-x;	
}
.oneEmoTab{
	width:38px;
	height:24px;
	position:relative;
	float:left;
	background:url(/media/images/rightEmoHeader.jpg) right center repeat-y;
	margin-top:5px;	
}
.emotiArrow{
	width:38px;
	height:4px;
	position:absolute;
	bottom:-4px;
	left:0;
	background:url(/media/images/emotiArrow.jpg) bottom no-repeat;
		
}
.oneEmoTab span{
	width:100%;
	height:auto;
	position:relative;
	margin: 0 auto;
	text-align:center;
	line-height:25px;
	display:block;	
}
.oneEmoList{
	width:269px;
	height:185px;
	position:relative;
	float:left;
	margin-top:10px;	
}
.one_emoticon_div{
	position:relative;
	float:left;
	text-align:center;
	line-height:33px;	
}

.one_emoticon_div.set1{
	width:33px;
	height:33px;	
}

.one_emoticon_div.set2{
	width:38px;
	height:42px;	
}
.one_emoticon_div.set3{
	width:38px;
	height:42px;	
}
.one_emoticon_div.set4{
	width:44px;
	height:40px;	
}
.one_emoticon_div.set5{
	width:33px;
	height:33px;	
}
.one_emoticon_div div {
	position:relative;
	margin:0 auto;
	width:100%;
	text-align:center;	
}
.emoticonsContainer{
	width:1350px;
	height:185px;
	position:relative;
	float:left;
	overflow:hidden;	
}