@charset "utf-8";
/* CSS Document */
div.ui-datepicker{
	font-size:10px;
}
#InsideNormal{
	position:relative;
	margin:0 auto;
	width:975px;
	height:auto;
	min-height:500px;
	margin-top:70px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b4b4b4;
}
a{
	text-decoration:none;
}

#CreateChannelForm{
	position:relative;
	float:left;
	width:657px;
	height:216px;
	overflow:hidden;
	margin:0;
}
.sliderclass{
	position:relative;
	float:left;
	width:657px;
	height:60px;
	overflow:hidden;
	margin:0;
}
.subsliderclass{
	position:relative;
	float:left;
	width:657px;
	height:60px;
	overflow:hidden;
	margin:0;
	margin-left:-25px;
}
.regHeader #arrow1 , .subRegHeader #arrow1, .subRegHeaderInactive #arrow1 {
    position: absolute;
    right: 32px;
    top: 23px;
}
img {
    border: medium none;
}
.formContainerNumber {
    background-image: url("/media/images/modal_number_circle.png");
	background-repeat:no-repeat;
    color: black;
    float: left;
    font-size: 9px;
    font-weight: bold;
    height: 15px;   
    width: 15px;
	position:absolute;
	left:-21px;
	top:0;	
}
.formContainerNumber1 {
	display:block;  
    line-height: 15px;
    position: absolute;
    text-align: center;
    width: 14px;
}

.regHeader, .subRegHeader{
	position:relative;
	float:left;
	width:100%;
	height:60px;
	cursor:pointer;
	margin-left:25px;
}
.subRegHeaderInactive{
	position:relative;
	float:left;
	width:100%;
	height:29px;
	cursor:default;
	margin-left:25px;
}
.yellowTTL{
	font-size:14px;
	color:#e7ba20;
}
.yellowTTL11{
	font-size:11px;
	color:#e7ba20;
}
.yellowTTL11 a{
	color:#e7ba20 !important;
	text-decoration:none !important;
}
.greyTTL{
	font-size:10px;
}
.greyTTL12{
	font-size:12px;
}
.accountbutcontainerleft{
	position:absolute;
	display:block;
	width:auto;
	height:13px;
	bottom:0;
	left:0;
}
.accountbutcontainer{
	position:absolute;
	display:block;
	width:auto;
	height:13px;
	bottom:-20px;
	right:0;
}
.accountbuts{
	position:relative;
	display:block;
	float:right;
	width:auto;
	height:13px;
	line-height:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#686868;
	cursor:pointer;
}
.accountbuts:hover{
	color:#e7ba20;
}
.accountbutseperator{
	position:relative;
	display:block;
	float:right;
	width:1px;
	height:7px;
	background-color:#f0d357;
	margin-left:4px;
	margin-right:4px;
	margin-top:3px;
}
.formContainersub{
	position:relative;
	float:left;
	display:block;
	width:100%;
}
.formContainer{
	position:relative;
	float:left;
	width:632px;
	margin-left:25px;
	margin-bottom:21px;
}
.formContainer100{
	position:relative;
	float:left;
	width:100%;
	/*height:auto;*/
} 
.subformContainer100{
	position:relative;
	float:left;
	width:682px;
	/*height:auto;*/
}
.formtt12{
	font-size:12px;
	color:#686868;
}
.formttl{
	font-size:13px;
	color:#686868;
}
.formttl1{
	font-size:12px;
	color:#a7a7a7;
}
.formttl11{
	font-size:11px !important;
	color:#a7a7a7 !important;
}
.formttl3{
	font-size:13px !important;
	color:#727272 !important;
}
.tt_logo{
	position:absolute !important;
	background:url(/media/images/tt_logo.png) no-repeat;
	width:7px !important;
	height:9px !important;
	left:-12px;
	top:4px;
}
.tt_bullets{
	position:absolute !important;
	background:url(/media/images/bullets_circle.png) no-repeat;
	width:5px !important;
	height:5px !important;
	left:-12px;
	top:4px;
}
.formContainer select{
	width:268px;
	height:22px;
	border:1px solid #EAEAEA;
	font-size:11px;
	color:#000;
}
.RegFocus, .ChaFocus, .RegUsernameFocus{
	width:264px;
	height:22px;
	border:1px solid #EAEAEA;
	font-size:12px;
	color:#000;
}
.RegFocus.InputErr, .ChaFocus.InputErr, .RegUsernameFocus.InputErr {
    border: 1px solid #CEA113;
}
select.InputErr {
    border: 1px solid #CEA113;
}
.Focus{
	border:1px solid #EAEAEA;
}
.Error{
	border:1px solid #e7ba20;
}
.margintop1{
	margin-top:1px;
}
.margintop2{
	margin-top:2px;
}
.margintop3{
	margin-top:3px;
}
.margintop5{
	margin-top:5px;
}
.margintop6{
	margin-top:6px;
}
.margintop8{
	margin-top:8px;
}
.margintop9{
	margin-top:9px;
}
.margintop12{
	margin-top:12px;
}
.margintop14{
	margin-top:14px;
}
.margintop15{
	margin-top:15px;
}
.margintop19{
	margin-top:19px;
}
.margintop20{
	margin-top:20px;
}
.margintop23{
	margin-top:23px;
}
.margintop27{
	margin-top:27px;
}
.margintop28{
	margin-top:28px;
}
.marginleft4{
	margin-left:4px;
}
.marginleft5{
	margin-left:5px;
}
.marginleft15{
	margin-left:15px;
}
.marginleft19{
	margin-left:19px;
}
.marginleft91{
	margin-left:91px;
}
.marginbottom15{
	margin-bottom:15px;
}
.marginbottom20{
	margin-bottom:20px;
}
.marginbottom26{
	margin-bottom:26px;
}
.marginbottom34{
	margin-bottom:34px;
}
.displaynone{
	display:none !important;
}
.bdate{
	width:210px;
}
.smallYellow{
	font-size:11px;
	color:#e7ba20;
}
.font11{
	font-size:11px;
}
#FormResult, #CFormResult{
	color:#000;
	font-size:11px;
}
#FormResult a, #CFormResult a{
	text-decoration:underline;
	color:#000;
}
.font10{
	font-size:10px;
}
.italic{
	font-style:italic;
}
#ClaimEmail, #CClaimEmail{
	position:absolute;
	bottom:0;
	left:0;
	width:auto !important;
	padding:10px 25px;
	height:24px;
	background:#eac31a;
	color:#fff;
	font-size:16px;
	visibility:hidden;
}
#ClaimEmail a, #CClaimEmail a{
	text-decoration:underline;
	color:#fff;
}
#CreateMyAccount, #CreateMyChannel{
	cursor:pointer;
}
.registerpopUp{
	background:#2A2A2A;
    border: 2px solid #000000;
    color: #B4B4B4;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    line-height: 15px;
	padding-top:35px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:15px;
    position: relative;
    width: 228px;
}
.registerpopUp div{
	position:relative;
	float:left;
	width:228px;
	height:auto;
}
.yellowsignIn{
	font-size:11px;
	color:#e7ba20;
	text-transform:uppercase;
	font-weight:bold;
}
.yellow13{
	font-size:13px;
	color:#eac31a;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.registerpopUp input{
	border:0;
	width:228px;
	height:22px;
	background:#5f5f5f;
	color:#b4b4b4;
}
.registerpopUp input.InputErr {
    border: 1px solid #CEA113;
}
.registerpopUp .signInbtn{
	color:#FFF;
	font-size:12px;
	cursor:pointer;
	width:auto !important;
}
.hr{
	position:absolute;
	float:left;
	width:657px;
	height:2px;
	background:#dedede;
	top:18px;
	left:-25px;
	/*margin:20px 0px;
	margin-left:12px;*/
}
.themephotoStan {
    border: 1px solid #E7BA20;
    float: left;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 187px;
    height: 122px;
	margin-left:-4px;
	margin-top:1px;
}
.themephotoStanInside {
    position: relative;
    width: 187px;
    height: 122px;
	margin:0;
	background-color:#d8d8d8;
}
.themephotoStan img{
	width: 187px;
    height: 122px;
}

.brochurephotoStan {
    border: 1px solid #E7BA20;
    float: left;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 55px;
    height: 76px;
	margin-left:-4px;
	margin-top:1px;
}
.brochurephotoStanInside {
    position: relative;
    width: 55px;
    height: 76px;
	margin:0;
	background-color:#d8d8d8;
}
.brochurephotoStan img{
	width: 55px;
    height: 76px;
}
.backgroundImageStan {
    border: 1px solid #E7BA20;
    float: left;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 400px;
    height: 225px;
	margin-left:-4px;
}
.backgroundImageStanInside {
    position: relative;
    width: 400px;
    height: 225px;
	margin:0;
	background-color:#d8d8d8;
}
.backgroundImageStan img{
	position:relative;
    max-width: 400px;
    max-height: 225px;
	margin:0 auto;
}
.coverImageStan {
    border: 1px solid #E7BA20;
    float: left;
    height: 128px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 400px;
	margin-left:-4px;
}
.coverImageStan img{
    width: 400px;
    height: 128px;
}
.coverImageStanInside {
    height: 128px;
    position: relative;
    width: 400px;
	margin:0;
	background-color:#d8d8d8;
}
.ImageStan {
    border: 1px solid #E7BA20;
    float: left;
    height: 100px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    width: 100px;
	margin-left:-4px;
}
.ImageStan img{
    height: 100px;
    width: 100px;
}
.DragImage {
    background: url("/media/images/drag_stan.gif") no-repeat scroll left center transparent;
    float: left;
    font-size: 11px;
    height: 17px;
    line-height: 21px;
    padding-left: 22px;
    position: relative;
    width: 120px;
	color: #686868;
    font-family: Arial,Helvetica,sans-serif;
	margin-left:-2px;
	cursor:default;
	display:none;
}
.removeNewBut{
    position: relative;
    background: url("/media/images/catalog-minus.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 14px;
	float:left;
	margin-top:6px;
	margin-left:7px;
}
.removeNewBut:hover > .addNewBut_over{    
    display: block;
}
.removeNewButEdit{
    position: relative;
    background: url("/media/images/catalog-minus.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 14px;
	float:left;
	margin-top:6px;
	margin-right:8px;
	margin-left:-3px;
	z-index:1;
}
.removeNewButEdit:hover > .addNewBut_over{    
    display: block;
}
.setting_links .addNewBut{
    position: absolute;
    background: url("/media/images/catalog-plus.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 14px;
	margin-top:3px;
	margin-left:2px;
}
.addNewBut:hover > .addNewBut_over{    
    display: block;
}
.addNewBut_over {
    background: url("/media/images/channel_bubble_icon.png") no-repeat scroll 0 0 transparent;
	background-position:left center;
    display: none;
    height: 18px;
    left: 16px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    width: 300px;
}
.addNewBut_overtxt {
    position: absolute;
    display: block;
	float: left;
    width: auto;
    height: 18px; 
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	line-height:18px;
	background-color:#838383;
	padding-right:6px;
	padding-left:6px;
	margin-left:4px;	
    text-align: center;
    text-transform: lowercase;
}
.uploadinfocheckbox{
	line-height:13px;
	width:auto; 
	clear:both; 
	float:left;
}
#telluswhy{
	width:858px;
	height:324px;
	display:none;
	background-color:#000000;
}
#telluswhycontent{
	position:absolute;
	width:auto;
	height:auto;
	display:block;
	top:34px;
	left:35px;
}
#mandatorycontainer{
	position:absolute;
	display:block;
	width:auto;
	height:auto;
	top:-35px;
	left:25px;	
}
.telluswhycontentlink{
	color:#FFF; 
	font-size:11px;
}
.uploadinfocheckboxtxtTellus{
	font-size:12px; 
	font-weight:normal; 
	color:#b4b4b4;
}
.fromdate{
	position:relative;
	width:210px;
	height:33px;
	display:block;
	float:left;
}
.fromtime{
	position:absolute;
	width:75px;
	height:33px;
	display:block;
	float:left;
	top: 15px;
    left: 160px;
}
.fromtimeto{
    left: 135px;
}
.fromtime input{
	width:35px;
	height:15px;
}
.fromtime span{    
	margin-left: -66px;
    margin-top: -2px;
    position: absolute;
    vertical-align: middle;
}
.fromtimeline{
	position:absolute;
	width:2px;
	height:33px;
	display:block;
	top: 3px;
    right: 0px;
	background-color:#686868;
}
.prvclass{
	position:relative;
	display:block;
	float:left;
	width:auto;
}
.eventsub{
	position:relative;
	width:auto;
	float:left;
	cursor:pointer;
}
.eventsub:hover{
	color:#000000;
}
.eventsubedit{
	position:relative;
	width:100%;
	float:left;
	display:none;
	height:auto;
}
.peoplecontainer{
	position:relative;
	width:405px;
	min-height:60px;
	height:auto;
	background-color:#ffffff;	
}
.emailcontainer{
	position:relative;
	width:401px;
	min-height:41px;
	height:auto;
	margin:0;
	padding:2px;
	display:block;
	float:left;
	border:1px solid #abadb3;
	z-index:2;
}
.friendscontainer{
	position:relative;
	width:405px;
	height:60px;
	margin:0;
	padding:0;
	display:block;
	float:left;
	border:1px solid #e3e9ef;
	margin-top:-1px;
    z-index: 1;	
}
#inviteForm .addmore{
	display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 152px;
    height: 16px;
}
#addmoretext{
	background-color: #B8B8B8;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    width: 138px;
    top: 0;
    left: 0;
}
.peoplesdata{
	position:relative;	
	display:block;
	float:left;
	height:16px;
	line-height:16px;
	margin:0;
	padding:0;
	padding-left:5px;
	padding-right:3px;
	background-color:#e7ba20;
	margin-right:17px;
	margin-bottom:3px;		
}
.peoplesdataemail_icon{
	position:relative;
	width:15px;
	display:block;
	float:left;
	height:10px;
	margin:0;
	padding:0;
    background-image: url("/media/images/email_icon.jpg");
	background-repeat:no-repeat;
	margin-right:3px;
	margin-top:3px;	
}
.peoplesdatainside{
	position:relative;
	width:auto;
	display:block;
	float:left;
	height:16px;
	line-height:16px;
	margin:0;
	padding:0;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
}
.peoplesdataclose{
	position:absolute;
	right:3px;	
	top:3px;
	display:block;
	float:left;
	width:10px;
	height:10px;	
    background-image: url("/media/images/modal_profile_close.jpg");
	background-repeat:no-repeat;
	cursor:pointer;
}
.peoplesearch{
	position:relative;
	width:100%; 
	height:32px; 
	background-color:#000000;
	margin:0;
	padding:0;
}
.peoplesearchtext{
	position:absolute;
	width:340px; 
	height:32px;
	line-height:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#959595;
	left:42px;
	top:0;
}
#uploadContainerinvite{
	min-height:120px;
}
#inviteForm .ui-autocomplete {
    border: 2px solid #555557;
    max-height: 144px;
	height: auto;
    overflow: auto;
    width: 403px !important;
	left:-1px !important;
}
#inviteForm .ui-menu .ui-menu-item a{
	background-color:#555557;
	padding:0 !important;
	padding:2px !important;
	padding-left:4px !important;
	padding-right:4px !important;
}
#inviteForm .ui-menu .ui-menu-item a.ui-state-focus {
	background-color:#ffffff;
}
#inviteForm .ui-menu .ui-menu-item {
	background-color:#000000;	
}

#uploadContainerPDF .filediv {
    height: 45px;
    left: 0px;
    line-height: 26px;
    position: relative;
    top: 7px;
    width: 660px;
}
#uploadContainerPDF .progressbar {
    background: none repeat scroll 0 0 #6C6D6D;
    float: left;
    height: 4px;
    left: 0;
    margin-left: 14px;
    margin-top: 16px;
    padding: 0;
    position: relative;
    top: 0;
    width: 417px;
}
#uploadContainerPDF .progressvalue {
    color: #686868;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    left: 105px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: -26px;
    width: 45px;
    z-index: 100;
}
#uploadContainerPDF .progress {
    height: 4px;
    position: relative;
    width: 0;
}
#uploadContainerPDF .status {
    color: #686868;
    cursor: default;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    left: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    text-transform: lowercase;
    top: -10px;
}
#uploadContainerPDF span.cancel {
    background: url("/media/images/cancelupload.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 199px;
    top: 3px;
    width: 22px;
}
#uploadContainerPDF span.pause {
    background: url("/media/images/uploadpause.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    height: 22px;
    position: absolute;
    right: 173px;
    top: 3px;
    width: 22px;
}
#uploadContainerPDF span.resume {
    background: url("/media/images/uploadresume.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    height: 22px;
    position: absolute;
    right: 173px;
    top: 3px;
    width: 22px;
}
#uploadContainerPDF .pdf_icon {
    background: url("/media/images/uploadpdf_icon_channel.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 16px;
    position: absolute;
    left: 14px;
    top: 24px;
    width: 16px;
}
.channel_page_but {
	position: relative;
	width: auto;
	height: 26px;
	line-height: 26px;
	margin-left:21px;
	padding-left:12px;
	padding-right:12px;
	cursor: pointer;
	display: block;
	background-color: #f4f4f4;
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #686868;
	float: left;
	clear:both;
}
.channel_page_but:hover{
    color: #e7ba20;
}