.flight-breadcrumb {
    margin: 10px auto;
    float: none;
}
.sndstep .bullet, .thirdstep .bullet {
    margin-left: 7px;
}
.thirdstep .number-step-text {
    background-image: none;
    padding-right: 0;
}
.bullet {
    color: white;
    display: inline-block;
    float: left;
    font-size: 25px;
    font-weight: bold;
    height: 58px;
    line-height: 58px;
    text-align: center;
    width: 58px;
}
.number-step-text {
    color: #777879;
    float: left;
    font-size: 20px;
    line-height: 58px;
    min-height: 58px;
    padding-left: 6px;
    padding-right: 20px;
}
.thirdstep.blue_bullet .number-step-text {
    background-image: none;
}
.green_bullet .number-step-text {
    color: #82c04b;
}
.blue_bullet .number-step-text {
    color: #00304c;
}