.enternpas{
    font-size: 16px;
    color: black;
}
.italicwartext{
    color: #686868;
    font-size: 13px;
    font-style: italic;
    margin-top: 21px;
}
.errorclassitalicwartext{
    color: #686868;
    font-size: 13px;
    font-style: italic;
    margin-top: 10px;
    padding-left: 32px;
}
input.InputErr{
    border: 1px solid #cea113;
}
#confirm_container_hide{
    display: none;
}
.passwordstyleinput{
    background: rgb(233, 233, 233) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 4px;
    width: 100%;
}
.padding-left-27{
    padding-left: 27px;
}
.paddingpasssuccess{
    padding-left: 54px;
    padding-top: 50px;
}
.requesttext{
    font-size: 16px;
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
}
.yellowreset{
    color: white;
    font-size: 15px;
    text-align: center;
    height: 38px;
    line-height: 38px;
    background-color: #eac31a;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.resetpasssuccess{
    color: black;
    font-size: 25px;
}
@media  (max-width:767px){
    .smalpadleftz{
        padding-left: 0;
    }
    .paddingpasssuccess{
        padding-left: 27px;
    }
    .italicwartext {
        margin-top: 0;
    }
}