#AllCamList {
	position:relative;
	width: 100%;
	height: auto;
	/*margin-top:10px;*/
}
#AllCamList ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
#AllCamList li {
	float:left;
	width:136px;
	height: 152px;
	margin:0 10px 0 0;
}
#AllCamList li div {
	float:left;
}
#AllCamList li >a{
    text-decoration: none;
    outline: none;
}
#VideoTTL_cam {
	position:relative;
	margin-top:54px;
	width:100px;
	background:url(/media/images/videomostviewedicon.gif) no-repeat left;
	height:16px;
	padding-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:14px;
}
#contentLive {
	position: relative;
	margin: 0 auto;
	width: 1005px;
	height: 650px;
	min-height: 1000px;
        padding-left: 21px;
}
#cameraList {
	position:relative;
	float:left;
	width: 730px;
	min-height: 475px;
        margin:55px 0 0;
        left:0;
}
#mostActiveCams{
    position:relative;
    float:left;
    width: 270px;
    min-height: 600px;
    padding:0 0 50px;
    margin:0;
    left:0;
    background:#efefef;
}
.likeiconLive {
    background: url('/media/images/index-sprite.png') no-repeat top left;
    background-position: -346px 0;
    width: 16px;
    height: 16px;
    float: right;
    position:relative;
    margin:3px 0 0 2px;
    padding: 0;
}
.livelistlike {
	width: 18px;
	height:15px;
	text-align:right;
        float: right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#b2b2b2;
        position: relative;
        margin:0;
        padding:4px 0 0 0;
}
.loadMorContLive{
    width:735px;
    margin-bottom:0;
}
.mostVisitedCams{
    position:relative;
    float:left;
    margin:55px 0 0;
    padding:0;
    width:270px;
}
.mostSearchedCams{
    position:relative;
    float:left;
    margin:45px 0 0;
    padding:0;
    width:270px;
}
.mostVisitedCams h2, .mostSearchedCams h2{
    position:relative;
    float:left;
    margin:-2px 0 0 12px;
    padding:0;
    width:231px;
    font:13px Arial, Helvetica, sans-serif;
    color:#686868;
}
.mostVisitedCams ul{
    position:relative;
    float:left;
    margin:16px 0 0 25px;
    padding:0;
    width:245px;
}
.mostVisitedCams ul li{
    list-style: none; 
    margin:0 0 8px;
    padding:0;
    width:245px;
    height:12px;
}
.h2Circle{
    position:relative;
    float:left;
    margin:0 0 0 12px;
    padding:0;
    width:15px;
    height:15px;
    background: url(/media/images/sprite_privacy.png) no-repeat -364px 0;
}
.bulletLICams{
    position:relative;
    float:left;
    margin:5px 7px 0 0;
    padding:0;
    width:6px;
    height:2px;
    background: #e9c21b;
    clear:both;
}
.textLICams{
    position:relative;
    float:left;
    margin:0;
    font:11px Arial, Helvetica, sans-serif;
    padding:0;
    color:#a8a8a8;
}
.addCamBtn{
    margin-left: 39px;
    margin-bottom: 26px;
    width: 100%;
}
.addCamBtn:hover{
    text-decoration: underline;
}
.mostVisitedCams ul li span{
    position:relative;
    display:block;
    float:left;
    margin:0 0 0 3px;
    font:11px Arial, Helvetica, sans-serif;
    padding:0;
    color:#e9c21b;
}
.mostSearchedCamsList{
    position: relative;
    float: left;
    margin:28px 0 0 39px;
    padding:0;
    width:220px;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#c0c0c0;
    font-size:100%;
}
#AllCamList .insidevideolistrating{
}
.aCloudItem,.aCamItem{
    cursor:pointer;
}
.aCloudItem:hover,.aCamItem:hover .textLICams{
    color:#e7ba20;
}

#MainContent {
    top: 0;
}
.CamViewIcon{
    left:57px;
}


.mtooltip{
    display: block;
    position: absolute;
    width: 120px;
    height: auto;
    left: 80px;
}
.mtooltipin{
    position: absolute;
    display: block;
    width: 110px;
    height: auto;
    left: -80px;
    bottom:-30px;
    padding:9px 3px 7px 3px;
    background-color:#000;
    z-index:10;
}
.anchor_bk{
    position: absolute;
    display: block;
    width: 4px;
    height: 7px;
    right: 80px;
    bottom:0;
    background: url("/media/images/discover/toRightPin.png") no-repeat 0 0;
    z-index:1;
}
.opacity90{
    opacity:0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -khtml-opacity: 0.9;
    -moz-opacity: 0.9;
}
.mtooltipbig{
    position:relative;
    display:block;
    width:86px;
    height:56px;
    left:11px;
    margin-top:3px;
    margin-bottom:5px;
    z-index:5;
}
.mtooltipbig_user{
    position:relative;
    display:block;
    width:72px;
    height:72px;
    left:20px;
    top:16px;
    margin-bottom:5px;
    z-index:5;
}
.mtooltipbig_event{
    position:relative;
    display:block;
    width:72px;
    height:47px;
    left:20px;
    top:16px;
    margin-bottom:5px;
    z-index:5;
}
.mtooltip_title{
    position:relative;
    display:block;
    width:110px;
    height:auto;
    line-height:12px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#cbcbcb;
    text-align:center;
    font-weight:bold;
    clear:both;
    margin-top:3px;
    z-index:4;
}
#MiddleMainLive {
    position:relative;
    left:0px;
    width:100%;
    min-height: 205px;
    background:#000;
}
#mapLiveCam{
    position:relative;
    left:0px;
    width:100%;
    height: 171px;
}
#mapLiveCam.full{
    position: fixed;
    top: 0px;
    left: 0px;
    width :100%;
    height : 100%;
    z-index: 100;
}
#mapLiveCam.middle{
    height: 480px;
}
.liveBar{
    width:100%;
    float:left;
    margin: 0;
    padding:0;
    height: 34px;
    background:#000;
    position: relative;
    min-width: 1005px;
    z-index: 101;
}
.liveBarIn{
    height: 650px;
    margin: 0 auto;
    padding:0;
    height: 34px;
    position: relative;
    width: 1005px;
}
.liveBar.full{
     position: fixed;
     z-index: 101;
     bottom: 0;
}
.liveMapOptions{
    position: relative;
    float:left;
    display:block;
    margin:7px 0 0 11px;
    padding:0;
    width:130px;
}
.liveMapOptions span{
    position: relative;
    float:left;
    display:block;
    margin:0;
    padding:0;
    width:100%;
    height:20px;
    font:normal 11px/20px Arial, Helvetica, sans-serif;
    text-indent:30px;
    color:#c7c7c7;
    cursor:pointer;
    background: #3f3f3f url(/media/images/discover/mapGlobeGray.png) no-repeat 7px 1px;
}
.liveMapOptions .arrowDown{
    position:absolute;
    top:9px;
    right:12px;
    width:7px;
    height:4px;
    background:url(/media/images/discover/liveOptArrowDwn.png) no-repeat 0 0;
}
.liveMapSearch{
    position:relative;
    float:right;
    width: 196px;
    height: 29px;
    padding:0;
    margin:3px 275px 0 0;
    left:0;
    background:#3f3f3f
}
.liveMapSearchIcon{
    position:absolute;
    width: 18px;
    height: 18px;
    top: 6px;
    right:5px;
    background: url('/media/images/index-sprite.png') no-repeat top right;
    background-position: -155px 0;
    cursor:pointer;
}
.liveMapOptionsCont{
    position: absolute;
    bottom:27px;
    left:0;
    background: #3f3f3f;
    width:130px;
    height:63px;
    display:none;
}
.liveMapOpt{
    position: relative;
    float: left;
    height:21px;
    width:100%;
    clear: both;
    font:normal 11px/21px Arial, Helvetica, sans-serif;
    text-indent:30px;
    color:#c7c7c7;
    cursor:pointer; 
}
.liveMapOpt:hover{
    background:#c7c7c7;
    color: #3f3f3f;
}
.liveCamSearch{
    width:165px;
    height:20px;
    border:0;
    position:absolute;
    top:5px;
    left:5px;
    background: #ebebeb;
    text-indent: 6px;
    font:normal 11px/20px Arial, Helvetica, sans-serif;
    color:#000;
}
#MiddleInside.liveCamCon{
    height: 1183px;
    background:#fff;
}
.liveCamCon #commentDiv{
    left:auto;
    position: relative;
    top:auto;
}
.liveCamCon #album_reportDiv{
    z-index: 2;
    display: none;
}
.liveCamCon #comment_reportDiv{
    z-index: 3;
    display: none;
}
.liveCamCon h2.BottomProfileTitle{
    position: relative;
    float: left;
    display: block;
    margin:0 0 25px 0;
    padding:0;
    width:100%;
    font:16px Arial, Helvetica, sans-serif;
    color:#1f1f1f;
}
.liveCamCon #BottomProfileList{
    clear: both;
}
.liveCamCon #BottomProfile{
    margin-top: 36px;
}
.liveCamCon .linestyle_container{
    width:1006px; margin-top: 0px; margin-bottom: 9px;
}
.liveCamCon #InsideContainer{
    width:1010px;
}
.liveCamCon #RightInsideContainer{
    position: relative;
    float:right;
    margin:36px 0 0 0;
    padding:0;
    top:auto;
    right:auto;
}
.liveCamCon #liveInsideTTL{
    margin:0 0 25px 0;
    float:left;
    width:100%;
    height:20px;
    position: relative;
    padding:0;
    font:16px Arial, Helvetica, sans-serif;
    color:#1f1f1f;
}
.liveCamCon #LocationMap2{
    width:260px;
    height:320px;
    margin-top: 20px;
}
.liveCamCon .liveCamComments{
    position:relative;
    float:left;
    margin:55px 0;
    padding:0;
    width:700px;
}
.liveCamCon #description{
    background: #e3b721 url(/media/images/discover/liveTTIco.png) no-repeat center center;
}
.liveCamCon #description.selected{
    background: #cbcbcb url(/media/images/discover/liveTTIco.png) no-repeat center center;
}
.liveCamCon .LocationLiveTitle{
    position:relative;
    float:left;
    margin:0 0 15px 0;
    padding:0;
    clear: both;
    text-transform: uppercase;
    font:bold 11px Arial, Helvetica, sans-serif;
    color:#494a4a;
}
.liveCamCon .LocationProfileTitle{
    position:relative;
    float:left;
    margin:5px 0 0;
    padding:0;
    clear: both;
    font:bold 11px Arial, Helvetica, sans-serif;
    color:#e3b721;
}
.liveCamCon .LocationProfileText{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    clear: both;
    font:11px Arial, Helvetica, sans-serif;
    color:#494a4a;
    width:203px;
    height:22px;
    border-bottom:1px dotted #000;
}
.liveCamCon .BottomProfileImage{
    width:122px;
    height:100px;
}
.liveCamCon .insidevideolistimage_more{
    width:116px !important;
    height:86px !important;
}
.liveCamCon .BottomProfileImage > a > img{
    width:120px;
    height:90px;
}
.liveCamCon .VideoMoreThumbLink{
    height:90px;
}
.liveCamCon .insidevideomore{
    bottom:10px;
    line-height:10px;
}
.full .liveMapSearch{
    display:none;
}
.insidevideoBarRate {    
    background-color: black;
    bottom: 2px;
    color: white;
    display: none;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    left: 2px;
    position: absolute;
    width: 122px;
    z-index: 112;
    padding: 0 5px;
}
.insidevideolistrating {
    height: 14px;
    position: absolute;
    right: 5px;
    text-align: right;
    width: 116px;
    z-index: 112;
    line-height: 14px;
}
.camlistimage .insidevideolistrating{
    height: 9px;
    right: 5px;
    top: 3px;
    width: 40px;
}
.liveCamCon #media_buttons{
    position: absolute; bottom: 0; left:0;top:auto;
}
.liveCamCon #media_buttons .mediabuttonsOver{
    left: 386px; top: -18px; display: none;
}
.share_link_holder.simplemode{
    right:0;
    top:auto;
    bottom:38px;
}
.suggCams{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width:122px;
    height:100px;
}
.suggCams img{
	border: none;
}
.shareFavCont {
width: 696px;
height: 28px;
background: #000;
position: relative;
display: block;
float: left;
}
.clsgoo {
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    line-height: 13px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    text-align: center;
    top: 1px;
    width: auto;
    z-index: 20;
}
#album_reportbut_pop{
    top:8px;
}
.play_live_cam{
    position: absolute;
    background-image: url(/media/images/live_play.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 320px;
    margin-top:220px;
    width: 72px;
    height: 52px;
}