/**
*	RECTANGULAR MARQUEE TOOL - CSS DOCUMENT
*	allow you select rectangles and operate with selected space.
*	
*	Requirements: Prototype Library version 1.5.0 and higher (http://prototype.conio.net/)
*	Author:	Koksharov Sergey (web2.0.dev@gmail.com)
*	Version: 2.0.0
*
*	RECTANGULAR MARQUEE TOOL is freely distributable 
*	under the terms of an MIT-style license.
*	For details, see the Web 2.0 Dev web site: http://web2dev.net/
*/
body{
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#000000;
	margin-bottom:7px;
}
.marquee-layer, .marquee-landing { top: 0%; left: 0%; }
.marquee-layer, .marquee-element, .marquee-edge, 
.marquee-opacity, .marquee-listener, .marquee-landing,
.marquee-window, .marquee-preview {
    position: absolute;
    font-size: 1px;
    line-height: 0%;
    -moz-user-select: none;
    background: url(/media/images/spacer.gif) no-repeat center;
}
.marquee-edge, .marquee-opacity, .marquee-listener { overflow: hidden; }
.marquee-element { border: 1px dotted #999; }
.marquee-window { width: 100%; height: 100%; left: 0; top: 0; }
.marquee-edge {
    margin-left: -2px;
    margin-top: -3px;
    width: 3px;
    height: 3px;
    background-color: #999;
    border: 1px solid #ccc;
}
.marquee-listener { width: 1px; height: 1px; border: 0; z-index: 1; }
#preview{right:0; bottom:4px; z-index:1000; height: auto;}
#element_container{position:relative; width:auto;overflow:hidden;}
#SavedPreview{ position:relative; }

#sampleid{ position:absolute; left:0; top:0; }
.accountbutcontainer {
	position:relative;
	width:auto;
	height:27px;
    display: block;
}
.accountbuts {
    color: #a1a1a1;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
    margin-top: 7px;
    position: relative;
    width: auto;
    font-weight:bold;
}
.accountbuts:hover{
    color:#e3b721;
}
.accountbutseperator {
    background: url("/media/images/alert_seperator.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
    position: relative;
    width: 2px;
}




@media only screen and (max-width:767px) {
/*My Profile fancybox
----------------------------------------------------*/
#element_container {
    height:600px !important;
    overflow:hidden!important;
    position: relative;
	/*width:300px !important;*/
	margin:auto;
   
}
#element_container img { max-width:100% !important; height:auto}

#sampleid {
    left: 0;
    position: absolute;
    top: 0;
    max-width: 100% !important;
}

.fancybox-inner {
    height: 100% !important;
    overflow: hidden !important;
}
 
/* End My Profile fancybox */
}

@media only screen and (min-width:768px) and (max-width:960px){
/*My Profile fancybox
----------------------------------------------------*/
#element_container {
    height:600px !important;
    overflow:hidden!important;
    position: relative;
	margin:auto;
   
}
#element_container img { max-width:100% !important; height:auto}

#sampleid {
    left: 0;
    position: absolute;
    top: 0;
    max-width: 100% !important;
} 

.fancybox-inner {
    height: 100% !important;
    overflow: hidden !important;
}

/* End My Profile fancybox */
}