.warningtextstyle{
    font-size: 14px;
    color: black;
}
.Secureresume{
    color: black;
    font-size: 16px;
}
.padzsmdiv{
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.sndcolmarg{
    margin-left: 16px;
}
.downinputtext{
    color: #848484;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 5px;
}
.box-container {
    border: 5px solid rgb(232, 232, 232);
    margin-bottom: 5px;
    padding: 20px 37px;
}
.paymentresume {
    color: black;
    font-size: 32px;
    margin-top: 10px;
    padding-left: 12px;
}
.selectback2 {
    border-radius: 0;
    padding-left: 4px;
}
.form-control {
    background-color: rgb(234, 234, 234);
    border: medium none;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.mar-left-20{
    margin-left: 20px;
}
.bluesbmit{
    float: right;
    margin-right: 30px;
    width: 135px;
    height: 38px;
    background-color: #00b7d9;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
}

.labelstyle {
    color: black;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
}
.botborder{
    border-bottom: 1px solid rgb(217,217,217);
}

label.error{
    color: red;
    font-size: 12px;
    margin-top: 5px;
    padding: 0 2px;
}
.clear{
    clear:both;
}
.alert-danger{
    padding: 5px 17px;
}
.terms-wrap{
    margin-left: 18px;
}
.terms-wrap dev{
    position: relative;
}
.terms-wrap label.error{
    position: absolute;
    width: 100%;
    height: 30px;
    top: 15px;
    left: 0;
}
.select-expiry-date {
    border: medium none;
    border-radius: 0;
    color: #555;
    font-size: 14px;
    height: 35px;
    line-height: 1.42857;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 16px;
    width: 100%;
}
.expiry-date-wrap{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}
.payservices{
    padding: 15px 0;
}
.payservices p{
    margin-bottom: 10px;
}
.payservices img {
    cursor: pointer;
    margin-right: 5px;
}
.upload-overlay-loading-fix{
    display: block;
}
@media  (max-width:767px){
    .sndcolmarg{
        margin-left: 0px;
    }
    .marleftxs0{
        margin-left: 0 !important;
    }
    .xspads0{
        padding: 0;
    }
}

@media (min-width:768px) and (max-width:991px){
    .padzsmdiv{
        margin-top: 4px;
    }
    .smalfont{
        font-size: 11px;
    }
}
@media (min-width:320px) and (max-width:477px){
    .smalfont{
        font-size: 11px;
    }
}
@media (min-width:320px) and (max-width:384px){
    .smaldivmargin{
        margin-top: 12px;
    }
}