.bag-search .i-search-map {
    background-position: 3px 0;
    display: inline-block;
    height: 28px;
    padding: 2px;
    position: absolute;
    width: 30px;
    z-index: 10;
}
.tt-sprites {
    background: rgba(0, 0, 0, 0) url("/media/images/tt-sprites.png") no-repeat scroll 0 0;
}
.bag-search .i-search-mgf {
    background-position: -23px 1px;
    display: inline-block;
    height: 28px;
    padding: 2px;
    position: absolute;
    width: 30px;
    z-index: 10;
}
.bag-search .search-btn{
    display: block;
    background-color: rgb(234,195,26);
    margin-left: 10px;
}
.nopad{
    padding: 0;
}
.payment-list li{
    display: inline-block;
    position: relative;
}
.payment-list{
    list-style: none;
    padding-top: 35px;
    padding-bottom: 7px;
    color: #191919;
    font-size: 17px;
}
.a-payment{
    color: #191919;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.a-payment:hover{
    color: #191919;
    text-decoration: none;  
}
.a-payment.active{
    background-color: #1b9fea;
    padding: 13px 7px;
    color: white;
}
.image-div.active{
    display: block;
}
.image-div{
    width: 16px;
    height: 8px;
    left: 50%;
    top: 38px;
    position: absolute;
    display: none;
}
.active-arrow {
    position: relative;
    margin-left: -8px;

}
.hr-style {
    border-color: #1b9fea;
    border-width: 4px;
    display: block;
    margin: 8px -15px 24px;
}
.pad-li-payment{
    padding-left: 20px;
    padding-right: 20px;
}
.contenttabs{
    display: none;
}
#sub_includes{
    display: block;
}
.nopad{
    padding: 0;
}
.trippurpose{
    color: black;
    font-size: 16px;
    padding-left: 30px;
}
.special input[type="radio"]{
    vertical-align: baseline;
    margin-right: 5px;
}
.special label {
    color: #404141;
    font-size: 16px;
    font-weight: normal;
}
.padtop-8{
    padding-top: 8px;
}
.minmartop{
    margin-top: -8px;
}
.title{
    background: rgb(233, 233, 233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 4px;
}
.cardtype{
    background: rgb(233, 233, 233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 4px;
    width: 284px;
}
.guests{
    background: rgb(233, 233, 233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 4px;
    width: 88px;
    float: left;
}
.arrivaltime{
    background: rgb(233, 233, 233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 27px;
    width: 193px;
    font-size: 16px;
    color: #010101;
}

.country{
    background: rgb(233, 233, 233) url("/media/images/flech-out.png") no-repeat scroll right 5px center;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 4px;
}
.fn{
    background: rgb(233, 233, 233) url("/media/images/vraiarrow.png") no-repeat scroll 98% 50%;
    border: medium none;
    border-radius: 0;
    padding-left: 4px; 
    height: 38px;
}
.email{
    background: rgb(233, 233, 233);
    border: medium none;
    border-radius: 0;
    padding-left: 4px; 
    height: 38px;
}
.password{
    background: rgb(233, 233, 233);
    border: medium none;
    border-radius: 0;
    padding-left: 4px; 
    height: 38px;
}
.cardnumb{
    background: rgb(233, 233, 233);
    border: medium none;
    border-radius: 0;
    padding-left: 4px; 
    height: 38px;
    width: 284px;
}
.ln{
    background: rgb(233, 233, 233);
    border: medium none;
    border-radius: 0;
    padding-left: 4px; 
    height: 38px;
}
.titleinput{
    color: #404141;
    font-size: 16px;
}
.emailtext{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.padding-left-0{
    padding-left: 0;
}
.padding-top-10{
    padding-top: 10px;
}
.confemailwarning{
    font-size: 13px;
    color: black;
    margin-top: 18px;
}
.changepref{
    font-size: 13px;
    color: black;
    margin-top: 8px;
}
.passwordop{
    color: #404141;
    font-size: 16px;
}
.createpassconf{
    color: black;
    font-size: 16px;
}
.mar-top-9{
    margin-top: 9px;
}
.borderbutdiv{
    border-bottom: 1px solid #d5d5d5;
    margin-top: 20px;
}
.hoteltitlepayment{
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}
.locationtext{
    background: rgb(255, 255, 255) url("/media/images/locpic.png") no-repeat scroll left top;
    color: #777879;
    font-size: 11px;
    line-height: 20px;
    padding-left: 20px;
    width: 32%;
}
.width-100{
    width: 100%;
}
.roominfo{
    color: #404141;
    font-size: 16px;
    margin-right: -7px;
}
.rightimgback{
    background: rgb(255, 255, 255) url("/media/images/editmark.png") no-repeat scroll right center;
    padding-right: 23px;
}
.roomboldtext{
    font-weight: bold;
    color: black;
}
.bluedivbut{
    width: 306px;
    min-height: 42px;
    color: white;
    text-align: center;
    background-color: #1b9fea;
    font-size: 17px;
    line-height: 42px;
}
.boldetext{
    font-weight: bold;
}
.gueststyle{
    display: inline-block;
    height: 38px;
    margin-left: -58px;
    margin-top: 64px;
    width:450px;
}
.margin-right-20{
    margin-right: 20px;
}
.p-style{
    float: left;
    color: #404141;
    font-size: 16px;
    height: 38px;
    line-height: 35px;
    padding-right: 11px;
}
.nostyleullist li{
    list-style: none;
}
.greytextchbox{
    padding-left: 11px;
    font-size: 16px;
    color: #404141;
    padding-bottom: 10px;
}
.boldspan{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.margin-top-0{
    margin-top: 0;
}
.padding-top-10{
    padding-top: 10px;
}
.padding-left-31{
    padding-left: 31px;
}
.boldtextinspan{
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.allgreytext{
    font-size: 16px;
    color: #404141;   
}
.margin-top-28{
    margin-top: 28px;
}
.margin-top-20{
    margin-top: 20px;
}
.italictext{
    font-style: italic;
    font-size: 14px;
    color: black;
}
.textariastyle{
    width: 100%;
    min-height:120px;
    background-color: #e9e9e9;
    resize: none;
    border: none;
    border-radius: 0;
    padding: 10px;
}
.bluebutstyle{
    font-size: 16px;
    color: white;
    min-height: 26px;
    text-align: left;
    background-color: #1b9fea;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}
.yellowback{
    font-size: 16px;
    color: white;
    min-height: 42px;
    text-align: left;
    background-color: #eac31a;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
    width: 578px;
    margin-top: 9px;
}
/*    swiper css:
    ==========*/

.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 105px !important;
}
.swiper-slide {
    width: 186px !important;
    height: 105px !important;
}
.swiper-wrapper{
    height: 105px !important;
}

/* tooltip css : 
 ==============*/
#tooltip
{
    text-align: left;
    color: #fff;
    background: #686868;
    position: absolute;
    z-index: 100;
    padding: 15px;
    font-size: 13px;
}

#tooltip:after /* triangle decoration */
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #686868;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after
{
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after
{
    left: 10px;
    margin: 0;
}

#tooltip.right:after
{
    right: 10px;
    left: auto;
    margin: 0;
}
#info {
    margin: 0 auto;
    padding: 5px;
    float: left;
}
#info img {
    cursor: help;
    display: block;
    height: 100%;
    text-align: center;
    float: left;
}
#priceinfo {
    margin: 0 auto;
    padding: 5px;
}
#priceinfo img {
    cursor: help;
    display: block;
    height: 100%;
    text-align: center;
    float: right;
    margin-right: 16px;
}

.freecanctext{
    color: #1b9fea;
    font-size: 16px;
    float: left;
    margin-top: 3px;
}
.boldfreecancellation{
    font-weight: bold;
}
.underltext{
    text-decoration: underline;
}
.margin-top-5{
    margin-top: 5px;
}
.bluedivt3tabs{
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #656565;
    padding-left: 10px;
    min-height: 33px;
    line-height: 33px;
    text-transform: uppercase;
}
.greydivs3tabs{
    padding-left: 10px;
    padding-top: 27px;
    background-color: #efefef;
    font-size: 16px;
    color: black;
    min-height: 84px;
}
.bookinc{
    color: #404141;
    font-size: 16px;
    padding-top: 20px;
}
.listbook{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.rrompricelist{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.rrompricelist li{
    padding-left: 0;
    margin-left: 0;
    line-height: 30px;
}
.priceinfo{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.priceinfo li{
    padding-left: 0;
    margin-left: 0;
}
.listbook li{
    padding-left: 0;
    margin-left: 0;
    color: #404141;
    font-size: 16px;
}
.textinblack{
    color: black;
}
.commongreytext{
    color: #404141;
    font-size: 16px;
}
.bigboldblacktext{
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding-bottom: 28px;
}
.blueroomtext{
    color: #1b9fea;
    font-size: 16px;
}
.blacktextroom{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.float-left{
    float: left;
}
.margin-left-20{
    margin-left: 20px;
}
.padding-top-20{
    padding-top: 20px;
}
.padding-top-29{
    padding-top: 29px;
}
.text-align-right{
    text-align: right;
}
.changeselection{
    cursor: pointer;
    text-decoration: underline;
    color: #1b9fea;
    font-size: 13px;
}
.margin-left-150{
    margin-left: 150px;
}
.linethrewclass{
    text-decoration:line-through;
    color: #d10000;
}
.colorblacklinethrewtext{
    font-size: 16px;
    color: black;   
}
.sixstenblacktext{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.pad-but-20{
    padding-bottom: 20px;
}
.greyguesttext{
    color: #9a9a9a;
    font-size: 16px;
    margin-top: 30px;
}
.curconvblue{
    color: #1b9fea;
    font-size: 22px;
}
.morebooking{
    color: #1b9fea;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.sellingfastbold{
    background: rgb(255, 255, 255) url("/media/images/redplaybut.png") no-repeat scroll left bottom;
    color: black;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    padding-left: 50px;
    margin-top: 12px;
}
.smalboldtextwimg{
    background: rgb(255, 255, 255) url("/media/images/truetick.png") no-repeat scroll left bottom;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-left: 30px;
}
.backimginfo{
    background: url("/media/images/exlamgreysmal.png") no-repeat scroll left center;
    padding-left: 39px;
}
.padding-left-30{
    padding-left: 30px;
}
.margin-but-10{
    margin-bottom: 10px;
}
.moretextstyle{
    padding-left: 50px;
    margin-top: -15px;
}
.bigtitlebold{
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding-left: 30px;
    margin-bottom: 15px;
}
.text-align-right{
    text-align: right;
}
.enterdetailsbut{
    border: none;
    text-align: center;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    line-height:42px;
    width: 192px;
    height: 42px;
    background-color: #377fe4;
}
.bookingbout{
    border: none;
    text-align: center;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    line-height:38px;
    width: 320px;
    height: 38px;
    background-color: #00304c;
}
.labellclass{
    color: black;
    font-size: 16px;
}
.underlinedtext{
    text-decoration: underline;
}
.optionalacc{
    font-size: 23px;
    color: #1b9fea;
}
.createacctxt{
    font-size: 20px;
    color: #1b9fea;
}
.enterpasstxt{
    color: black;
    font-size: 16px;
}
.chanospaces{
    color: black;
    font-size: 13px;
}
.termsncond{
    color: #1b9fea;
    font-size: 16px;
}
.inculdehotelbook{
    color: #1b9fea;
    font-size: 25px;
    margin-bottom: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.greydivbook{
    background-color: #e4e4e4;
    color: black;
    float: left;
    font-size: 16px;
    min-height: 26px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin-right: 30px;
}
.bluedivbook{
    background-color: #1b9fea;
    color: white;
    float: left;
    font-size: 17px;
    min-height: 26px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}
.mar-top-20{
    margin-top: 20px;
}
.fachotelbook{
    color: #404141;
    font-size: 16px;
}
.fnmorelink , .fnmorelink:hover{
    color: #404141;
    text-decoration: underline;
}
.changedatebook{
    width: 139px;
    height: 38px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 0;
    background-color: #00304c;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.yellowborder{
    border-top: 4px solid #eac31a;
    margin-top: 35px;
}
.requiredfiealds{
    font-size: 16px;
    color: black;
    padding-left: 10px;
}
.marg-left-68{
    margin-left: -68px;
}
.hlh{
    height: 38px;
    line-height: 38px;
}
.mar-but-20{
    margin-bottom: 20px;
}
.etoileblackstyle{
    float: left;
    margin-left: -81px;
    margin-top: 4px;
}
.float-left{
    float: left;
}
.bacimgnone{
    background-image: none;
}
.greycolor{
    color: #404141;
    font-size: 16px;
    font-weight: normal;
}
.italictext{
    font-style: italic;
    padding-bottom: 10px; 
}
.colorblack{
    color: black;
}
.biggreydiv{
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    float: left;
}
.greyntext{
    color: black;
    font-size: 16px;
}
.smalinput{
    width: 88px !important;
}
.nosmoke{
    left: 35px;
    position: absolute;
    top: 7px;
}
.specialblue{
    color: #1b9fea;
    font-size: 25px;
    font-weight: normal;
}
.mar-buton-15{
    margin-bottom: 15px;
}
.radio, .nostyleullist {
    margin-bottom: 0px;
    margin-top: 0px;
}
.whitesmalarrow{
    background: #1b9fea url("/media/images/whitesmalarrow.png") no-repeat scroll 5px center;
    padding-left: 24px;
}
.conueclass{
    background: #00304c url("/media/images/whiteff.png") no-repeat scroll 10px center;
    border: medium none;
    border-radius: 0;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    padding-left: 30px;
    text-transform: uppercase;
    width: 140px;
}

#section2{
    display: none;
}
.smalnocard{
    background: #7f7f7f url("/media/images/exclamgrey.png") no-repeat scroll 5px center;
    border: medium none;
    border-radius: 0;
    height: 38px;
    padding-left: 40px;
    width: 115px;
}
.smalnocard::-moz-placeholder {
    color: white;
    font-size: 16px;
    opacity: 1;
    padding-left: 20px;
}
.margeningsizes{
    margin-left: -6px;
}
.bluetooltip{
    display: table;
    height: 38px;
    margin-left: 11px;
    margin-top: 23px;
    max-width: 318px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #c6e7fa;
}
.tooltiphandleblue{
    left: 7px;
    position: absolute;
    top: 33px;
}
.child {
    display: table-cell;
    vertical-align: middle;
    color: #1b9fea;
    font-size: 14px;
}
.parent2{
    display: table;
}
.parent{
    display: table;
}
.child2{
    display: table-cell;
    vertical-align: middle;
}
.lockbiggrey{
    height: 131px;
    left: 70%;
    position: absolute;
    top: -61px;
    width: 106px;
}
.bookhotel{
    background: #17a988 url("/media/images/whiteff.png") no-repeat scroll 10px 30px;
    border: medium none;
    border-radius: 0;
    color: white;
    float: right;
    font-size: 16px;
    height: 93px;
    padding-left: 39px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 238px;
}
.backbut{
    background: #17a988 url("/media/images/whiteff.png") no-repeat scroll 10px 41px;
    border: medium none;
    border-radius: 0;
    color: white;
    float: left;
    font-size: 16px;
    height: 93px;
    padding-left: 39px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 238px;
}
@media  (max-width:767px){
    .bag-search .search-btn{
        margin-left: 0;
        margin-top: 10px;
    }
    .active-arrow{
        display: none !important;
    }
    .pad-li-payment{
        display: none !important;
    }
    .payment-list li{
        text-align: center;
        width: 100%;
        margin-bottom: 19px;
    }
    .hr-style {
        margin: 0 -15px 24px;
    }
    .trippurpose{
        padding-left: 0;
    }
    .title{
        width: 88px;
    }
    .guests{
        width: 88px;
    }
    .fn{
        width: 284px;
    }
    .ln{
        width: 284px;
    }
    .email{
        width: 284px;
    }
    .country{
        width: 284px;
    }
    .password{
        width: 284px; 
    }
    .smalpadleft0{
        padding-left: 0;
    }
    .locationtext{
        width: 100%;
    }
    .gueststyle {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
    .arrivaltime{
        margin-top: 5px;
    }
    .padding-right-10{
        padding-right: 10px;
    }
    .bluebutstyle{
        text-align: left;
    }
    .yellowback{
        text-align: left;
    }
    .nosmalpadleft{
        padding-left: 0;
    }
    .extrasmalcatype{
        position: absolute;
        left: 0;
    }
    .extrasmalnocard{
        position: absolute;
        left: 16px;
    }
    .widthsmalcardtype{
        width: 284px;
    }
    .widthsmalcocard{
        width: 115px;
    }
    .xsstyle {
        margin-top: 40px;
    }
}
@media  (min-width:768px) and (max-width:991px){
    .a-payment {
        font-size: 13px;
    }
    .gueststyle {
        margin-left: -213px;
        margin-top: 64px;
        width: 364px;
    }
    .marg-left-68 {
        margin-left: -60px;
    }
    .margeningsizes{
        margin-left: -17px;
    }
    .lockbiggrey{
        left: 53%;
    }
}
@media  (min-width:768px){
    .mar-left-20 {
        margin-left: 20px;;
    }
    .arrivaltime{
        margin-top: 21px;
    }
}
@media  (min-width:992px) and (max-width:1199px){
    .emailtext {
        font-size: 13px;
    }
    .gueststyle {
        margin-left: -126px;
        margin-top: 55px;
    }
    .mdlinh{
        line-height: 42px;
    }
    .margeningsizes{
        margin-left: -24px;
    }
    .lockbiggrey {
        left: 39%;
    }
}
@media  (min-width:1200px){
    /*    .bluebutstyle{
            line-height: 42px;
        }*/
    .yellowback{
        line-height: 42px;
    }
    .lockbiggrey {
        left: 33%;
    }
}
@media  (max-width:578px){
    .yellowback{
        width: 100%;
    }
}
@media  (min-width:768px){
    .bigleftpad0{
        margin-left: -5px;
    }
}
@media  (max-width:439px){
    .margin-left-150 {
        margin-left: 61px;
    }
    .margin-left-20 {
        margin-left: 30px;
    }
    .padding-left-31 {
        padding-left: 0px;
    }
}
@media  (max-width:991px){
    .bluedivbook{
        margin-top: 10px;
    }
    .changedatebook{
        position: relative;
        margin-right: 5px;
        margin-top: 10px;
        float: right;
    }
}
@media  (max-width:480px){
    .smalw100{
        width: 100%;
    }
    .etoileblackstyle{
        margin-left: 0;
    }
    .marg-left-68{
        margin-left: 0px;
    }
    .left0{
        left: 0;
    }
    .nosmoke {
        left: 100px;
        position: absolute;
        top: 7px;
    }
}
@media  (max-width:445px){
    .extrasmalcatype{
        position: relative;
        clear: both;
    }
    .extrasmalnocard{
        position: relative;
        clear: both;
    }
    .widthsmalcardtype{
        width: 284px;
    }
    .widthsmalcocard{
        width: 115px;
    }
    .xsstyle {
        margin-top: 0px;
    }
}
@media  (max-width:426px){
    .margeningsizes{
        float: left;
        left: -12px;
        margin-top: -23px;
    }
    .extrasmalnocard {
        left: 13px;
    }
    .tooltiphandleblue{
        display: none;
    }
    .bluetooltip {
        margin-left: 13px;
        width: 284px;
    }
    .lockbiggrey {
        left: 89px;
        position: relative;
        top: 10px;
    }
}