.map_bar {
	display: block;
	margin: 0 0 3px;
	height: 84px;
	padding: 0;
	position: relative;
	width: 100%;
	clear: both
}
.map_bar .box_1 {
	background: #303030;
	float: left;
	height: 84px;
	margin: 0 0.1% 0 0;
	width: 23.4%;
	display: inline-block
}
.map_bar .box_1 ul {
	list-style: none;
	margin-top: 12px;
	line-height: 21px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.map_bar .box_1 ul li a{
	list-style: none;
	margin: 8px;
	line-height: 21px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;
}
.map_bar .box_2 {
	background: #303030;
	float: right;
	height: 84px;
	margin: 0;
	width: 53%;
	display: inline-block
}
.map_bar ul {
	margin: 0;
	padding: 0;
}
.map_bar li.box_nav {
	background: #ebebeb;
	display: inline-block;
	float: left;
	height: 84px;
	margin: 0 0.2% 0 0;
	padding: 0;
	width: 11.6%;
	text-align: center;
}
.map_bar li.box_nav.gray {
	cursor: pointer;
	font: bold 12px/84px arial;
	color: #303030;
	text-transform: uppercase;
	text-decoration: none
}
.map_bar li.box_nav.gray:hover, .map_bar li.box_nav .gray.active {
	color: #cea113;
	text-decoration: none
}
.map_bar li.box_nav a {
	font: bold 12px/84px arial;
	color: #303030;
	text-transform: uppercase;
	text-decoration: none
}
.map_bar li.box_nav a:hover, .map_bar li.box_nav a.active {
	color: #cea113;
	text-decoration: none
}
.map_bar li.box_nav_last {
	background: #cfa419;
	display: inline-block;
	float: right;
	height: 84px;
	margin: 0;
	padding: 0;
	width: 29.2%;
	text-align: center
}
.map_bar li.box_nav_last .day_count {
	font: bold 20px/84px arial;
	color: #fff;
	text-transform: uppercase;
}
.dd_icon {
	background: url(../images/day_count_dd.png) no-repeat 0 0;
	width: 20px;
	height: 14px;
	display: inline-block;
}
.map_cntr {
	display: block;
	margin: 0;
	padding: 0;
}
.map_cntr .plmapLeft {
	float: left;
	min-height: 481px;
	padding: 0;
	position: relative;
	width: 693px;
	background: #999;
}
.map_cntr .plmapRight {
	float: left;
	margin: 4px 10px;
	min-height: 467px;
	position: relative;
	width: 266px;
}
.save a {
	float: right;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 17px;
	text-decoration: none;
}
