.log_tuber_header .log_tuber_logo {
    border: 1px solid #E6E6E6;
    float: left;
    height: 40px;
    position: relative;
    width: 40px;
}
img {
    border: medium none;
}
a {
    text-decoration: none;
}

.log_header_text a {
    color: #000000;
}
.log_header_text a.yellow_font{
	color:#e3b721;
}

.event_googlemap {
	display: block;
	float: left;
	height: 76px;
	position: relative;
	width: 363px;
	padding:0px;	
}
.event_googlemapflash{
    width: 363px;
}
.googlemap_location {
    height: 100%;
    width: 100%;
}
.googlemap_locationflash{
    width: 217px;
}
.log_tuber_header {
    float: left;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.notif_event {
    color: #777777;
    display: block;
    float: left;
    height: auto;
    margin-top: 17px;
    position: relative;
    width: 595px;
    padding: 0;
}
.yellow_font {
    color: #E3B721;
}
#newsContainer.log_data_container{
   width: 658px; 
}
#newsContainer .log_item_list{
   width: 650px; 
}
.event_pic {
    float: left;
    position: relative;
    width: 590px;
}
.event_pic .event_photo {
    float: left;
    position: relative;
}
.event_pic .event_name {
    color: #000000;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
    position: relative;
}
.comment_Div {
    background: url("/media/images/channel/notifications/commentIcon.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 13px;
    margin-left: 7px;
    position: relative;
    width: 14px;
}
.event_text1.eventcomment {
    height: 42px;
    width: 498px;
}
.event_text1.mediacomment {
    height: 42px;
    width: 474px;
}
.event_picflash .event_text1.mediacomment {
    height: auto;
    width: 474px;
}

.thumbBack {
    background: none repeat scroll 0 0 #E6E6E6;
    float: left;
    height: 41px;
    padding-left: 1px;
    padding-top: 1px;
    position: relative;
    width: 41px;
}

.thbArrow {
    background: url("/media/images/channel/notifications/notif_arrow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    float: left;
    height: 7px;
    left: 42px;
    position: absolute;
    top: 18px;
    width: 4px;
}

.textsDiv {
    float: left;
    height: auto;
    padding-left: 7px;
    padding-top: 1px;
    position: relative;
    width: 595px;
}
.event_text1 {
    color: #777777;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 76px;
    overflow: hidden;
    padding-left: 5px;
    position: relative;
    width: 525px;
}
.log_header_time {
    color: #E3B721;
    display: block;
    float: left;
    font-size: 10px;
    height: 13px;
    line-height: 13px;
    margin-top: 2px;
    position: relative;
}
.log_header_text {
    color: #000000;
    float: left;
    font-size: 11px;   
    position: relative;
    margin-top: 14px;
    width: 575px;
}
.log_header_text a:hover{
   color: #E3B721; 
}
span.item_black_bold {
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.yellow_font span.item_black_bold{
	color:#e3b721;
}
.log_header_text a:hover > span{
   color: #E3B721; 
}
#right_container {
    display: block;
    float: left;
    height: auto;
    margin-left: 52px;
    margin-top: 31px;
    position: relative;
    width: 655px;
}
.log_top_arrow {
    background: url("/media/images/channel/notifications/top_arrow.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 10px;
    margin-left: 8px;
    position: absolute;
    right: 3px;
    top: 7px;
    width: 15px;
    z-index: 34;
}
.log_top_buttons_container {
    color: #838383;
    float: left;
    font-size: 10px;
    height: 0;
    position: absolute;
    right: 22px;
    top: 4px;
    width: 100%;
    z-index: 35;
}
.log_hidden_buttons {
    display: none;
}
.log_data_container {
    float: left;
    height: auto;
    position: relative;
    width: 650px;
}
.log_data_container .line1 {
    background: none repeat scroll 0 0 #EBEBEB;
    float: left;
    height: 1px;
    position: relative;
    width: 655px;
	margin-left: -5px;
}
.log_data_container .line2 {
    background: none repeat scroll 0 0 #DEDEDE;
    float: left;
    height: 1px;
    margin-bottom: 10px;
    position: relative;
    width: 655px;
	margin-left: -5px;
}
.log_data_container .log_item_list {
    display: block;
    float: left;
    height: auto;
    padding-bottom: 30px;
	padding-left:5px;
    position: relative;
    width: 100%;
}
.log_top_button {
    color: #838383;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 10px;
    height: 12px;
    line-height: 12px;
    position: relative;
    width: auto;
}
.log_top_button:hover{	
    color: #e3b721;
}
.log_post_left{
	position:relative;
	float:left;
	width:100%;
	height:100%;
}
.log_post_type {
	color: #E9C21B;
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 3px;
    position: relative;
    width: auto;
}
.log_post_left_text{
	position: relative;
	float: left;
	display: block;
	color: #000000;
	font-size: 11px;
	overflow: hidden;
	height: auto;
	max-height: 30px;
	width: 550px;
        line-height: 15px;
}
.log_post_left_textreviewUP{
	position: relative;
	float: left;
	display: block;
	color: #000000;
	font-size: 11px;
	overflow: hidden;
	height: auto;
	width: 550px;
}
.notif_event .log_bag_right{
	position:relative;
	float:left;
	width:29px;
	height:23px;
        margin-left: 5px;
        background:url(/media/images/discover/bag_tt.png) no-repeat;
}
.notif_event .log_bag_left_text{
	position: relative;
	float: left;
	display: block;
	color: #010101;
	font-size: 11px;
	overflow: hidden;
	height: auto;
	max-height: 36px;
	width: 520px;
	line-height:12px;
        margin-left: 18px;
        padding-left: 7px;
        margin-top: 8px;
        background:url(/media/images/channel/notifications/yearsnotif_arrow1.png) no-repeat;
        background-position: left center;
        cursor: pointer;
}
.notif_event .log_bag_left_text:hover{
    color:#E3B721;
}
.margintop10{
	margin-top:10px;	
}
.log_post_left .log_post_left_text a{
	color: #727272;
}
.img_left{
	position:relative;
	float:left;
	width:152px;
	height:49px;
}
.img_right{
	position:relative;
	float:left;
	width:49px;
	height:49px;
	margin-left: 3px;
}
.img_leftP{
	position:relative;
	float:left;
	width:49px;
	height:49px;
}

.is_new_post {
    background: none repeat scroll 0 0 #F4F4F4;
}
.connecton_data{
	position:relative;
	display:block;
	float:left;
	height:12px;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#777777;
	clear:both;	
}
.echoImg_link{
    margin-right: 10px;
    width: 136px;
    position:relative;
    display:block;
    float:left;
}
.event_picflash .log_post_left{
    width: auto;
}
.event_picflash .log_post_left_text{
    margin-top: 7px;
    max-height:none;
}
.event_picflash .log_post_left_text a:hover{
    color:#E3B721;
}
.event_picflash .comment_Div, .notif_eventflash .comment_Div{
    clear: both;
}
.event_picflash b{
    background-color: #e7ba20;
    color: #000000;
    cursor: pointer;
}