
.marginbottom20{
	margin-bottom:20px;	
}
.marginleft1{
	margin-left:1px;	
}
.marginleft3{
	margin-left:3px;	
}
.marginleft7{
	margin-left:7px;	
}
.marginleft9 {
    margin-left: 9px;
}
.marginleft12{
	margin-left:12px;	
}
.marginleft40{
	margin-left:40px;	
}
.marginleft58{
	margin-left:58px;	
}
.marginleft60{
	margin-left:60px;	
}
.margintop4{
	margin-top:4px;	
}
.margintop7{
	margin-top:7px;	
}
.margintop14{
	margin-top:14px;	
}
.margintop15{
	margin-top:15px;	
}
.margintop18{
	margin-top:18px;	
}
.font16bold{
	font-size:16px;
	font-weight:bold;
}
.font16{
	font-size:16px;	
}
.font12{
	font-size:12px;	
}
.yellow_font{
	color:#e3b721;
}
.black_font{
	color:#000000;
}
.yellow_font11{
	color:#e3b721;
	font-size:11px;
	padding-left:5px;
}
.yellowbold11{
	color:#e7ba20;
	font-size:11px;
	font-weight:bold;
}
.yellowbold12{
	color:#e7ba20;
	font-size:12px;
	font-weight:bold;
}
.yellow12{
	color:#e7ba20;
	font-size:12px;
}
.displaynone{
	display:none !important;	
}
.formContainer100 {
    float: left;
    position: relative;
    width: 100%;
}
.marginleft10{
	margin-left:10px;	
}
.margintop8{
	margin-top:8px;	
}
.box_shadow{
	-moz-box-shadow: 1px 3px 20px #cccccc;
	-webkit-box-shadow: 1px 3px 20px #cccccc;
	box-shadow: 1px 3px 20px #cccccc;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#cccccc');	
}
.about_link{
	color:#686868;	
}
.channel_pic{
	width:26px;
	height:26px;	
}
#buttonlist_container{
	width:1000px;
	height:auto;
	background-color:#efefef;
	position:relative;
	display:block;
	float:left;
	margin-left:19px;
}
#buttonlist_content{
	width:100%;
	height:40px;
	position:relative;
	display:block;
	float:left;
	margin:0;
	padding:0;
}

#buttonlist_info_containerup{
	width:100%;
	height:0;
	position:relative;
	display:block;
	float:left;
	margin:0;
	padding:0;
	overflow:hidden;
}
#buttonlist_info_container{
	width:100%;
	height:auto;
	position:relative;
	display:block;
	float:left;
	margin:0;
	padding:0;
	padding-top:30px;
	padding-bottom:30px;
}
.buttonlist_info_white_container{
	width:940px;
	height:auto;
	margin-left:30px;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_third{
	width:404px;
	height:360px;
	margin:0;
	margin-left:4px;
	padding:11px;
	background-color:#ffffff;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_event{
	width:204px;
	height:345px;
	margin:0;
	margin-right:11px;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_channels{
	width:189px;
	height:345px;
	margin:0;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_channels_created{
	width:100%;
	height:158px;
	margin:0;
	margin-bottom:29px;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_channels_connected{
	width:100%;
	height:158px;
	margin:0;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_second{
	width:276px;
	height:auto;
	margin:0;
	margin-left:4px;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_friends{
	width:254px;
	height:158px;
	margin:0;
	padding:11px;
	background-color:#ffffff;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_friends_content{
	width:116px;
	height:auto;
	margin-left:3px;
	margin-top:18px;
	padding:0;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_friends_list{
	width:100%;
	height:auto;
	margin-top:9px;
	padding:0;
	position:relative;
	display:block;
	float:left;
}
#tt_event_content_buttons{
	width:100%;
	height:14px;
	margin-top:13px;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	display:block;
	float:left;
	font-size:11px;
	font-weight:bold;
}
.tt_event_seperator{
	position:relative;
	display:block;
	float:left;
	background-color:#939393;
	width:2px;
	height:10px;
	margin: 2px 19px 0;
}
.tt_event_seperator span{
	position:absolute;
	display:block;
	background-color:#b9b9b9;
	width:1px;
	height:100%;
	top:0;
	right:0;
}
.tt_event_link{
	position:relative;
	display:block;
	float:left;	
	color:#7c7c7c;
	width:auto;
	height:14px;
	line-height:14px;
	cursor:pointer;
}

.tt_event_link:hover, .tt_event_link.active{
	color:#e7ba20;
}
.tt_event_joined_container{
	width:100%;
	height:auto;
	margin-top:13px;
	padding:0;
	position:relative;
	display:block;
	float:left;
}
.tt_event_joined_item{
	width:201px;
	height:56px;
	margin-bottom:15px;
	padding:0;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_gray_friends_list{
	width:100%;
	height:auto;
	margin-top:9px;
	padding:0;
	position:relative;
	display:block;
	float:left;
	background-color:#2a2a2a;
	padding-top:12px;
	padding-bottom:12px;
}
.buttonlist_info_white_friends_item{
	width:26px;
	height:26px;
	margin-right:1px;
	margin-bottom:1px;
	padding:0;
	position:relative;
	display:block;
	float:left;
    border:1px solid #cecece;
}
.buttonlist_info_white_channel_list{
	width:100%;
	height:auto;
	margin-top:7px;
	padding:0;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_channel_item{
	width:26px;
	height:26px;
	margin-right:1px;
	margin-bottom:1px;
	padding:0;
	position:relative;
	display:block;
	float:left;
    border:1px solid #cecece;
}
.buttonlist_info_white_favorites{
	width:254px;
	height:176px;
	margin:0;
	padding:11px;
	margin-top:4px;
	background-color:#ffffff;
	position:relative;
	display:block;
	float:left;
}
.buttonlist_info_white_about{
	width:216px;
	height:332px;
	margin:0;
	padding-left:7px;
	padding-right:7px;
	padding-top:25px;
	padding-bottom:25px;
	background-color:#ffffff;
	position:relative;
	display:block;
	float:left;
	overflow:hidden;
}
.white_height240{
	height:240px !important;
	width:218px !important;	
}
.buttonlist_info_white_viewer_content{
	background-color: #FFFFFF;
    display: block;
    float: left;
    height: 240px;
    margin: 0 0 0 4px;
    overflow: hidden;
    padding: 25px 14px;
    position: relative;
    width: 204px;
}
.gray_line_white{
	width:100%;
	height:4px;
	background-color:#cdcdcd;
	position:absolute;
	display:block;
	left:0;
	top:0;
}
.yellow_line_white{
	width:100%;
	height:4px;
	background-color:#e3b721;
	position:absolute;
	display:block;
	left:0;
	top:0;
}
.buttonlist_info_white_title{
	position:relative;
	display:block;
	float:left;
	width:auto;
	height:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#e9c21b;
	line-height:13px;
}
.buttonlist_info_white_title span{
	font-size:11px;
}
.buttonlist_info_white_channel_title{
	position:relative;
	display:block;
	float:left;
	width:auto;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#e9c21b;
	line-height:14px;
	margin-top:3px;
}
.buttonlist_info_white_channel_title span{
	font-size:11px;
}
.buttonlist_info_white_text{
	position:relative;
	display:block;
	float:left;
	width:210px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#686868;
	line-height:13px;
	margin-left:7px;
	margin-top:5px;
	max-height:300px;
	overflow:hidden;
}
.buttonlist_info_white_text span{
	font-size:11px;
}

#headlist_container{
	position:relative;
	display:block;
	float:left;
	width:1000px;
	height:123px;	
	margin-left:19px;	
}
.headpost_container{
	position:relative;
	display:block;
	float:left;
	width:1000px;
	height:auto;	
	margin-left:19px;	
}
.headlist_white_container{
	position:relative;
	display:block;
	float:left;
	width:940px;
	height:107px;
	background-color:#ffffff;
	margin-left:30px;
	margin-top:7px;
}
.headlist_gray_container {
    background-color: #f7f7f7;
    display: block;
    float: left;
    height: auto;
    min-height: 127px;
    margin-left: 30px;
    margin-top: 22px;
    padding: 15px 58px;
    position: relative;
    width: 824px;
}
.headlist_media_container{
	position:relative;
	display:block;
	float:left;
	width:250px;
	height:95px;
}
.headlist_media_list{
	position:relative;
	display:block;
	float:left;
	width:82px;
	height:46px;
	margin-right:1px;
	margin-bottom:1px;
	background-color:#000000;
	overflow:hidden;
}
.headlist_media_list_yellow{
	position:relative;
	display:block;
	float:left;
	width:82px;
	height:46px;
	margin-right:1px;
	margin-bottom:1px;
	background-color:#e7ba20;
	overflow:hidden;
}
.headlist_media_list_photo{
	position:absolute;
	display:block;	
	width:28px;
	height:28px;
	top:-6px;
	left:-4px;
	background: url(/media/images/profile_header/photos.png) no-repeat;
}
.headlist_media_list_video{
	position:absolute;
	display:block;	
	width:28px;
	height:28px;
	top:-3px;
	left:-3px;
	background: url(/media/images/profile_header/videos.png) no-repeat;
}
.headlist_media_list_album{
	position:absolute;
	display:block;	
	width:28px;
	height:28px;
	top:-5px;
	left:-5px;
	background: url(/media/images/profile_header/albums.png) no-repeat;
}
.visited_places{
	position:relative;
	display:block;
	float:left;
	width:201px;
	height:147px;
	background: url(/media/images/ttpage/visited_places.png) no-repeat;
	margin-top:2px;
	margin-bottom:20px;
}
.headlist_media_list_text{
	position:absolute;
	display:block;	
	width:50px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	line-height:13px;
	top:9px;
	left:24px;
}
.headlist_media_list_text span{
	font-size:11px;
	font-weight:bold;
}
.headlist_media_list img{
	width:82px;
	height:46px;
}

.buttonlist_link{
	position:relative;
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#1f1f1f;
	width:auto;
	height:13px;
	line-height:13px;
	margin-top:16px;
	cursor:pointer;
}
.text_lowercase{	
	text-transform:lowercase;	
}
.buttonlist_seperator {
	position: relative;
	width: 2px;
	height: 10px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	background: url(/media/images/profile_header/ttpage_seperator.jpg) no-repeat;
	margin-left: 12px;
	margin-top: 18px;
	margin-right: 12px;
}
.buttonlist_link:hover{
	color: #e3b721;
}
.buttonlist_link.active{
	cursor:default;
	color: #e3b721;
}
.ttpage_collaps {
	position: absolute;
	width: 28px;
	height: 28px;
	display: block;
	margin: 0;
	padding: 0;
	top:7px;
	left:10px;
	background: url(/media/images/profile_header/ttpage_collaps.jpg) no-repeat;
	cursor:pointer;
}
.ttpage_collaps.active{
	background: url(/media/images/profile_header/ttpage_expand.jpg) no-repeat;
}
.channelpopUp {
	position: absolute;
	top: 27px;
	left: 0px;
	width: 100px;
	overflow: hidden;
	min-height: 100px;
	background: #333333;
	text-align: center;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #cbcbcb;
	font-size: 11px;
	display: none;
	z-index: 212;
	line-height: 11px;
}
.channelpopUp img {
	border: 0;
	width: 73px;
	height: 73px;
}
.buttonlist_info_event_content{
    float: left;
    position: relative;
    width: 198px;
	margin-top:6px;
	height:302px;
	display:block;
	background-color:#2a2a2a;
}
.ed_Calendar{
	text-align:center;
	margin-top:6px;
}
.ed_CalTooltipContent{
	height:125px;
	width:106px;
	position:absolute;
	z-index:2;
	background-color:#333333;
	border:0px;
	color:#cbcbcb !important;
	font-size:11px;
	text-align:center;
	display:none;
}
.ed_CalTooltipTitle{
	color:#cbcbcb !important;
	font-size:11px;
	text-align:center;
}
.ed_CalTooltipContent .ed_CalTooltip{
	padding:5px 2px;
	background-color:#333333;
}
.ed_CalTooltipClose{
	cursor:pointer;
}
.ed_CalTooltipViewEvent{
	color:#e3b721;
	font-weight:bold;
	padding-top:3px;
}
#idEventsCalendar .DynarchCalendar-day-disabled, .opacityblock{
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -khtml-opacity: 1 !important;
    -moz-opacity: 1 !important;
}
#idEventsCalendar .DynarchCalendar{
	border:none !important;
	width: 198px !important;
}
.DynarchCalendar-day-selected{
	cursor:pointer;
}

.opacitynone{
	opacity:0  !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    filter: alpha(opacity=0) !important;
    -khtml-opacity: 0 !important;
    -moz-opacity: 0 !important;
}
.buttonlist_info_event_viewer{
    display: block;
    height: auto;
    position: relative;
	float:left;
    width: 180px;
	height:46px;
	margin-left:9px;
	margin-bottom:12px;
}
.buttonlist_info_latest_event{
	bottom: 0;
    display: block;
    height: auto;
    position: absolute;
    width: 100%;
}
.buttonlist_info_event_title{
	width:164px !important;
	height:auto;	
}
.buttonlist_info_event_title_box{
	position:relative;
	display:block;
	float:left;
	width:18px;
	height:24px;
	margin-top: 10px;
	margin-left: 8px;
}
.buttonlist_info_event_title_counter_box{
	position:relative;
	display:block;
	float:left;
	width:18px;
	height:24px;
    background: url("/media/images/profile_header/tt_icon.png") no-repeat scroll 0 0 transparent;
}
.buttonlist_info_event_title_counter{
	position:relative;
	display:block;
	width:18px;
	margin-top:5px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold;
	color: #ffffff;
	height:19px;
	line-height:19px;
}
.buttonlist_info_event_title_box .plus{
	position: absolute;
	display:block;	
	top: -3px;
	font-size: 12px;
	font-weight: bold;
	color: #e7ba20;
	left:16px;
}
.tt_event_joined_item_pic{	
    position: relative;
    display: block;
	float:left;
	width:86px;
	height:56px;
}
.tt_event_joined_item_title{	
    position: relative;
    display: block;
	float:left;
	margin-left:3px;
	width:112px;
	height:56px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#1c1c1c;
	font-weight:bold;
	overflow:hidden;
}
.latest_event_pic_viewer{	
    position: relative;
    display: block;
	float:left;
	width:82px;
	height:46px;
}
.latest_event_title_viewer{	
    position: relative;
    display: block;
	float:left;
	margin-left:7px;
	width:90px;
	height:46px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	overflow:hidden;
}
.latest_event_title_viewer table td {
    text-align: left;
    width: 100%;
}
.latest_event_pic{	
    position: absolute;
    display: block;
	bottom:48px;
	left:13px;
	width:82px;
	height:46px;
}
.latest_event_title{	
    position: absolute;
    display: block;
	bottom:48px;
	left:102px;
	width:90px;
	height:46px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	font-weight:bold;
	overflow:hidden;
}
.latest_event_title table td {
    text-align: left;
    width: 100%;
}
.log_data_footer{
	position:relative;
	float:left;
	width:650px;
	height:180px;
	margin-top: 20px;
}
#left_container{
	position:relative;
	float:left;
	display:block;
	width:221px;
	height:auto;
	background-color:#efefef;
	margin-top:31px;
	margin-left:19px;	
}
#add_location{
	position:relative;
	float:left;
	display:block;
	width:207px;
	height: auto;
	margin-bottom:9px;
	margin-left:7px;
        margin-top: 10px;
}
#add_location_title{
	position:relative;
	float:left;
	display:block;
	width:205px;
	height: 13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color:#7c7c7c;
	line-height:13px;
	margin-left:2px;
	overflow:hidden;
}
.add_location_txt {
    position: relative;
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    height: 24px;
    width: 201px;
    text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #e4e4e4;
	margin-top:3px;
	padding: 0 2px 0 2px;
}
.add_location_send{
	position:relative;
	float:right;
	z-index:3;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#eac31a;
	cursor:pointer;
	margin-top:3px;
	margin-right:7px;
}
.add_location_place{
	position:relative;
	display:block;
	float:left;
	width:16px;
	height:16px;
	z-index:3;
	cursor:pointer;
	margin-top:8px;
	margin-left:1px;
	background: url("/media/images/catalog-plus-over.png") no-repeat center center;
}
.posts_container{
	position:relative;
	float:left;
	display:block;
	width:207px;
	height: 151px;
	margin-left:7px;
	margin-top:7px;
}
.posticons{
	position:relative;
	float:left;
	display:block;
	width:207px;
	height: 51px;

}
.postdisplay{
	position:relative;
	float:left;
	display:block;
	width:207px;
	height:80px;
	z-index:2;
}
.postsend{
	position:relative;
	float:right;
	z-index:3;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#eac31a;
	cursor:pointer;
	margin-top:5px;
	margin-right:7px;
}
.texttextarea{
	position:absolute;
	float:left;
	width:207px;
	height:86px;
	z-index:10;
	top:1px;
}
.linktextarea{
	position:absolute;
	float:left;
	width:207px;
	height:86px;
	z-index:10;
	top:1px;
	display:none;
}

.textareastyle{
	overflow: auto;
	width:195px;
	height:68px;
	border:1px solid #e4e4e4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding:5px;
}

.linkareastyle{
	overflow: auto;
	width:195px;
	height:68px;
	border:1px solid #e4e4e4;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding:5px;
}
.postarrow{
	position:absolute;
	width:11px;
	height:8px;
	top:-13px;
	z-index:20;
}
.postarrowtext{
	left:20px;
	

}
.postarrowlink{
	left:176px;
}
.textborderdiv{
	width:1px;
	height: 51px;
	position:absolute;
	margin-left:51px;
}

.photosborderdiv{
	width:1px;
	height: 51px;
	position:absolute;
	margin-left:103px;
}

.videosborderdiv{
	width:1px;
	height: 51px;
	position:absolute;
	margin-left:155px;
}

.postmenu{
	background:#e4e4e4;
	width:51px;
	height: 51px;
	position:absolute;
	cursor:pointer;
	display:block;
	margin:0;
}
.linkdiv{	
	left:156px;
}
.photosdiv{
	left:52px;
}
.videosdiv{
	left:104px;
}
.textdiv{
	left:0px;
}

.textimg{
	padding-left:15px;
	padding-top:11px;
}

.photosimg{
	padding-left:11px;
	padding-top:18px;
}
.videosimg{
	padding-left:11px;
	padding-top:15px;
}
.linkimg{
	padding-left:16px;
	padding-top:16px;
}
.notifications_box{
	position:relative;
	width:221px;
	height:33px;
	background:#000;
}

.notifications_box .notifications_counter_box{
	position:relative;
	float:left;
	width:18px;
	height:24px;
	margin-left:20px;
	margin-top:3px;
    background: url("/media/images/channel/notifications/notifications_counter.png") no-repeat scroll 0 0 transparent;
} 

.notifications_box .notifications_counter_box .notifications_counter{
	width:100%;
	padding-top:8px;
	text-align:center;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f6f6f6;
}
.notifications_box .plus{
	position: relative;
	float: left;
	margin-top: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	margin-left:-2px;
}

.notifications_box .notifications_label{
	float:left;
	margin-left:5px;
	padding-top:13px;
	font-size:11px;
	font-weight:bold;
	color:#fff;
}

.notifications_box .notifications_open_button{
	position:absolute;
	display:block;
	width:17px;
	height:14px;
	top:14px;
	right:7px;
	cursor:pointer;
    background: url("/media/images/channel/notifications/arrow_down.png") no-repeat center center;
}

/* The log calendar part */

.cal_year_container{
	position:relative;
	float:left;
	width:45px;
	left:300px;
	margin-top:40px;
}

.cal_year_container .cal_year_display{
	position:relative;
	float:left;
	margin-left: 5px;
	margin-right: 5px;
	font-size:11px;
	color:#686868;
}

.cal_year_container .cal_left_arrow{
	position:relative;
	float:left;
	top: 3px;
	cursor:pointer;
}

.cal_year_container .cal_right_arrow{
	position:relative;
	float:left;
	top: 3px;
	cursor:pointer;
}

.cal_months_container{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}

.cal_months_container .cal_months_bar{
	position:absolute;
	float:left;
	margin-top:25px;
	left: 0;
}

.cal_months_container .cal_months{
	position:relative;
	float:left;
	width:100%;
	margin-top:7px;
	font-size:11px;
	z-index:2;
}

.cal_months_container .cal_months .cal_month{
	position:relative;
	float:left;
	width:43px;
	height:44px;
	margin-left: 10px;
	margin-right: 0px;
	padding-top: 24px;
	text-align:center;
	cursor:pointer;
}


/* End of the log calendar part */


/* my user event calendar */
.tt_event_calendar_container{
	position:relative;
	float:left;
	display:block;
	width:207px;
	height: auto;
	margin-left:12px;
	margin-top:12px;
}
.ed_CalTooltipContent_user {
	height: 125px;
	width: 106px;
	position: absolute;
	z-index: 2;
	background-color: #e8e8e8;
	border: 0px;
	color: #cbcbcb;
	font-size: 11px;
	text-align: center;
	display: none;
}
.ed_CalTooltipContent_user .ed_CalTooltip {
	padding: 5px 2px;
	background-color: #e8e8e8;
}
#idEventsCalendar_user .DynarchCalendar-day-disabled, .opacityblock{
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -khtml-opacity: 1 !important;
    -moz-opacity: 1 !important;
}
.ed_CalTooltipClose{
	cursor:pointer;	
}
.ed_CalTooltipContent_user .ed_CalTooltipTitle{
	color:#808080 !important;
	font-size:11px;
	text-align:center;
}
#container {
    display: block;
    height: 100%;
    position: relative;
    width: 1016px;
}
.headlist_media_list a{
	color:#ffffff;
	font-size:9px;
}
.buttonlist_info_white_channel_item a{
	color:#000000;
	font-size:9px;
}
.tt_link_span, .tt_otherlink_span{
	position:relative;
	width: auto;
        cursor: pointer;
}
.tt_link_a:hover > .tt_link_span .tt_link_over, .tt_otherlink_span:hover > .tt_otherlink_over{
	display:block;
}
.tt_otherlink_a{
    position: relative;
    float: left;
    display: block;
    width: auto;
    line-height: 13px;
    height: 13px;
    white-space: nowrap;
    clear: both;
}
.tt_otherlink_over{
	position:absolute;
	display:none;
	width:auto;
	height:21px;
	bottom:21px;
	left:0;
	background-color:#e6e6e6;
}
.tt_otherlink_overin{
    position:absolute;
    display:block;
    width:auto;
    height:auto;
    bottom:0;
    left:0;
    background-color:#e6e6e6;
    padding: 5px;
}
.tt_link_over{
	position:absolute;
	display:none;
	width:42px;
	height:42px;
	top:-48px;
	left:50%;
}
.tt_link_over_bk{
	position:absolute;
	display:block;
	width:42px;
	height:42px;
	top:0px;
	left:-21px;
	background-color:#e6e6e6;
}
.tt_link_over_arrow{
	position:absolute;
	display:block;
	width:7px;
	height:4px;
	top:42px;
	left:-3px;
	background:url(/media/images/down_arrow_feed.png) no-repeat;
}
.tt_otherlink_over_arrow{
    position:absolute;
    display:block;
    width:7px;
    height:4px;
    background:url(/media/images/down_arrow_feed.png) no-repeat;
    bottom: -4px;
    left: 15px;
}
.tt_link_over_pic{
	position:absolute;
	display:block;
	width:40px;
	height:40px;
	top:1px;
	left:-20px;
}
.buttonlist_info_white_channel_title {
    font-size: 14px;
}
.buttonlist_info_white_channel_list {
    margin-top: 4px;
}
.log_top_button:hover{
    color:#e3b721;
}
.tt_link_spanreview:hover{
    color:#000000 !important;
}
.tt_link_spanreview{
    color:#e3b721 !important;
    font-weight: bold;
}
.log_post_left_textreview{
    margin-top: 5px;
    clear: both;
    font-weight: bold;
}
.log_post_left_text_echo b{
    background-color: #e7ba20;
    color: #000000;
    cursor: pointer;
}