@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
}
#contentholder {
	position: relative;
	height: 100%;
	margin: 0 auto;
	display: block;
	background: #fff;
	margin-top: 67px;
}
#InsideNormalup {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:1024px;
	height:auto;
}
.notFoundCon {
  clear: both;
}
#InsideNormal {
	position:relative;
	margin:0;
	padding:0;
	width:998px;
	min-height:633px;
	margin-left:24px;
}
.marginbottom20{
	margin-bottom:20px;	
}
.marginleft5{
	margin-left:5px;	
}
.marginleft7{
	margin-left:7px;	
}
.marginleft10{
	margin-left:10px;	
}
.marginleft19{
	margin-left:19px;	
}
.marginleft32{
	margin-left:32px;	
}
.margintop2{
	margin-top:2px;	
}
.margintop3{
	margin-top:3px;	
}
.margintop4{
	margin-top:4px;	
}
.margintop7{
	margin-top:7px;	
}
.margintop8{
	margin-top:8px;	
}
.margintop9{
	margin-top:9px;	
}
.margintop14{
	margin-top:14px;	
}
.margintop15{
	margin-top:15px;	
}
.margintop16{
	margin-top:16px;	
}
.margintop19{
	margin-top:19px;	
}
.margintop20{
	margin-top:20px;	
}
.margintop28{
	margin-top:28px;	
}
.formttl {
    color: #686868;
    font-size: 12px;
}
.font11{
	font-size:11px !important;
}
.italic{
	font-style: italic;	
}
.yellowbold11{
	color:#e7ba20;
	font-size:11px;
	font-weight:bold;
}
.yellowbold12{
	color:#e7ba20;
	font-size:12px;
	font-weight:bold;
}
.yellow12{
	color:#e7ba20;
	font-size:12px;
}
.displaynone{
	display:none !important;	
}
.clearboth{
	clear:both;	
}
.formContainer100 {
	float: left;
	position: relative;
	width: 100%;
}
#echoes_container{
	width:1027px;
	height:auto;
	background-color:#ffffff;
	position:relative;
	display:block;
	margin-left:29px;
}
.echoes_text{
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	display:block;
	float:left;
	width:auto;
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#ffffff;
	text-transform:uppercase;
	padding-left:4px;
	padding-right:17px;
	background-color:#000000;
	font-weight:bold;
}
.calendarcontainer{
	position:relative;
	float:left;
	width:763px;
	height:auto;
        display:none;
}
#frombutcontainer, #tobutcontainer{
	position:relative;
    float: left;
	width:auto;
    height: 20px;
}
.calbut {
    background-color: #5F5F5F;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform:capitalize;
    min-width: 12px;
    width:auto;
    padding: 0 9px;
	margin:0;
}
.caltxt {
    background-color: #5F5F5F;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 0 1px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 105px;
}
#searchCalendarbut{
	background-image: url("/media/images/profile-friends-loop.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 22px;
    margin: 0 0 0 10px;
    padding: 0;
    position: relative;
    width: 22px;
}
.addNewBut_yellow {
    background: url("/media/images/catalog-plus-over.png") no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    margin: 2px 0 0 8px;
    padding: 0;
    position: relative;
    width: 12px;
}
.addNewBut_over {
    background: url("/media/images/channel_bubble_icon.png") no-repeat left center;
    display: none;
    height: 18px;
    left: 16px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    width: 300px;
}
.addNewBut_overtxt {
    background-color: #838383;
    color: #ffffff;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 0 4px;
    padding: 0 6px;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    width: auto;
}
#resetpagebut.load_more_previous_new {
    float: left;
    margin: -3px 5px 0 15px;
}
.flashBlock2{
    margin-top: 14px;
    margin-left: 10px;
    float: left;
    clear: none;
}
.echoesList{
    height: 596px;
    margin-top: 14px;
}
.echoesContent{
    margin-bottom: 420px;
}