@charset "utf-8";
/* CSS Document */
div.ui-datepicker{
	font-size:10px;
}
#InsideNormal{
	position:relative;
	margin:0 auto;
	width:975px;
	height:auto;
	/*min-height:500px;*/
	margin-top:70px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b4b4b4;
}
#InsideNormal a{
	color:#b4b4b4;
	text-decoration:underline;
}
#BecomeTuberForm, #CreateChannelForm{
	position:relative;
	float:left;
	width:963px;
	height:/*670px;*/auto;
	overflow:hidden;
	padding-left:12px;
}
.request_invitation_text{
    position:relative;
    margin:0 auto;
    width:100%;
    height:auto;
    margin-top:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#686868;
    font-size: 12px;
    float: left;
    margin-left:24px;
}
#req_email{
    float: left;
    margin: 5px 0 0 24px;
}
.req_emailbut_container{
    clear: both;
    float: left;
    margin: 15px 0 0 24px;
}
.email{
	 border: 1px solid #eaeaea;
    color: #000;
    font-size: 11px;
    height: 22px;
    width: 264px;}
	
	
.required{
	color: #686868;
    font-size: 13px;}	
	
/*#CreateChannelForm{
	height:60px;
}*/
.regHeader{
	position:relative;
	float:left;
	width:100%;
	height:70px;
}
.regHeader div{
	float:left;
	width:100%;
	margin-bottom:15px;
}
.yellowTTL{
	font-size:14px;
	color:#e7ba20;
}
.yellowTTL11{
	font-size:11px;
	color:#e7ba20;
}
.yellowTTL11 a{
	color:#e7ba20 !important;
	text-decoration:none !important;
}
.greyTTL{
	font-size:10px;
}
.greyTTL12{
	font-size:12px;
}
.formContainer{
	position:relative;
	float:left;
	width:100%;
	/*min-height:600px;*/
	height:auto;
	/*min-height:500px;
	padding-bottom:30px;*/
}
#cal_icon.calendaricon {
    background: url("/media/images/calendar-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 18px;
    margin-left: 7px;
    margin-top: 4px;
    position: relative;
    width: 18px;
    cursor: pointer;
}
.formContainer div{
	position:relative;
	float:left;
	width:100%;
	height:auto;
}
.formttl{
	font-size:13px;
	color:#686868;
}
.tt_logo{
	position:absolute !important;
	background:url(/media/images/tt_logo.png) no-repeat;
	width:7px !important;
	height:9px !important;
	left:-12px;
	top:4px;
}
.formContainer select{
	width:268px;
	height:22px;
	border:1px solid #EAEAEA;
	font-size:11px;
	color:#000;
}
.RegFocus, .ChaFocus, .RegUsernameFocus, .bdate{
	width:264px;
	height:22px;
	border:1px solid #EAEAEA;
	font-size:11px;
	color:#000;
}
.Focus{
	border:1px solid #EAEAEA;
}
.Error{
	border:1px solid #e7ba20 !important;
}
.margintop5{
	margin-top:5px;
}
.margintop15{
	margin-top:15px;
}
.margintop20{
	margin-top:20px;
}
.marginbottom20{
	margin-bottom:20px;
}
.displaynone{
	display:none;
}
.bdate{
	width:210px;
        position: relative;
        float: left;
        display: block;
}
.smallYellow{
	font-size:11px;
	color:#e7ba20;
}
.font11{
	font-size:11px;
}
#FormResult, #CFormResult{
	color:#000;
	font-size:11px;
}
#FormResult a, #CFormResult a{
	text-decoration:underline;
	color:#000;
}
.font10{
	font-size:10px;
}
.italic{
	font-style:italic;
}
#ClaimEmail, #CClaimEmail{
	position:relative;
	float:left;
	/*margin-top:15px;*/
	width:auto !important;
	padding:10px 25px;
	
	background:#eac31a;
	color:#fff;
	font-size:16px;
	visibility:hidden;
}
#ClaimEmail a, #CClaimEmail a{
	text-decoration:underline;
	color:#fff;
}
#CreateMyAccount, #CreateMyChannel{
	cursor:pointer;
}
.registerpopUp{
	background:#2A2A2A;
    border: 2px solid #000000;
    color: #B4B4B4;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    line-height: 15px;
	padding-top:35px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:15px;
    position: relative;
    width: 228px;
}
.registerpopUp div{
	position:relative;
	float:left;
	width:228px;
	height:auto;
}
.yellowsignIn{
	font-size:11px;
	color:#e7ba20;
	text-transform:uppercase;
	font-weight:bold;
}
.registerpopUp input{
	border:0;
	width:228px;
	height:22px;
	background:#5f5f5f;
	color:#b4b4b4;
}
.registerpopUp input.InputErr {
    border: 1px solid #CEA113;
}
.registerpopUp .signInbtn{
	color:#FFF;
	font-size:12px;
	cursor:pointer;
	width:auto !important;
}
.hr{
	position:relative;
	float:left;
	width:963px;
	height:2px;
	background:#dedede;
	margin:20px 0px;
	margin-left:12px;
}
#CreateChannelForm .ui-menu-item{
	background-color:#FFF;
        height: 15px;
}
#CreateChannelForm .ui-menu .ui-menu-item a{
	background-color:#FFF;
	color:#686868;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:10px;
	line-height:10px;
	text-decoration:none;
}
#CreateChannelForm .ui-menu .ui-menu-item a.ui-state-focus{
	background-color:#3399ff;
	color:#ffffff;
}
#CreateChannelForm .ui-autocomplete{
	width:264px !important;
	border: 1px solid #b2b2b2;
	max-height:154px;
	overflow:auto;
	/*z-index:150 !important;*/
}
#result{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    font:13px arial;
}
.DynarchCalendar-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  overflow: hidden;
  opacity:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  display:block;
}
.activateMsg{
    position:relative;
    float:left;
    margin:0 0 0 12px;
    padding:0 30px;
    height:48px;
    font:16px/48px arial;
    color:#fff;
    background:#eac31a;
}