.review_main_container .margin_top_10{margin-top: 10px;}
.review_main_container .margin_top_15{margin-top: 15px;}
.review_main_container .margin_top_50{margin-top: 50px;}
.review_main_container .margin_bottom_15{margin-bottom: 15px;}
.review_main_container .margin_bottom_5{margin-bottom: 5px;}
.review_main_container .font-16{font-size: 16px;}
.review_main_container .font-17{font-size: 17px;}
.review_main_container .font-27{font-size: 27px;}
.review_main_container .black{color: black;}
.review_main_container .grey{color: #787878;}
.review_main_container .light_black{color: #2e2e2e;}
.review_main_container .text-justify{text-align: justify;}
.review_main_container .width100{width: 100%;}
.review_main_container .newrowmargin5{margin-right: -5px;margin-left: -5px;}
.review_main_container .newcolpadding5{padding: 5px;}
.review_main_container .review_input_common input{cursor: unset;height: 76px; width: 100%; border: 1px solid #d5d6d8;text-align: center;webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);box-shadow: inset 0 1px 1px rgba(0,0,0,0);background-color: white;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;}
.review_main_container .review_input_common input::placeholder {color: #000000;opacity: 1;font-weight: bold;font-size: 17px;}
.review_main_container .review_input_common input:-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 17px;}
.review_main_container .review_input_common input::-ms-input-placeholder {color: #000000;font-weight: bold;font-size: 17px;}
.review_main_container .review_radio_container label{color: #444444; font-size: 16px;font-weight: normal;}
.review_main_container .common_yellow_but{width: 100%;height: 76px;border: none;color: #201b1d;background-color: #eac31a;font-size: 22px;}
.review_main_container .row_double_border{height: 7px;border-top: 3px solid #bababa;border-bottom: 3px solid #bababa;}