.imgGrid_events {
    display: block;
    float: left;
    height: 104px;
    width: 163px;
}
.mediaInfo_events {
    background-color: #EFEFEF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 96px;
    margin-left: 10px;
    padding: 3px 5px 5px 10px;
    width: 762px;
	position: relative;
}
.suggested_date{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
	color: #747576;
    font-weight: bold;
	width:100%;
	height:13px;
	line-height:10px;
	position:relative;
	float:left;
	display:block;
	margin-top:7px;
}
#container {
    float: left;
    margin: 0px 0 0 4px;
    width: 950px !important;
}
.timeEventClass{
	font-family:Arial, Helvetica, sans-serif;
	color:#747576;
	font-size:11px;
	font-weight:normal;	
	background:url(/media/images/clock-icon.png) no-repeat;
	background-position:top left;
	height:13px;
	line-height:10px;
	width:auto;
	position:relative;
	padding-left:13px;
	margin-left:4px;
	top:1px;
}
.suggested_location{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	color: #747576;
    font-weight: bold;
	width:100%;
	height:13px;
	line-height:10px;
	position:relative;
	float:left;
	display:block;
	overflow:hidden;
}
.suggested_channelname{
	position:relative;
	float:left;
	display:block;
	width:100%;
	height:auto;
	max-height:34px;
	line-height:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#1c1c1c;
	font-weight:bold;
	overflow:hidden;
	margin-top:4px;
}
.mediainfodesc_event {
    color: #727272;
    float: left;
    font-size: 11px;
    height: 30px;
    overflow: hidden;
    padding: 0;
    width: 463px;
}
.mediainfodesc_event_pop {
    color: #727272;
    float: left;
    font-size: 11px;
	line-height:13px;
    height: 55px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.sponsor_event {
    color: #e7ba20;   
    font-size: 11px;
    width: auto;
	position:absolute;
	display:block;
	height:11px;
	line-height:11px;
	font-weight:bold;
	bottom:6px;
	left:19px;
}
.mediainfosocial_event {
	position:absolute;
	display:block;
    color: #838383;   
    font-size: 11px;
    width: 300px;
	height:11px;
	line-height:11px;
	bottom:6px;
	right:37px;
}
.mediainfosocial_event_pop {
	position:absolute;
	display:block;
    color: #838383;   
    font-size: 11px;
    width: 100%;
	height:auto;
	line-height:11px;
	bottom:25px;
	left:6px;
}
.social_events{
	position:relative;
	float:right !important;
	display:block;
	margin-left:25px;
	height:11px;
	width:auto;	
}
.social_events_pop{
	position:relative;
	float:left;
	display:block;
	height:11px;
	width:auto;
	clear:both;
}
.contentcontainer_event div.element{
	height:104px !important;
        width: 950px;
}
.contentcontainer_event #container{
	padding-bottom:9px !important;
}
.contentcontainer_event .insidehiddenimg{
	margin-top:4px !important;
}
.contentcontainer_event .marginzero{
	margin:0 !important;
}
.SearchHoverIcon_event{
	width: 23px;
	height: 23px;
	position: absolute;
	top: -50px;
	left: 68px !important;
	border: 0px;
}
.SearchHoverBox_event{
	position:absolute;
	z-index:10;
	top:0px;
	left:0px;
	width: 153px !important;
	height: 98px !important;
}
#other_channels_slider{
	top:-14px;
	position:absolute;	
}
#headerNavProfileInternal {
    background:none !important;
}
.videosFilter_events {
    bottom: 0;
    height: 43px;
    left: 47px;
    position: absolute;
    width: 903px;
	background-color:#2D2D2D;
}