.section_title{
    font-size: 28px;
    color: #2e2e2e;
}
.section_subtitle{
    font-size: 15px;
    color: #2e2e2e;
}
.carreaustyleBoxes{
    position: relative;
    float: left;
    display: block;
    width: 100%;
    background-color: #f2f2f2;
}
.carreaustyleBoxesprices{
    background-color: #c661a6;
}
.carreaustyleBoxescharges{
    background-color: #7c7c7c;
}
.carreaustyleBoxesguaranteed{
    background-color: #9075ce;
}
.carreaustyleBoxespay{
    background-color: #4ccecb;
}
.carreaustyleBoxeswhite{
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}
.hotelsearchimagesclass1{
    position: absolute;
    display: block;
    width: 63px;
    top: 10px;
    left: 10px;
}
.hotelsearchimagesclass1static{
    width: 15px;
    top: 26px;    
}
.stitle {
    background: rgba(0, 0, 0, 0) url("/media/images/ffw.png") no-repeat scroll 8px center;
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    margin-top: 2px;
    padding-left: 35px;
    font-weight: normal;
}
.label100{
    width: 100%;
}
.booking1{
    padding: 5px 0;
}
.section_header{
    border-bottom: 2px solid #1b9fea;
}
h2.section_header{
    height: 40px;
}
.static_title a{
    font-size: 20px;
    color: #1b9fea;
}
.inputsearchcontainer{
    padding: 0 5px;
}
.static_desc{
    font-size: 14px;
    color: #000;
}
.hotel_city{
    padding: 0;
}
.imgdiscover{
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
.imgdiscover img{
    width:100%;
}
.margintop48{
    margin-top: 48px;
}
.discover_desc{
    background-color: #1b9fea;
    color: #fff;
    font-size: 13px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    width: 100%;
}
.place_name{
    font-size: 13px;
    text-decoration: underline !important;
    color: #000;
    text-transform: capitalize;
    clear:both;
    line-height: 17px;
}
.place_name:hover{
    color: #337ab7;
}
.place_name.restaurant:hover{
    color: #ff9531;
}
.margintop24{
    margin-top: 24px;
}
.margintop27{
    margin-top: 27px;
}
.below_imgpropA{
    height: 100%;
}
.prop_nbr{
    font-size: 13px;
    color:#6a6969;
    line-height: 17px;  
}
.place_list{
    padding-left: 2%;
}
.marginbottom0.section_header{
    margin-bottom: 0;
}
.list-item{
    padding-bottom: 14px;
    list-style:none;
    background: url('/media/images/list_yellow.png') no-repeat left 14px;
    display: inline;
    padding-left: 11px; 
    line-height: 17px;
}
.below_imgprop{
    position: absolute;
    right: 5px;
    top: 5px;
    left: 5px;
    bottom: 5px;
}
.proptitle {
    background-color: #000;
    color: #fff;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.box {
    background-color: #000;
    opacity: 1;
    padding-bottom: 9px;
    position: absolute;
    bottom:0;
    z-index: 10;
    left: 0;
}
.find-prop .Find-somewhere{
    text-decoration: underline;
    padding-left: 9%;
    display: block;
    line-height: 1.1;
    font-size: 13px;
    padding-top: 3px;
}
.quote{
    display: block;
    color:#ffffff;
    position:absolute;
    left:5px;
    font-size:16px
}
.countryprop{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 30px;
    text-transform: uppercase;
}
.below_imgprop a:hover > .countrydesc .countryprop{
    text-decoration: underline;
}
.below_imgprop a.box{
    color: #1b9fea;
}
.below_imgprop a.box:hover{
    color: #23527c;
}
.restaurant a.box:hover > .find-prop .Find-somewhere{
    color:#4c4239;
}
.restaurant a.box:hover > .find-prop .quote{
    color:#4c4239;
}
.properties{
    color: #fff;
    font-size: 13px;
    padding-left: 20px;
}
.countrydesc{
    position:absolute;
    z-index: 11;
}
.city a{
    font-size: 17px;
    color: #24465c;
    text-transform: capitalize;

}
.country{
    color: #83868b;
    font-size: 13px;
    line-height: 13px;
    margin-top: 2px;
    max-height: 26px;
    overflow: hidden;
    text-transform: capitalize;
}
.hotel_nbr{
    font-size: 11px;
    color:#000;
    text-decoration: underline;
    margin-top: 10px;


}
.boxcity {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f4f4f4;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    position: relative;
    display:flex;
    line-height: 14px;
}
.padding0{
    padding: 0;
}
.boxcity .img{
    padding: 0;
}
.search_hotel{
    z-index: 20;
}
#searchdiscovercontainer #ui-id-1 {    
    top:39px !important;
}
#searchdiscovercontainer .ui-menu .ui-menu-item a{
    float: left;
}
#searchdiscovercontainer .ui-menu {
    background-color: #ffffff;
}
#searchdiscovercontainer .ui-menu .ui-menu-item a{
    padding: 0;
    width: 100%;
}
.city{
    color: #337ab7;
    font-size: 14px;
    font-weight: normal;
}
.content1{
    background-color: #1b9fea;
    /*min-height: 343px; */
    float: left;
    position: relative;
    width:100%;
    min-height: 166px;
}
.Guests1{
    padding: 0;
}
.people1{
    padding: 0 5px;
}
.search_subtitle{
    font-size: 17px;
    color: #fff;
    font-style: italic;
    padding-left: 12px;
    margin-top: -15px;
}
.search_title{
    padding-top: 15px;
}
.grey-back{
    margin-bottom: 44px;
}
.form-srch1 label{
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}
.form-search label{
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.form-srch1 img{
    padding-right: 4px;
}
.form-srch1 input{
    border: none;
}
.submit{
    background-color: #00304c;
    bottom: 11px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 30px;
    height: 56px;
    line-height: 36px;
    padding: 10px;
    position: absolute;
    right: 11px;
    width: auto;
}
.search_btn{
    margin-top: 65px;
    position: relative;
    padding-bottom: 0;
}
.form-srch1 select{
    height: 27px;
    background-color: #fff;
    border: none;
    width: 70px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.form-srch1 select option{
    padding-left: 40px;
}
.form-srch1 input{
    padding: 5px;
}
.bar{
    background-image: url("/media/images/barstatic.png");
    background-repeat: repeat-x;
    height: 1px;
    margin-top: 15px;
}
.bars{
    background-image: url("/media/images/bars.png");
    background-repeat: repeat-x;
    height: 1px;
}
.bars1{
    margin-bottom: 3px;
    background-image: url("/media/images/bars.png");
    background-repeat: repeat-x;
    height: 1px;
}
.statistic{
    margin-top: 37px;
}

.section_header{
    margin-bottom: 6px;
}
.form-srch1.col-lg-7.col-md-7.col-sm-6.col-xs-12 {
    padding-bottom: 3px;
    padding-top: 3px;
}
.fleshimg{
    position:absolute;
    left: 0;

}

/*restaurant page */
.restaurant .content1{
    background-color: #ff9531;
}
.restaurant .submit {
    background-color: #4c4239;
}
.restaurant .bars{
    background-image: url("/media/images/restbars.png");
    background-repeat: repeat-x;
    height: 1px;
}
.restaurant .bars1{
    margin-bottom: 3px;
    background-image: url("/media/images/restbars.png");
    background-repeat: repeat-x;
    height: 1px;
}
.restaurant .box .Find-somewhere{
    color:#ff9531;
}
.restaurant .box .quote{
    color:#ff9531;
}
.section_header.restaurant{
    border-bottom-color: #ff9531;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.restaurant .discover_desc {
    background-color: #ff9531;
}
.restaurant .static_title a{
    color: #ff9531;
}
.restaurant .bar{
    background-image: url("/media/images/barstaticrest.png");
    background-repeat: repeat-x;
    height: 1px;
    margin-top: 15px;
}
.section_statictitle {
    text-transform: lowercase;
}
/*end restaurant page */

input {
    background-color: #00304c;
    border: medium none;
    line-height: normal;
}
.inputsearch {
    background-color: white;
    width: 100%;
}
.boxcityimg{
    width: 100%;
}
.marbutchild{
    overflow: auto;
    margin-bottom: 10px;
}
.form-div1 ,.form-div2 ,.form-child1 ,.form-child2 ,.form-child3 ,.form-child4 ,.form-child5 ,.form-child6{
    display: none;
}
.hotelsearchimagesclass{
    width: 100%;
    height: auto;
}
.positiontextab{
    font-size: 24px;
    left: 7px;
    line-height: 24px;
    position: absolute;
    right: 7px;
    top: 85px;
}
.whitetext{
    color: white;   
}
.greycolotexthb{
    color: #6a6969;   
}
.greentext{
    color: #108741;   
}
.specialtop{
    padding-left: 24px;
    top: 22px;
}
.downloadapptext{
    padding-left: 92px;
    background: url('/media/images/textpinkarrowhb.png') no-repeat 76px 12px;
    color: #2e2e2e;
    font-size: 24px;
    padding-top: 5px;
    line-height: 25px;
}
.backgroudeddivhb{
    width: 100%;
    border: 2px solid #d3d3d3;
    min-height: 190px;
    padding-top: 29px;
    padding-bottom: 10px;
}
.downloadappimg{
    padding-left: 92px;
    padding-top: 19px;
}
.overblackbaack{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    padding: 0;
    display: block;
}
.citytextoveerlay{
    font-size: 27px;
    color: white;
    position: absolute;
    bottom: 52px;
    text-transform: capitalize;
    left: 18px;
}
.booknowbluebut{
    min-width: 102px;
    min-height: 27px;
    line-height: 27px;
    background-color: #1b9fea;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    left: 18px;
    bottom: 20px;
    font-weight: bold;
    text-align: center;
}
/*.overlayedbackground ~ .overblackbaack{
 display: none;
}*/
a.overlayedbackground:hover div.overblackbaack{
    background-color: rgba(0,0,0,0.4);
}
@media screen  and (max-width:430px){
    .stitle{
        font-size: 22px;
    }
}
@media screen  and (max-width:767px){  
    .searchbackdiv {
        min-height: 292px;
    }
    .hotelsearchimagesclass1{
        width: 35%;
    }
    .hotelsearchimagesclass1static{
        width: 9%;
        top: 47px;    
    }
    .search_btn {
        margin-top: 10px;
        position: relative;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .submit {
        bottom: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px 0;
        position: relative;
        right: 0;
        text-align: center;
        width: 100%; 
    }
    .form-srch1.col-lg-7.col-md-7.col-sm-6.col-xs-12{
        padding-bottom: 0;
    }
    .form-srch1 input.inputsearch {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .form-srch1 select {
        text-indent: 1px;
    }
    .proptitle {
        padding-bottom: 25%;
    }
    .list-item{
        display:flex;

    }

}

@media (min-width:992px) and (max-width:1199px){    
    .hotelsearchimagesclass1{
        width: 83px;
    }
    .hotelsearchimagesclass1static {
        top: 65px;
        width: 28px;
    }
    .content1{
        min-height: 0;
    }
    .inputsearch {
        margin-bottom: 4px;
    }
    .inputsearchFlech{
        margin-bottom: 4px;
    }
    .inputsearchFlech .inputsearch {
        margin-bottom: 0;
    }
    .hotelsearchimagesclass{
        /*        min-height: 238px;*/
    }
    .positiontextab {
        font-size: 30px;
        line-height: 30px;
        top: 137px;
    }
    .specialtop {
        top: 63px;
        padding-left: 36px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .hotelsearchimagesclass1{
        width: 83px;
    }
    .hotelsearchimagesclass1static{
        width: 22px;
        top: 48px;    
    }
    .countryprop{
        padding-top: 10px;

    }
    .search_btn{
        min-height:auto;
        position: relative;
        margin-top: 35px;
    }
    .countryprop{
        padding-top: 15px;

    }
    .hotelsearchimagesclass{
        min-height: 238px;
    }
    .positiontextab {
        font-size: 26px;
        line-height: 26px;
        top: 107px;
    }
    .specialtop {
        top: 49px;
        padding-left: 32px;
    }
}
@media (max-width:767px){
    .hotelsearchimagesclass{
        min-height: 137px;
    }
    .positiontextab {
        top: 110px;
    }
    .specialtop {
        top: 47px;
        padding-left: 13%;
    }
    .backgroudeddivhb {
        padding-top: 35px;
        min-height: 240px;
        padding-bottom: 50px;
    }
}
@media (min-width:388px) and (max-width:585px){
    .smalcarreaustyle{
        width: 50%;
    }
    .positiontextab {
        top: 44%;
    }
    .specialtop {
        top: 24%;
        padding-left: 13%;
    }
    .hotelsearchimagesclass1static{
        width: 9%;
        top: 24%;    
    }
    .downloadapptext{
	padding-left: 32px;
	background: url('/media/images/textpinkarrowhb.png') no-repeat 16px 12px;
    }
    .downloadappimg{
	padding-left: 32px;
    }
}
@media (min-width:320px) and (max-width:387px){
    .smalcarreaustyle{
        width: 100%;
    }
    .positiontextab {
        top: 44%;
    }
    .specialtop {
        top: 21%;
        padding-left: 13%;
    }
    .hotelsearchimagesclass1static{
        width: 9%;
        top: 21%;    
    }
    .downloadapptext{
	padding-left: 22px;
        font-size: 20px;
	background: url('/media/images/textpinkarrowhb.png') no-repeat 6px 12px;
    }
    .downloadappimg{
	padding-left: 22px;
    }
}
@media (max-width:580px){
    .xsnewstyle100p{
        width: 50%;
    }
}
@media (max-width:400px){
    .xsnewstyle100p{
        width: 100%;
    }
}