#MiddleBody{
    margin-bottom: 30px;
}
#MainContent{
    width: 845px;
    min-height: 120px;
}
.thingsToDo_left_part{
    float: left;
    margin-right: 7px;
    width: 629px;
    min-height: 120px;
    background-color: #f1f1f1;
}
.thingsToDo_right_part{
    float: left;
    width: 205px;
    min-height: 120px;
}
.thingsToDohead{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
}
.thingsToDoheadTOP{
    position: relative;
    display: block;
    float: left;
    width: 636px;
    height: auto;
}
.thingsToDoheadTOPright{
    position: relative;
    display: block;
    float: left;
    width: 207px;
    height: auto;
}
.thingsToDo_title{
    width: 613px;
    min-height: 30px;
    background-color: #303030;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-top: 8px;
    padding-left: 16px;
}
.thingsToDo_description{
    color: #333333;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 17px;
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
    text-align: left;
    width: 600px;
}
.thingsToDoheadTOP .thingsToDo_description{
    margin-bottom: 10px;
}
.thingsToDo_special_desc{
    position: relative;
    float: left;
    color: #656565;
    font-style: italic;
    font-size: 12px;
    text-align: left;
}
h3.thingsToDo_special_desc{
    width: 479px;
    padding-right: 137px;
    padding-left: 15px;
    text-align: left;
    margin-top: 1px;
}
.city_search{
    width: 190px;
    height: 70px;
    background-color: #303030;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
    position: relative;
}
.city_search span{
    display: none;
}
#citySearch{
    font-family: Arial,sans-serif;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    display: none;
    margin-top: 5px;
    width: 174px;
    position: relative;
    float: left;
    border: none;
}
.search-button{
    float:right;
    width: 192px;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    font-weight: bold;
    padding-right: 13px;
    padding-top: 3px;
    cursor: pointer;
    display: none;
}
.bag_container{
    width: 195px;
    margin-top: 2px;
    height: 38px;
    padding-left: 10px;
    background-color: #000000;
}
.bagcontainer{
    position: relative;
    display:block;
    float: left;
    width: 38px;
    height: 25px;
    margin-top: 4px;
    background: url("/media/images/thingstodo/bag.png") no-repeat;
}
.bag_count{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 0px;
    right: 0px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:11px;
    color:#ffffff;
    line-height:18px;
    overflow:hidden;
    font-weight:bold;
}
.bag_add{
    float: left;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    width: 150px;
    height: 20px;
}
.cities{
    position: relative;
    display: block;
    float: left;
    width: 848px;
    height: auto;
    margin-top: 7px;
}
.city{
    float: left;
    margin-bottom: 7px;
    margin-right: 7px;
    width: 205px;
}
.city_image{
    width: 205px;
    height: 205px;
}
.city_info{
    background-color: #f1f1f1;
    width: 185px;
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
    oveflow: hidden;
}
.city_title{
    font-size: 18px;
    text-align: left;
    padding-top: 10px;
    font-weight: normal;
    color: #333333;
}
.city-desc{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color:#636363;
}
.topThingsToDo_content{
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.topThingsToDo_left_part{
    float: left;
    margin-right: 5px;
    padding-left:2px;
    width: 629px;
    height: auto;
}
.topThingsToDo_right_part{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 7px;
}
.bestofcity{
    float: left;
    margin-bottom: 3px;
    width: 160px;
    height: 70px;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 25px;
    background-color: #e5e5e5;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.bestofcity2{
    float: left;
    margin-bottom: 3px;
    width: 160px;
    height: 70px;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 25px;
    background-color: #dbdbdb;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.topThingsToDo_title{
    float: left;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #333333;
    width: 599px;
    line-height: 15px;
    margin-top: 10px;
}
.topThingsToDo_info{
    float: left;
    width: 629px;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #333333;
    width: 631px;
    height: 15px;
    margin-top: 20px;
    height:300px;
}
.topThingsToDo_all{
    float: left;
    width: 599px;
    height: auto;
    padding-right:30px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.topThingsToDo_desc{
    color: #333333;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    margin-top: 6px;
}
.topThingToDo_cityname{
    color: #cea113;
    font-weight: bold;
    font-size: 13px;
}
.topThingToDo_titre{
    position: relative;
    display: block;
    color: #cea113;
    font-weight: bold;
    font-size: 15px;
    width: 570px;
}
.topThingsToDo_img{
    position: relative;
    display: block;
    float: left;
    width: 599px;
    margin-top: 4px;
}
.thingsToDoStep_container{
    position: relative;
    display: block;
    float: left;
    width: 843px;
    height: auto;
    margin-top: 5px;
}
.thingsToDoStep_left_container{
    float: left;
    margin-right: 5px;
    width: 631px;
}
.thingsToDoStep_right_container{
    float: left;
    width: 207px;
    height: 349px;
}
.thingsToDoStep_img{
    width: 631px;
    height: 352px;
}
.thingsToDoStep_img_info{
    position: absolute;
    display: block !important;
    width: 621px;
    height: 31px;
    padding-left: 10px;
    padding-top: 5px;
    background: url("/media/images/thingstodo/image_info_trans.png") no-repeat;
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    bottom: 0;
    left: 0;
}
.thingsToDoStep_carousel{
    position: relative;
    float: left;
    width: 207px;
    height: 176px;
    background-color: #000000;
}
.thingsToDoStep_weather{
    float: left;
    margin-top: 5px;
    width: 200px;
    padding-left:7px;
    padding-top: 8px;
    height: 163px;
    background-color: #000000;
}
.thingsToDoStep_weather_title{
    float: left;
    width: 202px;
    font-size: 13px;
    text-align: left;
    color: #ffffff;
}
.thingsToDoStep_weather_desc{
    float: left;
    padding-top: 1px;
    margin-bottom: 6px;
    width: 202px;
    font-size: 10px;
    text-align: left;
    color: #ffffff;
}
.thingsToDoStep_container2{
    position: relative;
    display: block;
    float: left;
    width: 852px;
    height: auto;
    margin-top: 5px;
}
.thingsToDoStep_left_part{
    background-color: #5f5f5f;
    width: 251px;
    min-height: 556px;
    padding-left: 12px;
    padding-top: 22px;
    top: 0;
    bottom: 7px;
    position: absolute;
}
.thingsToDoStep_right_part{
    float: right;
    width: 580px;
    height: auto;
    margin-left:9px;
}
.thingsToDoStep_poi_info{
    position: relative;
    float: left;
    margin-right: 7px;
    width: 283px;
    height: 110px;
    margin-bottom: 7px;
}
.thingsToDoStepreviews{
    position:relative;
    float:left;
    width:108px;
    height:110px;
    background: url("/media/images/discover/hotelsreviews.png") no-repeat;
    z-index:10;
}
.thingsToDoStepreview_txt{
    position:relative;
    float:left;
    width:90px;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#d9d9d9;
    font-weight:bold;
    font-size:11px;
    margin-left:6px;
    margin-top:13px;
}
.thingsToDoStepreview_txt1{
    font-size: 10px;
}
.thingsToDoStep_pic{
    position:relative;
    float:left;
    width:176px;
    height:110px;
    margin-left:-3px;
    overflow:hidden;
}
.thingsToDoStepplus, .thingsToDoStepplus_inactive{
    position:absolute;
    width:17px;
    height:17px;
    left:258px;
    top:6px;
    background: url("/media/images/discover/plus_btn.png") no-repeat;
    cursor:pointer;
}
.stationBag {
    background: url("/media/images/planner/bag.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: default;
    height: 18px;
    position: absolute;
    right: 14px;
    top: 5px;
    width: 22px;
}
.thingsToDoStep_poi_info .stationBag {
    right: 7px;
}
.thingsToDoStep_left_part ul{
    list-style-type: none;
}
.thingsToDoStep_category_title{
    color: #cfa32b;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 20px;
    text-align: left;
    font-size:14px;
}
.thingsToDoStep_category{
    color: #ffffff;
    margin-left: 15px;
    margin-top: 20px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}
.thingsToDoStep_category:hover{
    color: #eac31a;
}
.thingsToDoStep_category.active{
    color: #eac31a;
    cursor: default;
}
.thingsToDoStep_category a:href{
    color: #ffffff;
    text-decoration: none;
}
.thingsToDoStep_category_count{
    font-weight: bold;
}
.thingsToDoStep_category_count a{
    font-weight: bold;
}
.thingsToDoStep_category_count a:href{
    font-weight: bold;
}
.hotels_cont_inside{
    position:relative;
    float:left;
    width:100%;
    height:110px;
}
.hotelsreviews{
    position:relative;
    float:left;
    width:108px;
    height:110px;
    background: url("/media/images/discover/hotelsreviews.png") no-repeat;
    z-index:10;
}
.hotelreview_txt, .hotelreview_txt1,.hotelreview_txt2{
    position:relative;
    float:left;
    width:90px;
    height:auto;
    font-family:Arial, Helvetica, sans-serif;
    color:#d9d9d9;
    font-weight:bold;
    font-size:11px;
    margin-left:6px;
    margin-top:13px;
    text-transform: uppercase;
}

.hotelreview_txt1{
    font-size:10px;
}
.hotelreview_txt2{
    font-size:10px;
    margin-top:7px !important;
}
.whitestarContainer{
    position:relative;
    float:left;
    margin:5px 0 0 4px;
    padding:0;
    width:85px;
    height:10px;
}
.hotelsreviews_pic{
    position:relative;
    float:left;
    width:176px;
    height:109px;
    margin-top:1px;
    margin-left:-3px;
    overflow:hidden;
}
.hotelsminus{
    position:absolute;
    width:17px;
    height:17px;
    left:258px;
    top:6px;
    background: url("/media/images/discover/minus_btn.png") no-repeat;
    cursor:pointer;
}
.slider1_container{
    display: none; 
    position: relative; 
    margin: 0 auto; 
    width: 204px; 
    height: 176px; 
    overflow: hidden;
}
.slides{
    cursor: move; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 204px; 
    height: 176px; 
    overflow: hidden;
}
.jssorb05{
    bottom: 16px; 
    right: 6px;
}
.jssora11l{
    top: 123px; 
    left: 8px;
}
.jssora11r{
    top: 123px; 
    right: 8px;
}
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(/media/images/thingstodo/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { 
    background-position: -7px -7px; 
}
.jssorb05 div:hover, .jssorb05 .av:hover { 
    background-position: -37px -7px; 
}
.jssorb05 .av { 
    background-position: -67px -7px; 
}
.jssorb05 .dn, .jssorb05 .dn:hover { 
    background-position: -97px -7px; 
}
.jssora11l, .jssora11r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 37px;
    height: 37px;
    cursor: pointer;
    background: url(/media/images/thingstodo/a11.png) no-repeat;
    overflow: hidden;
}
.jssora11l { 
    background-position: -11px -41px; 
}
.jssora11r { 
    background-position: -71px -41px; 
}
.jssora11l:hover { 
    background-position: -131px -41px; 
}
.jssora11r:hover { 
    background-position: -191px -41px; 
}
.jssora11l.jssora11ldn { 
    background-position: -251px -41px; 
}
.jssora11r.jssora11rdn { 
    background-position: -311px -41px; 
}
.slider1_container2{
    display: none; 
    position: relative; 
    margin: 0 auto; 
    width: 631px; 
    height: 352px; 
    overflow: hidden;
}
.slides2{
    cursor: move; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 631px; 
    height: 352px; 
    overflow: hidden;
}
.weekimg{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.hotelsplus{
    background: url("/media/images/discover/plus_btn.png") no-repeat;
    cursor: pointer;
    height: 17px;
    right: 30px;
    position: absolute;
    top: -1px;
    width: 17px;
}
.stationBagAct {
    background: url("/media/images/planner/bag.png") no-repeat;
    cursor: default;
    height: 18px;
    position: absolute;
    right: 30px;
    top: -1px;
    width: 22px;
}
.seoLink{
    color: #000000;
}
#loadmore.displaynone{
    display: none;
}