.advancedSearchBtn{
    width:14px;
    height:124px;
    position: absolute;
    top:0;
    right:8px;
    text-transform:uppercase;
    background: url(/media/images/discover/advSearchIE8.png)  no-repeat 0 0;
    font-size:0px !important;
}
.basicSearchBtn{
    width:14px;
    height:97px;
    position: absolute;
    top:-39px;
    right:190px;
    text-transform:uppercase;
    background: url(/media/images/discover/bscSearchIE8.png)  no-repeat 0 0;
    font-size:0px !important;
}