.advancedSearchBtn{
    width:14px;
    height:124px;
    position: absolute;
    top:0;
    right:0;
    text-transform:uppercase;
    background: url(/media/images/discover/advSearchIE8.png)  no-repeat 0 0;
    font-size:0px !important;
}