@charset "utf-8";
/* CSS Document */

.margintop10{
	margin-top:10px;
}
.confirm_container{
	position:relative;
	display:block;
	float:left;
	width:280px;
	height:auto;
	margin-top:75px;
	margin-left:5px;
}
.confirm_container_unsubscribe{
	position:relative;
	display:block;
	float:left;
	width:480px;
	height:auto;
	margin-top:75px;
	margin-left:5px;
}
#confirm_container_hide{
	display:none;	
	line-height:20px;
	height:auto;
}
.confirm_text.lineheight20{
	line-height:20px;
}
.confirm_but.clearboth{
	clear:both;
}
.confirm_text.confirm_text_confirm{
	display:none;	
	line-height:20px;
	height:auto;
}
.confirm_text#confirm_text_title{
	line-height:20px;
	height:auto;
}
.confirm_text,.confirm_text1{
	position:relative;
	width:100%;
	display:block;
	float:left;
	height:13px;
	line-height:13px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	color:#1f1f1f;
	cursor:default;
}
.confirm_text1{
   color:#e7ba20; 
   font-weight: bold;
   font-size:12px;
   margin-top: 4px;
}
.reactivate_notifications{
	color:#e9c21b;
	cursor:pointer;
}
.confirm_input{
    position: relative;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 24px;
    margin: 4px 0 0;
    padding: 0 0 0 3px;
    text-align: left;
    width: 263px;	
	color: #000000;
}
.errorclass{
	width:100%;
	position:relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;	
}
.confirm_input.InputErr{
    border: 1px solid #CEA113;
}
.confirm_text_hint{
    position: absolute;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: auto;	
    text-align: left;
    width: 240px;	
	color: #b4b4b4;
	top:36px;
	left:272px;
	font-style:italic;
}
.confirm_but{
	position:relative;
	width:auto;
	display:block;
	float:left;
	height:13px;
	line-height:13px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:bold;
	color:#000000;
	cursor:pointer;
	margin-top:21px;
}
.confirm_but:hover{
	color:#e7ba20; 
}
.confirm_seperator{
	position:relative;
	float:left;
	display:block;
	width:1px;
	height:11px;
	background-color:#000000;
	margin-left:17px;
	margin-right:17px;
	margin-top:23px;
}
#ClaimEmail, #CClaimEmail{
	position:relative;
	float:left;
	/*margin-top:15px;*/
	width:auto !important;
	padding:10px 25px;	
	background:#eac31a;
	color:#fff;
	font-size:16px;
	visibility:hidden;
}
#ClaimEmail a, #CClaimEmail a{
	text-decoration:underline;
	color:#fff;
}
.registerpopUp{
	background:#2A2A2A;
    border: 2px solid #000000;
    color: #B4B4B4;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: auto;
    line-height: 15px;
	padding-top:35px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:15px;
    position: relative;
    width: 228px;
}
.registerpopUp div{
	position:relative;
	float:left;
	width:228px;
	height:auto;
}
.yellowsignIn{
	font-size:11px;
	color:#e7ba20;
	text-transform:uppercase;
	font-weight:bold;
}
.registerpopUp input{
	border:0;
	width:228px;
	height:22px;
	background:#5f5f5f;
	color:#b4b4b4;
}
.registerpopUp input.InputErr {
    border: 1px solid #CEA113;
}
.registerpopUp .signInbtn{
	color:#FFF;
	font-size:12px;
	cursor:pointer;
	width:auto !important;
}
.StaticBody #video_next_prev_container {
    height: 442px;
    width: 694px;
    top: 0px;
    margin-left: 131px;
}
.myaccount_but{
	position:relative;
	width:auto;
	display:block;
	float:left;
	height:13px;
	line-height:13px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
	font-weight:bold;
	color:#000000;
	cursor:pointer;
	margin-top:21px;        
}
.myaccount_but:hover{
	color:#e7ba20; 
}
#myaccount_but2{
    float: right;
    /*margin-right: -25px;*/
    margin-right: 130px;
}
#myaccount_but1{
    margin-left: 131px;
}
