.imgTuberGrid{
	width: 218px;
	height:108px;
}
.imgTuberGrid a {
	width: 104px;
	height: 104px;
	border:2px solid #eeeeee;
	background:#FFF;
	text-align:center;
	display:block;
	float:left;
        overflow: hidden;
}
.imgTuberGrid a.hover{
	border:2px solid #e3b721 !important;
}
.imgTuberGrid a img{
	border:0;
	vertical-align:middle;
         min-height: 104px;
    min-width: 104px;
}

.element {
	display:block;
	float:left;
	width: 218px;
	margin-bottom:29px;
	margin-left:36px;
	margin-top:4px;
	height: 108px;
}
.element div{
	float:left;
}
#contentcontainer{
	position:relative;
	background:#fff;
	height:100%;
	width:100%;
	display:block;
}
#contentcontainer.selected{
	background:#000;
}
#contentholder{
	position:relative;
	height:100%;
	margin:0 auto;
	display:block;
}
#content {
	position:relative;
	margin:0 auto;
	height: 100%;
	width:1016px;
	margin-top:66px;
	display:block;
}
#container{
	position:relative;
	width:100%;
	height:100%;
	display:block;
}


/**** Infinite Scroll ****/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}



/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.tubeoverdatauser {
    color: #B4B4B4;
    cursor: default;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 13px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -6px;
    width: 190px;
}
#tubeoverdata {
    /*background-color: #2A2A2A;*/
    display: block;
    height: 88px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 232px;
}
.footerTuber div.AddFriendButton{
	cursor: pointer;
	position:relative;
	display:block;
	border: none;
	width: 19px;
	height: 19px;
	float:left;
	background: url(/media/images/add_friend_up.png) no-repeat;
}
.footerTuber div.RemoveFriendButton{
	cursor: pointer;
	position:relative;
	display:block;
	border: none;
	width: 19px;
	height: 19px;
	float:left;
	background: url(/media/images/remove_friend_over.png) no-repeat;
}
/*.footerTuber div.AddFriendButton:hover{
	background: url(/media/images/add_friend_over.png) no-repeat;
}*/
.footerTuber div.unFollowFriendButton{
	cursor: pointer;
	position:relative;
	display:block;
	border: none;
	width: 20px;
	height: 20px;
	float:left;
	background: url(/media/images/follow_friend_over.png) no-repeat;
	margin-left:5px;
	margin-top:-1px;
}
/*.footerTuber div.unFollowFriendButton:hover{
	background: url(/media/images/unfollow-yellow.png) no-repeat;
}*/
.footerTuber div.FollowFriendButton{
	cursor: pointer;
	position:relative;
	display:block;
	border: none;
	width: 19px;
	height: 19px;
	float:left;
	background: url(/media/images/follow_friend_up.png) no-repeat;
	margin-left:5px;
}
#allTubers .popUp{
	position:absolute;
	width:250px;
	height:106px;
	z-index:125;
	display:none;
}
#allTubers .popUp.popUpLeft{
	background:url(/media/images/channel/arr_popup_left.gif) no-repeat left;
	padding-left:7px;
	left:103px;
}
#allTubers .popUp.popUpRight{
	background:url(/media/images/channel/arr_popup_right.gif) no-repeat right;
	padding-right:7px;
	left:-254px;
}
#allTubers .popUp .main{
	position:relative;
	float:left;
	width:238px;
	border:3px solid #000;
	height:94px;	
	padding:4px;
	font-family:Arial, Helvetica, sans-serif;
	color:#b4b4b4;
	font-size:11px;
	background:#2a2a2a;
}
#allTubers .popUp .main_inside{
    position:relative;
    float:left;
    display: block;
    width:232px;
    height:88px;
    margin: 4px 0 0 3px;
}
#allTubers .popUp .yellowinside {
    color: #e3b721;
    font-size: 11px;
}
#allTubers .popUp table {
    width: 100%;
    height:auto;
    margin:0px;
    padding:0px;
    display:table;
    border-collapse:collapse;
    border-spacing:0px;
    border:0px;
    empty-cells:show;
}
#allTubers .popUp table tr {
    width: 100%;
}
#allTubers .popUp td {
    margin: 0;
    padding: 0;
    vertical-align: top;
}