.tt-sprites.i-search-map{
    background-image:  url("../images/channel-search1.png");
    background-position:4px 4px;
}
.tt-sprites.i-search-mgf{
    background-image:  url("../images/channel-search2.png");
    background-position:4px 4px;
}

.uploadinfocheckbox_apply4.displanone{
    display: none !important;
}
.bag-search .search-btn{
    display: block;
    background-color: #d93c61;
    margin-left: 10px;
}
.albums-list li{
    display: inline-block;
    position: relative;

}
.albums-list{
    list-style: none;
    padding-top: 35px;
    padding-bottom: 7px;
    padding-left: 5px;
    color: #191919;
    font-size: 17px;
}
.pad-li-albums{
    padding-left: 20px;
    padding-right: 20px;
}

.a-albums{
    color: #191919;
    text-decoration: none;
    font-size: 17px;
}
.a-albums:hover{
    color: #191919;
    text-decoration: none;  
}
.a-albums.active{
    color: #d93d61;
}
.hr-style {
    border-color: rgb(217, 60, 97);
    border-width: 4px;
    display: block;
    margin: 0 -15px 24px;
}

.row1table{
    width:185px;
    height: 37px;
    background-color: rgb(173,173,173);
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 37px;
    padding-left: 38px;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
}
.row1tablebig{
    width:185px;
    height: 118px;
    background-color: rgb(173,173,173);
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    line-height: 37px;
    padding-left: 38px;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
}
.mandatoryfields{
    color:#d93d61;
    font-size: 16px;

}
.editfiealds{
    color:black;
    font-size: 16px;
    font-weight: bold;
}
.col2table input{
    width: 380px;
    height: 37px;
    background-color: rgb(233,233,233);  
    float: left;
    border: none;
    margin: 5px;
}
.col2table-big textArea{
    width: 380px;
    height: 118px;
    background-color: rgb(233,233,233);  
    float: left;
    border: none;
    margin: 5px;

}
.inputbox select{
    width: 380px;
    height: 37px;
    background-color: rgb(233,233,233);  
    float: left;
    border: none;
    margin: 5px;
    background: rgb(233,233,233) url("../images/flech-out.png") no-repeat scroll right 5px center;
}
.pinkselectboutton select{
    width: 88px;
    height: 37px;
    background-color: rgb(217,61,97);  
    float: left;
    border: none;
    margin: 5px;
    margin-left: 195px;
    background: rgb(217,61,97) url("../images/flech-out-white.png") no-repeat scroll 93% 50%;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.active-arrow {
    position: relative;
    margin-left: -8px;

}
.image-div.active{
    display: block;
}
.image-div{
    width: 16px;
    height: 8px;
    left: 50%;
    top: 30px;
    position: absolute;
    display: none;
}
.pinkboutton1{
    background-color: rgb(217,61,97);  
    width: 89px;
    height: 37px;
    border-radius: 0;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 5px 5px 5px 6px;
}
.pinkboutton1:hover{
    background-color: rgb(217,61,97); 
    border: none;
}
.pinkboutton2{
    background-color: rgb(217,61,97);  
    width: 89px;
    height: 37px;
    border-radius: 0;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 5px 5px 5px 1px;
}
.pinkboutton2:hover{
    background-color: rgb(217,61,97); 
    border: none;
}
.floatinginput{
    float: left;
}
.smallcontainer{
    float: left;
    width: 580px;
}
.bigcontainer{ 
    float: left;
    padding: 0;
    width: auto;
}
.greybackbig{
    float: left;
}
.greybacksmall{
    width: 294px;
    height: 400px;
    float: left;
    padding: 5px;
    position: relative;

}
.upload-text-img{
    font-size: 16px;
    color: #808080;
}
.xstyle{
    font-size: 15px;
    font-weight: bold;
    color: #d93c61;
    padding-left: 7px;
    cursor: pointer;
}
.upload-text-img-2{
    font-size: 16px;
    color: #d93c61;
    background-color:rgb(236, 236, 236);
}
.edit-upload-small{
    bottom: 0;
    padding: 5px 5px 10px;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 5px;
}
.albums-img{
    top: 111px;
    left: 111px;
    position: absolute;
}
.albums-text{
    left: 85px;
    top: 180px;
    position: absolute;
    font-size: 20px;
    color: #808080;
}
.albums-text-photo{
    left: 100px;
    top: 180px;
    position: absolute;
    font-size: 20px;
    color: #808080;
}

.postbk-2{
    width:284px;
    float: left;
    background-color:rgb(236, 236, 236);
    position: relative;
    height: 284px;
}
.post{
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 5px;
    padding-top: 0;
    width: 294px;
    float: left;
    background-color: rgb(241, 241, 241);
}
.removeimg{
    font-size: 17.92px;
    font-weight: bold;
    color:black;
    position: absolute;
    bottom: 0;
    padding: 5px 5px 10px;
    right: 44px;
    cursor: pointer;

}
.pvnopad{
    margin-left: -16px;
}
.brochuretext{
    left: 23%;
}
.guestnumb input{
    width: 287px;
}
.inactivepopup{
    display: none;
}
@media  (max-width:767px){
    .active-arrow{
        display: none;
    }
}
@media  (max-width:767px){    
    .pagination ul li a{font-size: 17px;}
    .bag-search .search-btn{
        margin-left: 0;
        margin-top: 10px;
    }

}
@media  (max-width:895px){    
    .bigcontainer {
        width: 100% !important;
        margin-left: -5px;
    }

}
@media (min-width:493px) and (max-width:600px){
    .row1table {
        width: 80%;
        margin-bottom: 5px;
    }
    .col2table input {
        width: 80%;
        margin: 5px 5px 5px 0;
    }
    .row1tablebig{
        width: 80%;
        margin-bottom: 5px;
        height: 37px;
    }
    .col2table-big textArea  {
        width: 80%;
        margin: 5px 5px 5px 0;
    }
    .inputbox select {
        width: 80%;
        margin: 5px 5px 5px 0;
    }
    .pinkselectboutton select {
        margin: 5px 8px 5px 0;

    }
    .floatinginput{
        width: 100%;
    }
}
@media (min-width:376px) and (max-width:492px){
    .row1table {
        width: 60%;
        margin-bottom: 5px;
    }
    .col2table input {
        width: 60%;
        margin: 5px 5px 5px 0;
    }
    .row1tablebig{
        width: 60%;
        margin-bottom: 5px;
        height: 37px;
    }
    .col2table-big textArea  {
        width: 60%;
        margin: 5px 5px 5px 0;
    }
    .inputbox select {
        width: 60%;
        margin: 5px 5px 5px 0;
    }
    .pinkselectboutton select {
        margin: 5px 8px 5px 0;

    }
    .floatinginput{
        width: 100%;
    }
}
@media (min-width:320px) and (max-width:375px){
    .row1table {
        width: 50%;
        margin-bottom: 5px;
    }
    .col2table input {
        width: 50%;
        margin: 5px 5px 5px 0;
    }
    .row1tablebig{
        width: 50%;
        margin-bottom: 5px;
        height: 37px;
    }
    .col2table-big textArea  {
        width: 50%;
        margin: 5px 5px 5px 0;
    }
    .inputbox select {
        width: 50%;
        margin: 5px 5px 5px 0;
    }
    .pinkselectboutton select {
        margin: 5px 8px 5px 0;

    }
    .floatinginput{
        width: 100%;
    }
}
