.title-row{   

    background-image: url("../images/icon-wis.png");

    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height:65px;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
    margin-top: 60px;
}
h1{
    border-bottom-color: #eac31a;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: #2e2e2e;
    font-size: 22px;
    font-weight: normal;
    height: auto;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}
ul li {
    list-style-image: url("../images/sqr_list.jpg");
    margin-bottom: 0;
    padding-left: 0 !important;
    margin-right: 0;
    margin-top: 0;
    line-height: 9px;

}
ul li a{
    font-size: 13px;
    color:#6a6969;
}
.whliclass a{
    line-height: 15px;
}
.content{
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .content{
        padding-left: 20px;
    }
}