<body>
    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
        <tr>
             <td>
                {{displayTopHead|raw}}
            </td>
        </tr>
        <tr>
             <td>
                            <table width="478" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td height="3" valign="top"></td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top"><span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;">
You requested to reset your password on Tourist Tube.<br />
<a href="{{change_pass_lnk}}" target="_blank" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;line-height:20px;"><u>Click here</u></a> to change your password</span>
</td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td height="18"></td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top"><span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;">
If you did not ask to reset your password, please 
<a href="{{tellus_lnk}}" target="_blank" style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;line-height:20px;"> <u>tell us.</u></a></span></td>
                                </tr>
                                
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td width="46" height="16" colspan="2"></td>
                                    <td valign="top">
                                        <font style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;" size="1"><i>Thank you<br />Tourist Tube Support</i></font>
                                    </td>
                                </tr>
                            </table>
             </td>
        </tr>
        {{displayfoot}}
    </table>
</body>