{# empty Twig template #}
<body>
    Dear TouristTuber<br /><br />
    This is an automated email sent from the feedback form<br />
    Fullname: {{from_name}} <br />
    Email: {{from_email}}<br />
    Phone: {{from_phone}}<br />
    Message: {{body}}<br /><br />
    Regards,
</body>        
