{# empty Twig template #}
<html>
<body>
    Dear TouristTube<br /><br />
    This is an automated email sent from the share form<br />
    Fullname: {{from_name}}<br />
    Email: {{from_email}}<br />
    Message: {{body}} <br /><br />
    Regards,
</body>
</html>