<div class="row no-margin">
  <div class="col-xs-12 nopad margin-top-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="responsiveSlider slick-initialized slick-slider">
          <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 5000px; transform: translate3d(0px, 0px, 0px);">
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false">
                <div>
                  <div class="airlines_refine airlines_carousel" data-price="50.786684490377" data-code="PR" style="width: 100%; display: inline-block;">
                    <p><img src="{{ generateMediaURL('/media/images/airline-logos/PR.jpg') }}"></p>
                    <p>Philippine Airlines</p>
                    <p class="txt-light-grey">From <span class="currency-convert-text">USD</span> </p>
                    <p class="price-convert-text">50.79</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
