<div class="row no-margin">
  <div class="col-xs-12 nopad margin-top-20 sort_by_tabs">
    <div class="row no-margin">
      <div class="col-md-2 col-xs-12 nopad">
        <div class="float_left sort_down_img_arrow"><i class="fas fa-arrow-down"></i></div>
        <p class="srt_by_txt_blue float_right">Sort by:</p>
      </div>
      <div class="col-md-10 col-xs-12 nopad">
        <div class="row no-margin filters-group">

          <div class="btn-group sort-options">
            <label class="active sort_item" data-value="dom" data-sortby="asc">
              Default
            </label>
            <label class="sort_item" data-value="title" data-sortby="desc">
              Recommended
            </label>
            <label class="sort_item" data-value="price" data-sortby="desc">
              Price
            </label>
            <label class="sort_item" data-value="departure_timestamp" data-sortby="desc">
              Departure time
            </label>
            <label class="sort_item" data-value="arrival_timestamp" data-sortby="desc">
              Arrival Time
            </label>
            <label class="sort_item" data-value="duration" data-sortby="desc">
              Duration
            </label>
            <label class="sort_item" data-value="miles" data-sortby="desc">
              Miles earned
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
