<div class="row margin-top-10 tt_breadcrump">
  <div class="col-xs-12">
    <ul>
      <li class=" selected "><span>1. Select your flights (1/1)  </span></li>
      <li class=""><span>2. Review your flights</span></li>
      <li class=""><span>3. Passenger details </span></li>
      <li class=""><span>4. Payment </span></li>
      <li class=""><span>5. Confirmation </span></li>
    </ul>
  </div>
</div>
