<body>
    <table width="633" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
	{% include 'emails/header.twig' %}
        <tr>
	    <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="46" height="16"></td>
                        <td height="3" valign="top"></td>
                    </tr>
                    <tr>
                        <td width="46" height="16"></td>
                        <td valign="top">
                            <span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height:20px;">
                                {{'A new account has been created on Tourist Tube corporate application.'|trans}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td width="46" height="25"></td>
                        <td height="18"></td>
                    </tr>
                    <tr>
                        <td width="46" height="16"></td>
                        <td valign="top" height="20">
                            <span style="color: #000000; font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:20px;">
                                Full Name : {{displayTopHead|raw}}
                            </span>
                        </td>
                    </tr>
                </table>
	    </td>
        </tr>
        {% include 'emails/footer.twig' %}
    </table>
</body>